[2017-11-03 23:07] zoepage commented on #1488
Thanks @stefanjudis for your answer. It helps a lot :)

What would you suggest for design tweaks? Any ideas?

I really like this idea! Even with using the polyfill. What do the others think about it?

[2017-11-03 23:34] zoepage commented on #1619
Will be fixed by http://webcompat.github.io/design/ as this will be handled by flexbox automatically.

[2017-11-03 23:34] #1619 closed

[2017-11-03 23:39] zoepage commented on #1311
This issue is still reproducible.

[2017-11-03 23:40] zoepage commented on #1845
This is already solved by http://webcompat.github.io/design/ and will be implemented soon.

[2017-11-03 23:40] #1845 closed

[2017-11-03 23:41] stefanjudis commented on #1488
I don't know... just quickly tried to "design" something. :D To me this looks already way better than outline. :)

![compat-focus](https://user-images.githubusercontent.com/962099/32399727-bfa9ee32-c0f8-11e7-95f1-f4495b938a6e.gif)

[2017-11-04 02:06] miketaylr commented on #1607
This is a "nice to have" bug fix.

https://github.com/webcompat/webcompat.com/blob/c1aa8356d4575c8b5fb956c0ae59942196d49088/webcompat/form.py#L39 needs to be changed to say "media_bug". And then any tests it breaks need to be updated.

But we only want to do that if someone changes the following from `video_bug` to `media_bug`:

http://searchfox.org/mozilla-central/source/browser/base/content/brow

[2017-11-05 21:55] karlcow commented on #1311
yup it's normal it will not go away by itself.
@zoepage there is no need to create new issues for showing it. You can just go there
https://github.com/webcompat/web-bugs/pulls?q=is%3Apr+is%3Aclosed

There are now 10 pull requests.

[2017-11-05 22:07] karlcow commented on #1311
I wonder if the best strategy for this one might be to have a raw list of number for these ten issues and send a 403 for these numbers.

[code]

Then in https://github.com/webcompat/webcompat.com/blob/c1aa8356d4575c8b5fb956c0ae59942196d49088/webcompat/views.py#L226-L235

block the view if it's part of the `pull_requests` list.

That would be a very low hanging fruit (fragile).
I don't think we can

[2017-11-05 22:10] karlcow commented on #1311
[code]

[2017-11-06 01:07] karlcow commented on #1857
Hmm it's more work (all the http layers have to be done from scratch). I guess I misunderstood the request.

What is the goal of the dashboard?

I thought it was something @miketaylr wanted
* for a control mechanism on how we perfom
* and a tool to help people doing triage.

I'm happy to create a prototype if it's what you meant, but then I need to refocus a bit the work done already. And Probably

[2017-11-06 01:38] karlcow commented on #1857
ok maybe this is the part I'm misunderstanding. Because it's not related to the work of @zoepage
It doesn't have to share the same css. Or maybe I'm missing something else.

Unrelated. Why would it be blocked in any way? Do you mean for the class names and html templates?

It doesn't have to reuse the same thing. On the other hand benefiting from flask is a time saver.

https://github.com/karlcow/

[2017-11-06 09:06] zoepage opened #1862 "Remove css-fixme"
As CSS FixMe seems not fully maintained, the idea came up to remote it from the repository and I second that idea.
There is also always the option to deploy it separately.

What do you think @adamopenweb @wisniewskit @MDTsai @denschub @miketaylr @karlcow?

[2017-11-06 10:31] zoepage commented on #1826
Closing as we move the discussion to #1846

[2017-11-06 10:31] #1826 closed

[2017-11-06 11:33] zoepage commented on #1846
@MDTsai and I talked about this feature and decided to collaborate on it.

#### First step (Q4/17):
- Build prototype
   - filter by URL
   - use GitHub search API
   - either use git sub-modules or standalone

We dismiss performance as well as design here and take care of those issues later in the process.

*Goal: Good for internal testing phase*

#### Second step (Q1/18):
- Re-evaluating prototy

[2017-11-06 11:38] zoepage commented on #1846
@MDTsai and I talked about this feature and decided to collaborate on it.

#### First step (Q4/17):
- Build prototype
   - filter by URL
   - use GitHub search API
   - either use git sub-modules or standalone

We dismiss performance as well as design here and take care of those issues later in the process.

*Goal: Good for internal testing phase*

#### Second step (Q1/18):
- Re-evaluating prototy

[2017-11-06 12:54] karlcow commented on #1862
@zoepage

I don't understand that sentence.
CSS fixme is not really in webcompat.com currently.

It is (un)maintained at
https://github.com/webcompat/css-fixme

The URIs, templates, etc are, see below:

See below.
[code]

Now the question is what are you trying to solve? :)

If it's a question of design, it doesn't have to follow the site redesign. For me the site redesign is orthogonal to the sub

[2017-11-06 13:34] zoepage commented on #1862
@karlcow
It's a submodule right now and a dependency we support.

It would take away a dependency plus 2 steps on a fresh install and yes, we would remove also the routes.

Plus when it's deployed, I feel like we should at least maintain it and we don't. :)

[2017-11-06 14:18] karlcow commented on #1862
I don't mind retiring it. :) See above.

nope :) We would change the route to a [410 Gone](https://tools.ietf.org/html/rfc7231#section-6.5.9) like we [did for rate-limits](https://github.com/webcompat/webcompat.com/blob/c1aa8356d4575c8b5fb956c0ae59942196d49088/webcompat/views.py#L269-L283). We should probably be more explicit about the 410 Gone and explain where the code lives if people want to ho

[2017-11-06 17:15] denschub commented on #1862
It's only JS and static HTML, right? I see no harm in using Github Pages to serve the contents on `http://webcompat.github.io/cssfixme/` or something. We could easily forward the requests from webcompat.com, thus reducing the maintenance need in this repo, while keeping the tool up and running in case someone wants to use it.

Setting that up wouldn't take much time, and the tool would still be up

[2017-11-06 18:50] miketaylr commented on #1857
I think your understanding is the same as mine. A tool for us to track how responsive we're being to triage Firefox issues, so we don't miss important regressions landing in Nightly (which might end up shipping to users).

If you're extending layout.html that that changes in unexpected ways, it creates pain for you.

It's only blocked if you decide to not work on it until the redesign happens. The

[2017-11-06 22:50] karlcow commented on #1857
OK I will arrange things in a way that it doesn't step on @zoepage work and that it is mostly independent.

@miketaylr Thanks for the clarification.
@magsout as a first step we could put all CSS/JS inline. Given they will be only used by this page. If you want them outside, we could create /static/dashboard/ in the project.

[2017-11-06 23:48] karlcow opened #1863 "[feature] Get a prettyfier button for selected code"
Currently I prettify the code by pasting it into sublimetext.
I can still do that. I'm pretty much the only one to do that I think.

But here an idea for a feature.

1. Type a comment
2. Paste a piece of code
3. Select the code.
4. Hit a "prettify" button.

Then after we can argue about the prettifying rules 👺

[2017-11-07 04:39] karlcow commented on #1858
@magsout First pull request done #1864

[2017-11-07 04:41] karlcow commented on #1861
The dashboard should not use the webcompat styles.
They can even stay inline for now.

[2017-11-07 04:42] karlcow commented on #1857
@magsout there is a new branch called dashboard.
That we can use for coding the dashboard project.
I expect to have finished the main feature this week.

[2017-11-07 06:16] karlcow commented on #1311
— https://developer.github.com/v3/search/#search-issues

[2017-11-07 18:16] miketaylr commented on #1863
I would use this.

[2017-11-07 18:17] miketaylr commented on #1311
@karlcow also, just using the Issues API:

So we wouldn't have to hard code.

[2017-11-07 18:52] miketaylr commented on #1862
I think it's only theoretically useful at this point, since all evergreen browsers support `-webkit-` prefixes. I'm not sue it's even worth re-hosting.

My vote would be 410 Gone w/ message to repo link. But if someone wants to adopt it, and actively maintain it, that's cool too.
Right now, it's unmaintained https://github.com/webcompat/css-fixme/issues

[2017-11-08 00:09] miketaylr commented on #1835
I wonder if we can monkey patch `send_from_directory` to log the filename/path when there's an error? Or something?

One theory I had was bots trying to index an issue page that has had an image deleted. But we've only "hard"-deleted 2 or 3 images to my knowledge (at the request of the reporter, or in the case of illegal content).

[2017-11-08 00:13] miketaylr commented on #1835
Hm.

[2017-11-08 00:14] karlcow commented on #1835
🤔 indeed.

[2017-11-08 00:23] miketaylr commented on #1835
I wonder if that `send_from_directory` is indeed coming from flask lib code, and not our app.

`NotFound` error sounds like a 404: https://github.com/webcompat/webcompat.com/blob/6f47e598ed2dd39f24154d9b17d935e4a25ce0bf/webcompat/error_handlers/__init__.py#L52

It could be a missing file, or we could be `abort(404)`ing elsewhere?

https://github.com/pallets/werkzeug/blob/c53d13cd1d4a19421a2c6fb9e7

[2017-11-08 00:24] miketaylr commented on #1835
The places we `abort(404)`: https://github.com/webcompat/webcompat.com/search?utf8=%E2%9C%93&q=abort%28404%29&type=

[2017-11-08 00:36] miketaylr commented on #1835
Or, maybe it's literally some 404 static asset:

https://github.com/pallets/flask/blob/7e4e6eced3b0d3e48261f85e365108b82ee77610/flask/helpers.py#L948

Tricky. Looking into `HTTPException` from werkzeug, there isn't path info we can get. Just description, code and name.

[2017-11-08 00:36] karlcow commented on #1835
possible. The good news is that `send_from_directory` is only used and defined in `lib/python2.7/site-packages/flask/helpers.py`

* `send_static_file` is using it.

[code]

[code]

[2017-11-08 00:42] miketaylr commented on #1835
`webcompat@webcompat:~/logs$ tail -n 2000 nginx-error.log | grep "No such file"`

https://gist.github.com/miketaylr/b22c75473ca30fa006fa526945ab2747

[2017-11-08 00:42] karlcow commented on #1835
which logs did I extract this error message?
hmm uwsgi.log

grep send_from_directory uwsgi.log |wc -l
23084

grep send_from_directory staging-uwsgi.log |wc -l
3

[2017-11-08 00:43] karlcow commented on #1835
ahah we are searching at the same places. :)

[2017-11-08 00:44] karlcow commented on #1835
Ah you nailed it!
Non existent `.well-known` resources, browsers or bots.

[2017-11-08 00:45] miketaylr commented on #1835
So I guess we ignore them... Shame it creates noise in the logs to discover important issues. Such is life.

[2017-11-08 00:55] karlcow commented on #1835
iOS 9.3+ introduced it

https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/Handoff/AdoptingHandoff/AdoptingHandoff.html#//apple_ref/doc/uid/TP40014338-CH2-SW10

and it seems Google-bot is trying to index it
https://stackoverflow.com/questions/34812135/requests-to-well-known-apple-app-site-association/36185061#36185061

https://developer.apple.com/library/content/do

[2017-11-08 01:39] karlcow commented on #1835
https://github.com/pallets/flask/blob/470112dd6e708a18eb4ec1daa10c4ea276620dbf/flask/helpers.py#L661-L678

`X-SendFile` maybe

[2017-11-08 05:59] karlcow commented on #1859
@magsout

Tomorrow (Thursday evening), this part will be done. After that you can have fun with design and JS improvements for filtering, reorganizing the data, making the dates human readable. The cool thing is all the data you need will already be in the page itself. So it will be about manipulating the DOM.

People who wants to do a raw CLI request will have the data too. :)
Currently it takes

[2017-11-08 06:32] karlcow commented on #1859
Here thinking if I should filter out the data 48h+ on the server side and if we should do it on the client side. Both are doable with no cost. Getting better.

<img width="1160" alt="capture d ecran 2017-11-08 a 15 30 29" src="https://user-images.githubusercontent.com/505230/32534703-0830c21c-c49a-11e7-96af-4eac588ed5d3.png">

[2017-11-08 08:03] magsout commented on #1859
@karlcow good work.

[2017-11-08 10:32] zoepage commented on #1862
I feel the same way as @miketaylr. If anyone wants to adopt this project and take care if it... Cool.

Otherwise +1 on 410.

[2017-11-08 10:35] zoepage commented on #1863
Sounds interesting and like a good feature to have :)

How would it work? @karlcow could you please explain it a little bit more?

[2017-11-08 10:42] zoepage commented on #1857
Sorry for the late reply!

+1 on separate folder, also having also the css / js in that folder. So basically treat that feature as a module, as it will make things easier later on to move it to the site itself and refactor code without searching for code snippets.

Thanks for the work @karlcow && @magsout

[2017-11-09 04:35] miketaylr commented on #1859
+1, good idea.

[2017-11-09 06:17] karlcow commented on #1858
Closed by #1864

[2017-11-09 06:17] #1858 closed

[2017-11-09 06:20] karlcow commented on #1859
Pull request #1865 for this issue against the dashboard branch. But basically this is mergeable already in master.
![capture d ecran 2017-11-09 a 15 19 44](https://user-images.githubusercontent.com/505230/32591191-7c4c4618-c561-11e7-873a-f5388b447dbf.png)

[2017-11-09 06:21] karlcow commented on #1859
The next step is in the hand of @magsout with #1861

[2017-11-09 06:30] karlcow commented on #1861
@magsout so that's it. Je suis à votre service. ☕️🛠 Feel free to propose things, play, and stuff and if you need me to help you modify anything.

[2017-11-09 06:45] karlcow commented on #1863
@zoepage sure

1. Type a comment
2. Paste a piece of code
3. Select the code.
4. Hit a "prettify" button.

Step 2

![capture d ecran 2017-11-09 a 15 42 09](https://user-images.githubusercontent.com/505230/32591967-fbaf8aa2-c564-11e7-911d-280c9d75fad9.png)

after step 4

![capture d ecran 2017-11-09 a 15 43 28](https://user-images.githubusercontent.com/505230/32591977-03ec8184-c565-11e7-8c23-d6cec5

[2017-11-09 10:51] lewiscowper commented on #1352
👍

[2017-11-09 18:53] miketaylr commented on #1835
I like this idea.

[2017-11-11 20:42] zoepage opened #1866 "Parse readme.md through http://alexjs.com/"
To be more inclusive with our wording, it might be a good idea to parse it through http://alexjs.com/, which is an automated tool that looks for non-fitting language and suggests alternatives.

[2017-11-12 09:50] karlcow opened #1867 "[Dashboard] Time dependent test failure"
One test was working because it was uncannily in the right time gap.
It has to be fixed.

[2017-11-12 09:56] karlcow commented on #1867
Fixed by #1868

[2017-11-13 13:29] softvision-sergiulogigan commented on #1848
Happened again for https://github.com/webcompat/web-bugs/issues/13436
I did like 4-5 refresh actions and waited about a minute, but still no label were displayed.
Added the browser-firefox-mobile priority-normal labels manually.

![image](https://user-images.githubusercontent.com/16573771/32727997-5a7d44be-c887-11e7-90d7-8065b032960c.png)

[2017-11-13 15:48] zoepage commented on #1773
@karlcow can you confirm it got fixed? thanks!

[2017-11-13 19:23] miketaylr commented on #1848
cc @MDTsai

Uh I hope I didn't break this again? In theory https://github.com/webcompat/webcompat.com/commit/c427c32064666005df6056f96442e3c71c3193a8 would have prevented that.

[2017-11-13 19:26] miketaylr commented on #1773
Yeah, this is fixed. No network request to that labels route.

![screen shot 2017-11-13 at 1 25 42 pm](https://user-images.githubusercontent.com/67283/32744742-2bade53c-c876-11e7-979c-3ed836ec4208.png)

[2017-11-13 19:26] #1773 closed

[2017-11-13 19:28] #1862 closed

[2017-11-14 03:58] MDTsai commented on #1848
I don't think it's broken, the domain is not in topsites.db. Priority tag function works as far as on issue 13453.
I try to search the URL https://www.alexa.com/siteinfo/indoxxi.com, the global ranking is 10753 for me, so it's not in priority-normal (1000 to 10000).

[2017-11-14 05:14] karlcow commented on #1848
So priority was not set, but the browser was not set too.

[2017-11-14 05:29] karlcow commented on #1848
@softvision-sergiulogigan I guessed you changed the browser by hand ;)

so you are saying that just the priority label was not set, but as @MDTsai said, there is no priority label in this case.

[2017-11-14 06:36] #1867 closed

[2017-11-14 06:36] karlcow commented on #1859
This was merged.

[2017-11-14 06:36] #1859 closed

[2017-11-14 07:18] karlcow opened #1870 "[performance] issue data inside the HTML at first load"
## Context

The page for an issue view is currently an empty HTML template, which is populated through JS calls to webcompat.com API endpoint.

[code]

[2017-11-14 07:20] karlcow commented on #1870
First test by modifying the issue.html as a issue-static.html, with issue data sent directly into the HTML template.

![capture d ecran 2017-11-14 a 16 00 47](https://user-images.githubusercontent.com/505230/32767656-abdf0e02-c957-11e7-8b60-03ff4bb5424d.png)

Compared to the current version (data fetched through JS)

![capture d ecran 2017-11-14 a 16 01 49](https://user-images.githubusercontent.co

[2017-11-14 07:24] karlcow commented on #1870
* HTML:
![capture d ecran 2017-11-14 a 16 22 31](https://user-images.githubusercontent.com/505230/32767749-1ea5e938-c958-11e7-8bc8-aa91b971f569.png)

* JS:
![capture d ecran 2017-11-14 a 16 21 40](https://user-images.githubusercontent.com/505230/32767758-26fef318-c958-11e7-810b-234d6e26344b.png)

[2017-11-14 07:26] karlcow commented on #1870
The value for Finish is the value when all requests have been made.
I wonder what would be the good way of measuring the actual page being fully displayed.

[2017-11-14 08:36] softvision-sergiulogigan commented on #1848
yup... as usual!

[2017-11-14 08:40] karlcow opened #1871 "Family of colors by labels type"
In [San Francisco All Hands](https://wiki.mozilla.org/Compatibility/Meetings/2017-06-28#LABELs_discussion_.28ola.29), we discussed about giving a family color for each type, and decline the colors for each of these family.

[code]

[2017-11-14 08:42] zoepage commented on #1871
Following a list with labels (from july) with web safe colors.
<details> Default: #ED
Browser-android #2AB
Browser-chrome: #E65
Browser-edge: #EC8
Browser-Firefox-mobile #FC0 (Status-needs-info)
Browser-Firefox #F40
Browser-Iceweasel #05C
Browser-IE #0BE
Browser-opera #A00
Browser-safari #29F
Browser-ucweb #FCC
Ios #0D2
Mobile #090 (same as status-fixed)
NSFW #C00
Status-contactready #BEB
Status-d

[2017-11-14 08:52] karlcow commented on #1871
Big categories to define colors for:

* type-
* browser-
* priority-

Special labels:

* status-needinfo
* nsfw

[2017-11-14 08:54] karlcow commented on #1848
So we can close again :)

[2017-11-14 08:54] #1848 closed

[2017-11-14 09:05] zoepage commented on #1871
Adding IRC discussion for context:

[code]

The idea behind categorizing the labels was to create a way of combining them.
So, e.g. right now we have `browser-firefox` and `browser-firefox-mobile`.
This way we'd have 2 labels like e.g. `browser-firefox` and `device-mobile` (or something like that). Other upside could be to make the filtering more simple.

[2017-11-14 09:10] karlcow commented on #1871
yeah was just describing the way it currently is. :)
We could modify the bots, the labeling, etc. and PATCH all the 13000+ issues
but that's a separate work.

We can imagine that we have a new category for device type and attribute a color :) +1 even if we don't use it right away.

[2017-11-14 09:27] zoepage commented on #1871
Cool, so as a first step we could group by color.
Second step would be the clean up of the labels itself.

Maybe we can take a look at that this week @denschub ?

[2017-11-14 12:48] zoepage commented on #1871
Will be added in design/issues/14.

[2017-11-14 12:48] #1871 closed

[2017-11-14 16:06] miketaylr commented on #1870
You could maybe use a performance marker, calling it in whatever page's `render()` method, and a small inline script at the bottom of the HTML version:

https://developer.mozilla.org/en-US/docs/Web/API/Performance/mark

[2017-11-14 21:31] miketaylr opened #1872 "Review dev-env-setup.md"
Noticed a few things that are out of date.

[2017-11-14 21:50] miketaylr opened #1873 "Commit package-lock.json?"
When you setup the repo, after npm build runs you get the following:

`npm notice created a lockfile as package-lock.json. You should commit this file.`

Reading up at https://docs.npmjs.com/files/package-lock.json, it seems like a good idea?

I'll defer to @zoepage though.

[2017-11-14 22:05] miketaylr opened #1875 "npm run virtualenv doesn't activate virtual environment"
Noticed this when I was running thru the Simple Setup instructions:

https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#simple-setup-mac-os-and-linux

If you run those, everything gets installed as I would expect, and I can see that a virtual env is created, but it never gets activated.

`    "virtualenv": "pip install virtualenv && virtualenv env && source env/bin/activa

[2017-11-14 22:07] miketaylr commented on #1875
(I'm not sure if this is because I'm using virtualenvburrito -- it would be good if someone could test on their system):

https://github.com/brainsik/virtualenv-burrito

[2017-11-14 22:11] miketaylr commented on #1873
Then again... maybe people hate this: https://twitter.com/brianleroux/status/930516598846144512

[2017-11-14 22:12] karlcow commented on #1875
the instructions never worked for me either and I don't virtualenv-burrito but I do have virtualenvwrapper

[2017-11-14 23:01] karlcow commented on #1875
@miketaylr did you see that line

I have a macbook air around, that I need to reformat/clean install for Austin soon. It will be too late for the Berlin sprint but it might be worth to test the install instructions from zero.

[2017-11-15 07:28] karlcow commented on #1870
Thanks @miketaylr

Some notes to remember how this is working

[code]

[2017-11-15 07:29] karlcow commented on #1870
Good article. https://www.html5rocks.com/en/tutorials/webperformance/usertiming/
This good be useful data for us in the current situation anyway.

[2017-11-15 11:19] zoepage commented on #1873
I'm also not a big fan, but it might be helpful.

@miketaylr where do you see the advantages to have it?

[2017-11-15 14:31] zoepage opened #1876 "Error message while fresh install without secret.py"
We get an error message that is hard to figure out, when you are new to the project.
Fresh install of project.
1. `npm run setup`
2. `npm run pip`
4. `npm run start`

without creating a config yet (so there is `npm run config` missing as 3rd step).

Probably there is just a catch missing @karlcow @miketaylr ?

[code]

[2017-11-15 14:46] karlcow commented on #1876
We could catch that error and exit gracefully with a message saying. You need to configure the repo URI and oauth.

@zoepage Would that work for you? I'll do that tomorrow (thursday morning JST/Wednesday night CET).

[2017-11-15 14:56] zoepage commented on #1876
@karlcow yessssss. thank you! :)

[2017-11-16 00:20] karlcow opened #1877 "webhook deliveries are failing often"
Staging

<img width="760" alt="capture d ecran 2017-11-16 a 09 19 07" src="https://user-images.githubusercontent.com/505230/32867241-5a89acfc-caaf-11e7-860a-c2915153ef52.png">

Production
<img width="764" alt="capture d ecran 2017-11-16 a 09 18 53" src="https://user-images.githubusercontent.com/505230/32867252-6a347858-caaf-11e7-843f-b636d2156b1b.png">

[2017-11-16 00:25] karlcow commented on #1877
## Staging
On staging, the failures are related to an authentication issue. `401 Authorization Required`

## Production
On production, we get a 403 with a "Not an interesting hook body.

The payload sent to the webhook was

[code]

[2017-11-16 00:31] karlcow commented on #1877
For this case on production everything was set accordingly.

The first deliveries generated the appropriate answer as a 200 the rest are webhook post which are not interesting.
<img width="760" alt="capture d ecran 2017-11-16 a 09 27 51" src="https://user-images.githubusercontent.com/505230/32867474-952cf016-cab0-11e7-8685-a994f477efbd.png">

1. 200   "action": "opened",
2. 403   "action": "milest

[2017-11-16 00:32] karlcow commented on #1877
So everything is normal in production.

[2017-11-16 00:39] karlcow commented on #1877
It probably can't work in staging because of the login/password for the POST. This is expected. We could probably handle this case, by monitoring when this is an HTTP request from the GitHub Webhook and says hey no need for passwords you are good to go.

For localhost testing, same issue applies.

[2017-11-16 00:40] karlcow commented on #1877
So far everything looks normal for me. @softvision-sergiulogigan had a false issue the other day when expecting priority which didn't have to be set.

[2017-11-16 00:40] karlcow commented on #1877
I'm closing for now, but at least this is documented.

[2017-11-16 00:40] #1877 closed

[2017-11-16 01:30] karlcow commented on #1876
[code]

ok we are ready to code.  :)

[2017-11-16 01:32] karlcow commented on #1876
Let's try to test with config done.

[code]

This has **never** worked for me.

[code]

[2017-11-16 01:42] miketaylr commented on #1877
Thanks @karlcow. I've spent some time trying to set the webhook endpoint to not require basic auth, but nothing has worked for me yet. It would be nice if we got that working though, maybe we can spend a while on it together in Austin.

[2017-11-16 01:43] miketaylr commented on #1877
(we can leave this close, it's not the most important thing)

[2017-11-16 01:45] miketaylr commented on #1876
@karlcow you just have to manually activate the virtualenv at that point, then it will work. That's why I reported #1875.

(then you need to set up secrets.py, or you run into the issue @zoepage reported)

[2017-11-16 01:45] karlcow commented on #1876
On the other hand if I just type.

[code]

This is working. My virtual environment is already started too. Because you can't really develop without it.

Let me deactivate and retry

[code]

This doesn't work either.

[code]

FAIL again.

[code]

and FAIL again.

ok going back to my traditional way of doing things with mkvirtualenvwrapper.

[code]

[2017-11-16 01:46] miketaylr commented on #1876
To be more clear,

`source env/bin/activate`

[2017-11-16 01:50] karlcow commented on #1876
[code]

[2017-11-16 01:56] karlcow commented on #1876
Let's try by erasing config/secrets.py

[code]

This is working too.
Hmmm?!…

Aaaaah… secrets.pyc

[code]

[2017-11-16 02:01] karlcow commented on #1876
Oh wait shoot… The initial message in @zoepage issue is

[code]

Recreating secrets.py

[code]

Let's run.

[code]

[2017-11-16 02:02] karlcow commented on #1876
hehe… let's remove data/milestones.json… we will get there eventually. ;)

Gotcha… pfew

[code]

[2017-11-16 02:03] karlcow commented on #1876
So the error is that `data/milestones.json` doesn't exist. :)
Now that I know exactly the source, we can fix it.

[2017-11-16 02:26] karlcow commented on #1876
@zoepage This seems to be a better message :)

[code]

[2017-11-16 02:32] karlcow commented on #1876
And pull request done in #1878

[2017-11-16 09:03] MDTsai commented on #1846
Created one: https://github.com/webcompat/webcompat.com/tree/similarbugs

**TODOs:**
- [ ] UI works
- [ ] Connect with [github search API](https://developer.github.com/v3/search/)
- [ ] Test plan

[2017-11-16 15:43] #1876 closed

[2017-11-16 16:21] zoepage opened #1879 "remove bug with bulb SVG in templates folder"
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/LightbulbwithBug.svg

We need to remove this as it will be replaced by a different SVG as well as moved to a dedicated SVG folder.

[2017-11-16 16:26] zoepage opened #1880 "add SVG workflow to package.json"
As we have everything in place for the design refactor, it would be great to move the npm packaged as well as npm scripts for optimizing SVG's, creating the sprite and creating the folder structure like it is in /design also in this repo. So we have it in place for the next step later on.

[2017-11-16 16:56] zoepage opened #1881 "refactor template: nav.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/nav.html
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/shared-nav-links.html

with:
https://github.com/webcompat/design/blob/master/docs/index.html#L192
(if line changed, search for id="Nav")

- [x] refactor template for nav.html
- [ ] refactor template for nav-

[2017-11-16 17:23] denschub opened #1882 "Adjust CSP to allow temporary hosting of assets on webcompat.github.io"
As discussed with @zoepage and @miketaylr on IRC, let's add webcompat.github.io to the list of allowed domains for assets so we can use generated resources from https://github.com/webcompat/design/.

[2017-11-16 17:38] #1872 closed

[2017-11-16 17:50] zoepage opened #1883 "refactor template: footer.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/footer.html

with:
https://github.com/webcompat/design/blob/master/docs/index.html#L1370
(if line changed, search for id="footer")

Please be aware to add the placeholders for links as they are in the old templates.
Please keep the GitHub and Twitter link.

[2017-11-16 17:59] zoepage opened #1885 "refactor template: reported-by-user.html"
To see this, you need to log in... https://webcompat.com/activity/<username>

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/user-activity/reported-by-user.html

with:

(if the line is wrong, look for id="issues-list")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-16 18:01] zoepage opened #1887 "refactor template: user-mentions.html"
To see this, you need to log in... https://webcompat.com/activity/

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/user-activity/user-mentions.html

with:

(if the line is wrong, look for id="issues-list")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-16 19:40] zoepage opened #1888 "refactor template: search-issue-sorting.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/list-issue/search-issue-sorting.html

with:

(if the line is wrong, look for id="issues-list")

Please be aware to add the placeholders for links and includes as they are in the old templates.

[2017-11-16 22:05] karlcow commented on #1885
* Activity doesn't exist `https://webcompat.com/activity/` it's a 404 on purpose.
* The page which exists for user is `https://webcompat.com/activity/[username]`

[2017-11-16 22:06] karlcow commented on #1887
see the answer in https://github.com/webcompat/webcompat.com/issues/1885#issuecomment-345077794

[2017-11-17 11:12] denschub opened #1889 "Replace current CSS with the Work-in-Progress styles from the refactor"
CSS is hosted at `https://webcompat.github.io/design/css/main.css`. We'll hotlink this directly to have an easier development process. CSP rules for that were added in #1886.

[2017-11-17 12:42] denschub commented on #1882
Done in #1886.

[2017-11-17 12:42] #1882 closed

[2017-11-17 12:54] denschub opened #1891 "refactor template: form.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/home-page/form.html

with:

The form in http://webcompat.github.io/design/

Please be aware to add the placeholders for links as they are in the old templates.

Left do do:

- [x] Fix screenshot uploader
- [x] Make sure validation works

[2017-11-17 13:25] #1889 closed

[2017-11-17 13:44] zoepage opened #1892 "Refactor: shared/ + stand alone"
This is a list of issues per unit or page.

Please grab one issue and push this into the `issues/1892` branch with the commit message mentioning `Issue #IssueNumber` to get the reference in the correct issue.

- [x] #1883 - footer.html [done by @chaosmonster]
- [x] #1881 - nav.html + shared-nav-links.html [wip by @chaosmonster]
- [x] #1893 - issue-item.html
- [x] #1879 - remove bulb illustration [

[2017-11-17 14:54] magsout commented on #1861
First test:

![screenshot-2017-11-17 triage dashboard webcompat com](https://user-images.githubusercontent.com/1997108/32953140-9fc24d14-cbaf-11e7-8424-d10006bb0e33.png)

[2017-11-17 14:55] magsout commented on #1861
@miketaylr the csp security blocks me to add inline javascript, how I can disabled it ?

[2017-11-17 14:59] magsout commented on #1861
![capture d ecran 2017-11-17 a 15 55 24](https://user-images.githubusercontent.com/1997108/32953201-c98d9680-cbaf-11e7-9b50-cc86b38baf74.png)

[2017-11-17 15:31] zoepage opened #1893 "refactor template: issue-item.html"
To see this, you need to log in... https://webcompat.com/activity/

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/issue-item.html

with:

(if the line is wrong, look for id="issues-list" > class="issue")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-17 15:36] zoepage opened #1894 "refactor template: layout.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/layout.html

Please be aware to add the placeholders for links as they are in the old templates. Especially for the JS.

- [x] add new css link
- [x] add google fonts
- [x] add new favicons (https://github.com/webcompat/design/issues/62)
- [x] add svg sprite to the header

[2017-11-17 15:41] zoepage opened #1895 "Refactor: user-activity/"
This is a list of issues per unit or page.

Please grab one issue and push this into the issues/1895 branch with the commit message mentioning Issue #IssueNumber to get the reference in the correct issue.

- [x] #1904 - user-activity.html
- [x] #1885 - reported-by-user.html
- [x] #1887 - user-mentions.html

[2017-11-17 15:53] zoepage opened #1896 "refactor template: error.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/error.html

with following semantics:

[code]
(if line changed, search for Module: Grid - full width)

Please be aware to add the placeholders for links as they are in the old templates as well as the js-classes.

[2017-11-17 16:40] zoepage opened #1897 "refactor template: new-issue.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/new-issue.html

with following semantics:

[code]

[2017-11-17 16:41] zoepage opened #1898 "Refactor: form related"
This is a list of issues per unit or page.

Relates to
- [x] #1897 - new-issue.html
- [x] #1891 - form.html

[2017-11-17 18:05] chaosmonster commented on #1892
I'll take #1883

[2017-11-17 18:34] chaosmonster commented on #1894
I added the the svg-icons to shared/svg-icons.html and included it in layout.html on branch issue/1892

[2017-11-17 18:55] zoepage commented on #1892
@robinboehm #1896

[2017-11-17 19:54] zoepage opened #1902 "refactor template: topbar.html"
Related to https://github.com/webcompat/webcompat.com/issues/1881

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/topbar.html

with:
https://github.com/webcompat/design/blob/master/docs/index.html#L192
(if line changed, search for id="Nav")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-17 19:55] zoepage opened #1903 "refactor template: addon-links.html"
Related to #1881

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/addon-links.html

with:
https://github.com/webcompat/design/blob/master/docs/index.html#L192
(if line changed, search for id="Nav")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-17 19:59] zoepage opened #1904 "refactor template: user-activity.html"
To see this, you need to log in... https://webcompat.com/activity/

Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/user-activity.html

with:

(if the line is wrong, look for class="grid" > class="grid-row" > class"grid-cell x3")

Please be aware to add the placeholders for links as they are in the old templates.

[2017-11-17 20:23] miketaylr commented on #1861
@magsout you would add `'unsafe-inline` to https://github.com/webcompat/webcompat.com/blob/master/webcompat/helpers.py#L498.

Will this dashboard require inline JS? Or is this just for dev?

If it's required, we can implement support for nonce: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#Unsafe_inline_script

[2017-11-17 20:34] #1896 closed

[2017-11-17 20:51] chaosmonster commented on #1892
I'll take #1902 while waiting for https://github.com/webcompat/design/pull/77

[2017-11-17 20:56] robinboehm commented on #1892
I'll take #1903

[2017-11-17 21:38] zoepage opened #1906 "refactor template: about.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/about.html

with:
.grid > .grid-row > .grid-cell.x3

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

[2017-11-17 21:41] zoepage opened #1907 "refactor template: privacy.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/privacy.html

with:
.grid > .grid-row > .grid-cell.x3

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

Content will not change here.

[2017-11-17 21:52] magsout commented on #1861
@miketaylr

Both

[2017-11-17 22:01] chaosmonster commented on #1902
Waiting for @stefanjudis to finish https://github.com/webcompat/design/issues/31, bc I will reuse his approach for the search bar

[2017-11-17 22:16] zoepage commented on #1892
@Fischaela claims #1879

[2017-11-17 22:17] zoepage commented on #1879
You don't have to do anything about the main page, as it will be refactored anyway in another issue :)

[2017-11-18 10:53] chaosmonster commented on #1906
The current [about page](https://webcompat.com/about) has three boxes to illustrate the steps of a issues life cycle.
We don't have anything like those boxes in the current design styleguide.
Do you have any ideas @zoepage @kotzendekrabbe

[2017-11-18 12:36] zoepage commented on #1892
@chaosmonster #1881? or #1906 ?

[2017-11-18 12:37] zoepage commented on #1906
just dismiss those as we'll get the content today.

[2017-11-18 12:38] #1879 closed

[2017-11-18 12:39] denschub commented on #1883
Fixed by #1901.

[2017-11-18 12:40] #1903 closed

[2017-11-18 12:43] zoepage commented on #1879
Thanks @denschub and sorry for the mistake

[2017-11-18 12:53] zoepage opened #1911 "refactor template: contribute.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors/contribute.html

with:

[code]

We need to remove the bars and add the sub-navigation seen in:
http://webcompat.github.io/design/ > Module: Content Subnavigation

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

Content will not chan

[2017-11-18 13:33] chaosmonster commented on #1892
I will take #1881

[2017-11-18 13:40] zoepage commented on #1892
@Fischaela claims #1907

[2017-11-18 13:55] zoepage opened #1913 "refactor template: diagnose-bug.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors/diagnose-bug.html

with:

[code]

We need to remove the bars and add the sub-navigation seen in:
http://webcompat.github.io/design/ > Module: Content Subnavigation

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

Content will not ch

[2017-11-18 13:56] zoepage opened #1914 "refactor template: reproduce-bug.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors/reproduce-bug.html

with:

[code]

We need to remove the bars and add the sub-navigation seen in:
http://webcompat.github.io/design/ > Module: Content Subnavigation

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

Content will not c

[2017-11-18 13:57] zoepage opened #1915 "refactor template: site-outreach.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors/site-outreach.html

with:

[code]

We need to remove the bars and add the sub-navigation seen in:
http://webcompat.github.io/design/ > Module: Content Subnavigation

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

Content will not c

[2017-11-18 13:59] zoepage opened #1916 "refactor template: contributors.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors.html

with:

Please be aware to add the placeholders for links as they are in the old templates.
Especially for the JS.

[2017-11-18 14:04] zoepage opened #1917 "Refactor: /contributors"
This is a list of issues per unit or page.

Please grab one issue and push this into the issues/1917 branch with the commit message mentioning Issue #IssueNumber to get the reference in the correct issue.

- [x] #1911 - contribute.html
- [x] #1913 - diagnose-bug.html
- [x] #1914 - reproduce-bug.html
- [x] #1915 - site-outreach.html
- [x] #1916 - contributors.html

More context: https://github.com/

[2017-11-18 15:05] zoepage commented on #1917
sweeeeeet!

[2017-11-18 15:07] zoepage commented on #1917
@denschub we need to add more routes here. could you help?

[2017-11-18 16:29] #1907 closed

[2017-11-18 16:35] denschub opened #1921 "Refactor: /contact page"
- [x] Add a route for `/contact`
- [x] Create dummy template for the contact site (there is no content yet)
- [x] Change the footer link from `humans.txt` to the contact page

[2017-11-18 17:12] denschub commented on #1891
Although PR #1908 is merged, let's keep this issue open. We need to do some follow-ups.

[2017-11-20 12:18] magsout commented on #1861
@karlcow if you want to take a look I pushed my work on https://github.com/webcompat/webcompat.com/tree/issues/1861

- Added CSS
- Organize Html, folders

I have to do the JavaScript part for the selectors.

[2017-11-20 12:20] magsout commented on #1861
@karlcow  The responsive is not ended yet, Flexbox does the work, but I have to improve some things here and then

[2017-11-20 16:10] magsout commented on #1861
@karlcow I have one request plz ;)

could you add a json function for every issue config https://github.com/webcompat/webcompat.com/commit/450620be0e258a8bfca56de375517fc71ac2a95e#diff-c4ca2145e024be83289f04bb020d1aedR71 ?

I could handle the config in JavaScript

[2017-11-21 06:49] KevinTCoughlin commented on #1866
Useful tool! Glad I stumbled on this open issue 👍

The repo's README only has one warning:

[code]

For the following line:

[code]

"contains" is one alternative if the goal is a clean report /shrug

[2017-11-21 06:54] KevinTCoughlin commented on #1873
https://twitter.com/d3viant0ne/status/930519213554458629

Interesting discussion. Can always .gitignore and save exact via `.npmrc` for most of the same benefit w/o the headache I believe... not an expert.

[2017-11-21 07:42] karlcow commented on #1866
The flagged host was in the context of a person.

[2017-11-21 08:06] KevinTCoughlin commented on #1866
Yea, I don't think its worth changing anything in the README

[2017-11-21 09:04] zoepage opened #1924 "make animation of bug in hero section run just once"
Follow up for https://github.com/webcompat/design/pull/79

The animation should appear just on the very first load. We can set a status in the localStorage and make sure, if gets checked before the animation starts.

Edit:
We also need a fix for the bug falling out of the scene. Right now it falls all the way down... it should stay in the hero section box and disappear there.

[2017-11-21 09:36] zoepage commented on #1891
@denschub wanna add a list of follow ups / do you want to finish up the issue at some point? Otherwise happy to take over :)

[2017-11-21 09:45] zoepage commented on #1866
Great news :)

@KevinTCoughlin If you have time, you could also take a look at Contribute.md and the docs? Really appreciated :)

[2017-11-22 06:56] karlcow opened #1925 "Add linkability to templates"
As we are refurbishing the templates with a new design, there is an opportunity to add linkability to sections here and there so we can directly point to them.

Example in
https://github.com/webcompat/webcompat.com/pull/1912/files#diff-599f8798d97be55b0f467e024f6bd96fR12

could be `<h2 id="public-reports" class="headline-2">Public Reports</h2>`

This can be done after the Refactor.

[2017-11-22 06:57] karlcow commented on #1925
ping @zoepage for heads up.

[2017-11-22 08:43] zoepage commented on #1925
@karlcow Should the anchors just be linkable or do we need to add them to the navigation somehow?
Bit more context about the why could also be helpful. thx.

[2017-11-22 10:42] denschub commented on #1891
@zoepage added a list! i'll be able to continue, but that have to wait until next week, I fear.

[2017-11-22 13:26] karlcow commented on #1925
Just have the markup linkable. So that eventually when we write something or share things with someone else we can directly link to the section we are talking about. hypertext for the win. No need to be present in navigation.

[2017-11-22 13:33] zoepage commented on #1891
@denschub no worries && thank you :)

[2017-11-22 20:38] zoepage commented on #1916
done by #1917

[2017-11-22 20:38] #1916 closed

[2017-11-22 20:38] zoepage commented on #1915
done by #1917

[2017-11-22 20:38] #1915 closed

[2017-11-22 20:38] zoepage commented on #1914
done by #1917

[2017-11-22 20:38] #1914 closed

[2017-11-22 20:38] zoepage commented on #1913
done by #1917

[2017-11-22 20:38] #1913 closed

[2017-11-22 20:38] zoepage commented on #1911
done by #1917

[2017-11-22 20:38] #1911 closed

[2017-11-22 20:39] zoepage commented on #1906
done by https://github.com/webcompat/webcompat.com/commit/ceb2fbd3663c9d1931288706f1135ad3ace80b8a

[2017-11-22 20:39] #1906 closed

[2017-11-22 20:46] zoepage commented on #1921
done #1923

[2017-11-22 20:46] #1921 closed

[2017-11-22 20:47] zoepage opened #1926 "add content to contact page"
- [x] add content to contact page https://github.com/webcompat/webcompat.com/issues/1284
- [x] add active state to `contact` in footer

[2017-11-22 20:47] #1284 closed

[2017-11-22 20:49] zoepage commented on #1895
@lewiscowper I remember you working on this? Am I remembering it wrong?

[2017-11-22 20:50] zoepage commented on #1881
@robinboehm @chaosmonster So here is just the nav-shared.html template missing, correct?

[2017-11-22 21:40] zoepage commented on #1522
closing in favor of https://github.com/webcompat/design/pull/81

[2017-11-22 21:40] #1522 closed

[2017-11-22 21:42] zoepage commented on #1488
Closing in favor of https://github.com/webcompat/webcompat.com/issues/1917 and the new sub navigation.

[2017-11-22 21:42] #1488 closed

[2017-11-23 07:32] KevinTCoughlin commented on #1866
Results of `$ alex .\**\*.md`

[code]

[2017-11-23 07:53] magsout commented on #1861
@karlcow

![screen recording 2017-11-23 at 08 29 am](https://user-images.githubusercontent.com/1997108/33162701-3da7403c-d02b-11e7-8ac5-21363e6cfbd3.gif)

[2017-11-23 08:49] lewiscowper commented on #1895
I was indeed @zoepage. Probably some time this weekend I'll have time to finish it up. :)

[2017-11-23 08:54] zoepage commented on #1895
sweet, thanks! didn't want to start before knowing to not sabotage your work. <3

[2017-11-23 09:33] zoepage opened #1927 "refactor template: browse-issues.html"
Refactor following:

https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/home-page/browse-issues.html

with .grid > .grid-row > .grid-col.x3

[2017-11-23 09:35] zoepage opened #1928 "refactor template: hero.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/home-page/hero.html

with following:
.hero-section.grid.color-first-bg

[2017-11-23 09:37] zoepage opened #1929 "refactor template: join-us.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/home-page/join-us.html

with following:
http://webcompat.github.io/design/ > Module: Hero Tiles

New content can be found here for the roles:
https://docs.google.com/document/d/13YuU0p5hUJ_7WN3u_2YasNL0xqsQJByzQhSTR12S5r0/edit?usp=sharing

[2017-11-23 09:40] zoepage opened #1930 "refactor template: threesteps.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/home-page/threesteps.html

with following:
.grid .grid-row .grid-col.x3

- [x] rename template to `description.html` as the content will change
- [x] add short project intro
- [x] add short intro what a web compat bug is

[2017-11-23 09:42] zoepage opened #1931 "refactor template: index.html"
Refactor following:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/index.html

to new semantics.

make sure to add the loader.

[2017-11-23 09:42] zoepage commented on #1931
#1529 is probably related here as it is used also for content loading.

[2017-11-23 09:45] zoepage opened #1932 "Refactor: /home-page"
This is a list of issues per page.

Please grab one issue and push this into the issues/1932 branch with the commit message mentioning Issue #IssueNumber to get the reference in the correct issue.

- [x] #1931 - index.html
- [x] #1927 - browse-issues.html
- [ ] #1891 / #1898 - form [WIP by @denschub]
- [x] #1928 - hero.html
- [x] #1929 - join-us.html
- [x] #1930 - threesteps.html

[2017-11-23 16:44] zoepage opened #1933 "add new content for /contributors"
follow up for https://github.com/webcompat/webcompat.com/pull/1922#discussion_r152741368

Content context: https://github.com/webcompat/webcompat.com/issues/1149

- [x] content for all 5 sections (roles) (convert images to text & images, check for max size of 600px)
  - [x] Report a bug
  - [x] Diagnose a Bug
  - [x] Site outreach
  - [x] Build tools (referring to contributing to webcompat.com, sp

[2017-11-27 20:48] miketaylr commented on #1873
Yeah, I think what we're doing is fine (just .gitignore'ing it). Thanks all!

[2017-11-27 20:48] #1873 closed

[2017-11-27 20:52] miketaylr opened #1938 "type-stylo label added, then removed"
I plan on removing the `type-stylo` label stuff this week, but I'd like to understand what's going on and fix it (because we want to be able to add labels via GET params in the future).

For example, in https://github.com/webcompat/web-bugs/issues/13877:

1. `type-stylo` label is added
2. bug is added to needstriage milestone
3. priority label and browser label are added (which removes `type-stylo

[2017-11-27 20:54] miketaylr commented on #1938
This blocks https://bugzilla.mozilla.org/show_bug.cgi?id=1420102.

[2017-11-27 20:57] miketaylr commented on #1938
I possibly broke this in https://github.com/webcompat/webcompat.com/commit/1429b85a32f9f117d70d17ab86c4f062c937426e.

[2017-11-27 22:33] miketaylr commented on #1938
I think the simplest solution is to see if there are existing labels, rather than create a new empty list each time:

https://github.com/webcompat/webcompat.com/blob/54e0d5d5a9f2bcfe143fa652894b4703591678c1/webcompat/webhooks/helpers.py#L139

[2017-11-28 01:34] karlcow commented on #1938
if I remember what  @makotokato told me. Stylo is not deployed in Android yet.

[2017-11-28 01:35] karlcow commented on #1938
[code]

[2017-11-28 01:53] karlcow commented on #1938
hmm no…  that would break.

https://github.com/webcompat/webcompat.com/blob/54e0d5d5a9f2bcfe143fa652894b4703591678c1/webcompat/webhooks/helpers.py#L139-L147

[code]

return None when empty.
it's always a unique string which is returned for both functions.

[2017-11-28 02:11] karlcow commented on #1938
If I understood what you want.

[code]

[2017-11-28 03:09] Amit2212 opened #1939 "mozila"

[2017-11-28 03:36] #1939 closed

[2017-11-28 10:01] zoepage commented on #1285
Closing as this all gets covered by the refactor in https://github.com/webcompat/webcompat.com/tree/refactor

[2017-11-28 10:01] #1285 closed

[2017-11-28 10:02] zoepage commented on #1296
Closing as the main part got covered by https://github.com/webcompat/webcompat.com/tree/refactor

[2017-11-28 10:02] #1296 closed

[2017-11-28 18:33] miketaylr commented on #1938
It looks like 59 cycle it will ship (which is current nightly cycle):

https://groups.google.com/forum/#!topic/mozilla.dev.platform/SUfu_2hPH8o

[2017-11-28 19:18] miketaylr commented on #1938
[code]

This will have the same problem -- if the `payload` has a non-empty list for `issue.labels`, we're still replacing it. I tried yesterday to do something like:

[code]

But it failed... it seems like the payload doesn't have the `type-stylo` label on issue creation at the webhook level, but sends a `labeled` webhook immediately after a `new issue` webhook. So I might need to re-think this.

[2017-11-28 20:20] miketaylr commented on #1938
One option would be to re-use our `` hack, and set the EXTRA_LABEL at the same time as miletone and browser label...

[2017-11-28 20:36] miketaylr commented on #1938
Testing here, with that code deployed:

1. filed https://github.com/webcompat/webcompat-tests/issues/1305
2. get webhook  `action:opened`, with empty labels:
[code]
3. get webhook d67c52e0-d47a-11e7-8530-9184f88e7c88 , `action:milestoned`, labels has type-stylo:

[code]
4. get webhook  d6802370-d47a-11e7-89db-1f25dda4a176 , `action:unlabeled`, with new browser and priority labels:

[code]

5. get

[2017-11-28 20:45] miketaylr commented on #1938
Step 2 is suprising to me. I would expect the label to exist when the issue is open, since we're sending it to the new issue endpoint.... but if we're just reacting to the new open issue webhook, this approach won't work. So I think I'm gonna do the comment hack to be simpler and not have to deal with timing of webhooks and github events.

[2017-11-28 21:37] miketaylr opened #1942 "Upload thumbnails are blurry"
Not sure if we can tune the jpeg compression a bit -- I find the thumbnail image to be a little too blurry.

https://staging.webcompat.com/issues/1308 as an example.

[2017-11-28 21:38] miketaylr commented on #1942
@karlcow what do you think?

[2017-11-28 21:58] miketaylr opened #1943 "Error opening file for reading: Permission denied (milestones?)"
Just noticed this in the staging uwsgi logs:

[code]

Might be related to not running as root. Something to investigate.

[2017-11-28 23:21] zoepage commented on #1883
We are missing links in the footer...
- [ ] issues list
- [ ] new bug
- [ ] index

[2017-11-29 01:38] karlcow commented on #1942
houla THAT is blurry. :)
Yup. we can probably tune or find a new way of doing it. The issue is time it takes for generating better quality.

Some options:
1. tweak the values to find a better sweet spots for compression/quality/time.
2. OR create a out of the band mechanism server side, which queue a post-processing. What I mean here the blurry image is here at first but then on the server side we

[2017-11-29 01:39] karlcow commented on #1942
ah no  #710 is where we tested the quality/time.

[2017-11-29 01:41] karlcow commented on #1942
that would be a very cool 2018Q1 goal if we were going the out of band version.

Option 1. We can try to improve a bit more the parameters. I need to do more tests. Probably 1 day of work testing options.

[2017-11-29 02:37] karlcow commented on #1938
My hunch for the step 2 issue which should contain

[code]

Github server strategy of handling the server load. Probably when the HTTP POST for the webhook is sent the labels have not been written in the labels tables of their DB. That would be a good question for them. I even wonder if they even a similar internal notifications systems for queuing actions that they partially expose for webhooks.

[2017-11-29 02:42] karlcow commented on #1938
hmm though…
https://developer.github.com/v3/activity/events/types/#webhook-payload-example-10
They give an example with labels.

[2017-11-29 02:44] karlcow commented on #1938
it we could to craft a manual request to webcompat-test and check if the label is being set in opened. Maybe they have a bug. If it happens when done manually, then we might have a bug.

[2017-11-29 09:57] zoepage commented on #1895
@lewiscowper ping? :)

[2017-11-30 22:04] miketaylr commented on #1861
This was merged into dashboard branch.

[2017-11-30 22:04] #1861 closed

[2017-11-30 22:10] #1938 closed

[2017-11-30 22:47] #1857 closed

[2017-11-30 23:10] zoepage commented on #1883
fixed with 3544085e13c3099241ee5171690a7969794dfb07

[2017-11-30 23:10] #1883 closed

[2017-12-01 00:44] karlcow opened #1949 "Filtering out (or not) the version-less browser name in tagging"
See the discussion in https://github.com/webcompat/webcompat.com/pull/1944#pullrequestreview-79976734

Currently we only accept `MyBrowser 90.0` with this regex `([^\d]+?)\s[\d\.]+` in
https://github.com/webcompat/webcompat.com/blob/aba261f71776f35348fedeca63f35eeb1e6667c6/webcompat/webhooks/helpers.py#L37-L46

But does it have to be like this? Do we need to drop string without version when we any

[2017-12-01 06:22] MDTsai opened #1950 "Triage Dashboard - if untriaged issues > 50, mark the number as red for alert"
Easily to know if there is issue flood from sprint?

[2017-12-04 01:30] karlcow opened #1951 "[triage dashboard] After filtering, there are some missing issues."
<img width="993" alt="capture d ecran 2017-12-04 a 10 29 13" src="https://user-images.githubusercontent.com/505230/33532578-21efd9ce-d8de-11e7-8bf2-bd4034fa5256.png">
Obviously this is not working as it should.

[2017-12-04 01:30] karlcow commented on #1951
In this case the list has been filtered on Firefox.

[2017-12-04 01:32] karlcow commented on #1951
I guess in the list we are missing all the mobile stuff, etc. I need to normalize the list I send for the `browser-*` It was part of our discussions with @magsout

* browser-firefox
* browser-chrome
* browser-edge
* browser-safari
* browser-others

[2017-12-04 01:37] karlcow commented on #1860
So from my manual tests. I don't get any performance issue with the dasboard as it is. First load is under 2s (from Japan)
<img width="904" alt="capture d ecran 2017-12-04 a 10 35 37" src="https://user-images.githubusercontent.com/505230/33532685-197a4ac6-d8df-11e7-9718-2fd2626a7e56.png">

Second load under 1s.
<img width="904" alt="capture d ecran 2017-12-04 a 10 36 48" src="https://user-images.g

[2017-12-04 01:37] #1860 closed

[2017-12-04 05:38] karlcow opened #1952 "Webhooks fail with 500 HTTP error"
Testing locally.

[code]

Oooops.

[code]

let's see. Rho…

[code]

We have a missing test or a false positive.

See this part
https://github.com/webcompat/webcompat.com/blob/aba261f71776f35348fedeca63f35eeb1e6667c6/webcompat/webhooks/helpers.py#L20-L31

which is supposed to be called

https://github.com/webcompat/webcompat.com/blob/aba261f71776f35348fedeca63f35eeb1e6667c6/webcompat/webhooks/helpe

[2017-12-04 05:44] karlcow commented on #1952
There is another 500 in there.
https://github.com/webcompat/webcompat.com/blob/aba261f71776f35348fedeca63f35eeb1e6667c6/webcompat/webhooks/__init__.py#L53

This should be

[code]

[2017-12-04 09:23] magsout commented on #1951
@karlcow or maybe I can add a regexp in my search ?

[2017-12-04 10:15] zoepage commented on #1898
Remove `js-ReportForm` class from form.

[2017-12-04 15:53] #1952 closed

[2017-12-04 18:42] miketaylr commented on #1898
context: https://github.com/webcompat/webcompat.com/pull/1948#discussion_r154227867

[2017-12-04 18:46] miketaylr commented on #1949
I don't think there's a technical reason, I think we've just always done it that way.

[2017-12-04 21:18] miketaylr commented on #1850
Let me reopen this bug to remove the webcompat client bits related to this.

[2017-12-04 21:23] miketaylr opened #1955 "Complete the webhooks tests coverage"
The webhook handlers run in our app, and they just react to JSON coming from GitHub, so we should be able to test them (which would prevent us from breaking them in the future :cough: sorry :cough:).

[2017-12-05 06:16] karlcow commented on #1955
(I'm changing the title ;) )

Note that we are already testing most of it, through dedicated helpers functions.
What happened in #1952 is a undetected failure of `new_opened_issue`

https://github.com/webcompat/webcompat.com/blob/5b6cdd9c0bf8cde7f9a35095f081c8a41d6aa37b/webcompat/webhooks/helpers.py#L152-L171

And indeed… there is 0 test for new_opened_issue in
https://github.com/webcompat/webcomp

[2017-12-05 06:32] karlcow commented on #1951
@magsout Indeed. It is probably a better idea. This way we do not loose information, if we want to rearrange another way.

Let's do that. Changing the flag from Python to JavaScript.

[2017-12-05 09:13] #1932 closed

[2017-12-05 09:13] zoepage commented on #1931
fixed in https://github.com/webcompat/webcompat.com/pull/1948

[2017-12-05 09:13] #1931 closed

[2017-12-05 09:14] zoepage commented on #1927
fixed in https://github.com/webcompat/webcompat.com/pull/1948

[2017-12-05 09:14] #1927 closed

[2017-12-05 09:14] zoepage commented on #1928
fixed in https://github.com/webcompat/webcompat.com/pull/1948

[2017-12-05 09:14] #1928 closed

[2017-12-05 09:14] zoepage commented on #1929
fixed in https://github.com/webcompat/webcompat.com/pull/1948

[2017-12-05 09:14] #1929 closed

[2017-12-05 09:14] zoepage commented on #1930
fixed in https://github.com/webcompat/webcompat.com/pull/1948

[2017-12-05 09:14] #1930 closed

[2017-12-05 09:37] #1850 closed

[2017-12-05 09:39] zoepage commented on #1902
fixed https://github.com/webcompat/webcompat.com/pull/1918#issuecomment-347463951

[2017-12-05 09:39] #1902 closed

[2017-12-05 09:39] zoepage commented on #1881
fixed https://github.com/webcompat/webcompat.com/pull/1918#issuecomment-347463951

[2017-12-05 09:39] #1881 closed

[2017-12-05 09:40] zoepage commented on #1926
fixed https://github.com/webcompat/webcompat.com/commit/44b213d0ed0a7db44e74dfa3825efe63739f5f51

[2017-12-05 09:40] #1926 closed

[2017-12-05 09:41] zoepage commented on #1895
@lewiscowper wanna push your state? happy to take over? :)

[2017-12-05 13:47] zoepage opened #1958 "Fix closing tag for link in /contact"

[2017-12-05 14:08] lewiscowper commented on #1895
@zoepage have pushed to my fork issues/1895, (had some issue that I couldn't seem to authenticate to this github remote, but the commit/work is up on github somewhere now at least).

[2017-12-05 16:24] zoepage commented on #1895
Sweeeeeeeet, thanks!

[2017-12-05 17:10] miketaylr opened #1960 "Add webrender labels to EXTRA_LABELS whitelist"
We'd like to track if people have webrender prefs enabled.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1422985

[2017-12-05 18:26] miketaylr commented on #1960
Per https://bugzilla.mozilla.org/show_bug.cgi?id=1422985#c3, I think I'd like to create a `type-webrender-enabled` label instead of `type-webrender`. Just because webrender prefs are enabled, that doesn't mean it's the root cause of the reported issue.

[2017-12-05 20:56] zoepage commented on #1917
done by #1917, follow up for content is #1933

[2017-12-05 20:56] #1917 closed

[2017-12-05 21:40] zoepage commented on #1885
https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-05 21:40] zoepage commented on #1887
https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-05 22:01] zoepage commented on #1866
Looks good right now. Closing.

[2017-12-05 22:01] #1866 closed

[2017-12-05 22:32] karlcow commented on #1960
@miketaylr What do we do with the 6 current issues in type-webrender? Do we transfer them or leave them as-is?

[2017-12-05 22:39] #1960 closed

[2017-12-05 22:50] zoepage commented on #1958
fixed https://github.com/webcompat/webcompat.com/commit/7c13a40b402e87a92476567a617bc561f81d2c49

[2017-12-05 22:50] #1958 closed

[2017-12-05 23:18] zoepage opened #1966 "Fix navigation"
Looks like the navigation got messed up during a merge.

[2017-12-06 01:07] karlcow opened #1967 "Redundant character in regex"
In https://github.com/webcompat/webcompat.com/blob/1ebb9cf6006c9613844bed35ae9182332693768a/webcompat/webhooks/helpers.py#L39

`r'([^\d]+?)\s[\d\.]+'` can be rewritten `r'([^\d]+?)\s[\d.]+'` without changing the meaning.

Though this might simply go away because of #1949

[2017-12-06 02:43] #1951 closed

[2017-12-06 04:32] karlcow opened #1968 "Update python module dependencies"
The previous one was #902  It was done in March 2016.

The current status.
https://requires.io/github/webcompat/webcompat.com/requirements/?branch=master

<img width="746" alt="capture d ecran 2017-12-06 a 13 29 16" src="https://user-images.githubusercontent.com/505230/33644686-ae38b822-da89-11e7-89c9-499bffcc8cbc.png">

Once the [design refactoring](https://github.com/webcompat/webcompat.com/mile

[2017-12-06 05:45] karlcow opened #1969 "[Dead code] Rate limit dust to remove."
In #1437 we change the route for `/rate_limit` to send a `410`
https://github.com/webcompat/webcompat.com/blob/a9f5b7bda2ad556b2185a424f94ed37110237427/webcompat/views.py#L278-L292

Some code and modules were left around.

* [x] Remove Babel==2.3.4 from `config/requirements.txt`
* [x] remove babel import from https://github.com/webcompat/webcompat.com/blob/a9f5b7bda2ad556b2185a424f94ed37110237427/

[2017-12-06 05:46] karlcow commented on #1969
seeAlso #1968

[2017-12-06 06:01] karlcow commented on #1969
For developers and sysops, `pip uninstall babel`

[2017-12-06 07:21] karlcow commented on #1955
Taking notes… about this to have a better understanding on what we

`new_opened_issue` in https://github.com/webcompat/webcompat.com/blob/5b6cdd9c0bf8cde7f9a35095f081c8a41d6aa37b/webcompat/webhooks/helpers.py#L152-L171

calls `update_issue` in https://github.com/webcompat/webcompat.com/blob/5b6cdd9c0bf8cde7f9a35095f081c8a41d6aa37b/webcompat/webhooks/helpers.py#L79-L94

which in return calls `proxy

[2017-12-06 15:03] miketaylr opened #1971 "Investigate "browser-firefox-mobile-nightly-59.0a1" label on issue"
I don't know why this label would be applied, rather than just `browser-fireffox-mobile`. We have a few `firefox-mobile-nightly` labeled issues as well: https://github.com/webcompat/web-bugs/labels/browser-firefox-mobile-nightly

https://github.com/webcompat/web-bugs/issues/14071 is the issue reported by @softvision-oana-arbuzov.

Here's the comment metadata:

[code]

Maybe the user added it manua

[2017-12-06 15:06] karlcow commented on #1971
<img width="738" alt="capture d ecran 2017-12-07 a 00 06 06" src="https://user-images.githubusercontent.com/505230/33668221-78048016-dae2-11e7-9e83-e57179ac2ad0.png">

[2017-12-06 15:10] miketaylr commented on #1971
I wonder if fixing https://github.com/webcompat/webcompat.com/issues/1949 would solve this... if `@browser` only ever contained the name, presumably version info and dates wouldn't sneak in.

[2017-12-06 15:13] karlcow commented on #1971
[code]

The `browser.rsplit(' ', 1)[0]` doesn't answer this use case.

[2017-12-06 15:15] karlcow commented on #1971
yes I want to rationalize things and probably #1949 can solve it. I could propose something tomorrow.

[2017-12-06 15:20] miketaylr commented on #1971
I completely forgot that we trust user input for the label here... I'm surprised this hasn't been abused yet. >_<

[2017-12-06 17:06] miketaylr commented on #1960
I'll take a look, possibly transfer them.

[2017-12-06 17:59] miketaylr commented on #1960
Moved some of them, removed it from some other ones that had the label incorrectly.

[2017-12-06 20:50] #1969 closed

[2017-12-07 03:23] karlcow opened #1973 "New issue form needs to be stricter"
Currently we accept a couple of things that maybe we should be stricter about in terms of validation.

* [ ] browser string. https://github.com/webcompat/webcompat.com/blob/e93f0f9921556f725676b9033724cc4a7a373889/webcompat/form.py#L68
* [ ] os string https://github.com/webcompat/webcompat.com/blob/e93f0f9921556f725676b9033724cc4a7a373889/webcompat/form.py#L69

[2017-12-07 06:43] karlcow commented on #1971
I created a new issue #1973 and its associated pull request #1974 before solving this one here.
We problably should fix in #1949 if we think that version-less are ok.

[2017-12-07 06:55] karlcow commented on #1949
@miketaylr

Could we come up with a list of strings and what we would expect for `browser-*`?

Currently we have
[code]

I propose we add/change
https://en.wikipedia.org/wiki/List_of_web_browsers
http://www.useragentstring.com/pages/useragentstring.php

[code]

what about

* `Pale Moon`:  `browser-pale-moon` or `browser-palemoon`
* `w3m`: http://www.useragentstring.com/index.php?id=15716
* `MyIE2`

[2017-12-07 08:48] zoepage commented on #1949
+1 on the second choice as we talk about it a few times already and the refactor is already accounting for it :)

[2017-12-08 00:12] karlcow opened #1975 "Code Review Manual/Guidelines for contributing document"
To set our expectations on a common basis and have uniformity, we should probably write a reference section on how to review code for the project when there is a pull request.

* [ ] The goals of a code review
* [ ] You have been asked, how long before answering?
* [ ] You have been asked, but you do not have time, expertise, etc? What can you do?
* [ ] How to get locally a pull request?
* [ ] Man

[2017-12-08 16:03] #1973 closed

[2017-12-08 18:52] miketaylr commented on #1975
Hopefully the session on Friday on code quality will be relevant as well: https://wiki.mozilla.org/Compatibility/Meetings/2017-12-work-week#Friday_15 cc @zoepage

[2017-12-11 10:05] zoepage commented on #1975
Added this item to the list :)
https://public.etherpad-mozilla.org/p/webcompat.com

[2017-12-12 10:00] zoepage commented on #1887
fixed by https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-12 10:00] #1887 closed

[2017-12-12 10:00] zoepage commented on #1885
https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-12 10:00] #1885 closed

[2017-12-12 10:01] zoepage commented on #1904
fixed by https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-12 10:01] #1904 closed

[2017-12-12 10:01] zoepage commented on #1895
https://github.com/webcompat/webcompat.com/pull/1963

[2017-12-12 10:01] #1895 closed

[2017-12-12 13:19] zoepage opened #1976 "Add tests to similar bug feature"
Context #1846

Just functional tests for now.

[2017-12-12 20:35] karlcow commented on #1171
Same type of issues for https://webcompat.com/issues/14182

<img width="687" alt="capture d ecran 2017-12-12 a 14 31 35" src="https://user-images.githubusercontent.com/505230/33907032-662d9786-df49-11e7-9826-47372d51d43b.png">

[2017-12-13 12:18] ioana-chiorean commented on #1576
@ioana-chiorean

Ioana Chiorean - Romania
https://twitter.com/ioana_cis

Works in mobile testing, and contributes to open source projects while hacking a coffee or a good wine. Bike lover, community supporter and explorer through running.

[2017-12-13 17:41] brizental opened #1977 "Add optional "browsers" argument for functional tests"
I had already done that while trying to get tests to run in Safari, but didn't merge it in since those tests failed. I think this is helpful, specially when working with the tests, troubleshooting, etc.

My idea is to add the `browsers` argument and if the user doesn't specify anything, just run all the available ones.

It would look like this: `npm run test:js browsers=safari,chrome,firefox`

[2017-12-13 19:10] softvision-oana-arbuzov opened #1979 ""browser-firefox-mobile-nightly-59.0a1" label is hardly visible"
**URL**: www.webcompat.com
**Browser / Version**: Firefox Mobile Nightly 59.0a1 (2017-12-12), Chrome 63.0.3239.84
**Operating System**: Windows 10 Pro
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: "browser-firefox-mobile-nightly-59.0a1" label is hardly visible

**Steps to Reproduce**:
1. Navigate www.webcompat.com.
2. Type in the details of an issue and add t

[2017-12-13 19:29] softvision-oana-arbuzov opened #1980 "Investigate Status: "Error: no status for this issue""
**URL**: www.webcompat.com
**Browser / Version**: Firefox Mobile Nightly 59.0a1 (2017-12-12), Chrome 63.0.3239.84
**Operating System**: Windows 10 Pro
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: "browser-firefox-mobile-nightly-59.0a1" label is hardly visible

**Steps to Reproduce**:
1. Navigate www.webcompat.com.
2. Type in the details of an issue and add "

[2017-12-13 20:12] brizental opened #1981 "Functional tests failing in Chrome"
Still need to do some investigating, but this is the situation right now:

The `comments-auth.js` tests all fail and after the first `Pressing g goes to github issues` test all the others fail and the suite isn't event able to finish.

The comments fails don't seem to be linked to the second one.

Is this only happening for me?

[2017-12-13 22:36] miketaylr commented on #1981
@brizental master is green (so at least travis can get them to pass), i wonder if it's conf wifi network related?

<img width="894" alt="screen shot 2017-12-13 at 4 32 25 pm" src="https://user-images.githubusercontent.com/67283/33966049-be680b86-e023-11e7-93a9-f6c8ae394c16.png">

[2017-12-13 22:39] brizental commented on #1981
@miketaylr maybe, but then ola's tests should have passed

[2017-12-13 23:33] miketaylr commented on #1979
Yeah, I think the default for "labels we set programatically" color is bad. We shouldn't have that label, but we can fix this bug.

[2017-12-13 23:37] miketaylr commented on #1977
SGTM.

[2017-12-13 23:42] karlcow commented on #1979
This is a duplicate of both #1871 and #1258 and should be fixed by https://github.com/webcompat/design/issues/14

[2017-12-13 23:42] #1979 closed

[2017-12-13 23:47] karlcow commented on #1980
So I have a hunch why this is happening I just need to test and probably related to #1971

[2017-12-13 23:54] karlcow commented on #1980
so interesting this string is parsed as by our current system. :) Because we didn't plan that people would put more than one browser there.

`'browser-firefox-mobile-nightly-59.0a1-2017-12-12,-chrome'`

[2017-12-14 20:17] miketaylr commented on #1981
(i think you figured this out already, but her merge is broken because that branch broke uglify stuff (probably due to es6 template strings)

[2017-12-14 23:28] zoepage commented on #1981
I checked the tests on master, so this shouldn't have anything to do with the ES6 stuff.

[2017-12-14 23:30] zoepage commented on #1979
Got fixed by https://github.com/webcompat/design/issues/100

[2017-12-15 14:40] #1894 closed

[2017-12-15 14:53] zoepage commented on #1824
This issue seems to be solved?

[2017-12-15 15:43] adamopenweb opened #1984 "Report anonymous email addresses to private repo"
Related to #1015 and #1822.
Want to discuss this topic without sidetracking other bugs, if this is not found to be valuable, we can close this report.

When a user reports a bug anonymously, we could provide an option to record their email address for follow up.

The email address would be logged in a private repo issue and create a link to it in the main web-bugs report. The issue numbers won't m

[2017-12-15 21:06] adamopenweb commented on #1819
We want to continue this discussion @softvision-sergiulogigan

[2017-12-15 21:28] adamopenweb opened #1985 "Webcompat.com in devtools"
Some comments came out in a non-webcompat meeting at Austin all hands about capturing bug information from devs in developer tools. The desire is to encourage devs to report issues to us while building / testing and webcompat.com has a good process.

Currently we don't capture a screenshot of dev tools from a reporter. This works for most users, but maybe we should consider the option to allow dev

[2017-12-15 22:30] brizental opened #1986 "Update from Intern 3 to Inter 4"
Why?

Because it seems to be better and more reliable.

I already tested with one of our tests it and it looks good.

[2017-12-18 10:20] softvision-sergiulogigan commented on #1819
As mentioned in my previous comment and in the live discussion we had in Austin, I think we should try to improve in the Steps to reproduce clarity.
My suggestion is  still

Step 2:..."
Or make the text area mandatory with 50 characters or more.

We could test this in a 1 month AB Testing session, and see which form yields the more valid STR.

[2017-12-18 18:33] miketaylr commented on #1985
It sounds like an interesting idea for sure.

[2017-12-18 18:42] miketaylr commented on #1984
Yeah, and the simplest db table can match issue -> privateIssue.

I like it. We would need to define a strict policy of who gets added to the "private emails" team, with access to the repo as well. Some criteria: 2FA enabled, privileged triager (not just any volunteer triager), level 4 wizard (at minimum).

[2017-12-18 20:09] zoepage commented on #1483
As this is mostly outdated, I'll close.

[2017-12-18 20:09] #1483 closed

[2017-12-18 20:10] zoepage commented on #1258
This has been adressed in design/#100

[2017-12-18 20:10] #1258 closed

[2017-12-18 20:41] #1824 closed

[2017-12-19 12:05] karlcow commented on #1483
paper trail. https://groups.google.com/forum/#!topic/mozilla.compatibility/Y9fceIecTME

[2017-12-19 12:07] karlcow commented on #1258
Probably https://github.com/webcompat/design/issues/100

[2017-12-19 13:14] karlcow commented on #1824
This has been fixed by #1594

[2017-12-20 13:54] zoepage opened #1988 "Fix build"
Related to #1976 and #1846.
Needs to be merged before #1983, so the build can pass.

[2017-12-21 21:56] zoepage opened #1990 "Move v1 "duplicate issue" feature to master"
- [ ] gather feedback from community
- [ ] style dropdown
- [ ] change search end point from github search API to ours? https://github.com/webcompat/webcompat.com/pull/1989#issuecomment-353276544
- [ ] alternative of fetch for more compatibility. https://github.com/webcompat/webcompat.com/pull/1989#issuecomment-353276544
- [ ] use `_.template` from lodash https://github.com/webcompat/webcompat.com

[2017-12-28 20:53] Obtin opened #1991 "Make local build doc more obvious from README.md"
For new contributors there are no instructions or additional link present , neither on github page nor on the web page that may direct him/her and help in setting up environment on local machine.
Even the Wiki of this project does provide any information regarding this.

[2017-12-29 10:00] Obtin commented on #1991
Thank you very much.I was unable to find it. :-)

[2017-12-29 16:09] zoepage commented on #1991
@Obtin that is a good hint. Thanks! :)

[2017-12-29 16:12] Obtin commented on #1763
@karlcow @miketaylr  If nobody is working on it, I would like to work on this issue.
Thank you.

[2017-12-29 16:14] Obtin commented on #1688
@miketaylr @zoepage is anybody still working on this? If not, I would like to work on it. Thank you.

[2017-12-29 18:45] zoepage commented on #1688
@Obtin feel free to grab that issue :)

[2017-12-29 18:47] zoepage commented on #1763
@Obtin Please check https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md as we have a `one issue at the time` policy for first timers.

Just choose between the two you asked to work on and post a comment, you are working on it. :)

[2017-12-30 03:23] Obtin commented on #1688
@zoepage I would like to work on this issue first. Thank you.

[2017-12-30 03:38] Obtin commented on #1763
@zoepage I would like to work on this first.
Thank you.

[2017-12-31 10:13] Obtin commented on #1763
@zoepage I made the following changes in grunt-tasks/watch.js file . I guess this fixed the "jshint" warning yet the output is not appropriate.
![webcompat](https://user-images.githubusercontent.com/25207205/34460860-48dc89a6-ee41-11e7-898f-a41aa340a308.png)

[2017-12-31 16:36] Obtin opened #1992 ""Type of bug" should allow multiple selections."
Observed :
- "Type of bug" allows selection of only 1 option.
- After choosing Something Else, no option to add a "Type of bug" other than the given options.

Expected:
-  The type of bug option offers you the facility to choose only one of the given types at a time. The case can also be encountered where the user has to report multiple issues about the same URL.
-   After clicking on 'Something E

[2017-12-31 16:46] Obtin opened #1993 "Site URL does not check for appropriate URL"
Observed :
- When I entered a random URL, no warning was given and it accepted the wrong URL.
![webcompatissue](https://user-images.githubusercontent.com/25207205/34463086-f5bff500-ee77-11e7-8d1f-e544cacd62c2.png)
 Expected :
- A check for URL that does not allow to submit an issue with an inappropriate URL.

[2018-01-01 09:19] karlcow commented on #1993
@Obtin when testing these types of issues, it's better to do it on https://staging.webcompat.com/
Thanks.

This is a duplicate of #1742
We have been relaxed about URL validation because there are cases where things which don't seem valid are still useful things.

[2018-01-01 09:19] #1993 closed

[2018-01-01 09:23] karlcow commented on #1992
We want one report for each type of issues. Not multiple issues in the same bug report. Because these might have different consequences and duplication for different issues on browsers bug trackers. Or different type of persons diagnosing the issue.

Somehow it's part of the "Please describe what was wrong". fwiw I think we should first analyze how these radio buttons have been used in the past to

[2018-01-01 09:38] karlcow commented on #1992
/me realizes this is missing context 👹

This form has a long history of modifications and has been improved little by little. Initially there was a free field, which ended up with "This doesn't work" type of sentences. So it didn't help us to get a good sense of what was the issue. We proposed a limited set of the most common issues we had and evolved them (wording and type of issues) to help the

[2018-01-01 15:44] Obtin commented on #1992
@karlcow, I referred to all the bugs u mentioned. I totally agree that we have to consider many aspects for this. This indeed needs a lot of discussion in order to reach a better conclusion. After we reach a plan to work on. I would like to to work on this. Thank you.

[2018-01-02 09:21] zoepage commented on #1763
@Obtin Could you please send a PR? It makes it easier to discuss and test the changes.
After sending it, please add `r? @zoepage` or / and `r? @miketaylr` to your comment. thanks!

[2018-01-02 15:40] Obtin commented on #1763
@zoepage done.Please see to it. Thank you.

[2018-01-03 13:21] karlcow opened #1995 "[bug] 502 Bad Gateway on entering a utf-8 string in URL field."
@softvision-oana-arbuzov found an interesting issue.
1. Go to https://staging.webcompat.com/
2.  Enter "價格" in the URL field… and boom.

<img width="778" alt="capture d ecran 2018-01-03 a 22 20 47" src="https://user-images.githubusercontent.com/505230/34522081-5fe375c0-f0d4-11e7-84f8-d7dda2063f27.png">

[2018-01-03 21:15] miketaylr commented on #1897
This was merged.

[2018-01-03 21:15] #1897 closed

[2018-01-03 21:17] miketaylr commented on #1891
I'm happy to help with this!

[2018-01-03 22:39] zoepage opened #1996 "Update Contributing.md"
This is about updating the Contributing.md with the suggested new process for labels and feature requests.

[2018-01-03 23:25] karlcow commented on #1996
@zoepage Could you give more details? or links to the discussions/proposals? Thanks. (for the paper trail 😉 )

[2018-01-04 00:44] karlcow commented on #1995
Additional tests.

* `é` fails too. So anything which is not ascii.
* `http://愛.com/` fails too. (which is a problem, it should be converted to http://xn--vgu.com/) aka IDN
* `http://example.com/愛` works.

[2018-01-04 00:52] karlcow commented on #1995
Ah! good. I was afraid it would be an issue with url parsing and libraries not handling idn, but it seems to be a lot simpler.  We are sometimes a bit loose on strings. We should straighten that or switch to python 3.

[code]

[2018-01-04 01:16] karlcow commented on #1995
https://github.com/webcompat/webcompat.com/blob/58d721512f6cd6bfef351bdaa6ba20e1d2a653a9/webcompat/form.py#L223-L225

form_object returns a unicode string

[2018-01-04 02:06] karlcow commented on #1995
And just realized we extract twice the url
https://github.com/webcompat/webcompat.com/blob/58d721512f6cd6bfef351bdaa6ba20e1d2a653a9/webcompat/form.py#L241

[2018-01-04 02:25] karlcow opened #1997 "[cleaning] form.py extracts multiple times some values in the same function."
Realized when working on #1995, form.py contains multiple `url` and we should take care also of other values.

https://github.com/webcompat/webcompat.com/issues/1995#issuecomment-355180517

[2018-01-04 04:28] karlcow commented on #1985
Interesting idea. I wonder what kind of information the developer would be willing/interested to share.
When doing diagnosis, for example, it's common I will show the events on a node or a piece of markup.

There are interesting features in devtools, such as screenshot this node (in inspector). I wonder if we could start with a small proof of concept, something very manageable, such as send a scre

[2018-01-04 05:00] karlcow commented on #1992
@Obtin So there are two issues in the report here. So probably that would need to be separated.

1. Multiple bugs.
   I don't think we want to encourage this. I let other people to chime in.
2. Something Else, no option to add a "Type of bug".
   This is already handled partially by "Please describe what was wrong", which is a short summary of the issue. I proposed in #1828 that we use this for th

[2018-01-04 05:04] karlcow commented on #1950
@magsout What do you think? Should we send something from the server side, `alert: True` if it's becoming more than 50. Or should we just handled the color on the server through JS. aka if the number is 50, `background-color: red`

[2018-01-04 05:12] karlcow opened #1999 "entering a string doesn't trigger the similar bugs"
1. Go to https://staging.webcompat.com/issues/new
2. Log in
3. Type facebook in Site URL field.

Nothing happens.

[2018-01-04 05:31] karlcow opened #2000 "entering a domain triggers bugs which are unrelated"
1.    Go to https://staging.webcompat.com/issues/new
2.    Log in
3.    Type `https://sound` in Site URL field.

![capture d ecran 2018-01-04 a 14 18 21](https://user-images.githubusercontent.com/505230/34551165-6b18ac0e-f15a-11e7-8084-ab1ac0450326.png)

Nothing here is related to `https://soundcloud.com/` that I get from typing the full domain name.

![capture d ecran 2018-01-04 a 14 21 07](https

[2018-01-04 07:07] karlcow commented on #1933
I don't think we should add title to links.
see https://github.com/webcompat/webcompat.com/pull/1922#discussion_r159589127

https://www.w3.org/TR/WCAG20-TECHS/H33.html

We currently have for example `<li><a href="/contributors/reproduce-bug">Reproduce a Bug</a></li>` which does exactly what it says on the tin.

[2018-01-04 07:29] Obtin commented on #1992
This is already handled partially by "Please describe what was wrong", which is a short summary of the issue. I proposed in #1828 that we use this for the title.

I agree this could be a solution.But don't we have to restrict the word limit then, since we want our title to be specific and brief and the description must provide all the information to the volunteers to understand the bug.Thus, I bel

[2018-01-04 08:33] Obtin commented on #1992
r? @karlcow
would this be fine?
https://github.com/tango-controls/GitHubBackup

[2018-01-04 08:45] karlcow commented on #1992
about

First learn from the data. What is the longest string, what is the shortest. Then discover if we need to limit.

Yes and that's the case for description too.  See the screenshot below.
For an example of informative and useful titles.
See https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3Asoftvision-oana-arbuzov+
and https://github.com/webcompat/web-bugs/issues

[2018-01-04 08:48] karlcow commented on #1992
About backuping tool

which ever you are comfortable with. I have used this one in the past. Be prepare to let it run for a while. It saves all the issues in their individual files. You will need a key from GitHub too.

<img width="618" alt="capture d ecran 2018-01-04 a 17 47 02" src="https://user-images.githubusercontent.com/505230/34555881-677d035c-f177-11e7-883e-c625a79565cc.png">

https://gith

[2018-01-04 09:08] karlcow commented on #1828
to give context to @Obtin and the discussion in #1992

This is what I'm proposing when I say description should go in the title and issue summary.

![proposal-description](https://user-images.githubusercontent.com/505230/34556570-24c7f60e-f17a-11e7-95e9-c43d31b468d4.jpg)

[2018-01-04 13:59] zoepage commented on #1996
https://groups.google.com/forum/#!topic/mozilla.compatibility/Y9fceIecTME
https://groups.google.com/forum/#!topic/mozilla.compatibility/_kCr_EUZDoA

[2018-01-04 17:10] miketaylr commented on #1828
(I think this would be a big improvement)

[2018-01-04 17:43] Obtin commented on #1828
@karlcow I totally got your point. :-)

[2018-01-04 17:48] #1995 closed

[2018-01-04 18:10] miketaylr commented on #1999
I also experienced this...which prompted my email for STR.

[2018-01-05 00:43] #1740 closed

[2018-01-05 07:45] MDTsai commented on #1999
It's expected, maybe? I make an URL object and get the hostname [here](https://github.com/webcompat/webcompat.com/blob/b763a4cb2f118959704762d5c57dd5e00d91264a/webcompat/static/js/lib/bugform.js#L234)

facebook or facebook.com and even www.facebook.com is not a valid URL. We can use URL to search if it's invalid URL, good idea?

[2018-01-05 14:48] softvision-sergiulogigan commented on #1794
I just made the "Enter" mistake on https://github.com/webcompat/web-bugs/issues/14683
I too think that submitting an issue should be done exclusively by clicking the Report button (or Tabbing your way there and hitting the Spacebar)

Curious enough, the issue got submitted as Anonymus, despite the fact I was logged in.

[2018-01-05 17:05] miketaylr commented on #1794
Ah, I know why. We rely on which button you've clicked (to allow logged in users to report things anonymously if they prefer). The current bug is sort of undefined behavior...

[2018-01-05 17:08] miketaylr commented on #1991
Maybe it would be good to update our README which currently reads:

To something like:

(and have local build environment be a link to the `dev-env-setup.md` file).

[2018-01-05 17:30] Obtin commented on #1991
I would like to work on this r ? @zoepage @miketaylr

[2018-01-05 18:37] miketaylr commented on #1990
A simple `.jst` file should work for this (and avoid the CSP error). For example,

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue/thanks.jst#L1

And then to call the template, passing in its data:
https://github.com/webcompat/webcompat.com/blob/2d77c21299d75eae5a28fb74df00cbd6c1328fb1/webcompat/static/js/lib/flash-message.js#L47-L50

[2018-01-05 19:37] #1763 closed

[2018-01-05 19:48] miketaylr commented on #1991
(no need to request review from an issue comment -- in the PR is fine, thanks!)

[2018-01-05 20:46] miketaylr opened #2006 "Support multiple `label` and `details` params"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1422985, I'm adding support for `type-webrender` labels, for the built-in "report site issue" page action item. While we're still adding `type-servo` labels, it's possible for there to be 2 `label` and 2 `details` params.

There's a few ways to do that, with no clear standard, so I'm choosing the following:

`a=b&a=c` (as opposed to something like `a

[2018-01-05 22:09] miketaylr commented on #2006
params will look something like this, if both are enabled:

`url=https%3A%2F%2Fwww.mozilla.org%2Fen-US%2Fprivacy%2Ffirefox%2F&src=desktop-reporter&details=layout.css.servo.enabled%3A+true&label=type-stylo&details=gfx.webrender.enabled%3A+true%0Agfx.webrender.blob-images%3A+false%0Aimage.mem.shared%3A+false&label=type-webrender`

[2018-01-08 09:55] zoepage commented on #1828
I agree. The only reason we didn't tackle this yet was:

@karlcow

[2018-01-08 10:42] zoepage commented on #1999
I agree. As it's the URL input field, we expect a valid URL for the dropdown to function.

That is correct as the URL type stripes away the protocol. We use the type as we want to make sure to have a valid URL to search for.

So, I'd say we need to decide on what we want to look for. Keyword? URL? And adapt the functionality.

[2018-01-08 10:51] zoepage commented on #1933
This is the content part that also needs to be taken care of. I think, this could be a great addition to give more context to the user. If not, its at least not hurting anyone. So win-win :)

[2018-01-08 10:59] zoepage commented on #1985
I agree. It would be a really cool feature.

Which information should we collect? Just the log or also information like e.g. which framework is used?

@karlcow

What do you mean by this? Compatibility information for the developer?

[2018-01-08 16:06] denschub commented on #1891
@miketaylr cool. Just for your reference (dumping my brain so you don't have to start at 0), I did not take over all css classes from the old template to avoid having a lot of classes on all elements. Since the JS heavily depends on some lookups via JS classes, this probably breaks. So the easy solution is probably just to re-apply the classes, but the cleaner solution would be to change the JS to

[2018-01-08 20:19] zoepage commented on #1891
We kept all JS classes in the other templates as this would otherwise get too massive of a refactor. Phase 2 will be the part where we clean that up (probably 2020 🤡).

[2018-01-08 21:48] #1996 closed

[2018-01-09 02:22] karlcow commented on #1985
@zoepage I meant that the first step is asking to real web developers (and not Mozilla people), if they would be interested by a tool.

@adamopenweb said (emphasis mine):

Before developing anything or even starting a list of features, we need to ask web developers if it is something they need and if yes, how **they** would see it.

Let's not put the cart before the horse 🐴

[2018-01-09 02:33] karlcow commented on #1828
@zoepage yes. And Probably #1992 is a kind of duplicate of this one. We should probably close #1992

[2018-01-09 02:34] karlcow commented on #1992
Let's close this issue in favor of #1828

[2018-01-09 02:34] #1992 closed

[2018-01-09 04:43] karlcow commented on #1933
@zoepage

What would you suggest as a title for `<li><a href="/contributors/reproduce-bug">Reproduce a Bug</a></li>` to understand the "win-win"?

[2018-01-09 04:52] karlcow commented on #1933
@notabene What do you think? Are the `title` attributes useful in this case? And if yes what would you recommend we do?

[2018-01-09 09:03] notabene commented on #1933
@karlcow Actually `title` attribute is on the down road these days, as it serves only partly its purpose (as you quoted from the spec). It's useful for people with a mouse on a desktop browser because they can hover over it, but it brings nothing to screen reader users, keyboard users, mobile browser users.

My practice is this:

1. provide a link that is understandable as-is
2. provide a `title`

[2018-01-09 11:53] zoepage commented on #1933
👍

@karlcow

I can imagine, something like "If you are interested in starting with working on reported bugs, verifying bugs is a great start." could be a great addition.

[2018-01-09 13:28] zoepage commented on #1985
@karlcow

As far as I understand this, the idea is to collect some data from e.g. the console and attach this to the report. Right? I think, this is a great idea and should be manageable to collect. Before doing that, we would need to know which information is useful for the report or which features it would require to be useful.

This is always a good idea, but this is not answering my question.

[2018-01-09 20:48] #1991 closed

[2018-01-09 20:49] miketaylr commented on #1988
@zoepage this is fixed now, right?

[2018-01-09 20:51] miketaylr opened #2008 "Get Travis tests passing on master again"
See https://github.com/webcompat/webcompat.com/pull/1978#issuecomment-352097304 for some context.

[2018-01-09 22:10] #1988 closed

[2018-01-10 04:22] karlcow commented on #1985
@zoepage I just keep repeating what @adamopenweb wrote:

What I read from @adamopenweb:

1. Web developers take an action to report a bug inside the context of  devtools UI.
2. "capture a screenshot of the devtools" (I  don't know what it means)
3. "save a copy of the code" (unclear what it means given how complicated a Web page is.)

so before working on 2 and 3, the 1 should be clarified. Do the

[2018-01-10 04:49] karlcow commented on #1999
The search is happening on the full length of the title currently as said in #2000

![capture d ecran 2018-01-10 a 13 32 52](https://user-images.githubusercontent.com/505230/34755944-dc047768-f60a-11e7-9ac5-9110bfb95034.png)

Suggestions:

1. The search kicks in without having to enter http:// or https://
2. One of these two:
  1. search_string is targeting only the domain name part of the title.

[2018-01-10 05:01] karlcow opened #2010 "[feature] Adds filtering by priority"
## Feature:

1. Go to https://webcompat.com/issues
2. Select needsdiagnosis
3. Select Least Recently Updated ex: https://webcompat.com/issues?page=1&per_page=50&state=open&stage=needsdiagnosis&sort=updated&direction=asc
4. **Feature**: Show only priority-critical

This would diplay only the bug which priority-critical.

## Risk, Technical issue:
The way we currently query the data is through pagin

[2018-01-10 11:25] zoepage opened #2011 "Refactor: /issue"
Refactor following templates with the new semantics.

- [x] templates/issue/aside.jst
- [x] templates/issue/issue-comment-submit.html
- [x] templates/issue/issue-labels.jst
- [ ] templates/issue/issue-report.jst
- [ ] templates/issue/upload-image.jst
- [x] templates/issue/issue-aside.html
- [x] templates/issue/issue-information.html
- [x] templates/issue/issue-milestones-sub.jst
- [x] templates/is

[2018-01-10 11:32] zoepage opened #2012 "Refactor: list-issue/"
Refactor following templates with the new semantics:

- [x] templates/list-issue.html
- [ ] templates/list-issue/issuelist-search.html
- [x] templates/list-issue/dropdown.html
- [x] templates/list-issue/search-issue-filter.html
- [x] templates/list-issue/search-issue-sorting.html
- [x] templates/list-issue/issuelist-issue.jst
- [x] templates/list-issue/issuelist-sorting.jst
- [x] templates/list-is

[2018-01-10 11:34] zoepage opened #2013 "Refactor: web_modules/"
Refactor following templates with the new semantics:

- [x] templates/web_modules/issue-list.jst
- [x] templates/web_modules/label-editor.jst
- [x] templates/web_modules/milestone-editor.jst
- [x] templates/web_modules/pagination.html
- [x] templates/web_modules/tag.html

[2018-01-10 17:46] #2006 closed

[2018-01-10 20:55] #2008 closed

[2018-01-10 21:59] zoepage commented on #1976
merged

[2018-01-10 21:59] #1976 closed

[2018-01-10 22:27] zoepage commented on #1368
@karlcow is this still happening?

[2018-01-10 22:45] #1279 closed

[2018-01-11 00:52] karlcow commented on #1368
Houla… talk about missing a notification. Sorry about that. Thanks @zoepage for pinging again.

🐄  is reading again the full issue. (… 🕐 …)

so…

1. in a bash window, run. On master.
  * `grunt`
   * `python run.py -t`
2. Another bash window.  On master
  `node_modules/.bin/intern-runner config=tests/intern functionalSuites=tests/functional/reporting-non-auth.js`

<img width="486" alt="capture d e

[2018-01-11 00:52] #1368 closed

[2018-01-11 06:51] MDTsai opened #2015 "Change topsites.py to support IAM"
Amazon announced Alexa Top Sites API only support IAM credential after Jan 31, 2018. Current topsites.py script uses root credential need do some changes to use IAM crendential.

[2018-01-11 07:47] magsout commented on #1950
@karlcow I think that solution number 2 is good

[2018-01-11 20:49] zoepage opened #2017 "Post-refactor tasks"
- [x] move CSS from design/docs to webcompat.com repository and replace old
- [x] change link to CSS in index
- [x] revert CSP and exclude github pages from white list
- [x] lint all files (+ #2031)
- [x] add back pre-linter (after #2031 was fixed)
- [x] move SVG folder after cleaning it out from unused SVG's
- [x] move SVG import script (and dependencies) to package.json and edit paths
- [x] fix

[2018-01-11 22:16] miketaylr opened #2019 "extra labels not applied to new issues"
[code]

Looks like I broke this! Investigating...

[2018-01-11 22:17] miketaylr commented on #2019
Same result for this test bug https://github.com/webcompat/webcompat-tests/issues/1356

(the details stuff all worked as expected, just unexpected results for `label`s)

[2018-01-11 22:33] miketaylr commented on #2019
OK. For the following request:

`GET /issues/new?url=https%3A%2F%2Fdocs.python.org%2F3%2Ftutorial%2Ferrors.html&src=desktop-reporter&details=layout.css.servo.enabled%3A+true&label=type-stylo&details=gfx.webrender.enabled%3A+true%0Agfx.webrender.blob-images%3A+false%0Aimage.mem.shared%3A+false&label=type-webrender HTTP/1.1"`

We have the following formdata that we send to GitHub in our initial post

[2018-01-11 22:34] miketaylr commented on #2019
🤔

[2018-01-11 22:42] miketaylr commented on #2019
Let's look at how we build this form data.

For a similar GET request, we end up with:

`['browser', 'ua_header', 'reported_with', 'extra_labels']`

That's good.

Let's look at the output of `get_metadata`:

`u'\n\n\n\n'`

Hello `@t: y`. OK.

Pretty sure that is coming from `type-stylo`. get_metadata is pretty busted.

[2018-01-11 22:45] miketaylr commented on #2019
`formobject.get('extra_labels')` is OK, so yeah... `[u'type-stylo', u'type-webrender']`

[2018-01-11 22:49] miketaylr commented on #2019
Oh wait... >:| `type-webrender-enabled` is the label we want. So that's one half of the bug... but why `@t: y`.

[2018-01-11 23:54] miketaylr commented on #2019
Ah, found the bug. Silly. WIll try to write another test and send in a PR tonight (or tomorrow, not a huge rush).

[2018-01-11 23:56] miketaylr commented on #2019
`extra_labels` at this point is just a list of strings:

https://github.com/webcompat/webcompat.com/blob/8c559a1c5d369d0bcc71fa0dc5b7705da8c936ba/webcompat/form.py#L139

But `metadata` is a list of (key, value) tuples. So we put in the strings and later they get rejected (mostly....).

The fix should be something like:

`metadata.append((u'extra_labels', u', '.join(extra_labels)))`

[2018-01-12 00:01] miketaylr commented on #2019
That's because https://github.com/webcompat/webcompat.com/blob/8c559a1c5d369d0bcc71fa0dc5b7705da8c936ba/webcompat/form.py#L121-L126

If you give it `type-stylo`... you get iterate over the string and pick the first and second. letters. 😆

[2018-01-12 00:41] karlcow commented on #1933
@zoepage thanks.

You said during the last webcompat meeting, you needed help for the content.
What did you mean? When I read the first bug up there
* "convert images to text & images". I don't understand because I'm not into the refactor project as much as you are.
* "check for max size of 600px".

Or are you saying that the only source of our content is the images in
https://github.com/webcompat

[2018-01-12 04:46] #2019 closed

[2018-01-12 09:41] MDTsai commented on #1999
Back to beginning, what I (or Ola) want to do, is to improve the bug report form quality, to reduce number of duplicated issue. In #1826 we already restrict anonymous user to use this feature in my prototype. But even if it's a registered user, direct him to an existing bug seems not helpful now? As Karl's comment, it's because we don't show what they want to know. A better one might be title + de

[2018-01-15 04:43] #1950 closed

[2018-01-15 11:21] zoepage commented on #1933
Yes. First step would be to transcribe the images, so its accessible and others are able to contribute.
Second step would be to iterate over the content and see what we can improve.

The images are quite big, which also makes them tricky to display in responsive mode.
<img width="651" alt="screen shot 2018-01-15 at 12 18 20 pm" src="https://user-images.githubusercontent.com/562354/34940041-6025c4a

[2018-01-15 11:54] karlcow commented on #1149
@lockettm do you have the texts from the mockups somewhere. So we do not have to type them again? Thanks :)

[2018-01-15 12:06] zoepage commented on #1149
@karlcow We might not need the texts as #1933 is about new content, not the one above.

[2018-01-15 12:09] karlcow commented on #1933
@zoepage we can't make images until the design is finished. This seems to be the last part. Maybe I need more chocolates or something, my brain is not processing what is being asked. :)

[2018-01-15 12:12] karlcow commented on #1933
For content, you would like new content so if I understood and not the ones from the mockups. Under which form do you want this content? Text only, HTML? in a PR in the right template if it already exists?
In this last case? Which html templates should I edit?

[2018-01-15 12:17] zoepage commented on #1933
@karlcow
As the missing mockups seem to be an issue, let's break it down to "just" content.

1. Create a google doc
2. describe the roles / steps / work for each of the 5 roles.

Roles are (as described in https://github.com/webcompat/webcompat.com/issues/1933#issue-276433031):
- Report a bug
- Diagnose a Bug
- Site outreach
- Build tools (referring to contributing to webcompat.com, spec work / co

[2018-01-16 15:54] miketaylr opened #2023 "Get functional tests running in Safari"
https://github.com/webcompat/webcompat.com/pull/1987#issuecomment-357441787

[2018-01-16 15:55] brizental commented on #2023
Hm, we have an issue for that already, hahaha, #1704 !

[2018-01-16 15:57] miketaylr commented on #2023
Oops. OK, let's close this one. :)

[2018-01-16 15:57] #2023 closed

[2018-01-16 18:48] #1977 closed

[2018-01-16 18:48] #1986 closed

[2018-01-17 02:51] karlcow opened #2024 "Use HTTP POST instead of URL parameters for populating the new issue form from site report button"
I was looking at https://reviewboard.mozilla.org/r/212166/diff/2#index_header
for https://bugzilla.mozilla.org/show_bug.cgi?id=1422985

And I was wondering if there could be a better way of sending the browser data to the form
https://webcompat.com/issues/new

And I thought about [HTTP PATCH](https://tools.ietf.org/html/rfc5789)
PUT overwrite a resource, but in this case we just want to add data t

[2018-01-17 06:54] MDTsai commented on #1999
For both URL and description notification, I think a better search format is:
```Number + URL + Description```
In URL field, we can match same URL, in description field, match similar description/problem type/summary. Same format with same experience, but different match pattern.

[2018-01-17 09:15] zoepage commented on #2013
refactored `tag.html` in #2012

[2018-01-17 10:06] zoepage opened #2025 "Normalization of naming in app.config['CATEGORIES']"
https://github.com/webcompat/webcompat.com/blob/master/config/__init__.py#L125-L130

The `cat_labels` have a different naming convention here for the names, which we use as class identifiers. That is causing issues with the CSS.

Are there any other dependencies that speak against changing e.g. `needsDiagnosis` to `needsdiagnosis` e.g. or `needstriage` to `needsTriage`?

@miketaylr @karlcow

[2018-01-17 17:28] miketaylr commented on #2025
@zoepage can you explain a little more? What kind of issues?

In theory we have a test suite which would help to answer this question, if you're asking about something beyond grepping the codebase.)

(re: the label, is this really a bug? -- i think i don't understand the issue)

[2018-01-17 17:30] miketaylr commented on #2024
+1, I like this idea a lot @karlcow.

For https://reviewboard.mozilla.org/r/212166/diff/2#index_header, I think my approach will change a bit (which might require some simples changes to our current backend parsing). But I think medium-term this is a nicer architectural change.

I'd recommend we try to land the `type-webrender-enabled` stuff before we block on this approach, even if it means re-do

[2018-01-17 21:08] miketaylr commented on #2025
ah. OK, so if you change that everywhere (CSS, Python, JS), there shouldn't be any issues.

[2018-01-17 21:57] zoepage commented on #2025
Should have mentioned, its relevant for the refactor. Changed in py + js. CSS can be dismissed here.
(PR is going against refactor branch)

[2018-01-17 22:45] karlcow commented on #2024
* +1 on not blocking the current effort. (I think we have a couple of other things on our plate right now.)
* We can take a bit of time later for this.

[2018-01-17 23:07] karlcow commented on #2025
@zoepage I always check the blame to be sure about my memory. I have the feeling it was introduced to have an object like structure so @magsout could easily use that in templates and I proposed it, but let's double check with the blame.

* Heading to https://github.com/webcompat/webcompat.com/blob/master/config/__init__.py
* Clicking on blame.
* So it appears in #786, but it seems to predate this

[2018-01-17 23:16] karlcow commented on #2025
@zoepage ah! but the naming mixed up happened here.
https://github.com/webcompat/webcompat.com/pull/1114/files
When solving #975 where we replace the `new` keyword by `needstriage`.

[2018-01-17 23:34] karlcow commented on #2025
Just seen https://github.com/webcompat/webcompat.com/pull/2026/commits/895bc60458bc34f7997d807c91729c3feae0a6b7

Thanks @zoepage for normalizing.

[2018-01-18 00:25] karlcow commented on #1933
@zoepage

hmm interesting. I have the feeling there are missing things and scopes not completely right.
The content has said in #1149 will end up in different pages. So there will be probably a `/contribute/` and subpages.

1. Report a Bug
2. Triage a Bug (not in the list) but it is part of https://github.com/webcompat/webcompat.com/issues/1149#issuecomment-284589695
3. Diagnose a bug
4. Site Outr

[2018-01-18 05:46] MDTsai commented on #1999
I would like to change owner to @zoepage , please take care of this feature :)

[2018-01-18 07:51] zoepage commented on #1999
+1 @mdtsai

[2018-01-18 08:31] zoepage commented on #1933
@karlcow that's exactly the track! :+1:
Let me know, if you want feedback :)

[2018-01-18 15:07] karlcow commented on #2024
Let me rewind a bit. After diving a bit more in the specs, it was probably a good bad idea.

1. The PATCH is here to modify a resource with a specific media type. The PATCH for `application/json` has not been defined which suggested [this errata](https://www.rfc-editor.org/errata/eid3169)
2. In my proposal we are not modifying parts of a resource like GitHub does with its PATCH semantics.  So that

[2018-01-19 02:27] #2015 closed

[2018-01-19 02:34] karlcow opened #2027 "[topsites] Refactor the code to make it more modular"
To make the code slightly more readable in the future, we could probably gain by making it more modular. Previous issue about it was #2015

* [ ] break down with more functions
* [ ] separate the strings in a file as string templates.
* [ ] adds more tests

See https://github.com/webcompat/webcompat.com/blob/2fb2e27253ae86d00a2d304395e39246fc0d923f/tools/topsites.py
and https://github.com/webcompa

[2018-01-19 11:32] zoepage commented on #1847
Today, I had an idea for a pretty different approach to a loader.

How about we do not use a spinner, but animate the affected area* like this:
https://codepen.io/zoepage/pen/mpapVK

* e.g.
upload -> upload area
comments -> comment area
...

(adding @magsout as he is not in this discussion yet)

[2018-01-22 21:32] zoepage opened #2031 "Update stylelint to v8"
The --fix option for the CSS linter is broken in v7, so we'd like to update to v8.
http://npmjs.com/stylelint

Please note, there were changes to the config https://github.com/stylelint/stylelint/releases/tag/8.0.0 we need to take care of too.

Updating stylelint-config-standard from v16 to v18 probably wouldn't also hurt.

[2018-01-22 21:45] zoepage commented on #1966
Follow up:
- search input position
- dropdown position on mobile

[2018-01-22 21:56] #2025 closed

[2018-01-22 21:58] zoepage commented on #1888
dup of #2012

[2018-01-22 21:58] #1888 closed

[2018-01-22 22:17] zoepage commented on #2031
@magsout would this be something you'd like to work on?

[2018-01-23 04:55] karlcow commented on #1971
Another one from #15014

<img width="601" alt="capture d ecran 2018-01-23 a 13 53 47" src="https://user-images.githubusercontent.com/505230/35258757-f14ebaa4-0044-11e8-979b-01c2ec06de8f.png">

[2018-01-23 06:26] karlcow commented on #1311
Let's pedal back a little bit on this.

* https://webcompat.com/issues/443 exists. It is a 200. And it has no content (the HTTP raw body)
* Then the browser is making a request to https://webcompat.com/api/issues/443 which right now returns either `200` or `304` so far so good.
* `webcompat.com` server is sending a request to GitHub API which returns a payload, identifying a PR. `http GET https://

[2018-01-23 06:46] karlcow commented on #1311
Also an additional comment. These pull requests seems to be in milestones

* (None) https://github.com/webcompat/web-bugs/pull/13085
* (None) https://github.com/webcompat/web-bugs/pull/12327
* (None) https://github.com/webcompat/web-bugs/pull/5750
* invalid https://github.com/webcompat/web-bugs/pull/5334
* (None) https://github.com/webcompat/web-bugs/pull/4544
* worksforme https://github.com/webco

[2018-01-23 16:10] miketaylr opened #2032 "[triage dashboard]: How to handle empty priority?"
For an issue without a priority label (uh, unsure if we broke this, but I think it's possible not every issue will end up with one), we show an empty *Priority:*

Maybe we could have the strong "none" or not show it if there's no priority?

![screen shot 2018-01-23 at 10 08 46 am](https://user-images.githubusercontent.com/67283/35286409-90ec2c6a-0025-11e8-8244-c884ed330da6.png)

cc @magsout @karlc

[2018-01-23 16:12] miketaylr opened #2033 "[triage dashboard][feedback] Cards vs lists"
Not a bug, just a personal perference.

Right now the design is using cards that require quite a bit of scrolling to interact with. I would prefer a flat list. The most important info to me is:

`Bug Number | <a href='link to bug'>Bug title`

Dunno if it's worth adding view options, or we should move to a simpler design?

Thoughts @karlcow @magsout?

[2018-01-23 16:22] miketaylr commented on #1311
Cool, works for me. Probably not something I have time to fix right now, so if someone wants to take over, be my guest. :)

[2018-01-23 16:28] miketaylr commented on #2032
(nah, it's working, just some issues don't get a priority.)

[2018-01-23 20:27] miketaylr commented on #1311
This sounds more error prone than just looking for the `pull_request` key from GH.

[2018-01-23 22:57] miketaylr commented on #1891
@zoepage can you explain what's the expected markup here?

[code]

[code]

Not sure why we have nested labels. Is that intentional? I think I need to figure out the new markup before I fix the JS, since I'm just going to re-write the relevant bits.

[2018-01-24 06:05] magsout commented on #2031
@zoepage sure ;)

[2018-01-24 08:34] karlcow commented on #2033
Thanks a lot @miketaylr

[2018-01-24 08:36] karlcow commented on #2032
Thanks @miketaylr. Yup a bug.

[2018-01-24 09:17] magsout commented on #1847
@zoepage I like the idea with what I call placeholder. 👍

So, yes I like your idea ;)

[2018-01-24 09:19] magsout commented on #2033
@miketaylr like a simple Table View ?

[2018-01-24 09:19] magsout commented on #2032
@karlcow @miketaylr hum sorry, not sure to understand.

[2018-01-24 09:24] zoepage commented on #1891
You might want to take a look at http://webcompat.github.io/design/ > Module: Forms

This is the expected markup:

[code]

Happy to help and fix the markup first, before you start working on this?

[2018-01-24 09:55] zoepage commented on #2031
Please remember to create a branch from `refactor`. :)

[2018-01-24 10:27] karlcow commented on #1847
My 💴 💴.
I'm not sure people would understand something is happening. Better than what we have currently at least. So mild +1
A spin https://codepen.io/anon/pen/rpgmOa
Also https://dribbble.com/search?q=upload+progress

[2018-01-24 10:37] denschub commented on #1847
I do agree with Karl, if the upload area flashes, it probably won't be enough. But if we flash and change the text content to "Uploading..." or something, that should be very nice. :)

[2018-01-24 10:40] zoepage commented on #1847
I love the "we are compacting..." :D

[2018-01-24 12:32] zoepage commented on #2012
Follow up issues:
- [ ] animate search input in filters (figure out concept)
- [ ] fix "overflow" for filter labels `Show 50` & `last recently updated` on mobile (figure out concept)

[2018-01-24 17:04] adamopenweb commented on #1822
I made a comment on IRC and thought I should document it here. There are some reporters that submit a bug anonymously but share the report on Twitter. We could potentially search for those Tweets matching the bug report URI with a bot.

As a start, it might be worth having those of us that do triage to check Twitter with anonymous reports that are being closed. Would get a feel of how effective th

[2018-01-24 17:15] miketaylr commented on #2032
Sorry, I could do better in explaining.

An issue will sometimes have a `priority-foo` label. If it does, the card will show the priority. If it doesn't, it just says `Priority`.

So we should probably leave a message like "Priority: none" or something to fix this.

(check out the screenshot in the original description).

[2018-01-24 20:32] miketaylr commented on #1891
Thansk! I'll holler if I get stuck.

[2018-01-24 23:38] karlcow commented on #1311
The issue to test this  is a PR on webcompat-tests
http://localhost:5000/issues/516

[2018-01-25 00:06] karlcow commented on #1311
I may have found something to do :) Stay tuned. Testing locally. And need to test the perfs.

[2018-01-25 02:00] karlcow commented on #1933
* [x] [Report a Bug](https://gist.github.com/karlcow/d5254456df9bc722edbb0512e635fc83#file-report-bug-md)
* [x] [Triage a Bug](https://gist.github.com/karlcow/d5254456df9bc722edbb0512e635fc83#file-triage-bug-md) (not in the list) but it is part of https://github.com/webcompat/webcompat.com/issues/1149#issuecomment-284589695
* [x] [Diagnose a bug](https://gist.github.com/karlcow/d5254456df9bc722edb

[2018-01-25 04:26] karlcow commented on #1933
Yoohoo @zoepage first pass on the content is done.

[2018-01-25 05:13] karlcow commented on #1311
@miketaylr
Here my take on the issue. This is not made to be merged. It is just a prototype of working pseudo-code.
https://github.com/webcompat/webcompat.com/pull/2035

I made it possible to send 403. ;)

[2018-01-25 05:27] karlcow commented on #2033
So we currently return for needstriage.

* total nb of issues
* nb of issues > 48h
* issues list
  * issue['number'],
  * issue['title'],
  * issue['created_at'],
  * issue['updated_at'],
  * browsers (labels)
  * has_needinfo (label)
  * priority (label)

[2018-01-25 05:48] karlcow commented on #2033
@miketaylr Something along this idea or even more compact?

![capture d ecran 2018-01-25 a 14 47 41](https://user-images.githubusercontent.com/505230/35372724-c793e234-01de-11e8-923d-30e988787902.png)

[2018-01-25 06:12] karlcow commented on #2032
This is dependent on #2033
I start to have an idea of making everything a bit more eye-candy and compact.

[2018-01-25 15:14] zoepage opened #2037 "move min.css to dist"

[2018-01-25 18:20] miketaylr commented on #2033
@karlcow that looks perfect.

[2018-01-25 19:01] zoepage commented on #1933
Note, so I don't forget...
We should move the "bios" from about to join us on contributors.

[2018-01-25 20:17] miketaylr commented on #1311
Thanks @karlcow, will spend some time tomorrow to understand it.

[2018-01-26 13:32] karlcow commented on #1997
So this is a prototype on what I want to do with the form code. This is not yet the pull request just an exploration at trying to

1. make it DRY (Do not Repeat Yourself)
2. Group by areas
3. Make it slightly more modular
4. have a consistency in variables.

Still some issues to fix here and there and some tests to fix and add.
https://github.com/karlcow/webcompat.com/commit/d12695da19e6692c1ef153

[2018-01-26 20:49] miketaylr opened #2040 "Handle details as JSON"
Needed for changes related to https://bugzilla.mozilla.org/show_bug.cgi?id=1422985. We'll send:

`details=JSONSTRING`, and consume it in bugform.js.

[2018-01-26 21:29] miketaylr commented on #2040
Oddly enough, the test from https://github.com/webcompat/webcompat.com/commit/440bad707f8dedde1256d66297d1741ed5e4bd10#diff-db9f827f59656441c082dbc15f76426b is no longer on master... possibly swallowed by the Intern 4 merge. :|

But, I was going to delete it anyways.

[2018-01-28 21:54] brizental commented on #1981
Closed by 30cd7fb

[2018-01-28 21:54] #1981 closed

[2018-01-29 10:51] zoepage commented on #1933
@karlcow where shall I put the comments?

[2018-01-29 11:07] zoepage commented on #2037
fixed by #2038

[2018-01-29 11:07] #2037 closed

[2018-01-29 14:46] karlcow commented on #1933
@zoepage Do you mean comments on the content? I guess once it is in place. It will be easier to review inside a PR.

[2018-01-29 16:17] zoepage commented on #1933
Yes on the gist... You want to move it to a PR first or get comments other way?

[2018-01-29 16:32] miketaylr opened #2042 "Put `details` contents in a hidden input"
Rather than populate the textarea (which can be ugly/confusing), @karlcow suggested we put it in a hidden input. We will display the content the same once the issue is created.

See https://github.com/webcompat/webcompat.com/pull/2041#discussion_r164319434

[2018-01-29 21:14] miketaylr opened #2043 "Handle incoming details JSON object"
I was a bit hasty with the #2041 PR.

https://github.com/webcompat/webcompat.com/pull/2041#discussion_r164319318

Rather than get a half-processed array from Firefox (created from an object...) then processing some more on webcompat, it seems nicer to just send that format-agnostic object and handle all processing by webcompat.

[2018-01-29 23:04] #2043 closed

[2018-01-29 23:06] karlcow commented on #2040
@miketaylr we close this?

[2018-01-30 07:41] karlcow commented on #655
This is potentially interesting.
https://developer.github.com/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/

and

[2018-01-30 09:28] zoepage commented on #1891
@miketaylr looks like the upload limit is broken.

In bugform.js > L538 we want to trigger `wcEvents` but this is not defined. Probably a leftover of a refactor. Could you give me some context, if this makes sense for you? Happy to fix it.

[2018-01-30 17:29] miketaylr commented on #2042
Another thing that might be good is once the issue is created, to put this pref inside a `<details>` element so it can be hidden by default. It's not always interesting to stare at.

e.g. https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d

[2018-01-30 19:34] miketaylr commented on #1891
`wcEvents` is defined here: https://github.com/webcompat/webcompat.com/blob/2d77c21299d75eae5a28fb74df00cbd6c1328fb1/webcompat/static/js/lib/flash-message.js

So if it's not defined, that means the base layout template isn't including it.

https://github.com/webcompat/webcompat.com/blob/42cfdc240eb105f1ec8bb4a0fda313269d54448a/grunt-tasks/concat.js#L23
https://github.com/webcompat/webcompat.com/bl

[2018-01-30 21:04] zoepage commented on #1891
That is very helpful. Thanks!

[2018-01-30 22:39] #2040 closed

[2018-01-31 07:29] #1585 closed

[2018-01-31 14:06] miketaylr commented on #1971
I wonder what the best way to fix this is. It seems tricky if we want webcompat-bot to be "smart" and create labels where they don't exist yet (so we don't have to update whitelists or create labels ourselves)

One lazy, not-bullet-proof solution is to reject output that doesn't match `[a-z\-]`. You could still end up with garbage... but maybe less?

[2018-01-31 14:08] miketaylr commented on #1924
Having played around with this locally, I would recommend we only make it animate after some kind of interaction -- I think it's a bit too distracting, even for the first load.

[2018-01-31 14:36] zoepage commented on #1924
Was thinking about this too recently. How about a hover and just one time, so it has an easter egg feel to it?

[2018-01-31 20:45] miketaylr commented on #1875
I did some more looking into this. Basically, I can't the server to run using just npm scripts. I don't think we should use it to run Python stuff that requires an active virtualenv.

`npm run virtualenv` <-- seems to work?
`npm start` <-- seems to work, but then barfs because it can't find pip deps

[code]

Somehow this is all related to the fact that npm runs these in a new process, and I guess

[2018-01-31 21:55] miketaylr opened #2047 "Add buildID and update channel for Firefox browsers"
ref. https://github.com/webcompat/webcompat-reporter-extensions/issues/71

https://github.com/webcompat/webcompat-reporter-extensions/issues/71#issuecomment-318533516

We can just populate this data from `navigator.buildID` for browsers that support it (Firefox).

We could either do hidden metadata, or toss it in the description textarea with pref values. Thoughts @karlcow?

[2018-01-31 22:47] karlcow commented on #2047
I would choose hidden metadata in the textarea. For the reason that it is easier to manipulate and is less prone to destruction. We can still expose them through the UI elsewhere than the textarea too.

Design for this can come in a subsequent issue.

[2018-01-31 22:49] miketaylr commented on #2047
Sounds good to me. Thanks.

[2018-01-31 23:04] karlcow commented on #1971
Could the solution be to think the other way around?
And have python manage the node environment?

See http://jsatt.com/blog/virtualenvs-for-all/
and https://github.com/ekalinin/nodeenv

[2018-02-01 03:50] karlcow commented on #2033
@magsout here a wireframe proposal to work with. (not a real design).
![capture d ecran 2018-02-01 a 12 49 27](https://user-images.githubusercontent.com/505230/35660269-6d511ac4-074e-11e8-8d45-3f396bb52dd2.png)

[2018-02-01 04:12] karlcow commented on #2033
![capture d ecran 2018-02-01 a 13 11 15](https://user-images.githubusercontent.com/505230/35660781-7c869af2-0751-11e8-88eb-bd76ea6d22c8.png)

[2018-02-01 07:59] karlcow commented on #1311
So interesting I'm breaking the unittest tests in an unexpected way for now. I will be digging into this a bit more.

[2018-02-01 12:43] zoepage commented on #1529
The issues/1529 shall also tackle #1847

[2018-02-01 13:59] zoepage commented on #2042
@miketaylr happy to tackle the `detail` issue with #2011

[2018-02-01 15:27] miketaylr commented on #2042
Cool. Let's wait until we've fixed this bug first, before deciding how to do that. Thanks!

[2018-02-01 15:28] miketaylr commented on #2042
(and that random idea should be its own issue at some point -- this one is about hidden inputs).

[2018-02-02 01:10] SkullTech opened #2048 "Get webcompat issues programmatically"
There's a project [autowebcompat](https://github.com/marco-c/autowebcompat), which requires data from the webcompat issues database. For facilitating the development of such projects, a programmatic interface for getting the aforementioned data can be added. It can be done in the form of a web API maybe, or at least a downloadable version of the whole dataset (maybe as a JSON file) can be provided

[2018-02-02 01:27] SkullTech commented on #2048
Okay after monitoring how the website works, and going through the codebase a little, I understood that there's an `/api` endpoint, which is more of a proxy for the Github API. For example, `https://webcompat.com/api/issues` is a proxy for `https://api.github.com/repos/webcompat/web-bugs/issues`.

So, as of now, the only way to get the whole data would be accessing this endpoint itself and getting

[2018-02-02 02:03] karlcow commented on #2048
@SkullTech what are the specific data autowebcompat need?

* website URL?
* issue title?
* issue status? (closed, open)
* issue status_reason? Do you really want to check the invalid, etc?
* other things?

[2018-02-02 02:16] SkullTech commented on #2048
As of now autowebcompat only requires,
- Issue ID
- Website URL

But the project is a WIP, and probably need of the following would arise soon enough.

- Issue title
- Issue status
- Issue status_reason
- Browser / Version
- Operating System

It would be best if most of the data (parsed) could be accessed in an organized manner, even the ones autowebcompat doesn't need. If I were to make a complet

[2018-02-02 05:11] karlcow commented on #1933
Yes inside a PR than we can comment.
@zoepage Do you mean you want me to put them in the documents? Which templates/URIs does this live in the new design?

[2018-02-02 07:40] magsout commented on #2033
@karlcow oups did't see your message.
So You added an Header and two new icons ?
One for priority and another for need information ?

[2018-02-02 11:42] zoepage commented on #1933
That would be great @karlcow!

The content would go into following templates:
https://github.com/webcompat/webcompat.com/tree/refactor/webcompat/templates/contributors

We'd need 3 more templates for
- Build Tools (contributing to webcompat.com. ok! but I don't think spec work fits in here)
- Web platform research (specifications, reduced tests cases, etc.)
- Organizing Webcompat events

(Is this

[2018-02-05 12:51] marco-c commented on #2048
We won't actually need to check the status of the issue, even if it's closed, we still want to retrieve it and use it as a training example. Also, we can't use the status as a label, because things might have changed since when the issue was filed or closed.

It would be nice if we had a way to retrieve steps to reproduce in a way that we can actually replicate automatically with Selenium, but it

[2018-02-06 01:16] miketaylr opened #2051 "Remove type-stylo from EXTRA_LABELS"
We no longer need to send it from Firefox:

https://reviewboard.mozilla.org/r/205210/diff/2#index_header

[2018-02-06 01:17] miketaylr commented on #2051
To fix this bug, remove the following line and send a PR!
* [ ] https://github.com/webcompat/webcompat.com/blob/master/config/__init__.py#L141

[2018-02-06 09:19] zoepage commented on #905
As we removed CSSFIX from the repo for now, I'm closing.

[2018-02-06 09:19] #905 closed

[2018-02-07 05:29] karlcow opened #2053 "[optimization] Make the extra label tests independent from EXTRA_LABEL"
Triggered by the discussion in
https://github.com/webcompat/webcompat.com/pull/2052#issuecomment-363646258

Currently the form tests depend on the authorized values in EXTRA_LABEL

https://github.com/webcompat/webcompat.com/blob/4e9568c3591626007b369a64bbea4d680eea7d1a/tests/unit/test_form.py#L127-L144

from config

https://github.com/webcompat/webcompat.com/blob/4e9568c3591626007b369a64bbea4d680e

[2018-02-07 13:34] #2033 closed

[2018-02-07 18:16] digitarald opened #2054 "Add GA for campaign tracking and instrument reporting form"
Right now it is hard or even impossible to track performance of the reporting form. Users are reported as "direct" referrals. The form can appear in `/issues/new` but also `/`.

- [ ] Add a UTM campaign when sending users from the Firefox integration
- [ ] Instrument the critical path for filing issues using GA events

[2018-02-07 18:30] digitarald opened #2055 "Don't hide parts of the screenshot"
I wanted to report a layout issue on GA. The part I want to report on is hidden by the enormous yellow `remove image` button.

[2018-02-07 22:37] karlcow commented on #2054
@digitarald hmmm… I was much in favor of getting rid of Google Analytics altogether. 😛
Could you explain a bit more why would we want to have more information about this? What do you expect of this information? And how do we plan to use it?

[2018-02-07 22:50] karlcow commented on #2055
@digitarald

So you are saying we give this:

<img width="620" alt="capture d ecran 2018-02-08 a 07 40 42" src="https://user-images.githubusercontent.com/505230/35945390-6862e8a8-0ca3-11e8-89a3-f5f903d702fb.png">

And you would prefer this?

<img width="614" alt="capture d ecran 2018-02-08 a 07 45 57" src="https://user-images.githubusercontent.com/505230/35945601-23e88c68-0ca4-11e8-898f-7c41b3ced6

[2018-02-07 22:52] karlcow commented on #2055
@zoepage is working on redesign currently. And I'm not sure she is touching this part or not.

[2018-02-08 04:08] karlcow commented on #1933
@zoepage I addressed the request in #2056
Hope it works for you.

[2018-02-08 05:48] karlcow commented on #2048
@marco-c @SkullTech Thanks for the details.

To avoid to have to hit webcompat.com each time you are doing a run. I would recommend you to use something like github-backup.

https://github.com/josegonzalez/python-github-backup

this creates a very local folder structures with all the issues as JSON files. That you can happily use for browsing, munching, massaging, etc.

The repo to backup is https

[2018-02-08 08:07] zoepage commented on #2055
We did a full redesign of that module. I hope, it will be more clear then :)

[2018-02-08 15:08] zoepage commented on #2054
@adamopenweb what are your thoughts?

[2018-02-08 15:11] zoepage commented on #2013
`label-editor.jst` + `milestone-editor.jst` are tackled in #2011.

[2018-02-08 15:13] zoepage commented on #1847
This will be tackled after #2011 and #2012 are done.

[2018-02-08 15:15] zoepage commented on #1898
this was done in #1932  and merged.

[2018-02-08 15:15] #1898 closed

[2018-02-08 15:15] #1893 closed

[2018-02-08 15:16] #1892 closed

[2018-02-08 19:32] adamopenweb commented on #2054
We had some discussions this week about increasing incoming webcompat reports.

It would be good to understand how effective each reporting path is. For example, we currently don't know how many people press the Report Site Issue button, but do not complete the form.

[2018-02-08 20:19] miketaylr commented on #2053
Yeah.

[2018-02-09 10:58] #2031 closed

[2018-02-09 20:45] miketaylr commented on #1924
I like this. 👍

[2018-02-12 02:06] karlcow opened #2058 "[feature] working on an issue"
Some issues, specifically on diagnosis and needscontact stage stays for a long time on this stage.
Sometimes, someone started a diagnosis, but the issue stays in this state for a long time. Some cases:

1. diagnosis has been started by **someone** and there is an intent to go back to it.
   1. we come back to it in a reasonable time
   2. we forget it because GitHub UI is not that good for remindi

[2018-02-12 02:09] karlcow opened #2059 "[research] The GitHub API is now on v4"
It would be good to explore and discover if some of the things in https://developer.github.com/v4/ can help us make a better webcompat.com

[2018-02-12 02:18] karlcow commented on #2058
1. [Add assignees to an issue](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue)

2. [Remove assignees from an issue](https://developer.github.com/v3/issues/assignees/#remove-assignees-from-an-issue)
3. The search seems to give the possibility to fetch all issues for a specific assignee https://github.com/webcompat/webcompat.com/issues?utf8=%E2%9C%93&q=+is%3Aissue+assign

[2018-02-13 00:36] karlcow commented on #2054
This can be tracked already through the web requests without Google Analytics, we just need to [collect the data in one place](https://github.com/webcompat/webcompat-metrics/issues/2). Let's say as a thought experiment, we know, that 30% is coming from "Report Site Issue…" button in Firefox and 70% from the Webcompat site directly. What does it tell us? Are we able to have a meaningful action abou

[2018-02-13 17:18] miketaylr commented on #2059
This is the GraphQL API, which I guess it means its stable now. I think we can simplify quite a bit of the frontend model code, at the very least.

[2018-02-13 21:11] zoepage commented on #2055
Closing as this will be changed in the refactor

[2018-02-13 21:11] #2055 closed

[2018-02-13 21:56] zoepage opened #2061 "SVG in hero animation - bug + bulb"
During the process, we mixed up the naming of 2 SVG's.

This is why we need to change [`svg-bulb_nobug.svg`](https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/img/svg/icons/svg-bulb_nobug.svg) and [`svg-bulb.svg`](https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/img/svg/icons/svg-bulb.svg).

- [x] change `svg-bulb_nobug.svg` to `svg-bulb.svg`
- [x]

[2018-02-14 09:24] zoepage commented on #1891
this was merged.

[2018-02-14 09:24] #1891 closed

[2018-02-14 09:24] zoepage commented on #1880
done in #2017

[2018-02-14 09:24] #1880 closed

[2018-02-14 09:25] zoepage commented on #1286
this is tackled with #1933

[2018-02-14 09:25] #1286 closed

[2018-02-14 09:32] zoepage commented on #746
As we decided on a solution in #1529, I'll close this one.

[2018-02-14 09:32] #746 closed

[2018-02-14 09:32] zoepage commented on #1149
closing as this is in progress in #1933

[2018-02-14 09:32] #1149 closed

[2018-02-14 10:55] zoepage opened #2064 "Add remove / error notifications to issue > comment > upload"
In our form > upload (/issues/new), we've built in already the functionality for removing an added image as well as displaying an error, when e.g. the format of the image is wrong or the image is too big.

This is missing in the issues > comment section. The upload is working, but removing as well as the error message are not functioning yet.

[2018-02-14 10:56] zoepage opened #2065 "Fix dragAndDrop in issues > comment > upload"
The dragAndDrop is not working properly for the comment upload in the issues.

[2018-02-14 10:59] zoepage commented on #2065
Fixed by #2060

[2018-02-14 10:59] #2065 closed

[2018-02-14 11:34] zoepage opened #2066 "nav > log in > dropdown - wrong position of dropdown"
During an auto-merge, the position of the dropdown was mixed up.

STR:
1. Log in
2. Click on chevron next to the avatar image in nav
3. Position of dropdown is not below the chevron

[2018-02-14 13:08] zoepage opened #2067 "fix 404 page layout"
The `grid` class is missing at the 404 page.

This is why it "falls out of the grid".
<img width="1405" alt="screen shot 2018-02-14 at 2 07 56 pm" src="https://user-images.githubusercontent.com/562354/36205859-88203924-1190-11e8-994b-0fc42642950e.png">

[2018-02-15 17:23] adamopenweb opened #2069 "Issues list pagination missing cursor: pointer on previous and next"
The previous and next buttons don't show a pointer when hovering with mouse.

<img width="546" alt="screen shot 2018-02-15 at 12 21 12 pm" src="https://user-images.githubusercontent.com/6587558/36270825-c26152c0-124a-11e8-95f8-1f82b50a4193.png">

[2018-02-15 17:43] adamopenweb opened #2070 "Meet the Wompats on home page links to wrong page"
I think this is a bug?

**Find out and meet the Wompats** links to:
https://webcompat.com/about

I thought it would go to:
https://webcompat.com/contributors

<img width="300" alt="screen shot 2018-02-15 at 12 41 29 pm" src="https://user-images.githubusercontent.com/6587558/36271819-c0d9d834-124d-11e8-9af7-b9b321c94dc1.png">

[2018-02-15 18:41] denschub opened #2071 ""Upload screenshot" label is off-center"
<img width="439" alt="screen shot 2018-02-15 at 19 40 18" src="https://user-images.githubusercontent.com/344777/36274466-1b9c3642-1288-11e8-8ce8-c578bc6db46a.png">

Marking this as a bug, because it bugs me. 🐛 🤡

[2018-02-15 19:14] miketaylr opened #2072 "Misaligned "upload screenshot" prompt"
STR:

1. go to staging.webcompat.com/issues/new

<img width="481" alt="screen shot 2018-02-15 at 1 13 36 pm" src="https://user-images.githubusercontent.com/67283/36276005-25da0944-1252-11e8-93ea-d6633ef7f3c5.png">

It should be aligned in the middle.

[2018-02-15 19:18] miketaylr opened #2073 "Form validation checkmarks appear broken"
STR:

1. go to https://staging.webcompat.com/issues/new
2. clear out browser and OS
3. add something to the browser field

Expected:

there should be a green checkmark in one

Actual:

there's a green checkmark in both fields now

Note: this appears to be a bug on the existing webcompat site, so something we regressed at some point.

[2018-02-15 19:22] miketaylr opened #2074 "Jumping validation requirements"
STR:

1. go to staging.webcompat.com/issues/new
2. hit tab to cycle thru the form (or just click in and out of the URL and description inputs

Actual:
I get shown a "A valid URL is required.", etc. which causes the layout to jump down.

Expected:
Can we figure out how to do this without shifting layout?

Also, when you put something in, those messages don't disappear. Not sure if that is intended

[2018-02-15 19:24] miketaylr opened #2075 "Missing green checkmarks when adding URL and description"
In the existing webcompat form, when you put in a URL and description, you get a green checkmark.

In the form on staging, nothing happens there. Seems like a bug.

[2018-02-15 19:24] miketaylr commented on #2072
Duplicate of #2071.

[2018-02-15 19:24] #2072 closed

[2018-02-15 19:25] miketaylr commented on #2071
Oddly, the screenshot in my dupe report shows it aligned to the right?

https://github.com/webcompat/webcompat.com/issues/2072#issue-297563691

[2018-02-15 19:26] miketaylr commented on #2071
<img width="481" alt="screen shot 2018-02-15 at 1 13 36 pm" src="https://user-images.githubusercontent.com/67283/36276005-25da0944-1252-11e8-93ea-d6633ef7f3c5.png">

[2018-02-15 19:30] miketaylr opened #2076 "Label /widget editor icon moves when opening"
STR:

1. go to https://staging.webcompat.com/issues/1368
2. login
3. click on the label or milestone editor to open it
4. click in the same spot to close it

depending on where you were for 3, 4 is not possible because it shifts location. We should make sure that doesn't happen.

![jumping-button](https://user-images.githubusercontent.com/67283/36276724-6cab45f2-1254-11e8-842a-909072478034.gif)

[2018-02-15 19:31] denschub commented on #2071
It actually depends on the browser width! `.form-upload .label-icon` is styled absolute, but the `<div class="form-upload js-image-upload js-Form-group">` doesn't reset the context with a `position: relative;`.

[2018-02-15 19:35] miketaylr opened #2077 "[design] Take up less vertical real estate on homepage?"
Currently the homepage of the refactor / redesign:
<img width="1792" alt="screen shot 2018-02-15 at 1 31 38 pm" src="https://user-images.githubusercontent.com/67283/36276852-c10e0710-1254-11e8-9db9-2402a9ca9df3.png">

2 issues:

1. the big yellow column feels odd, compared to the old design where it extended to the whole page.
2. we're using a *lot* of vertical space without a lot of value, i thin

[2018-02-15 19:36] miketaylr opened #2078 "[design] Use more horizontal space?"
In the refactor, the new site feels very "narrow". Can we add a few more responsive breakpoints for wider screens?

[2018-02-15 19:37] miketaylr commented on #2077
BTW, big +1 on reducing the height of the top navbar -- that's a big improvement.

[2018-02-15 19:38] miketaylr opened #2079 "User dropdown misaligned"
STR

1. go to staging.webcompat.com
2. log in
3. click on your avatar to open the menu

expected:
it opens below my username

actual:

<img width="765" alt="screen shot 2018-02-15 at 1 37 25 pm" src="https://user-images.githubusercontent.com/67283/36277079-76a6968c-1255-11e8-9436-d2e6bc1dcec2.png">

[2018-02-15 19:43] miketaylr opened #2080 "[design] bug milestones feel misaligned on all issues page"
If you go to staging.webcompat.com, observe the following:

<img width="843" alt="screen shot 2018-02-15 at 1 42 34 pm" src="https://user-images.githubusercontent.com/67283/36277297-1c2a9612-1256-11e8-9c14-86a6f5d2cec9.png">

It's hard for me to scan from the top left down because things aren't aligned. Can we improve this somehow?

(the same is true for the right as well):

<img width="259" alt="

[2018-02-15 19:48] miketaylr commented on #2080
(Note: I don't think we should block on this particular issue, this is something that could be incrementally improved, if it turns out to be a huge PITA)

[2018-02-15 20:38] #2011 closed

[2018-02-15 20:38] #2012 closed

[2018-02-15 20:38] #2013 closed

[2018-02-15 20:38] #2017 closed

[2018-02-15 21:24] adamopenweb opened #2081 "Report as buttons not aligned when signed in"
The form buttons for reporting anonymous or on Github are not aligned once I sign in.

<img width="500" alt="screen shot 2018-02-15 at 4 00 04 pm" src="https://user-images.githubusercontent.com/6587558/36280830-9e9a0048-1269-11e8-9960-c4f636370746.png">

[2018-02-15 22:39] karlcow opened #2082 "[design] wide yellow header"
The wide yellow header feels unbalanced with the rest of the page.
Probably related to #2078
<img width="1057" alt="capture d ecran 2018-02-16 a 07 30 36" src="https://user-images.githubusercontent.com/505230/36284808-807c5916-12ec-11e8-8e35-db0314e46701.png">

[2018-02-15 22:45] karlcow opened #2083 "Slack as a communication channel"
As for now, slack is not our main communication channel.

<img width="332" alt="capture d ecran 2018-02-16 a 07 40 18" src="https://user-images.githubusercontent.com/505230/36284886-d38cdf0e-12ec-11e8-98dd-6ea32fd1b99f.png">

We never came to a decision on this. Personally I don't think we should do it. The more complete discussion we had about this is in #1284

[2018-02-15 22:47] karlcow opened #2084 "Use of wompats term"
Let's not add terms like this in the project.

[2018-02-15 22:49] karlcow opened #2085 "Refactor Typos"
Instead of having all of us opening an individual issue for each typo. Let's put them here.

* [x]  "People expect websites to work regardless of the device or browser they are using. If they are behaving differently, that is most **likey** a web compatibility bug we are looking for. "

[2018-02-15 22:55] karlcow opened #2086 "[content] Alumni page"
I wonder if we need an alumni page for the site.
https://staging.webcompat.com/contributors
https://staging.webcompat.com/contributors/alumni
Some people have participated to this website meaningfully in the past.

See for example
* https://www.w3.org/People/
* https://www.w3.org/People/Alumni

[2018-02-15 23:02] karlcow opened #2087 "Top sticky header is breaking the anchors"
Go to https://staging.webcompat.com/contributors/web-platform-research#surveys
<img width="856" alt="capture d ecran 2018-02-16 a 08 01 27" src="https://user-images.githubusercontent.com/505230/36285620-9bd73278-12ef-11e8-929b-090d89e9e8cb.png">

We should be able to read the header of this section.

Personally I don't think the header should be sticky. It should just go away when we scroll.

[2018-02-15 23:06] karlcow opened #2088 "Contribute -> Team"
When someone clicks on Contribute in the top header.
<img width="393" alt="capture d ecran 2018-02-16 a 08 04 20" src="https://user-images.githubusercontent.com/505230/36285722-1a504a04-12f0-11e8-928e-2dc42f621629.png">

it lands to a page where the main content is The team. It feels weird and put us before the tasks. I think we should direct people to ways of contributing, not us.

[2018-02-15 23:35] karlcow commented on #2077
Same thing on the new issue page. Too much space about Report Site Issue.
https://staging.webcompat.com/issues/new
![capture d ecran 2018-02-16 a 08 33 21](https://user-images.githubusercontent.com/505230/36286697-2aaa0fbc-12f4-11e8-80a4-20e0f95a279f.png)

[2018-02-15 23:42] karlcow opened #2089 "[design] upload screenshot - buttons cascading"
![capture d ecran 2018-02-16 a 08 37 35](https://user-images.githubusercontent.com/505230/36286825-c34dedd8-12f4-11e8-9c90-3328f7ecd7cf.png)

When the screen is narrower, but not mobile,  the report button doesn't adjust very well.

[code]

Why not using flexbox in there instead of float?

[2018-02-15 23:54] karlcow opened #2090 "[design] right side menu on issue doesn't stick"
1. Go to https://staging.webcompat.com/issues/1368
2. Scroll a bit. The right side context is going away.

![capture d ecran 2018-02-16 a 08 48 47](https://user-images.githubusercontent.com/505230/36287143-62ad4742-12f6-11e8-8f3b-fd292375e04e.png)

This is a regression. We had won this feature in the past, to keep the context around on desktop so it's faster to change labels and status.

![capture

[2018-02-16 00:02] karlcow commented on #2089
Duplicate of #2081

[2018-02-16 00:02] #2089 closed

[2018-02-16 00:28] karlcow opened #2091 "Comment section - Huge upload screenshot / Small comment section"
That doesn't have the right feeling.

* [ ] we can't see the comment section
* [ ] Upload screenshot is using all the space.
* [ ] Comment button seems out of place.

![capture d ecran 2018-02-16 a 09 01 18](https://user-images.githubusercontent.com/505230/36287452-558f8280-12f8-11e8-8b86-2f3becda1e70.png)

I would imagine something more like this.

![capture d ecran 2018-02-16 a 09 27 47](https:/

[2018-02-16 00:30] karlcow commented on #2091
forgotten the background-color

![capture d ecran 2018-02-16 a 09 29 32](https://user-images.githubusercontent.com/505230/36288004-ed184ddc-12fb-11e8-863a-25aed9971360.png)

[2018-02-16 00:38] karlcow opened #2092 "Adding a comment is broken."
1. Go to an issue
2. Enter a simple comment
3. We are redirected to https://staging.webcompat.com/issues/1360?image=
  Without the comment.
  We need to refresh to see the comment.

[2018-02-16 00:40] karlcow opened #2093 "Upload images in Comment fails"
1. Go to https://staging.webcompat.com/issues/1360
2. Upload a screenshot in the comment section
3. We are redirected to https://staging.webcompat.com/issues/1360?image=Capture+d%E2%80%99e%CC%81cran+2018-02-16+a%CC%80+09.29.32.png#issuecomment-366109701

A reload doesn't show the image. The upload has failed.

[2018-02-16 00:42] karlcow opened #2094 "nesting div for the main content."
Not sure if it's a typo in a template, but in case a `div` to just wrap the content seems to be bogus.

![capture d ecran 2018-02-16 a 09 41 10](https://user-images.githubusercontent.com/505230/36288352-9af50d0e-12fd-11e8-89ad-a9a865fde5ae.png)

[2018-02-16 00:49] karlcow opened #2095 "Posting a comment with markdown markup"
1. Go to an issue
2. Post a comment with markup.
![capture d ecran 2018-02-16 a 09 48 48](https://user-images.githubusercontent.com/505230/36288560-9cf72ac8-12fe-11e8-9d4d-0f27e4ef6e79.png)
3. we end up with a bad redirection and the comment not being posted.

[2018-02-16 01:13] karlcow opened #2096 "Profile dropdown is off"
1. Once you are logged in
2. Click on your profile icon
3. A menu drops down

Actual:
* The menu is off on the left and doesn't seem to be part of the action we just did.
* The background color of the menu makes it not really visible

![capture d ecran 2018-02-16 a 10 04 59](https://user-images.githubusercontent.com/505230/36289195-16b2cb80-1302-11e8-8a1b-7d8c7af55d92.png)

Expected:
* Menu under

[2018-02-16 01:24] karlcow opened #2097 "twitter icon to https://twitter.com/webcompat/with_replies"
The https://twitter.com/webcompat/with_replies doesn't work anymore for the last couple of months if you are not logged in. This is a bummer. Intended change by twitter.

The only equivalent now is something along
https://twitter.com/search?f=tweets&vertical=default&q=%40webcompat&src=typd

[2018-02-16 01:41] karlcow commented on #2094
Hmmm I check some part of the markup. I'm not sure if it's interesting/useful/constructive as a review or not. Some of the things I see are not right in the redesign in terms of semantics. 🧠 (Note that I don't think the current ones are correct too, it's just that with redesign I hoped for a better markup.)

Also let's not forget that I'm an HTML dinosaur who loves reading HTML. 🧓🏻🦖 I will go exti

[2018-02-16 03:27] karlcow commented on #2096
Duplicate of #2066

[2018-02-16 03:27] #2096 closed

[2018-02-16 03:28] karlcow opened #2098 "Search form on home page is out of view"
1. Go to home page
2. Click on search.

The search area disappears outside of the page.

![capture d ecran 2018-02-16 a 12 25 20 2](https://user-images.githubusercontent.com/505230/36292397-f67ad3d6-1314-11e8-8e04-c8bb28cad9d5.png)

[2018-02-16 03:33] karlcow opened #2099 "status categories on all issues page"
Go to https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc

The categories take a lot of space.
![capture d ecran 2018-02-16 a 12 31 08 2](https://user-images.githubusercontent.com/505230/36292481-740f038a-1315-11e8-83b4-df42876daeb6.png)

[2018-02-16 03:44] karlcow opened #2100 "Remove screenshot is awkward and not readable"
1. Fill the form.
2. Add a screenshot.
3. Look at the remove screenshot part.

![capture d ecran 2018-02-16 a 12 41 32 2](https://user-images.githubusercontent.com/505230/36292693-f463cf38-1316-11e8-806d-b5c98deb1790.png)

The remove part is not visible and really usable in that state.

[2018-02-16 03:46] karlcow opened #2101 "Contrast in between instructions and user input"
The new form is generally more elegant than the previous one, but it also has its own set of UX issues.
Once I have filed it, it becomes hard to review and see at first sight what I have entered there. Specifically in the Description and textarea sections.

![capture d ecran 2018-02-16 a 12 41 32 2](https://user-images.githubusercontent.com/505230/36292757-6664a95e-1317-11e8-97f3-f2315d5121bd.png)

[2018-02-16 03:51] karlcow commented on #2101
What about changing the color of the background once some text are in there.

![capture d ecran 2018-02-16 a 12 50 55](https://user-images.githubusercontent.com/505230/36292859-1e0508ce-1318-11e8-90a9-3d0407865dda.png)

[2018-02-16 04:00] karlcow opened #2102 "Yes - No choice for Test in another browser"
I was wondering if it's the best way to ask this question, which is currently 3 states

* yes
* no
* Nothing (nobody knows)

Should it be?

Did the site work in another browser?
* [ ] yes [this one]

(a non answer to the question would mean I didn't check or I don't care)
The textarea gives the possibility to give the name for a browser with an autosuggestive list of browser names on focus ala key

[2018-02-16 04:04] karlcow opened #2103 "[form] breathing space for the mandatory red asterisk"
Not a bug, just a feeling.

![capture d ecran 2018-02-16 a 13 02 12](https://user-images.githubusercontent.com/505230/36293059-c0e6fccc-1319-11e8-9142-bcee6214afc9.png)

Maybe a bit more space for the mandatory asterisk

![capture d ecran 2018-02-16 a 13 01 52](https://user-images.githubusercontent.com/505230/36293066-de2c2adc-1319-11e8-85be-8fc6001713aa.png)

[2018-02-16 04:10] karlcow opened #2104 "label and status should be clickable"
When going to an issue page. It should be possible to click on the label and status and go to the relevant search page.

[2018-02-16 04:32] karlcow commented on #2080
@miketaylr Do you mean you would prefer something like
![capture d ecran 2018-02-16 a 13 31 41](https://user-images.githubusercontent.com/505230/36293539-d787e05a-131d-11e8-8077-7b4b5fed6162.png)

[2018-02-16 04:33] karlcow commented on #2080
Previous screenshot done with flexbox.

[2018-02-16 05:01] karlcow commented on #2077
@miketaylr do you mean you would prefer something like. (I'm not suggesting this should be this, I'm just trying to make the vertical space tinier to have an impression on the overall design.)

![capture d ecran 2018-02-16 a 13 59 41](https://user-images.githubusercontent.com/505230/36294117-d9261f22-1321-11e8-9643-7dbf322c02f3.png)

[2018-02-16 06:06] karlcow commented on #132
Let me kill this with fire. :) And let's revive it once/if one day we have a DB with issues.

[2018-02-16 06:06] #132 closed

[2018-02-16 06:09] karlcow commented on #575
Let's kill this. We can't do anything with the current way that GitHub sends this data. Too many unknowns.

[2018-02-16 06:09] #575 closed

[2018-02-16 15:36] miketaylr commented on #740
Looks lie @karlcow is working on this.

[2018-02-16 15:43] miketaylr commented on #2080
@karlcow yep, much nicer.

[2018-02-16 15:45] miketaylr commented on #2083
There's too much slack in my life already, I would prefer if we didn't create a new comms channel beyond irc + github issues.

[2018-02-16 15:45] miketaylr commented on #2083
(oh, and meetings)

[2018-02-16 15:49] miketaylr commented on #2100
And depending on the type of screenshot (imagine a pure black image of some graphics problem), you won't be able to see it at all.

[2018-02-16 15:50] miketaylr commented on #2095
It seems like maybe issue commenting broken now cf. #2093

[2018-02-16 16:09] miketaylr commented on #2102
It would be an improvement over what we get now, I think.

[2018-02-16 19:25] miketaylr opened #2106 "Get tests green on refactor branch"
Once this is done, no more PRs into refactor will be allowed without fixing broken tests.

[2018-02-16 19:37] miketaylr commented on #2106
[code]

[2018-02-16 19:40] miketaylr commented on #2106
https://github.com/webcompat/webcompat.com/commit/82f1e7fb8cb40678ed77c4727054f035e241957e

[2018-02-16 19:53] miketaylr opened #2107 "Fix contributors-non-auth.js"
Blocks #2106.

[2018-02-16 19:56] miketaylr commented on #2107
We can probably replace this test suite entirely with some python unit tests, just to ensure the endpoints result in a 200.

[2018-02-16 19:58] miketaylr opened #2108 "Fix comments-auth.js"
Blocks #2106.

[2018-02-16 20:02] miketaylr commented on #2108
[code]

[2018-02-16 20:04] miketaylr opened #2109 "Fix history-navigation-non-auth.js"
[code]

[2018-02-16 20:04] miketaylr commented on #2109
Blocks #2106

[2018-02-16 20:06] miketaylr opened #2110 "Fix image-upload-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:08] miketaylr opened #2111 "Fix index-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:20] miketaylr opened #2112 "Fix issue-list-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:21] miketaylr opened #2113 "Fix issues-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:23] miketaylr opened #2114 "Fix issues-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:25] miketaylr opened #2115 "Fix labels-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:26] miketaylr opened #2116 "Fix milestones-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:28] miketaylr opened #2117 "Fix milestones-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:31] miketaylr opened #2118 "Fix new-issue-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:33] miketaylr opened #2119 "Fix reporting-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:39] miketaylr opened #2120 "Fix reporting-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 20:42] miketaylr opened #2121 "Fix search-auth.js"
Blocks #2106.

[code]

[2018-02-16 21:00] miketaylr opened #2122 "Fix search-non-auth.js"
Blocks #2106

[code]

[2018-02-16 21:07] miketaylr opened #2123 "Fix user-activity-auth.js"
Blocks #2106

[code]

[2018-02-16 21:08] miketaylr opened #2124 "Fix user-activity-non-auth.js"
Blocks #2106.

[code]

[2018-02-16 21:59] magsout commented on #2099
@karlcow if screen > 960px:

![capture d ecran 2018-02-16 a 22 58 48](https://user-images.githubusercontent.com/1997108/36331157-004c96bc-136d-11e8-9a33-b844d1b947c1.png)

[2018-02-16 22:09] miketaylr commented on #2092
It shouldn't even redirect or reload the page. It should re-render the template.

[2018-02-16 22:10] miketaylr commented on #2108
This is blocked on https://github.com/webcompat/webcompat.com/issues/2092, the last test is failing because commenting is just broken.

[2018-02-16 22:14] miketaylr commented on #2104
Makes sense, this is a useful behavior that GitHub has.

[2018-02-16 22:16] miketaylr commented on #2092
The `?image` likely comes from the image upload input which has `name=image`. But we shouldn't be doing a form submission, this is supposed to be handle by XHR.

[2018-02-16 22:21] miketaylr opened #2128 "Image upload button too big for issue page"
For the issue page, we don't show any previews or anything, we just have a regular "button" you click to select an image, then it's path is put in the comment textarea.

Old:
<img width="830" alt="screen shot 2018-02-16 at 4 20 35 pm" src="https://user-images.githubusercontent.com/67283/36331886-606b9832-1335-11e8-8f20-fe204cb669bd.png">

New:
<img width="616" alt="screen shot 2018-02-16 at 4 20 4

[2018-02-16 22:37] miketaylr commented on #2092
This is what broke it: https://github.com/webcompat/webcompat.com/pull/2039/files#diff-1135c93681edf8952cb4ffe7b89d83b1R1

If you just change a div to a form without preventing the default form action, bad things will happen. I'll fix this in #2108.

[2018-02-16 22:37] #2092 closed

[2018-02-16 23:09] #2109 closed

[2018-02-16 23:12] miketaylr opened #2134 "Issue page flash of unstyled content"
STR: go to an issue page on staging.webcompat.com. that's it.

Before we attempted to fade everything in once content was ready, now it does this:

![fouc](https://user-images.githubusercontent.com/67283/36333434-8bb7ca04-133c-11e8-84a3-895fe59000d7.gif)

[2018-02-17 18:18] miketaylr commented on #2077
Yep, looks good, @karlcow.

[2018-02-17 19:43] #2124 closed

[2018-02-17 22:57] #2112 closed

[2018-02-17 22:58] #2123 closed

[2018-02-17 22:58] #2111 closed

[2018-02-17 22:59] #2122 closed

[2018-02-17 23:14] #2121 closed

[2018-02-17 23:15] #2116 closed

[2018-02-17 23:15] #2117 closed

[2018-02-17 23:15] #2113 closed

[2018-02-17 23:25] #2114 closed

[2018-02-17 23:38] #2115 closed

[2018-02-17 23:39] #2118 closed

[2018-02-17 23:41] miketaylr commented on #2119
This got fixed... by something else.

[2018-02-17 23:41] #2119 closed

[2018-02-18 07:28] magsout commented on #2110
@miketaylr What I have done:

https://gist.github.com/magsout/3d2cb9d61feea65367039c5afb0b5258/revisions

But I don't understand the last error:

[code]

For me the selector is ok and should be working

[code]

thought?

[2018-02-18 15:45] #2120 closed

[2018-02-18 15:51] miketaylr commented on #2110
@magsout if you try the following in the console:

`postMessage("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAIAAABLixI0AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3gYSAig452t/EQAAAClJREFUOMvtzkENAAAMg0A25ZU+E032AQEXoNcApCGFLX5paWlpaWl9dqq9AS6CKROfAAAAAElFTkSuQmCC", "http://localhost:5000")`

(what the test does)

You can see the remove button is not displayed.... so something broke here. 😕

[2018-02-18 16:01] miketaylr commented on #2110
@magsout I think it's something to do with

[code]

In ` this.showRemoveUpload`, we do `removeBanner.removeClass("is-hidden");`, but it has that `label-remove` class. So it's still hidden after that? Confusing to me that it works if you click on the upload thing manually.

But, we need to fix this -- otherwise Firefox users won't be able to remove screenshots. Let me know if you get stuck trying t

[2018-02-18 16:05] miketaylr commented on #2107
Oh wait, @karlcow already wrote those unit tests. I'll just delete the file.

[2018-02-18 16:08] #2107 closed

[2018-02-19 08:11] magsout commented on #2110
@miketaylr even if postMessage manualy the postMessage, I get this:

![capture d ecran 2018-02-19 a 09 04 27](https://user-images.githubusercontent.com/1997108/36367814-ad086104-1554-11e8-8c2d-9a24ce7a9713.png)

![capture d ecran 2018-02-19 a 09 04 32](https://user-images.githubusercontent.com/1997108/36367818-b1592b1c-1554-11e8-9ac4-2f63b5fa7370.png)

![capture d ecran 2018-02-19 a 09 04 37](http

[2018-02-19 08:16] softvision-oana-arbuzov commented on #2098
This issue is reproducible also on mobile app.
![screenshot-1519027872140](https://user-images.githubusercontent.com/12184325/36367859-418b3fd8-155d-11e8-81ee-4004a91ded62.jpg)

Affected area:
[code]

Modifying the `position` from `absolute` to `relative`, the "Search" bar becomes visible.
[code]

![screenshot-1519028147789](https://user-images.githubusercontent.com/12184325/36367977-d20450a4-155d

[2018-02-19 08:50] softvision-oana-arbuzov opened #2146 "Top menu on "Contributors" page should be fully highlighted and separated"
URL: https://staging.webcompat.com/contributors
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile), Chrome 64.0.3282.137 (Mobile).
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/contributors
    2. Observe top menu layout.

**Expected Behavior:**
    The white highli

[2018-02-19 09:00] softvision-oana-arbuzov opened #2147 "Issues with long titles exceed the allocated space"
URL: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=closed&sort=created&direction=desc
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile)
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=closed&sort=c

[2018-02-19 09:15] softvision-oana-arbuzov commented on #2071
Also reproducible on Mobile.
![screenshot-1519031717237](https://user-images.githubusercontent.com/12184325/36370032-27e278b8-1566-11e8-9e0f-7d05b0c217b6.jpg)

Affected area:
[code]

**Tested with:**
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile), Chrome 64.0.3282.137 (Mobile).
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

[2018-02-19 09:25] softvision-oana-arbuzov opened #2148 "Missing padding between "Upload screenshot" area and the "Report" buttons"
URL: https://staging.webcompat.com
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile), Chrome 64.0.3282.137 (Mobile).
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com
    2. Tap "Report bug" button.
    3. Scroll down the page until "Upload screenshot" area.
    4. Obs

[2018-02-19 09:27] softvision-oana-arbuzov commented on #2148
Suggestion: Adding `padding-top` of 5px to
[code]

![screenshot-1519032432067](https://user-images.githubusercontent.com/12184325/36370540-d60a5e00-1567-11e8-8532-2f3c29bf3c17.jpg)

[2018-02-19 09:36] softvision-oana-arbuzov opened #2149 ""Description required/A valid URL is required" multiply when deleting the input"
URL: https://staging.webcompat.com
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile), Chrome 64.0.3282.137 (Mobile).
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com
    2. Tap "Report bug" button.
    3. Type in the "Site URL".
    4. Delete the input.
    5. Observe

[2018-02-19 09:44] softvision-oana-arbuzov opened #2150 "Error message should be with red colot"
URL: https://staging.webcompat.com
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile), Chrome 64.0.3282.137 (Mobile).
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com
    2. Tap "Report bug" button.
    3. Type in the "Site URL".
    4. Delete the input.
    5. Observe

[2018-02-19 09:47] softvision-oana-arbuzov commented on #2150
Suggestion: Adding `color: rgb(255, 0, 0);` to
[code]
![screenshot-1519033639359](https://user-images.githubusercontent.com/12184325/36371391-9e47e23c-156a-11e8-9bad-e2c5603a2b65.jpg)

[2018-02-19 10:06] softvision-oana-arbuzov opened #2151 ""Report Anonymously" button background color becomes invisible after typing all form information"
URL: https://staging.webcompat.com
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile)
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com
    2. Tap "Report bug" button.
    3. Type in all required information.
    4. Observe "Report Anonymously" button.

**Expected Behav

[2018-02-19 10:09] zoepage commented on #2066
dub #2079

[2018-02-19 10:09] #2066 closed

[2018-02-19 10:10] zoepage commented on #2069
fixed by #2129

[2018-02-19 10:10] #2069 closed

[2018-02-19 10:12] zoepage commented on #2070
Thanks Adam, you are 100% right!

This link can be changed here: https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/home-page/how-it-works.html#L24

[2018-02-19 10:14] zoepage commented on #2071
Tested in various widths. Feel free to test again.

[2018-02-19 10:14] #2071 closed

[2018-02-19 10:18] zoepage commented on #2074
This is definitely a bug that needs to be fixed.

Definitely. Do you feel this has a high prio or could be split the two issues?

[2018-02-19 10:19] zoepage commented on #2076
So, this is 100% about position of the dropdown, correct? :)

[2018-02-19 10:32] softvision-oana-arbuzov commented on #2073
Reproducible also on Mobile.
Note: this issue is reproducible also on webcompat.com site.
![screenshot-1519035397436](https://user-images.githubusercontent.com/12184325/36372780-bd7a677a-156e-11e8-937a-8a30cf4db022.jpg)

Affected area:
[code]

Field input:
[code]

**Tested with:**
Browser / Version: Firefox Nightly 60.0a1 (2018-02-18) (Mobile)
Operating System: Google Pixel (Android 8.0.0) - 1080

[2018-02-19 10:43] zoepage commented on #2077
@miketaylr So, you suggesting widening the grid for screens over e.g. 1400px or just reducing the height of the hero section (yellow section with the bug)? Just so I understand it correctly. :)

[2018-02-19 10:45] zoepage commented on #2082
I'd suggest to give it a week or two as this issue came up before a few times, but it turned out it was basically just needed a moment of adjustment for them. After people got used to it, it didn't matter anymore.

Happy to discuss this in a bit again.

[2018-02-19 10:46] softvision-oana-arbuzov opened #2152 ""You were successfully logged out." message overlaps the top actions bar buttons"
URL: https://staging.webcompat.com/
Browser / Version: Firefox Nightly 60.0a1 (2018-02-16), Chrome 64.0.3282.167
Operating System: Windows 10 Pro

Steps to Reproduce:
1. Navigate to https://staging.webcompat.com
2. Click "Login" button and sign in with valid credentials.
3. After sign is is performed successfully, click "Logout".
4. Observe message displayed.

Expected Behavior:
An overlay is disp

[2018-02-19 10:46] zoepage commented on #2079
fixed my #2131

[2018-02-19 10:46] #2079 closed

[2018-02-19 11:09] zoepage commented on #2080
Thanks for the feedback @miketaylr. I can see the issue you're having.

@karlcow As every padding / margin has a purpose and groups specific elements to guide the user through the content, your suggestion would not work as the filter would suddenly appear as a 1st grade element, but it is a supporting one for the content (which means, the site would still work without it, so 3rd grade element).

W

[2018-02-19 11:12] zoepage commented on #2081
Thanks Adam. This is definitely a bug. The buttons should take the full width when they don't fit next to each other.

[2018-02-19 11:13] zoepage commented on #2083
We have the slack channel already and we used it also for the sprints. If we want to get more contributors and especially a more diverse (= skill set, experience level) crowd of people, I do not see a way around this.

[2018-02-19 11:15] zoepage commented on #2084
I'd be interested in the reason for this. :)

[2018-02-19 11:17] zoepage commented on #2086
Cool! I think, this is a really good idea.
Feel free to gather the content and send a PR. :)

[2018-02-19 11:20] zoepage commented on #2087
I disagree, as scrolling will get annoying on some pages where we have a lot of content.
A solution could be to have a combination of both: http://hood.ie/

[2018-02-19 11:33] zoepage commented on #2088
1. The index will get a quick link section like following to direct people to the ways of contributing:
<img width="1387" alt="screen shot 2017-11-27 at 2 57 38 pm" src="https://user-images.githubusercontent.com/562354/36375365-54da13d6-156f-11e8-81a4-394f6e16729a.png">

2. One of the identified issues, why contributors do not stick around or don't contribute in first place is the not transparent

[2018-02-19 11:41] zoepage commented on #2094
That div seems like a left-over and should be removed.
It can be found here:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/templates/layout.html#L39-L42

[2018-02-19 11:43] zoepage commented on #2095
Interesting!
The comment gets posted, but can be viewed after the reload.
https://staging.webcompat.com/issues/1372?image=

[2018-02-19 11:45] zoepage commented on #2097
Thanks for the hint. This is good to know.

[2018-02-19 11:51] zoepage commented on #2104
@karlcow You mean in the issue detail page as it works in the issue list?

[2018-02-19 11:55] zoepage commented on #2098
This module needs fixing in responsive mode. I'll assign myself.

[2018-02-19 11:56] zoepage commented on #2099
The view as reported is actually a feature. We can add a filter icon to it, so we can toggle the visibility, if this would improve the experience.

[2018-02-19 12:09] karlcow commented on #2104
yes, but not a comment part of the refactor. This is a bug which exists on the current design.
<img width="308" alt="capture d ecran 2018-02-19 a 21 09 04" src="https://user-images.githubusercontent.com/505230/36377117-295bda56-15b9-11e8-8bb4-0b36d2b85c7d.png">

[2018-02-19 12:20] karlcow commented on #2084
@zoepage This is a term which has no meaning in the 4+ years of the project. It was created from my understanding during the Berlin sprint as a twitter joke and it has been used during in talks. The same way that @miketaylr used "can of worms", etc. These are funny transitional jokes, and they are cool because they are just that. They don't belong on the site itself.

[2018-02-19 12:27] karlcow commented on #2095
It's not: Try this for example.

[code]

[2018-02-19 12:31] softvision-oana-arbuzov opened #2153 "Redirect is not performed when clicking "Popular labels" from a search that returned no results"
URL: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
Browser / Version: Firefox Nightly Mobile 60.0a1 (2018-02-18), Firefox Nightly Desktop 60.0a1 (2018-02-16), Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Rep

[2018-02-19 12:40] zoepage commented on #2100
The hover changes the button + label to yellow, but I can see the issue.

Options we have:
- add a light shadow to the dark button + label and a dark one to the yellow.
- add opacity of e.g. 0.7 to the image preview
- add an overlay to the image preview

Which ones would you prefer?

[2018-02-19 12:40] softvision-oana-arbuzov opened #2154 "Same color displayed for all "Popular labels" from a search that returned no results"
URL: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
Browser / Version: Firefox Nightly Mobile 60.0a1 (2018-02-18), Firefox Nightly Desktop 60.0a1 (2018-02-16), Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Rep

[2018-02-19 12:42] karlcow commented on #2083
Yes there is. We can decide that we would not have a slack channel and live with it. That's a choice. I understand the appeal of the "new" tools and the generational impact to it. When the Webcompat IRC channel started, there was barely 5 persons on it on a daily basis. There are more than 65 people right now as I write this. People come and go. They contribute for a while, disappear or stick arou

[2018-02-19 12:47] zoepage commented on #2101
I don't think adding a different background is the solution here as this is not easy on the eye and will take away the focus of the other parts of the form.

A good solution here could be to increase the whitespace between the inputs / textarea as well the line-height in the textarea.

Would this solve the issue?

[2018-02-19 12:49] zoepage commented on #2102
We had this discussion here already: https://github.com/webcompat/webcompat.com/issues/1278#issuecomment-275170978

I'll close this as a dup and lets take the conversation there.

[2018-02-19 12:49] #2102 closed

[2018-02-19 12:50] zoepage commented on #2104
I think, this is a good idea and we should add this feature.

So, the click on the label would direct to the `issue-list` with search params for the label or milestone.

[2018-02-19 12:54] karlcow commented on #2100
Probably the remove upload should not be on top of the image at all.
That was the sense of the issue of #2055 if I understood.
I would put the remove button either under the image preview, or just a "x" style button in the top right corner as we see in all sites now. That should cognitively ring a bell to people who sees that.

<img width="782" alt="capture d ecran 2018-02-19 a 21 53 14" src="http

[2018-02-19 12:54] zoepage commented on #2128
We can make the section smaller, but I'd like to stick with the re-use of the upload component as this is consistent UX. Is there anything we need also to think about except of the size of the upload section?

[2018-02-19 12:56] zoepage commented on #2134
This is the issue, we are talking about: https://staging.webcompat.com/issues/200

Just to make sure, I get this right. You are speaking about the jump, right?

[2018-02-19 12:58] zoepage commented on #2146
This needs to be fixed. I'll assign myself.

[2018-02-19 13:00] zoepage commented on #2148
Related to #2081

[2018-02-19 13:01] zoepage commented on #2149
Uh, cool! A feature! :D
Related to #2074 && needs fixing.

[2018-02-19 13:04] zoepage commented on #2152
The background color is missing here, which would be added by the class `notification-info`
.

[2018-02-19 13:06] zoepage commented on #2154
We changed the colour coding of the labels with the intent to group them by `browser`, `type` etc.
So, is this just changed behaviour and not a bug. :)

[2018-02-19 13:06] #2154 closed

[2018-02-19 13:06] karlcow commented on #2101
Just to be sure we understood each other. I have written (after fixing grammar)

And I added the background-color **because it was not easy** on my eyes. 😁 Getting old here 🤓 eyesight getting low and contrast helps. Accessibility, my love.

I don't know let me try. Opening devtools. marginally better by overblowing it. 😕 and not really pleasing.

<img width="956" alt="capture d ecran 2018-02-19 a

[2018-02-19 13:08] softvision-oana-arbuzov opened #2155 "Layout becomes messed up after reporting an issue"
URL: https://staging.webcompat.com/
Browser / Version: Firefox Nightly Mobile 60.0a1 (2018-02-18), Firefox Nightly Desktop 60.0a1 (2018-02-16), Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/
2. Tap "Report bug

[2018-02-19 13:12] karlcow commented on #2101
ahah. And sorry just realized that I used a Frenchism which might be misinterpreted.

refers to http://www.imdb.com/title/tt0052893/ Hiroshima mon amour. Feeling dumb suddenly.

[2018-02-19 13:13] zoepage commented on #2084
The main reason for creating this term as well as going on with this is to create a term for a group, so people can relate to it and feel like they belong. It also makes identifying other peers of your "group" easier.

Other existing examples are:
- Pythonistas (Python community)
- Gophers (Go community)
- Documentarians (Docs community)
- Rustaceans (Rust community)
- Hoodies (Hood.ie community)

[2018-02-19 13:20] karlcow commented on #2084
Then let it grow and they will own it (they, the community if there is a strong one. Grassroot style. The mass will decide), no need to force it down.

[2018-02-19 13:20] zoepage commented on #2100
This creates the same issue with visibility as the one right now as this is also on the image.

So, I'd say we go back to the 3 suggestions above.

[2018-02-19 13:21] zoepage commented on #2084
The term already got really positive feedback and is something people enjoy adapting. I guess, this happened then already.

[2018-02-19 13:29] softvision-sergiulogigan opened #2156 "Cursor doesn't change when hovering over the "previous" and "next" buttons"
**Environment:**
Browser / Version: Chrome 64.0.3282.167 (Desktop), Firefox Nightly 60.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
2. Hover over the "previous" and "next" buttons.

**Expected Behavior:**
The cursor changes shape into a hand.

**Actual Behavior:*

[2018-02-19 13:41] zoepage commented on #2101
I agree. This was very inappropriate. I'd kindly ask you to remove this line from the comment.

[2018-02-19 13:54] softvision-oana-arbuzov opened #2157 ""Share on Twitter/"Share on Facebook" buttons should be available all the times for a reported issue"
URL: https://staging.webcompat.com/
Browser / Version: Firefox Nightly Mobile 60.0a1 (2018-02-18), Firefox Nightly Desktop 60.0a1 (2018-02-16), Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/
2. Tap "Report bug

[2018-02-19 13:59] zoepage commented on #2157
Those are the part of a thank you message, that still needs fixing.

[2018-02-19 14:00] #2157 closed

[2018-02-19 14:11] softvision-oana-arbuzov opened #2158 "Menu with all available labels/status is displayed truncated on Firefox Mobile"
URL: https://staging.webcompat.com/issues/1378
Browser / Version: Firefox Nightly Mobile 60.0a1 (2018-02-18)
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
1. Github account available and signed in.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/1378
2. Scroll down the page to "Labels" and "Status" sect

[2018-02-19 14:20] softvision-sergiulogigan opened #2159 "Close button is not centered"
**Environment:**
Browser / Version: Chrome 64.0.3282.167 (Desktop), Firefox Nightly 60.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/
2. Click on the upper Search button.
3. Observe the Search bar's Close button.

**Expected Behavior:**
Close button is centered.

**Actual Behavior:**
Close button is not centered.

**Notes:**
1. Screen ca

[2018-02-19 14:24] softvision-sergiulogigan opened #2160 "Search bar's padding is inconsistent between FF and Chrome"
**Environment:**
Browser / Version: Chrome 64.0.3282.167 (Desktop), Firefox Nightly 60.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/
2. Click on the upper Search button.
3. Observe the Search bar's padding.

**Expected Behavior:**
The Search bar's padding is consistent between Chrome and Firefox.

**Actual Behavior:**
The Search bar's p

[2018-02-19 14:26] softvision-oana-arbuzov commented on #2158
Suggestion: Modifying `left` to `10px` to `min-width` to `390px`, the menu becomes fully visible.
[code]
![screenshot-1519050332120](https://user-images.githubusercontent.com/12184325/36382418-819729b4-1591-11e8-8ea5-eaf92d381cba.jpg)

[2018-02-19 14:33] couci opened #2161 "When clicking on contribute it redirects to contributors"
When clicking on contribute it redirects to contributors
- that can be kind of misleading/confusing for people
- while checking which are the contributors is super cool (and can get people out of the confront zone) the call of action on "how to join" is not big enough

P.S @zoepage don't hate me too much, feel free to close this

[2018-02-19 14:39] softvision-oana-arbuzov opened #2162 ""Labels/status" menu is not triggered on Chrome Mobile&Desktop"
URL: https://staging.webcompat.com/issues/1378
Browser / Version: Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
1. Github account available and signed in.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/1378
2. Scroll down the page to "Labels" an

[2018-02-19 14:58] softvision-oana-arbuzov opened #2163 ""My activity" and "Logout" drop-down menu is not visible on Mobile"
URL: https://staging.webcompat.com/
Browser / Version: Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
1. Github account available and signed in.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/
2. Tap the arrow on the right side of the Github user.
3. Ob

[2018-02-19 14:59] softvision-oana-arbuzov commented on #2163
This issue is related to #2079.

[2018-02-19 15:07] softvision-sergiulogigan opened #2164 "Navigation bar incorrectly displayed when tapping the New Issue (Lightning) button"
**Environment:**
Browser / Version: Chrome 64.0.3282.137 (Mobile), Firefox Nightly 60.0a1 (Mobile)
Operating System: Android 7.0

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/
2. Tap the Contribute or All Issues button.
3. Tap the New Issue (Lightning) button.

**Expected Behavior:**
The Navigation bar is correctly displayed.

**Actual Behavior:**
The Navigation bar is thicker th

[2018-02-19 15:15] softvision-oana-arbuzov opened #2165 "Missing error handling when submitting an empty comment"
URL: https://staging.webcompat.com/issues/1378
Firefox Nightly Mobile 60.0a1 (2018-02-18), Firefox Nightly Desktop 60.0a1 (2018-02-16), Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
1. Github account available and signed in.

**Steps to Reproduce:**
1. Naviga

[2018-02-19 15:44] softvision-oana-arbuzov opened #2166 ""Leave a comment" text area should have a limit when minimized"
URL: https://staging.webcompat.com/issues/1378
Firefox Nightly Mobile 60.0a1 (2018-02-18),
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
1. Github account available and signed in.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/1378
2. Scroll down the page to "Comment" section.
3. Minimize the "Leave a

[2018-02-19 17:03] magsout commented on #2156
dupe of #2069
Fixed by https://github.com/webcompat/webcompat.com/pull/2129

[2018-02-19 17:03] #2156 closed

[2018-02-19 18:43] magsout commented on #2103
@zoepage is it enought https://github.com/webcompat/webcompat.com/pull/2143 ? Or we need something more ?

[2018-02-19 19:53] #2108 closed

[2018-02-19 21:02] zoepage commented on #2103
No, this is enough and got merged. :)

[2018-02-19 21:02] #2103 closed

[2018-02-19 21:03] zoepage commented on #2166
I think, this whole section needs work. :)

[2018-02-19 21:10] denschub commented on #2071
Looking great, thank you!

[2018-02-19 21:12] zoepage commented on #2159
dup #2098

[2018-02-19 21:12] #2159 closed

[2018-02-19 21:16] zoepage commented on #2164
This is definitely a bug that needs to be fixed. Thanks!

[2018-02-19 21:19] zoepage commented on #2163
This needs a different positioning for the other break points as they are missing right now.

[2018-02-19 21:20] zoepage commented on #2162
The positioning for the other breaking points are missing. This needs fixing. Thanks for reporting. :)

[2018-02-19 21:25] zoepage commented on #2158
The positioning for the other breaking points are missing. This needs fixing. Thanks for reporting. :)

[2018-02-19 21:26] zoepage commented on #2160
Related to #2098

[2018-02-19 21:33] zoepage commented on #2155
`thanks.jst` is not refactored yet. This is what is causing this issue.

[2018-02-19 21:44] zoepage commented on #2161
Thank you very much for the report @couci. :)

Your report is a duplicate of https://github.com/webcompat/webcompat.com/issues/2088 and I've suggested options here: https://github.com/webcompat/webcompat.com/issues/2088#issuecomment-366663296 Wanna jump over to that issue and join on the discussion there? That would be great! :)

[2018-02-19 21:44] #2161 closed

[2018-02-19 21:46] karlcow commented on #109
see #1638 for a simpler discussion/proposal about this.

[2018-02-20 06:23] karlcow commented on #2086
@zoepage thanks. Do you have a preferred way on where it should live and interact with other pages.

In the current contributors
@haseebgit is probably missing. He helped a lot in India to kick start webcompat

For Alumni, this would require to collect the bio of (at least).

* @hallvors
* @calexity
* @tagawa
* @cch5ng
* @deepthivenkat

@miketaylr Do you see other people?

[2018-02-20 06:34] karlcow commented on #2099
ah I see. I don't know if I'm the only one, but I often have my window under 960px on desktop. And in the current design that looks weird compared to the old one.

I often work like this (right window):
<img width="1080" alt="capture d ecran 2018-02-20 a 15 31 13" src="https://user-images.githubusercontent.com/505230/36410255-42ff2b8a-1653-11e8-87fd-826dac529bcb.png">

A long narrow window that I

[2018-02-20 08:40] zoepage commented on #2086
Thanks @karlcow

What we need is:
- short bio (max 250 chars)
- location
- 1-2 preferred links (e.g. twitter, web site etc., GH link will always be included)

[2018-02-20 09:28] zoepage commented on #2099
@karlcow

I'm not sure, if your comment refers to the suggested solution?

[2018-02-20 09:38] zoepage commented on #2164
I closed without adding the comment :D SORRY!
This is a dup of #1966

[2018-02-20 09:39] #1966 closed

[2018-02-20 10:10] softvision-oana-arbuzov opened #2169 "Incorrect alignment for sorting drop-down menus on Chrome"
URL: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
Browser / Version: Chrome Desktop 64.0.3282.167, Chrome Mobile 64.0.3282.137
Operating System: Window 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues?page=1&per_page=50&state=ope

[2018-02-20 10:28] zoepage commented on #2169
Interesting. Thanks for the report. :)

[2018-02-20 10:31] zoepage commented on #2074
This is related to #2149 and will be fixed with that issue.

[2018-02-20 10:39] zoepage commented on #2149
@softvision-oana-arbuzov
Could you please test `refactor` as I can reproduce on staging, but not locally?
That would be great. Thank you!

[2018-02-20 13:11] zoepage commented on #1933
we've merged this.

[2018-02-20 13:12] zoepage commented on #1517
this is fixed in refactor

[2018-02-20 13:12] #1517 closed

[2018-02-20 13:15] zoepage commented on #2032
What's the status of this issue? :)

[2018-02-20 13:27] zoepage commented on #1128
related to #740

[2018-02-20 14:35] mpaarating commented on #2067
Is this still an issue? I'm not able to reproduce the behavior in chrome or firefox.

[2018-02-20 14:40] softvision-sergiulogigan commented on #2067
@mpaarating try https://staging.webcompat.com/issues/138d in Chrome or Nightly.

![image](https://user-images.githubusercontent.com/16573771/36429969-b181e51c-165c-11e8-8c24-17a5732430d1.png)

[2018-02-20 14:47] mpaarating commented on #2067
I see it now. I was just using the wrong url :D I'll go ahead and snag this if its cool.

[2018-02-20 15:02] zoepage commented on #2067
Feel free @mpaarating :)

[2018-02-20 20:49] miketaylr commented on #2110
Let me steal this, I have a few hours. ❤️

[2018-02-20 21:05] miketaylr opened #2171 "Write functional tests for browser label search suggestion"
The refactor broke this for a while, which exposed the fact we don't have tests for it:

https://github.com/webcompat/webcompat.com/pull/2168

STR and Expected behavior were more elegantly written by @softvision-oana-arbuzov in https://github.com/webcompat/webcompat.com/issues/2153#issue-298259452:

[2018-02-20 21:07] miketaylr commented on #2171
This probably fits well as a new test in `tests/functional/search-auth.js`

[2018-02-20 21:15] miketaylr commented on #2086
This seems like a nearly complete list of "people who have made significant contributions in the past", just missing Misha I think. @adamopenweb anyone else?

[2018-02-20 21:34] #2075 closed

[2018-02-20 21:35] #2153 closed

[2018-02-20 21:35] #2147 closed

[2018-02-20 21:36] zoepage commented on #2086
For the record: Mesa would be @lockettm

[2018-02-20 21:38] adamopenweb commented on #2086
Also should be included:
@tsl143
@bslassey
@lmandel

[2018-02-20 22:13] karlcow commented on #2032
ok this still needs to be solved :)

[2018-02-20 23:09] miketaylr commented on #2084
I'm -1 on the term (I've already given that feedback to Ola a while back), mostly because wombat is already an npm thing: https://www.google.ca/search?q=npm+wombat

[2018-02-20 23:14] miketaylr commented on #2077
@zoepage in this bug, just reducing the height. But I think widening the grid for larger screens is also a good idea! #2078

[2018-02-21 02:52] karlcow commented on #2149
This is fixed!

@zoepage do you know what PR/commit has fixed it? so we can cross reference.

[2018-02-21 02:52] #2149 closed

[2018-02-21 07:06] softvision-sergiulogigan opened #2174 "Triage Dashboard layout is broken on Chrome"
**Environment:**
Browser / Version: Chrome 64 (Desktop), Firefox Nightly 60.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/dashboard/triage
2. Observe the "Older than 48h" issue cards layout

**Expected Behavior:**
The cards are correctly arranged.

**Actual Behavior:**
The cards laypout is broken.

**Notes:**
1. Screen capture attached.
2. The i

[2018-02-21 07:06] softvision-sergiulogigan commented on #2174
Ping @magsout and @karlcow for this one.

[2018-02-21 08:36] softvision-oana-arbuzov commented on #2153
Verified and the issue is no longer reproducible. Redirect is correctly performed.
- android: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=label%3Abrowser-android
- chrome: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=label%3Abrowser-chrome
- firefox: https://staging.webcompa

[2018-02-21 09:03] softvision-oana-arbuzov opened #2175 "Unable to use "Back" button after clicking between labels"
URL: https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=needsdiagnosis&sort=created&direction=desc
Browser / Version: Firefox Nightly 60.0a1 (2018-02-20) (Mobile&Desktop), Chrome 64.0.3282.137 (Mobile), Chrome 64.0.3282.167 (Desktop).
Operating System: Window 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Nav

[2018-02-21 09:43] zoepage commented on #2175
This is an old bug we never fixed? #793

[2018-02-21 10:14] zoepage commented on #2150
Disappearing issues. I like that! :D

[2018-02-21 10:15] zoepage commented on #2149
Cool! :) Thanks for re-checking! :)

[2018-02-21 13:58] mpaarating commented on #2067
Will do! Thanks!

[2018-02-21 16:18] miketaylr commented on #2067
Not crazy! Staging is based on the `refactor` branch, while production is the `master` branch.

[2018-02-21 17:03] mpaarating commented on #2067
@miketaylr Good to know! Thanks!

[2018-02-21 17:37] magsout commented on #2174
thanks @softvision-sergiulogigan

[2018-02-21 17:43] magsout commented on #2174
I'm not able to reproduce this issue:

![capture d ecran 2018-02-21 a 18 41 48](https://user-images.githubusercontent.com/1997108/36495911-0019735e-1737-11e8-98fa-cff3dfa2505c.png)

@karlcow do you?

[2018-02-21 19:41] miketaylr opened #2178 "Missing screenshot when reporting issue via Report Site Issue"
STR:

1. go to about:config, change `extensions.webcompat-reporter.newIssueEndpoint` to
`https://staging.webcompat.com/issues/new`
2. go to a webpage, click "Report Site Issue" from page actions meatballs

Expected: get a screenshot w/ preview
Actual: don't

<img width="1793" alt="screen shot 2018-02-21 at 2 40 53 pm" src="https://user-images.githubusercontent.com/67283/36501495-3cb3dd08-1715-11e8

[2018-02-21 19:44] #2067 closed

[2018-02-21 20:50] zoepage commented on #2174
Can't reproduce either. 🤔

[2018-02-21 21:37] miketaylr opened #2181 "Remove travis branch build restrictions"
https://github.com/webcompat/webcompat.com/blob/master/.travis.yml#L5-L6

I think it's harmful that we're not building PRs against other branches. Since it doesn't cost us anything, I think we should go back to building every PR.

WDYT @zoepage? @denschub?

[2018-02-21 23:02] karlcow commented on #2174
not enough issue to reproduce currently.

[2018-02-21 23:04] denschub commented on #2181
My reasoning behind initially building only the master branch were outlined in #1909. We had known failures in the refactor branch, which caused a lot of emails whenever someone opened a PR against that, which was kind of annoying.

I don't think it is really harmful not to build PRs for all branches by default, especially since this is a thing that usually should not even happen. PRs should alway

[2018-02-21 23:04] denschub commented on #2181
Also, I totally did not mean to close this issue. Sorry for that.

[2018-02-22 04:05] mpaarating commented on #2061
I got this one. Just to clarify task 4, the generated sprite should replace the svg-icons.html (keeping the `is-hidden` class though)

[2018-02-22 05:18] magsout commented on #2174
@zoeoage thanks

@karcow I tried locally because yeah you work too fast so not enought issues ;)

[2018-02-22 07:31] karlcow commented on #2032
@magsout we haven't solved this one yet.

[2018-02-22 07:44] softvision-sergiulogigan commented on #2174
well, well, well!

Broken:
![image](https://user-images.githubusercontent.com/16573771/36525918-cae1d298-17b4-11e8-9da2-e1d6841c7a06.png)

Unbroken, on a fresh new Chrome profile:
![image](https://user-images.githubusercontent.com/16573771/36525937-d768d7d2-17b4-11e8-89e6-279e60bd01de.png)

I have a few add-ons, but none related to how a webpage is rendered (apart from uBlock Origin). However, dis

[2018-02-22 07:53] zoepage commented on #2061
@mpaarating yes. That sounds about right :)

[2018-02-22 07:55] softvision-sergiulogigan commented on #2174
Clearing cookies and a bunch of other stuff, solved the issue.

[2018-02-22 07:55] #2174 closed

[2018-02-22 07:55] karlcow commented on #2032
Right now in the data, we send to the templates: `priority: True` or `False`.

Ah waiiiiiiit… just understood the misunderstanding!!!
ahah.

@miketaylr this Priority is not the priority you think.

https://github.com/webcompat/webcompat.com/blob/82f1e7fb8cb40678ed77c4727054f035e241957e/webcompat/dashboard.py#L28-L29

This priority is the issue is older than 48h. :)

ok let's turn this into a propo