[2019-10-23 21:34] miketaylr commented on #3026
A cookie is set, and the max age is correct. It's just always set to `form-v1`, which makes me think we're just reading hard-coded defaults for some reason.

[2019-10-23 21:37] karlcow commented on #3024
[code]

[2019-10-23 21:38] miketaylr commented on #3024
We set the handler on the homepage here: https://github.com/webcompat/webcompat.com/blob/5e14037d0a0e19c977569c47b3e676fee09a3325/webcompat/static/js/lib/homepage.js#L50-L66

[2019-10-23 21:50] karlcow commented on #3024
https://github.com/webcompat/webcompat.com/commit/220d5c30b2d88705775ec9371cc50a57f3954341

[2019-10-23 23:45] #3024 closed

[2019-10-23 23:46] karlcow commented on #3024
This is fixing an issue introduced by #2896 for solving #2268

[2019-10-24 00:05] karlcow commented on #3016
What @miketaylr said:

For a set of 7 browsers, let's say:  `{A, B, C, D, E, F, G}`
* If you are testing, with browser A, then the proposed icons list should be `{B, C, D, E, F, G}`
* if you are testing, with browser C, then the proposed icons list should be `{A, B, D, E, F, G}`

etc.

[2019-10-24 10:57] johngian commented on #3026
Trying to reproduce this with uwsgi locally

[2019-10-24 11:53] johngian commented on #3026
Its the `'` in the env definition in the wsgi ini. Can you try the same without `'`:
[code]

[2019-10-24 15:54] miketaylr opened #3029 "Mobile viewport submit button layout visual issue"
Depending on the viewport width, this button looks wonky. The first is on my Pixel 3 phone, the second is resizing the browser.

![Screenshot_20191024-104944](https://user-images.githubusercontent.com/67283/67502879-3e056880-f64c-11e9-81bf-6392676ca854.png)

![Screen Shot 2019-10-24 at 10 52 44 AM](https://user-images.githubusercontent.com/67283/67502977-760cab80-f64c-11e9-9c02-ce33dca0de29.png)

[2019-10-24 15:56] miketaylr commented on #3026
oof. Thanks. :)

[2019-10-24 15:56] #3026 closed

[2019-10-24 16:15] miketaylr opened #3030 "Provide a way to expire experiment cookie"
Worst case scenario, we need a way to expire the `exp` cookie (by setting expiry to some date in the past) for users enrolled in the experiment.

[2019-10-24 16:17] miketaylr opened #3031 "Update privacy policy to document experiment cookies"
This should probably block.

[2019-10-24 18:25] #3031 closed

[2019-10-24 18:43] miketaylr opened #3033 "400 when trying to file an issue from staging"
I just deployed [version 21.0.1](https://github.com/webcompat/webcompat.com/commit/93cf30cd196b55d3190dfc997afcd5146680d192) to staging.

STR:

1. go to staging.webcompat.com, click "Report Bug" from the homepage.
2. fill in some details, click Report Anonymously

Expected: new bug
Actual: Yikes! Bad Request. (400)

[2019-10-24 18:45] miketaylr commented on #3033
If I report via staging.webcompat.com/issues/new, the report works. But if I report from the homepage form it throws.

[2019-10-24 18:49] miketaylr commented on #3033
Out of paranoia, I filed https://github.com/webcompat/web-bugs/issues/43036 on production using the STR.

[2019-10-24 18:51] miketaylr commented on #3033
On local dev I just filed https://github.com/webcompat/webcompat-tests/issues/2007.

[2019-10-24 19:00] miketaylr commented on #3033
[code]

[2019-10-24 19:14] miketaylr commented on #3033
I'm not really sure what's happening here. Logs don't show anything interesting on staging (but also, don't really show much...). A hacky solution: just make the button link to `/issues/new`, which I think was the plan anyways.

But it makes me nervous to not know what's up.

[2019-10-24 20:02] miketaylr commented on #3033
If I deploy from a local branch I do get `Oct 24 19:55:12 staging-server webcompat-staging: [2019-10-24 19:55:12,849] INFO in views: Invalid issue form request`.

[2019-10-24 20:22] miketaylr commented on #3033
`submit_type` is empty for some reason.
![Screen Shot 2019-10-24 at 3 21 58 PM](https://user-images.githubusercontent.com/67283/67522262-0ad5d000-f672-11e9-850e-9651ca386880.png)

[2019-10-24 20:39] miketaylr commented on #3033
uh, lol. I think bugform.js is just missing from the home page.

[2019-10-24 20:40] miketaylr commented on #3033
Yep. :) https://github.com/webcompat/webcompat.com/blob/30f8d47b06ff62693c660dbc554a170253136634/grunt-tasks/concat.js#L40

[2019-10-24 20:54] miketaylr opened #3034 "Remove form from homepage"
When you go to webcompat.com and click "Report Bug" it should just take you to `/issues/new`. No need for animation, or including the form, or code, etc.

Related to the AB experiment, but I think a nice default regardless of what happens there.

[2019-10-24 21:06] #3033 closed

[2019-10-25 04:48] #3009 closed

[2019-10-25 10:36] mcroud opened #3038 "Text fields do not have correct focus and valid styling [form v2]"
The styling demo presented focus and validated styling for text fields:

<img width="1276" alt="Screenshot 2019-10-25 at 11 27 37" src="https://user-images.githubusercontent.com/42435754/67564235-783d3b80-f71a-11e9-9006-9d07cec2c6f1.png">

![Untitled5](https://user-images.githubusercontent.com/42435754/67565172-ade32400-f71c-11e9-9a26-6ffcf9365386.gif)

The correct styles are the following:

**Val

[2019-10-25 11:19] cipriansv opened #3039 "Error message not displayed after validating input with the keyboard's "Enter" key"
*Environment:*
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Ubuntu 18.04.3 LTS

*Steps to Reproduce:*
1. Navigate to https://staging.webcompat.com/issues/new
2. Reach the “Please enter the URL” input field.
3. Type “www” in the field.
3. Press the keyboard’s “Enter” key.

*Expected Behavior:*
“A valid URL is required.” error message is displayed above the input field.

[2019-10-25 11:32] softvision-oana-arbuzov opened #3040 "Only protocol identifier is accepted as valid URL"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Type in the URL only the protocol identifier (e.g “http:”, “https:”).
    3. Observe behavior.

**Expected Behavior:**
URL is not accepted (no green check-mark) and “Confirm”

[2019-10-25 11:39] cipriansv opened #3041 ""Device" term is used when "OS" term is more appropriate"
*Environment:*
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Ubuntu 18.04.3 LTS

*Steps to Reproduce:*
1. Navigate to https://staging.webcompat.com/issues/new
2. Fill in the form and reach the ”Did you encounter the issue on this device (Linux)”… section
3. Observe the section’s question.

*Expected Behavior:*
 ”Did you encounter the issue on this OS (Linux) using this b

[2019-10-25 11:56] cipriansv opened #3042 "A browser name containing only space characters is validated"
*Environment:*
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Ubuntu 18.04.3 LTS

*Steps to Reproduce:*
1. Navigate to https://staging.webcompat.com/issues/new
2. Fill in the form and reach the ” What browser were you using when the issue encountered?” section.
3. From the “Browser” input field delete the pre-populated browser name.
4. Type a few space characters and pres

[2019-10-25 12:02] softvision-oana-arbuzov opened #3043 "“Check-mark” remains displayed while “Browser/Device” fields are empty"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Fill in all required information until reaching “Did you encounter the issue on” area.
    3. Click “different device or browser” link.
    4. Delete the data from “Browser”

[2019-10-25 12:20] softvision-oana-arbuzov opened #3044 "“Site not usable” subsections become truncated while the browser page is minimized"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Type in the URL and select “Site is not usable” button.
    3. Minimize the page to half the screen.
    4. Observe the subsections buttons.

**Expected Behavior:**
No elemen

[2019-10-25 12:31] softvision-sergiulogigan opened #3045 "Non http url's are not allowed"
**Environment:**
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Fill in the URL field with www.pisicamare.com

**Expected Behavior:**
The field is validated.

**Actual Behavior:**
The field is not validated.

**Notes:**
1. Screenshot attached.

Watchers:
@softvision-sergiulogiga

[2019-10-25 12:37] softvision-oana-arbuzov opened #3046 "Allow browser multiple selection"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Fill in the requires information until reaching “Browser” selection area.
    3. Observe behavior after selecting one of the browsers in the list.

**Expected Behavior:**
Mul

[2019-10-25 12:49] softvision-sergiulogigan opened #3047 "There should be a <No> button added to the device/browser confirmation card"
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Follow the flow to the device/browser confirmation card.

**Expected Behavior:**
<Yes><No> buttons should be available.

**Actual Behavior:**
To confirm the device/browser, there's a button, but to overrite it, there's a link.

*

[2019-10-25 13:00] softvision-sergiulogigan opened #3048 "*.gif attachments are not displayed after bug submission"
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Attach a gif file to the report.
3. Send the report.

**Expected Behavior:**
The *.gif file is displayed correctly.

**Actual Behavior:**
The attachment is not displayed.

**Notes:**
1. Screenshot attached.

Watchers:
@softvisio

[2019-10-25 13:10] softvision-oana-arbuzov opened #3049 "Unsupported format error message should be displayed above the “Upload screenshot”"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Fill in the requires information until reaching “Upload screenshot” area.
    3. Drag and drop a valid image type on the “Upload screenshot” area (e.g jpg.)
    4. Drag and d

[2019-10-25 13:12] softvision-sergiulogigan opened #3050 "Multiple confirm clicks log multiple issues"
**Environment:**
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Follow the entire report flow.
3. Click multiple times on the "Send Report" button.

**Expected Behavior:**
The report is only sent once.

**Actual Behavior:**
The report is duplicated.

**Notes:**
1. Screenshot

[2019-10-25 13:29] softvision-oana-arbuzov opened #3051 "Unable to delete screenshot after dragging an invalid image type over it"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Fill in the requires information until reaching “Upload screenshot” area.
    3. Drag and drop a valid image file in the “Upload screenshot” area.
    4. Drag and drop an inv

[2019-10-25 13:37] softvision-sergiulogigan opened #3052 "The end of long URLs are overlapped by the checkmark"
**Environment:**
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Fill in the URL field with a long URL.

**Expected Behavior:**
The end of the URL is entirely visible.

**Actual Behavior:**
The last character of the URL is not visible.

**Notes:**
1. Screenshot attached.

Wat

[2019-10-25 13:55] cipriansv opened #3053 ""No file selected" message displayed after screenshot is confirmed"
*Environment:*
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Ubuntu 18.04.3 LTS

*Steps to Reproduce:*
1. Navigate to https://staging.webcompat.com/issues/new
2. Fill in the form and reach the screenshot uploading section.
3. Upload a screenshot.
4. Click the “Confirm” button.
4. Hover the uploaded screenshot.

*Expected Behavior:*
 “No file selected” message must not be

[2019-10-25 13:57] softvision-sergiulogigan opened #3054 "Automatic login is performed when reporting via GH"
**Environment:**
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Prerequisites:**
- Login to Webcompat.com via GH.
- Logout.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Follow the flow to log a new issue.
3. Click on the "Report via GitHub" button.

**Expected Behavior:**
The GitHub login page is opened.

**Actual B

[2019-10-25 14:02] softvision-oana-arbuzov opened #3055 "“Public” string is not very intuitive"
URL: https://staging.webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com/issues/new
    2. Fill in the requires information until reaching the end of the report.
    3. Click “Report Anonymously” button.
    4. Observe “Options GitHub username” area.

**Expected Be

[2019-10-25 14:04] softvision-sergiulogigan opened #3056 "The report page remains in limbo state after a Back navigation"
**Environment:**
Browser / Version: Firefox Nightly 72.0a1 (2019-10-24)
Operating System: Windows 10 Pro

**Prerequisites:**
- Use a new profile.

**Steps to Reproduce:**
1. Navigate to https://staging.webcompat.com/issues/new
2. Follow the flow to log a new issue.
3. Click on the "Report via GitHub" button.
4. Click on the browser's Back button.

**Expected Behavior:**
The report page is displaye

[2019-10-25 14:10] softvision-sergiulogigan opened #3057 "What should the Refresh behavior be?"
What should happen if a refresh action is performed on an already filled in report?

- [ ] Keep the already filled information and selected options
- [ ] Discard everything, and start a new report

[2019-10-25 15:33] miketaylr commented on #3043
This also reproduces on the current production form -- the green checkmark is visible until the user leaves the input:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L127-L131

[2019-10-25 15:34] miketaylr commented on #3020
Closing in favor of https://github.com/webcompat/webcompat.com/issues/3044

[2019-10-25 15:36] miketaylr commented on #3046
I think this is an interesting suggestion. Something we could add if we decide the form is sticking around.

[2019-10-25 15:41] miketaylr commented on #3049
This also reproduces on the current form, but I consider this a bug we should fix.

![Screen Shot 2019-10-25 at 10 38 36 AM](https://user-images.githubusercontent.com/67283/67584664-c13dc180-f713-11e9-9ef3-ee7bebb44022.png)

Probably we should just remove the existing valid image before displaying the error message (since it's confusing to show a valid thing and an error at the same time anyways).

[2019-10-25 16:32] miketaylr commented on #3051
This also reproduces in form v1, but the UI is slightly different ("delete this image" vs the little round X). We could fix this at the same time as https://github.com/webcompat/webcompat.com/issues/3049.

[2019-10-25 16:36] miketaylr commented on #3053
This also reproduces in the current form. I have no idea how we would fix this. :)

Nice find.

[2019-10-25 16:40] miketaylr commented on #3039
Note: this also reproduces in form v1.

@cipriansv just to clarify, you would expect Enter to navigate to the next input? (Similar to Tab?) Or just validate the text and not navigate between inputs?

[2019-10-25 16:42] miketaylr commented on #3050
You are a monster.

[2019-10-25 16:44] miketaylr commented on #3050
Yikes, what.

[2019-10-25 16:45] miketaylr commented on #3050
This one seems particularly bad @bacharakis. It does not reproduce in form v1.

[2019-10-25 16:47] miketaylr commented on #3041
Let's let @mcroud comment here.

[2019-10-25 16:49] miketaylr commented on #3042
Oops. Nice catch.

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L374-L381 is the place to start looking.

[2019-10-25 16:54] miketaylr commented on #3045
@softvision-sergiulogigan are you suggesting we should allow non-HTTP(s) URLs in the form?

I think that was the behavior a few years ago, but we moved to require http/https in https://github.com/webcompat/webcompat.com/issues/1508. I'm not sure I have strong opinions, but I think there are maybe implications on the server side.

[2019-10-25 16:57] miketaylr commented on #3047
This seems like good feedback for @mcroud.

[2019-10-25 16:58] miketaylr commented on #3048
@softvision-sergiulogigan was it an animated gif by chance? Can you link to the issue you reported? Also curious if this is a difference in behavior from form v1. (You can test that on the home page / animated form thingy)

[2019-10-25 17:02] miketaylr commented on #3052
This does not repro in form v1.

[2019-10-25 17:04] miketaylr commented on #3054
@softvision-sergiulogigan I think this is our current behavior in form v1 as well. What would you expect to happen in this situation?

[2019-10-25 17:08] miketaylr commented on #3056
To clarify: the previous state of the form is retained when clicking back.

This is also true for the form v1 -- it seems like the browser is holding on to form values to be nice. I think we could fix this if we wanted to.

[2019-10-25 17:10] miketaylr commented on #3057
Good question. I also filed https://github.com/webcompat/webcompat.com/issues/3018 which is similar in spirit.

Thoughts @mcroud?

[2019-10-25 17:12] miketaylr commented on #3055
Good feedback for @mcroud.

[2019-10-25 17:21] miketaylr commented on #3040
Discussion is relevant to https://github.com/webcompat/webcompat.com/issues/3045.

Thoughts @karlcow?

[2019-10-25 17:21] miketaylr commented on #3040
(We've gone back and forth before, so unless there is a strong argument to change behavior again, this is probably WONTFIX)

[2019-10-25 18:25] miketaylr commented on #3034
I believe this was proposed by @mcroud at some point related to the AB testing.

[2019-10-25 18:49] miketaylr opened #3058 "Remove Slack link"
Related to #2908

If you go to webcompat.com/contact and click on Join our Slack:

![Screen Shot 2019-10-25 at 1 48 19 PM](https://user-images.githubusercontent.com/67283/67596383-3b7b3f80-f72e-11e9-98e2-41fce97dcb01.png)

This service doesn't work, and we don't use Slack. So let's remove it.

[2019-10-25 18:53] miketaylr commented on #3045
Actually, I see we have a bug here: https://github.com/webcompat/webcompat.com/issues/2889.

Let's close in favor of that.

[2019-10-25 18:53] #3045 closed

[2019-10-25 18:54] miketaylr commented on #3040
Actually, let's close in favor of https://github.com/webcompat/webcompat.com/issues/2889

[2019-10-25 18:54] #3040 closed

[2019-10-25 19:24] miketaylr commented on #3058
Actually, while I'm messing with things, I'll just take this.

[2019-10-25 20:46] greenkeeper[bot] opened #3060 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.5.1` to `6.6.0`.

🚨 [View failing branch](https://github.com/webcompat/webcompat.com/compare/master...webcompat:greenkeeper%2Feslint-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **mig

[2019-10-27 22:04] #3034 closed

[2019-10-27 22:04] #3058 closed

[2019-10-28 02:32] karlcow opened #3061 "502 bad gateway for the new form."
@miketaylr

Deployed version `88e0c6fee6e3dc062fc6ee6c4676980c0e8b27a4`

when requesting `"GET /issues/new HTTP/2.0"`
with the cookie `exp=form-v2`

[code]

[2019-10-28 02:36] karlcow commented on #3061
It can be reproduced on localhost with
`document.cookie = 'exp=form-v2'`
through the console.

[2019-10-28 03:08] karlcow commented on #3061
The file has been sent to the server.

[code]

@miketaylr And my bad for not catching it when reviewing it.
The templates link has been modified but not the files.
https://github.com/webcompat/webcompat.com/commit/b82cd01d877b0a8358c7ef959df2aa87ec685afa

Grrmbl to deploy without tests.

[2019-10-28 06:45] cipriansv commented on #3039
@miketaylr, I expect that by striking the Enter key I would just validate the text and not navigate between inputs.

[2019-10-28 10:51] mcroud commented on #3041
This is a good observation, I suppose working on the mobile experience first biased my thinking towards "devices".

Holding up my phone I asked a family member what "device" it was, they responded "mobile phone", I then asked them what operating system it was, the response was "Google" - certainly more accurate as it's an Android.
I originally suspected that 'device' would appeal to a greater audi

[2019-10-28 11:07] mcroud commented on #3047
It is understandable to expect Yes/No actions for a Yes/No question.
The reasoning behind this was based on the understanding that most users will report from the device they are currently using ( @miketaylr - this came up fairly early in the discussions, is this something we can still confirm as true? )

In wanting to get users efficiently through the process I wanted to remove as much decision m

[2019-10-28 11:30] mcroud commented on #3057
I'll copy paste what I originally wrote in the handover document:

I was later informed that the actions of refresh and tab closure produce the same results and that it would be difficult to differentiate between the two scenarios. Therefore, given a situation where we either have to to save or discard, it was agreed that information should be discarded to prevent the remnants of a half completed

[2019-10-28 12:20] mcroud commented on #3055
No confusion was captured in usability testing but that doesn't mean it wasn't there.

I wonder if when given the correct styling the association with "public" and the field would be better understood:

<img width="352" alt="Screenshot 2019-10-28 at 12 13 49" src="https://user-images.githubusercontent.com/42435754/67677875-13cde680-f97d-11e9-9102-6e36c923b319.png">

I'm all for clarity however and

[2019-10-28 14:22] miketaylr commented on #3061
:(

Sorry for the extra work, @karlcow.

[2019-10-28 14:23] #3061 closed

[2019-10-28 14:52] johngian commented on #3050
I managed to reproduce this in form v1 as well. Should we try to fix it for all versions?

![image](https://user-images.githubusercontent.com/835321/67688961-51456a80-f9a3-11e9-8e43-1cb9f05410c0.png)

[2019-10-28 14:59] miketaylr opened #3063 "Clicking "Search" when on /issues/new from header does nothing"
I guess we broke this with the redesign, but only tested it on the homepage (where it currently is working).

https://github.com/webcompat/webcompat.com/blob/master/tests/functional/search-auth.js#L141-L171

[2019-10-28 21:32] miketaylr commented on #3060
This failing test is totally unrelated to eslint:

[code]

[2019-10-28 21:32] #3060 closed

[2019-10-28 21:35] miketaylr commented on #3050
Well, that's cool I guess. Not a new regression.

The good news is I don't think we've ever really seen this (at least, as a spam tactic). Should probs fix this everywhere (or just fix it once on the backend).

[2019-10-29 00:29] karlcow opened #3066 "site is not usable and options"
When selecting site is not usable.

<img width="1101" alt="Capture d’écran 2019-10-29 à 09 27 34" src="https://user-images.githubusercontent.com/505230/67727880-76cb8600-fa2e-11e9-99d0-f9af533eb24d.png">

The proposed choices are not compelling. (in this case this is a scrolling issue). So I guess I need to do something else, but I was hesitant to do it.

[2019-10-29 02:57] karlcow commented on #3009
FYI @miketaylr @johngian
https://whatsdeployed.io/s/Xqk/webcompat/webcompat.com

<img width="993" alt="Capture d’écran 2019-10-29 à 11 56 33" src="https://user-images.githubusercontent.com/505230/67733975-2ca0cf80-fa43-11e9-8471-10f97023db2c.png">

[2019-10-29 07:57] softvision-sergiulogigan commented on #3048
Hey @miketaylr

yep... https://github.com/webcompat/webcompat-tests/issues/2017

and this is another one
https://staging.webcompat.com/issues/2122 - new form
https://staging.webcompat.com/issues/2123 - old form

Looks like it's the same behavior on v1 as well...
Also, the uploaded gifs are pretty badly broken. They don't animate as they should. This is the gif used to test. You can compare this to

[2019-10-29 08:00] softvision-sergiulogigan commented on #3054
@miketaylr if a log out is performed from any page, it should remain that way, and not perform an auto-login without any confirmation from the user.

[2019-10-29 14:58] miketaylr commented on #3066
I guess the issue here is that not all possible options are covered, and if it doesn't match, you have to go back to Something else, right?

[2019-10-29 15:10] karlcow commented on #3066
yes my hesitation came that I thought I was already on the next step and I was not sure I could select the other options. :)

[2019-10-29 15:54] #3050 closed

[2019-10-29 16:50] webcompat-bot opened #3068 "webcompat.com - see bug description"
**URL**: https://webcompat.com/issues/new

**Browser / Version**:
**Operating System**: Android 7.1.2
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: impossible de me connecter à Messenger et message après avoir signalé
**Steps to Reproduce**:
Après signalement des dysfonctionnements liés à la connexion Messenger, voici le message reçu
[![Screenshot Description](h

[2019-10-29 17:17] miketaylr commented on #3054
OK, sounds reasonable to me. But we will need to re-think how to achieve this. Currently "logging in with GitHub" is really about obtaining OAuth permission from GitHub to do things on your behalf. Once you do that, you never really do it again (unless you revoke access, or the developer revokes access for everything) -- it's sort of a permanent permission state.

"Logged out" on webcompat.com doe

[2019-10-29 17:21] miketaylr commented on #3048
Thanks. We have some issues with GIF. The issues related to gif quality are probably covered in

#2785 and https://github.com/webcompat/webcompat.com/issues/2719#issuecomment-459218033

But not displaying a preview is not a known bug, I think. We could track that in this issue.

[2019-10-29 18:31] miketaylr commented on #3068
Note: this is expected behavior. But the question is... should it be allowed?

[2019-10-29 21:50] #3063 closed

[2019-10-29 22:04] karlcow commented on #3068
I would love to understand what where the steps to reach `market:` intent in the tab of the browser. Basically that's maybe the answer. if someone tries to report such an URI, the correct behavior would be to have a specific message asking to report the original URI where they started, because with only the `market:` we can't guess what happened.

[2019-10-30 01:18] karlcow commented on #3054
It could indeed create an issue on a shared computer model/environment (classroom). Someone files  an issue, someone logs out. Then the next person comes.

@miketaylr when the person is logged out. What about removing the user from session.db.

https://github.com/webcompat/webcompat.com/blob/55a196c64b0ae58a21251735c539af75869ee04f/webcompat/views.py#L111-L116

with `session_db.remove(user)` and `

[2019-10-30 02:05] karlcow commented on #3054
hmm delete authorization might not be a good idea either. Because if the person is logged in another context, we just removed it with this.

[2019-10-30 17:26] miketaylr commented on #3054
So far, we don't have evidence of a non-ninja bug hunter complaining about this behavior (which doesn't mean nobody has complained about it...). So, a valid bug, but probably low priority.

[2019-11-04 10:03] softvision-sergiulogigan commented on #3069
This is also broken on Windows.

[2019-11-04 18:27] #3049 closed

[2019-11-04 18:33] miketaylr commented on #3069
The search stuff should be fixed by https://github.com/webcompat/webcompat.com/pull/3064 -- we just need to deploy it. @tm45, what do you mean by "User" link?

[2019-11-04 18:38] miketaylr opened #3070 "Investigate 400s in webcompat.log"
Screenshot from @karlcow:

![Screen Shot 2019-11-04 at 12 37 59 PM](https://user-images.githubusercontent.com/67283/68147583-f4483800-feff-11e9-95b5-8c8f1472db20.png)

[2019-11-04 18:40] miketaylr commented on #3070
Note that we added the logging in https://github.com/webcompat/webcompat.com/blame/master/webcompat/views.py#L293, which was to fix https://github.com/webcompat/webcompat.com/issues/3033 -- an issue that in theory shouldn't be possible anymore.

[2019-11-04 18:41] miketaylr commented on #3070
Currently we have 73 of these, with the most recent happening today.

[2019-11-04 18:43] miketaylr commented on #3070
Let's land some more logging and see if anything comes up in the next few days.

[2019-11-04 19:30] bacharakis opened #3071 "Track form v2 perforance"
- Track page views
- Track interactions with the new form
- Understand how much time people spend and where they drop off

[2019-11-04 21:01] tm45 commented on #3069
Hello,

I mean the picture/icon at the top right corner.

[2019-11-05 09:35] annevk opened #3075 "OAuth grant unclear"
To "Authorize webcompat.com issues" it seems to need access to public repositories, which then also lists all organizations one is a member of, some which allow that and some which do not.

Even though it's probably fine, it did deter me from filing an issue.

(Happy to share the OAuth screenshot in private if this is unclear.)

[2019-11-05 21:09] #3071 closed

[2019-11-05 21:55] miketaylr commented on #3069
Thanks @tm45 -- can you please verify it's been fixed now? Thanks

[2019-11-05 22:00] miketaylr commented on #3075
Thanks @annevk -- yeah, I agree the current OAuth flow is crappy. #655 is probably the closest issue here. In a nutshell, GitHub doesn't provide an oauth scope just for filing issues (c.f. https://github.com/dear-github/dear-github/issues/113). It's possible there are improved ways of handling this, lots has changed in the intervening years.

[2019-11-05 22:00] miketaylr commented on #3075
(in the meantime, just file bugs anonymously -- no authorization needed)

[2019-11-06 05:22] tm45 commented on #3069
Hello.

Yes, it works now.

[2019-11-06 09:57] softvision-oana-arbuzov opened #3076 "Low character limit for “Description” text area"
URL: https://webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-11-05)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues/new
    2. Fill in the required information until reaching the issue description.
    3. Fill in with text until reaching the limit.

**Expected Behavior:**
[TBD] There is no character limit or the lim

[2019-11-06 12:39] softvision-oana-arbuzov opened #3077 "Selected browser info is not displayed in the final report"
URL: https://webcompat.com/issues/new
Browser / Version: Firefox Nightly 71.0a1 (2019-11-05)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues/new
    2. Fill in the required information until reaching browser selection section.
    3. Click any of the options (e.g “Safari”).
    4. Fill in the rest of the information and report the bug.

[2019-11-06 23:12] miketaylr commented on #3051
@softvision-oana-arbuzov could you verify that this is fixed on production please?

[2019-11-06 23:13] miketaylr commented on #3077
Similar to https://github.com/webcompat/webcompat.com/issues/3025, we can probably fix both at the same time.

[2019-11-07 00:07] #3076 closed

[2019-11-07 01:28] miketaylr commented on #3070
OK, that didn't result in anything useful.

[code]

Looking again at https://github.com/webcompat/webcompat.com/commit/5d728adde057b031e62bead4508bbffea0b5fe47#diff-23e0a36bbee957147173901eb77913cbR591-R597, I wasn't very clever.

If `parameters_check` is true, we'll never get any logs. So if `values_check` returned `False`, we'll never find out. I will send in a patch for review that will test th

[2019-11-07 04:11] karlcow commented on #3070
so…

when developing #2528
I had put this comment:

https://github.com/webcompat/webcompat.com/pull/2528/files#diff-23e0a36bbee957147173901eb77913cbR562

Probably the future is now.
And the future is testable.

[2019-11-07 12:15] webcompat-bot opened #3090 "webcompat.com - Fenix crash when attempting to attach a screenshot"
**URL**: https://webcompat.com/issues/new

**Browser / Version**: Firefox Preview 2.3.0
**Operating System**: Android
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: Firefox Preview crashes when trying to attach a screenshot
**Steps to Reproduce**:
Firefox Preview 2.3.0 (the latest version at the time of this report) crashes when trying to attach a screenshot.

<d

[2019-11-07 18:27] miketaylr commented on #3069
Thanks!

[2019-11-07 18:27] #3069 closed

[2019-11-07 18:28] miketaylr commented on #3055
I think if we fix the styling, it looks nice.

[2019-11-07 22:44] miketaylr commented on #3051
Actually, I just verified since I was testing something similar. This is working now.

[2019-11-07 22:44] #3051 closed

[2019-11-08 00:59] #3041 closed

[2019-11-08 18:54] miketaylr commented on #2945
4.6.0 is out now: https://github.com/webcompat/webcompat.com/pull/3082

[2019-11-10 03:46] miketaylr commented on #3070
OK, got one.

[code]

I think the logging of `submit_type` failed because it was an empty string, I forgot that `dict.get()` will happily return an empty string. So I'll investigate why that would be possible.

[2019-11-11 03:49] karlcow opened #3084 "Optimize the extra_labels code"
We discussed about the extra_labels in
https://github.com/webcompat/webcompat.com/pull/3012#discussion_r343485232

Probably there's a more elegant solution than the one we are using currently. It seems we are currently adding layers of conversion instead of handling the data properly at the start.

[2019-11-11 08:08] Th3S4mur41 opened #3085 "Browser detection recognizes Edge as Chrome"
In the issue form, the autofilled browser version when using Edge is Chrome.
The same issue is true for both Edge (Canary) on Windows as well as on Android.
While both Browser are based on the same Engine, different settings might lead to different behaviors.
So I think it would make sense to recognize Edge as such.

[2019-11-11 14:14] veemish commented on #3052
could I work on this bug as well?

[2019-11-12 02:17] #2985 closed

[2019-11-12 14:36] miketaylr commented on #2985
Nice work on this one, @ksy36!

[2019-11-12 16:11] #3052 closed

[2019-11-12 19:03] miketaylr commented on #3085
Thanks for the report @Th3S4mur41, I agree we should recognize Edge differently from Chrome.

[2019-11-12 19:06] miketaylr commented on #3085
It looks like a fix is already waiting to be merged at https://github.com/ua-parser/uap-core/pull/401

[2019-11-12 19:14] miketaylr commented on #3085
So the update is in uap-core 0.6.10, but currently uap-python is using 0.6.9: https://github.com/ua-parser/uap-core/compare/71ec72cd37a940683cd40af3f7ab738ecbdcc45b...286809e09706ea891b9434ed875574d65e0ff6b7

I filed https://github.com/ua-parser/uap-python/issues/78

[2019-11-12 22:17] miketaylr commented on #3070
Here's some more reports, which show somehow validation is failing and it's possible to report an issue without a `problem_category`:

[code]

**or** it shows some bot sucks at filing bugs. 🤖

I think we need to add some more logging to know which version of the form these are coming from.

[2019-11-12 22:34] karlcow commented on #3070
If there is a bot we can probably add the IP.

[2019-11-12 22:39] miketaylr commented on #3070
Good point. My gut feeling is the form v2 JS is somehow failing, given it's generally untested and complicated state. I've just sent in a PR to log out the experiment version, which would confirm that. If the errors show up in both branches, we can explore the bot theory more.

[2019-11-12 23:59] miketaylr commented on #3025
Here's the data that we post:

[code]

[2019-11-13 00:27] miketaylr commented on #3025
I guess we need to map between `problem_category` and one of 3 possible additional extra `foo_subcategory` lists, which may or may not be present.

There's:
* desktop site vs mobile site
* site is not usable
  * 7 different sub categories for this one
* design is broken
  * 4 subs for this one
* video/audio playback
  * 4 subs for this one
* something else
  * user writes it in here

I think we ca

[2019-11-13 00:29] miketaylr commented on #3025
Honestly I'm surprised we started the experiment without this issue being solved - the theory is that these additional subcategories help reporters file less invalid / more actionable issues. All the issues thus far don't have this context. 🤷‍♂ 🤷‍♀ 💩

[2019-11-14 14:45] softvision-oana-arbuzov commented on #3051
Indeed the issue is fixed both on staging and production. The valid image is removed after dragging the invalid image over. Adding a new valid image, "Delete" button become available.

**Tested with:**
Browser / Version: Firefox Nightly 72.0a1 (2019-11-12), Chrome 78.0.3904.97
Operating System: Windows 10 Pro

[2019-11-14 17:55] miketaylr commented on #3070
OK, we've got a few reports since this was deployed. So far the results are for either experiment branch, so that's good to rule out a new bug introduced in the wizard code.

I tested 5 of the IP addresses and they all end up on at least one blacklist via https://whatismyipaddress.com/blacklist-check. So it's possible these are bots. Sometime they show `missing param(s)? => {'problem_category'}`,

[2019-11-15 00:44] miketaylr opened #3087 "Issue Wizard validation for problem types and subtypes probably doesn't do what it should"
I can't see how the following elements are ever actually validated:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issue-wizard-bugform.js#L131-L161

It's possible there's a few others that aren't as well. For example, I was able to submit a request w/o a problem type and the server sent me a 400 (which is expected). It shouldn't be possible to even submit the form

[2019-11-15 01:47] #3077 closed

[2019-11-15 18:36] miketaylr commented on #3025
I'm overthinking this. And I learned that the information actually is sent but in the description formdata key. So I'll use this bug to also add the tested browsers bit.

[2019-11-16 16:09] miketaylr commented on #3090
To be reproduced, then likely file a bug against the Fenix repo.

[2019-11-17 18:41] ksy36 opened #3092 "add bugform-prefill.js to grunt-tasks concat"
When attempting to postMessage the form errors out since bugform-prefill.js is not included to the minified bundle

[2019-11-18 07:00] softvision-sergiulogigan commented on #3090
Probably https://github.com/mozilla-mobile/fenix/issues/6279

[2019-11-18 14:24] #3025 closed

[2019-11-18 16:41] #3092 closed

[2019-11-18 23:10] webcompat-bot opened #3094 "webcompat.com - see bug description"
**URL**: https://webcompat.com/

**Browser / Version**: Firefox 70.0
**Operating System**: Windows 10
**Tested Another Browser**: Yes

**Problem type**: Something else
**Description**: Clicking search should focus the input element
**Steps to Reproduce**:
Go to the main URL. Click "Search" and immediately start typing. Since the input element doesn't have focus it won't capture input. Probably sho

[2019-11-18 23:10] miketaylr commented on #3094
Agreed, we should fix this.

[2019-11-19 06:31] veemish commented on #3094
it does have a focus in chrome I tried to type and I could capture the words.  It also did work fine in Mozilla developer edition too. Or perhaps I am not on the correct page.

[2019-11-19 15:53] miketaylr commented on #3090
Thanks @softvision-sergiulogigan, I believe you're right.

[2019-11-20 06:19] karlcow opened #3095 "Form is uploading the Bug report screenshot to github"
@miketaylr @ksy36 I'm not sure it's a regression, but I'm surprised.
Currently the screenshots are being uploaded on GitHub instead of webcompat.

Was there a constraint? Or something has changed in the code? Or was it always like this and I only noticed now. 🤣

[2019-11-20 06:20] karlcow commented on #3095
An example https://webcompat.com/issues/44485

[code]

and this is not related to the experiment, it happens in the two cases.

[2019-11-20 06:21] karlcow commented on #3095
Oh is it the addon, in this case it would be @wisniewskit

[2019-11-20 06:25] karlcow commented on #3095
ah no no :) definitely a regression.
I uploaded these images this morning through webcompat when commenting
https://github.com/webcompat/web-bugs/issues/44353#issuecomment-555793736

And there are hosted on github. Something is broken.

[2019-11-20 06:34] #3095 closed

[2019-11-20 06:37] karlcow commented on #3095
They create a local copy of all images…

[code]

and the response.

[code]

[2019-11-20 06:39] karlcow commented on #3095
lol our images are already in the cloud 🤡
https://github.com/mozilla/webcompat-team-okrs/issues/108

[2019-11-20 06:45] karlcow commented on #3095
This is a test.

![I'm root](http://www.la-grange.net/2019/01/01/2535-misere)

[2019-11-20 06:48] karlcow commented on #3095
Bingo. Just checked on my server logs.

[code]

This was with this markup.

[code]

Let's check with

[code]

<img src="http://www.la-grange.net/2019/01/01/2535-misere" alt="I'm root">

[2019-11-20 06:49] karlcow commented on #3095
And it came again

[code]

Not sure it's good or bad. :/

[2019-11-20 15:36] miketaylr commented on #3095
When an image is hosted on a non-github server they use this github-camo proxy to route it through a secure context: https://github.com/atmos/camo

[2019-11-20 15:38] miketaylr commented on #3095
I think it's a non-issue. It's just extra work that GitHub is doing to be safe, maybe creates a bit of latency for the user but I don't think anything is broken.

[2019-11-21 20:22] ksy36 commented on #2659
I've tried looking at the logs in the built-in Firefox JSON viewer. It's better than what we have right now, but seems hard to navigate and catch obvious errors..

<img width="1679" alt="Screen Shot 2019-11-21 at 2 49 20 PM" src="https://user-images.githubusercontent.com/1303908/69372040-f2f06c80-0c6e-11ea-858e-1afec7a832d5.png">

Also tried building a simple colored list based on JSON (used devto

[2019-11-22 17:40] miketaylr commented on #2659
This seems like a cool idea to me. And if we save the raw JSON to the server, we can change the way we display it in the future.

That could be good -- or it might be interesting to have it reflect the way that devtools current displays it, which I guess is in the order its displayed here. Seems like a good "v2" improvement if you want to do it. :)

[2019-11-25 14:48] mcroud opened #3096 "Wrong button label for screenshot step"
I'm going to hypothesise that a contributing factor toward users submitting unnecessary images within their reports is due to the wrong button label for the screenshot step.

Currently the button is labelled "Confirm"

The correct label should be "Continue without"

| Live        | Design           |
| ------------- |:-------------:|
| ![Screenshot_20191123-154700](https://user-images.githubuserco

[2019-11-26 11:14] mcroud opened #3097 "Selecting "Other" browser does not reveal text field"
If a user selects "Other" in the Browser testing step, they should be prompted to provide the name of the browser.
On live, no such text field appears, people selecting this option would have not committed to a browser and also would not have seen the "This is important to webcompat" message.

The design:
<img width="968" alt="Screenshot 2019-11-26 at 11 11 01" src="https://user-images.githubuserc

[2019-11-27 15:39] miketaylr commented on #3090
I guess we can close this since it's not actionable on our end.

[2019-11-27 15:39] #3090 closed

[2019-11-28 07:14] stephendonner opened #3098 "Built with Grunt SVG badge URL is broken"
The "Built with Grunt" SVG badge is busted (here, and on its own homepage: https://gruntjs.com/built-with-grunt-badge)

I traced it down to this new URL: https://gruntjs.com/cdn/builtwith.svg

Fix upcoming.

[2019-11-28 10:43] bacharakis opened #3100 "Add events analytics in the new form"
Adding events analytics in our new form will help us understand where our users drop off.

[2019-11-28 11:27] karlcow commented on #3100
I'm not confortable with this for the project. I understand the rationale behind it.
Before trying to do more tracking, I would prefer we evaluate the success rate of the current project. That was the goal of the A/B testing. We still do not know if we want to adopt this new form.

[2019-11-28 11:30] johngian commented on #3100
I will defer that to @bacharakis and @adamopenweb. This is what we came up with in our last discussion regarding figuring out how users interact with the new form.

[2019-11-28 13:15] bacharakis commented on #3100
Hey @karlcow , this is for evaluating the success rate of the new form. Currently, we identified some issues that we can't understand unless we get more information on where users drop off.

 This is something that we have agreed with @miketaylr and @adamopenweb a few months ago. The only reason not implementing it before was because we assumed that we won't need to.
In any case, we need the metri

[2019-11-28 16:36] adamopenweb commented on #3100
I agree that we should remove this level of tracking once the evaluation is complete.

@karlcow Currently we are seeing that the completion rate of the new form is much lower. This is somewhat expected, but it is also not producing an acceptable level of valid reports compared to the current form. The event data will help us understand where users are dropping off in the process so we can determin

[2019-11-29 14:09] meetmuhd commented on #2952
Hello Mike! Could this be assigned to me, please?

[2019-11-29 14:45] meetmuhd commented on #2952
Hello @miketaylr. Could this issue be assigned to me, please?

[2019-11-30 06:56] karlcow commented on #2952
@meetmuhd done.

[2019-11-30 06:57] karlcow commented on #2952
You are welcome to contribute. Please read carefully our [contributing docs](https://github.com/webcompat/webcompat.com/blob/master/docs/pr-coding-guidelines.md)

[2019-11-30 16:29] meetmuhd commented on #2952
Thank you @karlcow. I've read it and made a PR. Will appreciate your kind review and feedback/action.

[2019-11-30 16:52] meetmuhd commented on #3094
I just tested and experienced the same bug in Firefox 70.0.1 on Linux (Ubuntu). May I go ahead and try to fix it please?

[2019-11-30 17:01] meetmuhd commented on #3094
I just tested and experienced the same bug in Firefox 70.0.1 on Linux (Ubuntu). May I go ahead and try to fix it, please?

[2019-12-04 16:42] #2952 closed

[2019-12-04 19:06] #3098 closed

[2019-12-04 19:11] #3100 closed

[2019-12-04 21:28] miketaylr commented on #2945
I'll just go ahead and do this.

[2019-12-05 15:48] #2945 closed

[2019-12-09 18:00] miketaylr opened #3106 "[formv2] What is step9?"
It's in the JS, but there's no associated DOM element:

https://github.com/webcompat/webcompat.com/search?q=step9&unscoped_q=step9

[2019-12-09 18:04] miketaylr commented on #3106
Maybe this is it... https://github.com/webcompat/webcompat.com/blob/f279404888772e029add202bc6d6e3f86c574fbe/webcompat/templates/issue-wizard-form.html#L254

Given that it appears between Steps 8 and 10, and `data-nextstep="10"`

[2019-12-09 20:37] miketaylr commented on #3106
No, I'm just confused. Apparently there's 2 classes `step8` and `step-8`. 🤷‍♂

[2019-12-12 20:00] #3096 closed

[2019-12-12 20:08] miketaylr commented on #3004
Oof, bad bug!

[2019-12-12 20:15] #3004 closed

[2019-12-16 14:53] softvision-oana-arbuzov opened #3110 "“Continue without” button available even if screenshot is uploaded"
**Environment:**
URL: https://webcompat.com/issues/new
Browser / Version: Firefox Nightly 73.0a1 (2019-12-15)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues/new
    2. Fill in the required information until reaching screenshot section.
    3. Upload a screenshot.
    4. Observe available buttons under the section.

**Expected Behavior:**
“

[2019-12-16 15:29] #2659 closed

[2019-12-16 21:15] miketaylr commented on #3110
This was changed in https://github.com/webcompat/webcompat.com/pull/3107

I guess the desired behavior here is "Continue" when there's a screenshot and "Continue without" when there isn't one?

cc @bacharakis

[2019-12-16 21:15] miketaylr commented on #3110
(I agree "Continue without" when there is a screenshot looks weird)

[2019-12-17 15:09] #3110 closed

[2019-12-17 17:17] miketaylr opened #3112 "local console log viewer missing styles"
![Screen Shot 2019-12-17 at 11 17 02 AM](https://user-images.githubusercontent.com/67283/71018796-c6d5d900-20be-11ea-8a7b-6596274ce1a3.png)

[code]

I suspect it claims it's HTML because it's 404 in a localhost environment?

[2019-12-17 17:18] miketaylr commented on #3112
(this only reproduces locally, staging/production is fine)

cc @ksy36

[2019-12-17 17:55] miketaylr commented on #3112
I'm just not very smart, I forgot to run `grunt build`.

[2019-12-17 17:55] #3112 closed

[2019-12-18 06:51] karlcow commented on #2027
When doing that. The current code takes 6 minutes to run (aka create a new db).
There might be optimization refactoring to do.
Why it's not really an issue for now. We run it only once a month… so 6 minutes for once a month is not necessary an issue to solve.

[2019-12-18 07:10] karlcow opened #3113 "improve config/environment.py - avoid import *"
`import *` is usually not a recommended practice.
This is not an urgent issue.

In https://github.com/webcompat/webcompat.com/blob/daaaa99fa93f944f39286391b0613526f660e2d2/config/__init__.py
Replace

[code]

by

[code]

And fixes the references for the used variables.

for example

[code]

would become

[code]

[2019-12-23 06:43] softvision-sergiulogigan opened #3114 "Investigate and fix excessive label assigning"
This is related to the plethora of labels applied to:

https://github.com/webcompat/web-bugs/issues/46909
https://github.com/webcompat/web-bugs/issues/46908
https://github.com/webcompat/web-bugs/issues/19195

[2020-01-02 00:56] karlcow commented on #3114
This is spam by a bot.

[2020-01-02 23:46] karlcow commented on #1870
SeeAlso #2449 for a possible source of the issues.

[2020-01-02 23:51] karlcow opened #3118 "[World is on Fire] Have a contingency plan when web-bugs repo disappears."
There is right now an incident.  The web-bugs repo is gone.

<img width="1013" alt="webcompat-web-bugs-repo" src="https://user-images.githubusercontent.com/505230/71700023-bd11dc80-2e05-11ea-8bd8-797032625f81.png">

We need a contingency plan and tools.

1. Missing a web page saying that the site is down currently.
2. Having a warning as early as possible on https://twitter.com/webcompat
    Ex: h

[2020-01-02 23:55] karlcow commented on #3118
As for the January 2020 incident.
* Detected by @ksy36
* Reported by @miketaylr to GitHub and the internal mailing-list of Mozilla webcompat team
* Tweeted by @karlcow on webcompat account.

* 7:15am Only webcompat-bot issues are gone from the repo
* 8:33am The full repo is gone.

[2020-01-03 00:08] miketaylr commented on #3118
We could revive some of the code from https://github.com/webcompat/webcompat.com/issues/2733 for a landing "page is down" page.

[2020-01-03 00:18] miketaylr commented on #3118
I've sent some messages via LinkedIn (one to @clarkbw... hopefully GitHub @support can reverse this soon, and help us understand why it happened without any kind of heads up).

[2020-01-03 01:25] karlcow commented on #3118
When the form can't communicate with github web-bugs.
At the end of the process for users this is what happens. Probably another issue to solve in case of non communications with GitHub.

<img width="831" alt="Capture d’écran 2020-01-03 à 10 23 32" src="https://user-images.githubusercontent.com/505230/71702519-3d8b0a00-2e13-11ea-86e0-143238fda01c.png">

[2020-01-03 02:51] miketaylr opened #3120 "Re-enable reporting"
Once we have a path forward (see #3118), we need to revert the commits merged in https://github.com/webcompat/webcompat.com/pull/3119.

[2020-01-03 05:37] karlcow commented on #3118
@miketaylr and I created an incident report with more details that we are updating once the details are coming in.

@miketaylr also created a PR #3119 to have a landing page for the route /issues/new It was deployed today on staging and production.

[2020-01-03 07:51] karlcow commented on #1839
This has been kind of fixed by the new fabfile script and the new way we handle configuration on the server side.

[2020-01-03 07:51] #1839 closed

[2020-01-03 08:06] karlcow commented on #3114
Probably we could limit the number of labels assignment as a mitigation of the issue.

[2020-01-03 08:07] karlcow commented on #3114
Flagging this. Just in case this is related to the series of events in #3118

[2020-01-03 08:11] karlcow commented on #3085
This should be fixed soon.
https://github.com/ua-parser/uap-python/pull/79

[2020-01-03 08:13] karlcow commented on #3075
Duplicate of #655

[2020-01-03 08:13] #3075 closed

[2020-01-03 08:19] annevk commented on #3075
So you don't plan on fixing this?

[2020-01-03 08:21] karlcow commented on #1289
@miketaylr what is the status with this?

[2020-01-03 08:23] karlcow commented on #1337
I put this on the backlog and I'm closing it. 3 years without someone working on it.
Feel free to propose  a PR.

[2020-01-03 08:23] #1337 closed

[2020-01-03 08:24] karlcow commented on #1300
We do that now.

[2020-01-03 08:24] #1300 closed

[2020-01-03 08:26] karlcow commented on #1406
This has probably been solved by the dashboards http://webcompat-dashboard.herokuapp.com/

[2020-01-03 08:26] #1406 closed

[2020-01-03 08:36] karlcow commented on #1342
@jonathanKingston Doing winter cleaning.

So the http issues are being handled a bit on a case by case.
Specifically for TLS issues, we have label for these.

But the rule of thumbs is that if the issue exists in all browsers (Safari, Chrome, Firefox) then we close it as non-compat. Note that non-compat doesn't mean it's not a real issue, but it's not part of our **webcompat workflow**. Think for

[2020-01-03 08:36] #1342 closed

[2020-01-03 08:37] karlcow commented on #1256
Nobody looked at this for the last… 3 years.
Putting it on backlog.

[2020-01-03 08:37] #1256 closed

[2020-01-03 08:40] karlcow commented on #1516
@miketaylr do we still have this kind of reports? From the top of my head I think we stopped these.

[2020-01-03 08:40] #1516 closed

[2020-01-03 08:49] karlcow commented on #3075
If we/when we have resources to fix it, it will be done with #655
For now, you could report anonymously and leave your github handle in the form.

The solution is to completely change the authorization model as mentioned in #655
But right now we have a bigger fish to fry :) #3118
https://twitter.com/webcompat/status/1212880610089299968

[2020-01-03 09:19] annevk commented on #3075
But why have that issue as closed then?

[2020-01-03 12:53] karlcow commented on #655
Added backlog to reopen when it's time to work on it.

[2020-01-03 12:55] karlcow commented on #655
Our low band-aid for this is to report anonymously and leave your github username in the field allowing it. It's not perfect but easier than redeveloping the oauth for Github App in our current resources.

[2020-01-03 16:32] miketaylr commented on #1516
Yes, we don't get these anymore.

[2020-01-03 16:32] miketaylr commented on #1289
Unclear, and not possible to test right now. :)

[2020-01-03 19:42] miketaylr commented on #3118
OK, so @github un-suspended the web-bugs repo, but @webcompat-bot's reports are still hidden. I've proposed the following plan (only listing technical details, there will be some social things to fix too):

1. Remove the option for anonymous reporting from webcompat.com today (Friday, Jan 3, 2020). This will allow GitHub authenticated users to continue to report issues. Currently all reporting is

[2020-01-03 19:43] miketaylr opened #3121 "Disable anonymous reporting"
For now, only GitHub authenticated users will be able to report issues. See #3118.

[2020-01-03 19:48] miketaylr opened #3122 "Remove inline screenshot images"
Just link to them instead. See #3118

[2020-01-03 19:50] miketaylr opened #3123 "Prevent .onion URLs from being reported"

[2020-01-03 19:52] miketaylr opened #3124 "Create plan for private-by-default anonymous reporting flow"
The rough idea:

* anonymous reports are filed in a private repo
* once triaged, they are moved to public web-bugs repo

Challenges:
* Getting people to not post private information
* Anonymous users won't know URL to re-visit issue
* The usual technical challenges of doing the work

[2020-01-03 20:10] #3120 closed

[2020-01-03 20:12] miketaylr commented on #3120
https://github.com/webcompat/webcompat.com/issues/3118#issuecomment-570677319 is the plan.

[2020-01-03 20:21] miketaylr commented on #3123
I guess we can modify `is_blacklisted_domain` to look for the TLD as well. And we probably want to do something on the frontend before we even end up with a submitted form.

[2020-01-03 21:29] miketaylr commented on #3122
I'm just gonna remove the inline option and link out to it in this issue, but we should file a follow up to stop generating thumbnail images since we won't need those.

(Or, we could stick it inside a closed details element?)

[2020-01-03 22:21] #3123 closed

[2020-01-05 23:20] karlcow commented on #3122
Are these issues only for anonymous reporting or all report. The rationale for me is that someone reporting an issue directly from GitHub:

1. would be identified as a person and blockable for abuse
2. the image would be an inline image

Do we want to lose the functionality for a couple of (very bad) abuses? Or do we want to mitigate?

in #3124 we plan to switch to a probably moderation-first mode

[2020-01-05 23:23] karlcow opened #3129 "Remove illegal content"
During #3118 event, we have been banned because of some illegal content being reported on our site. I will use this issue to track the work, before we get the green light again for anonymous reporting and re-instating the legal content issues of webcompat-bot.

By TRACKING, I meant the work and not any specific details about the resources that will be removed for obvious reasons.

[2020-01-05 23:31] karlcow commented on #3075
@annevk I added the tag prio-backlog to #655. We have a lot of these of possible good ideas to do, but no time or resources to do it.

[2020-01-05 23:32] karlcow commented on #655
This might become more urgent with the #3118 events.

[2020-01-05 23:34] karlcow commented on #3118
@miketaylr In complement to https://github.com/webcompat/webcompat.com/issues/3118#issuecomment-570677319, I created [Webcompat Belt On project](https://github.com/webcompat/webcompat.com/projects/7) and the [Remove illegal content](https://github.com/webcompat/webcompat.com/issues/3129) issue.

[2020-01-05 23:57] karlcow commented on #3124
Points of discussions:

1. When reviewers are assessing the legal nature of the content, they might expose themselves too. The browser cache being polluted by the illegal content.
2. There might be an important  psychological consequence on reviewing content people might not prefer to see. This is hard to solve, but should not be ignored.

[2020-01-06 01:27] dmose commented on #655
@karlcow isn't the thing described in https://github.com/webcompat/webcompat.com/issues/655#issuecomment-522880568 a way to avoid a big rewrite?

[2020-01-06 02:41] karlcow commented on #655
@dmose it seems interesting, but I don't think it will solve our issues. Maybe I'm wrong.

So I interpret this as only people with specific permissions on the repo will be able to file a complete report as we wish it to be.

[2020-01-06 03:00] Manishearth commented on #655
The only thing you will lose out on is labeling, and you can write a pretty lightweight bot to label issues based on metadata in a comment at the end of it or whatever.

[2020-01-06 03:09] karlcow commented on #3129
* Images with potential issues have been removed from our servers.

[2020-01-06 03:36] Manishearth commented on #655
You can also use this feature in conjunction with issue templates to autoset labels, but y'all have a lot of them and getting the entire set of possible labels into templates would be annoying.

[2020-01-06 04:35] karlcow commented on #655
So to be clear, the issue we are talking about here is people reporting issue with https://webcompat.com/issues/new and wants to log in as a GitHub user to have the report made under their name.

The form is created by webcompat.com and then sent to GitHub. We are not using the GitHub form templates to file issues currently (except for the very rare case where people use directly GitHub).

This fo

[2020-01-06 06:09] karlcow opened #3130 "Tests involving the creation of labels have a dependency on topsites.db"
When the webhook tests are running, the results depend on the topsites DB being populated or not. While trying to solve another issue and having a populated db, one test broke.

This issue "fixes" only the breaking test, but it doesn't solve the dependency on the DB. We might want to check that later.

[2020-01-06 06:18] karlcow commented on #3122
So I created PR #3131 to solve this.

[2020-01-06 07:01] Manishearth commented on #655
Right, I understand what you want to achieve here. What I'm suggesting is this:

 - User fills in form on webcompat.com, clicks submit
 - webcompat.com generates a GitHub prefilled form link, and redirects to it
 - user just needs to click submit on the GitHub issue

There are two problems here: images, and labels. You can't send images through the query string, and you can't use labels since not

[2020-01-06 07:08] karlcow commented on #655
@Manishearth Thanks for explaining. I understood you were trying to redirect the users to github. :)
1. For labels we already have a bot.
2. For the images we are linking to them. ;)

[2020-01-06 07:12] Manishearth commented on #655
Ah, so then we should be all set? We just need to replace the server side stuff that the "report via github" button does with a simple link generator thing. This doesn't fix anonymous filling, but it makes the github filling much easier and less permissionsy.

[2020-01-06 07:24] karlcow commented on #655
it means we have an option if we accept to get out of the current UX workflow. :)

[2020-01-06 16:04] #3122 closed

[2020-01-06 16:04] #3130 closed

[2020-01-06 16:15] miketaylr commented on #3129
The problematic issues we have identified (so far) have been deleted.

[2020-01-06 16:17] miketaylr commented on #3121
This is fixed now.

[2020-01-06 16:17] #3121 closed

[2020-01-06 17:12] miketaylr commented on #3124
Some notes from [Transferring issues](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository):

It doesn't seem like there's an API for this yet, so this would have to be done via github.com. (note there is an API to [transfer a repository](https://developer.github.com/v3/repos/#transfer-a-repository). Maybe if there's an API in the future we cou

[2020-01-06 19:04] miketaylr opened #3132 "Make anonymous reporting configurable"
In #3121 and other places I was pretty hacky about turning this off (just commenting it out, or ripping things out).

I think we could have a config option in https://github.com/webcompat/webcompat.com/blob/master/config/__init__.py, something like `ENABLE_ANONYMOUS_REPORTS` and set it to `False`.

Then we can update tests to handle both scenarios, and check the config option before returning `400

[2020-01-06 19:15] miketaylr commented on #3124
As for how to implement reporting to a different repo, I would probably start here:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/issues.py#L27-L34

`proxy_request` should maybe take a flag to indicate `private=True` (or there should be a `private_proxy_request` method: https://github.com/webcompat/webcompat.com/blob/master/webcompat/helpers.py#L446-L465. Depending on that, we

[2020-01-06 19:29] miketaylr commented on #3132
I'm gonna stick this in environment.py so we can test out staging differently than production, so we'll need to remember to add `STAGING_ANON_REPORTING_ENABLED` and `PROD_ANON_REPORTING_ENABLED` environment variables to the relevant uwsgi configs: https://github.com/webcompat/devops/issues/100

[2020-01-06 23:40] karlcow commented on #3124
@miketaylr two thoughts

Except if you make it clear that all issues filed are public. Aka there is no notion of private/public. There is a notion of moderation. This is a bit like a blog post comment with moderation on by default. The comment is not accessible until it has been reviewed.

Another possibility of working this out. **Why the need for a private GitHub repo**, we could collect all ano

[2020-01-06 23:43] miketaylr commented on #3124
Yep, totally a possibility. I want to explore all the options and their problem before we decide on a plan. Can you come up with a (rough) plan including challenges as you see them for this scenario @karlcow?

[2020-01-06 23:44] karlcow commented on #3124
Also another thought/question: Do we want to publish publicly invalid anonymous reported issues? Pro/Cons. To dig further.

[2020-01-06 23:45] karlcow commented on #3124
yup.

[2020-01-06 23:47] miketaylr commented on #3124
I had the same question... publishing everything non-harmful is good for transparency, and good for anonymous users who might try to follow up with their issue (assuming we can solve the URL problem). But, it's also noisy and time consuming (perhaps, we don't know what it will all look like).

[2020-01-07 04:22] karlcow commented on #3124
Some bases to start the work.
http://www.otsukare.info/2020/01/07/webcompat-anonymous-reporting

[2020-01-07 18:52] miketaylr commented on #3132
I think to keep things simple, let's limit the scope of this bug to the backend. Not sure it's worth making the frontend as flexible right now -- but when we need to re-enable it, here's the relevant patch to study: https://github.com/webcompat/webcompat.com/commit/524e130673431033439eaa6e95cf5fb04d4c5c65

[2020-01-07 23:33] miketaylr commented on #3124
Just for the record: there is no way to get an exception from GitHub to move an issue from a private repo to a public one, according to support. There is also no planned Issue transfer API. There is, however, a draft Issue Importing API that GitHub pointed me to: https://gist.github.com/jonmagic/5282384165e0f86ef105

So in this scenario, we would need to file a private issue, triage it, then using

[2020-01-08 00:00] karlcow commented on #3124
The redirection for handling URL is a good idea. (Repeating what @miketaylr wrote but in a structure I better understand. Talking to my inner duck 🦆 ).

1. Issue reported (moderation queue)
2. URL sent to reporter (could be hash based on time. The arrow of time is unidirectional. so hashes are unique. It could be a simple integer too: `mNNNNN` 😁 with `m` for moderation.  )
3. URL non moderated ->

[2020-01-08 00:37] karlcow commented on #3124
As we are fleshing out ideas. Another one. We can't DELETE an issue programmatically, but we can [PATCH it](https://developer.github.com/v3/issues/#edit-an-issue).

1. Issue reported by anonymous user on webcompat.com
2. system POST to `/web-bugs/` but with a moderated content message and save the real issue in a DB for moderation
3. user receives the real URL to share with others
4. The issue is

[2020-01-08 06:56] karlcow commented on #3124
This is a very naive [diagram of my previous comment](https://github.com/webcompat/webcompat.com/issues/3124#issuecomment-571838087)

![anonymous-reporting](https://user-images.githubusercontent.com/505230/71956751-4f174c00-322f-11ea-87ce-239de2ff8980.png)

[2020-01-08 19:27] miketaylr commented on #3132
I just went and made the changes, it only took 5 minutes.

[2020-01-08 22:25] meetmuhd commented on #2610
This problem (no focus in search input after search icon is pressed) still persists for me, but I noticed this issue which first identified it has been closed. I am interested in attempting a fix if it is confirmed as worthy of revisiting, please. @magsout @miketaylr

[2020-01-09 01:14] chrislconover opened #3134 "webcompat.com - site is not usable"
**URL**: https://webcompat.com/issues/new

**Browser / Version**: Firefox 73.0
**Operating System**: Mac OS X 10.15
**Tested Another Browser**: No

**Problem type**: Site is not usable
**Description**: I was trying to report a separate issue, must have missed the "GitHub nickname" field, clicked "Report with Github" button, and the page just started pulsating in and out, seeming to lock up further

[2020-01-09 01:15] karlcow commented on #3134
Thanks @chrislconover for the report. We will investigate.

[2020-01-09 05:49] #3132 closed

[2020-01-09 09:38] softvision-sergiulogigan commented on #3134
This might be related (if not duplicate) to https://github.com/webcompat/webcompat.com/issues/3056

[2020-01-09 21:40] miketaylr commented on #3124
I think we have a plan. I'm going to file bugs and let's start executing on the plan next week:

https://webcompat-meet.herokuapp.com/S58INgfrQzO3oEfiWEmiSQ#

[2020-01-09 21:40] miketaylr commented on #3124
(going to close, but if there are fundamental objections to the plan, please re-open)

[2020-01-09 21:40] #3124 closed

[2020-01-09 22:11] miketaylr commented on #3134
I agree we could do better here.

[2020-01-09 22:12] miketaylr opened #3136 "Add back inline screenshot hidden inside <details> by default"
See #3122 for relevant code to tweak.

[2020-01-09 22:18] miketaylr opened #3137 "Create copy for 2 moderation scenarios"
We need text to cover 2 scenarios:

A pre-moderation message: something like, thanks for reporting an issue you can check back here once it's been moderated and made public.

A post-moderation rejection message: this report doesn't follow our acceptable use guidelines.

Note we don't have acceptable use guidelines, so it probably has to be more generic, or we adopt or hack Mozilla's: https://www.m

[2020-01-09 22:20] miketaylr opened #3138 "Create terms of acceptable use for site"
Relates to https://github.com/webcompat/webcompat.com/issues/3137.

We're moving to a moderation model for anonymous bug reports. We need to be able to link to what the terms are, so we have to create them.

Obviously illegal and abusive things are not acceptable.

Open question: ...what else?

[2020-01-09 22:25] miketaylr commented on #3138
Useful links here:

https://www.mozilla.org/en-US/about/legal/acceptable-use/
https://help.github.com/en/github/site-policy/github-terms-of-service#c-acceptable-use

Maybe it's enough to defer to GitHub TOS in the short-term, since we're bound by them.

[2020-01-09 22:36] miketaylr opened #3139 "Implement new anonymous issue creation flow"
It may make sense to split this bug up, but keeping together for now because it's all related, and maybe awkward to implement in multiple PRs (maybe not?)

When a user goes to file an anonymous bug:

1. Create a (public) issue in the web-bugs repository that contains the boilerplate “thanks, we will moderate, feel free to bookmark and check-back” text
2. Grab the Issue Number of the newly created

[2020-01-09 22:49] miketaylr opened #3140 "PATCH public issue with accepted content and title"
If an issue is moderated as acceptable we need to do the following (regardless of how or where we stored bug reports from the previous section):

1. Using the GitHub API, we send a PATCH request to the existing public issue and replace the body with the stored private details.
2. Make sure the labels match. Probably good to add a “status-moderation-accepted” label until we decide it's useless.

[2020-01-09 22:51] miketaylr opened #3141 "Create method to PATCH existing issue with failed moderation template"
Using the GitHub API, we send a PATCH request to the existing public issue and replace the body with the “this is unacceptable” template. Also:

1. Add labels from private issue. Add an “status-moderation-rejected” label.
2. Close the public issue as WONTFIX.

[2020-01-09 22:52] miketaylr opened #3142 "Lock issues that failed moderation"
This will happen automatically after 2 weeks, but seems good to do it proactively.

[2020-01-09 22:53] miketaylr opened #3143 "Document issue moderation escalation process"
This should be publicly documented, either on our site, or a wiki.

[2020-01-09 22:54] miketaylr commented on #3143
1. delete images from server, if any
2. delete issue from github
3. record IP address from logs
4. report URLs to National Center for Missing and Exploited Children (https://report.cybertip.org/submit)

[2020-01-09 22:54] miketaylr commented on #3143
(in the future, automating these things would be great. much simpler when we move to our own infra and away from github)

[2020-01-09 22:56] miketaylr opened #3144 "Make moderation + triage possible in one step"
If a private repo contains the same milestones, our webhook can observe which milestone it moves to and make the equivalent change when the issue is made public.

[2020-01-10 00:03] karlcow commented on #3129
Maybe we should close this.
We will need later probably to do a second pass but after everything is back to normal in terms of reporting.

[2020-01-10 00:03] #3129 closed

[2020-01-10 00:05] karlcow commented on #3118
@miketaylr should we close this one? As we set things in mmotion in the project itself.

[2020-01-10 00:13] karlcow commented on #3136
Do we activate thumbs or do we forget about them?
Note to self: test details and image fetching.

[2020-01-10 00:20] miketaylr commented on #3118
I think it makes sense, yes.

[2020-01-10 00:20] #3118 closed

[2020-01-10 00:35] karlcow commented on #3136
Testing of details and images.

I have tested:
[code]

In Safari Tech Preview, Chrome Canary, Firefox Nightly, latest versions at this date. All of them are fetching the image right away. So closed and open states are not changing anything on the behavior for images.

[2020-01-10 00:37] karlcow commented on #3136
As a first step I will just put the full image, we may want to decide to put again the thumbnail later. Less urgent.

[2020-01-10 18:30] miketaylr commented on #2610
@meetmuhd yes please! It's probably good to file a new issue and describe steps to reproduce, etc. then of course we would love a patch. :)

[2020-01-10 18:30] miketaylr commented on #2610
(oops)

[2020-01-10 18:30] #2610 closed

[2020-01-10 18:43] miketaylr commented on #3139
(let's see how far I can get)

[2020-01-10 19:57] miketaylr opened #3145 "Adds specific identifier for anonymous issues in public repo"
Do they stay in "needstriage", or do we change that to "needsmoderation"?

[2020-01-10 21:57] miketaylr commented on #3139
I think I'm going to spin this out into a different issue and focus on tests for what I just wrote.

[2020-01-10 22:01] miketaylr opened #3146 "Make sure new private issues are assigned to the "unmoderated" milestone"
Depends on https://github.com/webcompat/webcompat.com/issues/3139 landing first.

https://github.com/webcompat/webcompat-tests-private/milestones already exists (as well as the corresponding milestone in the actual private repo).

We could do this in 2 ways:

1. Just assign the right milestone in the initial issue payload in `unmoderated_issue()` in issues.py

2. Write a webhook for new issues in

[2020-01-10 23:57] miketaylr commented on #3146
@karlcow assuming https://github.com/webcompat/webcompat.com/pull/3147 is in the right direction, could you pick up this issue?

[2020-01-11 14:44] miketaylr opened #3148 "report_private_issue should be async"
Once we have a `html_url` for the public counterpart to a private issue, we can return so form submission doesn't take twice as long. Just before returning (while we still have the right `form` object, we should fire off an async request to file the private issue.

[2020-01-12 23:58] karlcow commented on #3148
This requires to manage an async queue with ids.

[2020-01-13 03:02] karlcow commented on #3146
So I thought maybe we could try to use the fancy new GitHub Actions stuff.

And it didn't work. It [failed with the message](https://github.com/webcompat/webcompat-tests-private/commit/e99f787f9921e6c91de7deca55c7b4b76d676a2d/checks?check_suite_id=396879071):

So searching a [bit the documentation](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-github-actions

[2020-01-13 05:00] karlcow commented on #3146
The second method doesn't have a dependency on #3139 . It is working on just monitoring events.

[2020-01-13 05:21] karlcow commented on #3146
Again here we have the issue of milestone number vs names.
https://github.com/webcompat/webcompat-tests-private/milestone/1

Here a non-tested possibility with webhook. Not very dry, not very clean. We could abstract the code so the previous covers the two cases **BUT** because the future of this code is bleak. I would rather not try to abstract if it's to do reconstructive surgery after.

[code]

[2020-01-13 05:24] karlcow commented on #3146
btw I realized that for both new_opened_issue and this new assign_quarantine, we are not forced to use app.config['PRIVATE_REPO_URI'] or app.config['REPO_URI'], because the information is already there in the payload.

and removing the app.config for this case, would remove the out of band information that could be dangerous in case of misconfiguration.

[2020-01-13 07:27] karlcow commented on #3146
The other case is much simpler, as basically it means that in `build_formdata` we need to send this

[code]

and here again we need to test which url we are reporting too to get the right milestone number.
We still the webhook for authenticated users to set milestones, because I don't think they have the right to do it. But webcompat-bot has the right to do it. :)

[2020-01-13 07:32] softvision-sergiulogigan commented on #3145
What if we use "Pending Moderation"?

[2020-01-13 07:47] karlcow commented on #3145
Is it for triager to have to avoid to go through non-moderated bugs?
It could go to needstriage with a `label: quarantine`

[2020-01-13 08:01] karlcow commented on #3137
## In Quarantine

[code]

## Rejected Message

[code]

## About the thanks.
As this is a generic message, I don't think the thanks should be part of the content.

[2020-01-13 08:03] karlcow commented on #3137
Dependencies on #3143 and #3138

[2020-01-13 15:39] magsout opened #3149 "Exclude non-moderated issues from the lists by default"
Maybe we should exclude non-moderated issues by default from lists, and maybe add new filter ? just to avoid lot of noises?

- homepage: https://webcompat.com/
- list: https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc

[2020-01-13 16:09] miketaylr opened #3150 "Send the "moderation in process" message to the public issue"
@karlcow has a suggestion here: https://github.com/webcompat/webcompat.com/pull/3147#discussion_r365616901

It will return the text from #3137

[2020-01-13 20:10] miketaylr commented on #3145
I like needstriage + label. And yes, the idea is to be able to filter on them, or filter them out for whatever reason.

[2020-01-13 20:11] miketaylr commented on #3149
See #3145 - we'll keep unmoderated issues in needstriage, but there will be a label we can exclude them with.

[2020-01-13 22:27] #3139 closed

[2020-01-13 22:28] miketaylr opened #3151 "normalize any extra_metadata values"
Right now we just trust that nothing bad will happen with `public_url`, but to be extra safe it's probably a good idea to run that through `helpers.normalize_metadata` (even though github is sending it back to us).

[2020-01-13 22:29] miketaylr commented on #3151
Actually, this should already happen here: https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L383

[2020-01-13 22:29] #3151 closed

[2020-01-13 22:31] miketaylr commented on #3137
I like the proposals, but I think the word quarantine has dramatic semantic connotations. I would recommend we just use "moderation".

[2020-01-13 22:33] karlcow commented on #3137
s/in quarantine/in the moderation queue./

[2020-01-13 22:33] miketaylr commented on #3150
This should happen somewhere in issues.py, https://github.com/webcompat/webcompat.com/blob/master/webcompat/issues.py#L26 is a good place to start.

@karlcow has suggestions for content in https://github.com/webcompat/webcompat.com/issues/3137 which are good.

@ksy36 would you like to work on this?

[2020-01-13 22:34] miketaylr commented on #3137
(assigning to karl, since he did the work. we can probably just close this when #3150 is merged)

[2020-01-13 22:35] miketaylr commented on #3141
This is probably a duplicate of #3140?

Depends on #3150.

[2020-01-13 22:36] miketaylr commented on #3140
Depends on #3150.

[2020-01-13 22:39] miketaylr commented on #3138
There's 2 parts to this. Defining the terms, and then creating a front-end for them. cc @magsout

[2020-01-14 02:34] karlcow opened #3152 "anonymous but not anonymous"
So @miketaylr and I can reproduce this.

1. flask run with anonymous on.
   ANON_REPORTING_ENABLED = True
   in config/environment.py for LOCALHOST
2. login (oauth dance from webcompat)
3. logout (from webcompat too)
4. Go to http://127.0.0.1:5000/issues/new (so not logged)
5. fill the form
6. submit as anonymous
7. it goes at the right places on staging and private tests so that's good.

BUT

I t

[2020-01-14 02:39] miketaylr commented on #3152
(this may be a false alarm, but thanks for filing)

[2020-01-14 03:01] karlcow commented on #3152
🚨 So false alarm indeed.
It's that locally @miketaylr and I are using our personal token for testing things.

[2020-01-14 03:01] #3152 closed

[2020-01-14 04:29] karlcow commented on #3146
to note one thing though.

If the milestone number is wrong, or basically anything else is wrong. GitHub is not doing a silent fail, they just drop everything and the public issue is posted, but the moderated one is dropped.

`<Response [422]>`

So not sure if we want to handle this case in the future.

[2020-01-14 04:30] karlcow commented on #3146
This comment I Just made ties to #3148 too.

[2020-01-14 05:43] karlcow commented on #3150
Repeating here the suggestion here:

https://github.com/webcompat/webcompat.com/blob/588b1d1c97eccf8423c834efc272aeacc080006e/webcompat/issues.py#L26-L32

This should probably be renamed:

[code]

Though it's not even sure we need a specific function for this, because this is just calling one specific object, text.

https://github.com/webcompat/webcompat.com/blob/588b1d1c97eccf8423c834efc272aeacc0

[2020-01-14 06:10] karlcow commented on #3140
@ksy36 @miketaylr This is an RFC.

In fact there is no dependency on #3150.
Probably #3141 is exactly the same than this here.

But there are probably two missing  milestones:

* `accepted`
* `not-acceptable`

Let's think this

When the issue on `PRIVATE_REPO_URI` is assigned the milestone `accepted`, then a webhook will start the publishing process.

1. monitor milestone changes
2. When `mileston

[2020-01-14 06:13] karlcow commented on #3141
do we need those?

[2020-01-14 07:14] karlcow commented on #3136
See #3127 for the original PR where it was removed.

Some testing here:

https://github.com/webcompat/webcompat-tests-private/issues/21

FAIL

[code]

FAIL

[code]

SUCCESS

[code]

[2020-01-14 08:15] softvision-sergiulogigan commented on #3152
Sounds like something similar to https://github.com/webcompat/webcompat.com/issues/3054

[2020-01-14 15:07] #3146 closed

[2020-01-14 16:09] miketaylr opened #3155 "Ensure labeler webhook is configured for the private repo"
* [x] Adds milestone `accepted` on https://github.com/webcompat/web-bugs-private/milestones
* [x] Adds the webhooks labeler to https://github.com/webcompat/webcompat-tests-private
* [x] Adds the webhooks labeler to https://github.com/webcompat/web-bugs-private
* [x] Adds label `status-notacceptable` to https://github.com/webcompat/web-bugs

[2020-01-14 20:25] miketaylr commented on #3140
Yeah, likely they can both be closed at the same time.

I was thinking about this a little differently, but also... pretty close to your idea.

The idea is basically captured in #3144 (which can also be closed as a dupe of this bug). My thinking was that the private and public repos have the same milestones, with the exception of an additional `unmoderated` milestone in the private repo.

One of 3

[2020-01-14 21:04] miketaylr commented on #3138
A draft of something mostly stolen from bits of Mozilla & GitHub webpages, deferring to the terms on their sites.

r? @karlcow

----

# WebCompat.com Terms of Service
Effective Date: Jan 14, 2020

Webcompat.com is a service that allows users to report web compatibility issues though a simple web form. Volunteers and employees of Mozilla view the reports, identify solutions, then share the reports

[2020-01-14 22:10] karlcow commented on #3140
yes and nothing has been leaked!

While an error in selecting the wrong milestones will leak things.

[2020-01-14 22:31] miketaylr commented on #3140
OK! let's go for it and see how it "feels". We can move to something different if it doesn't work out in practice.

[2020-01-14 23:51] karlcow commented on #3138
nit: Webcommpat is not camel cased elsewhere in the text.

[code]

[code]

[code]

Maybe?

[code]

**IANAL** 👨‍⚖  I don't think in the case of webcompat.com, "in your jurisdiction" matters. What is happening if someone posts a text where the author died 52 years ago? From Canada, no issue, the text is in the public domain. From USA, the text is still protected. And webcompat-bot is in this case th

[2020-01-15 00:31] karlcow commented on #3138
@miketaylr also on this previous comment.

is this correct

I thought you could say:

Behaviors which fall into…
or A behavior which falls into…

[2020-01-15 00:47] karlcow opened #3157 "Remove Mock library from requirements-dev.txt"
We currently use the [mock module](https://pypi.org/project/mock/). This is not necessary as [mock is now part of the standard library](https://docs.python.org/dev/library/unittest.mock.html).

https://github.com/webcompat/webcompat.com/blob/742d7c5a0bc1da562624c53feb282801cf38c29f/config/requirements-dev.txt#L3

[2020-01-15 01:37] karlcow commented on #3155
@miketaylr Could you explain what is it about?
Is it for the PATCH in #3140

[2020-01-15 02:02] karlcow commented on #3145
* The needstriage milestone will already  be assigned automatically by @webcompat-bot
* So We just need to add the right label by modifying the form.

label name bikeshed:

`action-needsmoderation` https://github.com/webcompat/web-bugs/labels?utf8=%E2%9C%93&q=action

[2020-01-15 03:02] miketaylr commented on #3155
heh, sorry.

I mean the current `https://webcompat.com/webhooks/labeler` webhook that runs on web-bugs to add the new issue labels (browser, priority, etc).

https://github.com/webcompat/webcompat.com/blob/742d7c5a0bc1da562624c53feb282801cf38c29f/webcompat/webhooks/helpers.py#L171

My thinking is this would run for new private issues, and when we PATCH over to public, we copy the label state alrea

[2020-01-15 03:02] karlcow commented on #3145
Created label on
* https://github.com/webcompat/webcompat-tests/labels?utf8=%E2%9C%93&q=action
* https://github.com/webcompat/web-bugs/labels?utf8=%E2%9C%93&q=action

[2020-01-15 03:02] miketaylr commented on #3155
So to be more clear: remove it from web-bugs(-public) and add it to web-bugs-private.

[2020-01-15 03:10] karlcow commented on #3155
@miketaylr probably not a good idea ;) because auth'ed bugs go directly to web-bugs and are being labeled by the webhook. Also milestone assignment too. :)

[2020-01-15 03:18] karlcow commented on #3155
Also it means we have to recreate all the labels (~240) on the private repo. Do we really want to do that?
Or is it because you are already going to phase 2 with triage in private (I would avoid jumping to phase 2 before Berlin).

Another option, the public repo could also have the labels already assigned with the boilerplate in moderation. SO when moderated positively it is just about to PATCH th

[2020-01-15 03:20] miketaylr commented on #3155
D'oh! Yah, forgot that. 🙈

Nah, just trying to think through the plan.

That would work, I think.

Hm. Not sure.

[2020-01-15 03:52] karlcow commented on #3155
1. We need to configure the private-repo to send POST to /webhooks/labeler (or eventually a separate route) (so adding the webhooks to the repo is good)
2. We need to make sure to **NOT REMOVE** webhook from public-repo (just stating it so it's 100% clear)
3. We need to adjust the logic of webhook so that the **metadata** (browser version, priority, etc.) received from the private repo are written

[2020-01-15 04:19] karlcow commented on #3155
Some [musings around metadata](https://gist.github.com/karlcow/7f35ec564c8b8e30d340d88a615eb889) for the future. I'll add this to Berlin agenda. :)

[2020-01-15 04:44] karlcow opened #3158 "Missing test for report_public_issue"
The current method `report_public_issue` doesn't have any tests.

https://github.com/webcompat/webcompat.com/blob/742d7c5a0bc1da562624c53feb282801cf38c29f/webcompat/issues.py#L54-L60

[2020-01-15 04:49] karlcow commented on #3155
Ah there is another way to do it, which might be simpler than the [webhook in the previous comment](https://github.com/webcompat/webcompat.com/issues/3155#issuecomment-574483987).

Instead of having the webhook listening to the private repo we can directly use the form data and `report_public_issue` to assign the right metadata.

https://github.com/webcompat/webcompat.com/blob/742d7c5a0bc1da562624

[2020-01-15 06:10] karlcow commented on #3145
ok I have a workable solution I think.
The tests are working. But the webhook is always a bit of a pain to test.

[2020-01-15 06:41] karlcow commented on #3149
@magsout in #3145 I added the keyword `action-needsmoderation`

[2020-01-15 07:34] softvision-sergiulogigan commented on #3138
We think we should explicitly specify the content that will lead to an issue being not published.

[2020-01-15 09:05] laghee commented on #3138
"Behavior" without the indefinite article is correct, but technically (or at least traditionally) speaking, it should be "behavior that falls into" in this case because it's a restrictive clause. 🤓

[2020-01-15 13:32] #3136 closed

[2020-01-15 16:07] ksy36 opened #3160 "Don't save console logs json file if there are no logs"
In this issue https://github.com/webcompat/web-bugs/issues/47700 the file with console logs exists, however [it's empty](https://webcompat.com/uploads/2020/1/59d31cea-48c8-43bd-aca0-b7fc873d40cf.json).

[2020-01-15 22:55] #3137 closed

[2020-01-15 22:55] #3150 closed

[2020-01-15 23:26] miketaylr opened #3161 "Update namespaceRegex to include action"
We have some `action-foo` prefixed labels, https://github.com/webcompat/web-bugs/labels?utf8=%E2%9C%93&q=action

We should update the following Regexp to account for that:
https://github.com/webcompat/webcompat.com/blob/d56cd783366d725bcf2cf560723a590faf41e08f/webcompat/static/js/lib/models/label-list.js#L27

[2020-01-15 23:54] karlcow commented on #3161
@miketaylr This requires to fix #2830 too.
Because right now we are still not getting the full list of labels.

[2020-01-16 00:04] miketaylr commented on #3161
Solving #2830 is *not* a good first bug, but agreed.

[2020-01-16 03:28] miketaylr commented on #3149
This is landed in master now.

[2020-01-16 04:01] karlcow commented on #3145
This was closed by #3159 (I had just forgotten the right pound sign in the title.)

[2020-01-16 04:01] #3145 closed

[2020-01-16 04:03] karlcow commented on #3158
This has been fixed by https://github.com/webcompat/webcompat.com/pull/3159/commits/8c3caa4d3a8e125859549322c35eaa5301682c4a

[2020-01-16 04:03] #3158 closed

[2020-01-16 04:05] karlcow commented on #3140
#3140 #141 and #3155 will be dealt in the same pull request probably.

[2020-01-16 07:49] karlcow commented on #3140
Notes to self:

* We need to make sure about the origin of the request for the `opened` action. So we do not spend too much time on useless or counter-effective actions. (aka ignore `opened` on the private repo).
* We need to watch the `milestoned` with value `accepted` on the private repo to trigger the action.
* We need to watch the `closed` action (private repo) to trigger the patching with mod

[2020-01-16 15:53] ksy36 commented on #3158
we should probably test that the content of `post_data` (title and message) are equal to those returned from `test_moderation_template`, what do you think @karlcow ? I can add them :)

[2020-01-16 22:08] karlcow commented on #3158
@ksy36 We could. Could you open a new issue? Thanks.

[2020-01-21 01:36] karlcow opened #3163 "Scope the opened action of webhook to auth'ed issues"
This has to be done before #3140 and #3155

Currently the webhook will listen on any  `opened` actions. It means that if we send POST requests coming from other repos. We will make the webhook busy for nothing. We need to scope it by checking the request is coming from the priviledged repo.

https://github.com/webcompat/webcompat.com/blob/236ac8163fc821feb8fedd72735c982e3405cefa/webcompat/webhooks

[2020-01-21 01:56] karlcow commented on #3163
Here an example of a payload that the webhook receives (removing unnecessary details.)

[code]

[2020-01-21 14:39] #3163 closed

[2020-01-21 19:28] miketaylr commented on #3138
Thanks for the feedback @karlcow and @laghee!

I think we can perhaps get there in the future, but it's probably hard to list everything that violates TOS at first. There will have to be some kind of judgement applied. For now, I think just linking out to stuff that's bad is probably OK (but not perfect).

[2020-01-21 19:37] miketaylr commented on #3138
@karlcow

Yeah, this is correct. Behavior is typically used as an "uncountable" noun, but sometimes the plural can be correct. I think either could probably work, but I'll leave it as is.

[2020-01-21 19:38] miketaylr commented on #3138
OK! updated version here:

-------

# webcompat.com Terms of Service
Effective Date: Jan 14, 2020

Webcompat.com is a Service that allows users to report web compatibility issues through a simple web form. Volunteers and employees of Mozilla view the reports, identify solutions, then share the reports and solutions with the website stewards, or escalate bugs to browser vendors. For more details, s

[2020-01-21 19:39] miketaylr commented on #3138
I'm gonna close this one, and open a new bug for the front-end part.

[2020-01-21 19:39] #3138 closed

[2020-01-21 19:41] miketaylr opened #3165 "Create Terms of Use page, and link it from the footer"
https://github.com/webcompat/webcompat.com/issues/3138#issuecomment-576845285 has the text we want to use.

This should be linked from the footer, maybe after Privacy Policy and before Code of Conduct.

We can just re-use the style from Privacy Policy, rather than need a new design.

[2020-01-22 03:16] karlcow commented on #3140
These data could be useful.

*  action: milestoned.
* issue.milestone.title: accepted
* issue.milestone.updated_at: 2020-01-22T01:02:03Z
* issue.body: 'long string'

the event edited keeping interesting information.

[code]

[2020-01-22 03:19] karlcow opened #3166 "Create a module dedicated to issue text body parsing"
This module can be reused in webhooks, in issues, form, etc. And could even be used for normalizing data.

Basically we need to be able to parse the body of an issue to create a kind of issue object (dictionary, object, dataclass to be determined).

That would make the code clearer and less clutered here and there. And we could pass around an object when we need it.

[2020-01-22 03:21] karlcow commented on #3166
Something to keep in mind, we need to make it versatile enough that it handles a couple of format.

[2020-01-23 19:08] #3165 closed

[2020-01-29 13:33] karlcow opened #3170 "sqlalchemy.orm.exc.DetachedInstanceError error related to ab_exempt"
So to reproduce.
With master.
[code]

1. Go to http://127.0.0.1:5000/
2. Click on login

There's an error message:

[code]

[2020-01-30 07:34] softvision-sergiulogigan commented on #3138
Here's a piece of (maybe) valuable information, from the CPG slack channel:

https://github.blog/changelog/2020-01-10-use-duplicate-as-a-reason-for-hiding-comments/

[2020-02-02 20:07] laghee opened #3172 "Update front end to form label list from local file"
This follows PR #3171 -- once the labels are being saved locally/on the server, we can pull them in directly from the `json` file rather than triggering GitHub api requests. It's been a while since I've looked at the files, so I'm not 100% sure where this needs to be done, but I'm figuring it's in one or more of these:
[webcompat/static/js/lib/models/label-list.js](https://github.com/webcompat/web

[2020-02-03 05:36] karlcow opened #3173 "[test] Create a test topsite db for testing webhooks"
Some tests have a dependency on getting the right labels.
If a test makes a query to a populated sites.db, the test will return a different set of labels.

There are two options:
1. mocking everywhere we request the labels.
2. Create a db when we are running tests with the right information in it.

Option 2 seems a better choice.
We could rationalize it to a couple of controlled domains for our te

[2020-02-03 05:47] karlcow commented on #3173
See https://github.com/webcompat/webcompat.com/pull/3167/commits/f5ad195fc293fdf0504b0fd635ecf32f14aa7927 for the origin of this requirement.

[2020-02-03 07:37] karlcow commented on #3141
See https://github.com/webcompat/webcompat.com/pull/3167/commits/e4aa9d22eae8ab99541c659b7e5c0fccbba0c0b1

[2020-02-03 11:55] magsout commented on #3149
@miketaylr o cool, thanks. I'll take a look.

[2020-02-04 15:23] softvision-sergiulogigan opened #3174 "Update contact information from IRC to RIOT"
We should update the contact information, since IRC is going away soon.

One page would be https://webcompat.com/contact. Maybe there are others?

[2020-02-05 02:14] karlcow opened #3175 "refactor process_issue_action to be more elegant"
Currently the code in `process_issue_action` has a lot of repeat around handling responses and logging messages. This can be refactored to improve the readability and testability.

https://github.com/webcompat/webcompat.com/pull/3167/files#diff-53c7dc964488671110b629cf6885fb3eR235-R287

[2020-02-05 05:00] #3140 closed

[2020-02-05 05:00] #3141 closed

[2020-02-05 13:30] laghee opened #3176 "Write tests for `daily_labels` script functions"
...or beware the wrath of TDDkarl 😍 ⚔️

[2020-02-05 16:55] miketaylr opened #3177 "Rename labeler webhook"
As of https://github.com/webcompat/webcompat.com/pull/3167, this webhook does a lot more than just add labels.

[2020-02-05 17:19] miketaylr opened #3178 "500 in webhook on staging"
Trying to sort out STR:

`public_number = get_public_issue_number(issue_info['public_url'])#012KeyError: 'public_url'`

[code]

[2020-02-05 17:28] miketaylr commented on #3178
It seems like STR is to file a new bug on staging, and from the private repo, close it.

Expected behavior: the rejected moderation queue template updates the public issue, and we don't get a 500 in the webhook response.

[2020-02-05 17:29] miketaylr opened #3179 "Document expected workflow for moderation"
Even just notes here.

How do we accept, how do we reject, etc.

[2020-02-05 17:41] miketaylr opened #3180 "acceptable-use hyperlink should not be relative"
If you click on it from github, it will 404:

e.g. https://github.com/webcompat/webcompat-tests/issues/2361

[2020-02-05 17:51] miketaylr commented on #3178
Note to self for testing webhooks locally: https://github.com/miketaylr/web-bugs-issue-tagger#testing-locally

[2020-02-05 17:55] miketaylr commented on #3178
(ok, if i disable checking signatures locally, because i'm too lazy to figure that out...), this reproduces locally:

[code]

[2020-02-05 18:06] miketaylr commented on #3178
At this point, `issue_info` looks like this:

[code]

So yeah, it's missing the `public_url` key.

[2020-02-05 18:15] miketaylr commented on #3178
The bug is here: https://github.com/webcompat/webcompat.com/blob/d8797bddd462c7690aa45cac38c05f2066c5a6e4/webcompat/webhooks/helpers.py#L165

This assumes the public_url is only relevant for a "milestoned" webhook event action, but for a "closed" action, there is not top-level `milestone` key and we fail to grab the `public_url`.

[2020-02-05 18:21] miketaylr commented on #3178
@karlcow want to take care of this one?

[2020-02-05 18:38] miketaylr commented on #3178
I see that private_milestone_closed.json has a top-level `milestone` key, I'm not sure that's accurate. This is the the payload I see from the webhook interface:

[payload.txt](https://github.com/webcompat/webcompat.com/files/4161393/payload.txt)

(there is a milestone *inside* the top-level `issue` key)

[2020-02-05 22:00] #3180 closed

[2020-02-06 02:25] #2830 closed

[2020-02-06 06:53] karlcow commented on #3178
houla that payload is… funky.

[code]

So that's another mistake.

[2020-02-06 06:58] karlcow commented on #3178
Ah no this is mike… pasting garbage text 🤣
https://github.com/webcompat/webcompat-tests-private/issues/41

[2020-02-06 16:38] #3178 closed

[2020-02-06 17:04] miketaylr opened #3183 "Investigate why anonymous reporting is enabled on staging"
Currently on staging we have the following `STAGING_ANON_REPORTING_ENABLED=False`, yet anonymous reporting is enabled.

I've verified on localhost, changing the value of `ANON_REPORTING_ENABLED` to True/False has the expected behavior.

[2020-02-06 17:05] miketaylr commented on #3183
Note: it's the same no matter which form version is received.

[2020-02-07 00:48] karlcow commented on #3183
@miketaylr for me on localhost, the anonymous reporting is set as

[code]

console sends False

still the form displays the anonymous report button.

ah!

[code]

And rendered as

[code]

If i test on the IDE

[code]

something indeed is not working as expected

[2020-02-07 00:51] karlcow commented on #3183
So i don't think we are using a boolean value as jinja2 expects it.

[2020-02-07 01:25] karlcow commented on #3183
Probably we should rely on the `{% if %}  {% else %} {% endif %}` and have two separate strings.

[2020-02-07 02:43] miketaylr commented on #3183
We discovered that the env var is a string (we probably knew this... and forgot). So `if 'False' will always be truthy. Whoops!

@karlcow suggested we change the env var to have a value of 'on' and 'off'

[2020-02-07 02:46] miketaylr commented on #3183
And besides the templates, we should be sure to update the following as well: https://github.com/webcompat/webcompat.com/blob/master/webcompat/views.py#L308

[2020-02-07 03:01] karlcow commented on #3183
https://github.com/webcompat/webcompat.com/blob/acc45c14b08d476154778924f236d53001d75956/webcompat/views.py#L307-L309

This says: that if the config doesn't exist just bails out. which is correct. It will need to be changed if we change the name of the config. I suggest, we do:

`ANONYMOUS_REPORTING = ON/OFF`

it's more readable in code and templates.

[2020-02-07 03:03] karlcow commented on #3183
Also just for the context on why it was still working in production. It's because we had not yet deployed the environment variable version, so we didn't detect it was not working.

Probably an additional test to create. :)

[2020-02-07 07:54] softvision-sergiulogigan opened #3186 "The <acceptable use> link redirects to a 404 page"
After logging an issue, the page that the user gets is the bug shell - "In moderation queue".
The <acceptable use> link redirects to a 404 page.
https://webcompat.com/terms#acceptable-use

![image](https://user-images.githubusercontent.com/16573771/74011251-04a10080-4990-11ea-9358-874501dbf94c.png)

[2020-02-07 08:15] softvision-sergiulogigan commented on #3186
Also
![image](https://user-images.githubusercontent.com/16573771/74012336-b17c7d00-4992-11ea-95a0-5411a5dafe23.png)

[2020-02-07 09:53] karlcow opened #3187 "Upgrade python dependencies"
werkzeug project has deprecated a couple of things, and this has created regressions for some modules.
https://requires.io/github/webcompat/webcompat.com/requirements/?branch=master

specifically this case.
https://github.com/webcompat/webcompat.com/pull/3185#issuecomment-583313102

[2020-02-07 12:29] cipriansv opened #3188 ""Internal Server Error(500)" message displayed when filing an issue using an invalid URL on staging.webcompat.com"
**Steps to reproduce**:

1. Access staging.webcompat.com.
2. File an issue using an invalid URL e.g. "https:www.test.com".
3. Report the issue anonymously.
4. Observe the behavior.

**Expected result**:
The issue must be successfully logged.

**Actual result**:
"Yikes! Internal Server Error (500)" message is displayed.

**Notes**:
1. Using the "https://www.test.com" valid URL files the issue witho

[2020-02-07 13:46] karlcow commented on #3187
[code]

Let's uninstall werkzeug,

[code]

then reinstall the project.

[code]

ok.
Let's try the tests.

[code]

💥 💣

so that's what is happening on CircleCI.

[2020-02-07 13:51] karlcow commented on #3187
[code]

then

[code]

nosetests still failing, but different errors, 2 types

[code]

[code]

These will need to fix in our code. :)

[2020-02-07 15:10] ksy36 commented on #3186
I think this https://github.com/webcompat/webcompat.com/pull/3168  hasn't been deployed on production yet

[2020-02-07 17:15] #3183 closed

[2020-02-07 23:04] #3188 closed

[2020-02-07 23:25] miketaylr commented on #3187
...which was released yesterday. wow.

[2020-02-10 07:26] karlcow commented on #3186
the route exists

https://github.com/webcompat/webcompat.com/blob/94911bcce14261dcc8a18a61fc9fcc725716dfd2/webcompat/views.py#L440-L446
Added by https://github.com/webcompat/webcompat.com/pull/3168/files

this is  deployed already on staging.

**but** as @ksy36 this is not yet in production

https://webcompat.com/terms#acceptable-use vs https://staging.webcompat.com/terms#acceptable-use

and we ar

[2020-02-10 07:26] #3186 closed

[2020-02-11 00:45] karlcow commented on #3155
These configurations are in place.

[2020-02-11 00:45] #3155 closed

[2020-02-11 03:20] karlcow opened #3195 "Anonymous reporting works on staging but fails on prod"
So the issue is created in public but the private issue is not created at all.
We need to figure out why.

[2020-02-11 03:48] karlcow commented on #3195
@miketaylr fyi
(env) ~/code/webcompatdevops/deployment % fab deploy -b karlcow:3195/1 -t staging

[2020-02-11 04:05] karlcow commented on #3195
ok so this logging is not breaking staging at least.

[code]

[2020-02-11 04:17] karlcow commented on #3195
so this is interesting.

instead I changed my local configuration so my local instance would be posting on the live repos.
https://github.com/webcompat/web-bugs/issues/48021
https://github.com/webcompat/web-bugs-private/issues/66

then i closed it from the private repos and everything worked well.

The only difference is that `karlcow`  oauth was used instead of webcompat-bot.

[2020-02-11 04:23] karlcow commented on #3195
ok I have a theory. Let's try to reactivate the anonymous reporting on production

I unticked this.

<img width="818" alt="Capture d’écran 2020-02-11 à 13 19 57" src="https://user-images.githubusercontent.com/505230/74211077-acd90100-4cd1-11ea-93b2-7ce249331eec.png">

[2020-02-11 04:29] karlcow commented on #3195
this didn't work. :)

[2020-02-11 06:09] karlcow commented on #3195
ok I found the issue and I don't know yet why this is happening, but that's an interesting issue.

I made `webcompat-tests-private` actually private and it **stopped working** as expected. webcompat-bot is unable to create an issue.

1. as karl i can file an issue on a private repo cf https://github.com/webcompat/webcompat.com/issues/3195#issuecomment-584472172
2. as webcompat-bot reporting in pri

[2020-02-11 06:13] karlcow commented on #3195
<img width="172" alt="Capture d’écran 2020-02-11 à 15 12 59" src="https://user-images.githubusercontent.com/505230/74214518-0e549c00-4ce1-11ea-9ad2-183d42db3e15.png">

is it because webcompat-bot is not 2fa

[2020-02-11 06:37] karlcow commented on #3195
yeah when I switched webcompat-tests-private to private instead of public, this time webcompat-bot received.

[code]

so we need to do something along this.
https://developer.github.com/v3/auth/#working-with-two-factor-authentication

[2020-02-11 06:39] karlcow commented on #3195
But the issue with this is that a bot will not be able to do OTP.

[2020-02-11 06:46] karlcow commented on #3195
ah no maybe just a personal access token would work
https://help.github.com/en/github/authenticating-to-github/accessing-github-using-two-factor-authentication#using-two-factor-authentication-with-the-command-line

[2020-02-11 16:54] miketaylr commented on #3195
Strange. I just double checked, and we don't require 2FA (but we probably should!)
<img width="674" alt="Screen Shot 2020-02-11 at 8 53 59 AM" src="https://user-images.githubusercontent.com/67283/74259022-11816500-4cac-11ea-8b4f-45c1b62f1f0a.png">

[2020-02-11 17:29] ksy36 opened #3196 "Add functional tests for the new form UI"
We need to add tests for the new form, similar to https://github.com/webcompat/webcompat.com/blob/master/tests/functional/reporting-non-auth.js

[2020-02-11 17:58] miketaylr commented on #3195
Ah, I think I understand the issue. I bet a diet coke that the OAuth token we prevously had was restricted to `public_repo` scope. We need full repo scope in order to access private repos. I'll generate a new token and stick it on the server.

[2020-02-11 18:03] miketaylr commented on #3195
I see that you made the webcompat-tests-private repo actually private, so I'm going to re-deploy master to staging and test with the new token and test.

[2020-02-11 18:37] miketaylr opened #3197 "Closing a private issue after it's been moved to "accepted" sets the moderation template to rejected"
I don't know if this is expected behavior...

STR:
1. file anon issue
2. moderate as accepted
3. close issue

Expected: nothing changes
Actual: the public issue is set to rejected

It seems useful to be able to close accepted issues, so we don't have to keep looking at them. I guess the workaround is to filter on milestone, but the default view of "is:issue is:open" seems easier to work with.

htt

[2020-02-11 18:37] miketaylr commented on #3197
@softvision-sergiulogigan @softvision-oana-arbuzov @cipriansv until this issue is fixed (or closed as WONTFIX?), after moderating an issue please leave the issue open.

[2020-02-11 19:17] #2981 closed

[2020-02-11 22:14] karlcow commented on #3195
Ah I didn't know/remember that oauth token had scopes. Thanks.

[2020-02-11 22:14] #3187 closed

[2020-02-11 22:18] karlcow commented on #3197
interesting.

[2020-02-11 22:19] karlcow commented on #3197
Ah yes it was part of the logic! So it's normal. I guess i could fence that with if it has the milestone accepted, do not edit the issue in public.

[2020-02-12 00:48] karlcow opened #3199 "change blacklisted by blocked or denied"
This is an easy one.
https://github.com/webcompat/webcompat.com/search?q=blacklisted&type=Code

Context:
https://twitter.com/TheAmyCode/status/1227254024656711680

[2020-02-12 01:02] karlcow commented on #3195
So this was solved by @miketaylr through creating a new token with better scopes.
let's close it here.

[2020-02-12 01:02] #3195 closed

[2020-02-12 04:44] #3197 closed

[2020-02-12 04:48] miketaylr commented on #3199
+1, I like "blocklist" + "allowlist"

[2020-02-12 06:12] karlcow opened #3201 "Comment with the location of the public bug in the private repo"
1. anonymous report is being published in private repo
2. moderation template in public
3. Should a comment be made automatically by webcompat-bot into the private repo with the location of the issue to the public repo?

Rationale:
the location is here in the html comment but not visible to the moderators. Does it matter?
Maybe it matters once the issue has been moderated for understanding the con

[2020-02-12 07:15] karlcow opened #3202 "[tests] Create tests for tools/labels.py"
This is related to #557
It has currently no tests at all.

[2020-02-12 07:21] karlcow opened #3203 "[tests] tools/topsites.py has missing tests"
the topsites tool has missing tests to be fully covered.

https://github.com/webcompat/webcompat.com/blob/136607eeb2ff0c65ee681ad942875937a920cb9b/tools/topsites.py

the test code is at
https://github.com/webcompat/webcompat.com/blob/master/tests/unit/test_topsites.py

[2020-02-12 07:24] karlcow opened #3204 "[test] api/endpoints.py needs more tests coverage"
https://github.com/webcompat/webcompat.com/blob/136607eeb2ff0c65ee681ad942875937a920cb9b/webcompat/api/endpoints.py#L30

The API is only partially tested currently. (69% as of today) and would benefit of a better coverage.

[2020-02-12 07:28] karlcow opened #3205 "Python unittest coverage"
I was testing the test coverage of our code for python.
To experiment.

[code]

Then for the coverage

[code]

which gives us an error (this to explore) while nosestests is ok.

[code]

Here the nosetests results

[code]

Once we ran coverage, we can display a report:

[code]

which is not too bad.

[code]

if we focus on the ones which are less than 80%

* [ ] tools/daily_labels.py will be fixed

[2020-02-12 07:38] karlcow opened #3206 "[test] switching from nosetests to pytest?"
In the process of checking the coverage #3205 for our python test using [coverage](https://coverage.readthedocs.io/), I stumbled on this in the documentation.

Let's see [nose documentation](https://nose.readthedocs.io/en/latest/) and [code](https://github.com/nose-devs/nose).

last commit in March 2016, 4 years ago. So probably it's time for us to move on. Not urgent, but we can at least test wha

[2020-02-12 08:07] softvision-sergiulogigan commented on #3201
We think that that would improve our workflow.
Once an issue has been `accepted`, a link with the public issue would help us jump right into triaging, that issue.

[2020-02-12 10:17] softvision-oana-arbuzov opened #3207 "Notification message about illegal content should be available on the form"
URL: https://webcompat.com/issues/new

Browser / Version: Firefox Nightly 75.0a1 (2020-02-11), Chrome 80.0.3987.87
Operating System: Windows 10 Pro
Tested Another Browser: Yes

**Steps to Reproduce:**
1. Navigate to https://webcompat.com/issues/new
2. Observe the form and screenshot area.

**Expected result:**
A message is displayed, informing the reporter to avoid reporting and uploading illegal

[2020-02-12 11:59] karlcow commented on #3183
@miketaylr Just for the record. here…
to [convert a string to a boolean in python](https://docs.python.org/3/distutils/apiref.html#distutils.util.strtobool). hat tip to @rik

[2020-02-12 12:09] rik commented on #3183
The implementation is pretty straight forward and would raise for misconfigured values: https://github.com/python/cpython/blob/39afa2d3147e4b05a1161cc90dbf09b95072c2bb/Lib/distutils/util.py#L307-L320

[2020-02-12 15:18] miketaylr commented on #3201
This sounds like a good improvement.

[2020-02-12 16:27] miketaylr commented on #3207
I would avoid writing "child porn", but something link to the terms would be good.

[2020-02-12 16:28] miketaylr commented on #3206
One approach is to just write new tests in pytest, then open bugs for contributors to port existing tests (or one of us, if we find a few spare hours).

[2020-02-12 22:28] miketaylr commented on #3206
http://doc.pytest.org/en/latest/nose.html is good to know about.

I tried running our nose tests w/ pytest but run into the following:

[code]

Probably some trick to fix the imports.

Maybe if we can fix this, we just start running tests via `pytest`, and then slowly port existing stuff to use `pytest` idioms.

[2020-02-12 22:39] miketaylr commented on #3206
The other option is nose2: https://docs.nose2.io/en/latest/#nose2-vs-pytest

[2020-02-12 22:43] karlcow commented on #3206
some explorations i did in the past too.
https://github.com/karlcow/tests_explore

[2020-02-12 22:45] karlcow commented on #3206
fwiw nose2 is what is used on https://github.com/webcompat/webcompat-metrics-server

[2020-02-12 23:01] davidbgk opened #3208 "Booleans and ENV vars"
This is a follow up on https://github.com/webcompat/webcompat.com/pull/3185 after reading [@karlcow's week notes](http://www.otsukare.info/2020/02/07/week-notes-2020-06) and a discussion on IRC about that.

Me recommendation was to try to cast the env vars to booleans as soon as possible (there are a [couple of ways](https://stackoverflow.com/q/715417) to achieve that) and not compare the result h

[2020-02-13 00:22] karlcow commented on #3206
Another input point
https://flask.palletsprojects.com/en/1.1.x/testing/

[2020-02-13 00:27] karlcow commented on #3206
https://agopian.info/presentations/2015_06_djangocon_europe/

[2020-02-13 03:37] karlcow commented on #3206
This is a better documentation
https://docs.pytest.org/en/latest/goodpractices.html

In `webcompat.com/setup.py`

[code]

and then

[code]

we can run the tests with `pytest -x tests`

It will stop at the first failure because of `-x`. we get

[code]

[2020-02-13 03:39] karlcow commented on #3206
if I run it on a less complicated test file such as test_urls.py

[code]

we get

[code]

which is cool!

[2020-02-13 03:41] karlcow commented on #3206
And the full test suite: `pytest tests`

[code]

so basically 1 fail and 3 warnings to fix.
And we could switch to pytest.

[2020-02-13 03:48] karlcow commented on #3206
for Deprecation warnings see
https://docs.pytest.org/en/latest/warnings.html#deprecationwarning-and-pendingdeprecationwarning

[2020-02-13 04:05] karlcow commented on #3206
This
[code]

is because of
https://github.com/webcompat/webcompat.com/blob/136607eeb2ff0c65ee681ad942875937a920cb9b/webcompat/templates/form.html#L124

[2020-02-13 04:35] karlcow commented on #3206
And this is a pass!

[code]

[2020-02-18 16:36] miketaylr commented on #3144
@ksy36 is going to take a stab at this.

[2020-02-19 00:40] ecsmyth opened #3210 "Missing whitespace in copy on step 7 of new issue wizard"
## STR
1. Start a new webcompat issue report (e.g., action "Report site issue..." from ellipsis menu in Firefox address bar)
2. Fill out report through step 7, "Send report"

## Observed
![image](https://user-images.githubusercontent.com/17688672/74790459-71f44180-526c-11ea-885d-a27ba3e9efea.png)

## Expected
Whitespace between `GitHub` and `or`

[2020-02-19 01:07] karlcow commented on #3206
Same tests, not changing anything else.

## nosetests
[code]

## pytest

[code]

[2020-02-19 01:09] karlcow commented on #3206
This is locally. On CircleCI, we get a different result.
https://github.com/webcompat/webcompat.com/pull/3209

[2020-02-19 01:46] #3174 closed

[2020-02-19 04:53] karlcow commented on #3206
so for this one, a solution was available in
https://github.com/pallets/jinja/issues/1156

we will need to figure out if it's breaking other stuff to double escape with `\\d`

[2020-02-19 06:14] karlcow opened #3211 "Rename all blueprints"
We have in our code confusing blueprint names, which creates name clashes in certain circumstances. specifically the tests.

I fixed the API blueprint and there are others.
https://github.com/karlcow/webcompat.com/commit/ca0a84a8544ad05640709c04a6442960553afe8f

This issue here to adopt the same convention for other blueprints.

[2020-02-19 16:15] miketaylr commented on #3210
Whoops, thanks :)

[2020-02-19 18:02] miketaylr opened #3212 "Get ML triage working again"
It's unclear what this will involve, but us moving things around to accommodate the new workflow broke things.

https://webcompat-ml.readthedocs.io

[2020-02-19 18:09] miketaylr commented on #3212
https://github.com/mozilla/webcompat-ml-deploy/blob/master/docker/needsdiagnosis/run.py#L89-L146 seems to be where some of the magic happens.

[2020-02-19 18:10] miketaylr commented on #3212
Note the existing webhook is still receiving and responding to events: https://github.com/webcompat/web-bugs/settings/hooks/133615727

[2020-02-19 22:07] #3210 closed

[2020-02-19 22:35] #3206 closed

[2020-02-20 02:34] karlcow opened #3214 "Adjust the documentation to replace mention of nose, and change that by pytest"
we moved from nose to pytest.
The documentation needs to be adjusted.

summary:

[code]

would give something like:

[code]

[2020-02-20 02:36] karlcow commented on #3206
To reinstall a clean site-packages

[code]
Then

[code]

we need to update the doc too. See #3214

[2020-02-20 17:03] #3201 closed

[2020-02-21 02:59] miketaylr commented on #3212
@karlcow noticed in https://github.com/webcompat/web-bugs/issues/48695, it seems like the bot is working.

He proposes it should only do that once the `action-needsmoderation` label is removed.

[2020-02-21 03:03] miketaylr commented on #3212
TODO for me: write down how and when we want this bot to do its job -- and how does that interact with #3144?

[2020-02-21 04:56] karlcow commented on #3179
This was created on the wiki
https://github.com/webcompat/webcompat.com/wiki/Moderation

[2020-02-21 04:56] #3179 closed

[2020-02-21 15:28] #3214 closed

[2020-02-21 22:20] #3208 closed

[2020-02-24 20:43] miketaylr commented on #3212
### Old model

Anonymous report -> needstriage milestone -> ML classifier runs -> Issue closed as invalid (possibly).

### Possible future models

We have a couple ways to handle this. The biggest constraint we face is not accidentally leaking content which may violate the terms of use (aka, abusive content).

If we tell the bot to run on the private repo, before moderation happens we could do 2 t

[2020-02-25 08:57] softvision-sergiulogigan commented on #3212
We think that this is the way to go forward.

However, we would like to come up with a suggestion:
If we could somehow manually trigger the ML bot to run on the Needstriage milestone, we could do this after each session of moderation. This way, everything bad remains in the private repo, and all the other accepted junk will be processed by the bot.

[2020-02-25 18:02] miketaylr commented on #992
We do this already.
![Screen Shot 2020-02-25 at 11 59 45 AM](https://user-images.githubusercontent.com/67283/75273376-5e922a80-57c6-11ea-9f5e-e8dc571396a7.png)

[2020-02-25 18:03] #992 closed

[2020-02-25 18:17] miketaylr commented on #1685
We currently add a label for GeckoView-based Focus. I don't know the future of WebView Focus, but I suspect it won't exist long term. Let's close here.

[2020-02-25 18:17] #1685 closed

[2020-02-25 23:31] #3211 closed

[2020-02-26 19:13] #2867 closed

[2020-02-26 19:15] miketaylr commented on #2679
I think probably it's not worth the efforts to implement this.

[2020-02-26 19:15] #2679 closed

[2020-02-26 19:15] miketaylr commented on #2584
This is probably WONTFIX right now.

[2020-02-26 19:15] #2584 closed

[2020-02-26 19:16] #2454 closed

[2020-02-26 19:16] miketaylr commented on #2447
This was old Edge, so no longer an issue worth fixing IMO.

[2020-02-26 19:16] #2447 closed

[2020-02-26 19:16] miketaylr commented on #2446
Probably not worth worrying about for old Edge.

[2020-02-26 19:16] #2446 closed

[2020-02-26 19:20] miketaylr commented on #2359
Given this is a focus bug, there's nothing we can do here.

[2020-02-26 19:20] #2359 closed

[2020-02-26 19:24] miketaylr commented on #2054
I think this is already in place for the form v2.

[2020-02-26 19:24] #2054 closed

[2020-02-26 19:30] miketaylr commented on #1699
I don't think this is actionable.

[2020-02-26 19:30] #1699 closed

[2020-02-26 20:59] #2807 closed

[2020-02-27 06:53] karlcow commented on #3212
I think I understand why it worked for this one.
We have to think that everything is being done with delay.

The issue was created:

[code]

A couple of things, here,

* the ML classifier worked along oana in the same pocket of time of 12 minutes.
* Basically oana moderating the issue under 7min, the classifier bot had something to extract from the issue in the body and was able to work, aka to ad

[2020-02-27 07:29] karlcow commented on #3212
I'm not sure, but i have the feeling that this would create issues wrt the way the data are handled in the models, it collects all events for an issue, and so here we introduce a divergent history (two timelines).

The issue i raised in the previous comment is really practical.

currently:

1. In the private repo, the humans are checking the bug report by loading the page in the right context, so

[2020-02-27 08:52] softvision-oana-arbuzov opened #3222 "Blank screenshot received on some reported issues"
URL: https://github.com/webcompat/web-bugs/issues/48900
Browser / Version: Firefox Nightly 73.0a1 (2019-12-26)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://github.com/webcompat/web-bugs/issues/48900
    2. Click “View the screenshot”.

**Expected Behavior:**
Correct screenshot is displayed, reflecting the reported issue.

**Actual Behavior:**
Blank screensho

[2020-02-27 16:30] ksy36 opened #3223 "Make it possible to navigate to the next step by pressing Enter [New UI]"
<img width="1089" alt="Screen Shot 2020-02-27 at 11 08 33 AM" src="https://user-images.githubusercontent.com/1303908/75462193-db9ddb00-5951-11ea-9dc7-5287864740a7.png">

After entering url and pressing "Enter" nothing happens (even if "Confirm" button is focused). It would be nice to be able to switch to the next step. This is reproducible with all other buttons in the wizard.

This along with htt

[2020-02-27 19:20] miketaylr commented on #3212
I think this makes sense, thanks @karlcow. Perhaps we need to re-think how we do the work, as you suggest: someone does moderation, and then we allow a period of "baking" time before triaging those same issues (to allow the bot to do its work).

[2020-02-27 19:22] miketaylr commented on #3222
For the linked issue at least, the description is:

In theory it's possible there's a totally blank page and the screenshot is showing us the right thing? We could detect all the white pixels and do something smarter so it's less confusing though.

[2020-02-27 19:23] miketaylr commented on #3222
(but that theory doesn't hold up for https://github.com/webcompat/web-bugs/issues/48977, I think....)

[2020-02-27 23:38] karlcow commented on #3222
How the screenshot is working would it be possible it creates a reinit

[code]

The same site with Rdm and clicking on the lightbulb gives us a screenshot.

but on mobile it didn't even add the screenshot automatically so something is going on, but that seems a different issue. I was not able to even trigger a white image, or maybe that's the issue?

The image
https://camo.githubusercontent.com/b7

[2020-02-28 06:48] softvision-sergiulogigan commented on #3212
This sounds like a good plan!

This would not be an issue for us at all.

As we mentioned in the e-mail sent earlier this week, we performed a little test ourselves. We moderated everything (around 100 issues) on Sunday evening in hopes that by Monday morning (our time), the ML would run on the Needstriage list and close issues, but we noticed that it didn't.

I guess the fault is that we have not

[2020-02-28 08:36] karlcow commented on #3212
While the labeling is happening in run.py.
The trigger is in the webhook. i opened
https://github.com/mozilla/webcompat-ml-deploy/issues/5

[2020-02-28 14:22] #3196 closed

[2020-02-29 22:45] robinwhittleton opened #3224 "Ability to be alerted for a particular domain"
I’m currently in a position where I can either get fixes in or at least alert the appropriate team at ikea.com, so I’d love to set up an alert if new issues are filed. Is this functionality that could be considered?

[2020-03-02 06:38] karlcow commented on #3224
@robinwhittleton which type of alert would you like to have?

in no particular order.

* mail?
* notification?
* atom feed?
* uri with a json ready to consume by your own client?
* something else?

asking because it has been a recurrent discussion and we need understanding what would be the most practical.

[2020-03-02 06:41] karlcow commented on #3224
Poor man tool in the meantime.
https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+ikea+in%3Atitle

[2020-03-02 06:51] robinwhittleton commented on #3224
Yeah, I’ve been visiting that search page when I remember (so every couple of months basically), but obviously I don’t want compat bugs to rely on one person thinking to check.

Mail would be the obvious candidate (and I could tie a team’s mailing list to it too) but a Slack bot would be nice. Although maybe I can just wrangle an existing Github integration to alert for new issues that match a fil

[2020-03-02 16:33] denschub opened #3226 "CoC points to an outdated eMail address"
Ola is no longer working for Mozilla, so the eMail address in the Code of Conduct is no longer valid. Let's replace it with @ksy36's address, who volunteered. :)

[2020-03-03 14:25] #3226 closed

[2020-03-04 06:34] apsychogirl commented on #3199
HI, Can I take this up?

[2020-03-04 06:37] apsychogirl commented on #3113
Hi, I would like to take this up.

[2020-03-04 07:07] karlcow commented on #3199
@apsychogirl Sure.

1. Make sure to read
  1. https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md
  2. https://github.com/webcompat/webcompat.com/blob/master/docs/pr-coding-guidelines.md
2. fork the project
3. clone in on your local computer
4. create a branch with the name `3199/1`
5. code
6. push your branch to your fork
7. create a pull request.

and ask me as a reviewe

[2020-03-04 17:55] miketaylr commented on #3223
This would be a nice improvement, yes!

[2020-03-06 15:20] ksy36 opened #3229 "Make it so each step in the wizard is an individual module"
In this issue we need to refactor existing code in a way that each step becomes an individual module. An ability to navigate through steps should persist without any additional functionality (validation, image uploading, etc.).

[2020-03-06 15:23] ksy36 opened #3230 "Add validation for step 1"
Add validation for the url field and enable "Confirm" button only if url is valid

<img width="1170" alt="Screen Shot 2020-03-06 at 10 24 50 AM" src="https://user-images.githubusercontent.com/1303908/76096900-c699fb00-5f94-11ea-8026-f95a6914be6d.png">

[2020-03-06 15:29] ksy36 opened #3231 "Add validation for step 5"
Add validation for step 5 and enable "Confirm" if both fields are not empty
<img width="1172" alt="Screen Shot 2020-03-06 at 10 27 55 AM" src="https://user-images.githubusercontent.com/1303908/76097218-517af580-5f95-11ea-8b01-c05deecf91a1.png">

See also: https://github.com/webcompat/webcompat.com/issues/3042

[2020-03-06 15:35] ksy36 opened #3232 "Add validation for step 2 when selecting "Something else""
Enable confirm button once description is entered

<img width="1153" alt="Screen Shot 2020-03-06 at 10 31 04 AM" src="https://user-images.githubusercontent.com/1303908/76097432-b20a3280-5f95-11ea-9ade-f9d27b6c8474.png">

[2020-03-06 15:45] ksy36 opened #3233 "Update progress tracker to indicate which step we're on"
<img width="1294" alt="Screen Shot 2020-03-06 at 10 44 50 AM" src="https://user-images.githubusercontent.com/1303908/76098478-87b97480-5f97-11ea-832c-67d801b5b123.png">

See also: https://github.com/webcompat/webcompat.com/issues/2969 and https://github.com/webcompat/webcompat.com/issues/2968

[2020-03-06 15:47] ksy36 opened #3234 "Add an ability to prefill the form with postMessage"

[2020-03-06 16:09] #2966 closed

[2020-03-08 19:55] greenkeeper[bot] opened #3235 "An in-range update of yargs is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `15.2.0` to `15.3.0`.

🚨 [View failing branch](https://github.com/webcompat/webcompat.com/compare/master...webcompa

[2020-03-08 22:03] karlcow opened #3236 "[ml] rate of issues that machine learning is handling"
Looking at the number of issues which are in [needstriage, without action-needsmoderation and anonymous](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedstriage+-label%3Aaction-needsmoderation+author%3Awebcompat-bot). I only see a couple which have been handled by the machine learning bot.

We need to better understand in which occasion the ML-process kicks in a

[2020-03-08 23:06] #3199 closed

[2020-03-09 01:59] karlcow commented on #3113
@apsychogirl would you like to tackle this one? now that you finished #3199

[2020-03-09 03:37] karlcow commented on #3212
closing this here. followup in #3236

[2020-03-09 03:37] #3212 closed

[2020-03-09 06:04] karlcow commented on #3224
This is also related to #132
Maybe more doable now given the webcompat-kibana instance.

[2020-03-09 07:06] cipriansv commented on #3236
We moderated this morning 144 issues and the ML bot closed about 30 of them.

![image](https://user-images.githubusercontent.com/45160931/76190226-2d155800-61e5-11ea-9d27-b8af64c5e54c.png)

[2020-03-09 07:09] karlcow commented on #3236
@cipriansv how does it compare with before ?

[2020-03-09 07:15] cipriansv commented on #3236
It took me about 45 minutes to moderate the issues and by the time I was finished with the process, the ML bot did its job.

From our point of view, it seems to be working fine, just as before the incident happened.

[2020-03-09 14:07] #3235 closed

[2020-03-10 00:53] karlcow commented on #3236
Two questions here

* Why all anonymous issues are not being processed by the ML bot (what's the criteria? @miketaylr )
* What was the rationale to not process issues which are non anonymous?

I have the feeling that all issues should be processed by the ML engine, at least as an advisory mechanism if we do not want to close them automatically for non anonymous. But I'm asking because I don't know

[2020-03-12 17:36] miketaylr commented on #3236
Can you clarify what you mean by not being processed? My understanding is that the bot classifies *all* issues, and only tags/closes issues that have a 95% confidence level of being invalid. Something with a confidence level lower than that will be left to humans.

(If we find it useful, we could close all issues below 90%)

I'm not sure we have a strong rationale, it was just a decision that was

[2020-03-13 03:21] chasestruck opened #3239 "CONTRIBUTING.md contains links to the Mozilla IRC Network. It should contain links to the Mozilla Matrix Network"
As irc.mozilla.org is now dead. It is outdated to have info about chatting on IRC. We should change this to include information about Mozilla Matrix instead.

[2020-03-13 03:40] #3239 closed

[2020-03-13 23:30] wesinator opened #3241 "Increase default textarea size of detailed steps"
Firefox 73.0.1 macOS 10.14.6
macbook pro 15-inch retina

Would you mind increasing the default size of the detailed steps text area ?
<img width="1305" alt="image" src="https://user-images.githubusercontent.com/5124946/76666117-077aac80-655f-11ea-9507-bb4ead9997b1.png">
the default text area size only shows two lines of text, also there is a lot more available, unused space right under the text ar

[2020-03-16 14:47] miketaylr opened #3243 "Turn on Form v2 to 100% for a week"
In order to judge the impact on report volume (since metrics seem a little broken right now), I think we should go to 100% for 7 days, then we can go back to 50% if we feel the need to.

[2020-03-16 14:47] miketaylr commented on #3243
Any objections @karlcow, @ksy36?

[2020-03-16 15:04] cipriansv opened #3244 "Sometimes the ML bot overrides an already closed issue"
**Steps to reproduce:**
1. Moderate an issue.
2. Move the issue to needstriage repo.
3. Access immediately the issue in the needstriage repo and triage it accordingly.
4. Observe the ML bot behavior.

**Expected Behavior:**
The ML bot must detect that an issue is already closed and not take any further action upon it.

**Actual Behavior:**
Sometimes the ML bot overrides the already closed issue mo

[2020-03-16 21:28] miketaylr commented on #3244
@cipriansv can you file a bug @ https://github.com/mozilla/webcompat-ml please (then this can be closed)

[2020-03-16 21:30] ksy36 commented on #3243
no objections

[2020-03-16 21:50] miketaylr commented on #3243
OK, I changed relevant env vars to:

[code]

Just now, and restarted the server.

[2020-03-16 22:52] karlcow commented on #3243
go for it with my objection. Kidding.

[2020-03-17 02:46] karlcow commented on #3244
@miketaylr @cipriansv probably this should be on https://github.com/mozilla/webcompat-ml-deploy/

[2020-03-17 03:07] greenkeeper[bot] opened #3245 "An in-range update of grunt is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [grunt](https://github.com/gruntjs/grunt) was updated from `1.0.4` to `1.1.0`.

🚨 [View failing branch](https://github.com/webcompat/webcompat.com/compare/master...webco

[2020-03-17 06:49] cipriansv commented on #3244
Thanks, @karlcow.
I filed a new issue in the suggested repo: https://github.com/mozilla/webcompat-ml-deploy/issues/7.

[2020-03-17 06:49] #3244 closed

[2020-03-18 16:23] #3243 closed

[2020-03-19 05:34] Celia848 commented on #3222
#

[2020-03-19 19:31] ksy36 commented on #3021
While this is happening I can see that the cookie is set, but the site still returns the old design

<img width="1558" alt="Screen Shot 2020-03-19 at 3 10 33 PM" src="https://user-images.githubusercontent.com/1303908/77107112-8f950200-69f6-11ea-8d58-064ed66190aa.png">

This is happening in Firefox Preview as well and goes away once I change ETP to be "Standard" instead of "Strict" in Settings. Jus

[2020-03-20 18:27] ksy36 commented on #3106
This was addressed in https://github.com/webcompat/webcompat.com/pull/3246

[2020-03-20 18:27] #3106 closed

[2020-03-23 14:30] #3245 closed

[2020-03-23 18:12] miketaylr opened #3249 "Investigate why ETP is blocking the experiment cookie"
STR:

In Fenix Nightly, go to a page then Report Site Issue

Expected: form v2
Actual: form v1

(if you disable Strict TP, you get expected results)

My question is: if we're serving this cookie in a first-party context, why is it being blocked?

(Does Strict TP turn on Do Not Track? If so, that would explain it)

[2020-03-23 18:15] miketaylr commented on #3249
Yeah, seems like turning on Strict sends `DNT: 1` as well as `Upgrade-Insecure-Requests: 1`

[2020-03-23 18:16] miketaylr commented on #3249
https://github.com/webcompat/webcompat.com/blob/d1c3b122fac11a2c6cc838c67cc358a23d5df8a6/webcompat/helpers.py#L714

[2020-03-23 18:50] miketaylr opened #3250 "Actually Enable form v2 for 100% of people"
We enabled form v2 for 100% of new users... but it's not really enabled, depending on DNT and *possibly* logged in status.

https://github.com/webcompat/webcompat.com/blob/d1c3b122fac11a2c6cc838c67cc358a23d5df8a6/webcompat/helpers.py#L706-L733

I think we should remove the DNT restriction -- if everyone has it on, it's not tracking. And we're not storing or sharing that info.

[2020-03-23 18:51] miketaylr commented on #3250
(And we can add @karlcow to `AB_EXEMPT_USERS` to know that that code path actually works. :))

https://github.com/webcompat/webcompat.com/blob/d1c3b122fac11a2c6cc838c67cc358a23d5df8a6/webcompat/helpers.py#L701

[2020-03-23 18:53] miketaylr commented on #3249
We have the answer now. CASE CLOSED.

[2020-03-23 18:53] #3249 closed

[2020-03-23 18:53] miketaylr commented on #3250
cf https://github.com/webcompat/webcompat.com/issues/3249

[2020-03-23 22:40] #3229 closed

[2020-03-24 00:00] karlcow commented on #3250
Agreed. It's just the new thing. We are recording the info through the label and it's how we detected the issue. BUT the label should probably go away too if it's the new norm.

One thing though… `ab_current_experiments()` is supposed to be a generic function of experimentation, not really tied to the form experiment. If the new form is our new way of doing things, we don't need it to pass it thro

[2020-03-24 00:06] karlcow commented on #3250
So the `AB_EXPERIMENTS` is here
https://github.com/webcompat/webcompat.com/blob/d1c3b122fac11a2c6cc838c67cc358a23d5df8a6/config/__init__.py#L240-L251

Maybe this should be removed.

[2020-03-24 01:22] karlcow commented on #3250
so maybe the only line to modify is here.

https://github.com/webcompat/webcompat.com/blob/d1c3b122fac11a2c6cc838c67cc358a23d5df8a6/webcompat/views.py#L269-L274

[2020-03-24 03:39] karlcow opened #3253 "CircleCI can store test artifacts for multiple runs comparison"
* for pytest see https://circleci.com/docs/2.0/collect-test-data/#pytest
* And intern seems to be able to report with a junit file too. https://theintern.io/docs.html#Intern/4/docs/docs%2Fchanges_from_3.md/search-result-0

[2020-03-24 05:21] karlcow opened #3254 "intern.json configuration file."
In December, we upgraded intern to 4.7.1 in package.json

[code]

It seems that the way to [configure intern](https://theintern.io/docs.html#Intern/4/docs/docs%2Fconfiguration.md/config-file) now is through an `intern.json` file.

Should we do that?

[2020-03-24 05:24] karlcow opened #3255 "Running tests with intern locally"
In our documentation we are telling people that it's possible to run the test locally. I tried a couple of times, without success.

Just me, or the doc is wrong.
In one window `npm run start:test`
In another one `npm run test:js`

This is not working. nothing is really starting.

[2020-03-24 16:20] ksy36 commented on #3255
Do you see any errors when running `npm run start:test`?

I have `python` linking to python 2 and `python3` linking to python 3, so I run test server with this command:

`source env/bin/activate && python3 run.py -t`

If I try running the server with python 2 I get this error:

[code]

`npm run start:test` still has `python` in it, so I don't use it:

[code]

But I'd assume you may have it set up

[2020-03-24 21:51] karlcow commented on #3255
my python default is linked to python3. The server is starting. with no error messages.
The `npm run start:test` just does one request on the server, and nothing else is happening. I'm still trying to figure out why. So I assume this is working for you @ksy36. That's good to know. I need to figure out if something is wrong in my own config.

[2020-03-24 23:35] karlcow commented on #3255
sorry i meant. And i just tried with the current master and no tests is running.

[code]

which triggers in the other terminal window.

[code]

[2020-03-24 23:56] karlcow commented on #3255
Oh wait I'm dumb… I switch to zsh a couple of weeks ago… and reconfigure from start my profile…

Let's reconfigure this to see if it changes things.
So that was missing but it didn't change anything.

[code]

let's be more modern. `nvm use v12.10.0`
nope still a fail.

[2020-03-25 00:24] karlcow commented on #3255
* [x] PATH is good.
* [x] npm latest version
* [x] java

[code]

Though the panel says Java 8.241 (build 1.8.0_241-b07)
Let's reinstall java, just in case.

Let's restart

[2020-03-25 01:22] karlcow commented on #3255
restarting doesn't give me the good version of java interesting.
I removed java entirely but the system still shows it, which means the update was installing it elsewhere, I'll need to figure out where.

[code]

and now trying to start the tests it says that java is not installed. Ok so that was my java version which was busted. Now I need to figure out where it installed it instead.

[2020-03-25 02:04] karlcow commented on #3255
wow…
[code]

This is where it was hidden.
https://community.intersystems.com/post/fixing-java-version-osx

ANd this is a mess.
https://docs.oracle.com/javase/9/install/installation-jdk-and-jre-macos.htm

[2020-03-25 02:23] karlcow commented on #3255
Added to my .zshrc these:

[code]

and this is now working. Holy Cow 🐄

[2020-03-25 02:23] #3255 closed

[2020-03-26 13:56] ksy36 opened #3258 "Change steps class names from numerical values to their actual names"
We need to change steps class names from numerical names to their actual names. For example here `step1` should be converted to `step-url`
https://github.com/webcompat/webcompat.com/blob/cc9e12f89424c025584db42f85015fcc6f9d63d4/webcompat/templates/issue-wizard-form.html#L13-L14

https://github.com/webcompat/webcompat.com/blob/cc9e12f89424c025584db42f85015fcc6f9d63d4/webcompat/static/js/lib/wizard/

[2020-03-26 21:32] miketaylr opened #3259 "Make Add-on URLs locale-independent"
Rather than hard-code the en-US locale, it seems like the addon stores are smart enough to redirect to a more appropriate locale for the user.

(back-filing this issue for https://github.com/webcompat/webcompat.com/pull/3256)

[2020-03-26 21:44] miketaylr commented on #3254
We can try!

I think we might lose out on some of the custom stuff we have in `_intern.js`, like the `grep` stuff, but maybe that can be done via intern.json.

[2020-03-26 22:08] miketaylr commented on #3254
We also do a custom thing for CircleCI here:

[code]

And

[code]

But maybe we can pass it a custom config.json or something. LETS FIND OUT.

[2020-03-27 06:54] cipriansv opened #3261 "Using "Report Site Issue" button from Private Mode opens the form in Standard Mode"
As reported in https://github.com/webcompat/web-bugs/issues/50779:

On **Firefox Preview Nightly** in **Private Mode**:
 1. Access any site.
2. Use the "Report site" issue button.
3. Observe the opened window.

**Expected result:**
The window must be opened in Private Mode.

**Actual result:**
The window opens in Standard Mode.

**Watchers:**
@softvision-oana-arbuzov
@softvision-sergiulogigan

sv;

[2020-03-27 21:29] magsout opened #3262 "Enable to deploy correctly the project"
str
[code]

goto `Developer settings`:
- goto `Personnal access toek`
- create `New personal access token`

did that:

<img width="784" alt="Screen Shot 2020-03-27 at 22 22 13" src="https://user-images.githubusercontent.com/1997108/77801569-6f5de680-7079-11ea-80cf-f6e6cee05e0a.png">

- goto `OAuth Apps`
- `Register a new OAuth application`

did that:
<img width="608" alt="Screen Shot 2020-03-27 at

[2020-03-30 16:46] #3230 closed

[2020-03-30 18:18] miketaylr commented on #3261
@cipriansv can you file this bug against the Fenix repo? We can't control it from our end of things.

[2020-03-30 18:22] miketaylr opened #3264 "Update flash message copy for a newly reported issue"
One of Matt's UX findings and recommendations was to add this to the flash message:

It would be nice to match the proposed design at some future point, but this is an easy copy win.
https://miro.com/app/board/o9J_kwyD8Ok=/

[2020-03-30 18:35] #3250 closed

[2020-03-30 19:51] #3232 closed

[2020-03-30 20:01] #3254 closed

[2020-03-30 21:45] #3264 closed

[2020-03-31 02:00] ksy36 opened #3267 "Add characters counter to "describe what happened step""
Bring back counter from the old version and enable "Continue" button once the required amount of characters is reached

[2020-03-31 02:08] ksy36 opened #3268 "Add image uploading functionality"

[2020-03-31 05:45] cipriansv commented on #3261
@miketaylr, I filed an issue in the Fenix repo: https://github.com/mozilla-mobile/fenix/issues/9536.

[2020-03-31 05:45] #3261 closed

[2020-03-31 16:44] #3231 closed

[2020-03-31 16:45] #3042 closed

[2020-04-02 14:31] #3267 closed

[2020-04-02 19:13] magsout opened #3272 "Migrate to dependabot"
![Screen Shot 2020-04-02 at 21 12 01](https://user-images.githubusercontent.com/1997108/78292024-affcaa80-7526-11ea-9afb-3b077ec2d7aa.png)

Dependabot is owned and maintained by GitHub https://github.com/marketplace/dependabot-preview

[2020-04-02 19:13] magsout commented on #3272
we already us it on metrics client

[2020-04-02 21:33] magsout commented on #3262
After a chat with @miketaylr I guess, this issue is fixed but not really fixed, so what I did.

@miketaylr made public the private repo. Fixed all 404 errors, after that I could report a bug, and browse throw the search form. But i wasn't able to log in.

I got this errror:

![Screen Shot 2020-04-02 at 21 19 50](https://user-images.githubusercontent.com/1997108/78301674-ba746f80-7539-11ea-9baa-abc

[2020-04-02 23:07] miketaylr commented on #3170
I'm not able to reproduce, but @magsout was. It seems like it's possible to get in some weird state related to GitHub OAuth.

[2020-04-05 22:18] miketaylr opened #3275 "Investigate recent 502s"
I've had 2 pings from Moz folks in the past few days about a 502 when trying to report an issue.

Looking at our nginx logs, there's some weird activity - it's unclear if it's caused by bots, or there's something wacky happening at the application level.

The first instances is April 02:
[code]

But there's 50 instances of the same IP trying to report this `https://adp.rocketlauncher.mobi/click` U

[2020-04-06 11:27] magsout commented on #3275
not related with the down of github?

![Screen Shot 2020-04-06 at 13 26 52](https://user-images.githubusercontent.com/1997108/78553864-51774b00-780a-11ea-9e3d-f926e6fe9cfa.png)

[2020-04-06 16:22] miketaylr commented on #3275
@magsout totally possible. The one that was reported to me happened on Friday. I wonder if we can somehow detect a GitHub outage and recover from it. 🤔

[2020-04-07 17:08] miketaylr opened #3277 "Add Hunt from Home label to EXTRA_LABELS"
I guess something like `type-hunt-from-home` is good enough.

[2020-04-07 17:40] #3277 closed

[2020-04-08 17:41] #3268 closed

[2020-04-08 20:11] #3259 closed

[2020-04-08 20:15] miketaylr commented on #2198
I think there's only one instance left: https://github.com/webcompat/webcompat.com/blob/0d260f567f7f34a938d1edfa9f4224cae2b813c0/tests/functional/lib/window-helpers.js#L35

[2020-04-09 15:24] miketaylr commented on #3272
SGTM!

[2020-04-09 15:25] miketaylr commented on #1332
Given that https://github.com/webcompat/webcompat.com/issues/2905 was closed (the only unchecked item), let's close this!

[2020-04-09 15:25] #1332 closed

[2020-04-09 15:27] miketaylr commented on #1390
@softvision-sergiulogigan do you still have access to a Samsung Galaxy phone to test if this still reproduces?

[2020-04-09 16:22] miketaylr commented on #2449
I did some thinking about @karlcow's suggestion here and would like to try it out (in my spare time / hours) over the next few weeks. Not high priority stuff, but I think it could be a nice improvement.

Here's what I think needs to happen, I'll spin them out into issues when I start working on it:

* [ ] convert issue page to be server (python) rendered. we can keep new comments in JS, but render

[2020-04-09 16:32] miketaylr opened #3281 "Convert issue page to be server rendered"
It should be possible to render an issue from the server, since we get all data from GitHub.

New comments will continue to be dynamic.

See https://github.com/webcompat/webcompat.com/issues/2449#issuecomment-611619573

[2020-04-09 17:41] miketaylr opened #3282 "Update privacy policy to mention GPU / driver info"
Probably before we land https://phabricator.services.mozilla.com/D70278

[2020-04-09 18:53] ksy36 opened #3284 "Move submit issue logic to the refactored version"

[2020-04-09 19:00] ksy36 opened #3285 "Move logic for get params parsing to the refactored version"
https://github.com/webcompat/webcompat.com/blob/ba021466b11c8bba958584f54bbf6158f56f6d71/webcompat/static/js/lib/issue-wizard-bugform.js#L423-L434

[2020-04-09 20:48] #2198 closed

[2020-04-09 23:09] #3282 closed

[2020-04-10 11:57] softvision-sergiulogigan commented on #1390
@softvision-oana-arbuzov has the device.

However, I did test it on a Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density) but could not reproduce the issue.

Let's wait and see if Oana can reproduce it or not, using the new version of webcompat.com

[2020-04-10 13:44] softvision-oana-arbuzov commented on #1390
@miketaylr I still reproduce the issue on Samsung Galaxy S6 Edge (Android 7.0) - 1440 x 2560 pixels (~577 ppi pixel density). The screenshot is not uploaded if Firefox Preview Nightly cache/data is cleared first.
![FirstTryBroken](https://user-images.githubusercontent.com/12184325/78995085-442fc880-7b4a-11ea-96e1-2187b8133bb9.gif)

Note: Trying again to upload a screenshot does not work, but dismi

[2020-04-10 14:33] miketaylr commented on #1390
So weird, thanks for testing again.

[2020-04-13 06:52] softvision-sergiulogigan commented on #1390
Since neither Oana or me can reproduce this one, I'm closing it as Invalid (due to the layout change)

[2020-04-13 06:52] #1390 closed

[2020-04-14 17:41] webcompat-bot opened #3287 "webcompat.com - Unable to upload screenshot"
**URL**: https://webcompat.com

**Browser / Version**: Firefox Mobile 76.0
**Operating System**: Android 7.0
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: Won't let me upload error screenshot.
**Steps to Reproduce**:
Screenshot wont upload!!!!!!!!!!!!!

<details>
<summary>Browser Configuration</summary>
<ul>
  <li>None</li>
</ul>
</details>

_From [webcompat.com

[2020-04-15 14:56] #3234 closed

[2020-04-16 16:06] miketaylr opened #3289 "Display GPU browser info as nested UL"
Right now it will look like this:

`GPUs: [{'active': True, 'description': '', 'deviceID': '0x67ef', 'vendorID': '0x1002', 'driverVersion': ''}]`

Not the end of the world, but we could make this a nested UL to be more human friendly.

[2020-04-16 16:23] miketaylr commented on #3289
That should happen here: https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L296-L309

[2020-04-16 16:24] miketaylr commented on #3289
(or, more likely, here https://github.com/webcompat/webcompat.com/blob/9187af92432fc4046c9dcca39be5b6f009fabaea/webcompat/helpers.py#L87)

[2020-04-20 16:44] miketaylr opened #3291 "Make issue moderation more efficient"
Thinking of ways to optimize issue moderation. Right now the workflow is basically:

1. look at the issue, make sure it's not a violation of our TOS
2. move it to the accepted milestone
3. close the issue
(and then probably go triage the issue)

That's 2 clicks and it gets annoying, because you have to wait on GitHub's UI. Kind of slow sometimes.

Just by moderating some issues, it's obvious that

[2020-04-21 05:30] karlcow commented on #3236
@miketaylr in the current design I was not sure if an issue had been processed or not. but you confirmed that is the case. i wonder if a label `action-ml-done` would be appropriate. Maybe not.

[2020-04-22 13:58] softvision-sergiulogigan commented on #3291
I personally think that this is the more cool thing to do.

[2020-04-22 20:59] #3289 closed

[2020-04-22 22:24] miketaylr opened #3295 "Convert existing comments to be statically rendered."
Follow up to https://github.com/webcompat/webcompat.com/issues/3281

This may or may not be desirable, since it will require us to block on another request. Perhaps dynamic is the way to go here. 🤔

But if we want to create an archive, we will at least need a method that allows for static comment rendering, so it could be optional.

[2020-04-24 09:05] softvision-oana-arbuzov commented on #3044
The issue also occurs on VR device, and there is no posibility to swipe left/right or horizontal scroll the subsections.
![UnabletoScrollIssuesType](https://user-images.githubusercontent.com/12184325/80194914-c973ac80-8623-11ea-956a-87c4abaf6a68.png)

**Tested with:**
Browser / Version: Firefox Reality 9.1 (31.03.2020)
Operating System: Oculus Go

[2020-04-27 14:41] softvision-sergiulogigan commented on #3291
We have 2 similar ways we do Moderation:

1. We open a batch of issues (or maybe even all of them), evaluate them, close the ones that are not fit for the public, and after that, we accept and close the rest in batch (all at once).
*Accept and Close in batch*

2. We open a batch of issues (or maybe even all of them), evaluate them, close the ones that are not fit for the public, accept the rest on

[2020-04-29 19:04] magsout commented on #3272
I removed  greenkeeper  from webcompat repo

[2020-04-29 19:22] magsout commented on #3272
I added dependabot with this config:

![Screen Shot 2020-04-29 at 21 21 00](https://user-images.githubusercontent.com/1997108/80637498-63da5280-8a5f-11ea-921e-cfb664f18689.png)

Monthly updated should enough, I guess?

[2020-04-29 23:05] #3281 closed

[2020-05-04 19:40] miketaylr opened #3297 "changelog.py script unable to handle commit messages from @dependabot"
[code]

Probably from https://github.com/webcompat/webcompat.com/pull/3296 (we switched to a new dependency bot thingy):

`Bump grunt from 1.0.4 to 1.1.0`

[2020-05-04 19:42] miketaylr commented on #3297
https://github.com/webcompat/webcompat.com/blob/ed96b3d8169babd0d1260a638283b7f4bbee3bb8/tools/changelog.py#L72-L88

And see also the tests:

https://github.com/webcompat/webcompat.com/blob/ed96b3d8169babd0d1260a638283b7f4bbee3bb8/tests/unit/test_tools_changelog.py#L36-L61

[2020-05-04 19:43] miketaylr commented on #3297
(I'm being lazy, so I will manually fix the PR title, but is maybe a good bug for you to pick up @apsychogirl, if you're interested!)

[2020-05-04 19:47] miketaylr commented on #3297
Before we relied on `🚀` in the title to know it was an NPM update, so I guess now we need to be a little more clever.

[2020-05-04 21:31] miketaylr commented on #3295
Here's how comments currently work:

For an issue, initialize the `CommentsCollection` here:

https://github.com/webcompat/webcompat.com/blob/357e05346ca6f23869ea622da4c9ba62bd59750e/webcompat/static/js/lib/issues.js#L290

If there are any comments on the issue, here is where we fetch them:

https://github.com/webcompat/webcompat.com/blob/357e05346ca6f23869ea622da4c9ba62bd59750e/webcompat/static/j

[2020-05-04 22:48] ksy36 opened #3299 "Make sure that "Tested Another Browser" field of an issue reflects users' selection"
The following issue has "Unknown" in "Tested Another Browser" instead of "Yes" or "No"
https://github.com/webcompat/webcompat-tests-private/issues/95

Actual:
Tested Another Browser: Unknown Chrome

Expected:
Tested Another Browser: Yes Chrome

[2020-05-05 01:54] apsychogirl commented on #3297
I'll definitely give it a try.

[2020-05-06 16:39] miketaylr commented on #3297
Great! Let me know if you get stuck or need any pointers.

[2020-05-06 16:54] miketaylr commented on #3295
Maybe a place to start here is to create the ability to fetch 30 pre-rendered comments at a time, returned as HTML we can add to the page after the initial load.

I'd like to avoid building 2 entirely different comment loading solutions, where possible (because they're likely to fall out of sync). I don't think it's entirely unavoidable, but something to aim for.

[2020-05-07 10:51] apsychogirl commented on #3297
Hi, I was trying to rebuild the error, but wasn't able to. How can I proceed further? :(

[2020-05-07 12:06] karlcow commented on #3297
@apsychogirl always start with a test covering what you want to test, run the test suite and you will see if it fails or not. The test suite is the key. :)

[2020-05-07 12:32] apsychogirl commented on #3297
Hi, actually I am unable to reciprocate the error on my machine :(

[2020-05-07 12:56] karlcow commented on #3297
@miketaylr changed the original title to make it pass.

<img width="735" alt="Capture d’écran 2020-05-07 à 21 51 57" src="https://user-images.githubusercontent.com/505230/81296553-04a6be80-90ad-11ea-8b30-204648263e97.png">

The test is probably something along

checking on other projects, the message always start with Bump.

[2020-05-07 12:59] karlcow commented on #3297
This is the test, you need to add,

[code]

then run pytest, see how it fails, and try to fix the function `changelog.normalize_title`

:)

[2020-05-07 16:03] miketaylr commented on #3275
We haven't had reports of this recently, so I do think it was a GitHub outage issue.

[2020-05-07 16:03] #3275 closed

[2020-05-08 14:46] #3284 closed

[2020-05-08 21:25] #3258 closed

[2020-05-11 12:07] cipriansv commented on #3236
We noticed after monitoring the ML-bot activity that, lately, it does not close some issues that are obviously invalid, since they are scam or phishing sites and contain the "scam" or "phishing" words as part of the issue description.

Examples:

- https://github.com/webcompat/web-bugs/issues/52740

- https://github.com/webcompat/web-bugs/issues/52739

- https://github.com/webcompat/web-bugs/issue

[2020-05-11 18:56] miketaylr commented on #3236
This will probably depend on how the model was trained. It follows a pattern of what was invalid in the past (which may not have had those words or patterns inside of it). I think as we continue to re-train the model, it should bet better in the future.

(This should be possible, we just don't really know how to do it right now. :))

[2020-05-11 20:37] #3233 closed

[2020-05-11 20:37] #2996 closed

[2020-05-11 20:37] #2962 closed

[2020-05-11 20:38] #3006 closed

[2020-05-11 20:38] #2969 closed

[2020-05-11 20:38] #2968 closed

[2020-05-12 06:45] #3297 closed

[2020-05-12 07:29] soniasingla commented on #2980
Hey @miketaylr !

Can I work on this issue? Also, `A valid URL is required.` this issue no longer exists but we can add the border as per the above design. WDYT?

[2020-05-12 13:39] miketaylr commented on #2980
Hi! Let's check that @ksy36 didn't already fix that in her `formv2-refactor` branch.

@ksy36?

[2020-05-12 13:51] ksy36 commented on #3038
Styling demo url: https://cdpn.io/Octavector/debug/5c04c472d928b6a34521febf2789a6d2

[2020-05-12 13:56] ksy36 commented on #2980
No, I didn't add the border, so you can go ahead @soniasingla :)
Another related issue is focus & valid state style changes https://github.com/webcompat/webcompat.com/issues/3038

[2020-05-12 17:21] miketaylr commented on #3100
@bacharakis do we think we can remove this tracking now? Or are we still learning from it?

[2020-05-12 17:43] bacharakis commented on #3100
Yes, I think you can remove it now :)

On Tue, May 12, 2020 at 7:21 PM Mike Taylor <notifications@github.com>
wrote:

--
Christos Bacharakis
bacharakis.com

[2020-05-12 19:23] miketaylr opened #3305 "Remove GA tracking code for steps in form"
No longer needed.
Added in #3100

[2020-05-13 17:14] soniasingla commented on #2980
Checking on another issue #3038 now :)

[2020-05-14 02:25] karlcow commented on #3113
See the comment in https://github.com/webcompat/webcompat.com/pull/3273#issuecomment-628346573
and https://github.com/webcompat/webcompat.com/pull/3273/files#r424834237

[2020-05-14 02:27] karlcow commented on #3113
I will close this issue and eventually we could create a new one.

Some ideas to explore.

* [How and why have a properly “Configuration Handling File” using Flask?](https://itnext.io/how-and-why-have-a-properly-configuration-handling-file-using-flask-1fd925c88f4c)
* [Configuration Handling](https://flask.palletsprojects.com/en/1.1.x/config/)
* [Flask configuration files | Learning Flask Ep. 12](h

[2020-05-14 02:28] #3113 closed

[2020-05-14 04:59] karlcow commented on #3305
https://github.com/webcompat/webcompat.com/pull/3101/files

[2020-05-14 05:02] karlcow commented on #3241
This is the old form which is not used anymore.
So I guess this issue is now moot
The new form is

<img width="1110" alt="Capture d’écran 2020-05-14 à 14 02 31" src="https://user-images.githubusercontent.com/505230/81894769-95205a00-95eb-11ea-81c7-2a506ea06d4d.png">

Thanks @wesinator

[2020-05-14 05:02] #3241 closed

[2020-05-14 05:04] karlcow commented on #3272
This is done!
and the changelog has been modified too. See #3301

[2020-05-14 05:04] #3272 closed

[2020-05-14 05:06] karlcow commented on #3262
two issues and one is probably related to the dynamic loading of milestones. I think I want to throw that code so we do not depend on it to start the app. @miketaylr

I want to switch to hardcoded version of the milestone.
**AND** a tool which just check if the milestones are valid in tools and or deployment scripts.

[2020-05-14 08:01] karlcow commented on #3204
since 2016, the code has a blueprint for errors which is… not used.
https://github.com/webcompat/webcompat.com/commit/44e804ff3d99ed389c996c4f745049717dbbff3c

[2020-05-14 15:35] miketaylr commented on #3204
Unused means no errors caused by this code, right???

[2020-05-14 17:59] miketaylr commented on #3262
Sounds like a nice improvement!

[2020-05-14 20:35] karlcow commented on #3204
@miketaylr I don't think any current views are returning something because of this blueprint, or said in anothe way, it seems we could delete it without any impact, I haven't tried it yet.

[2020-05-14 20:53] miketaylr commented on #3204
Are we sure this isn't actually used? AFAICT, this is the only thing controlling the error messages that we *do* see (like `Not Found. Lost in Punk Cat Space`). => `https://webcompat.com/tacos`

[2020-05-14 21:21] karlcow commented on #3204
ah right then it's used! And it's magical and I need to double check something. Thanks for digging this.

This is working indeed! Cool.

[code]

[code]

That will simplify my tests reasoning and removes one modification I did yesterday. My test was bad.

[2020-05-14 23:36] soniasingla commented on #3207
Can I take this issue? :)

[2020-05-14 23:49] karlcow commented on #3204
one thing i like about the combination of pytest and coverage is that it really shows what is not tested.

[code]

[2020-05-15 00:41] karlcow commented on #3204
@miketaylr ah just realized this

https://github.com/webcompat/webcompat.com/blob/ad693004dcc017fc56b7a2e85f287948db0075a2/tests/unit/test_api_urls.py#L54

And now trying to understand we decided to do that.

[2020-05-15 00:44] karlcow commented on #3204
Maybe this needs to be revisited.
https://github.com/webcompat/webcompat.com/issues/712#issuecomment-147748826

[2020-05-15 00:46] karlcow commented on #3204
That was previous to the work done by bea in https://github.com/webcompat/webcompat.com/pull/1588

And we could revert the decision of  `webcompat.app.config['TESTING'] = False` and adjust the tests. That seems not good to make a special case of api.

[2020-05-17 05:09] fixmacs opened #3309 "Contextual menu entry for dictionary lookup in Mac Firefox"
The Mac version of Firefox is missing the contextual menu item for dictionary lookup of a single highlighted word. One screenshot is from Firefox. The other screenshot is from Chrome. The Firefox right-click contextual menu option for "Look up..." is missing .

![Screen Shot 2020-05-16 at 9 53 23 PM](https://user-images.githubusercontent.com/34322020/82136327-aae77800-97c1-11ea-8a13-c585fc1adade.j

[2020-05-18 01:11] karlcow commented on #3309
This is not a webcompat.com issue. This bug tracker is dedicated to the development of webcompat.com server.

This also doesn't look like a website issue, it could be a browser UI difference which could be reported on https://bugzilla.mozilla.org/

Probably a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1116391

[2020-05-18 01:11] #3309 closed

[2020-05-18 15:58] miketaylr commented on #3305
I guess we could revert that PR, or just have @ksy36 not port it over to her rewrite?

[2020-05-19 14:36] ksy36 commented on #3305
Yeah, I didn't move the tracking code to the refactored version

[2020-05-20 21:44] #3295 closed

[2020-05-21 15:16] miketaylr opened #3310 "Create a "model" test file using pytest"
@karlcow do you want to port over any unit test file from unittest/nose to pytest? It would be nice to have something to model after, and then we can update docs as well (pointing to the flask + other useful articles).

[2020-05-21 22:16] miketaylr opened #3311 "Fix 2 issue template regressions"
I forgot to do this, so right now the timestamps are long!

(I made one of these for the issue page already, so probably very simple to import and re-use).

[2020-05-21 22:31] karlcow commented on #3310
Good idea.

[2020-05-22 02:45] karlcow commented on #3310
And indeed this needs a good rewrite.
https://github.com/webcompat/webcompat.com/blob/master/docs/tests.md#writing-tests

[2020-05-22 03:16] ksy36 commented on #3311
I've noticed a small bug related to the same template, when going to a url with comment anchor (e.g. http://localhost:5000/issues/1784#issuecomment-632360709) a error is thrown, since the element with id `issuecomment-632360709` does not exist

Adding `id="issuecomment-{{ response.id }}"` to this element fixes it
[code]
Could you please add it since it's in the same template? 🙏

[2020-05-22 16:21] miketaylr commented on #3311
Whoops, thanks for noticing. :)

[2020-05-22 19:02] #3311 closed

[2020-05-25 08:29] #3310 closed

[2020-05-25 15:10] ksy36 opened #3314 "label browser-firefox-mobile is added to an issue reported through fenix reporter"
I've reported this issue in Firefox Preview Nightly
https://github.com/webcompat/web-bugs/issues/53357

Even though `label=browser-fenix` was in the url from the reporter, the issue ended up having `browser-firefox-mobile` label (Fennec). I would expect it having `browser-fenix` label instead

[2020-05-25 15:18] #2980 closed

[2020-05-26 16:11] miketaylr opened #3315 "Remove `type-hunt-from-home` from EXTRA_LABELS"
The campaign is no longer active:

https://github.com/webcompat/webcompat.com/blob/8fdb3d9f5bb955187945b86f711ef08366454079/config/__init__.py#L217

[2020-05-27 09:32] softvision-oana-arbuzov opened #3316 "Check-marks are displayed misaligned on "Browser/Operating System" fields"
**URL**: https://webcompat.com/issues/new

**Browser / Version**: Firefox Preview Nightly 200526 (🦎 78.0a1-20200522094316), Chrome 81.0.4044.138
**Operating System**: Huawei P20 Lite (Android 8.0.0) - 1080 x 2280 pixels, 19:9 ratio (~432 ppi density), Samsung Galaxy S6 Edge (Android 7.0) - 1440 x 2560 pixels (~577 ppi pixel density)

**Description**: Items are misaligned

**Steps to Reproduce**:
1

[2020-05-27 19:02] soniasingla opened #3317 "[New UI] Add correct border for invalid form element state works on desktop, not on Mobile"
Follow up from issue #2980

Currently, the border is applied only on Desktop, not on mobile. It will be great to have it on mobile.

cc : @ksy36 :smile:

[2020-05-28 03:02] karlcow opened #3318 "Remove AB testing initialization"
This line means

https://github.com/webcompat/webcompat.com/blob/b3e5e1ffb58dc4cc372e4dad94eb390675a9c2d3/webcompat/views.py#L82

we are still going through AB code for each single request.
We should fence it with an environment flag so that it is running only when the flag is on.

[2020-05-28 03:19] karlcow opened #3319 "Remove the form building from home page"
In the spirit of removing unnecessary call to unused functions for this context.

The home page is making a call to `get_form` which is not useful anymore.

https://github.com/webcompat/webcompat.com/blob/b3e5e1ffb58dc4cc372e4dad94eb390675a9c2d3/webcompat/views.py#L180

and communicating the data to a template which does nothing with it.
https://github.com/webcompat/webcompat.com/blob/b3e5e1ffb58d

[2020-05-28 03:20] karlcow commented on #3319
In the past these were useful but we transitioned from a form on the homepage to a link to the issue page. so this is not needed anymore.

[2020-05-28 14:07] miketaylr commented on #3319
Oh, nice catch. 👍

[2020-05-28 20:04] soniasingla commented on #2961
@miketaylr this issue no longer exists, we can mark it done :)

[2020-05-28 20:30] #3317 closed

[2020-05-28 22:29] miketaylr commented on #2961
Yep, the following looks good to me, thanks!

https://github.com/webcompat/webcompat.com/blob/54a27f0a1b0968195e31d3c0c447593d5011af18/webcompat/templates/issue-wizard-form.html#L18-L24

[2020-05-28 22:29] #2961 closed

[2020-05-29 01:10] karlcow commented on #3205
In the universe of pytest, running the test coverage if we were adding this later.

[code]

as of today:

[code]

[2020-05-29 01:19] karlcow opened #3321 "[test] webcompat/issues.py needs more tests coverage"
coverage is missing currently

[code]

https://github.com/webcompat/webcompat.com/blob/54a27f0a1b0968195e31d3c0c447593d5011af18/webcompat/issues.py#L99-L104

Probably two steps.

* [x] convert to pytest (see [this diff as an example](https://github.com/webcompat/webcompat.com/pull/3312/commits/d6c87dfee3cd23b004b137e1fbd4df5010ebca35) and [documentation](https://github.com/webcompat/webcompat.com/

[2020-05-29 08:21] karlcow commented on #3205
progress on the issues.py module with test_issues.py. Now 100% done in #3322

[code]

[2020-05-29 08:25] karlcow opened #3323 "create a specific tool files for our tests."
Some of the tests we have will reuse common tools. If I understood well, pytest gives the possibility to put them together under the same umbrella.
https://docs.pytest.org/en/latest/writing_plugins.html#conftest-py-plugins

[2020-05-29 23:47] #3038 closed

[2020-05-30 00:29] #3299 closed

[2020-05-30 00:29] #3285 closed

[2020-05-30 03:08] miketaylr commented on #2933
This is likely fixed?

[2020-05-30 03:08] #2933 closed

[2020-05-30 03:33] miketaylr opened #3326 "Create module for rendering issues with comments as a static HTML file"
It should be possible to create a method that takes an issue number as an argument and produces an entire issue page as static HTML.

[2020-06-01 00:45] #3319 closed

[2020-06-01 00:47] #3315 closed

[2020-06-01 18:16] #2086 closed

[2020-06-01 21:29] #3321 closed

[2020-06-01 22:25] karlcow commented on #793
I wonder if the behavior is changed by the current refactoring work of @ksy36

[2020-06-01 23:37] karlcow commented on #291
I propose we close this. Nobody is willing to work on it and maybe it's not a priority.

[2020-06-01 23:37] #291 closed

[2020-06-01 23:44] karlcow commented on #619
This is probably solved by the work on https://github.com/webcompat/webcompat.com/projects/6

[2020-06-01 23:44] #619 closed

[2020-06-01 23:53] karlcow commented on #793
I thought it would be https://bugzilla.mozilla.org/show_bug.cgi?id=1589724
but in fact it happens in Chrome too with the difference that Firefox creates navigation history in the window.history but not chrome. So probably if we fixed it for chrome it will not be necessary fixed for Firefox. To watch out when solving this.

[2020-06-02 03:56] karlcow opened #3329 "Create a decorator for checking, enforcing the login state."
There are many places where we are testing if the user is logged in or not. We should probably have a decorator for this.

For example
* https://flask.palletsprojects.com/en/1.1.x/patterns/viewdecorators/
* https://dev.to/sonnk/python-decorator-and-flask-4c16
* https://realpython.com/primer-on-python-decorators/#is-the-user-logged-in

cc: @miketaylr

[2020-06-02 04:20] karlcow commented on #834
I think this is fixed.

[2020-06-02 04:20] #834 closed

[2020-06-02 04:24] karlcow commented on #877
Let's close this.

[2020-06-02 04:24] #877 closed

[2020-06-02 04:27] karlcow commented on #1007
This was addressed in https://github.com/webcompat/webcompat.com/projects/6

[2020-06-02 04:27] #1007 closed

[2020-06-02 07:17] karlcow commented on #1200
This is slightly more stable https://github.com/webcompat/webcompat.com/blob/f88375baac0029560da45951833894785fc99210/webcompat/views.py#L211-L322

or basically search for `/issues/new` route in `webcompat/views.py`

[2020-06-02 07:39] karlcow commented on #1200
This route contains:

* push caching for CSS with HTTP/2
* logging
* user logged or not. see #3329
* check the request type

Then processing start:
* with 6 `return`
* and 4 `abort`

so yes indeed this is a bit complicated. I need to draw what it does. A very simple step could be just to create functions that remove everything which is not web related.

Question: should most of the engineering be

[2020-06-02 07:41] karlcow commented on #1200
even logging could be probably elsewhere.

[2020-06-04 02:53] karlcow commented on #1200
additional Thoughts on why it's important to refactor by extracting into functions.
https://hakibenita.com/python-dependency-injection

By making modular functions we do not depend on creating fake request to test what the view should do. we just need to test input/output.

[2020-06-05 22:49] #2900 closed

[2020-06-05 23:02] ksy36 opened #3330 "Add a separate bundle for modern browsers"

[2020-06-08 16:03] #3305 closed

[2020-06-08 19:06] miketaylr opened #3332 "[CSP] global.js trying to use eval"
`Content Security Policy: The page’s settings blocked the loading of a resource at eval (“script-src”).`

I guess we have a global.js in our webpack bundle:

[code]

[2020-06-08 19:06] miketaylr commented on #3332
This doesn't seem that important, because it's inside a try/catch, but perhaps something to look into so our CSP logs don't get too annoying.

[2020-06-08 19:14] miketaylr commented on #3332
We could probably fix this by giving the script a nonce, https://webpack.js.org/guides/csp/ -- but that will require python generating parts of the JS (it needs to be a unique nonce per-pageload). We haven't done that yet, but it doesn't sound impossibly hard.

[2020-06-08 19:46] #3330 closed

[2020-06-08 20:14] ksy36 opened #3333 "Test webcompat.com on staging after refactoring"
Now that the [refactored version of the form and webpack bundling](https://github.com/webcompat/webcompat.com/projects/9) is on staging, it would be nice to do some additional testing. Since the main chunk of work was done on the reporting page, it probably needs more attention and for the rest of the pages I think quick check would be enough.

@softvision-oana-arbuzov @cipriansv would you be able

[2020-06-08 20:35] miketaylr commented on #3333
Thanks for filing @ksy36. We're looking for *regressions* from current behavior (although new (serious) bugs are interesting!

[2020-06-09 01:04] ksy36 opened #3334 ""Thanks for reporting an issue" is missing in the refactored version"
After submitting an issue, "Thanks for reporting an issue!" flash message is missing at the top of the page

[2020-06-09 11:33] softvision-oana-arbuzov commented on #3333
Thanks @ksy36, we will do some testing.

[2020-06-10 00:58] karlcow opened #3336 "[python 3.8.3] wrong test for image upload"
As I'm in the process of reconfiguring.

[code]

And it spills out:

[code]

https://github.com/webcompat/webcompat.com/blob/6e220dd777539877ecb10a8715b77445a112d445/webcompat/api/uploads.py#L175-L179

ooops. Indeed.

[2020-06-10 01:00] karlcow commented on #3336
`is` is not the right keyword in this context. It should be `==`. `'image'` is a string not a `type` and so we not checking the object identity, but the value coming out of our test.

[2020-06-10 01:02] karlcow commented on #3336
The warning is a new feature from python 3.8. Quite cool.
https://realpython.com/lessons/warnings-about-dangerous-syntax/

[2020-06-10 03:49] karlcow opened #3337 "Handle python gracefully when npm install has not be done"
starting the project before npm install makes it explode.
Maybe we can handle this in a more graceful way.

[code]

[2020-06-10 03:52] karlcow commented on #3149
https://webcompat.com/issues we need to filter these out.

[2020-06-11 00:26] karlcow commented on #3149
exclude by default. It's useless for the people who checks the website.
Later on we could open an issue on how many bugs are in the moderation queue, if we feel so.

[2020-06-11 08:09] magsout commented on #3149
@karlcow how does it work. How i can use the keywords `action-needsmoderation ` in the request to avoid issues in moderation? I have to use the param `q` ?

[2020-06-11 10:46] cipriansv opened #3338 "The section's title contains extra characters"
**STR**:

1. Access https://staging.webcompat.com/issues/new.
2. Type a valid URL and click the "Confirm" button.
3. Observe the title of the newly revealed section.

**Expected result**:
The section's title must be "What is wrong with the page?"

**Actual result**:
The section's title must be "What is wrong with the page .at?"

![image](https://user-images.githubusercontent.com/45160931/84374915-

[2020-06-11 10:49] #3338 closed

[2020-06-11 11:03] apsychogirl commented on #3318
Hi, Can I take this up?

[2020-06-11 14:00] softvision-oana-arbuzov opened #3339 "Disable scrolling while "Learn more" popups are active"
**URL**: https://webcompat.com/issues/new, https://staging.webcompat.com/issues/new

**Browser / Version**: Firefox Preview Nightly 200610 (🦎 79.0a1-20200609092134), Chrome 83.0.4103.101, Firefox Nightly 79.0a1 (2020-06-10)
**Operating System**: Samsung Galaxy S6 Edge (Android 7.0) - 1440 x 2560 pixels (~577 ppi pixel density), Huawei P20 Lite (Android 8.0.0) - 1080 x 2280 pixels, 19:9 ratio (~432

[2020-06-11 20:50] miketaylr commented on #3149
Looking at the code, it's slightly confusing:
https://github.com/webcompat/webcompat.com/blob/ed96b3d8169babd0d1260a638283b7f4bbee3bb8/webcompat/static/js/lib/models/issue.js#L153

So that's saying the URL is constructed here:

https://github.com/webcompat/webcompat.com/blob/ed96b3d8169babd0d1260a638283b7f4bbee3bb8/webcompat/static/js/lib/issue-list.js#L347-L351

It's maybe enough to add a `q` par

[2020-06-11 21:40] miketaylr commented on #3314
@karlcow is this something you could investigate when you have some spare cycles?

[2020-06-12 01:37] karlcow commented on #3318
@apsychogirl you can try. I haven't tested that it would break anything, but please propose a PR if you want. That will give us code to think about it.

[2020-06-12 05:20] ksy36 commented on #3336
ahh good to know, thanks! I'll take a look :)

[2020-06-12 07:45] softvision-oana-arbuzov commented on #3333
@ksy36 and @miketaylr we've performed some exploratory testing on the site and did not find any new major/critical issues.
From our point of view, we consider it to be in good shape for release.
Great job !

[2020-06-12 10:29] magsout commented on #3149
@miketaylr `-label:action-needsmoderation` it is  what i'm looking for. thanks.

[2020-06-12 15:53] miketaylr commented on #3333
Thank you for testing! <3

[2020-06-12 15:53] #3333 closed

[2020-06-12 16:21] ksy36 commented on #3333
Thanks @softvision-oana-arbuzov and @cipriansv :)

[2020-06-12 17:16] ksy36 opened #3340 "Run javascript unit tests in CI"
Modify https://github.com/webcompat/webcompat.com/blob/master/.circleci/config.yml and add `npm run test:unit-js`

[2020-06-13 06:45] magsout commented on #3149
Im' a bit confused about the code (because of me, not the code),  but if I  understand. Right now, there are conditions:

this first condition https://github.com/webcompat/webcompat.com/blob/6e220dd777539877ecb10a8715b77445a112d445/webcompat/static/js/lib/issue-list.js#L311

So, I writed something like that in `doGitHubSearch()`:

[code]

It's working only when the user added query param. But it's

[2020-06-15 05:14] karlcow commented on #3149
Or we could modify this

https://github.com/webcompat/webcompat.com/blob/745537d9d62acd2939eaeeb0fbee2d3cedbf9289/webcompat/api/endpoints.py#L120-L135

so that we only return the results for a modified  needstriage list (without the action moderation) when we are requesting `/issues/category/needstriage`.

Note that this is the list we want to address:

https://github.com/webcompat/web-bugs/issues

[2020-06-15 05:18] #3336 closed

[2020-06-15 07:49] karlcow commented on #3314
@ksy36 @miketaylr

[code]

The `reported_with` is blank

so I decided to try on Firefox Preview Nightly and going through the form until the end but submitting. And If we look at the URL at this moment there is no `label=browser-fenix` in the URI.

so I decided to try to open
  `http://127.0.0.1:5000/issues/new?label=browser-fenix`
on the desktop to force the extra-label

And this is what I get fo

[2020-06-15 14:56] ksy36 commented on #3314
`handleMessage` is only used to handle postMessage from the reporter, so it won't be triggered when we go to this url directly `http://127.0.0.1:5000/issues/new?label=browser-fenix`. postMessage is sent from desktop and fennec reporters only I think.

I think we parse GET request params and save extra_labels to session

https://github.com/webcompat/webcompat.com/blob/956377ff3d47f335fd8b5d0ec130d6

[2020-06-15 15:45] ksy36 commented on #3314
Ah, realized that Dennis did some improvements in https://github.com/mozilla/webcompat-team-okrs/issues/132 and Fenix reporter now also sends a postMessage.

This is a message I get from it at the moment:

<img width="574" alt="Screen Shot 2020-06-15 at 11 19 11 AM" src="https://user-images.githubusercontent.com/1303908/84676307-5a1b8a00-aefb-11ea-97a2-3b48748fa629.png">

extra_labels is empty and

[2020-06-15 15:58] ksy36 commented on #3314
That makes me think, back to the conversation we had about functionality on webcompat.com that is not being used. Maybe we could drop support of param prefilling on the backend since it'll simplify things. I think at the moment we support 3 ways of prefilling the form, GET and POST and postMessage. And probably postMessage will be the main source of prefilling the form now that Firefox Preview has

[2020-06-15 16:01] miketaylr commented on #3314
I'm supportive of the idea, but I think Firefox Reality uses GET params. We could try to get that to use the Android Component version however?

(In theory GET params are nice to allow for HTTP-only interactions, but so far that's remained theoretical)

[2020-06-15 16:13] karlcow commented on #3314
This is working on my phone when I manually add the label… on staging.

https://staging.webcompat.com/issues/new?label=browser-fenix

see https://github.com/webcompat/webcompat-tests/issues/2495

So this is working. BUT if I do with firefox preview nightly: 3 dots menu -> addons -> report site issue, there is no '?label=browser-firefox' on the uri.

[2020-06-15 16:26] miketaylr commented on #3314
Ah, Nightly should be using the new Android component version that @denschub landed. I guess we need to add that label back in, because there's still no way to automatically detect Fenix from Fennec on the backend?

[2020-06-15 16:30] karlcow commented on #3314
I meant above `browser-fenix`. fixed the comment.

[2020-06-15 16:30] ksy36 commented on #3314
Yeah, see my comment above :)  https://github.com/webcompat/webcompat.com/issues/3314#issuecomment-644214348

[2020-06-15 16:31] karlcow commented on #3314
yeeha everything is solved! Thanks @ksy36 !!!

[2020-06-15 16:52] #3314 closed

[2020-06-15 17:48] softvision-oana-arbuzov opened #3344 "Incorrect image displayed in "Contributors" page"
**URL**: https://webcompat.com/contributors

**Browser / Version**: Firefox Nightly 200614 (🦎 79.0a1-20200612094620), Chrome 83.0.4103.101, Firefox Nightly 79.0a1 (2020-06-10)
**Operating System**: Samsung Galaxy S6 Edge (Android 7.0) - 1440 x 2560 pixels (~577 ppi pixel density), Windows 10 Pro

**Steps to Reproduce**:
1. Navigate to https://webcompat.com/contributors
2. Scroll down to "Ksenia Be

[2020-06-15 19:53] #3340 closed

[2020-06-15 20:00] miketaylr commented on #3344
E_TOO_MUCH_@karlcow

[2020-06-15 20:00] miketaylr commented on #3344
(this is fixed now)

[2020-06-15 20:00] #3344 closed

[2020-06-16 00:59] denschub commented on #3314
Ah, this is my fault! Happy to make sure the correct labels are set within the android-component soon.

However, just adding it to the source is likely not a good idea. The android component can be used in a lot of browsers (even Firefox Reality would be a target), so we should probably expose a product name in the component's `install` method, so this can be set per usage, not once in the compone

[2020-06-16 03:09] karlcow opened #3347 "Remove /activity route and its assets."
`activity` route was a good intent but it's practically not that useful in the current shape and form.
This is accessible only to the logged in individual for its own activity.

So this issue is both a deprecation notice, and the issue that the route will be gone.

It means removing.

* [ ] Replacing `/activity/<username>`  by 410 Gone
    https://github.com/webcompat/webcompat.com/blob/d6781a0829

[2020-06-16 14:30] miketaylr opened #3348 "Updating contributing documentation"
Currently there are screenshots and other text that refer to the old form. It should be updated for the new form.

See https://webcompat.com/contributors/report-bug, for example (worth clicking through all those links to verify what needs to be updated).

[2020-06-16 14:43] ksy36 opened #3349 "Update documentation to reflect webpack changes"
Update documentation on dev environment setup:
https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md

Add js unit test section in
https://github.com/webcompat/webcompat.com/blob/master/docs/tests.md

[2020-06-16 14:52] softvision-oana-arbuzov opened #3350 "Missing "Privacy policy" link from "Public Reports" popup"
**URL**: https://www.leolist.cc/personals/female-massage/greater-toronto

**Browser / Version**: Firefox Release 26.0 (18099), Chrome 83.0.4103.88, Safari 12
**Operating System**: iPod touch iOS 12.4.7 (1136 x 640 pixels (~326 ppi pixel density)

**Steps to Reproduce**:
1. Navigate to https://webcompat.com/issues/new
2. Tap "Learn more" from "All information included in this report will be publicl

[2020-06-16 19:05] miketaylr opened #3351 ""End Google Analytics" comment in wrong place"
This is a good first bug, because it does not affect functionality at all - just view source.

[code]

To fix this, the comment should be moved up 2 lines just after the Google Analytics script:

https://github.com/webcompat/webcompat.com/blob/6478d111db4dfd8d66202447ff21774fcf922a0d/webcompat/templates/layout.html#L26

(an alternate fix would be to delete the comment in addition to `` lol)

[2020-06-16 19:13] miketaylr opened #3352 "502 bad gateway after reporting a new issue on v34.0.0"
I've redeployed v33.0.0, so we're good on that front. But we need to figure out what happened.

https://github.com/webcompat/webcompat.com/blob/master/CHANGELOG.md#3400---2020-06-16

[2020-06-16 19:14] miketaylr commented on #3352
@ksy36 discovered that any issue that was reported wasn't lost, it went to the right private repo, but the issue route is somehow busted (even for older issues)

[2020-06-16 19:30] miketaylr commented on #3352
It seems like it's throwing here:

` ERROR in app: Exception on /issues/2497 [GET]#012Traceback (most recent call last):#012  File "./webcompat/templates/__init__.py", line 33, in get_checksum#012`

`Jun 16 19:27:59 staging-server webcompat-staging: FileNotFoundError: [Errno 2] No such file or directory: '/staging.webcompat.com/webcompat/static/dist/flashed-messages.e5.js'`

[2020-06-16 19:38] miketaylr opened #3354 "`get_checksum` should not be able to break the app"
The root cause of #3352 is that `get_checksum` throws because it's trying to find a file that doesn't exist (due to a simple typo).

We try to handle a `KeyError` but don't handle another big pile of exceptions:

[code]

[2020-06-16 19:39] miketaylr commented on #3354
I feel like this is a "good-first- @karlcow " bug

[2020-06-16 19:40] #3352 closed

[2020-06-16 23:53] karlcow commented on #3354
good-first as our pants is on fire, hurry up we need to fix it :p
So this is also related to #3337

[2020-06-17 02:52] karlcow commented on #3354
The `get_checksum`:

https://github.com/webcompat/webcompat.com/blob/d6781a0829ffb68afd7e4286531d505f338cf2eb/webcompat/templates/__init__.py#L21-L42

So this is basically checking if the key is contained in a cache dictionary, aka a `KeyError`
if not it creates the new key by computing `md5_checksum`.

https://github.com/webcompat/webcompat.com/blob/d6781a0829ffb68afd7e4286531d505f338cf2eb/webcom

[2020-06-17 04:11] karlcow commented on #3354
to simulate the error locally it is better to put in comments the localhost directive.

<img width="425" alt="Capture d’écran 2020-06-17 à 13 10 06" src="https://user-images.githubusercontent.com/505230/84854205-01372780-b09c-11ea-9bad-ae1111683c89.png">

that will help.

[2020-06-17 04:32] karlcow commented on #3354
## Debugging in Visual Studio Code
<img width="1029" alt="Capture d’écran 2020-06-17 à 13 12 54" src="https://user-images.githubusercontent.com/505230/84854465-ad790e00-b09c-11ea-830d-4cbb13791127.png">

Then `launch.json` in `.vscode`

[code]

Then set a breaking point into the code.

see for more details.
https://code.visualstudio.com/docs/python/tutorial-flask

[2020-06-17 04:36] karlcow commented on #3354
so after going through the code. The responsibility of checking the file existence is indeed in `md5_checksum`, but we probably need to also get_checksum so that we handle a failed checksum properly with something that would make sense for the person looking in the devtools why the js or css file is not there.

I have an idea for this.

the `get_checksum` could return a string which is `missing_fi

[2020-06-17 04:38] karlcow commented on #3354
The FileNotFoundError bubbling up to the error_handler will not happen anymore so I guess we could ignore for now the error_handler `code` error for now.

[2020-06-18 11:31] karlcow opened #3356 "get_domain is ill defined."
so get_domain helps extracting a domain name from a title.

https://github.com/webcompat/webcompat.com/blob/8656f17526d3b64c367ea4f2bbb742a2b388c937/webcompat/templates/__init__.py#L79-L90

The function returns the first group of continuous text before a space, but the case `return ''` is not covered in the testing

https://github.com/webcompat/webcompat.com/blob/8656f17526d3b64c367ea4f2bbb742a2b3

[2020-06-19 15:43] #3354 closed

[2020-06-20 06:59] apsychogirl commented on #3351
Can I take this?

[2020-06-20 07:07] apsychogirl commented on #3347
I would like to take this up.

[2020-06-20 07:11] apsychogirl commented on #3318
@karlcow would you please explain a bit how should I begin this?

[2020-06-22 15:42] miketaylr commented on #3350
Interesting, thanks for the report. I guess a CSS interop issue, perhaps.

[2020-06-23 05:10] karlcow commented on #3318
@apsychogirl

ok let's see

[code]

Let's try to create first a flag just for the purpose of testing for now.
We have a good example with
https://github.com/webcompat/webcompat.com/blob/363a6eb9b3c61abaa9cff185d9a05ca895533f4b/config/environment.py#L73-L75

[code]
The `AB_EXPERIMENT_ENABLED` will be `True` or `False` with a default to `False`. see [strtobool](https://docs.python.org/3/distutils/ap

[2020-06-23 06:18] karlcow commented on #3349
As I have been bitten by it today :) Let me do something with it.

[2020-06-23 07:32] karlcow opened #3359 "constraints for reported_with are not defined"
Right now:

`reported_with` is a free form field.

https://github.com/webcompat/webcompat.com/blob/d6781a0829ffb68afd7e4286531d505f338cf2eb/webcompat/form.py#L297

[2020-06-24 01:29] karlcow commented on #3359
Currently we do not check if the value we receive is an expected one.

* web (default)
* desktop-reporter
* mobile-reporter
* addon-reporter-chrome
* addon-reporter-firefox
* addon-reporter-firefox-mobile
* addon-reporter-opera

@miketaylr Are there others?

[2020-06-24 01:42] karlcow commented on #3350
To reproduce.
1. with firefox desktop
2. activate rdm, set the window to be 411 x 300
3. https://webcompat.com/issues/new
4. Click on learn more

the modal pop up displays but can't fit the viewport and is not scrollable.

And

[code]

which is indeed not very user friendly.
This could be fixed with

[code]

@magsout Do you agree with these changes?

Another way of doing it would be to use flexbox

[2020-06-24 02:21] karlcow commented on #3337
This was fixed by #3355

[2020-06-24 02:21] #3337 closed

[2020-06-24 03:44] karlcow commented on #3326
Thinking of which form it could take.
Probably related: https://github.com/karlcow/webcompat.com/commit/c76efa24da3604fb8bddddf50e1e37e576d980e6

[code]

[2020-06-24 04:54] karlcow commented on #3316
This can be "fixed" by

[code]

but it has still the same issue on using position absolute for something which should be just flexible depending on the fonts and the context.

why not instead of `:after` using a `:valid` selector on input.
with a background image which is an actual checkmark on a green background.

[code]

@magsout opinions?

[2020-06-24 14:27] #3351 closed

[2020-06-24 14:28] #3349 closed

[2020-06-24 15:48] miketaylr commented on #3359
There's also https://searchfox.org/mozilla-central/source/browser/fxr/content/fxrui.js#13 which expands to https://webcompat.com/issues/new?src=web-fxr

[2020-06-24 15:49] miketaylr commented on #3359
(I'll file an issue, but it would also be nice if we could somehow expose this data on our metrics server to know where the issues are coming from)

[2020-06-24 15:54] miketaylr opened #3360 "Some issues with empty <!-- @reported_with: -->"
https://github.com/webcompat/web-bugs/issues/52582 is one example:

![Screen Shot 2020-06-24 at 10 54 18 AM](https://user-images.githubusercontent.com/67283/85589310-13b7e080-b609-11ea-8920-dcc5b648924b.png)

I would have expected this to be impossible, since there should be a fallback if there's no `src` param. Perhaps we need to add one to the Fenix/AC web extension?

[2020-06-24 16:07] ksy36 opened #3361 "Some issues don't get a milestone"
There are about 15 issues that don't have a milestone right now:
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+no%3Amilestone

In case the above link  doesn't load here is a screenshot:

![no milestone](https://user-images.githubusercontent.com/1303908/85590923-d3f5f680-b612-11ea-94f1-156832518bca.png)

We need to investigate why the needstriage milestone is not added.

As an

[2020-06-24 16:12] miketaylr commented on #3361
This one seems like the webhook just did not run (no browser labels, for example): https://github.com/webcompat/web-bugs/issues/47575

[2020-06-24 16:29] miketaylr commented on #3361
We had 6 of these reports on January 2, 2020 -- but there's no recorded webhook incidents according to GitHub on that day: https://www.githubstatus.com/uptime/4230lsnqdsld?page=2

![Screen Shot 2020-06-24 at 11 29 12 AM](https://user-images.githubusercontent.com/67283/85594876-f46f8200-b60d-11ea-89f9-9e253fd01739.png)

[2020-06-24 18:35] ksy36 opened #3362 "Remove grunt tasks and clean up package.json"
After webpack conversion we need to remove grunt tasks and clean up package.json to remove redundant packages that were used by grunt

[2020-06-24 20:16] karlcow commented on #3360
related to #3359

[2020-06-24 20:19] karlcow commented on #3360
to get what is happening if someone does report an issue with `src=''`

[2020-06-24 20:38] karlcow commented on #3361
the usernames looks very spammy to me.