[2018-06-20 12:33] softvision-oana-arbuzov opened #2512 "Sort option becomes misaligned when the text has longer size"
URL: https://webcompat.com/ and https://staging.webcompat.com
Browser / Version: Firefox Nightly 62.0a1 (2018-06-19) , Chrome 67.0.3396.87
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
    2. Click “Sort” button.
    3. Select one of the sorting options that has longer te

[2018-06-20 14:07] softvision-oana-arbuzov commented on #2497
@miketaylr, I've investigated the issues and if I delete the "milestones.json" file from "Data" folder, I still receive the error, even if the encoding does not occur.
![image](https://user-images.githubusercontent.com/12184325/41663538-5ad96696-74ac-11e8-8013-de3d43031bbd.png)

[2018-06-20 14:24] ioana-chiorean commented on #2510
Mozilla/5.0 (Android 6.0.99; Mobile; rv:62.0) Gecko/62.0 Firefox/62.0

[2018-06-21 11:22] laghee opened #2514 "Update tests.md for changes to browser testing and outdated links"
To be fixed:

- "See dev env setup" link under [Functional Tests](https://github.com/webcompat/webcompat.com/blob/31db9c976d5824abd079568a1bce216b4656a598/docs/tests.md#functional-tests) is dead
- Text after `npm test` command  contradicts new headless browser default:

- Testing Flask link under [Python Unit Tests](https://github.com/webcompat/webcompat.com/blob/31db9c976d5824abd079568a1bce216b46

[2018-06-21 12:04] zoepage commented on #2512
@Regaddi wanna grab that one? :)

[2018-06-21 17:02] #2267 closed

[2018-06-21 17:05] miketaylr opened #2515 "IOError: [Errno 2] No such file or directory: '.../webcompat.com/tmp/webcompat.log'"
Noticed by @laghee in https://github.com/webcompat/webcompat.com/pull/2513.

[code]

I'm guessing if you don't have a `/tmp/` it blows up, so we should create it.

[2018-06-21 17:05] miketaylr commented on #2515
[code]

[2018-06-21 17:06] miketaylr commented on #2515
Regressed by #2501.

[2018-06-21 17:21] miketaylr opened #2517 "Unexpected value 0 0 30 30 aria-hidden= parsing viewBox attribute. webcompat.com"
STR:

1. go to webcompat.com
2. open the devtools console

Possibly a parsing error in the SVG?

[2018-06-22 01:07] karlcow opened #2518 "Testing offline - Milestones initialization"
Steps to reproduce

1. Switch off your network connection
2. Activate the project environment
3. Enter nosetests.

Actual:
[code]

This should not happen. The tests should be able to run independently of any milestones initialization.
We probably need at least for testing a milestones.json ready to be used so that we do not have to fetch them.

[2018-06-22 01:15] karlcow opened #2519 "Even when data/milestones.json exists, the project doesn't start"
Steps to reproduce:

1. Disconnect from the network
2. Start your environment
3. Check that data/milestones.json exists
4. start the project.

Actual:

[code]

Our current logic is to try to fetch the milestones online, and if it the network request fails to fallback on the data/milestones.json. This has consequences.

1. The project can't start if the user is offline even with the right data.
2.

[2018-06-22 03:02] miketaylr commented on #2497
I'd prefer to support and document a single path for windows users -- and using Ubuntu integration allows us to stick with unix-isms for build stuff.

But also, I wasn't able to reproduce the error as reported. 😕

[2018-06-22 03:07] miketaylr commented on #2519
This sounds reasonable to me.

[2018-06-22 07:01] Regaddi commented on #2505
I think we will need to swap out the checkboxes for custom styled ones.
This way we could restructure the HTML to take advantage of the `:checked + label` selector and re-order the checked labels to the top of the list (with the `order` attribute).

We can simply use the `BALLOT BOX` ☐ and `BALLOT BOX WITH CHECK` ☑︎ Unicode character as a first draft. Maybe we want to have some webcompy-fancy-cust

[2018-06-22 08:25] softvision-oana-arbuzov opened #2522 "Search results counter should be displayed"
URL: https://webcompat.com/ and https://staging.webcompat.com
Browser / Version: Firefox Nightly 62.0a1 (2018-06-19) , Chrome 67.0.3396.87
Operating System: Windows 10 Pro, Mac OS X 10.13

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=design
    2. Enter a keyword in the “Search” area (e.g. "design") an

[2018-06-22 14:38] #2453 closed

[2018-06-22 20:02] magsout commented on #2450
Few examples of issues not tagged:

https://webcompat.com/issues/17349
https://webcompat.com/issues/17360
https://webcompat.com/issues/17365

[2018-06-22 20:12] magsout commented on #2450
@karlcow  is it possible to see the object of these issues?

or maybe I missed something in the code:

[code]

[2018-06-25 07:19] zoepage opened #2524 "Fix typo in footer.html"

[2018-06-25 07:44] karlcow commented on #2524
Thanks @zoepage
Duplicate of #2517

[2018-06-25 07:44] #2524 closed

[2018-06-25 07:46] zoepage commented on #2524
Just saw that. Thanks for the closing!

[2018-06-25 15:32] #2517 closed

[2018-06-25 18:49] #2506 closed

[2018-06-26 12:34] laghee commented on #2511
@karlcow It looked to me like this might be fixed by [changing this line](https://github.com/webcompat/webcompat.com/blob/d56cd783366d725bcf2cf560723a590faf41e08f/webcompat/dashboard.py#L53) to something like:
`for label in labels:`
 `if label.startswith('status-needsinfo'):`

So I tried that, but I can't get `nosetests` to run:
<img width="1173" alt="screenshot 2018-06-26 14 20 24" src="https://u

[2018-06-26 13:57] miketaylr opened #2525 "Create bugs from twitter, when submitted with a hashtag (and a reduced TC)"
originally proposed by @foolip

Labeling interop issues so that we can track them to resolution until the underlying spec or browser issues are resolved.
Something like https://blogs.windows.com/msedgedev/2016/08/11/edgebug-twitter/, tweeting a reduced test case together with #webcompat to get a bug filed.

cc @karlcow @patrickkettner

[2018-06-26 17:40] #2515 closed

[2018-06-26 21:28] #2375 closed

[2018-06-27 01:28] karlcow commented on #2511
@laghee on running nosetests. It's always necessary to start the virtualenv first, because the python modules are installed into the virtualenv. if `nosetests` runs outside of virtualenv it's because you also have a copy of it installed system wide. :)

[2018-06-27 01:29] karlcow commented on #2511
tests to modify
https://github.com/webcompat/webcompat.com/blob/011183b86a75b5a64ce4a19438c58cc69d2b2240/tests/unit/test_dashboard.py#L67-L73

[2018-06-27 01:44] karlcow commented on #2450
@magsout what do you mean?
do you mean you want to know what's inside `issue`
The template receives two pieces of data:

https://github.com/webcompat/webcompat.com/blob/011183b86a75b5a64ce4a19438c58cc69d2b2240/webcompat/views.py#L432-L443

* a needstriage_list
* stats

The `needstriage_list`

[code]

and the `stats`

[code]

[2018-06-27 01:45] karlcow commented on #2450
<img width="723" alt="capture d ecran 2018-06-27 a 10 44 16" src="https://user-images.githubusercontent.com/505230/41948316-17dca240-79f7-11e8-8db5-dab012d6c174.png">

[2018-06-27 07:01] magsout commented on #2450
@karlcow

Yes, I do.

I don't understand why these issues [17421](https://webcompat.com/issues/17421) [17422](https://webcompat.com/issues/17422) [17423](https://webcompat.com/issues/17423) for example, are not tagged by any status:

![capture d ecran 2018-06-27 a 08 58 39](https://user-images.githubusercontent.com/1997108/41957766-5071e002-79e8-11e8-8f2b-b62195ef6c97.png)

So no matter which filt

[2018-06-27 07:39] karlcow commented on #2450
Let's see for 17421.

opened on `2018-06-25T15:42:47Z`
right now it is `2018-06-27T07:38:48Z`

so it's normal it doesn't show up. That's less than 48h?

[2018-06-27 07:46] magsout commented on #2450
follow up the discussion on irc

![capture d ecran 2018-06-27 a 09 45 30](https://user-images.githubusercontent.com/1997108/41960008-d88be932-79ee-11e8-8090-f0773e3b400a.png)

make sense now

[2018-06-27 07:47] karlcow commented on #2450
This doesn't seem to address @softvision-sergiulogigan concern though. We need to figure out why there's a discrepancy in between the two when it's happening.

[2018-06-27 07:56] softvision-sergiulogigan commented on #2450
As soon as we reach decent numbers of issues displayed in the Dasboard, and *if* the issue is still around, I'll let you know, so you can investigate further.

[2018-06-27 08:32] laghee commented on #2450
OK, so it's happening now, and I noticed two things:

- despite being tagged as `needsinfo-adamopenweb`, [this issue](https://webcompat.com/issues/17414) is still displayed under 48+ and not `needsinfo` (Issue #2511 ) -- so that may be what's messing with the numbers
- the `sort` function -- it looks like `oldest` and `newest` are doing the opposite of the expected:

<img width="1117" alt="screens

[2018-06-27 09:28] laghee commented on #2511
@karlcow I'm not sure I understand how we could count issues more than once if `has_needsinfo` is boolean. I did add a test case with multiple types of `needsinfo` tags to make sure it still returns `true`.

[code]

I still can't get the `nosetests` to run (they start, they just fail because python can't find the `mock` module), even though my virtualenv seems fine:
<img width="749" alt="screensho

[2018-06-27 11:08] karlcow commented on #2511
@laghee did you follow https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#installing-project-source-code

aka `pip2 install -r config/requirements.txt` **after** activatin the environment?

`ImportError` means the module has not been installed.

[2018-06-27 11:17] karlcow commented on #2511
Indeed I spoke too quickly. My bad.

but that made me think a bit more:

[code]

the `do_something()` will execute over the full list before exiting, while we just need to have at least one needinfo in the full list. There are ways to make it a bit faster. :) Maybe with `set()`.

[2018-06-27 11:31] softvision-oana-arbuzov commented on #2497
@miketaylr and @karlcow,

  for me it was still reproducible.
One of my colleagues made some changes on the `__init__.py` and `secrets.py` files to be able fetch the `milestones.json` file and also to recognize paths on any platforms (using `os.path.join`).

`__init__.py`  changes:
[code]

`secrets.py` changes
[code]

I'll attach my files here for review.
[ConfigFiles.zip](https://github.com/webco

[2018-06-27 11:38] laghee commented on #2511
@karlcow I though I followed all the directions, and I could have sworn all the tests worked before, but my `.bash_history` doesn't go back that far, so I'm not positive. I'll try reinstalling and see if that helps!

I agree on the needless looping. I looked at `set()`, which seems like a possible solution. I guess I'd have to use `re` to match multiple possibilities? Or is there a cool way to som

[2018-06-27 12:29] karlcow commented on #2511
[code]

there are probably other ways too.

Also

[code]

and empty list is False

[2018-06-27 12:32] softvision-oana-arbuzov commented on #2501
@miketaylr and @karlcow some little updated for `tmp` folder to be set according to the platform used.

In `__init__.py` file:
[code]

Please review.

[2018-06-27 14:12] miketaylr commented on #2501
The code looks good, but I'm not sure it's needed. The current approach is to create a `tmp` directory in the `webcompat.com` source dir (so, `webcompat.com/tmp/`), so it doesn't really matter what platform you're on. It might be a little confusing that I used `tmp`, which looks unix-y.

Does that make sense? Or is it failing for you as-is on the latest master?

[2018-06-27 14:15] miketaylr commented on #2501
(or, it could be `webcompat.com\tmp`, on windows, but `os.path.join(os.getcwd(), 'tmp')` should take care of that. this is one of the reasons i think we should only support windows w/ linux subsystem shell -- it simplifies things a lot)

[2018-06-27 14:36] #2512 closed

[2018-06-27 14:39] magsout commented on #2450
@laghee oh good catch

[2018-06-27 15:20] magsout opened #2526 "The sort function seems reversed -- like oldest and newest are doing the opposite of the expected:"
Open issue for this comment by @laghee https://github.com/webcompat/webcompat.com/issues/2450#issuecomment-400588542

[2018-06-27 20:31] karlcow commented on #2518
In https://github.com/webcompat/webcompat.com/pull/2527#issuecomment-400772839

@miketaylr said:

[2018-06-27 22:45] karlcow commented on #2518
I will work on this today, given the failures on Travis and the hurdles for people testing locally with/without network.

[2018-06-28 01:06] karlcow commented on #2497
hmm in `__init__.py`, currently we already use `os.path.join()`

https://github.com/webcompat/webcompat.com/blob/a0dde5e397290e20e9cccf81533e64c25c0ed81c/config/__init__.py#L43

And that might be the source of the issue for @softvision-oana-arbuzov because
* `REPO_ROOT = 'webcompat/webcompat-tests'`
* `milestones_url_path = 'repos\webcompat/webcompat-tests\milestones'` (on Windows)

Then once it g

[2018-06-28 03:58] #2451 closed

[2018-06-28 04:00] karlcow commented on #2372
This was discussed during June 2018 All Hands in San Francisco.
We agreed on the simplification and its terms.
See https://wiki.mozilla.org/Compatibility/Meetings/2018-06-work-week#4.2_browser.2Fos.2Fformfactor_labeling_.28_.F0.9F.90.9D_.29

* [TODO] karl to implement webhook labeling for browser-foo & browser-fixme, os-{windows,macos,linux,android,ios}, form-{mobile,desktop,tablet}, version-nnn
*

[2018-06-28 04:04] karlcow opened #2531 "Implement webhook to categorize browser-*, os-*, form-* with labels"
The webhook needs to label for
* [ ] browser-[name] or browser-fixme for unknown browsers
* [ ] os-{windows,macos,linux,android,ios}
* [ ] form-{mobile,desktop,tablet}
* [ ] version-nnn

[2018-06-28 04:10] karlcow opened #2532 "Script to move from old browser labeling to the new scheme"
This will run only once. It should be done **AFTER** #2531

It will reparse all issues and creates a recategorization for labels:

* [ ] browser-[name] or browser-fixme for unknown browsers
* [ ] os-{windows,macos,linux,android,ios}
* [ ] form-{mobile,desktop,tablet}
* [ ] version-nnn

This will probably require a massive analysis offline for all the bugs.
Using https://github.com/josegonzalez/pyt

[2018-06-28 04:10] #2372 closed

[2018-06-28 04:12] karlcow commented on #997
Followup on #2531

[2018-06-28 04:12] #997 closed

[2018-06-28 04:21] karlcow commented on #2511
@laghee do your tests work now?

[2018-06-28 04:40] karlcow commented on #997
A resolution has been reached in https://github.com/webcompat/webcompat.com/issues/2372#issuecomment-400903755

[2018-06-28 04:41] karlcow commented on #1178
Let's close. it's an open ended questions. And we have since implemented multiple times: labels of different sorts since.

[2018-06-28 04:41] #1178 closed

[2018-06-28 04:45] karlcow commented on #2482
@miketaylr

example:

![capture d ecran 2018-06-28 a 13 43 41](https://user-images.githubusercontent.com/505230/42013681-66553224-7ad9-11e8-8c80-306a51af0484.png)

#2453 is closed but the issue is not resolved.

[2018-06-28 04:46] karlcow commented on #2482
Ah and I don't see any type-* labels.

![capture d ecran 2018-06-28 a 13 45 44](https://user-images.githubusercontent.com/505230/42013742-a8ef009c-7ad9-11e8-8825-b735757f2115.png)

[2018-06-28 05:21] karlcow commented on #2511
I have found a slightly faster. Not that it matters that much, but just for the fun.

[code]

Using an iterator instead of a generator.

`test2` is a traditional generator expression. It computes the full list according to a criteria, while `test` creates an iterator expression, that gets executed until the first match only when called by a `next()`. Each subsequent call executes a new iteration,

[2018-06-28 05:37] denschub commented on #2372
Thanks, @karlcow!

[2018-06-28 06:43] karlcow commented on #2518
Some context for myself.

The milestones need to be understood in the context of #1836

Just to repeat what was said there. When

* executing tests with nosetest
* running the app online (prod, staging)

`run.py` is **never** used.

What is used is `webcompat/*`. Each time in a module, we get a `import webcompat`, we kick the `__init__.py` which starts the milestones initialization. We probably do

[2018-06-28 07:14] laghee commented on #2511
Re-installing the requirements (or installing them finally, who knows) fixed my testing issues.

And Python is fun -- thanks, @karlcow! On it!

[2018-06-28 16:33] #2497 closed

[2018-06-28 17:28] miketaylr commented on #2482
cc @laghee, in case you need a medium sized bug to work on when you're tired of thinking about dashboards. :)

[2018-06-28 17:32] miketaylr commented on #2482
@karlcow when I look at https://staging.webcompat.com/issues/1562, I'm able to filter for `type-` and see them when I scroll... but, indeed on webcompat.com production I don't.

<img width="376" alt="screen shot 2018-06-28 at 12 29 01 pm" src="https://user-images.githubusercontent.com/67283/42050557-ef5d8824-7ace-11e8-86e9-85a3da4b491f.png">

[2018-06-29 04:50] karlcow commented on #2501
yes in this case, I don't think it matters. This is just a location to save the file. Plus having two different names for `tmp` will further complicate the documentation or any scripts that would handle log rotations and stuff.

[2018-06-29 08:18] softvision-oana-arbuzov commented on #2501
@miketaylr and @karlcow that sounds good too, I will update my files and check again if it works on Windows.

[2018-06-29 08:20] softvision-oana-arbuzov commented on #2497
@karlcow the changes in `secrets.py` was to have the path recognized by any of the platforms.

[2018-06-29 12:06] laghee commented on #2482
@karlcow @miketaylr I see that the `type-` labels aren't showing up (nor is `windows` ... something alphabetical?), but I can't reproduce filtering errors on labels that do appear. If you have an example, let me know.

I'm confused on which label prefixes are intended to be masked and which aren't. As far as I can tell, those that are currently masked on webcompat.com are:
[code]

But not masked i

[2018-06-29 14:18] softvision-sergiulogigan opened #2534 "The “fixme” label does not deactivate when another label from the same category is selected"
**Steps to Reproduce:**
1. Navigate to https://webcompat.com/
2. Click on “Report a bug” button.
3. Fill in the required fields.
4. Report the issue.
5. Select a label from the "browser" category.
6. Observe the “browser-fixme” label.

**Expected Behavior:**
The “fixme” label is deactivated.

**Actual Behavior:**
The “fixme” label is not deactivated.

**Notes:**
1. Screen capture attached.
2. See

[2018-06-29 15:42] patrickkettner commented on #2525
@karlcow mentioned the api for webcompat. Is there are docs around it?

[2018-06-29 16:00] miketaylr commented on #2482
`type-` should be unmasked, IMO.

`windows` just seems like a mistake -- it could either get deleted or renamed `os-windows`

[2018-06-29 16:37] miketaylr commented on #2534
Ah, OK. Priority labels have special handling so you can only ever have one.

https://github.com/webcompat/webcompat.com/blob/cb766b2c2b7e628c9238195a71c28faaed6b349e/webcompat/static/js/lib/labels.js#L72-L78

It makes sense to extend this to `fixme`, I think. Once you selected another browser, make it be unchecked.

[2018-06-29 16:48] #2526 closed

[2018-06-29 18:03] miketaylr opened #2535 "Update Travis Firefox to 60"
Currently we test on 58. Let's see if we can do "latest", and if not, bump to 60.

[2018-07-01 21:11] #2535 closed

[2018-07-02 19:24] miketaylr opened #2537 "Add "browser-focus-geckoview" to EXTRA_LABELS allowlist"
Right now we can't distinguish between Focus GeckoView and Fennec, because they send the same UA string.

As a stopgap solution -- if we encounter a bug w/ firefox-focus and firefox-mobile, we'll know it's a GeckoView bug.

[2018-07-03 00:41] karlcow commented on #2537
The fact we can't detect is a good thing (aka user agent sniffing doom world).

`browser-focus-geckoview` doesn't seem to be a good path, because it goes against our attempt for simplifying the labels.
If we think there will be two `browser-focus` type then maybe we need to have a
`render-blink`, `render-gecko`, etc.

About detectability I remember in the past a discussion where another mozilla te

[2018-07-03 01:03] karlcow commented on #2525
@patrickkettner So I will put that on my todo this week to make it a bit more explicit.

[2018-07-03 01:45] karlcow opened #2538 "Status selection is not visible."
@Regaddi The selection is worse than before. Now we can't see what is being selected.

[code]

<img width="353" alt="capture d ecran 2018-07-03 a 10 44 39" src="https://user-images.githubusercontent.com/505230/42194284-20b0550e-7eae-11e8-9e79-2696ed6a2a83.png">

[2018-07-03 01:45] karlcow commented on #2538
<img width="329" alt="capture d ecran 2018-07-03 a 10 41 23" src="https://user-images.githubusercontent.com/505230/42194311-3a785c34-7eae-11e8-86e4-88bd8709f0ec.png">

[2018-07-03 07:18] Regaddi commented on #2522
I can't see the required information on https://developer.github.com/v3/issues/#parameters
It seems, that we have to make a separate request, to get the amount of all issues matching the current parameters?
Do you have an idea @karlcow?

[2018-07-03 07:20] Regaddi commented on #2478
Seems to be fixed now.

[2018-07-03 09:21] softvision-oana-arbuzov commented on #2509
@miketaylr , I was able to run mozrregression, but was not able to find a good Nightly build where the screenshot was automatically added when using "Report site issue" option.

I've tried many different ranges:
- `mozregression --app fennec --good 2017-03-13 --bad 2018-07-02`
- `mozregression --app fennec --good 2017-02-28 --bad 2017-05-30`
- `mozregression --app fennec --good 2017-10-30 --bad 20

[2018-07-03 10:53] #2538 closed

[2018-07-03 13:44] softvision-sergiulogigan opened #2540 "The “X Remove screenshot” text is black instead of yellow"
**Environment:**
Browser / Version: Chrome 67 (Desktop), Firefox Nightly 63.0a1 (Desktop)
Operating System: Windows 10

**Prerequisites**
1. Webcompat Reporter add-on must be installed.

**Steps to Reproduce**
1. Navigate to any site (e.g. https://www.reddit.com/).
2. Click on the “Report Site Issue” icon from the top right corner.
3. Observe the “Screenshot” area.

**Expected Behavior:**
The “X R

[2018-07-03 13:52] softvision-sergiulogigan opened #2541 "The “Report Site Issue” extension icon is smaller on Chrome than on Firefox"
**Prerequisites**
1. Webcompat Reporter add-on must be installed on Firefox.
2. Webcompat Reporter extension must be installed on Chrome.

**Steps to Reproduce**
1. Open Chrome.
2. Navigate to any website (e.g. http://www.bbc.co.uk/bbcfilms/catalogue).
3. Observe the “Report Site Issue" extension icon from top right corner.

**Expected Behavior:**
The “Report Site Issue” icon has the same size as

[2018-07-03 14:11] miketaylr commented on #2509
Hm, it for sure has worked on Nightly. I'll try to debug further. Thanks.

[2018-07-03 14:20] softvision-sergiulogigan commented on #2540
Related to #2100

[2018-07-03 15:23] miketaylr commented on #2024
@karlcow @wisniewskit wants to work on this (because it blocks the console error stuff), but we're going to hold off until https://github.com/webcompat/webcompat.com/pull/2528 is merged.

[2018-07-03 22:48] karlcow commented on #2478
Indeed. Thanks @Regaddi

[2018-07-03 22:48] #2478 closed

[2018-07-04 01:31] #2479 closed

[2018-07-04 01:35] miketaylr commented on #2537
https://github.com/mozilla-mobile/focus-android/pull/2845 landed today sending `browser-focus-geckoview`, but we can easily send in a PR to amend it. I think we should whitelist this in the short term, and send in something better thought out soon after (around the time we re-organize all the labels).

I guess just `browser-focus` and `browser-focus-geckoview`.

As is, there's no way to detect. Bu

[2018-07-04 02:10] #2511 closed

[2018-07-04 13:44] softvision-sergiulogigan commented on #2450
This is from the 4th of July

![image](https://user-images.githubusercontent.com/16573771/42280476-853ffda2-7fa9-11e8-9499-c73c29da0239.png)

[2018-07-04 15:15] laghee commented on #2532
Hey, @karlcow -- since I've run the backup this week and am working on sorting it into a local database of current issues/labels/milestones/events, do let me know if I can help out here in any way.

[2018-07-04 21:52] karlcow commented on #2532
@laghee yes if you want you can start coding a script that will browse this backup and prepare all the data to be modified leaving out the function that will edit live the labels so we do not do anything accidently.

Once #2531 is done we would just have to run the script. :)

[2018-07-04 21:53] karlcow commented on #2532
oh and… I'm pretty sure by creating the script will find… plenty of issues :D

[2018-07-05 08:59] softvision-oana-arbuzov opened #2543 "The “State” drop-down menu`s text is misaligned"
**URL**: https://webcompat.com/dashboard/triage

**Browser / Version**: Chrome 67.0.3396.99
**Operating System**: Windows 10
**Tested Another Browser**: Yes

**Problem type**: Design is broken

**Steps to Reproduce**:
1. Navigate to https://webcompat.com/dashboard/triage
2. Observe the “State” drop-down menu (e.g. "48+ hours").

**Expected Behavior:**
The “State” drop-down menu`s text is centered.

[2018-07-05 21:55] miketaylr commented on #2543
I wonder if Chrome has issues with Emoji in `<option>`.

[2018-07-05 22:07] miketaylr commented on #2540
I'm not 100% sure I understand the expected results. As-is, the text will be yellow if hovered or the area has focus (select "No" above it, then hit tab).

It's possible the addon is leaving focus?

[2018-07-05 22:08] miketaylr commented on #2540
@softvision-sergiulogigan what are the circumstances or environment where the text is yellow by default? In my testing, it's all black (via the addon, or the built-in "report site issue" page action menu item in pre-release firefox).

[2018-07-05 22:10] miketaylr commented on #2541
That's weird!

[2018-07-05 22:12] miketaylr commented on #2541
Let's close in favor of the addon repo bug I filed.

[2018-07-05 22:12] #2541 closed

[2018-07-05 22:13] miketaylr commented on #2507
So like a section, "Your needinfo requests". 👍

[2018-07-05 22:29] miketaylr commented on #2508
I like the idea!

[2018-07-05 22:30] miketaylr commented on #2505
Can this be closed now @Regaddi?

[2018-07-05 23:39] miketaylr commented on #2507
I wonder if this should replace the "issues mentioning me" section. Something to consider for a new issue once we land this.

[2018-07-06 00:23] #2537 closed

[2018-07-06 00:33] karlcow commented on #2543
Not this one :) https://nicolas-hoizey.com/2017/10/chrome-fails-showing-big-emojis.html
but found it quite interesting. https://bugs.chromium.org/p/chromium/issues/detail?id=719648#c13

select (firefox left, Chrome right)
<img width="677" alt="capture d ecran 2018-07-06 a 09 31 44" src="https://user-images.githubusercontent.com/505230/42354102-73d612e8-80ff-11e8-975e-4c00696acdae.png">

option (fi

[2018-07-06 00:45] karlcow commented on #2543
hmmm simple test (firefox left, chrome right)
https://codepen.io/webcompat/pen/oyrzwo
<img width="499" alt="capture d ecran 2018-07-06 a 09 45 20" src="https://user-images.githubusercontent.com/505230/42354371-5700ecf4-8101-11e8-8428-bde98629b606.png">

[2018-07-06 00:58] karlcow commented on #2543
Added variability to the test.

<img width="704" alt="capture d ecran 2018-07-06 a 09 57 20" src="https://user-images.githubusercontent.com/505230/42354620-06742ac4-8103-11e8-9613-428ea268c10b.png">

[2018-07-06 01:07] karlcow commented on #2543
Maybe related to https://bugs.chromium.org/p/chromium/issues/detail?id=777201
I wonder if @jfkthame knows what is happening.

For example the div example with the outline seems more logical in chrome, but the option alignment seems more logical… in Firefox. Life!

[2018-07-06 01:28] karlcow commented on #2505
This part is working but it broke the milestones.

[2018-07-06 01:28] #2505 closed

[2018-07-06 06:40] softvision-sergiulogigan commented on #2540
So this is on Beta 62, @miketaylr  :

![screen capture 1](https://user-images.githubusercontent.com/16573771/42363456-6f5ec538-8100-11e8-8f8a-2b867621d6c2.gif)

As you can see, the first time the text is black, and after manually uploading an image, the text is yellow.

[2018-07-06 15:00] miketaylr commented on #2540
Thanks @softvision-sergiulogigan, I think the issue is somehow related to the preview area having focus after selecting the image (maybe a platform difference between mac/windows).

I'm not very happy with the yellow or black text in general, depending on the screenshot it can be impossible to see. #2100 is related.

[2018-07-06 15:06] miketaylr commented on #2100
Similar to what @karlcow suggests in https://github.com/webcompat/webcompat.com/issues/2100#issuecomment-366685241, something like the following would be pretty good, and very hard to miss:

<img width="205" alt="screen shot 2018-07-06 at 10 05 19 am" src="https://user-images.githubusercontent.com/67283/42386087-22fadb92-8104-11e8-9a02-e27b9092f234.png">

[2018-07-06 15:07] miketaylr commented on #2100
@Regaddi maybe an issue you could help us out with?

[2018-07-06 15:07] miketaylr commented on #2540
I propose we close this, and just fix the parent issue by getting rid of the yellow/black floating text.

[2018-07-06 15:07] #2540 closed

[2018-07-09 04:39] karlcow opened #2545 "[feature] Service for duplicate domain names detection on webcompat.com"
* When making an HTTP GET on  https://something.example.com/duplicate/?domain=example.org
* with an HTTP `Accept` header: `application/json`
* the server responds with a JSON file containing a list of issue numbers as a JSON payload.

Options:
* If requested with text/html, it displays a simple HTML page with the list.
* we can add more search/constraints parameters in addition to `domain`

## Con

[2018-07-09 21:46] laghee commented on #2532
Short term simplified sql database of bare bones, mostly current bugs and labels data for anyone interested to play with (should work easily with `pg_restore`): https://send.firefox.com/download/a5faac998d/#cw7pkom5zu6yXD3bVIEX3w

Tables:
- issues (id & open status)
- labels (id & name)
- issue_labels (issue_id & label_id)

[2018-07-10 01:22] karlcow opened #2546 "[form] Add a control list of sources for reporting"
When an issue is reported it adds the

[code]

To strengthen a bit the form and make it easier for partners to contribute in more interesting ways, we would be better to have a controlled list of keywords.

Currently we have:

* `desktop-reporter` (from the report site issue button on Desktop)
* `mobile-reporter` (from the report site issue button on Android)
* `addon-reporter` (from webcompat add

[2018-07-10 02:04] karlcow commented on #2537
Putting this here to remember what it does.

<img width="311" alt="capture d ecran 2018-07-10 a 11 03 16" src="https://user-images.githubusercontent.com/505230/42485080-fa5da2a2-8430-11e8-8fab-02bdad959da6.png">

[2018-07-10 02:12] karlcow commented on #2525
This is a preliminary documentation before finding a place to put it in our docs.
(I'm away for the next two weeks)

@miketaylr feel free to add comments. There are probably some omissions.

@patrickkettner if anything is missing for the purpose of what we want to do, just open an issue and we will implement it. Super happy (to say the least) to see more interactions with other browsers.

# Docume

[2018-07-10 16:57] laghee opened #2547 "Typo in addons template for opera"
[There's a minor typo in the class attribute for the opera addon:](https://github.com/webcompat/webcompat.com/blob/958bac4e5b8565a769ad5539f10bd1139b8b5467/webcompat/templates/nav/addon-links.html#L34)

<img width="369" alt="screenshot 2018-07-10 18 54 50" src="https://user-images.githubusercontent.com/20972610/42525176-c60337aa-8472-11e8-9753-72603157f472.png">

[2018-07-10 19:19] miketaylr commented on #2545
Let's build it.

[2018-07-10 22:52] miketaylr commented on #1336
I'm gonna steal this one. And do it only with JS.

[2018-07-11 13:09] foolip commented on #2525
Thanks @miketaylr for filing this issue while I was OOO, I think this might be great!

@patrickkettner, do you maintain the #EdgeBug reporter? Do you think it'd be straightforward enough to have it also use the API described above?

[2018-07-11 19:14] miketaylr commented on #2024
A few things to note:

In [`BugForm.checkParams`](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L208), we rely on 2 GET params for the UI:

`url`: autofills the URL input
`problem_type`: will select the option, if present

We also populate a hidden input with `details`, but this could be sent as POST data.

There's some other GET params that could be sen

[2018-07-11 19:36] miketaylr opened #2549 "Create endpoint for tracking protection reporting"
More details to come.

We want an HTTP POST endpoint to create new issues in a private repository that can be used by the Firefox tracking protection in-product reporting.

https://bugzilla.mozilla.org/show_bug.cgi?id=1474238

(it might make sense to migrate this to a separate app on heroku at some future point, we'll see...)

[2018-07-12 09:33] laghee opened #2550 "Add SameSite attribute to cookie config to avoid CSRF attacks"
([enabled in flask v1.0 a few months ago](http://flask.pocoo.org/docs/1.0/security/#set-cookie-options))

[2018-07-12 12:48] laghee opened #2552 "Look into tightening up CSP where possible"
Investigating possibility of adding `frame-ancestor`, form-action`, and `base-uri`.

Probably not be worth the hassle to refactor just to remove `unsafe-inline` from `style-src` right now, but could be a future fix.

[2018-07-12 19:22] laghee opened #2554 "Milestone checkmarks are missing in dropdown"
There's something wonky with the milestone selector dropdown in the issue views. I would expect the dropdown menu to display the selected status as being checked (similar to how labels work), but in reality there's no indication whatsoever of the current status. At least not beyond the displayed tag at the top of the sidebar (which you can't see once you click in the editor because the whole sideb

[2018-07-12 20:02] laghee commented on #2518
So after kicking Travis three times today to get tests to pass, I've become obsessed ... and confused. For one thing, I'm pretty sure this:

...isn't true when running either on localhost **or** Travis. (Not sure if we're running nosetests anywhere else?)

As far as I can tell, to get `notestests` to run, we're **always** calling `run.py` or `run.py -t` either directly or by using `run start` or `

[2018-07-13 21:06] magsout commented on #2554
@laghee yes, it's a bug, but it's fixed with this PR https://github.com/webcompat/webcompat.com/pull/2539 but not deploy yet.

[2018-07-13 21:09] magsout commented on #2554
@laghee

--

It's normal, it's the current behavior. Every changes about milestones or status are made by the bot, not the user itself

[2018-07-13 22:21] laghee commented on #2554
Thanks! Good to know.

OK, that's good then. I thought staging was from master, though? (It's there too.)

[2018-07-15 07:39] patrickkettner commented on #2525
@karlcow

Thanks a lot! I didn't see your update until just now, but its super helpful :D

@foolip
98% of the code for the twitter bot is integration with our bug tracker. Id be happy to spin up a thing for this though, will do in the next couple of days

[2018-07-17 13:11] #2552 closed

[2018-07-26 10:14] foolip opened #2555 "Support https://webcompat.com/issues/new?label=type-google"
The label already exists:
https://github.com/webcompat/web-bugs/labels/type-google

https://webcompat.com/issues/new?label=type-google should cause the type-google label to be added to the created issue.

(PR coming.)

[2018-07-26 10:43] #2555 closed

[2018-07-26 12:06] foolip opened #2557 "Unable to report issue on webcompat.com using "Report as foolip""
Starting from https://webcompat.com/issues/new?label=type-google (HTTPS) and being logged in to the site using my GitHub account, I see a "Report as foolip" button alongside the "Report Anonymously" button. Using that button doesn't work, the whole form is fading in/out (intentional, I presume) but nothing happens. In the Chrome devtools console:
[code]

In other words, a problem of mixing http an

[2018-07-26 12:07] foolip commented on #2557
I also tried from https://webcompat.com/ and using "Report Anonymously", same problem.

@miketaylr red alert?

[2018-07-26 12:07] miketaylr commented on #2557
dang. ok, i'll revert and investigate.

[2018-07-26 12:08] miketaylr commented on #2557
rather, deploy the last version.

[2018-07-26 12:09] miketaylr commented on #2557
Why are we trying to submit to the http endpoint...

[2018-07-26 12:10] foolip commented on #2557
Don't know if you already deployed, but I just tested on Firefox and the problem doesn't manifest there. So possibly this is also an interop issue :)

[2018-07-26 12:12] foolip commented on #2557
Interesting, my 3 attempts actually did successfully file issues:
- https://github.com/webcompat/web-bugs/issues/17906 ("Report as foolip" in Chrome)
- https://github.com/webcompat/web-bugs/issues/17907 ("Report Anonymously" in Chrome)
- https://github.com/webcompat/web-bugs/issues/17908 ("Report Anonymously" in Firefox)

I'll close them. Good news is that the type-google label worked!

[2018-07-26 12:13] miketaylr commented on #2557
@foolip yeah, just barely re-deployed. Unsure if it was before or after you tested though.

https://github.com/webcompat/webcompat.com/commit/b1bfaf5236175246c4e8308667f82721673d9732 is when we added the form-action CSP bits.

(site note: staging.webcompat.com is a place where we can file test bugs, fyi --  can manually deploy patches or branches there independent from production).

[2018-07-26 12:14] miketaylr commented on #2557
cc @laghee (since this relates to the CSP stuff)

[2018-07-26 12:17] foolip commented on #2557
Oh, I'll do that next time :) Which repo do the bugs end up in?

[2018-07-26 12:19] softvision-sergiulogigan commented on #2557
Right here, @foolip
https://github.com/webcompat/webcompat-tests/issues

[2018-07-26 13:01] foolip commented on #2557
Thanks @miketaylr, much appreciated!

[2018-07-26 13:40] laghee commented on #2557
@miketaylr Any chance it's related to flask's `url_for`? https://stackoverflow.com/questions/34802316/make-flasks-url-for-use-the-https-scheme-in-an-aws-load-balancer-without-mess  Maybe specifying `PREFERRED_URL_SCHEME` would change behavior?

[2018-07-26 21:04] miketaylr commented on #2557
OK, I've deployed the temporary bandaid patch (which just removes form-action) and deployed that, but we should try to figure out what the real bug is here... I'm still not 100% sure this isn't some strange Chrome bug. Testing with Charles Proxy, I didn't see any traffic trying to hit the http endpoint, or a redirect of any kind.

[2018-07-27 00:36] karlcow commented on #2518
@laghee are you sure, sure and sure ;)

How can we demonstrate this?

For example, let's add in `run.py`

[code]

then let's type

[code]

I get

[code]

aka `run.py` didn't execute.

`run.py -t` is necessary only for functional tests (not unit tests)
and if we start `run.py -t` for nosetests in travis configuration, that's a bug! :)

As for

Yeah! that's the goal.
For Travis it is important to kn

[2018-07-27 00:38] karlcow commented on #2554
@laghee staging is manually deployed. Not from master automagically like webcompat-metrics :)

[2018-07-27 00:42] karlcow commented on #2525
@kereliuk What would be for you the minimal requirements to have a valid issue (with quality)?

[2018-07-27 00:53] karlcow commented on #2557
Maybe some contexts here.
https://github.com/w3c/webappsec-csp/issues/8
see [for example](https://github.com/w3c/webappsec-csp/issues/8#issuecomment-406463864)

302 and 307 seem to have different behaviors btw.

[2018-07-27 09:07] laghee commented on #2518
@karlcow Sorry, my bad! Not sure if I wrote that wrong or had actually misunderstood the process. Sometimes things really do make more sense when you come back to them later! (#1 lesson I keep learning but not fully incorporating so far.)

At any rate, you're right, of course -- it's not that `nosetests` **kicks** `run.py` directly... it's that in Travis we always execute `run.py -t` **before we r

[2018-07-27 09:18] laghee commented on #2554
@karlcow Aha, OK, so everything deployed is manual. ✔️  Got it now! Thx!

[2018-07-27 11:45] softvision-sergiulogigan opened #2559 "Add Kate to Webcompat Contributors page"
Add Kate Manning to https://webcompat.com/contributors

[2018-07-27 11:46] softvision-sergiulogigan commented on #2559
And maybe review the already existing list?

[2018-07-27 14:30] miketaylr opened #2560 "figure out a way to identify firefox reality reporters"
right now they have a built-in reporter that uses the following link:

https://webcompat.com/issues/new?src=web-fxr

We should add a label, or parse their UA string.

[2018-07-27 14:30] miketaylr commented on #2560
(i've ordered a device to test this with, should be able to know more next week)

[2018-07-30 03:14] karlcow commented on #2560
A bit more context for understanding this issue https://mixedreality.mozilla.org/

and

— https://blog.mozilla.org/blog/2018/04/03/mozilla-brings-firefox-augmented-virtual-reality/

[2018-07-31 19:17] #2550 closed

[2018-08-02 22:38] #2560 closed

[2018-08-03 12:08] laghee opened #2563 "Unclear status-change instructions at /contributors/reproduce-bug"
It sounds like we're telling people to change to needstriage status **after** they've triaged a bug they can reproduce. `NEEDSTRIAGE` here should be changed to `NEEDSDIAGNOSIS`:

<img width="884" alt="screenshot 2018-08-03 13 41 40" src="https://user-images.githubusercontent.com/20972610/43641275-48445538-9723-11e8-95a5-a3c059e91d30.png">

https://github.com/webcompat/webcompat.com/blob/42781cc3a6

[2018-08-04 16:40] reinhart1010 opened #2564 ""Report via GitHub" buttons leads to homepage without submitting the issue"
This issue affects the main Webcompat site. I have tested it against staging server while reporting webcompat/webcompat-tests#1637 on both sites.

**Steps to Reproduce**:
1. Log in to your GitHub account, and do **not** log in to the Webcompat site.
2. Try add a new issue and tap on **Report via GitHub**

Here, the button leads to the home page without having the issue submitted.

[2018-08-07 07:06] softvision-oana-arbuzov opened #2565 "Unable to search for closed issues"
URL: https://webcompat.com/
Browser / Version: Firefox Nightly 63.0a1 (2018-08-06) , Chrome 68.0.3440.84
Operating System: Windows 10 Pro, Samsung Galaxy S7 Edge (Android 7.0) - Resolution 1440 x 2560 pixels (~534 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/
    2. Tap “All issues” and tap “Closed” filter.
    3. In the “Search” field type the number of a c

[2018-08-07 08:04] softvision-sergiulogigan commented on #2450
And this is from the 7th of August

![image](https://user-images.githubusercontent.com/16573771/43762811-a704da32-9a31-11e8-8d9c-810a7ffa155e.png)

[2018-08-07 14:29] laghee commented on #2554
Closing as works since deployment v12.1.0 🎉

[2018-08-07 14:29] #2554 closed

[2018-08-08 17:10] suhailsinghbains commented on #2547
Hi, can I please be assigned this issue?
Would love to fix it.

[2018-08-08 19:18] miketaylr commented on #1533
This seems done!

[2018-08-08 19:18] #1533 closed

[2018-08-08 19:20] miketaylr commented on #2545
Also related to (and could probably power some of these requests):

https://github.com/webcompat/webcompat.com/issues/723
https://github.com/webcompat/webcompat.com/issues/132
https://github.com/webcompat/webcompat.com/issues/60

[2018-08-09 01:30] karlcow commented on #1267
This is fixed. I believe.

[2018-08-09 01:30] #1267 closed

[2018-08-09 01:31] karlcow commented on #1332
I plan to work on this on 2018H2

[2018-08-09 01:34] adamopenweb commented on #1179
I think it looks really nice @karlcow. But I'm not sure if it's worth putting time into. We could leave it as a good first/second bug maybe?

[2018-08-09 01:40] karlcow commented on #1339
I removed myself of this issue.

This is a long summary of the issue on surfacing dependencies in issues.
https://github.com/webcompat/webcompat.com/issues/1339#issuecomment-284925267

It requires a way to express the dependency.

I wonder if we should modify the initial description of the bug for adding the dependency/ies.

[2018-08-09 01:49] karlcow commented on #1540
arf…

* https://github.com/webcompat/webcompat.com/wiki/Architecture
* https://github.com/webcompat/webcompat.com/issues/2525#issuecomment-403676858

Done. https://github.com/webcompat/webcompat.com/wiki/Architecture/_compare/d5e768e0c70a8d45b458a096815b167092a4a774...af5b8e8417bd61310b7729b3f015d9a5d0f6c77c

[2018-08-09 01:49] #1540 closed

[2018-08-09 03:28] karlcow commented on #1179
In accord to the majority opinion ;) Let's close with the flag, backlog.

[2018-08-09 03:28] #1179 closed

[2018-08-09 05:36] karlcow commented on #1942
let me try this image  https://staging.webcompat.com/issues/1308 again locally.

Original image
![original-test](https://user-images.githubusercontent.com/505230/43876674-1933c992-9bd1-11e8-8e97-ab97d63a8c3d.jpg)

Original thumbnail
![original-thumbnail](https://user-images.githubusercontent.com/505230/43876696-2a884772-9bd1-11e8-9e07-dc929e7b709e.jpg)

Running on

[code]

## 12.2.0 version
* maco

[2018-08-09 06:08] karlcow commented on #1942
Any take on this? Any feelings 😝  @miketaylr

The doc contains a table for [performance-quality comparison](https://pillow.readthedocs.io/en/latest/handbook/concepts.html?highlight=lanczos#filters-comparison-table)

Maybe HAMMING is worth trying. Let's try a test with this.

## 700
[code]

bilinear (700, 700)
![thumb_bilinear](https://user-images.githubusercontent.com/505230/43881042-d4f90a20-9be5

[2018-08-09 06:48] karlcow commented on #1997
This was fixed by #2474

[2018-08-09 06:48] #1997 closed

[2018-08-09 06:59] karlcow opened #2567 "[travis] nosetests should not be run with python run.py -t"
Following the discussion in https://github.com/webcompat/webcompat.com/issues/2518#issuecomment-408359792

This should not happen. It's a "bug".

We should start `python run.py -t` after nosetests has run.

[2018-08-09 07:00] karlcow commented on #2567
Relevant section
https://github.com/webcompat/webcompat.com/blob/42781cc3a673b622b9fd0d5b07f6250895160a4b/.travis.yml#L41-L62

[2018-08-09 07:12] karlcow commented on #2518
Trying to resolve this

in #2567

This current issue still needs to be solved though.

[2018-08-09 15:47] miketaylr commented on #2525
Any updates here, @patrickkettner? Or should we collaborate on building a new thing? Thanks!

[2018-08-09 15:49] miketaylr commented on #2525
if there's a code snippet, or a domain that matches one of the code-pen like things (see https://blogs.windows.com/msedgedev/2016/08/11/edgebug-twitter/ for what edgebug accepts), let's file a bug. we can triage them, and toss out any junk. i imagine the volume wouldn't be that high.

[2018-08-09 17:30] miketaylr commented on #1942
HAMMING looks pretty good!

🐖

[2018-08-09 23:50] #1942 closed

[2018-08-10 00:39] suhailsinghbains commented on #2547
I had done the required changes locally, but, couldn't run the project & test it for myself.
I will test it first, I think there was an issue with my PC.
Will update you soon! And yes, thanks for the links & the specific code line.

[2018-08-10 00:40] #2567 closed

[2018-08-10 02:27] karlcow commented on #2341
If we set everything at 960px we get a good compromise.

[2018-08-10 02:32] karlcow commented on #2341
<img width="1127" alt="capture d ecran 2018-08-10 a 11 32 06" src="https://user-images.githubusercontent.com/505230/43935907-10550258-9c91-11e8-90af-17c21f143e53.png">
<img width="1127" alt="capture d ecran 2018-08-10 a 11 32 12" src="https://user-images.githubusercontent.com/505230/43935908-108ce6e6-9c91-11e8-9c50-d169f0a8284c.png">

[2018-08-10 02:36] karlcow commented on #2341
@softvision-sergiulogigan I hope this will work for you.
And this is the layout for very very very large windows. 😛
<img width="2437" alt="capture d ecran 2018-08-10 a 11 36 25" src="https://user-images.githubusercontent.com/505230/43936029-ae637c2c-9c91-11e8-9c6d-077d01b3468b.png">

[2018-08-10 19:48] #2547 closed

[2018-08-10 22:03] miketaylr commented on #2564
Yikes, thanks for the report @reinhart1010!

I just reproduced, but haven't investigated... I would guess something unexpected happens when we go to GitHub for an oauth exchange, and it's already happened?

I'm going to reset all tokens for the staging account to test that theory.

[2018-08-10 22:06] miketaylr commented on #2564
Hm, no. Still broken.

Actually... I think this might be fallout from https://github.com/organizations/webcompat/settings/applications/111644

[2018-08-10 22:10] #2564 closed

[2018-08-10 23:25] reinhart1010 commented on #2564
There was another issue where I cannot log in straight from the homepage (production). This was also fixed, too.

[2018-08-13 22:26] karlcow commented on #2024
@miketaylr could you show me an example of console.log data as sent by the browser. Or should I assume that this is just a UTF-8 stream of data.

[2018-08-13 22:35] karlcow commented on #2024
This seems to be manageable on the server side instead of the client side.
https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L207-L244

[2018-08-14 05:12] karlcow commented on #2341
@softvision-sergiulogigan

It's what it does. but it keeps the cards and the stats aligned together.
The very large screenshot up there is for a very large window.

Do you want the cards to spread on the full width of the window?
<img width="3178" alt="capture d ecran 2018-08-14 a 14 11 59" src="https://user-images.githubusercontent.com/505230/44072873-0c8eef9c-9fcc-11e8-87ca-c1fe4677e01d.png">

[2018-08-14 06:18] karlcow commented on #2024
So there will be  I guess a compat story to handle here.

When switching to HTTP POST with data  instead of parameters, we still need to maintain the url one because some of the things will be using this. Or we mint a new URI for the new form style.

[2018-08-14 06:44] karlcow commented on #2024
Trying to model things a bit more.
https://webcompat-meet.herokuapp.com/oWU0yjHPT9mYl_sM7iZ0XQ#

<img width="771" alt="capture d ecran 2018-08-14 a 15 43 33" src="https://user-images.githubusercontent.com/505230/44075750-dcb91772-9fd8-11e8-97c0-478de9627b64.png">

[2018-08-14 07:36] softvision-sergiulogigan commented on #2341
IMO, this would be the expected behavior, @karlcow ...

[2018-08-14 08:14] karlcow commented on #2341
ok! We can do that. :) I'm not a big fan of full screen stuff. But why not. :)
@magsout I will fix the PR.

[2018-08-14 13:49] softvision-sergiulogigan opened #2571 "Create a landing page for all the Dashboards we have"
**Environment:**
Browser / Version: Chrome 68 (Desktop), Firefox Nightly 63.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to https://webcompat.com/dashboard/

**Expected Behavior:**
All dashboards, together with http://adamstevenson.ca/mozilla/reports/ and https://webcompat.com/dashboard/triage are listed here.

**Actual Behavior:**
The page is a 404.

**Notes:**

[2018-08-14 18:16] #1336 closed

[2018-08-14 21:57] miketaylr commented on #2024
I believe it will just be included as part of the `details` POST data. So, nothing different than we currently accept to get pref values, just over POST. Probably coming in as JSON (as current `details` data does).

Current compat requirements:

* Firefox for Android: https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#122: `src` and `url` params.
* Fi

[2018-08-14 22:45] karlcow commented on #2024
@miketaylr

It is currently sent as parameters, not multipart data. :)
https://dxr.mozilla.org/mozilla-central/source/browser/extensions/webcompat-reporter/content/WebCompatReporter.jsm#113-116

* Should we modify all of these to be sent as multipart data?
* Supporting the two methods for a little while, and deprecating one for the other after a while?

[2018-08-16 04:10] karlcow commented on #2024
Taking @miketaylr list and annotating (second level of bullet points) also putting permalink into the fray.

* Firefox for Android: https://dxr.mozilla.org/mozilla-central/rev/4e56a2f51ad739ca52046723448f3129a58f1666/mobile/android/chrome/content/WebcompatReporter.js#122 : `src` and `url` params.
  * This opens a new tab at the URL and does a `HTTP GET` and not `HTTP POST`
* Firefox Desktop report

[2018-08-16 05:48] karlcow commented on #2024
Testing (evil?) things…

[code]

Then sending the HTTP Request

[code]

And then looking at the response…

ahah!

[code]

This is working. To note that [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.1
) says about GET:

[code]

not forbidden… just… undefined. Tempting.

[2018-08-16 08:44] karlcow commented on #2024
But GET body not usable in the browser context. :)

[code]

[code]

[2018-08-16 13:33] #2341 closed

[2018-08-16 21:16] foolip opened #2572 "Make webcompat.com/12345 redirect to webcompat.com/issues/12345"
Short links for webcompat.com links would be cool, similar to https://crbug.com/12345. For linking in comments, commit messages, etc.

[2018-08-17 02:02] karlcow commented on #2572
so on webcompat.com we accept `#nnn` and it links to another issue.
It between sites it is always more complicated.

[code]

It could be done.  I feel that the main hurdle is the domain name more than the issues.
Mozilla Bugzilla has a shortener for search url in bugzilla.
which results in URL such as https://mzl.la/2MC9wKh

I tried ;) but this is forbidden obviously.
https://bugzilla.mozilla.org/

[2018-08-17 02:49] MDTsai commented on #2572
I remember mzl.la is only for specific domains like bugzilla only

[2018-08-17 03:01] karlcow commented on #2572
yup.
Found this summary too https://www.paulirish.com/2010/bug-tracker-short-urls/

[2018-08-17 07:51] foolip commented on #2572
FWIW, I think that https://webcompat.com/1234 is sufficiently short, but something ever short would be cool of course. I think the real reason I came to think of this (not comments) is that I want to type in the URL on my phone for manual testing, and less typing is better.

[2018-08-17 18:26] suhailsinghbains commented on #2468
Hi @mischah I would to work on this bug, please can I be assigned this.

[2018-08-17 18:29] suhailsinghbains commented on #2416
Hi @karlcow I would love to add the above mentioned people along with their Description. Please can I be assigned this bug.

[2018-08-18 01:48] suhailsinghbains commented on #2051
Hi @miketaylr I have read the PRs made and your comments on it, I know specifically what to do now. This would be my first bug in Python, can I please be assigned this issue.
Thanks.

[2018-08-20 17:28] johngian commented on #2545
@miketaylr While working on that issue a couple of questions came up:

* Is there some sort of DB for all the issues or do we continue querying the GH API?
* Do we want to maintain some sort of instance/service to query issues instead? The way that i see it a service similar to ``webcompat-search`` backed by ES can be a good fit.
* Have you considered using [ghtorrent](http://ghtorrent.org/) to ge

[2018-08-22 02:07] suhailsinghbains commented on #2051
No worries, I'll try to solve ASAP.

[2018-08-24 19:41] miketaylr opened #2574 "Rename priority labels"
Currently we have `priority-foo` labels added by a webhook, and each value is more or less a proxy for alexa ranking.

I'd like to propose that we rename them from `priority-{critical,important,normal}` to `alexa-rank-top-{1k, 10k, 50k}` (or whatever they actually map to?).

The reason is we're going to start triaging issues and add a `severity-` label, and recommend we diagnose based on that, in

[2018-08-24 20:27] miketaylr commented on #2545
Heya @johngian, sorry for the delay in responding!

Not right now... we've talked about it at different times, but haven't really ever tackled it (mostly because we're <s>lazy</s>busy and don't want to solve all the problems of syncing)

Yes, that sounds like a good plan.

I've... never heard of it! It might be interesting for @karlcow and @laghee to look at, as they're building something similar

[2018-08-29 18:36] #2051 closed

[2018-08-30 06:08] karlcow commented on #2024
@miketaylr Question of priorities.

Let's imagine the following scenario with contradictory data for creating the form.

[code]

Currently, I'm leaning to make the JSON data overwriting the URL arguments into the form, if not empty. So in this example above the prefilled form will have the value `http://foobar.example.org/`

[2018-08-30 07:13] karlcow commented on #2024
@miketaylr Another question :)

I have a hunch that this is useless

[2018-08-30 18:45] miketaylr commented on #2574
Thanks @karlcow.

[2018-08-30 19:46] miketaylr commented on #2024
+1 to this recommendation. Let's trust POST data over anything else.

[2018-08-30 19:46] miketaylr commented on #2024
nice. :)

[2018-08-31 00:11] suhailsinghbains commented on #2472
Hi @karlcow is this bug still open?  Would love to work on this.

[2018-08-31 00:16] suhailsinghbains commented on #2443
Hi @karlcow .
Would like to work on this bug, I can make the textarea just like this [right puicture](https://user-images.githubusercontent.com/505230/36292757-6664a95e-1317-11e8-97f3-f2315d5121bd.png) or something just very different.

[2018-09-02 20:57] karlcow commented on #2443
@suhailsinghbains Thanks for proposing. The right side is what we had before and we do not want necessary to go back to this. I don't think it will fit the square mood that was set by the previous iteration. Let's wait next month, we will probably discuss this and possible solutions. We have a f2f meeting partly for this soon.

[2018-09-02 21:07] karlcow commented on #2472
@suhailsinghbains  yes. Thank you for proposing.

These are the 3 main categories of pages we can start with.

* https://html5.validator.nu/?doc=https%3A%2F%2Fwebcompat.com%2F
* https://html5.validator.nu/?doc=https%3A%2F%2Fwebcompat.com%2Fissues%2Fnew
* https://html5.validator.nu/?doc=https%3A%2F%2Fwebcompat.com%2Fissues%2F10000

There is a lot of work to get it fixed and you will need to be care

[2018-09-06 14:18] softvision-sergiulogigan opened #2575 "The Site URL and Screenshot fields are not automatically updated when reporting an issue while on webcompat.com"
**Environment:**
Browser / Version: Chrome 69 (Desktop), Firefox Nightly 64.0a1 (Desktop)
Operating System: Windows 10

**Prerequisites:**
Have the webcompat add-on installed.

**Steps to Reproduce:**
1. Navigate to https://webcompat.com/
2. Click on the “Report site issue” add-on.
3. Observe the Site URL and Screenshot fields.

**Expected Behavior:**
The Site URL and Screenshot fields are automat

[2018-09-07 18:38] miketaylr commented on #2549
This happened elsewhere!

[2018-09-07 18:38] #2549 closed

[2018-09-09 11:05] reinhart1010 opened #2576 "(Samsung Internet) White gap visible in homepage"
Tested on Samsung Intermet 7.4 (Chrome 59), Android 7.0.

![screenshot_20180909-180051](https://user-images.githubusercontent.com/17312341/45263812-06912800-b45b-11e8-801d-96db4af5b6ed.png)

[2018-09-12 21:29] miketaylr commented on #1508
This got fixed!

[2018-09-12 21:29] #1508 closed

[2018-09-13 15:21] #1955 closed

[2018-09-13 17:03] laghee commented on #2559
Seems kinda self-serving 😄 , but sure!

[2018-09-14 06:52] karlcow opened #2579 "Evaluate performances of webcompat.com"
This issue is meant as a mini-project for the outreachy pre-selection.

https://webcompat.com/ is a website which uses GitHub as a backend and a combination of python and JavaScript to serve webpages. The [current architecture](https://github.com/webcompat/webcompat.com/wiki) might have an impact on the performance of the webpage. Performance is a very generic term here. You may think about it in

[2018-09-14 17:08] #1835 closed

[2018-09-16 13:27] reinhart1010 opened #2580 "New reports from Webcompat.com does not automatically assign browser labels"
Starting from webcompat/web-bugs#18835, there are no browser tags such as `browser-firefox` assigned automatically. This might be related to #2573.

[2018-09-16 23:44] karlcow commented on #2580
houla o_0 @miketaylr
https://github.com/webcompat/webcompat.com/blob/master/CHANGELOG.md#1320---2018-09-14

the modifications from the pull request #2573 seems innocuous.
Or is it a regression because I changed webhooks? That seems more likely aka #2577 bummer.

[2018-09-17 00:35] karlcow commented on #2580
ok I think I understood.

[code]

gives

[code]

By removing the blueprint I also removed the knowledge of the route from the main code. Rha.

So let's revert until I figure a way to do this in another way.

[2018-09-17 01:09] karlcow commented on #2580
[code]

We know the route should listen only to POST.
and will reply with `        return ('Nothing to see here', 401, {'Content-Type': 'text/plain'})`
if it's not a github request.

[code]

[code]

Let's try to fix something.

[code]

Let's redo the HTTP request

[code]

[code]

Yeah working.

Let's create a test for this.

[code]

with

[code]

Let's create a pull request for this.

[2018-09-17 01:14] karlcow commented on #2580
No need to revert.
@miketaylr pull request done in #2581

[2018-09-17 14:57] #2580 closed

[2018-09-19 00:53] karlcow commented on #2024
this is what a pull request would look like.
https://github.com/webcompat/webcompat.com/compare/master...karlcow:2024/1

I want to double check something today.

Then the next step would be to deploy on staging and wild test it. Specifically for things which are supposed to keep working as-is

[2018-09-19 05:51] hritvi commented on #2563
@laghee If it is still open may I work on this?

[2018-09-19 07:45] Obtin commented on #2380
@zoepage @karlcow is this issue still active ? If yes, I would like to take this up.

[2018-09-19 07:48] karlcow commented on #2380
@Obtin please do ! :) thanks.

[2018-09-19 07:54] Obtin commented on #2104
@miketaylr @zoepage I would like to work on this issue.

[2018-09-19 07:56] karlcow commented on #2104
feel free to tackle it after #2380
Thanks a lot. That's cool!

[2018-09-19 08:05] karlcow commented on #2380
The line in question.
https://github.com/webcompat/webcompat.com/blame/d56cd783366d725bcf2cf560723a590faf41e08f/README.md#L11

[2018-09-19 10:11] laghee commented on #2563
Hi, @hritvi! We'd be happy to have you work on this, but if you're an Outreachy applicant, it would be great if you could look at issue #2579 first.

If you run into any bugs setting up a local environment, feel free to file them!

[2018-09-19 17:56] #2559 closed

[2018-09-19 19:35] adamopenweb opened #2584 "Use Alexa rank for tracking-protection-issues-private bugs"
For reports that come through the tracking-protection-issues-private repo, we'd like to be able to identify the Alexa global and local rank.

A labeling system similar to the Webcompat `priority` labels might work.

[2018-09-19 20:20] miketaylr commented on #2584
I think it should be possible to decouple the priority labeling into its own webhook endpoint, then the TP private repo could send webhook data to that endpoint and get its own labels.

Depends on #2574 (kinda, not really...)

[2018-09-20 20:26] miketaylr opened #2585 "Add /tmp to deploy.ignore"
Otherwise we end up deploying local logs and CSP reports.

https://github.com/webcompat/webcompat.com/blob/master/config/deploy.ignore

[2018-09-20 20:36] miketaylr opened #2586 "nginx Connection reset by peer"
Sending too much data?

[code]

[code]

[2018-09-20 20:37] miketaylr commented on #2586
Need to test if the FxR issue is a one-off weird thing, or if they try that by defualt.

[2018-09-20 20:38] miketaylr commented on #2586
@karlcow i wonder, once we deploy sending data via POST, if we should trim GET params to prevent this? Dunno.

[2018-09-20 23:48] karlcow commented on #2586
@miketaylr We need need to do a bit of validation. We are so far pretty open on things. And we could constraint a bit more, both on the accepted parameters and the individual size/nature of their values. At least we should definitely handle this gracefully.

btw the error message is in flask or in nginx?

[2018-09-20 23:49] karlcow commented on #2586
Hmmm karl, please read the title. 😝

[2018-09-21 02:40] miketaylr commented on #1827
https://github.com/nir0s/distro#distro---a-linux-os-platform-information-api

[2018-09-21 05:18] karlcow opened #2587 "The parameter subpath is not passed to the route"
Here in views.py

https://github.com/webcompat/webcompat.com/blob/39da3a084bd3d5001dd962a9600674bfd15766e3/webcompat/views.py#L469-L471

we have forgotten to pass the parameter to the function. It should be

[code]

[2018-09-21 05:20] karlcow commented on #2587
1. Add the subpath to the function
2. Create a test in https://github.com/webcompat/webcompat.com/blob/master/tests/unit/test_rendering.py to check we get the right content.

[2018-09-21 06:38] kritisingh1 commented on #2587
Hi @karlcow may I work on this issue? Thanks!

[2018-09-21 07:14] karlcow commented on #2587
@kritisingh1 Yes sure. :)

There is [documentation](https://github.com/webcompat/webcompat.com/blob/master/.github/CONTRIBUTING.md)  covering all the initial steps for starting with the project and starting with the first pull request.

If you are stuck somewhere, the document also includes information on how and where to get help!

[2018-09-21 10:04] Obtin commented on #2534
@miketaylr I would like to work on this.

[2018-09-21 10:20] shristit commented on #2468
Hi @mischah , can i work on this issue , aspirant to be outreachy intern this year with this project
Thanks

[2018-09-21 11:18] Obtin commented on #2455
@miketaylr I duplicated the milestones (manually added these for now). But it still gives the same error.

[2018-09-21 11:45] mischah commented on #2468
Please feel free to submit a pull request 😊

[2018-09-21 13:08] karlcow commented on #2380
Closed by #2588

[2018-09-21 13:08] #2380 closed

[2018-09-21 13:10] karlcow commented on #2534
Thanks @Obtin
Please go ahead. Make sure to create test cases too so that we are sure to get the right behavior.

[2018-09-21 13:13] karlcow commented on #2468
@shristit

for the Outreachy contribution, we're asking all applicants to do an exercise related to the proposed project before asking for any other code contributions:
#2579
We would ask that you keep your evaluation secret until the Outreachy selection period is done. Thanks!

You still can try this issue if you wish.

Thanks.

[2018-09-21 13:15] karlcow commented on #2228
@shristit see https://github.com/webcompat/webcompat.com/issues/2468#issuecomment-423526484

[2018-09-21 13:15] karlcow commented on #616
@shristit See https://github.com/webcompat/webcompat.com/issues/2468#issuecomment-423526484

[2018-09-21 13:20] karlcow commented on #2455
What is happening for @mischah is that he created his own test repos BUT in the list of milestones there is this milestone `u'1.0.0'` which is not existent in the project.

for @Obtin it would be good to know what errors do you receive? What the logs are saying? Thanks.

[2018-09-21 13:32] karlcow commented on #2518
@miketaylr hmm something is rotten…
https://travis-ci.org/webcompat/webcompat.com/builds/431489833

next week. Fix the milestone story.

[code]

[2018-09-21 13:40] shristit commented on #2468
Oops ok edited all the comments :)

[2018-09-21 13:44] karlcow commented on #2468
@shristit there was no issue with your comment. :) We just ask outreachy applicants to answer #2579 and send to @miketaylr and me as mentioned in the outreachy topic description. Your analysis of #2579 has to be kept secret. Good luck. Thanks.

[2018-09-21 19:15] miketaylr commented on #2455
It would probably be good to open a new issue as well, @Obtin. Thanks.

[2018-09-21 19:18] #2024 closed

[2018-09-22 06:15] kritisingh1 opened #2590 "Incorrect link in docs/tests.md"
The link `See dev env setup` in `docs/tests.md` is pointing to a non-existent topic on the same page.

[2018-09-22 08:35] Obtin commented on #2455
@karlcow
![webcompat](https://user-images.githubusercontent.com/25207205/45915316-e5e4ad00-be20-11e8-898b-67734f9346c9.png)

[2018-09-23 08:37] Obtin opened #2592 "wrong milestone.json file gives an unhelpful message"
Edited by @karlcow (2018-09-25)

See my [comment](https://github.com/webcompat/webcompat.com/issues/2592#issuecomment-424170192) on how to improve this issue. I edited the title too.

Original report by @Obtin
---
## Steps to reproduce
[code]
After which  added the outh token and client id and secret key as per the documentation. After that,
[code]
This is what I got
[code]
## Reason

But I checke

[2018-09-23 08:38] Obtin commented on #2592
This is my debug log file
![webcompat](https://user-images.githubusercontent.com/25207205/45925804-7affa880-beea-11e8-8f4e-75896e32aebd.png)

[2018-09-23 08:53] suhailsinghbains commented on #2585
Hi @miketaylr
I would love to work on this. I'll send a PR soon, if you assign the bug to me please.

[2018-09-23 21:53] karlcow commented on #2592
Thanks @Obtin

[2018-09-23 21:58] karlcow commented on #2592
@Obtin When you are in the console, if you type `echo $SHELL`, what answer does it give?

[2018-09-23 22:05] karlcow commented on #2592
This might still return the wrong information… hmmm…
`echo $BASH_VERSION`

[2018-09-23 22:07] #2468 closed

[2018-09-23 22:09] karlcow commented on #2585
@suhailsinghbains it seems @shristit already submitted a PR in between the time us being aware of your message and the PR.

[2018-09-23 22:15] Obtin commented on #2592
@karlcow  The responses are
[code]

[2018-09-23 23:58] karlcow commented on #2585
@suhailsinghbains Please see if you are interested in contributing more https://github.com/webcompat/webcompat.com/labels/good%20first%20bug
@shristit Make sure next time to check if nobody has requested to work on something before doing a PR.

Make sure to read carefully https://github.com/webcompat/webcompat.com/blob/master/docs/pr-coding-guidelines.md

Thanks to both of you.

[2018-09-24 00:14] karlcow opened #2595 "[Doc] Be more explicit about the format of commit messages"
We recurrently have issues where the commit message is not done properly.
We need to be extra-more explicit in the docs with regards to commit messages and probably PR titles too.

[2018-09-24 00:28] karlcow commented on #2595
Commit messages MUST

1. Have the issue Number `Issue #nnnn`
2. Separator is ` - `
3. Message is short and telling what the commit message does, not what the committer did.

## Good

* `Issue #1234 - Adds tests for validating domain names`

## Bad

* `Issue #1234 - Adding tests for validating domain names` because of `Adding`.
* `Issue #1234 - Added tests for validating domain names` because of `A

[2018-09-24 00:36] karlcow commented on #2592
Ok cool. You are using bash and not dash it seems. source doesn't exist it seems on dash.

[2018-09-24 04:10] Obtin commented on #2592
@karlcow Yeah source does not for dash, but it should work bash. The output will give
[code]
python run.py command gives
[code]
and the npm run start gives the same error as mentioned above

[2018-09-24 05:28] karlcow commented on #2592
so I erased my milestones.json file in `data/` to be sure.
and ran `python run.py`
and it worked.

[code]

I checked your repo and you seem to have the right 12 milestones.
Could you just erase data/milestones.json if it exists.

[2018-09-24 05:57] #2587 closed

[2018-09-24 14:33] Obtin commented on #2592
@karlcow It worked thanks :-)

[2018-09-24 15:43] #2585 closed

[2018-09-24 17:34] #2590 closed

[2018-09-24 22:55] miketaylr commented on #2332
See also http://ffoodd.github.io/a11y.css/, to help decide if we want to keep or remove this.

[2018-09-24 22:56] miketaylr commented on #2320
Permalink here: https://github.com/webcompat/webcompat.com/blob/173d09289eac42c6aa2b679850204663dd3b2f02/webcompat/static/js/lib/issues.js#L334

[2018-09-24 22:57] miketaylr commented on #2314
I'm going to WONTFIX this, we can revisit if we feel like we need it.

[2018-09-24 22:57] #2314 closed

[2018-09-24 22:58] miketaylr commented on #2303
Looks like we forgot to close this.

[2018-09-24 22:58] #2303 closed

[2018-09-24 22:59] miketaylr commented on #2231
These reports are all dead. 👻

[2018-09-24 22:59] #2231 closed

[2018-09-24 23:05] miketaylr commented on #1278
We kinda have this now. CLosing.

[2018-09-24 23:05] #1278 closed

[2018-09-24 23:44] miketaylr commented on #2545
@johngian is this hosted anywhere for us to start exploring it next quarter?

[2018-09-24 23:45] miketaylr commented on #2010
Probably severity too.

[2018-09-24 23:48] miketaylr opened #2596 "Decide what to do with https://github.com/webcompat/webcompat-cli-tool"
And the code it touches/depends on in this repo.

Archive it? Maintain it?

[2018-09-24 23:52] miketaylr commented on #2331
We should decide what to do with this. Remove it, use it, etc.

[2018-09-24 23:54] miketaylr commented on #2330
oops. missed this.

Right now there's possibly a different bug:

[code]

capturing the issues to document a potential bug (maybe the `/`?)

<img width="777" alt="screen shot 2018-09-24 at 6 54 08 pm" src="https://user-images.githubusercontent.com/67283/45985310-47786780-c02b-11e8-9031-f1bada302587.png">

[2018-09-24 23:58] miketaylr commented on #2196
I think let's just WONTFIX.

[2018-09-24 23:58] #2196 closed

[2018-09-25 00:00] miketaylr commented on #1742
We require a valid URL now, so we can close here.

[2018-09-25 00:00] #1742 closed

[2018-09-25 00:02] miketaylr opened #2597 "label + milestone editor overflow issues"
I swear I had reported this elsewhere, but I can't seem to find it.

Clicking on the label or milestone editor results in awkward overflow issues. We should just make them behave like GitHub currently -- that is, they show "float" above all other content while open.

<img width="424" alt="screen shot 2018-09-24 at 7 01 08 pm" src="https://user-images.githubusercontent.com/67283/45985533-46940580-c

[2018-09-25 00:40] karlcow commented on #2592
Very cool. Now the issue is that there was a problem with `milestone.json` and it blocked the start of the project with an unhelpful message.  I'll change the title a bit.

[2018-09-25 00:43] karlcow commented on #2592
For resolving this issue, we need:

1. Check if `milestone.json` has the right format.
2. If not, just go fetch a new set online and save it in `data/milestone.json`
3. (Maybe) creates a backup of the old one at least for debugging purpose.
4. Tell the user that we did (no surprises)

[2018-09-25 11:00] #2563 closed

[2018-09-25 17:11] miketaylr opened #2599 "Figure out why GA shows no data"
Maybe we broke this?

[2018-09-25 17:28] miketaylr commented on #2599
hey look, we had one user last tuesday!

![screen shot 2018-09-25 at 12 27 36 pm](https://user-images.githubusercontent.com/67283/46031428-71c73500-c0be-11e8-975f-f51d7ef61a0a.png)

(i wonder if i used the wrong logic in #2300... something to investigate)

[2018-09-25 22:15] miketaylr commented on #2597
One use case where this is pretty crappy:

if you try to filter on `type-`, and there's something you need below the overflow, I'm not even sure how to get it without typing it out entirely.

[2018-09-26 03:51] vaishnavipamulapati commented on #2597
I think this is happening as a result of the `overflow-y` style applied to the `label-box` [class](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/src/label-box.css#L4).
We could probably just remove that and have it render outside the box.
It would look like this:
![image](https://user-images.githubusercontent.com/29792199/46056044-6c282880-c16c-11e8-8d16-03d3670664ef.

[2018-09-26 04:42] karlcow commented on #2599
I'm still in the mood of getting rid of GA. :)
but it's probably worth understanding what is not working.

[2018-09-26 05:20] karlcow commented on #1297
Another instance in https://github.com/webcompat/web-bugs/issues/19090
https://webcompat.com/issues/19090

GitHub has the same bug.
<img width="929" alt="capture d ecran 2018-09-26 a 14 19 38" src="https://user-images.githubusercontent.com/505230/46058749-3e0c0e00-c197-11e8-9051-1f5f3908c549.png">

[2018-09-26 11:14] shristit opened #2601 "Error while running the test cases"
I tried to run the test cases the way in `Travis` and then i am getting this error https://pastebin.com/9B051U6x

And when i tried to run the functional tests as mentioned in `docs` as run `npm run start:test` in one terminal window and `npm test` in another terminal , got this error https://pastebin.com/8MJYNdru

cc @miketaylr

[2018-09-26 12:14] marimeireles opened #2602 "Improving the docs of Running Tests"
Regarding: https://github.com/webcompat/webcompat.com/blob/master/docs/tests.md

I thought it'd be a good idea to add the milestones we have to create in our repo in the doc and also make it clear that it has to be exactly the same words (at first I had some problems when I tried to run the tests because I left some blank spaces chars at the end of the words).

[2018-09-26 16:51] shristit opened #2604 "Broken link in `run.py`"
The link in https://github.com/webcompat/webcompat.com/blob/master/run.py#L49 is broken , it needs to be link to https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#configuring-the-server

[2018-09-26 17:06] miketaylr commented on #2601
It seems @shristit was having these issues on Debian, but not Arch.

[2018-09-26 20:53] #2604 closed

[2018-09-26 23:50] #2602 closed

[2018-09-28 20:21] shristit opened #2607 "Typo in `secrets.py.example`"
Spelling of GitHub should be `GitHub` instead of `GiHub` at https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example#L40

[2018-09-29 16:56] Anushi1998 commented on #2514
@laghee @miketaylr

- `See dev env setup` link under Functional Tests is resolved by #2590
- Text after npm test command contradicts new headless browser default:
What should I add for that?

[2018-09-29 20:28] laghee commented on #2514
Hi, @Anushi1998 -- thanks for working on this! Have you tried running the tests? That would give you the best idea of what actually happens. Basically you get a little spinny progress widget that counts off each test with a check mark for passing or an `x` for failing, first in Firefox, then in Chrome:

<img width="504" alt="screenshot 2018-09-29 13 04 45" src="https://user-images.githubuserconten

[2018-09-30 18:13] miketaylr commented on #2599
@karlcow wins the award for "most consistent values" 💯 ⭐️

[2018-10-01 05:38] magsout commented on #1705
This issue is about the old design. So we can close ?

[2018-10-01 05:39] magsout commented on #1705
ah, the behavior is the same on the new design..

[2018-10-01 08:44] karlcow commented on #2596
This is a duplicate of #1310

[2018-10-01 08:44] #2596 closed

[2018-10-01 08:46] karlcow commented on #1310
We will check here what should we do with the CLI? @magsout will check it.

[2018-10-01 08:52] karlcow commented on #1943
Maybe it doesn't exist anymore! :) Let's close it. If it resurfaces, we will something about it. It seems to be devops stuff.

[2018-10-01 08:52] #1943 closed

[2018-10-01 08:55] karlcow commented on #1705
We can close it. Because the new design is kind of working. There are not anymore UX issues related to this in the new design.

[2018-10-01 08:55] #1705 closed

[2018-10-01 08:55] miketaylr opened #2610 "Focus search input when the search icon is pressed (and search input is empty)"

[2018-10-01 09:07] karlcow commented on #2332
In the current state, we are not really using this cool tool.
Let's delete it from the code. Bring on the PR.

[2018-10-01 09:11] karlcow commented on #2340
Possibly it was fixed. We don't know currently because the UI is reactive. We get the results quite fast. @softvision-oana-arbuzov what you think?

[2018-10-01 09:13] #2514 closed

[2018-10-01 09:13] karlcow commented on #2381
Let's do this with a simple text message.
Be careful with the current ignore all `/.well-known/`

[2018-10-01 09:17] #2607 closed

[2018-10-01 09:31] karlcow commented on #2482
This should be fixed. The Regex is probably wrong.

[2018-10-01 09:47] karlcow commented on #2597
@magsout will check how to pull out the editor widget out of the aside context. It requires a bit of UX work.

[2018-10-01 09:52] karlcow commented on #2509
We will not work on it during Paris work week.

[2018-10-01 09:55] miketaylr commented on #2232
We don't have the resources to maintain this, unfortunately.

[2018-10-01 09:55] #2232 closed

[2018-10-01 10:06] karlcow commented on #2078
@magsout will take a look at this.

[2018-10-01 10:08] karlcow commented on #2100
@magsout will check what could be done.

[2018-10-01 10:09] karlcow commented on #2199
patches are welcome.

[2018-10-01 10:13] karlcow commented on #2214
Before doing that, can we know how many such reports we had in the past? So we can just know how much needed is it?

@miketaylr said that probably @MDTsai addon could solve this issue.

[2018-10-01 10:16] karlcow commented on #2320
This doesn't change anything in the interactions. This is about consistency in naming.

[2018-10-01 10:20] karlcow commented on #2584
@miketaylr @adamopenweb could you define a bit better what talks to what? And how this should work?

[2018-10-01 10:30] karlcow commented on #2331
We might be able to clean up the CSS. @miketaylr will check.

[2018-10-01 11:56] softvision-oana-arbuzov commented on #2340
@karlcow yes the issue was fixed and results are return very fast.

We can consider this Closed as Fixed.

[2018-10-01 12:37] karlcow commented on #2340
@softvision-oana-arbuzov Thanks. ❤️

[2018-10-01 12:38] #2340 closed

[2018-10-01 12:47] reinhart1010 commented on #2214
+ 18 closed reports mentioning "Unwanted"
+ 23 closed reports mentioning "Safe Browsing"
+ 60 closed reports mentioning "Malware"
+ 174 reports mentioning "Spam"
+

[2018-10-01 12:50] #2381 closed

[2018-10-01 12:53] karlcow opened #2612 "Move text messages for certain routes into config"
That sounds more logical to move the text messages into the config.
Example: https://github.com/webcompat/webcompat.com/blob/dad37868fa082dc7a908f28b3a7399d4d572a4d0/webcompat/views.py#L447-L450

like we did for `/.well-known/security.txt`

[2018-10-01 14:04] karlcow commented on #1310
I was checking the setting of the project indico, which has an [initialization script](https://github.com/indico/indico/blob/67490f2b9ecef583a3603b4a53d024c55486f36b/indico/cli/setup.py) that user can run with the command:

`indico setup wizard --dev`

[2018-10-01 14:33] magsout commented on #2597
@miketaylr @karlcow

I tried something:

![capture d ecran 2018-10-01 a 16 33 15](https://user-images.githubusercontent.com/1997108/46295187-bf004680-c597-11e8-9b77-e557ed80a545.png)

[2018-10-01 14:51] karlcow commented on #2597
@magsout Yes. We are getting  closer, I would not do such a strong opacity in the background.

[2018-10-02 03:33] Arasador commented on #2612
I would like to work on this, since it seems pretty straight forward. A good first bug.

[2018-10-02 04:11] karlcow commented on #2612
@Arasador please do! Thanks.

There is [documentation](https://github.com/webcompat/webcompat.com/blob/master/.github/CONTRIBUTING.md)  covering all the initial steps for starting with the project and starting with the first pull request.

If you are blocked somewhere, the document also includes information on how and where to get help! You can also ping me here in the comments.

[2018-10-02 04:56] karlcow opened #2619 "Selecting an option in the widget editor should not change the order until it is closed"
Here a movie to show what is happening.
https://imgur.com/a/DrUXPEN

Steps to reproduce:

1. Open the widget editor for status or label
2. Click on  a status or label

Actual:
The status is moved to the top of the list

Expected:
The status stays in place until the widget editor is closed.

Why?
When the order is changed before closing it creates two UX issues:
1. It's hard to understand if we rea

[2018-10-02 06:43] #2100 closed

[2018-10-02 06:48] magsout commented on #2417
few month later I don't remember what the point is this issue, @Regaddi could you explain to me, what exactly it is?

[2018-10-02 07:04] miketaylr opened #2620 "Consider added 1 or 2 new categories for bug form: login / payment"
A suggestion from Rosana.

@karlcow suggests a contextual message for these users, if they report anonymously, the odds of us being able to help are pretty low.

[2018-10-02 07:14] magsout commented on #2443
@karlcow @miketaylr is it enought? What do you think?

![capture d ecran 2018-10-02 a 09 13 46](https://user-images.githubusercontent.com/1997108/46334209-860db380-c623-11e8-964e-8c3ec9324b80.png)

[2018-10-02 07:35] magsout commented on #2417
thanks @Regaddi

Still have one question.

sorry sorry, but what do you mean by `the predefined breakpoints` ?

[2018-10-02 07:52] #2597 closed

[2018-10-02 07:54] #2078 closed

[2018-10-02 07:54] Regaddi commented on #2417
I thought of these: https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/src/variables.css#L11-L13

Maybe I misinterpreted them. There has been a discussion (not sure which issue it was) about using the variables in the breakpoints, but unluckily this is not possible with plain CSS.
However, I think it is a good idea to have consistent media queries within the whole project.

[2018-10-02 07:58] magsout commented on #2417
@Regaddi ok, thanks for the explanation.

[2018-10-02 08:08] miketaylr commented on #2331
looking at the bugs in the repo:

https://github.com/purifycss/purifycss/issues/161
https://github.com/purifycss/purifycss/issues/162
https://github.com/purifycss/purifycss/issues/156

And see also https://github.com/facebook/create-react-app/issues/1092#issuecomment-264969752.

I don't think this project is in a good state for us to use in production. Let's just remove.

[2018-10-02 08:23] karlcow opened #2622 "URL area is overflowing the body"
@magsout had fixed this, but we seem to get into a strange case for this one.

https://webcompat.com/issues/16643

[2018-10-02 08:43] miketaylr opened #2624 "Test if CircleCI is more reliable than Travis"

[2018-10-02 08:57] #2331 closed

[2018-10-02 09:02] karlcow commented on #1828
That gives up a potential of 1519 titles to fix, but 9600 would still be directly usable which is not bad.
I want to check how many people are not using "steps by steps" because they have "description"

* steps shorter than description:  768
* steps longer than description:  8564
* steps are empty: 1884

[2018-10-02 09:06] miketaylr commented on #2443
Looks great!

[2018-10-02 09:32] #2624 closed

[2018-10-02 09:32] karlcow opened #2627 "Flag issues which are spam"
When we identify an issue which is spam, we could flag it with a label. `type-spam` or something

This would help us to adopt different strategy when displaying issues to users, when returning search results, etc.

To discuss. Opinion? @softvision-oana-arbuzov @softvision-sergiulogigan @adamopenweb @miketaylr @magsout

[2018-10-02 10:36] softvision-oana-arbuzov commented on #2627
@karlcow we could do that.
Should we add the label to all the issues reported as:
- scam
- virus
- phishing
- deceptive site
- adware
- random redirect
- random typed letters
- invites to different blogs/sites
- hacking.

[2018-10-02 11:10] #2622 closed

[2018-10-02 11:17] #2443 closed

[2018-10-02 11:31] karlcow opened #2629 "Set a max characters number on Description"
In the wake of #1828, we should probably set a limit on description. I'm not entirely sure how long is the right limit. I should probably dig into the description given by @softvision-oana-arbuzov and @softvision-sergiulogigan

[2018-10-02 11:35] karlcow opened #2630 "Rename form fields for descriptions and step by step"
Related to #1828
In the current UI, we get:
<img width="372" alt="capture d ecran 2018-10-02 a 13 32 15" src="https://user-images.githubusercontent.com/505230/46346225-9cc60180-c647-11e8-9b50-9330427a5aa3.png">

* Reporters put long description in the first textarea to the point where sometimes they ignore the steps.

Probably "Please describe what was wrong" should be something "Give a short prob

[2018-10-02 11:36] karlcow commented on #2630
This relates to #2629 too.

[2018-10-02 11:52] #1297 closed

[2018-10-02 12:02] softvision-sergiulogigan commented on #2629
I think this should be a combination of the longest string for the URL and the longest string a registered user used for the title

[2018-10-02 12:36] miketaylr opened #2631 "Remove Travis?"
In #2624, I've got the tests running on CircleCI. And Travis is failing to complete the Itern tests, while Circle CI is working.

Should we ditch Travis? Seems like noise at this point.

[2018-10-02 12:49] karlcow commented on #2629
@softvision-sergiulogigan I'll check that. Thanks!

[2018-10-02 13:03] magsout commented on #2631
👍

[2018-10-02 13:44] #1764 closed

[2018-10-02 14:44] miketaylr commented on #2627
I think those are different types of issues -- I believe @karlcow is describing an actual spam issue: the user is trying to abuse the site or report nonsense.

The other types of issues (where *they* try to report spam or scams they have encountered)... it would be good to come up with a better solution for how to delete those, but I wouldn't classify them as spam (unless it got abusive, etc.)

[2018-10-02 15:26] magsout opened #2633 "Add greenkeeper for dependencies and devDependencies"
https://greenkeeper.io/ like on metrics repo https://github.com/webcompat/webcompat-metrics-client/pulls?q=is%3Apr+is%3Aclosed+label%3Agreenkeeper

[2018-10-02 15:36] #2631 closed

[2018-10-03 07:07] #1828 closed

[2018-10-03 07:14] miketaylr opened #2637 "CircleCI not running for PRs from forks"
@magsout I wonder if you know how to fix this.

In https://circleci.com/gh/webcompat/webcompat.com/edit#advanced-settings, we have "Build Forked Pull Requests" enabled, but when Karl opened a PR (see the recent test one), we don't see his build status.

I'm confused... have you seen this before?

[2018-10-03 07:15] miketaylr commented on #2633
@magsout let's do it.

[2018-10-03 07:16] miketaylr commented on #2637
But he just pushed a branch to the repo and made a PR (not from a fork), and it's running: https://github.com/webcompat/webcompat.com/pull/2638

[2018-10-03 07:27] miketaylr commented on #2637
Ah, it seems you have to enable shared secrets for forks builds to run. Hmm. It says it's dangerous, but I'm not sure what the attack vector is.

[2018-10-03 07:44] miketaylr commented on #2637
We're coming up with a plan.

[2018-10-03 07:48] miketaylr commented on #2637
https://github.com/webcompat/devops/issues/33

[2018-10-03 12:41] miketaylr opened #2639 "Production and Staging secrets should be read from environment variables"
Localhost can still be configurable via hard coded values.

[2018-10-03 12:47] miketaylr commented on #2639
SECRET_KEY
HOOK_SECRET_KEY
UPLOADS_DEFAULT_DEST
UPLOADS_DEFAULT_URL
ISSUES_REPO_URI
GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET
GITHUB_CALLBACK_URL
OAUTH_TOKEN

[2018-10-03 14:51] #2639 closed

[2018-10-04 15:03] reinhart1010 commented on #2580
This one is occuring again, starting from webcompat/web-bugs#19398

[2018-10-04 15:08] reinhart1010 commented on #2576
This one is still reproducible, even on the Staging version. When will this change be applied?

[2018-10-04 15:46] magsout commented on #2576
@reinhart1010 oups... re open the issue. Thanks

[2018-10-05 05:32] softvision-sergiulogigan opened #2644 "New filed bugs don't get Milestone or Labels"
Starting with #19399 until #19427 (so far), newly logged bugs on webcompat.com did not get Milestone or Labels automatically.

![image](https://user-images.githubusercontent.com/16573771/46517697-2577b400-c879-11e8-9449-6d124339a89a.png)

[2018-10-05 05:37] softvision-sergiulogigan commented on #2450
Let's update this with another screenshot

![image](https://user-images.githubusercontent.com/16573771/46517831-d2523100-c879-11e8-9345-830169f62d5b.png)

[2018-10-05 08:06] #2576 closed

[2018-10-05 08:33] miketaylr commented on #2644
oops. I will try to clean this up on Monday (in terms of milestone and labels), sorry for the extra work @softvision-sergiulogigan @softvision-oana-arbuzov.

I wonder what could be wrong...

[2018-10-06 05:32] karlcow commented on #2644
Same issue on staging.
https://staging.webcompat.com/issues/1695
I'm opening an issue on devops.

[2018-10-06 15:19] kushinauwu commented on #1975
Hi, is this still up as an issue? If yes, can I contribute?

[2018-10-06 16:47] karlcow commented on #1975
@kushinauwu You could contribute, but I have the feeling that this issue requires a bit of knowledge of the project and how we do things. But certainly you create a first draft for it and we can see how we develop it.

Probably it could be done [inside docs/](https://github.com/webcompat/webcompat.com/tree/master/docs) with the `code-review-guide.md` filename

[2018-10-06 16:56] karlcow commented on #2644
I added needstriage to 65 issues
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedstriage

[2018-10-06 17:03] karlcow commented on #2580
@reinhart1010 see #2644

[2018-10-07 22:44] karlcow commented on #2644
In the process of being fixed.

[2018-10-07 23:17] karlcow commented on #2644
This is fixed! https://webcompat.com/issues/19519

[2018-10-07 23:17] #2644 closed

[2018-10-08 18:07] marimeireles commented on #2320
Hi!
Can I take this?

[2018-10-08 18:14] marimeireles opened #2645 "Making the secrets.py file more comprehensible"
In the latest updates you've made some changes to the secrets.py file.

It says in the docs that's necessary to add  your URI:

But in secrets.py file there is no mention of this variable. Would it be a good idea to add a phrase explaining about it and add ```ISSUES_REPO_URI``` variable in secrets.py?

Something like this but about URI:
[code]

Also, it might be helpful to say where you can find y

[2018-10-09 06:58] magsout commented on #2320
@marimeireles sure, let me know if you need help!

[2018-10-09 12:28] softvision-sergiulogigan opened #2646 "The bug title is not reflected in GitHub"
**Environment:**
Browser / Version: Chrome 69 (Desktop), Firefox Nightly 64.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to https://webcompat.com/issues/19567
2. Observe the title (moviesanywhere.com - Login will not work).
3. Press g on your keyboard to be taken to the GitHub view of the issue.
3. Observe the title.

**Expected Behavior:**
The title is the same

[2018-10-09 12:29] softvision-sergiulogigan commented on #2646
This is related to #1828

[2018-10-09 13:40] marimeireles commented on #2320
I do, thanks @magsout
I'm a little confused about where I should make the changes.
I believe that I should copy the code below, paste it and adapt it, if needed, in the new CSS version, right?
https://github.com/webcompat/webcompat.com/blob/2c03283cd553d6d0ad094f6c46d8673b8b544d1d/webcompat/static/css/development/components/markdown.css#L44-L73
But I'm not sure where to put it since the file where

[2018-10-09 15:00] magsout commented on #2320
@marimeireles

Yes, exactly. All the logic about NSFX was removed with the new version of webcompat. Only the `className` in the JS still exist.

1) change the name of the className in the JS file
2) re-use the old css and adpat it with the new css atomic js

[2018-10-09 15:01] magsout commented on #2320
@marimeireles you could write the css there https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/src/issue.css

[2018-10-09 15:37] marimeireles commented on #2320
That's where I thought, but I wasn't sure.
Thanks! I'll try to solve it :)

[2018-10-09 23:00] Auralcat commented on #2645
Hi, I set up the development environment this afternoon and was about to ping someone on IRC about the ISSUES_REPO_URI field which was missing in `secrets.py`. Then I added it to the file and everything worked fine until now, except that I haven't tried sending an issue to the test repo through GitHub's API yet.

Since it's a variable field, it could be added to the example file (`secrets.py.examp

[2018-10-09 23:02] marimeireles commented on #2645
@Auralcat glad I could help! :)

[2018-10-09 23:05] Auralcat commented on #2612
@Arasador are you working in this issue? I'd like to help if possible.

[2018-10-10 08:47] softvision-oana-arbuzov opened #2647 "Empty “Browser/Version” filed is displayed after reporting an issue with a lerge number of characters in that field"
URL: https://staging.webcompat.com
Browser / Version: Firefox Nightly 64.0a1 (2018-10-09)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://staging.webcompat.com
    2. Click “Report bug” button.
    3. Fill in all required info.
    4. In the “Is this information correct?” field, type in a large number of character.
    5. Report the issue.
    6. After issue is

[2018-10-10 20:39] marimeireles commented on #2592
@karlcow I didn't find the `milestone.json` file in my updated version of the repo. I believe that [this](https://github.com/webcompat/webcompat.com/blob/master/tests/fixtures/config/milestones_content.json) `milestones_content.json` is the equivalent.

If the json isn't in the right format I just have to make a new request to the person's private repo and get the same data again. Is that right?

[2018-10-11 00:39] karlcow commented on #2592
@marimeireles After cloning a repo, the `milestones.json` (sorry for the typo above) is  never included locally. The file is created the first time, we run `python run.py` and it is saved in  `data/`. In the future, we need to find a better way to figure this out.

All the things which are in `data/` are not saved or backup. This is on purpose.

The current process is here:
https://github.com/webc

[2018-10-11 00:42] karlcow commented on #2592
@marimeireles to access this part:

You should make sure about this.
https://github.com/webcompat/webcompat.com/issues/2592#issuecomment-424169758

Basically create a bogus `milestones.json` inside `data/` and see if the program has an helpful message and/or action to solve the issue.

And yes you can take it.

[2018-10-11 06:52] magsout commented on #2637
@miketaylr if you watch this PR #2648 everything is fine? the test passed and circleci ran correctly.

[2018-10-11 15:55] miketaylr commented on #2637
yep!

[2018-10-11 15:55] #2637 closed

[2018-10-11 15:56] miketaylr commented on #2647
@softvision-oana-arbuzov got a link to the issue on staging?

[2018-10-12 06:16] softvision-sergiulogigan commented on #2647
Just created another one, @miketaylr ...

https://staging.webcompat.com/issues/1702
https://github.com/webcompat/webcompat-tests/issues/1702

[2018-10-13 22:44] Anushi1998 opened #2650 "Blacklisted Domains not working"
[`is_blacklisted_domain`](https://github.com/webcompat/webcompat.com/blob/master/webcompat/helpers.py#L581-L587) will not return `true` if we call (say) http://cityweb.de. Moreover you always need to append `http` or `https` because otherwise Site URL would say `A valid URL is required`.

![image](https://user-images.githubusercontent.com/16550254/46910786-c9a7cd80-ceff-11e8-81cf-dae5ce885580.png)

[2018-10-13 22:56] wisniewskit commented on #2650
My two cents would be to validate the URL somewhere using [urlparse](https://docs.python.org/2/library/urlparse.html), and then pass `parseResults.netloc` into `is_blacklisted_domain`. But I'm not sure what we want to do with "invalid" URLs, as I haven't worked on this code.

[2018-10-13 23:04] Anushi1998 commented on #2650
@wisniewskit Aren't we supposed to block them (from creating an issue with this URL) and return back to `index` page? Please let me know if there is some other thing we are doing also

[2018-10-14 00:36] wisniewskit commented on #2650
No, I think that's the entire point of the blacklist.. so if it's not enough to just fix things so that only the domain is being passed into that function (rather than the entire URL), then we'll have more work to do.

[2018-10-14 00:52] Anushi1998 commented on #2650
@wisniewskit Okay. Thanks :')

[2018-10-14 01:00] miketaylr opened #2651 "Update dev-env-setup.md to reflect the current reality"
The stuff around secrets.py needs to be updated, quite a bit changed in the past few weeks. For example...

[2018-10-14 11:40] karlcow commented on #2650
That's my mistake. I regressed it! Previously.
https://github.com/webcompat/webcompat.com/blob/5339d389da58da561b91bfec5e6da30d7322af2d/webcompat/views.py#L214-L216

[2018-10-14 22:30] karlcow commented on #2651
Yes I was even thinking if we should add a special checking/validation script to send a message in the console when people are starting the project. Something along "Hey it seems your configuration is still based on the old model." At least for a little while.

[2018-10-14 22:39] #2612 closed

[2018-10-14 22:46] karlcow commented on #2647
This is @softvision-sergiulogigan rendering.
<img width="1097" alt="capture d ecran 2018-10-15 a 07 44 30" src="https://user-images.githubusercontent.com/505230/46923130-2ca77a80-d04e-11e8-856b-5e8c6f08ea07.png">

[code]

[2018-10-14 22:52] karlcow commented on #2647
but this doesn't seem to match the initial report about long string of characters.
Let's try again.
https://staging.webcompat.com/issues/1703

[code]

and

[code]

so we get

<img width="1090" alt="capture d ecran 2018-10-15 a 07 50 57" src="https://user-images.githubusercontent.com/505230/46923180-1352fe00-d04f-11e8-8a7b-f0cf5b23c4c5.png">

and

<img width="817" alt="capture d ecran 2018-10-15 a

[2018-10-14 22:53] karlcow commented on #2647
@softvision-oana-arbuzov @softvision-sergiulogigan what do you feel should be done?

[2018-10-15 06:31] softvision-oana-arbuzov commented on #2647
@karlcow , I'd suggest:
- limit the number of characters in the field

and if possible
- set a mandatory condition for "Browser/Version" to have at least the type of browser (e.g. Firefox/Chrome/Edge) and for "Operating System" to have at least the system used (e.g Windows/Mas/Linux/Android)

[2018-10-15 07:14] karlcow commented on #2647
This could be done.

Probably impossible to do. :) but we could limit the choices. Note that here for example I'm omitting plenty of other type of browsers.
<img width="526" alt="capture d ecran 2018-10-15 a 16 06 57" src="https://user-images.githubusercontent.com/505230/46935023-be39db00-d094-11e8-80d6-f1108fa65e47.png">

It's always hard because there is a zillion of browsers out there. But mayb

[2018-10-15 07:17] karlcow commented on #2647
Common OSes:

* Android
* iOS
* Linux (many flavors)
* macOS
* Windows (mobile)

(I have omitted Unixes and BSD systems. MeeGo, Firefox OS, etc. etc.)

[2018-10-15 07:40] softvision-sergiulogigan commented on #2450
Today we have a weird behavior...
Triage Dashboard does not display the correct values for all the issues we have

![image](https://user-images.githubusercontent.com/16573771/46936251-7a2fe180-d066-11e8-9a3e-5868812dca0f.png)

Dashboard says 85 (+15 Needsinfo ones) and we really have 180 items.
Is the dashboard limited to counting only 100 items, @karlcow ?

[2018-10-15 08:19] karlcow commented on #2450
Maybe… I'll have to check why.

Thanks for reporting @softvision-sergiulogigan

[2018-10-15 16:19] miketaylr opened #2653 "Fix parsing of browser config data"
We have console logs now (thanks @wisniewskit!), but it looks like formatting is a little wonky. Probably not hard to fix:

See https://webcompat.com/issues/19843

[2018-10-15 16:19] miketaylr commented on #2653
<img width="739" alt="screen shot 2018-10-15 at 11 19 44 am" src="https://user-images.githubusercontent.com/67283/46963825-3c35bc00-d06c-11e8-89c2-d1140d76aebc.png">

[2018-10-15 16:39] miketaylr commented on #2653
Tom showed me this which is cool: https://azimi.me/json-formatter-js/

[2018-10-15 17:49] miketaylr commented on #2651
That would be cool.

[2018-10-15 17:49] #2651 closed

[2018-10-15 19:18] miketaylr opened #2654 "[discussion] Add a few probot apps to web-bugs repo"
I plan on adding the following bots to our web bugs repo next week (or sooner, if no objections):

1. lock https://probot.github.io/apps/lock/

After 7 days (less??) of being closed, lock all issues with a (custom) message encouraging users to file a new bug.

2. "no response" https://github.com/probot/no-response

When an issue has a "status-needsinfo" label and does not get a reply for 7 days, t

[2018-10-15 21:43] miketaylr commented on #2653
We're hitting `ValueError`, so probably the JSON coming in is somehow bogus:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L127

[2018-10-15 22:32] miketaylr commented on #2653
It seems like `details_string` is a unicode string with single quotes, which the JSON parser does not like. Will investigate some more tomorrow.

[2018-10-15 22:37] karlcow commented on #2654
This probably creates a dependency on webcompat.com UI that we need to be careful about. When the issue is closed, we need to make sure that the form/button for comments are not accessible anymore.
* We need to understand what are the interactions with labels and milestones too.

Some tests in
* https://github.com/webcompat/webcompat-tests/issues/666
* https://webcompat.com/issues/666

webcompat-b

[2018-10-16 11:59] softvision-sergiulogigan opened #2655 "Not all issues get Priority Labels automatically assigned"
Not all issues get a `priority-[something]` label

Example:
https://github.com/webcompat/web-bugs/issues/19723

![image](https://user-images.githubusercontent.com/16573771/47014830-0b30b680-d154-11e8-9b05-06ac96f6f8b7.png)

[2018-10-16 13:16] miketaylr commented on #2655
I wonder if gmail has ever gotten a priority label...

[2018-10-16 13:18] miketaylr commented on #2655
@karlcow can you take a look at some point? unsure if we broke this or what.

[2018-10-16 14:00] miketaylr commented on #2654
This should be pretty simple, there's a `locked` property we can reflect in the model.

[2018-10-16 15:36] miketaylr opened #2656 "Update UI for locked issues"
The comment box / button should be disabled or hidden if an issue is locked.

[2018-10-16 15:36] miketaylr commented on #2654
See https://github.com/webcompat/webcompat.com/issues/2656

[2018-10-16 16:02] #2320 closed

[2018-10-16 19:40] miketaylr commented on #2653
here we go.
<img width="813" alt="screen shot 2018-10-16 at 2 40 06 pm" src="https://user-images.githubusercontent.com/67283/47042632-67dea200-d151-11e8-88f7-d831cf75b552.png">

[2018-10-16 20:05] marimeireles commented on #2534
Hi @Obtin
Are you still working on this?
If not, I'm available and I'd like to take this issue
Thanks! :)

[2018-10-16 21:29] miketaylr opened #2659 "Make console logs in browser configuration details easier to read"
Now that we have console logs coming in, we can think of ways to make them prettier.

<img width="1494" alt="screen shot 2018-10-16 at 4 27 47 pm" src="https://user-images.githubusercontent.com/67283/47048575-6e284a80-d160-11e8-8995-19c502a1ec3a.png">
<img width="1514" alt="screen shot 2018-10-16 at 4 28 14 pm" src="https://user-images.githubusercontent.com/67283/47048621-90ba6380-d160-11e8-9ae1-b

[2018-10-17 00:03] karlcow commented on #2655
https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+-label%3Apriority-critical+-label%3Apriority-normal+-label%3Apriority-important+

I don't think we broke anything, but I do wonder if the label assignment always work.

<img width="1024" alt="capture d ecran 2018-10-17 a 09 03 03" src="https://user-images.githubusercontent.com/505230/47054218-8d1fee80-d1eb-11e8-966e-6e7150af6

[2018-10-17 00:07] karlcow commented on #2655
<img width="1010" alt="capture d ecran 2018-10-17 a 09 05 25" src="https://user-images.githubusercontent.com/505230/47054262-d6703e00-d1eb-11e8-9ea1-2d7163901442.png">

Also… `gmail.com` never seems to receive a label.

https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+%27gmail+com%27+in%3Atitle

[2018-10-17 01:40] Anushi1998 commented on #2650
@karlcow Should I make changes by looking into this commit ?

[2018-10-17 01:42] karlcow commented on #2650
not necessary. :) The suggestion from @wisniewskit is good.

[2018-10-17 01:42] karlcow commented on #2650
@Anushi1998 Though we need to double check if form['url'] is always an URL. :)

[2018-10-17 01:42] Anushi1998 commented on #2650
Okay, cool! I will make the changes and submit them :)

[2018-10-17 02:08] adamopenweb opened #2660 "How to deal with known website issues / outages"
Tonight Youtube has gone done and we are receiving many reports about it. Want to start a discussion about what we could do to reduce the amount of work that comes with this (duplicate bugs). Also if there's value in notifying the reporter that we know there's a major issue with that site. Might help reduce the perception of Firefox not working.

[2018-10-17 06:51] magsout commented on #2660
if there's a value we can make a whitelist of most important website and using a tiers party like https://pro.downdetector.com/ (don't know if it's a good api or not, it's just an example)

[2018-10-17 16:48] miketaylr commented on #2599
Ah, user error here. There are 2 accounts in Google Analytics (webcompat.com and webcompat.com-moz). I don't remember why...

So this is working.

[2018-10-17 16:48] #2599 closed

[2018-10-18 00:11] Anushi1998 commented on #2650
@karlcow Anything that starts from `http://` and `https://` is [valid URL](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L313) on Site URL. Can you please be specific about how can I double check this thing?

Moreover why the url starting from other schemes are considered invalid?

[2018-10-18 00:29] karlcow opened #2662 "URL requirement on the form accepts URL with a space in the domain name"
Example:
`http:// 2650.example.com`

Note that domain syntax is under-defined in HTML

* see https://url.spec.whatwg.org/#valid-domain
* See https://github.com/whatwg/url/issues/245

[2018-10-18 00:31] karlcow commented on #2662
![capture d ecran 2018-10-18 a 09 30 25](https://user-images.githubusercontent.com/505230/47124375-785d5c80-d2b8-11e8-9791-87edfc65771d.png)

[2018-10-18 00:31] karlcow commented on #2650
@Anushi1998 here an example. I entered `http:// 2650.example.com` (notice the space before 2650)
https://github.com/webcompat/webcompat-tests/issues/1706.

[code]

This is probably a mistake on our side that we allow it in the first place in the JS. I opened #2662

[2018-10-18 00:33] karlcow commented on #2650
@Anushi1998

because we are interested by **websites** compatibility issues and we are addressing the most generic cases. People report issues about things not working when they are interpreted by the browser, so `http`.

[2018-10-18 03:18] Anushi1998 commented on #2662
@karlcow Can I just add a check for space ahead of schemes to avoid this? Or would it be a better idea to actually peek into the webpage to see if it is pointing to a valid URL or not?

[2018-10-18 04:28] karlcow commented on #2662
Currently what is checking the code and displays the green tick mark needs to be a red cross when there is a space in the domain portion of the URL.

[2018-10-18 04:30] Anushi1998 commented on #2662
Okay, I will make the changes :)

[2018-10-18 16:11] magsout commented on #1829
@softvision-sergiulogigan does this still happen with the new version?

[2018-10-18 19:15] miketaylr opened #2663 "Reduce the number of untriaged bugs on homepage"
We have 10, and I doubt anybody really looks at these. How about we reduce this to 5?

To fix this see, https://github.com/webcompat/webcompat.com/blob/d56cd783366d725bcf2cf560723a590faf41e08f/webcompat/static/js/lib/diagnose.js#L30-L31

While we're editing these files, diagnose.js doesn't make sense anymore (it had this name before we had the notion of "need striage", we could rename this to untr

[2018-10-18 23:00] karlcow commented on #2662
@Anushi1998 you should also double with the functional tests too. Add one if it doesn't exist yet.

[2018-10-19 00:29] karlcow commented on #2655
Also if issues are not in the priority DB, they don't get assigned a label.
This is not a dynamic process where we query each time Alexa (that would be expensive), we collect data from Alexa and compile a DB which is used to assess the priority.
https://github.com/webcompat/webcompat.com/blob/0974eefafe7273e8f0952a05427ad45506f8846b/webcompat/webhooks/helpers.py#L80-L97

[2018-10-19 02:07] miketaylr commented on #2655
It sounds like a non-issue. Thanks for investigating Karl.

[2018-10-19 02:07] #2655 closed

[2018-10-19 03:53] #2653 closed

[2018-10-19 05:13] #2592 closed

[2018-10-19 05:32] karlcow commented on #2646
@softvision-sergiulogigan yup it's kind of normal.
On Webcompat.com, on the client side, we take a part of the title from GitHub (domain) and part of the description… which can be very long. So we cut it sometimes in the middle of a sentence. The important part is that it has no consequences on the original data quality.

I'm hesitant to adjust the title on Github, because not all strings will be

[2018-10-19 05:32] #2646 closed

[2018-10-19 05:38] karlcow commented on #2645
about `ISSUES_REPO_URI` I think this is fixed now.
https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#test-repository

about the `GITHUB_CLIENT_*` secrets, does the new doc, fixes it?
https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#store-your-settings

This was fixed by #2652
@miketaylr made a mistake in the commit number.

[2018-10-19 05:38] #2645 closed

[2018-10-19 05:41] karlcow commented on #2627
Created! thanks
https://github.com/webcompat/web-bugs/labels/type-spam

[2018-10-19 05:41] #2627 closed

[2018-10-19 06:46] magsout commented on #1829
thanks @softvision-sergiulogigan

[2018-10-19 15:09] #2663 closed

[2018-10-19 17:12] marimeireles commented on #1856
I'm getting this one!
Thanks Karl.

[2018-10-19 20:41] miketaylr opened #2665 "Think about ways to handle malware / spam reports"
Sometimes we get reports that really belong somewhere like `https://safebrowsing.google.com/safebrowsing/report_phish/?tpl=mozilla&hl=en-US&url=https%3A%2F%2Fwww.google.com%2Fsearch`

Not sure if we want to expose that as an option to the user, or provide some tooling for us at triage time.

https://github.com/webcompat/web-bugs/issues/19992 is an example.

https://developers.google.com/safe-brows

[2018-10-19 20:47] miketaylr commented on #2665
We always have the option to just close as INVALID, but reporting these to google is as easy as opening a URL, clicking I'm not a robot, and hitting submit.

[2018-10-20 01:35] Anushi1998 commented on #2199
@karlcow Should I follow on [this](https://github.com/webcompat/webcompat.com/issues/2199#issuecomment-382130537)?

[2018-10-22 00:22] marimeireles opened #2666 "Add a flag to kill the server after handling one request"
While running tests on profilers you constantly have to kill the server and start it over to test different things. In the moment I'm using [vprof](https://github.com/nvdv/vprof) to test a few things and it requires me to terminate the program using its pid.

It can become really annoying to type `ps aux | grep python`, find the pid and then kill the project every time you make a new request.

So

[2018-10-22 03:24] Anushi1998 commented on #2654
@miketaylr This sounds interesting to me. Can I be of some help?

PS: I may need some time and I do not have any problem in case you do not consider me if this is urgent or requires some knowledge :-)

[2018-10-22 12:52] marimeireles commented on #2666
I think it'd help the other participants of outreachy too!

[2018-10-22 13:52] gluons commented on #32
I face this issue.

![screenshot_2018-10-22 issues webcompat com](https://user-images.githubusercontent.com/4688092/47296351-2f046880-d63c-11e8-8842-5c0230983056.png)

[2018-10-23 15:45] miketaylr commented on #2654
@Anushi1998 thanks! most of the work for setting up the bots requires admin access. when I dig into this later this week, if i see other bugs i can spin out for contributions, i'll ping you!

[2018-10-23 16:02] Anushi1998 commented on #2654
@miketaylr Sure, thanks :)

[2018-10-23 18:45] marimeireles opened #2668 "Add a flag to specify what address to listen on"
I needed to change the address so I could access the dev env on my smartphone.
So I made this! I hope it'll be useful to someone else.

[2018-10-24 06:32] karlcow opened #2670 "Take into account that 'null' as a value for details is a valid JSON"
@miketaylr Current staging is crashing on reporting issue.

[code]

This is what is breaking it.
https://github.com/webcompat/webcompat.com/blob/1f5947956f783cfd2dbcb8de2e01fb6c5443a4eb/webcompat/form.py#L157-L165

This was written for solving issue #2653 with the request #2658

So basically we get an issue when the `content` is `None`

`json.loads(details)` might return None. We need to find out

[2018-10-24 06:43] karlcow commented on #2670
if I print locally `details`, the value is indeed `null`

`form_object`

[code]

ahah indeed.
[code]

So it's why the `try` is not doing what we are expecting.

[2018-10-24 06:52] karlcow commented on #2670
We need an additional test here for strings.
And probably a different way to test this.

[2018-10-24 17:16] miketaylr commented on #2670
Thank you for finding this bug! I will spend time on it this afternoon and see what we can come up with.

[2018-10-24 22:14] karlcow commented on #2670
I will fix this. :)

[2018-10-24 23:08] karlcow commented on #2670
so we have two issues:

1. `json.loads('blah')` doesn't generate any errors
2. `content.pop()` will throw when `content` is a string as it should.

[2018-10-24 23:31] karlcow commented on #2670
ahaha. Just understood what was really happening.

[code]

`null` is a special case and "valid" JSON value.

[2018-10-24 23:34] miketaylr opened #2672 "Provide a way for users to opt-out of sending console logs"
For privacy reasons, it's probably good to provide an escape hatch. Perhaps a pre-selected checkbox, that users can de-select. We probably want to also make console logs visible at report-time somehow, unsure. That could be follow up bug material.

[2018-10-24 23:35] miketaylr opened #2673 "Update privacy policy to mention console logs"
See also https://github.com/webcompat/webcompat.com/issues/2672

[2018-10-24 23:37] karlcow commented on #2670
Here is the list of values with a special meaning.
https://docs.python.org/2/library/json.html#json.JSONDecoder

[code]

[2018-10-25 06:57] #2668 closed

[2018-10-25 07:03] karlcow commented on #2659
Almost there. #2670 is here to fix a couple of things. And then we can prettify.

[2018-10-25 07:14] karlcow commented on #2574
@miketaylr would changing just `priority-critical` by `siterank-critical` would address your issue?

That would be one line to change in

https://github.com/webcompat/webcompat.com/blob/6bfd26cc3ba8bbb01e2537e99dcd9a5573e6858b/webcompat/webhooks/helpers.py#L80-L97

[2018-10-25 11:56] magsout opened #2676 "Remove lint-stage"
Not sure it's a good thing. With test we can see if the linter is not happy, plus:

![capture d ecran 2018-10-25 a 13 55 30](https://user-images.githubusercontent.com/1997108/47498497-bbda3c80-d85d-11e8-8caa-c96a9d2457ed.png)

[2018-10-25 13:25] Anushi1998 opened #2679 "Reduce the size of HTML sent over network"
Minifying HTML can improve the network cost while loading a webpage and hence performance improvements! :-)

[2018-10-25 14:04] adamopenweb opened #2680 "Identify issues with 3rd party software"
We see many issues similar to: https://github.com/webcompat/web-bugs/issues/20319. Where it's likely there is a 3rd party software causing issues with Firefox for users. In most cases we can't help and the report is anonymous so further investigation doesn't happen.

**Hypothesis**
Grouping these types of issues by label and collecting available information about the registered Antivirus vendor wo

[2018-10-25 15:06] miketaylr commented on #2680
I think this is a good idea. The more environment data we have access to, the better.

Do you know what it would look like from about:support if someone had AV software installed? Do you have an example?

[2018-10-25 15:16] #2670 closed

[2018-10-25 15:20] miketaylr commented on #2679
@Anushi1998 interesting idea. :)

I would love to see if we can measure any potential benefits before merging this.

In theory, it could help -- and if it's significant we should consider it. But it can also make debugging the site harder (even if the source files don't change, inspecting the page with devtools will make our jobs harder).

Another option is to do this only for the production site,

[2018-10-25 23:11] adamopenweb commented on #2680
@miketaylr
![image](https://user-images.githubusercontent.com/6587558/47535478-bdb9f500-d889-11e8-9933-309a9bfbaf83.png)

[2018-10-25 23:16] miketaylr commented on #2680
Ah, cool! Makes sense that I didn't see that... because I don't have anything installed.

[2018-10-26 01:44] Anushi1998 commented on #2679
Page | Minified HTML | Uncompressed | % increase
:---  | :---:  | :---:  | :--:
/(index) | 47.9 | 50.6 | 5.64
/(index logged in) | 48.2 | 51 | 5.81
/issues | 42.8 | 44.3 | 3.5
/issues/new | 43.6 | 45.7 | 4.82
/me | 43.7 | 44.9 | 2.75
/privacy | 40.5 | 42.1 | 3.95
/contact | 39.5 | 40.8 | 3.29
/contributors | 51.1 | 56.4 | 10.37
/contributors/report-bug | 45.8 | 48.5 | 5.9
/contributors/reproduce-b

[2018-10-26 01:48] Anushi1998 commented on #2679
@miketaylr I have measured the file size improvements we can get using minifying HTML. I think after minifying JS and CSS code we can acheive a better result.
I think the option will be better to consider for production purpose so that atleast we are ease at while debugging local site.

[2018-10-26 02:11] karlcow commented on #2679
@Anushi1998 In this case we need to balance the benefits and hurdles it might create.

The size will certainly be different, because it's the goal of minifying :) I guess what @miketaylr was hitting at with

is measured **speed** improvements, taken into accounts other latency parameters.
For example if it improves the Time to interaction such as 0.5s on 10s, it's not that much of a gain.

And if

[2018-10-26 02:16] marimeireles commented on #2676
Hey, I know I'm new here and all
But if I can give my 2 cents: I think this kind of tool is really useful. As a new contributor it helped me to write code and keep coherence in an easy way.
But I never got these errors and I've used it just a little, so maybe it's not worth keeping it.
Maybe a good solution would be look for a new linter?

[2018-10-26 15:55] miketaylr commented on #2679
Yes, sorry for not being more clear. The goals is measurable performance improvements, for example, does the page load faster.

[2018-10-27 05:57] magsout commented on #2676
@marimeireles thanks for youy feedback.

oh, cool, thanks. I'm glad to see it helpful

I think, we just to update the script in `package.json`

[2018-10-27 10:00] reinhart1010 commented on #2665
#2214?

[2018-10-28 22:29] karlcow opened #2681 "simple and nested lists style on webcompat.com is not taken into account."
This is the rendering of a list on Github
<img width="474" alt="capture d ecran 2018-10-29 a 07 26 46" src="https://user-images.githubusercontent.com/505230/47622762-3f40aa00-db4c-11e8-9779-7f03c5a0004b.png">
This is the rendering of a list on Webcompat.com
<img width="485" alt="capture d ecran 2018-10-29 a 07 26 58" src="https://user-images.githubusercontent.com/505230/47622764-4bc50280-db4c-11e8

[2018-10-29 01:01] rafia95 commented on #2681
@karlcow I can work on it :)

[2018-10-29 01:08] Anushi1998 commented on #2681
@rafia95 Cool, go forward.
If you need any help in generating Pull request, let me know :)

[2018-10-29 01:48] marimeireles opened #2682 "Unused markdown-it initialization in issue-list.js"
While building my final project I found a part of the code that isn't used anywhere:

https://github.com/webcompat/webcompat.com/blob/fa98afe61f62ed754c27cbde832b320bcec3c887/webcompat/static/js/lib/issue-list.js#L8-L17

[2018-10-29 04:09] karlcow commented on #2579
* #1870 gives clues on how to measure rendering performance of a webpage.
* It's also important to understand the [current architecture of the site](https://github.com/webcompat/webcompat.com/wiki/Architecture). It has a big impact on our performances.

[2018-10-29 04:38] Anushi1998 opened #2684 "Different Linux distro in chrome and firefox"
In Chrome it shows Linux
![image](https://user-images.githubusercontent.com/16550254/47629519-d54ae500-daf8-11e8-880a-62eaaaf746ed.png)

In Firefox it shows Ubuntu
![image](https://user-images.githubusercontent.com/16550254/47629539-e85db500-daf8-11e8-827e-43951e2c3939.png)

A possible fix would be to consider the description field in `lsb_release -a` if we are on Linux. I will check if Windows an

[2018-10-29 04:46] karlcow commented on #2665
Duplicate of #2214

Good call @reinhart1010

[2018-10-29 04:46] #2665 closed

[2018-10-29 04:49] karlcow commented on #2684
@Anushi1998
Could you check what is the user agent string on Chrome on your Ubuntu linux?
And the one for Firefox.

[2018-10-29 04:53] Anushi1998 commented on #2684
@karlcow
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.67 Safari/537.36

[2018-10-29 04:58] Anushi1998 commented on #2684
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.67 Safari/537.36

[2018-10-29 18:41] #2682 closed

[2018-10-30 02:07] miketaylr opened #2686 "Upgrade requests to 2.20.0"

[2018-10-30 02:13] #2686 closed

[2018-10-30 02:30] miketaylr commented on #2654
I think we need to update the bot before we can land this, without much hacking around on our end: https://github.com/probot/no-response/issues/29

[2018-10-30 05:03] karlcow commented on #2684
So it's not really dependent on us but on Canonical. :)
the project is using [ua-parser](https://github.com/ua-parser/uap-python) which returns the system.
Chromium doesn't have the Ubuntu so it doesn't report it.

So I would say that this is working for me. :)

[2018-10-30 05:03] #2684 closed

[2018-10-30 05:59] #2650 closed

[2018-10-30 06:00] #2571 closed

[2018-10-30 07:14] Anushi1998 opened #2688 "Anonymous reporting for Blacklisted domains"
@karlcow  The message in [config/environment.py](https://github.com/webcompat/webcompat.com/blob/master/config/environment.py#L82) should not use the word `Anonymous` as I still can't create the issue when I opt to share my Github Id.

[2018-10-30 07:51] Anushi1998 commented on #2662
Would it be a good idea to validate URL more properly as of now we are only checking for `http://` or `https://` schemes (see [here](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L305-L307))?
My two cents would be
- Visiting the URL and checking the return status code. (Would be slow, depending on network connection of client)
- Or, writing a function so

[2018-10-30 15:30] miketaylr opened #2689 "Update minimum node version in package.json"
Before we merge https://github.com/webcompat/webcompat.com/pull/2685, let's require Node >= 8.6 (because lint-staged requires it).

https://github.com/webcompat/webcompat.com/blob/master/package.json#L14

I just checked out docs, and we say we require the current LTS (which is like 10.13.0), so let's just go ahead and require `>= 10.13.0`

[2018-10-30 16:53] miketaylr opened #2690 "Surface privacy implications of reporting issues / screenshots"
Right now things are hidden in a privacy link. We could show some info with a link to that before users report a bug.

[2018-10-30 18:15] marimeireles commented on #1856
Hi people, sorry for taking so long to solve this issue. I don't have a lot of free time because I'm still on my school semester and I was concentrating on the mini project. I'll try to fix this today!

[2018-10-31 04:44] karlcow commented on #2662
It should probably not be a requirement for validation. In the past we had people reporting issues with internal websites and router and these will probably return a 4** class HTTP error.

We can try to minimize the impact. So I would suggest only fixing the space issue in there for now and we will tackle more issues if they appear.  Step by step :)

[2018-10-31 06:03] Anushi1998 commented on #2662
Okay, cool.
I will do it by today :)

[2018-10-31 06:35] karlcow commented on #1822
The process for opening an issue is:

1. user (browser): filling the form
2. user (browser):  Click to submit the form
3. browser: POST request sent to webcompat.com API
4. webcompat.com:  request sent to GitHub API
5. GitHub:  response with the issue number to webcompat.com
6. webcompat.com: reply to the browser with a redirect to the issue page.

Thinking out loud:

## Scenario A
1. Have a check

[2018-10-31 06:57] karlcow commented on #2688
This is probably a bug on our side.
https://github.com/webcompat/webcompat.com/blob/e55d2ff4f5f3fe34ed3187bcc3e855a8d0338551/config/environment.py#L82-L85

We should allow the reporting for identified users.
https://github.com/webcompat/webcompat.com/blob/ede2c5dca9c5755baaa7c07e29d59d5f4fc461cb/webcompat/views.py#L233-L237

so basically the condition should probably be `if is_blacklisted_domain(…

[2018-10-31 15:32] #2689 closed

[2018-10-31 15:46] miketaylr commented on #2688
Yep, makes perfect sense. If people abuse things, we can ban them for a day, week, month, or forever.

[2018-10-31 20:36] magsout commented on #1856
@ marimeireles  no worries, thanks for your help

[2018-10-31 22:15] miketaylr commented on #2654
OK, no-response isn't interested in patches, so I forked it: https://github.com/miketaylr/no-response

<img width="790" alt="screen shot 2018-10-31 at 5 14 14 pm" src="https://user-images.githubusercontent.com/67283/47821936-740d5680-dd30-11e8-88e1-5848b1dae018.png">

Need to write the front-end parts, then we're good (I'm guessing just hide the comment widget if it's locked should be sufficient).

[2018-10-31 22:16] miketaylr commented on #2654
I'm gonna close this and open issues for each bot.

[2018-10-31 22:16] #2654 closed

[2018-10-31 22:16] miketaylr opened #2693 "Add No Response (plus Milestones) bot to web-bugs repo"
Spun out from https://github.com/webcompat/webcompat.com/issues/2654

[2018-10-31 22:17] miketaylr opened #2694 "Add lock bot to web-bugs repo"
Spun out from https://github.com/webcompat/webcompat.com/issues/2654

[2018-10-31 23:53] karlcow commented on #2654
@miketaylr What do you think about moving the no-response bot to the webcompat repo?

[2018-11-01 22:26] miketaylr opened #2698 "Upgrade lint-staged to latest (v8) and get it working"
Dependencies fun.

https://github.com/webcompat/webcompat.com/commit/c56a14c4b5b782b4952fc2192b6b0796d775e317#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R44 upgraded to v7.

Then greenkeeper upgraded to v8 in https://github.com/webcompat/webcompat.com/pull/2685.

I mistakenly thought that's what introduced the error, so I reverted it in https://github.com/webcompat/webcompat.com/pull/2697. But this is a

[2018-11-01 22:33] miketaylr commented on #2698
See https://github.com/okonet/lint-staged#installation-and-setup

[2018-11-02 02:51] karlcow commented on #2532
@laghee https://screenshots.firefox.com/CfuTX9bcWy66dXfT/send.firefox.com

[2018-11-02 02:53] karlcow commented on #2532
hmmm… :) How can we solve this?

[2018-11-02 13:20] marimeireles commented on #1856
@magsout
Do you think it's a better idea to create a broader css class called logged-out and put the changes there or is it better to create a specific class that only changes what the issue is referring to?

I could do like this: class="{{'logged-in' if session.username else 'logged-out'}}"`
or should I just: class="{{'issue-labels-logged-in' if session.username}}"` ?

Also, do you think these cl

[2018-11-02 20:33] #2698 closed

[2018-11-02 21:35] magsout commented on #2676
#2688

[2018-11-02 21:35] #2676 closed

[2018-11-02 21:55] miketaylr commented on #2654
happy to move it over! will do.

[2018-11-02 22:04] miketaylr commented on #2654
OK, made the request. https://github.com/webcompat/no-response is a thing now.

[2018-11-04 22:02] karlcow commented on #2654
thanks.

[2018-11-06 01:59] marimeireles commented on #2534
Ok! I'm going to have a look at this.

[2018-11-06 07:47] magsout commented on #1856
@marimeireles state class are good idea. But I think prefix with `is`  is better IMHO, like `is-logeed-in`

👍

[2018-11-06 07:49] #2693 closed

[2018-11-07 03:44] greenkeeper[bot] opened #2704 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.3` to `1.15.0`.

🚨 [View failing branch](https://github.com/webcompat/webcompat.com/compare/master...webcompat:greenkeeper%2Fprettier-1.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this proj

[2018-11-07 17:52] miketaylr opened #2706 "Remove bot config files"
They should be added to the web-bugs repo. Oops! 🙈

[2018-11-07 17:55] miketaylr commented on #2706
Going to mark this as a good first bug -- there's no rush to get it done, because they don't do anything.

To fix this bug, we just need to delete the following 2 files:

https://github.com/webcompat/webcompat.com/blob/master/.github/no-response-milestones.yml
https://github.com/webcompat/webcompat.com/blob/master/.github/lock.yml

[2018-11-07 20:57] #2706 closed

[2018-11-07 22:20] dholbert opened #2708 "webcompat.com - design is broken"
**URL**: https://webcompat.com/issues/21006

**Browser / Version**: Firefox 65.0
**Operating System**: Linux
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: Text on webcompat.com linewraps at arbitrary positions
**Steps to Reproduce**:
Visit https://webcompat.com/issues/21006 .

There are lines that wrap midword -- e.g. in the Description section, the word "and

[2018-11-07 22:30] karlcow commented on #2708
Thanks @dholbert

This is
https://github.com/webcompat/webcompat.com/blob/300e9294f22d7d31dff181c1175ee2e453f94126/webcompat/static/css/src/issue.css#L127-L129

Introduced by @magsout on https://github.com/webcompat/webcompat.com/issues/2622
to fix this type of issues.
https://webcompat.com/issues/16643

but indeed it has unwanted effects too. It falls into the discussion we are having these days

[2018-11-07 23:38] miketaylr opened #2709 "Re-add lockbot to web-bugs repo"
Just a heads up: I removed lockbot from the repo, because it was going to lock and add a comment to about 20,000 issues. We can investigate a new app, or fork and host a version ourselves that only considers issues *after* it's installed.

Filing here to track that work at some future point.

[2018-11-08 05:44] denschub commented on #2709
https://github.com/dessant/lock-threads/pull/8 🔥🦊

[2018-11-08 06:19] #2662 closed

[2018-11-08 09:28] denschub commented on #2709
PR has been merged and changes have been deployed. So,

[code]

should make the world happy.

[2018-11-09 16:07] miketaylr opened #2710 "Update changelog script to account for greenkeeper PRs"
For example, https://github.com/webcompat/webcompat.com/pull/2703

(Perhaps it would be simple to look for a title with a rocket emoji at the end, and special case from there)

[2018-11-12 18:10] miketaylr commented on #2709
So cool, thank you @denschub. I'll re-deploy this week at some point.

[2018-11-13 00:17] miketaylr commented on #2709
OK! Re-added, with `skipCreatedBefore` set to `2018-11-12`

[2018-11-13 00:17] #2709 closed

[2018-11-14 01:56] karlcow commented on #2710
ok pull request done. #2712

[2018-11-15 05:58] magsout commented on #2704
@karlcow yes. Thanks

[2018-11-15 05:58] #2704 closed

[2018-11-21 12:59] #1856 closed

[2018-11-22 00:13] karlcow commented on #2659
This is an example of a log as kept right now. I'm trying to understand a couple of things.

Where the `console.log(` is coming from

@wisniewskit As you worked on it, could you tell me?

[code]

[2018-11-22 00:14] karlcow commented on #2659
Also another big problem 😨
in https://github.com/webcompat/web-bugs/issues/21657
We can see that the string is truncated. We need to figure out if the truncation happens on webcompat.com side or on the reporter side.

[2018-11-22 00:31] karlcow opened #2716 "big console.log input are truncated"
Also another big problem 😨
in https://github.com/webcompat/web-bugs/issues/21657
We can see that the string is truncated. We need to figure out if the truncation happens on webcompat.com side or on the reporter side.

The truncation happens at 7947 chars.

I wonder if it's the input hidden field storage which is reaching a limit.

[2018-11-22 01:54] karlcow commented on #2716
I created a test with 10000 chars long string in details.
And it worked whichever the limit is I didn't reach it.
https://github.com/webcompat/webcompat-tests/issues/1722

So the truncated dictionary might be another issue. I wonder if we should test the integrity of what we received from the POST before posting it.

[2018-11-22 02:01] karlcow commented on #2716
Let's try with a detail value which is 1.490.017 characters long. Ah I crashed it.

[code]

[2018-11-22 02:02] karlcow commented on #2716
But I wonder if it's because GitHub is telling us. no no no. Too heavy.

[2018-11-22 02:05] karlcow commented on #2716
Ah bingo. That doesn't explain the truncation we got for the logs but that shows another limit that we should test. Any POST data which is too big aka more than 65536 characters will fail.

[code]

We need to handle this.
so we do not end up in a 500. Opening a new issue.

[2018-11-22 02:07] karlcow opened #2717 "HTTP POST to GitHub with a too big body fails"
We need to check and handle the fact that a body which is too large will fail.
The body limit for posting an issue on GitHub is 65536 characters. Anything bigger will fail.

[2018-11-22 02:08] karlcow commented on #2716
Opened #2717 for the too big body.

[2018-11-22 02:11] karlcow commented on #2716
so we don't seem to have a limit issue with regards to the forms. aka the form handled it and tried to send it to GitHub.
so now my eyes are going into the direction of @wisniewskit  👀
I wonder if there is a truncation happening before.

[2018-11-22 03:10] karlcow commented on #2694
This seems to be done. At least lockbot is active.

[2018-11-22 03:10] #2694 closed

[2018-11-22 03:14] karlcow commented on #2666
@marimeireles could you explain a bit more on how you use vprof

one URL requested means often a lot of requests.
We need to understand a bit more.

[2018-11-22 03:16] karlcow commented on #2633
This is done. I guess. We receive the pull requests ;)

[2018-11-22 03:16] #2633 closed

[2018-11-22 03:39] karlcow commented on #2659
@wisniewskit ah got an answer to my question:

https://searchfox.org/mozilla-central/rev/8f89901f2d69d9783f946a7458a6d7ee70635a94/browser/extensions/webcompat-reporter/experimentalAPIs/tabExtras.js#40-55

[code]

We should probably make it more structured.

[code]

[2018-11-22 03:47] wisniewskit commented on #2659
Ah, you beat me to it, sorry. Yes, I don't mind structuring these things rather than using strings. This was my first attempt. I think your suggestion is fine. When we've decided, let's open a Bugzilla bug to fix the desktop and Fennec reporters.

I don't know where the truncation happens, though. I tried to avoid intentionally truncating anything (that was of course the whole reason to use POST r

[2018-11-22 03:49] karlcow commented on #2659
@wisniewskit thanks. I just reformatted a bit. Trying to make sense myself. :)

[2018-11-22 03:50] karlcow commented on #2659
Also @wisniewskit did you see all the logs which are object returns `[object Object]` and not the content. Probably not useful in the current form.

[2018-11-22 03:52] wisniewskit commented on #2659
No, I haven't? Please link me to one or two issues where that happens, and I'll gladly investigate that as well.

[2018-11-22 03:55] karlcow commented on #2659
@wisniewskit https://github.com/webcompat/web-bugs/issues/21650 This one see the details.
Now try in your own browser.

This is comment https://github.com/webcompat/webcompat.com/issues/2659#issuecomment-440858991 see the log and the screenshot.

[2018-11-22 04:50] karlcow commented on #2681
Fixed by #2715

[2018-11-22 04:50] #2681 closed

[2018-11-22 12:33] marimeireles commented on #2666
It's poorly written, sorry. In my case it wasn't one request, but a bundle of requests. I wanted to test the complete loading of one page and than terminate the profiler. But I suppose that depending on what you're testing maybe only the first request might be relevant to you.

One thing we could do is add a number, something like `python run.py --profiler-mode 10` would load the first 10 requests

[2018-11-26 23:33] miketaylr opened #2718 "Can't file bug as myself"
I just tried to create a non-anonymous bug, and clicking on "Report as miketaylr" didn't work.

The first time it asked me to auth (b/c I was using a new profile), and when that was done it redirected me to the homepage.

I tried again, already logged in, and clicking "Report as miketaylr" again sent me to the homepage, with no new bug.

https://github.com/webcompat/web-bugs/issues/21857 is the bu

[2018-11-27 00:10] karlcow commented on #2718
[code]

Anonymous -> Report -> Report as github
https://github.com/webcompat/webcompat-tests/issues/1724

Logged-in -> Report -> Report as karlcow
https://github.com/webcompat/webcompat-tests/issues/1725

This is working. I probably don't understand the steps to reproduce.

[2018-11-27 00:11] karlcow commented on #2718
@miketaylr could you clarify what you were trying to do?

[2018-11-27 00:55] karlcow commented on #2659
* Paper trail https://bugzilla.mozilla.org/show_bug.cgi?id=1510073 for the structure of the log.

[2018-11-27 00:56] karlcow commented on #2716
(paper trail) Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1510063 for the truncation

[2018-11-27 19:21] wisniewskit commented on #2716
@karlcow, I just took another look at the truncated issue, and I actually see the full console log of 27328 characters appearing on https://webcompat.com/issues/21657 (just not on the github.com version of the same page).

Perhaps it's another limit github imposes, as per #2717 ?

[2018-11-27 19:50] miketaylr commented on #2718
just report a bug. I will try again.

[2018-11-27 19:55] miketaylr commented on #2717
I wonder if we can handle this on the backend... detect if it's too big... and post a follow-up comment if so (very hack-y). Or, post relevant details to some other text/paste service we own and just link to that instead of putting inside the body.

[2018-11-27 21:30] karlcow commented on #2716
Ooooh that's interesting! So I guess there is a character which is tripping up the rendering on github and I was fooled by this. All content from webcompat.com is coming from GitHub. Let's see.

1. Rendered version on webcompat.com of the GitHub data. (end of the string)

<img width="730" alt="capture d ecran 2018-11-28 a 06 25 45" src="https://user-images.githubusercontent.com/505230/49112580-7e4

[2018-11-27 21:30] #2716 closed

[2018-11-27 21:39] karlcow commented on #2717
yup see the agenda of Orlando Moz All Hands for crazy, hacky, silly ideas. ;)
https://wiki.mozilla.org/Compatibility/Meetings/2018-12-work-week#Improve_the_console.log_reporting_by_the_Reporter_extension

[2018-11-28 09:06] softvision-sergiulogigan commented on #2693
@miketaylr, the needsinfo bot doesn't seem to be running. When you have the time, could you please check?

We have a lot of issues that could have been closed by the no-response bot, but didn't.
https://github.com/webcompat/web-bugs/milestone/2 (at the bottom of the list))

[2018-11-29 13:40] cipriansv opened #2719 "The GIF attached to an issue is broken after the issue has been reported"
**Steps to reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Report an issue with an attached GIF.
3. Observe the GIF rendering.

**Expected Behavior:**
The GIF must be displayed with no rendering issues.

**Actual Behavior:**
The GIF is broken. See issue #21981.

**Notes:**
1. The issue is reproducible on Chrome 70.0.3538.110

**Watchers:**
@softvision-oana-arbuzov
@softvision-serg

[2018-12-04 14:34] magsout commented on #2708
oh weird, I'll take a look this week.

[2018-12-04 14:47] magsout commented on #2719
@softvision-sergiulogigan oh got it.

Same gif, but the first was filled directly withing the webcompat form and the second within a comment on Github, right?

[2018-12-04 14:48] softvision-sergiulogigan commented on #2719
@magsout yup

[2018-12-05 19:15] karlcow opened #2721 "[doc] explain how to install zlib for pillow"
When starting from scratch without zlib (xcode on macos will do) installed, people will not be able to install Pillow. We need to create a note in the documentation for it.

[2018-12-05 19:32] karlcow commented on #2509
@miketaylr @softvision-oana-arbuzov is it something related to the work of @wisniewskit or completely different?

[2018-12-05 19:42] karlcow opened #2722 "Check the possibility to create a new config file with an interoperable format"
Because of #1310 we need first to access what work to be done on webcompat.com to.

1. Have something config.yaml, config.json, config.ini whichever which is readable by javascript and/or python
2. How hard would it to create a script to convert config.py to config.new_format

[2018-12-05 19:43] karlcow commented on #1310
We will close here to check first the possibility and constraint of a new format for config files.  se  #2722

[2018-12-05 19:43] #1310 closed

[2018-12-05 19:55] karlcow commented on #2722
So we discussed with @masgout about the cost/benefits of this project.

Currently There are only two or three values to configure on the project to make it work. This is not a universal app (where you would change title, labels, etc. etc.)

Even simply converting the format of the config file would have a cost:
* Conversion and calls in the code
* tests
* Server configuration
* conversion script f

[2018-12-05 19:55] #2722 closed

[2018-12-05 19:59] karlcow commented on #2401
ping @adamopenweb

[2018-12-05 20:00] karlcow commented on #2275
@miketaylr do you intend to finish this? :)

[2018-12-05 20:02] karlcow commented on #2482
@miketaylr @laghee who is working on this?

[2018-12-05 20:11] karlcow opened #2723 "change design checkbox for labels and milestones."
Currently the checkbox are using a content with a unicode checkbox character. or empty box. Let's prettify this.

[2018-12-05 20:13] karlcow commented on #2545
GitHub has already a feature for this depending on GraphQl getRelatedIssues.
Probably not yet a public API.

[2018-12-06 12:37] miketaylr commented on #2275
@karlcow oof. I think the JS parts were working, but I got stuck on fixing all the broken styles. It would probably be more efficient for someone to pick up the pieces. :)

[2018-12-06 12:38] miketaylr commented on #2509
yep! he fixed it for us by porting the fennec reporter to a web extension.

[2018-12-06 13:46] cipriansv opened #2724 "Error message should be displayed on a different line"
**Environment**

**Browser / Version**
Firefox Nightly 65.0a1 (2018-12-05)
Chrome 71.0.3578.80

**Operating System**
Windows 10 Pro

**Prerequisites:**
- Login to https://staging.webcompat.com

**Steps to reproduce:**
1. Navigate to: https://staging.webcompat.com/issues/new
2. Start filling the required fields.
3. Reach the "Please write a short problem summary" section.
4. Click inside the text f

[2018-12-06 13:53] cipriansv opened #2725 "Error message is missing from the "Type of bug" section"
**Steps to reproduce:**
1. Navigate to: https://staging.webcompat.com/issues/new
2. Start filling the required fields.
3. Skip to select a radio button from the "Type of bug" section.
4. Fill in the rest of the fields.
5. Click the "Report" button.

**Expected Behavior:**
"A type of bug must be selected" error message must be displayed above/under the "Type of bug" section.

**Actual Behavior:**
N

[2018-12-06 14:16] cipriansv commented on #2724
Suggested display:

![image](https://user-images.githubusercontent.com/45160931/49589504-3d031400-f972-11e8-9618-ff08d453ccd9.png)

[2018-12-06 21:36] laghee opened #2726 "Handle pagination when fetching labels from GitHub"
In troubleshooting issue #2482, it seems like the problem may not be in the regex, but rather in the fact that we're only fetching the first 100 labels in our API call.

[2018-12-06 21:38] laghee commented on #2482
OK, so my suspicion, which made sense to @karlcow, is that the problem here isn't in the filtering regex, but in the fact that we aren't handling pagination in our call to the GitHub api. Basically it looks like we're only fetching the first 100 labels in the repo. New issue filed (#2726).

[2018-12-06 21:38] #2482 closed

[2018-12-07 12:50] karlcow commented on #2726
ah interesting. These are the list of calls that GitHub does to display an issue page.
Specifically note the last two ones:

<img width="1249" alt="capture d ecran 2018-12-07 a 07 45 58" src="https://user-images.githubusercontent.com/505230/49648547-2f8e6e00-f9f4-11e8-9574-1f57c7beaab4.png">

I think it happens when there is a hover on the sidebar. Two http requests are done. Specifically the last

[2018-12-07 13:10] karlcow commented on #2726
To be more precise the template is created server side as soon as we hover on the labels general header or the gear. It sends a fetch Only if you are logged in.

[2018-12-07 14:21] marimeireles opened #2727 "Removes unnecessary use of markdown-it"
The Github API already [offers a markdown version](https://developer.github.com/v3/media/#html) for the requests we're making, so it's not necessary to use markdown-it to process our requests.

However we still need it to format users comments, so we're still using it on  all of the pages where people can write comments. It might be worth it to look for a more specific lib to do this job.

[2018-12-07 15:03] laghee commented on #2726
Related and possibly patchable with the same type of fix -- #2450.

[2018-12-07 15:30] softvision-sergiulogigan opened #2728 "Firefox Reality issues get a browser-fixme label"
Looks like the Firefox Reality issues get a `browser-fixme` label as well as a `browser-firefox-reality` one.
We sould not apply the `browser-fixme` label in these situations.

Here's a recent example:
https://github.com/webcompat/web-bugs/issues/22349

![image](https://user-images.githubusercontent.com/16573771/49656248-8cfedb00-fa45-11e8-9ea3-be80e7707475.png)

[2018-12-07 15:44] marimeireles commented on #2726
The fastest way to do this is probably using server-side.

[2018-12-07 15:47] laghee commented on #2726
Looks like the [requests library](http://docs.python-requests.org) might make this fairly painless. Working on a patch.

[2018-12-07 16:42] marimeireles opened #2729 "Remove labels request at single issue pages"
We don't need too make a label request to Github on single issue pages because we already have the information we need on the issue request.

So we can remove the label request.

Some context: #2726

[2018-12-08 10:42] karlcow commented on #2726
So I was wondering if GraphQL API would give us more control on this. There are currently 145 labels. The current limit of the REST API is returning 100 items… and so does GraphQL API.

<img width="1022" alt="capture d ecran 2018-12-08 a 05 39 11" src="https://user-images.githubusercontent.com/505230/49685128-d6821100-faab-11e8-8d79-be66d84c4f44.png">

And if I request only 100.

<img width="1024"

[2018-12-08 10:52] karlcow commented on #2726
I guess probably at a point we could create in a larger scheme of things, the future of the webcompat API would be to abstract some of the GraphQL call into specific uris.

https://webcompat.com/api/labels -> returns list of all labels.
Note also that probably that us requesting all labels all the time might not be the best idea. This list is pretty stable and we probably need only to adjust it wh

[2018-12-10 15:39] miketaylr commented on #2718
Who even knows what was going on this day.

[2018-12-10 15:39] #2718 closed

[2018-12-10 15:41] miketaylr opened #2730 "Document (in the wiki?) how to file a bug (semi?) programmatically"
If there are new clients that want to create new webcompat bugs, we should document how to do that.

@karlcow documented the old / GET system here:

https://github.com/webcompat/webcompat.com/issues/2525#issuecomment-403676858

We should add what is new in the new POST world.

[2018-12-10 23:45] marimeireles opened #2732 "Fetch only the issues needed at webcompat homepage"
Currently at webcompat.com we fetch 30 issues (200kbs avg per request) but we're only showing 5.

[2018-12-11 20:02] miketaylr commented on #2656
This actually got fixed by https://github.com/webcompat/webcompat.com/issues/2694.

[2018-12-11 20:02] #2656 closed

[2018-12-11 20:03] miketaylr commented on #291
@marimeireles this might be an interesting bug for you to work on, when you need a break from performance hacking. :)

[2018-12-12 05:32] karlcow commented on #2545
@miketaylr Just a thought.

If the goal is to have a tool to help identify previous similar issues and not necessary the immediacy of the duplicates (longterm scale). We can

1. Create a daily incremental backup of issues as JSON
2. Feed this to a DB

Then a service exposing this DB for different purposes.

For the specific goal of finding what you need, the issue is still the same. You need to de

[2018-12-12 14:28] miketaylr opened #2733 "different landing page for in-product release reports"
As a temporary measure, let's silently do nothing if release population users try to report an issue from the Report Site Issue button. See https://bugzilla.mozilla.org/show_bug.cgi?id=1513541.

[2018-12-12 15:31] miketaylr commented on #2733
Or, maybe better. Let's just serve a different page that says this isn't ready for release and they can try it in Nightly or Beta.

[2018-12-12 17:35] marimeireles commented on #291
Yea :)
Thanks, I'll keep this in mind

[2018-12-12 19:02] miketaylr commented on #2482
thanks @laghee!

[2018-12-12 22:26] #2733 closed, assigned to miketaylr

[2018-12-12 22:55] #2673 closed

[2018-12-13 06:50] karlcow opened #2736 "`npm run start:test` is not working with virtualenvwrapper"
Be with environment already started.

[code]

OR NOT

[code]

The reason is that in my configuration I do not have a local `env/`

my virtualenv is elsewhere.

[code]

aka in `~/.virtualenvs/webcompatcom/`

This is the result of `virtualenvwrapper`.

I will probably fix my environment BUT I want to better understand

[code]
it doesn't seem logical. Or should I read it as
`npm run build && (source

[2018-12-13 12:17] marimeireles commented on #2736
Humm
Doesn't  `source env/bin/activate` and `. env/bin/activate` do the same thing?
I think `(npm run build && source env/bin/activate) || (. env/bin/activate && python run.py) -t` makes more sense... Because we can either use npm or python to run the script, right?

[2018-12-13 13:07] karlcow commented on #2482
I requalified some labels, and moved some, we are down to 122 (still too many), but better.

[2018-12-13 19:23] marimeireles opened #2738 "Create an Update mock outs mode that fetches new mock outs when needed"
While working on #2727 I had to make a change on the fixture files.
Instead of changing these files manually the point here is to make a script that runs it automatically.

The goal of this issue is to:
* Create a flag on the terminal that allows the user to enter in this mode
* Fetch the new mock outs and update the old files

[2018-12-13 23:48] marimeireles opened #2740 "Some files are being processed on Parse HTML when they should be processed on Evaluate script"
I believe this is happening because of the position where these files are called on the html. When the html finds a <script> tag it will fetch the script and executes it and only after it's done it'll come back to parse the html.

I've identified this problem on the following files:
`webcompat/static/js/lib/models/issue.js`
`webcompat/static/js/lib/bugform.js`
`webcompat/static/js/lib/untriaged.js

[2018-12-13 23:55] marimeireles commented on #2740
Hey @miketaylr do you think it's worth looking for more of these in the project?
(And if I find any other relevant results I add in the same PR.)

Also, I think it'd be nice if Oana or Sergiu could test it once the PR is ready. I've only obtained small improvements on my previous tests when I applied these changes, so it might be a factor on my side rather than a real performance improvement.

[2018-12-14 00:22] karlcow commented on #2740
@marimeireles @miketaylr Using `window.performance` https://github.com/webcompat/webcompat.com/issues/1870#issuecomment-344508357 might help to measure what gain do we have. Because this project is about performance improvement, it would be cool to make sure the before/after.

[2018-12-14 03:21] karlcow commented on #2736
yes they do the same thing. It's one or the other depending on the platform, hence my parenthesis.

1. `npm run build` -> this is for grunt
2. `$SHELL_SOURCE env/bin/activate` -> start the python virtual environment
3. `python run.py -t` -> start the app in testing mode

step 2 is failing for me because I use `virtualenvwrapper`, I think @miketaylr  is using something else. [buritto](https://githu

[2018-12-14 15:09] softvision-oana-arbuzov opened #2741 "Change “Reproduce a Bug” with “Triage a Bug”"
**Environment:**
URL: https://webcompat.com/contributors/reproduce-bug
Browser / Version: Firefox Nightly 64.0a1 (2018-12-13)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/contributors/reproduce-bug
    2. Observe the section.

**Expected Behavior:**
The section refers only to “Triage a bug”.

**Actual Behavior:**
The section refers both to “Rep

[2018-12-14 15:18] softvision-oana-arbuzov opened #2742 "Add "Pre-triage" subsection to "Triage/Reproduce a bug""
**Environment:**
URL: https://webcompat.com/contributors/reproduce-bug
Browser / Version: Firefox Nightly 64.0a1 (2018-12-13)
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/contributors/reproduce-bug
    2. Observe the section.

**Expected Behavior:**
"Pre-triage" sub-section is available with link to wiki page.

**Actual Behavior:**
No "Pre-tria

[2018-12-14 20:10] miketaylr commented on #2740
Yes, agree on measuring things here! Even something crude like logging to the console the numbers then sergiu or oana can report what they see from Romania.

[2018-12-16 22:02] marimeireles commented on #2740
I think using a tool like this one is important so we can have a more precise measure than just looking at the devtools panel and trying to estimate how long is taking to load the scripts.

But I can't use this tool because it only allows me to measure times inside the js and what I'm trying to do here is estimate how long does it take to completely load the webpage, taking into account all of the

[2018-12-16 23:32] marimeireles opened #2743 "Create personalized bundle files for each page"
Currently in most of webcompat's pages we load more js scripts than we actually use. Grunt adds all of the files under the `grunt-tasks` directory and creates a huge minified js file that's used on all of the pages.

We can probably do better using tools like [webpack](https://webpack.js.org/) that allows us to create file bundles that fit the needs of each page. This tool was recommended by @mags

[2018-12-17 00:00] karlcow commented on #2743
to evaluate this, we need to balance a couple of things.

1. The frequency someone is likely to use different pages (with different assets)
2. The weight of each JS (once compressed)
3. The latency of the network requests.

Often a minified compressed file containing everything can be more beneficial in some circumstances. Because it is being downloaded once and stays in the cache, removing the la

[2018-12-17 00:42] marimeireles commented on #2743
Yes, good points. I haven't thought about them.

As a first step to try to simulate these senarii I'll try to make the changes using the chosen tool on the homepage and single issue page and compare my results with the the minified file that contais everything.

You think it's a good start @karlcow ?
Thanks for the feedback. :)

[2018-12-17 02:38] karlcow commented on #2449
Once we have an archive of old issues. We just get a simple HTML rendered version of the page. No request to GitHub necessary, no JSON parsing for rebuilding the page. Everything is here once and for all. We gain speed, less requests latencies, etc. , and we make it more resilient to time.

[2018-12-17 08:06] karlcow commented on #1968
<img width="897" alt="capture d ecran 2018-12-17 a 17 05 52" src="https://user-images.githubusercontent.com/505230/50074061-0b196980-021e-11e9-8171-2cfdb0284f2a.png">

[2018-12-18 00:47] marimeireles commented on #2740
`webcompat/static/js/lib/models/issue.js` has a 2.5% of total loading time, most of this time is spent loading Markdown-it lib, when we fix #2727 , I believe it won't be an issue anymore.

`webcompat/static/js/lib/bugform.js` has a 3.3% of total loading time. I measured the loading times for  `bugform.js` for different pages using `async`, `defer` and the `window.onload` methods, here is a table w

[2018-12-18 01:08] marimeireles commented on #2740
What do you think @miketaylr and/or @karlcow ?
You think I should explore more? I think it's a bad direction to go. :p

[2018-12-18 01:16] miketaylr commented on #2740
That makes sense to me! Relatedly, we don't even need to load bugform.js for all issues / single issue pages... so the potential wins there could be solved by figuring out a modular JS loading solution (and not loading it at all :)).

[2018-12-18 01:17] miketaylr commented on #2740
(it would make a cool blog post, to document what you learned... if you need things to blog about in the future :P)

[2018-12-18 01:17] karlcow commented on #2740
@marimeireles It's very cool and indeed I agree with your conclusions. Nice thing to document or add in a future blog post. Explorations like these are essential.

[2018-12-18 01:20] marimeireles commented on #2740
Good to know! I have an issue to explore that.

Thanks for the feedback @karlcow and @miketaylr . :)

[2018-12-18 01:20] #2740 closed

[2018-12-18 14:37] #1822 closed

[2018-12-18 20:34] #2729 closed

[2018-12-19 06:39] reinhart1010 opened #2746 "HTML tags inside the "code" markdown tag is rendered in webcompat.com"
SeeAlso: https://webcompat.com/issues/23056 or webcompat/web-bugs#23056

In Markdown (especially [GitHub Flavored Markdown](https://github.github.com/gfm/)) we can add codes under a backtick character. Here, webcompat.com seems to render the HTML code inside these characters to produce this issue. For example, writing "`All HTML (backtick)<select>(backtick) choices are not visible`" will render as

[2018-12-19 07:12] karlcow commented on #1822
This has been deployed.
And the first bug reported since is https://github.com/webcompat/web-bugs/issues/23057

[2018-12-19 07:13] karlcow commented on #1822
<img width="1253" alt="capture d ecran 2018-12-19 a 16 13 15" src="https://user-images.githubusercontent.com/505230/50204677-03d29700-03a9-11e9-8957-a642ba04d02d.png">

[2018-12-19 13:58] marimeireles commented on #2746
I think I was able to fix it with my new patch :)
Here is a screenshot
![screen shot 2018-12-19 at 11 48 35](https://user-images.githubusercontent.com/17600982/50224242-8301a400-0384-11e9-8089-c71f742ca90a.png)
& a [link](https://github.com/webcompat/webcompat.com/pull/2731/commits/61c019438e68b4a806946ce93e31fc623e2e8cc3) to the code I used.

If someone types `<strong>Description</strong>: <br>\n

[2018-12-19 14:00] marimeireles commented on #2746
Thanks for the bug report @reinhart1010! 🌟
Helped me find a serious bug on the code I was writing that I haven't noticed before.

[2018-12-20 01:31] karlcow commented on #1870
@marimeireles Let's revive this.
So here it would be interesting to understand for an issue page for example [15787](https://github.com/webcompat/web-bugs/issues/15787).

How does it perform

1. in the current model?
2. with all the issue data added on the server-side through python (no JS client to fetch the JSON).

Is it faster?
Is it a minor difference?

[perf-html](https://perf-html.io/) shoul

[2018-12-20 01:35] karlcow commented on #1870
This is the [issue page requests sequence](https://perfht.ml/2EA4fhU).

[2018-12-20 03:13] marimeireles opened #2747 "Upgrading the server to HTTP/2 to use push"
A series of blog posts that documents what I'm doing:

[Building blocks](https://psychonautgirl.space/2018/journey-into-http2-building-blocks/)

[2018-12-20 03:13] marimeireles commented on #2747
[ ] [observatory](https://observatory.mozilla.org/analyze/webcompat.com#ssh)
Gave some interesting recommendations. I have to look deeper into them, understand what they mean, etc.

[ ] [redbot](https://redbot.org/)
Might be useful to run some analysis and give some insights. It also offers some useful recommendations.

[2018-12-20 05:40] karlcow commented on #2747
For observatory you might want to compare

* [staging](https://observatory.mozilla.org/analyze/staging.webcompat.com#ssh)
*  [production](https://observatory.mozilla.org/analyze/webcompat.com#ssh)

ping @miketaylr for the… hmm… results.

[2018-12-20 15:18] miketaylr commented on #2747
cool, we can tweak things here. FWIW, we used to have an A on webcompat.com, but Observatory changes (which makes sense).

I'll go update production in a few and see if we can get at least a C :P

[2018-12-20 15:19] miketaylr commented on #2747
@marimeireles I would ignore the observatory stuff for now, it's not really related to HTTP2, but to SSL encryption stuff. Good to fix, but I would consider that a separate task.

[2018-12-20 19:20] miketaylr opened #2748 "Forward GA params to new issue page"
As of https://bugzilla.mozilla.org/show_bug.cgi?id=1514861, we'll be sending utm_source and utm_campaign params from the browser, and when https://github.com/webcompat/webcompat-reporter-extensions/pull/141 lands, from addons.

From the browser, we POST these params, but we'll need to send them along when we render the bug form (I think).

[2018-12-20 20:45] miketaylr commented on #2748
https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#campaignName might be a good way to do this, and not have ugly URL params...

[2018-12-20 23:46] marimeireles commented on #2747
nice!

[2018-12-21 16:16] #2748 closed

[2018-12-21 16:20] miketaylr commented on #2736
Not anymore. I nuked that a while ago when I got a new laptop.

[2018-12-28 12:58] marimeireles opened #2750 "Enable text compression"
I was running some profilers and PageSpeed gave me this result:
![screen shot 2018-12-28 at 10 53 10](https://user-images.githubusercontent.com/17600982/50515972-1591f980-0a8f-11e9-81c1-63915fe486f3.png)

I've already wrote a little bit about how to do that on my [proposal](https://psychonautgirl.space/webcompat.html#Future-implementations-in-details). It might be a good thing to start from these

[2018-12-28 13:05] marimeireles commented on #2743
Another interesting upgrade could be partitioning the CSS in two parts. The first part that will be load first would contain all of the basic code for creating the first paint on the page, the second part would contain the rest of the code. I read it somewhere that it could improve prioritising visible content.

Do you think this is a crazy idea, @magsout ? Or might be worth trying?

Thanks.

[2018-12-28 13:30] marimeireles opened #2751 "Use gzip compression for transferring compressable responses"
According to WebPageTest we'd gain a lot of performance if we gzipped all of our minified files and svgs.

![screen shot 2018-12-28 at 11 27 54](https://user-images.githubusercontent.com/17600982/50516747-baaed100-0a93-11e9-8d1d-5490241a62b9.png)

[2018-12-28 17:31] marimeireles commented on #2747
I gathered some data about how the website is performing without any change so I can be able to compare after I make my changes.

I tried to use perf-html at first because I saw this tool at All Hands and it seemed really good. Unfortunately it wasn't very useful for me. At the moment I'm just analyzing the Network tab, how long the requests are taking to load, etc. and the DevTools Network tab is

[2018-12-30 19:56] marimeireles commented on #2747
To update the server to use `push` on production it's necessary to add a session cookie. We don't want to push the files every time for every user, only when it's needed.

According to [this](https://docs.google.com/document/d/1K0NykTXBbbbTlv60t5MyJvXjqKGsCVNYHyLEXIxYMv0/edit#) article from these google guys "Push just enough resources to fill idle network time, and no more." I'll run some tests u

[2018-12-30 20:03] marimeireles commented on #2743
When using http2 push we have to take care not to push too many files or heavy files at once. It might speed the process as a whole but cause a big delay on the first paint time because we're downloading and loading things that aren't crucial for first paint.
Maybe the oversized files we currently have are delaying the website's performance when I push them. I'll run some tests pushing a lot of fi

[2018-12-30 21:14] marimeireles commented on #2747
Okay, according to my tests we have a mean idle time till the page begins loading of 1200ms when I'm on my Sony G8341 and 950ms when I'm on my mac.
Looking at how long the files take to load completely is not a lot of time. It's enough to load the minified css file, which is probably the most critical file for first paint, but it's not nearly enough to load the js files, the main js file take abou

[2019-01-01 13:56] marimeireles opened #2752 "Is it possible to optimize XHR Load?"
Currently we're spending a lot of time on XHR loading.
I found out that most of the time we're loading markdown-it and I believe when #2727 is resolved the time spent on XHR loading will decrease immensely.
But still, XHR loading might be a good front of optimization.
While reading this (article)[https://fdossena.com/?p=html5cool/loadAsync/i.frag] I found out that's possible to only load the scrip

[2019-01-01 14:44] marimeireles commented on #2747
Realized it would be useful to have the loading time of the bundle files for comparison with http2 and with/without push.
(Time in ms made on webcompat.com homepage. The values represented here are the median of 5 tests. Tested on Chrome only.)

No change at all:

|Device |CSS| JS | Total time |
|-------|----|---|---|
Mac |  516| 1900 | 2760 |
Sony     | 506 | 1970  | 3200  |

Pushing only the CSS

[2019-01-02 01:48] karlcow commented on #2736
Let me close this, as the code is working if you follow the guide and do not have exotic install ;)

[2019-01-02 01:48] #2736 closed

[2019-01-02 13:06] marimeireles commented on #2751
When I try to add gzip on staging I get the following error:
`nginx: [emerg] "gzip" directive is duplicate in /etc/nginx/sites-enabled/staging.webcompat.com:70`
I've already searched for "gzip" on my current file and it's not here, which makes me believe that there is another configuration file with gzip enabled, but for some reason gzip isn't working on that file. So we need to remove from there

[2019-01-02 13:41] marimeireles commented on #2750
Our currently gzip settings are:

[code]
We're not doing anything specific to the fonts.
According to my research there are many different ways to improve font loading and I'll use this issue to record my results. I'll do a few different tests to see what will work best for us.

The #2751 was specifically to add gzip compression to the server.

[2019-01-03 02:21] karlcow opened #2753 "Show the GitHub nickname form only to those who are not logged in (anonymous reporting)"
Followup on #1822

So we had success with the GitHub Name reporting.

See for example
* https://github.com/webcompat/web-bugs/issues/23596
* https://github.com/webcompat/web-bugs/issues/23594
* https://github.com/webcompat/web-bugs/issues/23588

That's cool. But we have also too much success ;)

* https://github.com/webcompat/web-bugs/issues/23629
* https://github.com/webcompat/web-bugs/issues/236

[2019-01-03 08:07] magsout commented on #2743
@marimeireles

it's not crazy at all. you're talking about Skeleton Screens concept. see https://www.sitepoint.com/how-to-speed-up-your-ux-with-skeleton-screens/
the point is to load CORE css or CORE JS to display something to the user very quickly then download the rest of code to render the page. It's a good idea.

is it worth it for wecompat? I don't know, but sure it's a good idea.

[2019-01-03 08:11] magsout commented on #2753
@karlcow we could hide the input if user is connected using this condition https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/nav/shared-nav-links.html#L17

[2019-01-03 12:43] karlcow commented on #2738
See the discussion in #2739 why we closed it.

[2019-01-03 12:43] #2738 closed

[2019-01-04 17:04] miketaylr commented on #2751
gzip is configured in `nginx.conf`:

We haven't modified this file on the staging server, so these are the defaults:

[code]

@marimeireles I'll give you access to this file.

[2019-01-04 17:05] miketaylr commented on #2751
In case it's helpful, these are the settings on production:

[code]

[2019-01-07 21:09] miketaylr commented on #457
WFM, @karlcow.

[2019-01-07 21:09] #457 closed

[2019-01-08 12:10] greenkeeper[bot] opened #2754 "An in-range update of postcss is breaking the build 🚨"
## The devDependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.7` to `7.0.8`.

🚨 [View failing branch](https://github.com/webcompat/webcompat.com/compare/master...webcompat:greenkeeper%2Fpostcss-7.0.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss is a devDependency of this project. It

[2019-01-08 17:01] marimeireles commented on #2751
Actually, according to [this tool](https://tools.paulcalvano.com/compression.php) I think we'll benefit more from using brotli.

![screen shot 2019-01-08 at 14 59 42](https://user-images.githubusercontent.com/17600982/50846404-35120780-1356-11e9-859e-44e5df6a52bf.png)

[2019-01-08 17:03] marimeireles commented on #2751
[This](https://www.tinywp.in/nginx-brotli/) might help me in my journey.

[2019-01-08 18:34] marimeireles commented on #2750
Running this [tool](https://github.com/Munter/subfont#readme) will probably help.

[2019-01-08 21:58] karlcow opened #2755 "[dead code] Delete unused functional test fixtures code"
When investigating #2727 we might have found some functional test fixtures which were not used anymore and should be deleted.

This issue is about

1. Double check the tests which are used/not used.
2. Remove the unused ones.

[2019-01-08 22:07] #2727 closed

[2019-01-09 01:58] karlcow opened #2756 "Create generic fixtures for functional tests"
tl;dr: Create generic fixtures for functional tests to avoid confusion.

Details:
The functional tests right now sports specific number which relates (more or less) to real issues on the repo. This is historical, when our functional tests didn't have fixtures and were hitting directly the GitHub server for getting the JSON information.

We should probably stop this.

It creates confusion. @marimei

[2019-01-10 01:08] karlcow commented on #2746
Probably the current code is breaking the feature.

http://localhost:5000/issues/1736
https://github.com/webcompat/webcompat-tests/issues/1736

We don't get the HTML tags, but we don't get the right thing either. Probably we should explore a way to stringify the content (text only no markup.) in there and use this stringified content only aka textContent.

[code]

[2019-01-10 02:12] karlcow opened #2757 "[v15.4.0] [broken release] MarkdownSanitizerMixin"
@miketaylr @marimeireles

We are not out yet of the woods. :) #2727 is not completely over. :)
[code]

[2019-01-10 04:50] karlcow commented on #2546
We probably need to review all of these parameters and see if we can reduce the number of things which are allowed. I'm in the process of [documenting the API](https://github.com/webcompat/webcompat.com/wiki/Architecture#api-description).

[2019-01-10 10:45] marimeireles commented on #2757
I'm not being able to reproduce the error on my computer.
What did you do to get this @karlcow ?

[2019-01-10 16:48] miketaylr commented on #2757
I'm also not able to reproduce on master -- @karlcow do you recall which page you got this error from? Thanks.

[2019-01-10 17:01] miketaylr commented on #2756
It makes me think of #777. A small python script to scaffold out the bare minimum fixture file to be modified.

[2019-01-10 17:09] marimeireles commented on #777
Hm... That's what my get fixtures mode did. Isn't it?

[2019-01-10 17:10] miketaylr commented on #2757
Based on that, I would guess you saw this on an issue page? I wonder if there was an incomplete file transfer, or something else wacky. issues.min.js is supposed to contain the missing mixin...

Oh wait, I think I see the bug here:

https://github.com/webcompat/webcompat.com/commit/3e2cb6e0187bc9741a97334e4410af9efc8e952c#diff-479be0e05b1599c3c773ecac55f5ea04

The necessary markdown client libs ar

[2019-01-11 01:06] karlcow commented on #777
@marimeireles yes. and that was October 17, **2015**. Many things happened since which is the sense of #2756 issue. Let's close this one. Thanks @miketaylr for unearthing that dinosaurs skeleton! 😆 🦎

[2019-01-11 01:06] #777 closed

[2019-01-11 01:07] marimeireles commented on #777
hahaha
it's okay :p

[2019-01-11 01:09] karlcow commented on #777
Also just for the record. There is a [vcrpy module](https://vcrpy.readthedocs.io/en/latest/) which has some of these capabilities that @miketaylr was talking about (when we were still painting on cave walls with our hands).

[2019-01-11 03:22] karlcow opened #2759 "deploy.ignore needs to be updated"
@miketaylr These are a list of things we could add to `deploy.ignore`

[code]

as well sorting alphabetically  the current one or any kind of logical order. :)

[code]

[2019-01-11 03:55] karlcow commented on #2757
@miketaylr @marimeireles
This is not fixed. I deployed v15.5.0  on staging

I will let it broken as-is so you can see for yourself.
https://staging.webcompat.com/issues/1000

And this is working.
https://staging.webcompat.com/about

but are broken too, but for another reason it seems (I'm investigating this one).
https://staging.webcompat.com/
https://staging.webcompat.com/issues/new

[2019-01-11 04:52] karlcow commented on #655
— https://twitter.com/kangsterizer/status/1083551575937695744

[2019-01-11 05:42] karlcow commented on #2757
Would that be it?
https://github.com/webcompat/webcompat.com/blob/870203d4d75d6bdb3e737db33e4f3eb627c18244/webcompat/static/js/lib/comments.js#L24-L27

[2019-01-11 05:43] karlcow commented on #2757
also in issues.js

[2019-01-11 07:16] karlcow commented on #2757
This part is solved.

[2019-01-11 11:42] marimeireles commented on #2757
Yeah, that's probably the problem again.
`comment.js` isn't generated by gruntfile, that's why that's happening.

[2019-01-11 14:36] miketaylr commented on #2757
This makes no sense to me.

https://github.com/webcompat/webcompat.com/blob/master/grunt-tasks/concat.js#L36-L52 contains the sanitizer file, and the comment.js file. And is allegedly generated as issues.min.js.

[2019-01-13 23:41] #2757 closed

[2019-01-14 16:23] softvision-sergiulogigan opened #2761 "Multiple screenshots are uploaded"
The fact that there are 2 different screenshots on these issues made me think we have an issue on webcompat.com.
I think it's worth investigating.

https://github.com/webcompat/web-bugs/issues/23399
https://github.com/webcompat/web-bugs/issues/23394

I could not reproduce on Staging.

[2019-01-14 20:38] marimeireles commented on #2761
I was looking at the whole "issue history" from today to the day these issues were open and only these two were duplicated screenshots, right?

On this issue, I believe the images are different, they're just very similar:
webcompat/web-bugs#23399
<img width="678" alt="screen shot 2019-01-14 at 18 17 39" src="https://user-images.githubusercontent.com/17600982/51138701-f0d8a880-1828-11e9-8c47-decbee

[2019-01-14 22:31] karlcow commented on #2761
I think is that the user tapped once image "not coming", tapped again. hence the two images in the markdown. Also each time these are different images (hash name is different).

[2019-01-15 08:55] softvision-sergiulogigan commented on #2761
How come we are able to upload multiple screenshots in the same instance of the bug report form?
Could this be a weird spin-off of #1571?

[2019-01-15 15:04] marimeireles commented on #1870
The [paint timing api](https://css-tricks.com/paint-timing-api/) is probably going to be useful here.

[2019-01-16 12:31] marimeireles commented on #1870
I started to make some tests rendering the issue body on the single issue page using python instead of javascript.

I didn't perceive any improvement but I supposed it was because the changes were too small.

I want to  render the comments session using python now. I think it will give us more results because I'll be able to do one request less and erase some js files and a few code lines, accordi

[2019-01-16 12:48] softvision-sergiulogigan commented on #2761
We have another issue like this: https://github.com/webcompat/web-bugs/issues/24091

[2019-01-16 12:54] marimeireles commented on #2761
They also have different hashes... But it's probably worth checking what might be causing it.
I'll have a look at the code I wrote to make the conversion from md to html. Thanks @softvision-sergiulogigan .

[2019-01-16 12:58] marimeireles commented on #2761
I don't think this issue is related to the changes I made.
It could just be a coincidence because these images also have different hashes.
But maybe the site is buggy somehow, might be worth checking. I'll have a look today, but I don't have much of a clue of what might be causing it.
Thanks for reporting @softvision-sergiulogigan .

[2019-01-16 15:57] miketaylr opened #2762 "Consider not @-linking github username field"
[code]

https://github.com/webcompat/web-bugs/issues/23442
https://github.com/webcompat/web-bugs/issues/24074

This would be less spammy if we wrote `foo` instead of `@foo`.

[2019-01-16 16:04] softvision-sergiulogigan commented on #2762
i think this would not be enough, as we would most probably ping them at triage time...

[2019-01-16 16:08] softvision-sergiulogigan commented on #2762
I don't think those GitHub handles are typed randomly. maybe ppl are confusing GH handles with twitter ones?
maybe... we should also all a twitter field?
maybe some validation too on those fields?

[2019-01-16 23:01] rugk opened #2763 "webcompat.com - see bug description"
**URL**: https://webcompat.com

**Browser / Version**: Firefox 66.0
**Operating System**: Linux
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: Keep form data after logging in to GitHub
**Steps to Reproduce**:
1. Fill out form.
2. Click on the top right to login to GitHub.

What happens: All your previously entered form data is lost.
What should happen: No loss of

[2019-01-16 23:13] miketaylr commented on #2763
@rugk did this happen on the first time you ever gave permission to webcompat.com? Or has it happened even after that? thanks.

[2019-01-16 23:21] karlcow commented on #2761
The changes by @marimeireles about markdown are **not yet** deployed on production. So if anything it would be changes prior to that.
I vote for a slow response from Firefox and/or webcompat.com which makes the user interacts twice.

I wonder if it's happening with BIG images. @miketaylr had introduced something to reduce the size of big images.

[2019-01-16 23:30] miketaylr commented on #2763
i just revoked perms on staging.webcompat.com, but was able to file https://staging.webcompat.com/issues/1738. @rugk do you have 2 factor auth enabled? I wonder if there's a timeout or something like that at play.

[2019-01-16 23:33] karlcow commented on #2762
That's not cool if we become a source of spam for users. That was the risk.

https://github.com/webcompat/web-bugs/issues/24074
https://twitter.com/lava
It doesn't seem to be anything related.

https://github.com/webcompat/web-bugs/issues/23442
https://twitter.com/sunny
not related either? maybe?

[2019-01-17 06:50] rugk commented on #2763
It's always reproducible.

Yes.

Also note it seems to work, when I use the "Open with GitHub" button.
It's really just that it is missing the data when I use the top-right "Login" button. After it redirects me back to WebCompat, the previously entered data is gone.

[2019-01-17 16:20] miketaylr commented on #2761
Let's re-open. It doesn't seem like a critical bug to fix right now, but it would be good to figure out what's up.

[2019-01-17 16:32] miketaylr commented on #2763
Very interesting. Can you test a theory for me?

1. go to https://github.com/settings/applications
2. revoke authorization for "webcompat.com issues"
3. go to https://webcompat.com/issues/new and file a test bug with Report via GitHub

After you auth, is the test bug blank? Or did it work?

[2019-01-17 17:48] rugk commented on #2763
How often should I say it is not the button "Report via GitHub"? It's still the **top right** "Login" button!

So as per my STR above, I've tried it again, and yes also with completely fresh permissions it's the same.

![viagithub](https://user-images.githubusercontent.com/11966684/51337829-74dc9b80-1a88-11e9-875b-2d2a36c03bd6.gif)

[2019-01-17 18:23] marimeireles opened #2764 "Tests aren't running"
Steps to reproduce:
1. download the latest version of webcompat.com
2. build the repo in whatever way you prefer (I've tried with/without virtualenv, with pyenv/pip env)
3. try to run the tests

Then the node process starts to increasingly using system's memory until it's terminated because it used all of it.

[code]

If you try to run the tests again you'll get the following error:

[code]

You c

[2019-01-17 21:22] miketaylr commented on #2764
@marimeireles how are you invoking the tests? CircleCI seems happy to run them, once you tell it to bump its memory limits.

Your finding about node_modules is interesting. Can you compare and diff the output of `npm ls` from the working older directory, and the newer one that fails? There could be a dependency that has a leak, maybe?

[2019-01-17 22:32] miketaylr commented on #2764
Oddly enough, Intern tests didn't run here: https://circleci.com/gh/webcompat/webcompat.com/299 (but status shows green....) I checked and the previous runs actually run them.

If I tell the test suite to only run Chrome, it seems to work. But I'm getting a server timeout (?) for Firefox:

[code]

@marimeireles if you try to just run Chrome, do you also run out of memory?

`npm run test:js -- --br

[2019-01-17 23:14] karlcow commented on #2763
no URL was set in this screencast. A form without a valid URL is incomplete and data will be lost.

The Report via GitHub is usually blocked until there is a URL (mandatory input). Maybe we should do the same for login? Though that would create other type of issues for UX. Someone who just want to log in.

[2019-01-17 23:17] marimeireles commented on #2764
That's weird.

Yes, here it is:
[npm_ls_old_dir.txt](https://github.com/webcompat/webcompat.com/files/2770928/npm_ls_old_dir.txt)
[npm_ls_new_dir.txt](https://github.com/webcompat/webcompat.com/files/2770930/npm_ls_new_dir.txt)
The diff between them:
[diff_npm.txt](https://github.com/webcompat/webcompat.com/files/2770949/diff_npm.txt)
The diff shows that there are a lot of files that were updated.

[2019-01-18 01:34] karlcow commented on #2762
Not sure it will deter people doing it.
A couple of cases:

1. mistyping a username
2. goofing around college-humor style
3. intended miscconduct for annoying someone else
4. Just not understanding what this box is for

[2019-01-18 03:42] miketaylr commented on #2763
Ah, yeah. I missed this. OK! We can work with this. The GIF is super helpful.

[2019-01-18 03:46] #2753 closed

[2019-01-18 03:51] karlcow commented on #2762
Probably people don't understand what this is about?

Paper trail.

1. Issue #655 about permissions model.
2. We need to make stats about this new feature in a couple of weeks (was it successful, how many abuse?)
3. Kill it because potential abuse.
4. ❤️ let's hope for the best

[2019-01-18 04:57] karlcow commented on #2761
my theory about big images doesn't work.
https://github.com/webcompat/web-bugs/issues/24308 is not a big image.

[code]

it's not specifically related to the reporting mode. This one is out too.
There are all anonymous bug reports.

[2019-01-18 05:05] karlcow commented on #2761
https://staging.webcompat.com/issues/1743
Ah! interesting.

If I file a bug and I hit reload (whatever the reason? unresponsive server?). The form is already filed with all the information including the markdown for the image, but the image thumbnail is not here anymore. It may seem that the image was lost. If I add it again a new markdown markup is added in addition to the old one.

[2019-01-18 06:36] rugk commented on #2763
It's the same behaviour if I input an URL.

[2019-01-18 06:49] karlcow commented on #2763
ok I reproduced with a fresh profile indeed. And kind of expected, but indeed the UX is confusing.

* The top right link goes to: https://staging.webcompat.com/login
And we do not save the form content (Firefox does btw, by navigating back to the step before clicking login).

* The Report via GitHub takes a different path, where we save the data before doing the Oauth dance and we restore these da

[2019-01-18 15:23] miketaylr commented on #2764
I would look for any dependency changes under intern, most of the stuff in there is related to building the project -- that won't have any effect.

For example,
[code]

You might manually install 4.3.3 and see if it makes a difference.

And any other deps under intern, you could go to the repos and poke around the issues to see if any related issues have been filed.

[2019-01-18 16:15] marimeireles commented on #2764
Thanks, I'll do that @miketaylr :)

[2019-01-18 16:21] vladikoff commented on #2764
We saw it in our repo as well when se used latest Intern with Firefox

* to fix this you need to use an older version
* We should file a bug on this on the Intern repo

[2019-01-18 16:24] marimeireles commented on #2764
Thanks for that @vladikoff ! :)

[2019-01-18 16:32] vladikoff commented on #2764
Filed issue https://github.com/theintern/intern/issues/967

[2019-01-20 21:12] marimeireles commented on #2764
I tried to downgrade intern to 4.2, 4.1, 4.0.
When I tried to run tests on 4.0 I got the following:

[code]
When Mike tried he said he got something similar to this: https://github.com/theintern/intern/issues/874#issuecomment-392153279

The other versions just caused the same error to happen.

@miketaylr  suggested that the problem could be related to the Firefox version we're using since the test

[2019-01-20 21:51] vladikoff commented on #2764
upgrade to intern 4.4.1, the problem should be fixed. See the linked issue
for details.

On Sun, Jan 20, 2019, 16:12 Mariana Meireles <notifications@github.com
wrote:

[2019-01-20 22:03] marimeireles commented on #2764
Hey @vladikoff, that works! Thanks again :)
Even though it's weird... Because the issue was related to another dependency.

[2019-01-21 02:05] karlcow opened #2767 "short title feature is broken."
Ok finally deployed v15.6.0 with @marimeireles code.

It is working but we have regression too such as
https://webcompat.com/issues/24599

The title on the right side is supposed to be short.

[2019-01-21 06:20] karlcow opened #2768 "Code is now uppercased."
[code]

See for example https://webcompat.com/issues/22453
This is another regression from the switch to markdown html sent by GitHub.

[2019-01-21 09:50] softvision-sergiulogigan opened #2769 "Auto add "priority-normal" label to issues that don't get any default priority label"
Spinoff of #2655

Could we auto-assign the "priority-normal" label to all the issues that aren't getting any priority label right now, due to the fact that the domain is missing from the priority DB?

Right now, we are doing this manually to all triaged issues (even the invalid/non-compat/duplicate etc. ones).

cc @softvision-oana-arbuzov, @cipriansv

[2019-01-21 12:38] marimeireles commented on #2768
That's weird. It looks completely different on my localhost.

![screen shot 2019-01-21 at 10 34 33](https://user-images.githubusercontent.com/17600982/51474992-3a188300-1d68-11e9-83c2-51be0b7a76bb.png)

The first code snippet I wrote on webcompat and the second on github and both are right.

[2019-01-21 12:40] karlcow commented on #2767
Previous code: https://github.com/webcompat/webcompat.com/blob/81e33b8a339137c76806565c4da6a8f80d951903/webcompat/static/js/lib/models/issue.js#L92-L97

I was arbitrary cutting at 75 characters.
And there is a plan to limit people on the description field #2629

[2019-01-21 12:43] marimeireles commented on #2767
Sorry I missed that 🙈
Thanks Karl.

[2019-01-21 13:23] marimeireles commented on #2767
It's working on localhost. http://localhost:5000/issues/1745
![screen shot 2019-01-21 at 11 22 38](https://user-images.githubusercontent.com/17600982/51477231-ea898580-1d6e-11e9-9d0d-a179aaf1faf6.png)

[2019-01-21 14:07] marimeireles commented on #2768
I'm having a hard time to reproduce this bug.
I've already set the DEVELOPMENT flag to 1... But it's still working on localhost...
I believe the problem is related to the prism lib. It's adding some classes that don't make sense.
In my local build I have the class `language-html` on `<code>`. On production there are classes `highlight highlight-source-js`/`highlight highlight-text-html-basic` on a

[2019-01-21 17:31] marimeireles commented on #2752
The few changes I made only made the loading time worse by increasing the Layout loading time, Paiting and Other time.
XHR loading is now negligible, taking about 10ms to load on average.

[2019-01-21 17:31] #2752 closed

[2019-01-21 22:47] karlcow commented on #1870
@marimeireles

Note that this is good. Aka this is a kind of improvement.

Currently we get an empty page populated by JS. The only reason we had a JS front-end for the page was for the user to avoid the perception induced by the GitHub request. So the strategy was by @miketaylr at the time.

1. Send an empty template (aka display something)
2. Then fetch the real data to populate the page.

This

[2019-01-21 22:55] marimeireles commented on #1870
So, if my changes are bug free and applicable should I make a PR with them?

I made these small changes but I didn't worry about writing a good code. I didn't lint anything nor made it safe, maybe that extra cost would make a difference? I'm not sure, I don't think so.

[2019-01-21 23:03] marimeireles opened #2770 "Create a cookie to prevent pushing cached data on ngnix"
While running tests on staging I found out I was using a paid option from ngnix+ to set cookies `add_header Set-Cookie` and it wasn't working for our server because we don't have ngnix+ :(

So we need to figure out another way to stop the server from sending push files for the user once the user already has those files.

[2019-01-21 23:12] marimeireles commented on #2770
I thought it was working because when I checked the memory tab on dev tools it showed a session cookie and I thought it was the cookie I created. When I checked to see if the files were really being pushed after I erased the cookies they weren't.

Eventually it led me to this https://www.nginx.com/products/nginx/modules/cookie-flag/

[2019-01-21 23:18] marimeireles commented on #2770
I thought it was working because when I checked the application tab on dev tools it showed a session cookie and I thought it was the cookie I created. When I checked to see if the files were really being pushed after I erased the cookies they weren't.

Eventually it led me to this https://www.nginx.com/products/nginx/modules/cookie-flag/

[2019-01-22 00:02] karlcow commented on #1870
Having a PR even if we do not merge it is good. It gives us a branch reference if we want to pursue this avenue. Having code also helps to improve the discussion. Always share, not only the final solutions but also the explorations. :)

[2019-01-22 09:06] twisted-sres commented on #2534
Hey, is this available? Can I take this up as my first issue?

[2019-01-22 09:21] twisted-sres commented on #1925
Hey, can I take this up as my first issue?

[2019-01-22 11:49] marimeireles opened #2771 "How to optimize our use of favicons?"
Currently we have 5 or 6 different favicons and instead of downloading only the right one Firefox and Chrome download a bunch of different favicons. That sums up to more than 50kb and a bunch of new requests.

There are small res. favicons to show on the top of the tab and bigger ones to show on the new tab session, or when you download the website to be the icon of the website.

According to Mike

[2019-01-22 11:57] marimeireles commented on #2751
I'm going to open a new issue to run tests using brotli.

[2019-01-22 12:05] marimeireles commented on #2751
We weren't using the correct Gzip Settings on the Staging server.
I just updated it with the same content that we have on Production and it's working.
@karlcow should I open a PR? I think we should add this to Changelog right?

[2019-01-22 12:38] marimeireles opened #2772 "Test Staging performance using brotli as a zipper"
Continuing the exploration that began on #2751 .
I just wanted to make things more organized.

[2019-01-22 18:14] marimeireles commented on #2747
It's all going to be summarized on my blog post, so you don't need to read it.
I'm finally finishing it and should be ready by the end of the day.

[2019-01-22 19:11] miketaylr commented on #2764
Nice, thanks @vladikoff.

@marimeireles, can you send in a PR updating to the latest intern version?

[2019-01-22 19:42] miketaylr commented on #2768
@marimeireles and I created a test issue and learned something: https://staging.webcompat.com/issues/1747

In the issue body we wrote the following (ignore the escaped ticks, just trying to get the damn thing to work):

[code]

If there are just 3 ticks, GitHub returns a `<pre><code>...`. If you do 3 ticks with a `html` or `js` prolog (post-log???), it will return a `<div class="highlight highligh

[2019-01-22 19:54] miketaylr commented on #2768
I think to fix this bug, we should just rename our `highlight` class to something else...

https://github.com/webcompat/webcompat.com/blob/d56cd783366d725bcf2cf560723a590faf41e08f/webcompat/static/css/src/typo.css#L8-L11

(and all the times its used in the HTML).

I'm not great at names, and it's not 100% clear to me what "highlight" means. Something like "headline" is just as confusing. :))

And