[2017-07-06 23:28] zoepage commented on #1480
As we are progressing with the refactor, I'd like to close this one and re-visit when we are finally at the JS refactor stage. What do you think @magsout ?

[2017-07-06 23:29] zoepage commented on #1488
Shall we close this one as this page will be redesigned and the "highlighting" behavior unified?

[2017-07-06 23:31] zoepage commented on #1611
I'd say, as the fix is merged, let's close this issue and re-open, if we need to. Thanks!

[2017-07-06 23:31] #1611 closed

[2017-07-06 23:33] zoepage commented on #1471
As this will be fixed in the refactor (https://github.com/webcompat/design/blob/master/website_modules/filter-options-issues/Desktop%20HD%20Copy%204.png), I'd say we close this as we don't need a fix in the old design for it.

[2017-07-06 23:33] #1471 closed

[2017-07-06 23:41] zoepage commented on #1638
Thanks @adamopenweb for creating the issue and pushing this forward. :)

As far as my tired brain remembers, we had 2 ideas I'd like to document:
1. Was to detect the language with e.g. `window.navigator.language` and check e.g. a JSON we create manually for the most common languages that we can display.
2. Add a way for an automated translation, which a user can select.

(Both solutions have thei

[2017-07-06 23:53] karlcow commented on #1640
@cch5ng what are FE and BE?

[2017-07-06 23:56] zoepage commented on #1640
@karlcow FE = Front end, BE = Back end

[2017-07-06 23:58] karlcow commented on #1640
ok let me try to make a graph of what is happening? So it becomes clearer. The separation is not totally Front-end / Back-end. Or more exactly it's usually better to talk in terms of Request/Response because when you proxy a server is at the same time front-end and back end.

[2017-07-07 00:13] karlcow commented on #1638
Also this as a reference for thinking about a solution.
https://www.w3.org/blog/2006/02/content-negotiation/#what-they-want

[2017-07-07 00:13] zoepage commented on #1636
@karlcow and I discussed the feature of the growing textarea at the all hands and decided to remove it as it creates more issues that solving right now.

[2017-07-07 06:53] #1579 closed

[2017-07-07 08:17] karlcow commented on #1640
@cch5ng

It is something which looks  [a bit like this][1]:

![http-diagram](https://user-images.githubusercontent.com/505230/27949280-12091564-6338-11e7-9183-28e72969c79a.png)

[1]: http://www.plantuml.com/plantuml/uml/VP2n3e9044Hxlc939OMXjp1e8reHf30n580RWN1tUBj8-7k14BWOiPytRtOzuaHp8ohhg5LBg66xXnRJJ8awuHtuKHH0YAy6YU6UTd2vWfAGLGLAZgqvEM1JmmnHhIGXR78MbPiHkIMvXKYUI8vfivUIGt2s9_pcXt-yNynOSohORrApm-I3

[2017-07-07 16:14] #1574 closed

[2017-07-07 16:32] miketaylr opened #1643 "Missing colon and newline in reported bug"
![screen shot 2017-07-07 at 11 30 58 am](https://user-images.githubusercontent.com/67283/27967226-d5d5330a-6307-11e7-9a36-cb031a57bee8.png)

We need a colon after `Steps to reproduce`, and a new line would be good too

[2017-07-07 17:42] #1587 closed

[2017-07-08 04:52] miketaylr opened #1646 "How did you get there example text could be improved"
Instead of populating the textarea, maybe we can use `@placeholder` text? Possibly with some validation for empty text? (Or not, there's a good argument that if an issue has an image, it's still useful)...

[code]

[2017-07-08 04:52] miketaylr commented on #1646
cc @cch5ng

[2017-07-09 22:06] magsout opened #1647 "Some icons have disappeared"
Some icons have disappeared: for example, Home, log in (header)

[2017-07-09 22:08] magsout commented on #1647
![img_3297](https://user-images.githubusercontent.com/1997108/27997979-dd275518-6503-11e7-8870-98b4b594a202.PNG)

[2017-07-10 07:10] softvision-oana-arbuzov commented on #1574
I'm able to reproduce the issue on the new versions of Webcompat. The link is still displayed on "How did you get there?" text area, even if the screenshot was removed.

![photolinkremains](https://user-images.githubusercontent.com/12184325/28006399-cd45e9c6-6557-11e7-900f-52248ad044ed.png)

**Tested with:**
**Browser / Version:** Firefox 54.0.1 Release (Desktop), Chrome 59.0.3071.115 (Desktop), F

[2017-07-10 08:04] softvision-oana-arbuzov opened #1648 "“Browser version/Operating System/Tested another version” section should be displayed under “Site URL”"
**URL:** www.webcompat.com
**Browser / Version:** Firefox 54.0.1, Chrome 59.0.3071.115.
**Operating System:** Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Tap “Report bug” button.
3. Type in all the info for reporting a bug, set the relevant options and upload a screenshot.
4. Tap “Report” button.
5. After bug is reported observe “Browser version/Operating System/T

[2017-07-10 08:32] softvision-sergiulogigan opened #1649 "Selecting the "Something else" type of bug, should set the "Please describe what was wrong" string as title"
**Environment:**
Browser / Version: Chrome 59.0.3071.115 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Fill out the entire form.
3. Report the issue.

**Expected Behavior:**
"Please describe what was wrong" string should be set as title.

**Actual Behavior:**
The title is www.[whatever].com - se

[2017-07-10 08:46] zoepage commented on #1648
I can't find the comment, but there was a discussion going on about the placement of the additional info. The decision was made to add it below the other information, but it can be changed easily, if needed.

@adamopenweb @denschub @miketaylr @MDTsai @wisniewskit What do you think?

[2017-07-10 08:47] zoepage commented on #1647
@magsout Could you please give more info, like OS or browser as I can't reproduce? Thanks!

[2017-07-10 08:57] zoepage commented on #1622
After a conversation with @karlcow, we've decided to remove the feature as we it feels more like a bug and not a feature.

[2017-07-10 09:04] zoepage commented on #1623
As #1624 was merged, this can be closed right @miketaylr ?

[2017-07-10 11:51] softvision-sergiulogigan opened #1650 "The Report Anonymously button should have gray border"
Browser / Version: Chrome 59.0.3071.115 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Observe the border colour of the Report Anonymously and Report as [GitHub user].

**Expected Behavior:**
The Report Anonymously button should have gray border.

**Actual Behavior:**
The Report Anonymously butto

[2017-07-10 17:00] miketaylr commented on #1623
Ah yes, I must have forgotten the fixes keyword. Thanks @zoepage!

[2017-07-10 17:00] #1623 closed

[2017-07-10 17:35] cch5ng commented on #1643
@miketaylr I'm not sure I understand the context for your change request.

for #1547, I was working off this doc:
https://docs.google.com/document/d/1uCBbUx7TAZh_nIYn7U18Npceo1xQl_6j36BV-cmy1_g/edit
(see pg 6; also this comment https://github.com/webcompat/webcompat.com/issues/1547#issuecomment-301849726)

for your code review, I made an update to the placeholder to look like this (screenshot of d

[2017-07-10 17:46] adamopenweb commented on #1648
It takes a bit of getting used to the new layout of information. I'm fine with it either way, feels more natural with it all at the top IMO.

[2017-07-10 18:20] miketaylr commented on #1643
Nah, nothing that complicated. There's just a missing colon after "Steps to Reproduce":

https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L237-L239

(note how Description and Browser / Version have a colon. Just a minor cosmetic thing. And it would look a bit more organized if the "For example," part started on the next line (especially if the user deletes that For example

[2017-07-10 18:42] cch5ng commented on #1646
@miketaylr

I think there was some recent discussion to postpone required content validation for this field: https://github.com/webcompat/webcompat.com/issues/613#issuecomment-311542095

otherwise I'll look at the @placeholder suggestion

[2017-07-10 18:48] miketaylr commented on #1646
Yeah, I think placeholder is probably what we want, at least to start with. Thanks!

[2017-07-10 21:14] miketaylr commented on #1646
(relevant comment https://github.com/webcompat/web-bugs/issues/8135#issuecomment-314209963)

[2017-07-10 21:14] miketaylr commented on #1646
(whoops...)

[2017-07-10 22:26] zoepage opened #1651 "Adding CoC to webcompat.com"
As Mozillas Guidelines of Participation are still redone, how about adding a short Code of Conduct to this and our other repositories? For example http://contributor-covenant.org/ aligns with the Mozilla values and could be added easily.

[2017-07-10 22:33] miketaylr commented on #1648
Yeah, I agree with @softvision-oana-arbuzov here, let's stick it up top.

[2017-07-11 08:02] #1617 closed

[2017-07-11 08:41] zoepage commented on #1648
Please note, there is an inconsistency after we change the format (as the report was saved in an old format). We could run a clean up script if it's necessary.

[2017-07-11 14:29] softvision-oana-arbuzov opened #1654 "Request comment when closing an issue"
**URL:** www.webcompat.com
**Browser / Version:** Firefox 54.0.1, Chrome 59.0.3071.115.
**Operating System:** Windows 10 Pro

**Prerequisites:**
1. Issue reported through www.webcompat.com site.

**Steps to Reproduce:**
1. Navigate in Git to the logged issue.
2. Tap the “Close issue” button.
3. Observe behavior.

**Expected Behavior:**
A comment is required before the issue can be closed.

**Actua

[2017-07-11 21:21] miketaylr opened #1655 "TypeError: this.animate is not a function"
STR:

1. with console open, file a bug

When the page navigates to the reported issue, it shows the following error for a split second:

[code]

[2017-07-11 21:25] miketaylr commented on #1655
(this came up in review for #1645 )

[2017-07-11 22:06] miketaylr commented on #1627
It's back. Like 17 in the past few hours.

[2017-07-11 22:08] #1627 closed

[2017-07-11 22:56] #1648 closed

[2017-07-12 00:10] #1306 closed

[2017-07-12 14:14] zoepage opened #1656 "add `npm test` to package.json"
Add `npm test` to run the functional test as well as the python test.

[2017-07-13 15:06] brizental commented on #1470
So, I wrote a small script to run tests  and save the failures results, to let them run multiple times and figure out exactly which tests are failing intermittently.

I let them run overnight around 700 times and what I found out is that these are our intermittent failures:

- Issue list (non-auth) - Pagination dropdown tests
- Issue list (non-auth) - Pressing 'g' goes to github issues
- Issue lis

[2017-07-13 16:19] miketaylr commented on #1552
Thanks!

If there isn't another bug open for this, can you open one?

[2017-07-13 16:19] #1552 closed

[2017-07-13 16:21] miketaylr commented on #1356
This can be closed now, I think!

[2017-07-13 16:21] #1356 closed

[2017-07-13 17:24] miketaylr commented on #1470
Thanks for reporting your findings @brizental -- all except the first are related to keyboard events. 🤔

The first has a lot of `click()`s and waiting for UI to show up/get modified. I wonder if that one could just get split up -- it's doing quite a lot of work. Maybe even just create a specific test file for the dropdowns.

[2017-07-13 17:41] miketaylr opened #1658 "Create an editor to edit images before uploading"
(I can't remember if there's already an issue for this... searched around and found nothing)

It would be good to have the ability to do the following to an image, before uploading:

1. highlight in yellow (paintbrush or rectangle tool)
2. black out an area (paintbrush or rectangle tool)
3. blur an area (rectangle)

This is all doable with modern canvas API support, but the blurring will need a po

[2017-07-13 17:44] miketaylr commented on #1470
Thanks for reporting your findings @brizental -- all except the first are related to keyboard events. 🤔

The first has a lot of `click()`s and waiting for UI to show up/get modified. I wonder if that one could just get split up -- it's doing quite a lot of work. Maybe even just create a specific test file for the dropdowns.

[2017-07-13 19:47] #1656 closed

[2017-07-14 07:32] softvision-oana-arbuzov opened #1659 ""How did you get there?" text area should display an error if no info was typed"
URL: www.webcompat.com
Browser / Version: Firefox 54.0.1, Chrome 59.0.3071.115.
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Tap “Report bug” button.
3. Type in the URL, set the “Type of bug” and type in the “Please describe what was wrong” field.
4. Remove all info from “How did you get there?” text area.
5. Observe “Report” button behavior.

**E

[2017-07-14 07:35] softvision-oana-arbuzov commented on #1552
The issue is no longer reproducible.

**Tested with:**
Browser / Version: Firefox 54.0.1, Chrome 59.0.3071.115.
Operating System: Windows 10 Pro

Related to "I consider that for this case, "Report" button should also be inactive until user adds some details.", I've opened an issue [#1659](https://github.com/webcompat/webcompat.com/issues/1659)

[2017-07-14 19:15] miketaylr commented on #1552
Thanks!

[2017-07-14 20:52] miketaylr commented on #1651
No need for discussion, let's do it.

[2017-07-17 08:45] zoepage commented on #1659
The area is optional right now. We had a very long discussion at the Berlin work week about this.
Sometimes people report bugs e.g. on their phone and don't have a lot of time to add more info. As the info is extremely helpful, I understand that issue, but we decided on having a bug report is more important than having none at all, because it was too much hassle for someone to add info.

[2017-07-17 08:45] #1659 closed

[2017-07-17 11:54] zoepage commented on #1631
Things got tiny bit easier when #1656 landed, but I agree.

We could add a second start command to the npm scripts like `npm run start:test` and alias that, so it's easier to remember?

My initial thought was a combo of `python run.py -t` && `npm test`, but the issue here is, we'd need to start a second process for the tests and this is tricky from the package.json as it would need to "hook into t

[2017-07-17 15:25] zoepage opened #1661 "add python linting to automated local pre-commit linter"
It would be great to add the Python linter to our automated pre-commit linter, so it would catch errors before the Travis build runs.

[2017-07-17 16:31] zoepage commented on #1654
As this is nothing GH can do by itself, this could be helpful: https://github.com/probot

[2017-07-17 17:17] miketaylr commented on #1654
Ah that's cool!

We can actually enforce this from the webcompat.com frontend (since we control the universe there), if we decide we want to.

[2017-07-17 17:30] zoepage commented on #1654
@miketaylr

But also in the GitHub interface? 🤔

[2017-07-17 23:09] cch5ng opened #1662 "update whitelist to get additional url parameter from Nightly bug report"
related to https://bugzilla.mozilla.org/show_bug.cgi?id=1381545

after the bug above is merged, a webcompat.com bug reported from the FF Nightly menu button is  expected to include additional URL parameters.

if stylo is enabled, this string will be appended to the webcompat.com bug form url:
"&details=layout.css.servo.enabled: true&label=type-stylo" (plus relevant url escape codes)

- [x] update

[2017-07-18 12:56] zoepage commented on #1647
Closing as I can't reproduce. We can re-open, when it re-appears. :)

[2017-07-18 16:13] miketaylr commented on #1662
We want to add "type-stylo" to https://github.com/webcompat/webcompat.com/blob/master/config/__init__.py#L65.

[2017-07-18 16:15] miketaylr commented on #1662
(removing add-on label to not get confusing, this issue is about the built-in menu item in Firefox. Our add-ons live over here: https://github.com/webcompat/webcompat-reporter-extensions)

[2017-07-18 17:09] #1608 closed

[2017-07-18 17:31] zoepage commented on #1662
@miketaylr as this issue is related to Firefox, could we provide an alternative?

[2017-07-18 19:32] miketaylr commented on #1647
That's Firefox for iOS, in his screenshot.

[2017-07-18 19:45] miketaylr commented on #1647
Also, this reproduces on an iPod. Still a bug.

[2017-07-18 19:50] miketaylr commented on #1647
@magsout what's the state of remote debugging in Firefox for iOS? Possible? Does this repro in Safari Mobile?

[2017-07-18 19:54] miketaylr commented on #1662
An alternative label? I guess something that relates to the form. We probably don't have to spend too much time thinking about it -- @cch5ng should have it fixed this week. :)

[2017-07-18 20:00] #1643 closed

[2017-07-18 21:30] brizental opened #1665 "Get tests to pass with PRs from forks."
So, we use some encrypted variables in Travis and that is why the tests don't pass for forks.

Talking to @miketaylr, we decided it would be best to just go around the tests that need these secure variables for now. Basically make a subset of tests that don't need them for when the PR is from a fork.

Not ideal, but there is an open issue for encrypted vars to work with forks in the Travis repo (h

[2017-07-19 15:07] brizental opened #1666 "Get TravisCI functional tests to work with Browserstack."
So, Browserstack would let us run functional tests in a bunch of different browsers and OSs.
For now we could just start with testing in the latest version of Firefox, Chrome, Safari and Edge for Desktop (if that doesn't take too long).

[EDIT]

After discussing this issue in our team meeting, we decided that it's would be best to create a TravisCI cronjob to run periodically with Browserstack, in

[2017-07-19 15:08] brizental commented on #980
Closing this off so we can start fresh at #1666

[2017-07-19 15:11] brizental commented on #980
Closing this off so we can start fresh at #1666 :)

[2017-07-19 15:11] #980 closed

[2017-07-19 17:23] #1651 closed

[2017-07-19 17:39] #1571 closed

[2017-07-19 19:52] miketaylr commented on #1564
This one is trickier, hm.....

[2017-07-19 20:34] miketaylr commented on #1564
@denschub  just taught me about `@nonce` for inline script -- that seems like it will do the trick here! https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#Unsafe_inline_script

(maybe... will investigate how much work it'll be)

[2017-07-19 22:21] miketaylr commented on #1564
OK, it's a bit tricker to use nonce or hash-source than I thought, since the value of the flash message dynamically changes, coming from the server. Instead I'm using what feels like a mega hack -- sticking the `message` and `category` values on the `<script>` as data attributes, then reading those from within the script, which then dispatches the flash message.  More complicated than just a tiny

[2017-07-19 23:16] cch5ng commented on #1662
@miketaylr I made the config update as suggested. I also added a new label: 'type-stylo' to the repo:
https://github.com/webcompat/webcompat-tests/labels

however, when I'm trying to test end-to-end from my local Nightly build to saving a new issue, the issue now gets saved but the expected label does not appear in the description. I guess this requires an update to the BE python?

I guess I will

[2017-07-20 14:24] miketaylr opened #1669 "Use TravisCI only for cross-browser func testing (rather than BrowserStack, etc)"
Travis has the ability to run Chrome now, in addition to Firefox. And it's fast.

BrowserStack and Sauce are super slow, and have their own set of constraints.

Let's discuss.

+@brizental

[2017-07-20 14:43] zoepage commented on #1647
I just ran into the issue with Safari 10.1.1 and a resolution < 600px.

<img width="505" alt="screen shot 2017-07-20 at 4 33 53 pm" src="https://user-images.githubusercontent.com/562354/28423127-7f3ba7aa-6d6a-11e7-8acf-92dda6b95c05.png">

[2017-07-20 15:04] miketaylr commented on #1662
If you're passing in a `&label=type-stylo` GET param in the URL when the form is opened, it gets saved to the session object:

https://github.com/webcompat/webcompat.com/blob/2fa22118e5c2b23c552214c127d99d002e1c6353/webcompat/views.py#L165-L172

Then, when you POST to the new issue endpoing, that is pulled out of the session and attached to the `form` object (which gets passed to `report_issue`):

[2017-07-20 15:32] miketaylr commented on #1647
OK, so def a bug. Can you investigate @zoepage?

[2017-07-20 15:45] zoepage commented on #1647
I can tonight, yes @miketaylr

[2017-07-20 16:08] zoepage commented on #1647
After a quick first look the icon fonts are not displayed in a correct way, the contribute icon is a SVG (which works).

[2017-07-20 19:50] miketaylr commented on #1669
[code]

[2017-07-20 20:07] cch5ng commented on #1658
discussion: blur is a nice to have feature

Tom: blur could be a security issue

[2017-07-20 20:28] #1489 closed

[2017-07-20 20:32] zoepage commented on #1647
Looks like this bug also appears in FF Nightly 56, private mode from time to time (maybe just the first load).

Safari shows "Unrecognized Content-Security-Policy directive 'manifest-src'", so it's probably a CSP bug related to the manifest. (I feel like this could be related to app cache manifest, not webmanifest. But I also might be totally wrong. :grin: )

[2017-07-20 21:18] cch5ng commented on #1669
hi @brizental I like this idea. was wondering if Chrome will be tested on travis should I also assume that Chrome would be tested when running tests locally? one thing I've found confusing when running tests is when tests pass locally but fail on travis (vice versa).

[2017-07-20 23:56] cch5ng commented on #1662
I believe the webcompat.com text area height will need to be increased. when the pref: layout.css.servo.enabled = true, the string gets added to the text area as expected but at the current height, it does not display by default (and no scrollbar displays to indicate additional content)

<img width="549" alt="screen shot 2017-07-20 at 4 53 40 pm" src="https://user-images.githubusercontent.com/4755

[2017-07-21 09:02] MDTsai commented on #886
Read through this, so milestone will be used for status only, we need to remove current non-compat (or keep it as status-noncompat).

[2017-07-21 18:40] cch5ng commented on #1662
@miketaylr

on investigation, it looks like from the Nightly > Report Site Issue button, the url format looks like:
http://localhost:5000/?url=https%3A%2F%2Fcarrotech.wordpress.com%2F&src=desktop-reporter&details=layout.css.servo.enabled%3A+true&label=type-stylo

but it looks like the webcompat python code is expecting the url to include the "suffix": "/issues/new" to trigger the logic that result

[2017-07-21 18:49] miketaylr commented on #1662
@cch5ng

Yes, and that's where Firefox will send users by default:

http://searchfox.org/mozilla-central/source/modules/libpref/init/all.js#4939

I don't think anything needs to be updated. What is the value of `extensions.webcompat-reporter.newIssueEndpoint` in your local setup?

[2017-07-21 20:16] brizental commented on #1669
@cch5ng
Yes, Chrome will be tested in both environments :)
About that inconsistency, I think they usually happen because of intermittent errors in testing. Once that is sorted out, probably it won't happen anymore.

[2017-07-21 21:04] cch5ng commented on #1662
just in case: issue with sending label data to github api was resolved by changing Nightly preferences:

about:config?filter=newIssueEndpoint
should be "localhost://5000/issues/new"

(ie the problem was caused by setting the endpoint to "localhost://5000")

[2017-07-21 22:53] cch5ng commented on #1662
@miketaylr I ended up creating a checklist of todo's for this issue (it grew)
https://github.com/webcompat/webcompat.com/issues/1662#issue-243554112

so far I just created one new functional test to check if the new issue url contains the servo pref, a new string should be detected from the text area; also added skip() functions for 3 old media type report related tests (instead of removing them)

[2017-07-22 00:28] cch5ng commented on #1571
for future reference (if there is a latter resource for improvements to the current fix in place):

* https://github.com/webcompat/webcompat.com/wiki/Z-Intern-Drag-and-Drop-(dnd)-Notes
* https://github.com/webcompat/webcompat.com/pull/1670 (probably only the last commit is important)

[2017-07-22 01:28] brizental commented on #1470
While getting everything right for #1671 I think I figured out how to fix this, finally.

Looking at Leadfoot's documentation (https://theintern.github.io/leadfoot/module-leadfoot_Command.html#methods) I realized that most of the functions that get us in trouble return Promises, but in our code we use them as if they were synchronous functions. That's probably why we get less errors when running t

[2017-07-24 09:55] denschub commented on #1646
Probably a rude question (😸), but @cch5ng, is this on your list of priorities? Our bug reports get a bit messy with quite a few of them having the dummy text submitted. :)

Also, it's worth noting that placeholder attributes [cannot contain line breaks](http://w3c.github.io/html/sec-forms.html#the-placeholder-attribute), sadly.

[2017-07-24 15:52] cch5ng commented on #1646
@denschub I don't have an issue with working on this since a couple reprioritized tasks are on hold. actually shortening the placeholder would fix a visual usability issue I was seeing on https://github.com/webcompat/webcompat.com/issues/1662#issuecomment-316862852

how about placeholder text like: "Steps to reproduce this issue"?

in the past it appeared there were lengthy discussions about text

[2017-07-24 18:32] cch5ng opened #1673 "bad file path in .travis.yml file causes travis process to exit early"
the travis build/test process is exiting early

error: The command "pep8 --ignore=E402 webcompat/ tests/ config/secrets.py.example" failed and exited with 1 during .

looks like unnecessary spaces somehow got inserted in the path:
https://github.com/webcompat/webcompat.com/blob/master/.travis.yml#L46

[2017-07-24 19:44] miketaylr commented on #1673
That means you have a linting error somewhere, rather than a problem with that specific line.

(https://github.com/webcompat/webcompat.com/commit/1ea1a7d786ab035eba8430d50988482f93244c90 hasn't changed since Dec 2015, so if it's failing now it's a hint that your code is violating some pep8 linting rule).

[2017-07-24 19:54] miketaylr commented on #1673
@cch5ng https://travis-ci.org/webcompat/webcompat.com/builds/256998399#L603 has the error pep8 was complaining about:

`webcompat/form.py:62:1: E302 expected 2 blank lines, found 1`

Let's go ahead and close this issue.

[2017-07-24 19:54] #1673 closed

[2017-07-25 00:24] cch5ng commented on #1673
ah, sorry about that. the error was confusing but will add a note to
include pep8 in my checklist.

On Mon, Jul 24, 2017 at 12:54 PM, Mike Taylor <notifications@github.com>
wrote:

[2017-07-25 18:53] miketaylr commented on #1662
cool.

no, for now we don't create issues to avoid github labeling us as spammers.

(this already exists)

[2017-07-25 19:43] miketaylr commented on #1470
Can you give some examples? The whole point of Promises is that you can treat them as if they were sync, and that they shouldn't progress down the promise chain until the previous promise resolves (or gets rejected...)

[2017-07-25 19:44] miketaylr commented on #1470
callback hell doesn't really bother me, fwiw.

[2017-07-25 21:40] cch5ng commented on #1646
updating as the requirements of this issue have changed:
* the old default value (list of steps) for the bug form text area was retained but new logic was added

* case 1: (default) the text area has default value only
* case 2: the text area  has default value + prepopulated additional string (ex servo/stylo pref from Nightly or Dev builds)

in both cases,
 * if the user clicks the text area, the

[2017-07-25 22:55] karlcow commented on #1661
This is dependent on the solutions retained for #1473

[2017-07-25 23:07] karlcow opened #1677 "Refactor and improve the webhook flexibility"
Based on the pull request #1597, we will refactor a bit the code in the webhook.
So it becomes easier for others to add further features.

[2017-07-25 23:12] karlcow commented on #1551
Per discussion in San Francisco, we decided to stop the `type-media` firehose. https://wiki.mozilla.org/Compatibility/Meetings/2017-06-29#Type-media_future_.28karl.29

There's a followup issue to benefit of the code improvements done with this work. see #1677

[2017-07-25 23:12] #1551 closed

[2017-07-25 23:57] karlcow commented on #596
https://github.com/blog/2398-better-manage-issues-and-pull-requests-with-keyword-updates

` duplicate of #`

Interesting to dig further.

[2017-07-26 01:19] #1564 closed

[2017-07-26 15:33] brizental commented on #1618
@karlcow I was looking at this issue and the reason why some tests from `test_api_urls.py` fail is that we don't start the server is test mode for this suite. We have a comment saying that we don't want fixture data for this suite in particular (https://github.com/webcompat/webcompat.com/blob/master/tests/test_api_urls.py#L28-L29), why is that? If I can't change this I don't know how I can get thi

[2017-07-26 16:48] cch5ng commented on #1658
@miketaylr questions:
* at what point in the flow do you expect image editing to happen?
  * only before the initial issue is saved?
  * also after the issue has been created? (after issue has been saved, user can upload additional images, do these need an editor feature?)

* is canvas the only/best option? is it possible to use svg for this? would there be any benefits?

* do you need to keep a c

[2017-07-26 18:40] #1662 closed

[2017-07-26 19:47] miketaylr commented on #1658
For now, let's scope it to this. The user should be able to edit their screenshot/image upload from the New Issue form, before upload.

Seems like a good follow up issue.

[2017-07-26 19:48] miketaylr commented on #1658
I don't know why we would use svg for editing bitmaps/manipulating pixels, so let's stick to canvas.

[2017-07-26 19:49] miketaylr commented on #1658
we don't want to keep the original -- the point of the feature is for the user to be able to edit sensitive information. if we keep the original... there's no real point. we might consider creating an undo/redo stack of edits, but that should be follow-up work.

[2017-07-26 19:50] miketaylr commented on #1658
Only once, when it's POSTed to the server.

[2017-07-26 19:50] miketaylr commented on #1658
Not for this first version. Let's file a follow up issue after we ship v1.

[2017-07-26 19:52] miketaylr commented on #1658
Possibly? Some kind of modal-ish dialog could work. Keep in mind we'll want this to work for mobile users at some point as well (even if not v1).

[2017-07-26 19:53] miketaylr commented on #1658
I would prefer for this to be follow up work. v2 or beyond.

[2017-07-26 19:55] miketaylr commented on #1658
For now, I'd like it to be simple. Things can change in the future, but let's plan for the restricted feature set.

[2017-07-26 19:55] miketaylr commented on #1658
Note: let's skip blur.

[2017-07-26 19:56] miketaylr commented on #1658
Just thinking through how we might make this work for touch/mobile and desktop users. v1 should be restricted to desktop, but ideally we have mobile support at some point after.

[2017-07-26 19:59] miketaylr commented on #1658
To expand here, here's what I imagine we do to get started:

1. someone clicks edit (or something)
1. the user is presented with editing tools
1. a canvas element is created, the existing dataURI preview image is `drawImage`'d into the canvas element
1. the user manipulates the canvas pixels with the tools, via canvas APIs
1. when the user clicks save (or something), the canvas is `toDataURL`'d an

[2017-07-26 22:54] miketaylr opened #1679 "Do the work to remove 'unsafe-eval' from CSP for script-src"
The blocker is using lodash templates. I have a plan to do pre-compiled template functions, which should let us maybe even reduce the size of our lodash build we send over the wire (since we won't need template parsing).

[2017-07-26 23:25] karlcow commented on #1618
That's one possibility. Another one is to mock the data (if we can). I tried a couple of times, was close to manage it, but there was still a small things missing. Mocking is less complicated than I thought at the beginning.
see https://github.com/webcompat/webcompat.com/blob/cc7aed70713a48f8c04082fcc2ac42c218967d77/tests/test_topsites.py#L35-L40

[2017-07-27 01:28] miketaylr opened #1680 "label editor: TypeError: e is undefined"
STR:

1) login, go to any issue
2) click label editor icon to open
3) click it again to close

expected: editor closes
actual: doesn't close

Not sure when, but this regressed. We'll need a test as well.

[2017-07-27 01:31] miketaylr commented on #1680
@brizental if you get bored with tests, wanna investigate?

[2017-07-27 01:37] cch5ng commented on #1658
@miketaylr there's a quick demo just for the rectangle drawing parts (your 4):
https://cch5ng.github.io/image-edit/

(the yellow square is a placeholder for the highlight rectangle button; the blue square is a placeholder for the redact rectangle button)

it's rough and I'll change details like the controls will be moved out of the canvas and have a smaller graphic button. other steps are to integ

[2017-07-27 03:35] karlcow commented on #1083
If we know who has set the label "sitewait"…

hmm let's check this. Testing on and setting sitewait.

http://localhost:5000/issues/600

This creates two webhooks. An unlabeled and a labeled actions. In the labeled action (after removing the cruft, we find)

[code]

So yes we could generate a `sitewait` flat file or db, where we have

`issue_number, labeled_on, by`

where `labeled_on` is the 1st da

[2017-07-27 07:30] karlcow commented on #1529
So going through
https://www.webpagetest.org/result/170727_M0_FAA/

I noticed that we were sending two upload images.
One is http://localhost:5000/img/upload-loader.svg
and the other one is http://localhost:5000/img/loader.gif

The SVG is used now on the site.

But there is still a request done for loader.gif from the CSS.

[code]

[2017-07-27 14:10] miketaylr commented on #1669
Re-opening because we only fixed this for local, so let's do it for Travis as well.

[2017-07-27 14:47] miketaylr commented on #1529
Thanks @karlcow! We def don't need 2. :)

[2017-07-27 17:48] brizental commented on #1666
So, I was having a problem with remote file upload. After contacting the Browserstack support and asking a question in Stack Overflow I managed to get it working. Actually the Browserstack support wasn't much help, because the solution they gave me didn't really work for Intern.js. Anyways, just for documentation here is the link for the Stack Overflow question: https://stackoverflow.com/questions

[2017-07-27 22:12] brizental commented on #1669
Closing the issue again because just realized that it is working in Travis after all.

[2017-07-27 22:12] #1669 closed

[2017-07-27 23:07] brizental commented on #1666
[UPDATE]
So right now everything is working kinda great with Firefox and Chrome. I managed to get all tests to pass for these two browsers, but we still have some intermittent failures. Need to troubleshoot for Edge and Safari, because there are A LOT of tests failing with these two. Safari doesn't even finish the test suite, when it gets to the end it just hangs forever... That's it for now.

[2017-07-28 09:09] Akshitaag commented on #1650
Hii.
Can i work on this? I am a beginner.How do i proceed?

[2017-07-28 11:50] denschub commented on #1650
Hi @Akshitaag! You sure can work on this! It's good to start with reading our [`CONTRIBUTING.md`](https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md), which describes the entire process from getting the sources to your machine to finally submitting a pull request in fair detail.

If you run into any issue, we do have an [IRC channel](https://github.com/webcompat/webcompat.com/b

[2017-07-28 12:24] Akshitaag commented on #1650
@denschub thank you for your response
i am running into an error while trying to build up a development environment on cloud9. Should i ask in irc ?

[2017-07-28 15:52] zoepage commented on #1650
@Akshitaag You can ask your question here and if you need a more urgent answer, IRC would work too. :)

[2017-07-28 16:02] Akshitaag commented on #1650
when i run 'npm run setup ' below stated error occurs:

npm run setup

Downloading/unpacking virtualenv
  Downloading virtualenv-15.1.0-py2.py3-none-any.whl (1.8MB): 1.8MB downloaded
Installing collected packages: virtualenv
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, arg

[2017-07-28 16:29] zoepage commented on #1650
@Akshitaag looks like you need to grand permission, so the install can run through.
[code]
Did you try `sudo pip install virtualenv`?

[2017-07-28 17:10] Akshitaag commented on #1650
@zoepage thanks for your help.It worked

[2017-07-28 17:58] Akshitaag commented on #1650
Configuration Problem:
Under configuring the server:
How do i proceed with the step 3:
Step 3:Add the client id and client secret to secrets.py. If you're part of the webcompat GitHub organization, you can get the client id and client secret from GitHub. Otherwise, create your own test and production applications (instructions here) — when prompted for a "Authorization callback URL", use http://lo

[2017-07-28 18:17] #1677 closed

[2017-07-28 19:28] miketaylr commented on #1650
Did you follow the create the app at https://github.com/settings/applications/new? (Be sure to write down the id and secret, and put that in secrets.py around here: https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example#L62)

[2017-07-28 19:31] miketaylr commented on #1650
Also, that's probably not 100% necessary unless you plan on testing issue creation -- the app should boot up without that (meaning it should work unless you try to create a new issue.

[2017-07-28 20:28] miketaylr commented on #1666
Awesome @brizental. Just remember, you managed to increase cross-browser coverage from 0 to 100%! :D

[2017-07-29 14:27] cch5ng commented on #1655
I think I introduced this bug during changes for #1547. was not sure quite how to debug but can work on this...

[2017-07-31 01:01] karlcow commented on #1680
@miketaylr not sure it's related, but setting a label and clicking outside of the menu doesn't work anymore too.
It seems now that you need to explicitly click on save and close.

[2017-07-31 01:21] karlcow opened #1685 "Add detection for Firefox Focus"
from https://github.com/webcompat/web-bugs/issues/8470

[2017-07-31 01:39] gloomy-ghost commented on #1685
UA: `Mozilla/5.0 (Linux; Android 7.1.2) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Focus/1.1 Chrome/59.0.3071.125 Mobile`

[2017-07-31 12:36] zoepage commented on #1680
@karlcow This was intentional. How much does it bother you?

[2017-07-31 12:52] zoepage commented on #1530
After checking the mockups, we decided to go with it. This can be seen in the [Living Style Guide](https://github.com/webcompat/design)

[2017-07-31 12:52] #1530 closed

[2017-07-31 12:53] zoepage commented on #1422
Added to mockups in [Living Style Guide](https://github.com/webcompat/design), but will not be implemented yet as we will just refactor the old content in the first step. Also feedback was already added to mockups. So, closing for now.

[2017-07-31 12:53] #1422 closed

[2017-07-31 12:56] zoepage commented on #1310
The related repo can be found [here](https://github.com/webcompat/webcompat-cli-tool).
It will be released as a npm package and installed with initial `npm install`.

For implementation reasons, it can be added to a branch in webcompat.com. Depending on what makes it easier to switch from `secret.py` to `secret.json`.

@karlcow what do you prefer?

[2017-07-31 12:58] zoepage commented on #1596
@cch5ng what is the status of that issue? :)

[2017-07-31 13:05] zoepage commented on #1258
At the SF work week, we spoke about the labels in general and realized we use too many colors. The decision to clean up the labels was made.

1. We group labels by type. E.g. browsers, devices or status
2. All groups get a color assigned.

##### List of all used labels (last state: 07.17) and colors (if not default)
<details>Context Labels
Default: #ED
Browser-android #2AB
Browser-chrome: #E65
Bro

[2017-07-31 13:47] zoepage commented on #1442
This will be solved in the big refactor soon. Mocks can be seen in the [design repository](https://github.com/webcompat/design).

[2017-07-31 13:47] #1442 closed

[2017-07-31 14:12] zoepage opened #1686 "bump dependecies"

[2017-07-31 17:28] miketaylr commented on #1685
We'll need to get the upstream ua-parser fixed first: https://github.com/webcompat/webcompat.com/blob/master/config/requirements.txt#L13

@karlcow can you file a bug over there and/or send a PR?

[2017-07-31 18:31] #1686 closed

[2017-07-31 18:40] miketaylr commented on #1680
I prefer the older "click outside to save" behavior (b/c it matches GitHub's).

[2017-07-31 18:41] miketaylr commented on #1680
Not sure when the change was introduced, can you file a new bug for that?

[2017-07-31 19:27] miketaylr opened #1688 "https://webcompat.com/#contribute link doesn't work as expected"
When you visit https://webcompat.com/#contribute, you should see the "Help us improve the web" header -- not issues.

We could fix this with some code similar to this, which would probably live in homepage.js:

https://github.com/webcompat/webcompat.com/blob/8fadbd6463464c5120586583bef8651980e2350e/webcompat/static/js/lib/contributors.js#L20-L29

[2017-07-31 21:08] miketaylr commented on #1680
@brizental seems like the bug is here:

https://github.com/webcompat/webcompat.com/commit/d11ea5e8429c030f7c025c4ad723a40426ca96b1#diff-4e6286167906e6713e9772fa9eae96eaR189

[code]

(I didn't follow this PR or do review... but the first line is trying to handle escape key, right? isn't that covered by the following already?

https://github.com/webcompat/webcompat.com/commit/d11ea5e8429c030f7c025c4

[2017-07-31 21:15] miketaylr commented on #1680
Hmm... looking more at this code, did we ever actually support that? Looking at the v2.6.0 version of labels.js (about 1 year ago), https://github.com/webcompat/webcompat.com/blob/8850d9f743602988b85bf3d8697f54943460e11d/webcompat/static/js/lib/labels.js

I only see `esc` and clicking on `button` (the "save and close" text) as ways to close and save the editor.  We could add that behavior easily t

[2017-07-31 21:34] miketaylr commented on #1680
OK... down a tiny rabbit hole, the code we used to handle this with was in the `MainView`, so if body got a click event we would call `closeLabelEditor`:

https://github.com/webcompat/webcompat.com/blob/8850d9f743602988b85bf3d8697f54943460e11d/webcompat/static/js/lib/issues.js#L378-L390

[2017-07-31 21:41] karlcow commented on #1258
Thanks @zoepage

Some other constraints.
* Status labels will disappear soon.
* labels colors are currently set through github backend. We could change that by setting them through a configuration file and ignore the labels on GitHub. (or make a script setting the colors on GitHub backend)
* we currently have:
  * `type-*`
  * `browser-*`
  * `status-*`
  * and the rest not really categorized, pro

[2017-07-31 21:41] miketaylr commented on #1680
@karlcow nevermind, I can fix it in this bug since it's related-ish. Thanks for noticing.

[2017-07-31 22:14] karlcow commented on #1680
@zoepage to "How much does it bother you?" well I had to fix yesterday, all the bugs I had edited through webcompat last week, because the labels didn't get set :) and I used yesterday github instead of webcompat because of that. Changing labels is one of the main thing I do on the project. :)
@miketaylr Thanks a lot

[2017-08-01 01:05] karlcow commented on #1310
@zoepage Thanks for starting this.
* What is the **current CLI** is doing (and not doing)?
* Could you walk us through what is happening for a user without the project on its computer?

So I can better understand the loosely joined links we need in between the two. I assume a user has the bash prompt in front of his/her eyes. What is happening? :)

[2017-08-01 05:12] cch5ng commented on #1658
hi @miketaylr, I'm pretty sure my initial thoughts for handling the mouse drag (to draw the rectangle borders in real time) were not complete and am trying to rethink about the logic. could I get a sanity check if my current logic seems reasonable?

I feel like I've done something similar in the past where I was doing a constant diff between an old mouse position (from previous point in time) to t

[2017-08-01 05:52] karlcow commented on #886
Some thoughts around that. A quick search for status in the code. This is missing probably the CSS.
With @magsout we discussed options during our long walk to the closing event in San Francisco for the html/css part.

[code]

For example looking at the needstriage, we can see the extent

[code]

## Status

1. needstriage
2. needsdiagnosis
3. needscontact
4. contactready
5. sitewait

## Closing an

[2017-08-01 05:58] karlcow commented on #886
The [API for milestones](https://developer.github.com/v3/issues/milestones/)

The way to set or remove a milestone on an issue.
https://developer.github.com/v3/issues/#edit-an-issue

[2017-08-01 07:14] karlcow commented on #886
So I did a bit of testing on creation and deletion of milestones. The milestones id get incremented by one  (sequentially) as long as there is at least one milestone. On the other hand, it restarts at 1 after deletions of all milestones.

[2017-08-01 10:23] zoepage commented on #1688
If this a follow up for #1682 or an issue on live?

[2017-08-01 10:50] karlcow commented on #1310
from IRC.

secret.py was created **for this**. Before we had, only one `config.py` with all the config stuff. :)

[2017-08-01 10:52] zoepage commented on #1310
What is this? (So no miscommunication happens.)

[2017-08-01 11:13] karlcow commented on #1310
@zoepage

in the `config/` directory.

* secret.py https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example
* environment.py https://github.com/webcompat/webcompat.com/blob/master/config/environment.py

Decision was made in #786

[2017-08-01 13:01] miketaylr commented on #1310
(fwiw, we need the env variable part for travis)

[2017-08-01 15:02] zoepage commented on #1310
My initial thought was to remove them from the config, but add them in a different layer as it feels like the config should "just" be the holder of the credentials and mainly for the local setup.

(Maybe I got @miketaylr wrong on the local setup part.)

[2017-08-01 15:20] zoepage opened #1690 "Link to comments in issue available after refresh"
STR
1. Open an existing issue.
2. Comment on that issue & post comment.
3. Click on the link to the comment (e.g. 2 minutes ago).

EB:
Direct link to comment is available.

AB:
The link is just an empty anchor.

[2017-08-01 15:25] zoepage commented on #1258
🎉

Changing them in the GH interface makes sense, so we stay transparent and do not create "magical behavior" people do not know how to e.g. change. It is also nice to give it some contingency in both interfaces as people sometimes work in GH issues (although they should work on webcompat.com).

We also have things like NSFW. Where would this go?

++1

[2017-08-01 15:30] zoepage commented on #1631
We talked about this last week in the european-friendly webcompat.com meeting.
A way to go would be to write a small bash script to take care of that issue (firing up two processes, depending on each other and exit, if necessary.) But this also might be total over-engineering. (It probably is).

Maybe we could also solve the issue with improving the docs or adding another npm script to like `npm r

[2017-08-01 15:44] miketaylr commented on #1688
This reproduces on webcompat.com right now, in production.

[2017-08-01 15:55] zoepage commented on #1688
Hm, weird. Because I can't. So, it is probably related to the loading time of the issues, right? 🤔

[2017-08-01 15:59] zoepage commented on #1480
Closing and adding the backlog label, so we can revisit.

[2017-08-01 15:59] #1480 closed

[2017-08-01 16:02] zoepage commented on #1436
@miketaylr

Is there a reason we did not close?

[2017-08-01 16:05] miketaylr commented on #1436
Nah, probably just forgot.

[2017-08-01 16:05] #1436 closed

[2017-08-01 16:06] zoepage commented on #1295
Let's close as this is for backlog anyway...

[2017-08-01 16:06] #1295 closed

[2017-08-01 16:36] #1641 closed

[2017-08-01 16:45] miketaylr commented on #1688
Here's a gif of what I see in DevEdition/55

![hash-contribute](https://user-images.githubusercontent.com/67283/28836552-fa521328-76ae-11e7-9e5f-e7aa57712c03.gif)

[2017-08-01 16:49] #1679 closed

[2017-08-01 16:59] miketaylr opened #1693 "Add SRI attributes for external scripts"
(this is just for google analytics -- our only 3rd party script)

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/layout.html#L44

https://wiki.mozilla.org/Security/Guidelines/Web_Security#Subresource_Integrity

[2017-08-01 17:02] miketaylr commented on #1693
Uhm, maybe not. https://github.com/mozilla/http-observatory/issues/125#issuecomment-246488780

[2017-08-01 17:02] #1693 closed

[2017-08-01 18:15] miketaylr opened #1694 "Missing label editor gear in Safari"
In Safari 10.1.2, on OSX 10.11.6

1. be logged in
2. go to an issue

expected: can see label editor gear to edit labels
actual: it's hidden! if you click on where it should be, it opens as expected. weird.

<img width="1111" alt="screen shot 2017-08-01 at 1 12 14 pm" src="https://user-images.githubusercontent.com/67283/28840039-47ed7670-76bb-11e7-98f7-10eec80ef30b.png">

[2017-08-01 18:52] miketaylr commented on #1647
If you want to test that theory you can modify the `add_csp` method here: https://github.com/webcompat/webcompat.com/blob/master/webcompat/helpers.py#L486

[2017-08-01 19:28] brizental opened #1695 "Tests in Reporting (non-auth) being skipped."
So, we are skipping some tests right now, but the code we test in them is still in production.

These are the tests being skipped:

[code]

I think if the code is not being used it should just be removed, but if it's being used in any way it should be tested.

[2017-08-01 20:15] brizental commented on #1694
So, I did some debugging on this, but I have no idea why it's happening. At first I thought it would be something simple, like this https://stackoverflow.com/questions/37155086/some-font-awesome-icon-not-rendering-in-safari and it makes sense, but  the solution did not work for us. Do you have any other ideas @miketaylr ?

[2017-08-01 20:28] miketaylr commented on #1694
The only thing that immediately comes to mind is that the `aria-hidden=true` attribute there on the `<button>`. That shouldn't be there, right? Is it the same in other browsers? Might be a clue at something funky.

[2017-08-01 20:32] miketaylr commented on #1695
Thinking about this, I probably shouldn't have r+'d the patch to disable these. We currently are relying on the `details` param not exploding for some recent work @cch5ng did around stylo prefs. I also think we don't want to regress `problem_type` param behavior, even if nothing is using it.

So my vote would be to re-enable the tests -- they're not even specific to `type-media`, they just happen

[2017-08-01 20:40] #1680 closed

[2017-08-01 20:43] miketaylr commented on #1658
What do you mean by shift axis? Are line 1 and line 2 left and top, respectively?

That sounds reasonable to me, if I'm understanding what you're saying correctly.

[2017-08-01 21:23] cch5ng commented on #1596
@zoepage I have not been working on this one; right now I'm mainly working on the Image Editor. thx...

[2017-08-01 21:34] cch5ng commented on #1695
@brizental @miketaylr I originally marked those tests to skip and am looking at them again

1 https://github.com/webcompat/webcompat.com/blob/master/tests/functional/reporting-non-auth.js#L274-L287
I think this one is specific to the media type reporting tool but that's fine to unskip if you prefer

2 the last 2 tests I agree are not specific to the media type reporting tool
https://github.com/web

[2017-08-01 23:57] karlcow commented on #1258
@zoepage
We could keep the consistency in between webcompat.com and github by pushing the colors to Github. see https://developer.github.com/v3/issues/labels/#update-a-label

The benefits is that it makes it possible to have a nice file with the config for the colors without going through the UI to set the colors manually.

Would that work for you?

[2017-08-02 00:00] karlcow commented on #1258
@zoepage

It could go in type as we can have multiple `type-*` for an issue. Or it could just stay as-is.

[2017-08-02 01:25] brizental commented on #1694
@miketaylr oh yes. I tried changing that, no success. hahaha.

[2017-08-02 02:36] cch5ng commented on #1695
chatted a little with Bea and I think for the last 2 tests (comment above), I need to make updates for #1646, and so I will also remove the skip() function on the first test at that time

[2017-08-02 09:48] zoepage commented on #1694
It's the same issue as with the icons above. All icons related to the icon font won't be displayed

[2017-08-02 09:52] zoepage commented on #1258
@karlcow that sounds like a good idea :) I like configs in one place :)

Also the type-NSFW sounds good :)

[2017-08-02 13:04] zoepage commented on #1647
Webkit has issues with `manifest-src` and jumps to the fallback, which is `default-src 'none';`.

A work around would be to send a different policy for webkit, like
[code]

But this does not solve the issue here. Investigating further.

[2017-08-02 14:34] softvision-sergiulogigan opened #1696 "The Labels' Save & Close button is not working"
**Environment:**
Browser / Version: Chrome 59.0.3071.115 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: (eg.)https://webcompat.com/issues/8621
2. Click on the Gear icon, on the right.
3. Select some labels.
4. CLick the Save & Close button.

**Expected Behavior:**
The Labels list is closed.

**Actual Behavior:**
Nothing happens.

*

[2017-08-02 14:35] softvision-sergiulogigan commented on #1696
Might be related to #1680

[2017-08-02 14:43] miketaylr commented on #1696
@sergiorojasa i probably broke this! as a workaround, either hit `esc` or click outside the label editor and it will save label edits. Will fix today. 🙈

[2017-08-02 16:35] zoepage commented on #1647
Thanks to @denschub and a great debug session, we found it.
So, Safari 10.1.1 runs CSS2, which has issues with the short notation for font. I'll send in a PR tomorrow latest.

[2017-08-02 18:30] miketaylr commented on #1647
Yeah, seems like they just don't support that yet. Changing default-src to self for everything seems OK. I don't think we have any need for object-src.

[2017-08-02 23:41] karlcow commented on #456
paper trail with regards to the last comment
https://github.com/webcompat/webcompat.com/issues/1640#issuecomment-313618570

[2017-08-02 23:53] karlcow opened #1699 "upgrade npm lodash to 4.0.0"
From #1679

This morning I had to install a new module. Doing that, npm warned me about lodash 2.4.2 not being maintained anymore.

[code]

[2017-08-03 00:34] miketaylr commented on #1695
Kind of. It's testing a `problem_type` GET param that the type-media tool sent. But it's not the only way it could be used in the future. And since we haven't deleted the `problem_type` support from the app itself, I don't think we should disable it.

(Note, I originally r+'d the disabling of these tests, but I think we should re-enable them).

Also, I don't think we should fix this bug in any oth

[2017-08-03 00:49] miketaylr commented on #1699
We use lodash 3.10.1 in the app: https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/vendor/lodash.custom.min.js

I *think* that npm error is complaining that `grunt-contrib-jst` has an older lodash dependency:

https://github.com/gruntjs/grunt-contrib-jst/blob/master/package.json#L20

[2017-08-03 08:06] zoepage commented on #1647
Without the object-src we give access to modules, which might add a security issue.
(At least this is what Freddy Braun from our security team said)

[2017-08-03 14:13] brizental commented on #1694
Duplicate of #1647

[2017-08-03 14:13] #1694 closed

[2017-08-03 14:16] miketaylr commented on #1647
I'm not sure I understand this... can you open a new issue for `manifest-src` and discuss there?

[2017-08-03 14:37] zoepage opened #1701 "webcomat issue with CSP LVL3 in webkit"
Follow up for https://github.com/webcompat/webcompat.com/issues/1647#issuecomment-319665648

@miketaylr
In https://github.com/webcompat/webcompat.com/blob/master/webcompat/helpers.py#L496
`manifest-src` is not supported in webkit as it has a partial implementation of CSP LVL3: https://webkit.org/status/#?search=csp

The `manifest-src` is not supported and jumps to `default-src`, which is set to `n

[2017-08-03 14:43] miketaylr commented on #1701
Got it, thanks!

[2017-08-03 14:54] brizental opened #1702 "Add PEP8 validation pre-commit."
I guess the title says it all.

We have that for JS and CSS, might as well have it for Python :)

[2017-08-03 14:58] #1696 closed

[2017-08-03 14:59] brizental commented on #1702
Duplicate of #1661 oops

[2017-08-03 14:59] #1702 closed

[2017-08-03 15:40] #1647 closed

[2017-08-03 16:24] cch5ng commented on #1695
@miketaylr

hi, in changes for #1646, I've added back this line to the media type test:
`this.skip("former media type reporting test");`

I only removed it in my PR to save Bea the bother. the other two tests (if reenabled here) are impacted by my changes to #1646. one test will break as a result of your change request and one test becomes obsolete (it will always pass b/c the test definition beco

[2017-08-03 16:43] cch5ng commented on #1695
all of the tests from https://github.com/webcompat/webcompat.com/issues/1695#issuecomment-319503849

were reverted back to their original state in #1646. they are still marked as to skip.

[2017-08-03 17:54] brizental opened #1704 "Get funcional tests to run in Safari and Edge locally."
So, since we are going to test these two browsers in Browserstack, I thought it would be good to be able to also test them locally.

Now, it wouldn't be really nice to have 3+ browsers run every time we test something. So, to address that issue, I thought about adding an argument where we list all browsers we want to test with when testing. Something like `browsers=firefox, chrome`.

For that we j

[2017-08-04 23:21] miketaylr commented on #1646
Closing this, will open a new follow up.

[2017-08-04 23:21] #1646 closed

[2017-08-04 23:22] miketaylr commented on #1658
Closing this, will open a follow up later.

[2017-08-04 23:22] #1658 closed

[2017-08-06 00:16] gvanwaelvelde commented on #1696
This issue still exists for me in Firefox 54, Firefox 57, Google Chrome 59 and Google Chrome Canary 62 on Android 6.0.1

[2017-08-06 15:49] ayushi-jain97 opened #1705 "Highlight search bar on clicking icon"
![webcompat](https://user-images.githubusercontent.com/19989931/29004883-b6c5d986-7aec-11e7-9877-1bf6df2ca206.jpg)

On clicking the search icon (red), the search box (blue) should be highlighted. Also, the cursor should jump to the text area.

[2017-08-06 21:23] zoepage commented on #1705
Thanks for the report. This is already on our roadmap for the refactor of the site. :)

[2017-08-07 00:40] karlcow commented on #1705
Thanks @ayushi-jain97
@zoepage do you mean #1296 ?

[2017-08-07 06:52] mozfreddyb commented on #1647
To clarify:
if you do not set object-src to 'none' (explicitly or implicitly via default-src), you'll allow plugins like Flash, Silverlight, ActiveX which can be a similar XSS risk like inline scripts.

[2017-08-07 09:29] karlcow commented on #1618
Oh and this PR is probably one of the nails into finishing #396

[2017-08-07 09:40] karlcow commented on #1305
To make it simpler. Probably let's start with the close button triggering a reason. @miketaylr suggestion of bugzilla UI is good.

Close, choose:
* Wontfix
* duplicate -> request the number (webc / bugzilla)
* fixed
* invalid
* incomplete

Then in a second stage we could add boilerplate choice for invalid, incomplete. Even for duplicate, I'm thinking, It's an HLS issue, a TP issue, a MarkFeel issu

[2017-08-07 10:03] karlcow commented on #596
An example.
This is the list of all events for the issue 8684
https://api.github.com/repos/webcompat/web-bugs/issues/8684/events

As we can see, there are the usual "labeled" events and a "marked_as_duplicate" event which gives an URI.
https://api.github.com/repos/webcompat/web-bugs/issues/events/1194983872

💩 weird… because they don't take full advantage of it. They lost the opportunity to give a

[2017-08-07 16:11] brizental commented on #1666
[UPDATE 2]
Waiting on #1704 .

[2017-08-08 19:05] miketaylr opened #1707 ""How did you get there" text should be removed (for now)"
It should get cleared out, rather than submitted to the server.

Note: We can't use `@placeholder` because linebreaks aren't allowed (which is lame).

See also #1646.

[2017-08-08 23:26] karlcow commented on #1707
I was just curious. so I did this.
http://imgur.com/a/OhEGT
Firefox, Safari and Chrome. Only Chrome seems to interpret a bit of special characters in placeholder.

Then maybe we are abusing the placeholder in our case: https://html.spec.whatwg.org/multipage/input.html#attr-input-placeholder

[2017-08-08 23:33] karlcow commented on #1707
https://www.nngroup.com/articles/form-design-placeholders/

[2017-08-09 14:35] miketaylr commented on #1707
@karlcow do you think we should just have no placeholder and an empty textarea? It's certainly easier to implement. :)

[2017-08-10 00:35] karlcow commented on #1707
My growing impression yes. And gives the instructions on the side or before/after.

[2017-08-10 06:14] karlcow commented on #1661
@zoepage to clarify the goal of your issue. Do you mean this?

The linter will block the commit if the code is not respecting the rules we defined?
flake8 has an option for installing the hook.
https://flake8.readthedocs.io/en/latest/user/using-hooks.html

[2017-08-11 11:39] #1618 closed

[2017-08-11 11:45] softvision-sergiulogigan opened #1709 "An infinite spinner is displayed when submitting a bug with an animated gif attached"
**Environment:**
Browser / Version: Chrome 60.0.3112.90 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Fill in all the fields, and select any radio buttons.
3. Attach an animated gif file to the bug.
4. Click on Report.
5. Remove the attachment.

**Expected Behavior:**
St. 4: An error is displaye

[2017-08-11 11:55] softvision-sergiulogigan opened #1711 "Unable to use the same attach method 2 times in a row"
**Environment:**
Browser / Version: Chrome 60.0.3112.90 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Attach a supported image (either Drag-and-drop or "Upload screenshot" link).
3. Remove the attached image.
4. Attach a supoorted image (the same method used at step 2).

**Expected Behavior:**
T

[2017-08-11 12:33] brizental commented on #1704
Just found out that Travis CI has an OS X environment. Leaving this here for future reference: https://docs.travis-ci.com/user/reference/osx/

[2017-08-11 15:29] #1665 closed

[2017-08-11 15:30] miketaylr commented on #1707
I don't really want to do another redesign of the form (since we plan to do that at some future point), so I propose we remove all placeholder text now and see how it goes.

[2017-08-11 17:44] rheaparekh commented on #1650
Hello, I am new here. Can I continue with this issue?

[2017-08-11 20:26] miketaylr commented on #1709
@softvision-sergiulogigan can you attach one of those gifs to this bug plz?

[2017-08-12 13:30] apoorvasingh17 commented on #1650
I'm a beginner and would like to work on this issue. Can anyone give me some pointers regarding the same?

[2017-08-12 13:31] apoorvasingh17 commented on #1622
Hello....I'm a beginner and would like to work on this issue. How should I get started?

[2017-08-12 13:31] apoorvasingh17 commented on #1636
Hello....I'm a beginner and would like to work on this issue. How should I get started?

[2017-08-12 21:26] denschub commented on #1650
Basically yeah, everyone is welcome to contribute. We have a nice documentation in [`CONTRIBUTING.md`](https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md) which covers everything from picking an issue to creating a pull request. Also, if you are stuck somewhere, the document also includes information on how and where to get help!

@apoorvasingh17 I've noticed you commented on m

[2017-08-12 21:26] denschub commented on #1622
@apoorvasingh17 Check my comment [over here](https://github.com/webcompat/webcompat.com/issues/1650)!

[2017-08-12 21:26] denschub commented on #1636
@apoorvasingh17 Check my comment [over here](https://github.com/webcompat/webcompat.com/issues/1650)!

[2017-08-13 15:41] apoorvasingh17 commented on #1650
@denschub Thank you for the helpful suggestion. Will keep it in mind :)

[2017-08-13 15:55] apoorvasingh17 commented on #1688
Hello, can I work on this? I'm a beginner....how should I proceed?

[2017-08-13 22:31] karlcow commented on #1688
@apoorvasingh17 You are welcome to work on any issues. Though we recommend you try to work on one issue at a time. You asked on three issues https://github.com/webcompat/webcompat.com/search?utf8=%E2%9C%93&q=apoorvasingh17+&type=Issues

1. Get the environment ready following instructions in CONTRIBUTING.md See @denschub comment on other issues.
2. Tackle one issue
3. When it's finished work on ano

[2017-08-13 22:35] karlcow commented on #1688
@apoorvasingh17 I also see that you have unfinished code on other activities. Maybe better to focus on those before tackling another project.
https://github.com/apoorvasingh17?tab=overview&from=2017-07-26

[2017-08-13 23:26] #1707 closed

[2017-08-13 23:27] karlcow commented on #1707
Post Rationale. We get a lot of bug reports with the boilerplate as-is and not remove, which is confusing for people reviewing the issue report. Better to remove it until we find a better way to do this.

[2017-08-14 07:46] softvision-sergiulogigan commented on #1709
@miketaylr sure, here they are:
![wevab](https://user-images.githubusercontent.com/16573771/29262577-d37a4750-80dd-11e7-89f0-4b67efc04da3.gif)
![screen capture video](https://user-images.githubusercontent.com/16573771/29262578-d3974102-80dd-11e7-86d5-17983a4e39dc.gif)

[2017-08-14 08:26] zoepage commented on #1707
Just got a weird, but maybe fun idea.

How about we add the placeholder text as a background image, that disappears when `focus`or the value is `>0`? It would at least be a work around?

[2017-08-14 08:32] zoepage commented on #1661
@karlcow yes :)

[2017-08-14 08:37] zoepage commented on #1711
Can't reproduce. 🤔

@denschub would you also be able to check?

[2017-08-14 08:45] softvision-sergiulogigan commented on #1711
@zoepage @denschub It seems I'm unable to reproduce it either on Firefox, but I can on Chrome...

[2017-08-14 08:50] zoepage commented on #1705
@karlcow no, but I can't find the issue (looked for 30 minutes).

But it's planed out in the [mocks](https://github.com/webcompat/design/blob/master/website_modules/) and belongs to our [list of accessibility features](http://a11yproject.com/checklist.html), we want to implement.

[2017-08-14 09:10] softvision-sergiulogigan commented on #1711
@zoepage both methods fail when they're not alternated.

[2017-08-14 09:15] zoepage commented on #1711
@softvision-sergiulogigan please :)

[2017-08-14 09:19] softvision-sergiulogigan commented on #1711
@zoepage this should do the trick...
![screen capture video](https://user-images.githubusercontent.com/16573771/29265744-d717ffda-80ea-11e7-973d-14754e66ed0f.gif)

[2017-08-14 09:26] softvision-sergiulogigan commented on #1711
@zoepage On Chrome, at first DnD/click, I get this: "[Violation] Forced reflow while executing JavaScript took 32ms".
On Nightly, I get no message on DnD/click, and it works as expected.

[2017-08-14 09:30] zoepage commented on #1310
Follow up on this one:

Mike and I talked about this in our 1:1 and it seems a second layer that would map the values from the config as well as hold the env vars, would be a good solution. This should be in the init.py as far as I remember correctly. :)

[2017-08-14 09:31] zoepage commented on #1711
Interesting. Thanks!

[2017-08-14 09:38] zoepage commented on #1711
@softvision-sergiulogigan did you have the messages enabled?

[2017-08-14 10:13] softvision-sergiulogigan commented on #1711
@zoepage These are the settings I used:
![o1gft4kvsikaznxx6pqfsq](https://user-images.githubusercontent.com/16573771/29267609-08d9ecf2-80f2-11e7-826f-8f7d1816ad68.png)

[2017-08-14 16:02] miketaylr commented on #1709
thanks!

[2017-08-15 07:41] zoepage commented on #1310
The first version is up: https://github.com/webcompat/webcompat-cli-tool/pull/1

*secret.json*
[code]

After @miketaylr's review, the next steps would be:

- [ ] map values from secret.json in init.py
- [ ] enhance values with env var options in init.py
   - GITHUB_CLIENT_ID = os.environ.get('FAKE_ID')
   - GITHUB_CLIENT_SECRET = os.environ.get('FAKE_SECRET')
   - OAUTH_TOKEN = os.environ.get('OAU

[2017-08-15 08:01] zoepage opened #1714 "generate test coverage report"
As intern has a build in way to create a test coverage report, I feel like this is something we should have. I started yesterday to play around with it and got it running partially.

I've added following to the config obj in https://github.com/webcompat/webcompat.com/blob/master/tests/intern.js
[code]

The report is empty.
<img width="1427" alt="screen shot 2017-08-15 at 9 56 36 am" src="https://u

[2017-08-15 17:50] apoorvasingh17 commented on #1688
@karlcow I was waiting for a response on my PR, it got merged today.
Now I would work on this one.

[2017-08-15 18:09] brizental commented on #1714
@zoepage Yeah, I saw that, but haven't tried it yet. I agree that we should have it.

I'll have a look at it today and get back here. Don't know why it's not generating anything.

[2017-08-15 18:12] miketaylr commented on #1622
@zoepage does this mean we should close the issue? Or do we need to write patches to remove...something?

[2017-08-15 18:16] miketaylr commented on #1636
If we want to keep autoexpand for regular comments (which maybe we don't?... https://github.com/webcompat/webcompat.com/issues/1622#issuecomment-314046834), then we would leave in issues.js:

https://github.com/webcompat/webcompat.com/search?utf8=%E2%9C%93&q=autoExpand&type=

But it sounds like we want to remove it from anywhere.

@apoorvasingh17 if you want to work on this feature, we want to rem

[2017-08-15 18:19] apoorvasingh17 commented on #1636
@miketaylr yes, I would like to work on this issue.

[2017-08-15 19:38] brizental opened #1717 "Remove all GitHub paths from the fixtures files."
This is mainly about avatar files, but there may be some other calls.

The tests are all offline and stuff, but some fixture files have paths to other GitHub files still.

That is not a problem when you are offline, because it fails instantly and doesn't interfere with the test. It is also not a problem if you have a good internet connection. But if you have a bad internet connection (which has be

[2017-08-15 20:05] miketaylr commented on #1711
I can reproduce. Investigating.

[2017-08-15 20:23] miketaylr commented on #1711
It seems like Canary has stopped firing `change` events if you populate a file input with the same value.

That means `checkImageTypeValidity` won't get called (which ends up kicking off the preview junk, etc.):

`<input [type=file>.files` is [now settable](https://github.com/whatwg/html/commit/5dc7db2108656c9ce4b2dc7a8bb7dcde5c03afee), and according to http://wpt.fyi/html/semantics/forms/the-inpu

[2017-08-15 21:57] karlcow commented on #1622
@miketaylr confirmed. Remove the autoexpand. It is not working as it is right now.

[2017-08-15 22:31] karlcow commented on #1554
I moved today all the issues which had `status-needsdiagnosis-important` to `status-needsdiagnosis` + `priority-critical` to be compatible with @MDTsai work and to make it possible to carry on the priority after diagnosis.

[2017-08-15 22:31] #1554 closed

[2017-08-16 03:02] miketaylr commented on #1711
Nope, unrelated. This is just how Chrome works: https://stackoverflow.com/questions/12030686/html-input-file-selection-event-not-firing-upon-selecting-the-same-file

[2017-08-16 05:39] karlcow commented on #132
Let's start the experiment. Code! 🚨
And we will see if we have to throw everything. 🗑

[2017-08-16 05:43] karlcow commented on #132
* I created a Blueprint for /feeds
* and added a couple of tests

The main thing I will be experimenting is the creation of static files either generated on first requests or based on a cron.

[2017-08-16 08:59] karlcow commented on #1473
[code]

[flake8](http://flake8.pycqa.org/en/latest/) with [hacking](https://github.com/openstack-dev/hacking) (aka the Openstack style we are using) installed.

[2017-08-16 10:01] zoepage commented on #1636
@apoorvasingh17 Do you want to work on this one or https://github.com/webcompat/webcompat.com/issues/1688#issuecomment-322539068 as you claimed both? Please choose one :)

[2017-08-16 10:05] apoorvasingh17 commented on #1636
@zoepage I would work on this one.

[2017-08-16 19:20] miketaylr commented on #1586
Sounds good to me @karlcow. I also think we should just remove isuses.db entirely since it's dead code. But +1 to having a .gitignore'd data directory.

[2017-08-16 19:21] miketaylr opened #1719 "Remove (or use?) issues.db"
It doesn't do anything useful, right? Or would it be useful for RSS feeds @karlcow?

[2017-08-17 00:27] karlcow commented on #1719
Currently It doesn't do anything useful.
And yes that might resurrect for RSS feeds but not in its current form anyway.
So I propose indeed we remove it.

Probably new issues.db could be better handled through the webhooks.

[2017-08-17 00:29] karlcow commented on #1719
[code]

[2017-08-17 01:07] karlcow commented on #1719
And pull request done
https://github.com/webcompat/webcompat.com/pull/1720

[2017-08-17 04:56] karlcow commented on #1586
* The issues.db code #1719 is being removed by #1720 PR.
* Adding information in the first comment of that issue for the `data/`

[2017-08-17 05:08] karlcow commented on #1586
I will also need this `data/` for domain names feeds in #132

[2017-08-17 05:30] karlcow commented on #1586
For example:

[code]

[2017-08-17 05:53] karlcow commented on #132
There is a feed feature in Werkzeug to keep in mind.
http://flask.pocoo.org/snippets/10/

[2017-08-17 06:33] karlcow commented on #132
Dumping ideas. Notebook style. 📓

🐍 pseudo-code

[code]

I want to minimize the impact of bad feed readers. No matter how much caching you set on feed resources, many feed readers ignore it, and request every couple of minutes. So to avoid to generate a feed each  time, I want to serve a static file that we generated on the first request.

Another benefit is we get files only for domains that peop

[2017-08-17 08:14] zoepage commented on #1310
Update: The PR is done.

@karlcow wanna take a look? Otherwise Mike / I can take over. Thanks!

[2017-08-17 08:28] rheaparekh commented on #1581
Can I make the changes if this is not yet worked upon?

[2017-08-17 11:45] zoepage opened #1721 "remove npm i -g grunt-cli from travis.yml"
We do not use global installs anymore, but apparently forgot to remove this line in our travis config file. https://github.com/webcompat/webcompat.com/blob/master/.travis.yml#L33

Should be a quick fix. :)

[2017-08-17 22:37] karlcow commented on #1581
@rheaparekh yes
Be sure to read https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md

[2017-08-17 23:42] karlcow commented on #1310
@zoepage see my questions in https://github.com/webcompat/webcompat.com/issues/1310#issuecomment-319238631

Plus two more questions.

I can look at it. What do I have to do to test it? Or did you mean something else? It seems unrelated to take over.

So if I'm not mistaken the initial purpose is to make it easier for people to start the project configuration. That said there are more people with t

[2017-08-18 15:34] #1581 closed

[2017-08-19 22:46] ankitbug94 commented on #1705
Hi all!
This is my first post in this category. Basically, this is a request to [focus](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus) the input [element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input). This is implemented in various ways all over the internet. Though, the suggested way is good that focus the element if the text is empty but there can be some

[2017-08-20 19:45] rheaparekh commented on #1661
I'd like to work on this. Should I go ahead with using flake8 for linting?

[2017-08-21 06:01] karlcow commented on #1661
@rheaparekh Let first define the tules in #1473 So not ready yet for working on this.
But because you are pushing for it, I will take a look this week on how to make progress on #1473.

[2017-08-21 14:43] softvision-sergiulogigan commented on #1228
Happened again for:
https://github.com/webcompat/web-bugs/issues/9143
https://github.com/webcompat/web-bugs/issues/9144
https://github.com/webcompat/web-bugs/issues/9145
and https://staging.webcompat.com/issues/1262

[2017-08-21 17:35] #1650 closed

[2017-08-21 19:44] #1721 closed

[2017-08-21 21:39] karlcow commented on #1228
@softvision-sergiulogigan do you have a 100% way to reproduce it?

[2017-08-21 23:36] #1711 closed

[2017-08-22 06:24] softvision-sergiulogigan commented on #1228
@karlcow well, it is reproducing 100% on my side. Tried this morning with https://staging.webcompat.com/issues/1264 and https://staging.webcompat.com/issues/1265

![screenshot_1](https://user-images.githubusercontent.com/16573771/29551500-9e182ab6-871b-11e7-9aff-0a44ffb974dd.png)

[2017-08-22 07:57] zoepage commented on #1701
This was fixed, but I put in `fixes` not `fix` or `fixed`, so it was not closed automatically :D

[2017-08-22 07:57] #1701 closed

[2017-08-22 07:59] zoepage commented on #1688
This one is btw still up for grabs as @apoorvasingh17 is working on another bug.

[2017-08-22 08:01] zoepage commented on #1640
Would it be possible to move that to / reference that in our wiki as issues are not ment for documentation purpose? That would be great. Thanks!

[2017-08-22 08:48] karlcow commented on #1228
@softvision-sergiulogigan This is weird… because it is not happening for most people given that needstriage are being set. ;) So we need to figure out where is the glitch. Configuration, proxy, specific steps creating this situation.

[2017-08-22 10:01] karlcow commented on #1228
@softvision-sergiulogigan https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue%20author%3Asoftvision-sergiulogigan%20

All of them seem to have status-needstriage set up by webcompat-bot

Now if you are saying that staging doesn't receive the labels for status-needstriage that's true, but this is staging where we test some specific code.

@miketaylr which version is deployed on

[2017-08-22 10:39] karlcow commented on #1640
@zoepage [Done](https://github.com/webcompat/webcompat.com/wiki/Webcompat.com-Technical-Architecture)

[2017-08-22 10:40] #1640 closed

[2017-08-22 11:14] softvision-sergiulogigan commented on #1228
@karlcow I assigned the missing label myself, when I saw that it was not automatically assigned. As you can see, also the browser-firefox-mobile label appears to be added by the webcompat-bot, when in fact, it too was added manually.

About the Staging environment, I tested there only after the issue reproduced a couple of times in Production, so I would not log mock bugs in Prod.

[2017-08-22 13:40] zoepage commented on #1638
Decision from weekly team meeting:
Going with 2-3 locals. Translating "You can leave your comment here in your language". Deciding on locals after checking analytics which ones are popular. Good bug to tackle for Q4.

[2017-08-22 13:41] miketaylr commented on #1586
decision: let's do it!

[2017-08-22 17:24] brizental commented on #1714
Hey @zoepage , it took me a while but I think I understand what is going on here. I'm not really sure, but maybe you can help me out.

There's this information on the Intern.js documentation (https://theintern.github.io/intern/#reporter-lcov):

I guess this means that code coverage will only work when using the Node.js client for the tests, and since our tests run in a remote browser it can't gene

[2017-08-22 19:11] brizental commented on #791
So, I investigated this a little bit. At first I thought that we didn't have a loader for the search page, but we actually do, the code for it is just not working right now (https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issue-list.js#L360).

There are some issues discussing back loader images (#1529 , #746 , #1000 ) and I think it would be important to test them, b

[2017-08-22 20:28] zoepage commented on #1714
Good catch @brizental! We could use https://www.npmjs.com/package/istanbul as it supports it.
What do you think?

[2017-08-22 21:20] karlcow commented on #1714
@zoepage Could you share a bit more or explain why we should have them.

[2017-08-23 10:07] zoepage commented on #1714
@karlcow

Code coverage indicates how much of the code is tested. The reports shows exactly which functions are tested and which not, which makes it easier to see which tests are still missing.
(This is very handy, as we had issues in the past where code was failing and we realized after that tests were missing.)

A solid code coverage is also a good indicator for new contributors for how well mai

[2017-08-23 13:08] kritisingh1 commented on #1567
Hello @karlcow I would like to take up this issue if it is still open. May I ?

[2017-08-23 13:21] kritisingh1 commented on #1688
Hi @zoepage I would like to take up this issue. Please assign this to me

[2017-08-23 13:37] zoepage commented on #1688
cool @kritisingh1! enjoy :)

[2017-08-23 13:42] zoepage commented on #1567
@kritisingh1 For `good first bugs` we decided to go with "grab one at a time".

I've assigned you to #1688, but if you'd rather work on this one, please let me know :)

[2017-08-23 13:58] #1636 closed

[2017-08-23 14:58] zoepage commented on #1310
The current CLI is giving additional information to the config settings and values, how to generate them and which steps you need to take. It also groups the config in 3 steps, which build upon each other.

1. step is to generate your oAuth token. Right now you get information about where and how to generate the token. The user would create it, copy and paste it to the terminal.
The planed next st

[2017-08-23 23:45] karlcow commented on #1310
@zoepage thanks a lot for helping me understand a bit more.

It helped me to test and open issues on the project.

Probably the opposite to me. :) Let's see if I can explain my train of thoughts. There are more regular users than one time users who want to contribute see https://github.com/webcompat/webcompat-cli-tool/issues/12 We do sometimes break things for users by changing modules, configurat

[2017-08-24 00:48] karlcow commented on #1310
Ah that was bothering me, I was sure we discussed something like this in the past.
I found it again #786

@magsout said:

and @miketaylr said:

It happened to me too.

[2017-08-24 03:29] karlcow commented on #1714
* Code coverage (quality tool)
* Coverage report (console, html)

I'm familiar with coverage. It exists [in python](https://coverage.readthedocs.io/). I used it a long time ago on some projects. My worries are about the distraction it creates, aka people focus on 100% coverage tests and start fixing the project for achieving this goal, instead of focusing on developing user-facing features (**with

[2017-08-24 04:40] karlcow commented on #1473
Documenting my thoughts, context.

In Our project we currently have in requirements.txt
* pep8==1.7.0 (which is the latest version)

On my own computer I have
* flake8==2.5.5 (which I installed with `pip install --user flake8`)
* hacking==0.13.0 (`pip install --user hacking`)
* flake8-docstrings==1.1.0 (`pip install --user flake8-docstrings`) The **original request of this issue**
* pyflakes==0.8.

[2017-08-24 05:41] #1719 closed

[2017-08-24 06:22] karlcow commented on #1586
Reminder: people will need to clean up their project root.

[2017-08-24 14:05] kritisingh1 commented on #1688
Hi @Ola Gasidlo
I am stuck in the setup process as I don't have any client id and client
secret issued by your organization. What should I do now?

On Wed, Aug 23, 2017 at 7:07 PM, Ola Gasidlo <notifications@github.com>
wrote:

[2017-08-24 14:16] zoepage commented on #1688
@kritisingh1
Open the link below in the browser of your choice and fill out the form.
👉  https://github.com/settings/applications/new 👈.

The homepage URL is http://localhost:5000/
The Authorization callback URL http://localhost:5000/callback

[2017-08-24 22:20] karlcow commented on #396
Closing through the work of @brizental on #1618. Congrats!

[2017-08-24 22:20] #396 closed

[2017-08-24 22:31] brizental commented on #776
This was done in #1588 .

[2017-08-24 22:31] #776 closed

[2017-08-25 00:51] karlcow commented on #1310
@zoepage To remove a bit of the burden of switching and make it easier for everyone. I created a one off script (not the most elegant code)

https://gist.github.com/karlcow/b3f275e020fbfd5e7fd7ce130fb28c61

→ python convert-config.py config/secrets.py config/environment.py

And it spills out:

[code]

I hope it helps.

[2017-08-25 00:54] karlcow commented on #778
@brizental we are probably done! :) Thanks a lot.

[2017-08-25 00:54] #778 closed

[2017-08-25 03:07] MDTsai opened #1726 "Fix for alexa topsite deployment"
- Fix to use HTTPS instead of HTTP
- Adjust the parameter sequence, origin move AWSAccessKeyId to first

@miketaylr ,do we need to read the key from config or keep using in argument?

[2017-08-25 12:45] apoorvasingh17 commented on #1502
Hi. Can I take this up?

[2017-08-25 18:17] brizental commented on #1666
Closing this because we decided not to use Browserstack after all, since we can test Safari, Chrome and Firefox in TravisCI and these are the browsers that we get most users from according to our analytics data.

[2017-08-25 18:17] #1666 closed

[2017-08-25 18:21] brizental commented on #1631
Another solution for this would be to add a warning in case the person is running the tests, but is not running the server in test mode.

Something like "Hey, you are not running the server in test mode you might get a lot of false negatives!" plus some guidance about how to run the server in test mode.

We could even abort tests in case the person is not in test mode, I guess.

[2017-08-25 18:46] brizental commented on #1156
Hey @miketaylr, we don't have this method anymore, we do have a visibleByClass method, but it's not used anywhere in the code.

Also, from what I understand, doesn't [findDisplayedByCssSelector](https://theintern.io/leadfoot/module-leadfoot_Element.html#findDisplayedByClassName) do what this method would do?

[2017-08-25 18:46] brizental commented on #1470
Closing this because this doesn't happen anymore.

[2017-08-25 18:46] #1470 closed

[2017-08-25 18:48] brizental commented on #1368
Hey @karlcow , does this still happen for you?

[2017-08-27 00:28] aryanshar commented on #1567
Hi ! i would love to work on this issue. Please assign me this issue. Thanks.

[2017-08-27 13:15] rheaparekh commented on #1544
@zoepage I would like to work on this issue. I was thinking to go ahead with using 'window.onpopstate' event-handler to change the 'is-active' state of the button. Can you guide me if there is a better method?

[2017-08-27 20:12] zoepage commented on #1544
Maybe @miketaylr could give some advice as he is more familiar with the issue? :)

[2017-08-27 20:23] zoepage commented on #1631
How about we do both? So the npm script as well as the warning (including cancel the test if not in test mode)? Might sound as over engineering, but the pro's would be...

1. script (`npm start:test`) makes it easier to remember what to type as the words are "more human".
2. An error message to let you know, why tests fail would have saved me many hours (at least thinking about it, not to mention

[2017-08-27 20:30] zoepage commented on #1310
@karlcow this is pretty helpful for the migration part. thanks!

[2017-08-27 21:10] zoepage commented on #1714
@karlcow

I get your point here, but I've realized that in the past few months missing tests were the main issue for a lot of bugs we've experienced and had to fix, which was the main reason for us not having much time to work on new features or focus on other important things. I don't think, we need a 100% coverage, but we should at least be aware of how much we have, which parts of the code we t

[2017-08-28 14:28] brizental commented on #1631
@zoepage That's great, I agree! I'll claim this issue then :)

[2017-08-29 04:21] #1567 closed

[2017-08-29 06:35] tkbremnes opened #1730 ""View issues on Github" link on Search result page does not work"
How to reproduce:
* Search for any issue
* Scroll down to the bottom of the page, and click the `View issues on Github` link.
* Get sent to a Github 404 page

It appears that the template is not stamping out the URL correctly, leading to the nonsensical URL `https://github.com/{{ config['ISSUES_REPO_URI'] }}/{{ number }}`

Code line in question: https://github.com/webcompat/webcompat.com/blob/2d77

[2017-08-29 07:19] karlcow commented on #1730
1. Go to https://webcompat.com/
2. Click on the search button at the top
3. Enter mozilla We get https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=mozilla
4. Indeed the bottom link is `https://github.com/%7B%7B%20config['ISSUES_REPO_URI']%20%7D%7D/%7B%7B%20number%20%7D%7D`

That's a bug. Thanks @tkbremnes

[2017-08-29 07:28] karlcow commented on #1730
That was added by @tagawa in #572 And it is working for individual issues, but not for issues search.

`g` doesn't work either as it is redirecting simply to https://github.com/webcompat/web-bugs/issues and not the related search.

Two options here:

* Remove entirely the feature from this template. Easy
* OR Make it work for this template, link and `g`. But that could be slightly more complex to

[2017-08-29 08:09] tkbremnes commented on #1730
Fell onto it by accident. Don't even know where the link should have taken me, so don't know what to expect.

[2017-08-29 14:34] #1695 closed

[2017-08-29 16:58] miketaylr commented on #1228
I don't recall -- things are deployed there on demand, basically. (Also... we don't have a nice way to know what version is deployed -- other than hoping the CHANGELOG.md is on the server--  perhaps that's something we should think about).

[2017-08-29 17:01] brizental opened #1731 "Remove Browserstack logo from website."
Now that we decided not to use it, better to remove the stuff from the website and anywhere that it's referenced.

[2017-08-29 17:15] miketaylr commented on #1730
I possibly broke this when I messed around with templates recently.

I think it would be nice for this to work, but it will require a bit of work as @karlcow mentions. Perhaps a good way forward is to remove the link, and file a bug to add it back (with the proper webcompat -> github param translation).

[2017-08-29 17:23] miketaylr commented on #1544
Hello! Sorry about the delay... was returning home from a conference.

In think in order for us to fix this correctly... it's going to be a bit tricky. But if you're up for it -- that's awesome. :)

I suspect the fix for this will need to similar to #793 (if not the same fix). I started on that a while back and haven't had time to finish it. See this comment where I claimed to fix this same bug (b

[2017-08-29 17:25] miketaylr commented on #1156
Yeah... I think you're right. Either I didn't know about that method (likely...) or I was trying to solve some other problem. And I don't remember, so let's close this.

[2017-08-29 17:25] #1156 closed

[2017-08-29 17:27] #1586 closed

[2017-08-29 17:29] miketaylr commented on #1726
If we're running as cronjob, using as an argument seems fine (and reduces risk of leaking key). We could also store the key as an environment variable on the server and have the config read from that.

What do you think is better?

[2017-08-29 17:30] miketaylr commented on #778
Yeah, what @karlcow said. Thanks!

[2017-08-29 20:33] miketaylr commented on #1473
+1.

I like the idea of fixing things as we touch those files. I also like the idea of having a standard set of linting packages/settings -- can we document this in CONTRIBUTING.md or the wiki? I think it's fine to document how to work with SublimeText, and others can contribute config docs for other editors if they care.

[2017-08-29 21:24] miketaylr commented on #1473
I propose @karlcow @MDTsai and I tackle this next week in Taipei.

[2017-08-29 21:50] #1428 closed

[2017-08-29 21:59] karlcow commented on #1228
Probably something that could be tackled by the deploy script. Each time the deploy script is used, it checks the commits and records it in a file. This file is then easily readable by local code such as `environment.py`

[2017-08-29 22:25] karlcow commented on #1228
For the record, a couple of hours after last @softvision-sergiulogigan comment, he tested again and could not reproduce. I explained that labels were unlikely to be visible right away as they are set out of the band. My guess is @softvision-sergiulogigan was taken aback by his ⚡️ speed.

[2017-08-30 00:27] karlcow commented on #1730
[code]

To see the raw body which is sent to the browser. This part has been set correctly.

[code]

Oh wait…

[code]

This is what is sent by the raw html response.
@miketaylr do you rewrite the content which is being sent how does it return to the value in the Jinja template.

Ah… indeed.

[code]

Does that mean the Jinja template is moot now? or at least not reflecting the current state of affa

[2017-08-30 00:33] karlcow commented on #1730
Oh wait
[code]

Raising eyebrows… `webcompat/static/js/templates.js` What The Heck?

checking .gitignore

[code]

[2017-08-30 00:41] karlcow commented on #1730
OK let's see

[code]

let's commit it and back to business.

[2017-08-30 00:44] karlcow opened #1732 "Add github view to the search results"
In #1730 we had an issue with a template not being populated correctly when rendered. We removed the markup associated with it in the subsequent pull request.

This issue needs to reinstate this code and properly handle the link to the right GitHub View.

[2017-08-30 00:58] karlcow opened #1734 "templates.js tracked or not tracked."
In #1730 I had a bit of troubles with this

This is tracked here:
https://github.com/webcompat/webcompat.com/blame/master/webcompat/static/js/templates.js

But https://github.com/webcompat/webcompat.com/blob/dd8102a3d0f89d18bea2a86228afac2fcfeead44/.gitignore#L27
says to not track it…

Madness ensues with pre-commit.

[2017-08-30 01:02] karlcow commented on #1734
This was added by this commit by @miketaylr
https://github.com/webcompat/webcompat.com/commit/260c05b3294689bc9b62d3d34557738a4307ec25#diff-f5f2115c1d9da8f288334dd32f2cf1e4

[2017-08-30 01:05] karlcow commented on #1734
Oh the .gitignore was added after…
https://github.com/webcompat/webcompat.com/blame/master/.gitignore#L27

[2017-08-30 01:14] karlcow commented on #1734
[code]

[2017-08-30 01:18] karlcow commented on #1730
I fixed my woes with

webcompat = origin here.

[code]

[2017-08-30 01:37] karlcow opened #1736 "Precommit for JS files on python files commit"
Steps to reproduce:

1. Modify a python file.
2. git commit -m 'blabla' python_file.py

Actual: linter for JS and CSS are running.
Expected: don't do things I don't need.

Could we just activate this when the files to commit are actually from the lint-checker family.

Example:

[code]

[2017-08-30 02:05] karlcow commented on #1736
Ah maybe a hint in https://gist.github.com/jhartikainen/36a955f3bfe06557e16e#gistcomment-1990800

[code]

Let's add a comment on a python file. Removing `--staged`

[code]

Let's do the same in a JS.

[code]

Yeah working!

[2017-08-30 02:54] MDTsai commented on #1726
Agree with cronjob with key in arguments. There is no more change need, I will send PR.

[2017-08-30 06:15] karlcow commented on #132
data quality is interesting…
From a dump I have of all the issues from July 2017. Around 7920 issues. the domain names… are not always here or bogus or with irregular patterns.

I found so far 370 issues with bogus domains.
I tried to cover as much as possible the possible patterns.

`title` is the issue title, so something ala `www.nytimes.com - desktop site instead of mobile site`

Current versi

[2017-08-30 06:19] karlcow commented on #132
Do we create a feed when there is no valid issues associated with this domain?

[2017-08-30 07:22] karlcow commented on #132
Ah … crap…

Once the BOGUS title removed, we have quite a lot of differences in between titles and URL. And a lot of recent issues. That comes from softvision not entering the same domain for the title and the URL. I think they fixed it after I mentioned it, but I didn't realize we had so many bad ones.

I need to fix this. Automatically if I prepare well the data. 😭

Below `(issue_number, title_d

[2017-08-30 07:41] karlcow opened #1738 "Needs a convention for removing spam URLs"
When it comes to phishing sites, spammers, etc. we had different strategies.

* In https://github.com/webcompat/web-bugs/issues/1592, we replaced with `spam-removed`
* In https://github.com/webcompat/web-bugs/issues/2822, we replaced by nothing.
* In https://github.com/webcompat/web-bugs/issues/3623, part of the URL was obfuscated.
* In https://github.com/webcompat/web-bugs/issues/5936, we used `[

[2017-08-30 07:44] karlcow commented on #1540
See Also https://github.com/webcompat/webcompat.com/wiki/Architecture

[2017-08-30 07:51] karlcow commented on #1267
Was this fixed in #1557?

[2017-08-30 07:51] karlcow commented on #1267
With https://github.com/webcompat/webcompat.com/blob/dd8102a3d0f89d18bea2a86228afac2fcfeead44/tests/functional/image-uploads-non-auth.js#L144

[2017-08-30 07:55] karlcow commented on #1637
Are there things actionable in that issue? I will close it and if we missed things, anyone can propose an issue with a refactoring proposal. Good opportunity for first bugs.

[2017-08-30 07:55] #1637 closed

[2017-08-30 07:56] karlcow commented on #1621
This has been done in #1720

[2017-08-30 07:56] #1621 closed

[2017-08-30 08:47] karlcow commented on #1093
@adamopenweb any suggestions to make progress on this?
In the current instance we get:

<img width="1022" alt="capture d ecran 2017-08-30 a 17 42 39" src="https://user-images.githubusercontent.com/505230/29863451-b7a5a018-8daa-11e7-84e1-282d22d4f2e0.png">

#646 has been done.

One of the simplest thing I can imagine is adding a text with a link.
Something along.

Do you want to [know more about We

[2017-08-30 08:52] karlcow commented on #1118
This seems to be an opportunity for a good next bug.

https://github.com/webcompat/webcompat.com/blob/dd8102a3d0f89d18bea2a86228afac2fcfeead44/webcompat/static/js/lib/models/comment.js#L43-L74

[2017-08-30 08:54] karlcow commented on #1086
no recommendation for comments as we can't really label the comments. On the other hand I wonder if we had any comments with someone putting a nsfw image.

[2017-08-30 08:58] karlcow commented on #1116
The latest issue we had for this user agent is https://github.com/webcompat/web-bugs/search?o=desc&q=myie9&s=created&type=Issues&utf8=%E2%9C%93
March 1, 2017 and before that August 2016.

Problem solved?

@adamopenweb Should we close this?

[2017-08-30 09:01] karlcow commented on #1279
This seems to be the same issue (or very close) than #1179
@zoepage @adamopenweb opinions?

[2017-08-30 09:05] karlcow commented on #1260
related to this, things I have done today in https://github.com/webcompat/webcompat.com/issues/132#issuecomment-325892680 which applies a series of heuristics to filter domain names.

At least we can help the triage task by adding a comment, saying this doesn't work.
If we block the reporting on checking the URL, we might end up discouraging people when the roundtrip time is long.

[2017-08-30 09:07] karlcow commented on #1298
@miketaylr Was there any followup about the discussions with Emma?

[2017-08-30 09:15] karlcow commented on #1251
This will become useless soon. Probably next week if we achieve what we want in #886

[2017-08-30 09:20] karlcow commented on #1390
@softvision-sergiulogigan do you still have the issue? with current version of Firefox and webcompat.com

[2017-08-30 12:59] miketaylr commented on #1734
Yeah, that's a bug. It shouldn't be tracked...(but it's not the end of the world, just means you might be out of sync without realizing it).

[2017-08-30 13:11] zoepage commented on #1540
Is this in progress or done @karlcow ? :)

[2017-08-30 13:13] zoepage commented on #1267
@karlcow To who was this question directed to?

[2017-08-30 15:03] #1730 closed

[2017-08-30 15:06] adamopenweb commented on #1279
Oh yeah, looks like it @karlcow.

[2017-08-30 15:19] adamopenweb commented on #1116
@karlcow yeah let's close it. Unless anyone is worried about the extra traffic to the site, then please open back up. This UA still makes up about 27% of total traffic.

Here's a break down of just Firefox version numbers from the last month:
<img width="450" alt="screen shot 2017-08-30 at 11 15 41 am" src="https://user-images.githubusercontent.com/6587558/29879979-a3a6573c-8d74-11e7-9414-2300001b

[2017-08-30 15:19] #1116 closed

[2017-08-30 15:29] adamopenweb commented on #1093
Thanks @karlcow. I think this space is useful to us, as the user has just completed a longer action (completing a report). They are likely to engage in additional asks after. I think there was discussion in the past to use this space as a link to short surveys that we can run for feedback.

We can get answers to questions like:
- Are you a Mozilla community member?
- Is this the first bug report y

[2017-08-30 15:45] karlcow commented on #1540
Probably missing a couple of things.

[2017-08-30 15:46] karlcow commented on #1267
Maybe myself

[2017-08-30 18:20] miketaylr commented on #1298
Are we seeing more crashed tabs reports?

[2017-08-30 18:21] miketaylr commented on #1298
There was, but it was about automatically moving type-media mostly. I think with @MDTsai's addon that approach won't be as useful.

[2017-08-30 19:08] zoepage commented on #1279
happy to close it @karlcow

[2017-08-30 19:08] zoepage commented on #1540
Shall we add a deadline or something?

[2017-08-30 21:48] karlcow commented on #1540
by the end of Q4 2017.

[2017-08-30 21:51] karlcow commented on #1298
Closing and adding backlog if it resurfaces.

[2017-08-30 21:51] #1298 closed

[2017-08-31 02:19] karlcow opened #1740 "Handle http://https patterns in bug reporting form"
I don't why it is happening, but we should probably handle this case.
Such as https://github.com/webcompat/web-bugs/issues/9473
The URL was
[code]
and the title became

[code]

SeeAlso https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue%20http%20in%3Atitle

[2017-08-31 02:31] karlcow commented on #132
Recording here so it's not lost.
@denschub yesterday was suggesting that we provide only for 2nd level domain name. To maximize the outreach for web developers of one company.

This could be done, aka instead of:

[code]

we provide only

[code]

I personally prefer the more granular version for different reasons, but I think we could do both. Some of my reasons:

* foo.tumblr.com != bar.tumblr.co

[2017-08-31 07:46] softvision-oana-arbuzov commented on #1390
I've tested the issue and below are my results:
- manually attaching a screenshots is not working (tested on Samsung S6, Huawei P10);
- automatically attaching a screenshot is not working on Samsung S6 but it's working on Huawei P10 (using the Webcompat addon);
- after being signed into Github and reporting the issue using "Report as <Github user>" button, the issue is not logged (tested on Samsun

[2017-08-31 07:58] karlcow commented on #1390
@softvision-oana-arbuzov When you say

Do you mean that the image is not in the final report or that the image is not being seen as a thumbnail once chosen?

[2017-08-31 09:24] softvision-oana-arbuzov commented on #1390
@karlcow  It means that I tap the "Upload screenshot" button and choose an image from the mobile device/desktop.

[2017-09-01 09:17] softvision-oana-arbuzov opened #1742 ""Site URL" field validation should be added"
**URL:** www.webcompat.com
**Browser / Version:** Firefox Release 55.0.3 (Deskstop), Chrome 60.0.3112.113 (Desktop), Firefox Nightly 57.0a1 (2017-08-31) (Mobile)
**Operating System:** Windows 10 Pro, Huawei P10 (Android 7.0) - Resolution 1080 x 1920 pixels (~432 ppi pixel density)

**Steps to Reproduce:**
1. Navigate to www.webcompat.com.
2. Tap “Report bug” button.
3. On the “Site URL” field type

[2017-09-03 18:13] apoorvasingh17 commented on #1649
@zoepage Hi, can I take this up?

[2017-09-05 02:28] miketaylr commented on #1232
Update: we decided to use this milestone as-is, but we will close all issues moving forward. Nobody really worked on them since April and there's no use is keeping these bugs around.

[2017-09-05 03:04] miketaylr opened #1744 "Create milestones on test repo"
So we can develop our code against that before touching the web-bugs repol

#886.

[2017-09-05 03:05] miketaylr opened #1745 "Create Milestones editor widget"
Basically copy the existing label editor and stick it below.

We can create a dumb UI before having it do anything, or just read-only.

#886.

[2017-09-05 03:09] miketaylr opened #1746 "Add Python tests for Milestones API backend"
(without touching labels tests for now)

https://developer.github.com/v3/issues/milestones/

#886.

[2017-09-05 03:11] miketaylr opened #1747 "Create functional tests for milestone editor"
Depends on #1745, or something.

#886.

[2017-09-05 03:12] miketaylr opened #1748 "Update functional tests around milestones"
We might want to change classnames or similar, and need to make sure that doesn't break tests.

#886.

[2017-09-05 03:13] miketaylr opened #1749 "Create API backend for milestones"
Either create new methods in endpoints.py, or update existing methods to tweak the `milestones` param, etc.

#886.

[2017-09-05 03:13] miketaylr opened #1750 "Figure out how search interacts with Milestones"
❓

#886.

[2017-09-05 03:14] miketaylr opened #1751 "Update new issue webhooks"
Currently it adds a `status-needstriage` label. We want to add the correct milestone on issue creation.

#886.

[2017-09-05 03:15] miketaylr opened #1752 "Update /issues/new form endpoint to add needstriage milestone"
We can automatically assign a milestone upon issue creation.
https://developer.github.com/v3/issues/#create-an-issue (see `milestone` param)

#1751 #886.

[2017-09-05 03:17] miketaylr opened #1753 "Wire up milestone editor with milestone backend"
So when you change a milestone, it communicates that change with GitHub and syncs the UI.

#886.

Depends on #1745, related to #1748.

[2017-09-05 03:19] miketaylr opened #1754 "Handle color schemes for milestones"
We currently get the values from GitHub via the label, but this doesn't exist for milestones. So we need a serverside/config solution.

#886.

[2017-09-05 03:22] miketaylr opened #1755 "Modify status filter buttons to filter on milestones not labels"
#886.

[2017-09-05 03:27] miketaylr opened #1756 "Clean up labels.js updateView method"
It won't need to special case multiple status labels, since they will be milestones:

https://github.com/webcompat/webcompat.com/blob/d2ba4dd1667801e09d4bd192b553fac50d485b59/webcompat/static/js/lib/labels.js#L146-L176

#886.

[2017-09-05 03:29] miketaylr opened #1757 "Update Issue model notion of issue state to handle milestones"
Currently it reads labels.

https://github.com/webcompat/webcompat.com/blob/d2ba4dd1667801e09d4bd192b553fac50d485b59/webcompat/static/js/lib/models/issue.js#L47-L80

#886.

[2017-09-05 03:31] miketaylr opened #1758 "Update label-list.js to know about milestones"
Possibly we just need to unteach it about `status-`?

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/models/label-list.js#L27

#886.

[2017-09-05 03:32] miketaylr opened #1759 "Make sure docs are up to date with labels vs milestones"
#886.

[2017-09-05 03:35] miketaylr opened #1760 "Remove the close/reopen button"
These are the closed milestones:

wontfix, incomplete, invalid, fixed, duplicate, worksforme, non-compat

(we can update issue status when changing milestone)

#886. #1305.

[2017-09-05 03:40] miketaylr opened #1761 "Create mapping for milestones to API integers"
So it's less annoying to deal with them.

#886.

[2017-09-05 03:41] miketaylr commented on #1760
This might be JS... or Python, I don't remember. :P

[2017-09-05 03:43] miketaylr opened #1762 "Move test repo issues into milestones"
It probably doesn't matter which... maybe? I guess if they have the matching status labels it makes sense for them to go into those milestones.

#886.

[2017-09-05 03:46] MDTsai commented on #1760
Also enforce reopen to have a milestone.

[2017-09-05 03:49] karlcow commented on #1744
Done. https://github.com/webcompat/webcompat-tests/milestones

[2017-09-05 03:49] #1744 closed

[2017-09-05 03:51] MDTsai commented on #1751
Looks like we can just remove the needstriage label while creation in
https://github.com/webcompat/webcompat.com/blob/d2ba4dd1667801e09d4bd192b553fac50d485b59/webcompat/webhooks/helpers.py#L111

[2017-09-05 05:55] miketaylr commented on #1745
Issues:

* [ ] make generic CSS classes that the label editor and milestone editor can share
* [ ] make a generic color for milestones (until #1754 is done)

[2017-09-05 06:02] karlcow commented on #1762
Done. All of them have labels and milestones and the relevant status.

[2017-09-05 06:02] #1762 closed

[2017-09-05 06:15] MDTsai commented on #1752
I guess it could be done to insert something near here:
https://github.com/webcompat/webcompat.com/blob/d2ba4dd1667801e09d4bd192b553fac50d485b59/webcompat/views.py#L201
and depends on the result of #1761

[2017-09-05 07:02] karlcow commented on #1761
@miketaylr @MDTsai Some thoughts.

To request the list of issues associated we need the milestone number:

For example here a request getting all the needstriage issue (milestone=2).

https://api.github.com/repos/webcompat/webcompat-tests/issues?sort=created&direction=desc&milestone=2&state=open&per_page=50&page=1

The milestone number will change in between the repos. So it needs to be dynamicall

[2017-09-05 07:19] karlcow commented on #1761
To make it less likely to break let's say we do this:

1. `python run.py`
2. Make a request to the Github api to list milestones
3. With the HTTP response:
  - if `200`, use this data stored in memory **AND** make a local dump in `data/`
  - if `4*`, use the cached copy in `data/` and load it in memory.
  - if something else, just don't start the project.

Like this @miketaylr would feel more comf

[2017-09-05 08:01] #1731 closed

[2017-09-05 08:19] MDTsai commented on #1760
Begin here:
https://github.com/webcompat/webcompat.com/blob/03b0da41a8615f160a90529fef51dea64352d0c6/webcompat/templates/issue/issue-comment-submit.html#L19

Maybe I can share #1745 and use part of it?

[2017-09-05 10:02] miketaylr commented on #1745
Question: do we need this `remoteName` thingy for milestones? Probably not...

[2017-09-05 10:03] MDTsai commented on #1760
After discussion, if the close/reopen button can change the status milestone as the milestone editor in #1745, that might be complex and confused.
The milestone editor widget will be able to change the milestone and reopen/close issue if necessary. Then we don't need a close/reopen button now. @zoepage
I would move the issue to remove the close/reopen button as an UI issue.

[2017-09-05 17:20] adamopenweb commented on #1232
@miketaylr Sorry for not understanding this well enough. Does this mean we are still putting non-compat issues here? Should we have a time limit for these before closing?

Or do we now mark them as invalid again?

[2017-09-06 01:28] karlcow commented on #1761
@miketaylr Currently on webcompat-tests

[code]

[2017-09-06 01:45] miketaylr commented on #1761
It would be cool if we could have a data format like so, to help control the ordering, and to split between closed and open milestones:

[code]

[2017-09-06 01:48] karlcow commented on #1761
@miketaylr

[code]

[2017-09-06 02:06] miketaylr opened #1763 "Add template watching to Grunt watch task"
something like this would do it:

[code]

Bonus points for fixing the script task, it throws an error due to a missing `jshint` var (which we don't use anymore).

[2017-09-06 02:06] miketaylr commented on #1763
The change should be made here:

https://github.com/webcompat/webcompat.com/blob/master/grunt-tasks/watch.js

[2017-09-06 02:07] miketaylr commented on #1763
(and to test that it works, run `npm run watch`, make a change to any `.jst` file and watch the console output)

[2017-09-06 02:16] karlcow opened #1764 "Moving ISSUES_REPO_URI from secrets.py to environment.py"
This is currently in secrets.py, it should probably be in `environment.py`
(no emergency)

[code]

[2017-09-06 02:57] MDTsai commented on #1760
List TODOs:
- [ ] Remove close/reopen button in https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue/issue-comment-submit.html#L19-L21
- [ ] Remove https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue/state-button.jst
- [ ] Remove functional test in https://github.com/webcompat/webcompat.com/blob/master/tests/functional/comments-auth.js#L39-L

[2017-09-06 03:25] miketaylr opened #1766 "Implement updateMilestones inside editor widget"
Right now it's commented out because I'm not sure what updating looks like right now.

(this is in milestones.js)

#1745. #886

[2017-09-06 03:41] karlcow commented on #1749
Related to the issue #1761 where we need the milestones and their id for each status.
We now have through #1765 Pull request, this dictionary of values.

[code]

There's also a JSON version of it which is injected in `data-statuses` on the `main` of the issue.html template.

It can be accessed by

[code]

[2017-09-06 03:57] miketaylr opened #1768 "Create milestones model for milestoneseditorview widget thingy"
Right now it's fixture data, and @karlcow added real data in #1765.

#886.

[2017-09-06 03:58] miketaylr commented on #1761
Merged into milestones branch, so let's close.

[2017-09-06 03:58] #1761 closed

[2017-09-06 04:00] miketaylr commented on #1758
Yeah, just remove status stuff once we delete those labels. Doesn't need to know about milestones.

[2017-09-06 04:02] miketaylr commented on #1754
This will come from the config. #1761. Right now it's empty.

environment.py will have the colors eventually.

[2017-09-06 05:03] miketaylr opened #1771 "Ensure open and closed milestones display in correct order in milestone editor"
probably open ones on top, in order, then closed ones below, in order.

#886.

[2017-09-06 05:04] #1751 closed

[2017-09-06 05:19] miketaylr commented on #1232
@adamopenweb yeah, we still put them in non-compat. But close them at the same time. Is that right @karlcow?

[2017-09-06 05:31] #1760 closed

[2017-09-06 05:46] miketaylr commented on #1734
Oops, forgot to close.

[2017-09-06 05:46] #1734 closed

[2017-09-06 05:53] karlcow opened #1773 "is /api/issues/labels on the home page necessary?"
When doing a request to the home page, we get

[code]

See the second to the last request:

[code]

It is requesting this
https://github.com/webcompat/webcompat.com/blob/03b0da41a8615f160a90529fef51dea64352d0c6/webcompat/api/endpoints.py#L246-L253

but not sure why it would be useful to do this. Let's search for it.

[code]

So this code
https://github.com/webcompat/webcompat.com/blob/03b0da41a861

[2017-09-06 05:56] karlcow commented on #781
This is fixed by #1765 Where I defined a config file for statuses. So we don't need to fetch anymore anything. And this maybe answers my question in #1773

[2017-09-06 05:56] #781 closed

[2017-09-06 05:57] karlcow commented on #1773
in #781 we were discussing of having a config file for statuses. So maybe indeed this issue is solved by design now and we need to remove this route?

[2017-09-06 05:58] miketaylr commented on #1750
Currently search will return results from any status. I think milestone should be the same -- so, nothing to do (I'm pretty sure).

Let's close.

[2017-09-06 05:58] #1750 closed

[2017-09-06 05:59] miketaylr commented on #1757
We still want a `stateClass` though, so the correct CSS classes get added to the templates. Maybe at some point it can be called `statusClass`.

[2017-09-06 06:50] miketaylr commented on #1773
Pretty sure this is fixed by this commit: https://github.com/webcompat/webcompat.com/pull/1767/commits/5516bc382c2e921a70eb44a78ee5ed032f713ee7

[2017-09-06 07:44] MDTsai commented on #1754
@magsout @zoepage we may need your input to move to next step. We can refer 2 sources, 1st is currentissue label's color. 2nd is in [style-variable.css](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/development/components/style-variable.css#L16-L23) for .wc-Issue-information-header (I guess).

2nd list is not a complete list for all milestones, so I prefer to manually

[2017-09-06 08:38] karlcow commented on #1232
@adamopenweb
We put them in non-compat and close them automatically.
They are a bit different from invalid. Aka there is indeed a real issue, but it's not a valid issue with regards to webcompat.

invalid is an issue invalid in any contexts.

[2017-09-06 09:09] miketaylr opened #1776 "Update fixtures to include milestone info"
I think certain tests might fail otherwise...

#886.

[2017-09-06 09:21] karlcow opened #1777 "Cleaning up/ Rationalizing configs place."
We have config parameters all over the place. Part because of the history, part because well we didn't need them elsewhere. We might want to clean the code a bit.

Some of these are fine where they are because they really are used in this context only, but some might be repetition of code here and there or with a potential to be generic for the project.

In `config/`

* https://github.com/webcompa

[2017-09-06 09:31] miketaylr commented on #1745
This was merged.

[2017-09-06 09:31] #1745 closed

[2017-09-06 09:33] miketaylr commented on #1755
@karlcow is this already fixed?

[2017-09-06 09:34] miketaylr commented on #1755
I think fixed by #1749.

[2017-09-07 01:44] #1631 closed

[2017-09-07 02:00] miketaylr opened #1779 "" The data body sent to GitHup API." test in test_form.py failure in milestones branch"
(also note the typo :P)

[code]

[2017-09-07 02:00] miketaylr commented on #1779
See here: https://travis-ci.org/webcompat/webcompat.com/builds/272417023#L674

[2017-09-07 02:01] brizental commented on #1590
Closing this because the code for it was removed in #1743

[2017-09-07 02:01] #1590 closed

[2017-09-07 02:24] miketaylr opened #1780 "Make it so you can only check a single milestone in the milestone editor"
So selecting a new one will unselect the current one.

We have similar code here:

https://github.com/webcompat/webcompat.com/blob/0ea702ebba61fd2e887a24768c4f79e4b0613875/webcompat/static/js/lib/labels.js#L146-L162

[2017-09-07 02:27] MDTsai commented on #1779
TODO:

- [ ] Mock the **app.config['STATUSES']['needstriage']['id']** with specific value. M
- [ ] Add milestone: ID to **expected** dict.

[2017-09-07 02:50] karlcow commented on #1779
My bad for not spotting it.

@MDTsai It's an easy fix. You just need to add the missing value in the expected variable.

https://github.com/webcompat/webcompat.com/blob/0ea702ebba61fd2e887a24768c4f79e4b0613875/tests/test_form.py#L112-L121

And indeed it could be fixed in #1774 pull request directly.

[2017-09-07 02:54] karlcow commented on #1779
just a missing `'milestone': 0,`. The exact value for now maybe doesn't matter that much. Given this test is just here to check that we are sending the right parameters. All the information is fake in that body.

[2017-09-07 03:19] #1749 closed

[2017-09-07 03:20] miketaylr commented on #1747
Fixed.

[2017-09-07 03:20] #1747 closed

[2017-09-07 03:23] karlcow opened #1782 "Update /edit API endpoint to handle milestone in addition to state"
The widget status editor will talk to the endpoint to change the status of the issue.
This is a followup on #1749.

aka milestone/state combination.

[2017-09-07 03:23] karlcow commented on #1749
This issue solved the display using milestones. It doesn't solve on how we change the status. Opening a new issue for this. Check #1782 for this.

[2017-09-07 03:27] miketaylr opened #1783 "Fix comments-auth.js test failures on milestones branch"
Dunno why they're so busted.

[2017-09-07 03:29] miketaylr commented on #1783
Ah.

`TypeError: response.milestone is null[Learn More]`.

This is basically #1776. Let's close as dupe.

[2017-09-07 03:31] #1783 closed

[2017-09-07 04:08] miketaylr opened #1784 "issue lists (homepage, /issues) should pull in milestone name"
It shows labels currently, when we remove the "status" labels, we'll lose that info. So we need to read from the milestone.

And update fixtures.

[2017-09-07 04:39] miketaylr commented on #1784
Dunno if we need to design anything for this, or just make sure it always appears in the right-most position.

[2017-09-07 04:42] #1768 closed

[2017-09-07 04:45] miketaylr commented on #1766
This is a dupe.

[2017-09-07 04:45] #1766 closed

[2017-09-07 04:45] miketaylr commented on #1753
(essentially #1766)

[2017-09-07 04:58] miketaylr commented on #1757
TODO:

* [ ] listen for `change:milestone` method, rather than `change:labels` (it should exist....)
* [ ] read milestone from model milestone property, rather than labels list
* [ ] if an issue is closed state, the UI should show `Closed: Incomplete`, etc., rather than just Closed

[2017-09-07 05:10] miketaylr commented on #1776
FIXED

[2017-09-07 05:10] #1776 closed

[2017-09-07 05:15] miketaylr commented on #1753
Need to send a dict with milestone integer and state to the /issues/N/edit endpoint:

`{'milestone': 2, 'state': 'open'}`

[2017-09-07 05:18] miketaylr commented on #1753
Depends on #1782.

[2017-09-07 05:23] MDTsai commented on #1754
Now I use the first list and use type-flash/nsfw for non-compat.

[2017-09-07 06:29] MDTsai commented on #1780
basically it's here https://github.com/webcompat/webcompat.com/blob/milestones/webcompat/static/js/lib/milestones.js#L73
also get checked one then uncheck all the others.

[2017-09-07 07:51] #1782 closed

[2017-09-07 07:51] #1746 closed

[2017-09-07 07:53] #1756 closed

[2017-09-07 08:00] miketaylr opened #1790 "Double triangle thingy when opening milestones editor"
<img width="127" alt="screen shot 2017-09-07 at 3 59 41 pm" src="https://user-images.githubusercontent.com/67283/30152414-9ac9de6e-93e5-11e7-8ac5-1b45874ca13d.png">

[2017-09-07 08:01] miketaylr commented on #1790
Aha, the category editor above (labels) is getting its state messed with as well:

[code]

It shouldn't have `is-active`...

[2017-09-07 09:19] karlcow commented on #1753
Fixed by #1787

[2017-09-07 09:19] #1753 closed

[2017-09-07 09:24] karlcow commented on #1754
Fixed by #1786

[2017-09-07 09:24] #1754 closed

[2017-09-07 09:37] miketaylr commented on #1790
I think the bug might be here:

https://github.com/webcompat/webcompat.com/blob/dddfd9b68d0582c1fdcf2efae516416c3a2d61c9/webcompat/static/js/lib/editor.js#L55-L61

[2017-09-07 09:46] karlcow commented on #1780
Why don't we use `type="radio"`

[2017-09-07 09:56] MDTsai commented on #1790
Using correct EditorLauncher in fetchItems and editItems could fix part of this problem, but not reRender above.

[2017-09-07 09:59] miketaylr opened #1792 "reRender for MilestonesView is broken"
See https://github.com/webcompat/webcompat.com/pull/1791#discussion_r137496197

(it never worked....)

[2017-09-07 13:33] karlcow commented on #1779
Closed by https://github.com/webcompat/webcompat.com/pull/1774/commits/a6d217d5ddfda2796d0242e5f9b4955b6077f299

[2017-09-07 13:33] #1779 closed

[2017-09-07 13:33] karlcow commented on #1752
Closed by #1774

[2017-09-07 13:33] #1752 closed

[2017-09-07 15:07] karlcow opened #1793 "Network dependency for test_api_urls.py with milestone"
When developing the tests for milestones API endpoint, I introduced again a dependency over the network.

https://github.com/webcompat/webcompat.com/blob/7f7d17750f356515659e7e47e94ac95025d85ce8/tests/test_api_urls.py#L171-L176

[2017-09-07 17:47] brizental commented on #1385
I want to work on this! As part of it I'll rewrite the way we mock login, because the way I did it the first time was an accident that worked, lol. I found out that GitHub Flask has mocking already: https://github.com/cenkalti/github-flask/blob/3c60e5876591fda5932d67134be171de17dbd8b6/test_flask_github.py

[2017-09-07 18:37] adamopenweb opened #1794 "Enter in description textbox submits form"
As described in this bug: https://github.com/webcompat/web-bugs/issues/9706

If you press enter in the description textbox, it submits the form before you've (potentially) finished filling it out.

Maybe we should prevent this behaviour and force the user to click the button?

[2017-09-07 22:14] brizental commented on #1793
If you prefer I can work on this @karlcow :)

[2017-09-08 00:30] #1780 closed

[2017-09-08 00:30] miketaylr commented on #1780
Let's re-visit once we have a working version as-is.

[2017-09-08 01:34] karlcow commented on #1793
With pleasure @brizental 👍

[2017-09-08 02:22] karlcow commented on #1784
<img width="1394" alt="capture d ecran 2017-09-08 a 10 20 28" src="https://user-images.githubusercontent.com/505230/30193415-94042734-947f-11e7-8d42-e3b9cb9250b5.png">

[2017-09-08 02:34] karlcow opened #1796 "When milestone has not been set the parse issue JS is failing."
It makes fail for example the issues list page.

This is happening here.

https://github.com/webcompat/webcompat.com/blob/bf7013ce3d8ddb4826e59bf332b63180af4c0c5e/webcompat/static/js/lib/models/issue.js#L81-L97

Exactly this line
https://github.com/webcompat/webcompat.com/blob/bf7013ce3d8ddb4826e59bf332b63180af4c0c5e/webcompat/static/js/lib/models/issue.js#L90

What is happening is that when the m

[2017-09-08 02:37] karlcow commented on #1784
Let's open a new issue. It currently fails because of #1796

[2017-09-08 02:38] miketaylr opened #1797 "Ensure we don't try to talk to the server if a milestone didn't change."

[2017-09-08 02:40] miketaylr opened #1798 "Create a `jst` npm script task"
It sucks to have to re-run `npm run build` to get the jst task to run, let's make a task that only runs `grunt jst`.

[2017-09-08 02:43] miketaylr commented on #1798
(taking this, because it's driving me nuts)

[2017-09-08 03:04] #1796 closed

[2017-09-08 03:13] miketaylr opened #1802 "Move MilestonesModel into its own file"
Inside `js/lib/models/`. We need to be sure to add this new file to the template and concat.js grunt task.

[2017-09-08 03:13] karlcow commented on #1797
(for future context)

This was introduced by @miketaylr when developing the milestone editor widget. If the editor was closed even if nothing had been modified, it was trying to still to send something. This is a bug.

[2017-09-08 03:13] miketaylr commented on #1802
(currently it lives inside `js/lib/milestones.js`

[2017-09-08 03:19] karlcow commented on #1797
This is fixed by #1801

[2017-09-08 03:19] #1797 closed

[2017-09-08 03:24] karlcow commented on #1784
#1796 has been fixed. Let's go back to this

[2017-09-08 03:44] karlcow commented on #1755
This is fixed.

[2017-09-08 03:44] #1755 closed

[2017-09-08 04:01] karlcow commented on #1784
The markup for this is now

[code]

The state class color should be handled in #1757

Currently `wc-IssueList-status js-Issue-status` does not exist in the CSS and this should be styled too. Probably. It doesn't have to be the same style than labels as we escaped this.

@magsout ideas.

[2017-09-08 04:04] karlcow commented on #1784
It looks like this for now.

<img width="475" alt="capture d ecran 2017-09-08 a 12 03 47" src="https://user-images.githubusercontent.com/505230/30195709-d7829e60-948d-11e7-97ce-0e48222551f9.png">

I will open a new issue

[2017-09-08 04:07] karlcow opened #1806 "Milestones label information in issues list view"
Currently the issues list view look like this

<img width="475" alt="capture d ecran 2017-09-08 a 12 03 47" src="https://user-images.githubusercontent.com/505230/30195740-0a33d234-948e-11e7-959a-38da74b12f94.png">

The markup is

[code]

This might need to be slightly redesigned.

[2017-09-08 04:09] MDTsai opened #1807 "Add class to js-CategoryEditor to know specific editor"
#1804 fix the click outside but not good. We can add class to editors to know if the other one is exactly opened then close it.

[2017-09-08 04:11] miketaylr commented on #1790
Fixed by #1804.

[2017-09-08 04:11] #1790 closed

[2017-09-08 04:12] miketaylr commented on #1784
Fixed in #1803.

[2017-09-08 04:12] #1784 closed

[2017-09-08 04:18] karlcow commented on #1771
This was closed by #1805

[2017-09-08 04:18] #1771 closed

[2017-09-08 04:23] karlcow commented on #1758
This line

https://github.com/webcompat/webcompat.com/blob/0ea702ebba61fd2e887a24768c4f79e4b0613875/webcompat/static/js/lib/models/label-list.js#L27

is only filtering out the namespace when displaying the labels. Even if we moved the `status-*` to milestones, we still have one `status-` which is `needinfo`. So I guess this is still useful.

[2017-09-08 04:23] #1758 closed

[2017-09-08 04:26] miketaylr commented on #1802
Fixed by #1808.

[2017-09-08 04:26] #1802 closed

[2017-09-08 04:26] miketaylr commented on #1792
Fixed by #1795.

[2017-09-08 04:26] #1792 closed

[2017-09-08 04:55] #1726 closed

[2017-09-08 05:23] #1594 closed

[2017-09-08 05:54] miketaylr opened #1809 "Firefox-only Test failure, Empty vs non-empty comment button text (open issue)"
[code]

This doesn't fail in Chrome, looks like a Geckodriver bug: https://github.com/mozilla/geckodriver/issues/659

[2017-09-08 06:08] MDTsai opened #1810 "If there is no existing topsites.db, we can skip archive old one"
When first time run this would happen.

[2017-09-08 07:18] miketaylr opened #1811 "Exception in webhook helpers.py"
[code]

[2017-09-08 07:21] miketaylr commented on #1811
Failed here, with this UA string:

https://github.com/webcompat/web-bugs/issues/9733

`Mozilla/5.0 (Android 7.1.2; Mobile; rv:57.0) Gecko/57.0 Firefox/57.0`

[2017-09-08 07:22] miketaylr commented on #1811
Regressed by https://github.com/webcompat/webcompat.com/issues/1567.

[2017-09-08 07:41] #1811 closed

[2017-09-08 08:13] karlcow opened #1813 "Fix unicode test for #1811"
A commit too rushed.

[2017-09-08 08:20] #1813 closed

[2017-09-08 08:40] karlcow opened #1816 "Bugs are not being reported on webcompat.com"
[code]

[2017-09-08 08:41] karlcow commented on #1816
Steps to reproduce:

1. Go to https://webcompat.com/
2. File a bug
3. Report

Nothing happens.

Reproducible locally.

[2017-09-08 08:42] karlcow commented on #1816
Locally if I reload I can see the bug
On webcompat.com I can't see anything it seems.

[2017-09-08 08:47] miketaylr commented on #1816
lies

[2017-09-08 08:50] karlcow commented on #1816
wooooottt! :D it's working 🗡
after logout and login.

[2017-09-08 09:03] karlcow commented on #1816
Working after erasing session.db

[2017-09-08 09:03] #1816 closed

[2017-09-08 23:56] brizental commented on #1793
So, I've got an issue here. I tried patching this exactly like I did the other ones, but since you call the `proxy_request` function from inside the `endpoints.py` file, you have to it differently.

From the [documentation](http://www.voidspace.org.uk/python/mock/patch.html#id1):

Following this train of thought, the target for the patch function would be `webcompat.api.endpoints.proxy_request`, b

[2017-09-11 07:29] zoepage commented on #1764
When moving this, we also would need to remember removing this from webcompat/webcompat-cli-tool.

[2017-09-11 09:49] zoepage commented on #1258
As a new config was added for label-colors (YAAY!) in #1754 we could move on with cleaning up the colors to fix the contrast issue as addressed here: https://github.com/webcompat/webcompat.com/issues/1258#issuecomment-319061156 and also clean up the labels itself? (If this already happened and I missed this, sorry). What do you think @karlcow @miketaylr @MDTsai ?

Thanks!

[2017-09-11 11:09] zoepage opened #1817 "Label Editor tests failing"
Looks like our master build is broken.

https://travis-ci.org/webcompat/webcompat.com/builds/274134699#L1310

Probably the label editor test wasn't adjusted?
Verified on local setup that tests are failing.

[2017-09-11 11:16] zoepage commented on #1798
Closing as automated closing after merge failed.

[2017-09-11 11:16] #1798 closed

[2017-09-11 11:53] zoepage commented on #1806
@karlcow

This will be redesigned with https://github.com/webcompat/design/blob/master/website_modules/issues_list/Desktop%20HD.png

[2017-09-11 14:08] MDTsai commented on #1817
The editor doesn't change in this month: https://github.com/webcompat/webcompat.com/blame/master/webcompat/static/js/lib/labels.js

[2017-09-11 14:26] rheaparekh commented on #1544
@miketaylr I am sorry I took such a long time to reply.

For reading from history.state, the following is necessary which is included in commit 9dc5e00

[code]
This returns a null value of history.state if the above steps( all issues, radio button, history back) are followed whereas would return an object if the step are all issues, radio button, radio button, history back.

So I don't understand

[2017-09-11 14:46] zoepage commented on #1817
The editor didn't, but the labels as far as I understood? Or am I missing something @MDTsai :)

[2017-09-11 15:28] miketaylr commented on #1817
@zoepage can you link to the build that's failing directly? Right now that points to the latest test and the line numbers don't match up. Thanks!

[2017-09-11 17:31] miketaylr opened #1818 "Clear bogus sessions by changing SECRET_KEY"
Just for history:

Last Friday, we deployed a new version to production that included moving the session.db to the data directory. We soon discovered this meant the user would still have a valid session, but it contained bogus information making communication with GitHub impossible. We cleared the session.db and restarted the app -- the user could also fix the bug by logging out and logging in (ge

[2017-09-11 17:31] #1818 closed

[2017-09-11 17:32] miketaylr commented on #1818
cc @MDTsai @karlcow

[2017-09-11 21:44] miketaylr commented on #1816
See also #1818

[2017-09-12 03:49] miketaylr commented on #1809
More than this test, if you look at https://github.com/webcompat/webcompat.com/pull/1788

[2017-09-12 04:49] miketaylr commented on #1809
This will be fixed by #1788.

[2017-09-12 04:49] #1809 closed

[2017-09-12 04:51] miketaylr commented on #1776
Actually fixed now.

[2017-09-12 04:54] miketaylr commented on #1817
Ah yeah. Thanks for the updated link!

That's the same bug as #1809. We didn't break our tests, geckodriver had a bug in 55. I fixed that in #1776 on the milestones branch, so let's close this as a dupe of that (and hopefully get that merged this week).

[2017-09-12 04:54] #1817 closed

[2017-09-12 07:56] zoepage commented on #1817
Thanks for the headsup!

[2017-09-12 13:48] adamopenweb opened #1819 "Bugform - Steps to reproduce clarity"
Some history:

- We decided to test a revised bug form while in Berlin, which was implemented
- The `How did you get there?` field was pre-populated with example steps to reproduce
- Over time we found that users weren't modifying the STR and just leaving the default steps
- The default steps were removed to clean up the redundant info in bug reports

Now we have the same `How did you get there?`

[2017-09-12 14:11] softvision-sergiulogigan commented on #1819
How about we change the "How did you get there?" string with "Please help us reproduce your issue" and (maybe?) pre-populate the text area with "Step 1: Navigate to <Site URL string>
Step 2:..."

[2017-09-12 14:25] softvision-oana-arbuzov commented on #1819
Maybe a "Hint" message ("Describe what steps you made to get there") in the text area, which becomes hidden when user types something.

[2017-09-12 15:30] miketaylr commented on #1748
This is a dupe of #1788, I think. All green now.

[2017-09-12 15:30] #1748 closed

[2017-09-12 16:18] miketaylr commented on #1794
Yeah, that's crappy behavior, IMO.

[2017-09-12 16:24] miketaylr commented on #1757
* [ ] actually change state for certain milestones?

[2017-09-12 16:31] miketaylr commented on #1757
* [ ] file follow up bug to remove/figure out worksforme/fixed CSS classes (and if we need different classes/colors for the various closed statuses.

[2017-09-12 19:00] miketaylr commented on #1807
Yeah, we shouldn't try to close it if it's not open.

[2017-09-12 19:02] miketaylr commented on #1807
I think this is also the cause of another bug...

If you set a label (by closing the label editor), it will call closeEditor on the milestones editor -- then try to update milestone status and throw.

[code]

[2017-09-12 19:17] miketaylr opened #1820 "Weird interactions between label and milestones editor"
Just mess around with setting a milestone or a label... then refresh. Something is weird. Like, setting a milestone will set labels, or remove them? O_o

[2017-09-12 20:16] zoepage commented on #1819
Just linking the following issues as we had this discussion already at some point.

https://github.com/webcompat/webcompat.com/issues/1646#issue-241425434
https://github.com/webcompat/webcompat.com/issues/1007

There was also the idea of adding the "placeholder" message per Javascript as `placeholder` actually did not work.

[2017-09-12 20:37] miketaylr commented on #1820
Ah, I think this is because if you hit the issue edit route, you just pass in milestone and status... without labels. So it removes labels. We could pass in all labels as well, when editing a milestone? Seems weird, but I don't think there's another way.

GitHub offers a labels API, which allows you to edit labels for an issue, but doesn't offer a dedicated API to modify milestones. You have to us

[2017-09-13 00:11] karlcow commented on #1820
I will check the milestone branch today.

[2017-09-13 00:33] karlcow commented on #1820
ok let's see… I set up the issue:

http://localhost:5000/issues/1277
![capture d ecran 2017-09-13 a 09 19 28](https://user-images.githubusercontent.com/505230/30353983-ad5d218e-9864-11e7-8af9-4eb43d2ac1d2.png)

Requests are:

[code]

Let me add firefox as a label.

![capture d ecran 2017-09-13 a 09 20 51](https://user-images.githubusercontent.com/505230/30354016-f2734500-9864-11e7-83f0-8fe02dd7285

[2017-09-13 00:34] karlcow commented on #1820
@miketaylr so indeed we have a bug, not with the /edit route, but with the status/milestone editor calling the labeler route on Opening and Closing.

[2017-09-13 01:03] karlcow commented on #1820
When I open the status widget editor, it is calling `labels.save` in `issue.js` it should not.
https://github.com/webcompat/webcompat.com/blob/63caeeaaa9c807b39d20090b17860403fb314909/webcompat/static/js/lib/models/issue.js#L131-L143

[2017-09-13 01:17] karlcow commented on #1820
Oh and why this is called twice here:
https://github.com/webcompat/webcompat.com/blob/63caeeaaa9c807b39d20090b17860403fb314909/webcompat/static/js/lib/models/issue.js#L27-L46

Also opening/closing WITHOUT modifying anything is still calling the /labels/ route. :)

[2017-09-13 05:53] karlcow commented on #1820
doing a bit more digging. When I comment out

https://github.com/webcompat/webcompat.com/blob/63caeeaaa9c807b39d20090b17860403fb314909/webcompat/static/js/lib/models/issue.js#L127-L143

The issue is solved. We can't set the labels anymore obviously, but at least it means that the Status widget editor was trying to call this.

On the other hand another bug surfaced. With this piece of code commente

[2017-09-13 06:45] karlcow commented on #1820
@miketaylr Merging your pull request #1821 is not solving the issues.
Opening the editor still call the labels route is there is at least one label checked. At least it doesn't try anymore to re-set a status-* label. So that's better.

[2017-09-13 07:18] karlcow commented on #1820
Ah  so went on a step by step walk. Just after rendering the MilestoneEditor… the code is going to

* `closeCategoryEditor` in `issues.js`,
* then go to `closeEditor` into `labels.js` 🏷
* then to `updateLabels` into `issue.js`
* then to `initialize` into `label-list.js` (and because the labels editor is close, it doesn't get any meaningful data).
* then go back to `labels.save()` from `updateLabel

[2017-09-13 17:57] denschub opened #1822 "Provide a way to get in touch with anonymous reporters"
As mentioned in yesterdays meeting, the number of anonymous reports which get closed because we have troubles understanding or reproducing the issue is very high. Sometimes, it feels like we could miss a lot of possibly important bugs, simply because the initial report didn't provide enough information for us to fully grasp it.

When people use GitHub sign in to report issues, we have much higher

[2017-09-13 17:57] denschub commented on #1822
As mentioned in yesterdays meeting, I prepared a Proof-of-Concept for using Web Push Notifications, based on something I wrote a while ago. I will *temporarily* host the PoC and the backend components [here](https://webcompat-issue-subscribe-webpush.pocs.playground.0b101010.org/), the code can be found [here](https://github.com/42squared/webcompat-issue-subscribe-webpush-poc).

As you can see, my

[2017-09-13 18:27] miketaylr commented on #1820
@karlcow ah, I think I ended up with the same conclusion here: https://github.com/webcompat/webcompat.com/issues/1807#issuecomment-328949852

[2017-09-13 20:08] miketaylr commented on #1820
Yeah, that PR isn't intended to fix the bug. I just noticed it there. It will probably get fixed in #1807.

[2017-09-13 20:08] miketaylr commented on #1820
(or here)

[2017-09-13 22:48] karlcow commented on #1822
For previous discussions about this, see

* #1015 leave a comment anonymously
* #457 Rethink anonymous bug reporting

[2017-09-13 22:58] karlcow commented on #1822
In #1015, one proposal was https://github.com/webcompat/webcompat.com/issues/1015#issuecomment-214906095

In #457 https://github.com/webcompat/webcompat.com/issues/457#issuecomment-277860998

Web push notifications had not been yet proposed to the best of my knowledge. Interesting idea.

[2017-09-14 03:20] karlcow opened #1823 "code in email-replies to comment"
This is currently what we show when we display code which has been inserted in an email (when replying to comments):

https://github.com/webcompat/web-bugs/issues/9862#issuecomment-329153431
https://webcompat.com/issues/9862#issuecomment-329153431

<img width="787" alt="capture d ecran 2017-09-14 a 12 09 11" src="https://user-images.githubusercontent.com/505230/30410375-aa1319ac-9945-11e7-820b-8c5

[2017-09-14 13:56] softvision-oana-arbuzov opened #1824 "Priority Labeling Criteria"
According to the weekly meeting discussion:
"Mike: Also, new bugs should have a priority label assigned now, since Eric landed his stuff.
Oana: What's the source for deciding which priority label gets assigned?
Mike: Currently it's the Top X list from Alexa. We might develop a smarter solution in the future, but for now, Top 100(?) websites will get assigned the critical label and so on.
Oana: It

[2017-09-14 14:09] softvision-oana-arbuzov commented on #1824
I would suggest adding a "Severity" drop-down menu in the webcompat.com reporting web form with 3 states:
- severity-critical
- severity-normal
- severity-low

The Severity should be set by users according to the impact the issue has on him or automatically according to the "Type of bug".
e.g
- Severity-critical: Layout fully messed up/Site not usable/Desktop site instead of mobile site/Video or -

[2017-09-14 14:40] karlcow commented on #1793
@brizental Does it change anything if you use relative imports, aka with a "."

[2017-09-14 14:42] karlcow commented on #1793
another idea inside the app_context

[code]

then mocking.

[2017-09-14 14:52] miketaylr commented on #1824
cc @MDTsai

[2017-09-15 02:28] brizental commented on #1793
With the app context now it works :)

[2017-09-15 03:32] brizental commented on #1793
Sorry for the duplicate commits, I had a little confusion because milestones is the 'parent' branch not the master. Anyways, using the patch inside app_context() alone worked already :)

[2017-09-15 07:40] karlcow commented on #1793
Closed by #1825

[2017-09-15 07:40] #1793 closed

[2017-09-15 08:02] MDTsai commented on #1824
#1533 is set priority according to the site importance. Definitely we can still adjust manually if severity is low. As a daily contributor doing triage with @karlcow  @adamopenweb , two labels seems too complex for me.
I'm thinking if we can map the priority into different rating, like site importance, severity, anonymous reporter, clear STR. High priority means we can easily push this issue to ne

[2017-09-18 04:31] karlcow commented on #1824
The priority is indeed a rating based on the ranking of the issue more than the quality of the issue.
It means that if two sites have similar problems on foobar.example.com and wellknown.example.org, the wellknown.example.org gets priority in processing treatment.

[2017-09-18 04:32] karlcow commented on #1824
And forgotten to add. There are issues for known Web sites, that I put on "one day queue" because the issue is minor, and it's better to focus on things which are really broken.

[2017-09-18 07:26] zoepage commented on #1622
As this was fixed in #1636, closing,

[2017-09-18 07:26] #1622 closed

[2017-09-19 09:12] zoepage opened #1826 "Create UI for a "detect bugs with similar domain names" feature"
This is a new approach to #307.
Before I can started on this, I'd like to clarify the requirements and some questions.

### Intro:
The idea is to create an UI to find issues with similar domain names and maybe even more. This feature should be seen as "power user feature", so it would be enabled for users, who are logged in.

For the requests the easiest way for a first version would be to use the

[2017-09-19 12:46] zoepage commented on #307
closing for now as we have #1826 as follow up.

[2017-09-19 12:46] #307 closed

[2017-09-19 14:16] softvision-sergiulogigan opened #1827 "The Linux version should be fetched when logging bugs on webcompat"
**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new

**Expected Behavior:**
The Linux distro is filled in the environment details textbox (eg. Ubuntu 16.04.3).

**Actual Behavior:**
The environment details textbox only displays "Linux".

[2017-09-20 04:17] karlcow opened #1828 "Use Description for the title instead of the radio button text when it has been filled"
See for example https://webcompat.com/issues/9602
It would probably be better to feed the title with the Description field than the current title after the domain name.

[2017-09-20 04:19] karlcow commented on #1828
To modify
https://github.com/webcompat/webcompat.com/blob/016f0ee80157dc6dd2430fad1d245c589a52b9a3/webcompat/form.py#L105-L113

using https://github.com/webcompat/webcompat.com/blob/016f0ee80157dc6dd2430fad1d245c589a52b9a3/webcompat/form.py#L221

[2017-09-20 04:21] karlcow commented on #1828
1. if description is not empty - use it
2. fall back on the current code.

[2017-09-20 05:46] karlcow commented on #1828
It would also avoid @webcompat/collaborators to not have to reedit the title by hand.

[2017-09-20 19:56] zoepage commented on #1828
@karlcow Would there be a max of characters or would we use the whole description text?

[2017-09-20 23:17] #1810 closed

[2017-09-21 12:01] softvision-sergiulogigan opened #1829 "The "class="js-Issue-markdown wc-Markdown"" info is displayed after applying a label"
After logging an issue and setting the labels from the Webcompat UI, the class="js-Issue-markdown wc-Markdown" info is displayed.
Reproducible both on Staging and Production.

![image](https://user-images.githubusercontent.com/16573771/30694674-b3c40a90-9edd-11e7-8ace-a8476ba429f8.png)

[2017-09-21 14:03] karlcow commented on #1829
Yup it's happening to me all the time.

[2017-09-21 14:45] zoepage commented on #1829
Just to clarify and documentation purpose, it should be just hidden by CSS or should something other happen?

[2017-09-21 19:39] magsout commented on #1829
@zoepage it seems that It misses the element html p, which I believe is added by the JS:

![capture d ecran 2017-09-21 a 21 35 53](https://user-images.githubusercontent.com/1997108/30714993-22c23520-9f15-11e7-8263-43d3836168ec.png)

[2017-09-21 22:33] adamopenweb commented on #1826
I really like the workflow, as mentioned our issue titles aren't very descriptive compared to Bugzilla. API requests shouldn't be high for those who've clicked the report site issue button, though they may not be signed in depending on their activity here.

Not sure if this is helpful: As a person doing triage, I would like to see what other issues exist for this domain. If there is a report for t

[2017-09-22 06:48] softvision-sergiulogigan commented on #1829
I think yes, it should be hidden.

[2017-09-22 06:59] karlcow commented on #1828
@zoepage I don't know. We need to look at the data.

TODO: Check the current length of descriptions.

[2017-09-22 07:35] karlcow commented on #1826
@zoepage Thanks for restarting the discussion on this.

I'm not convinced about this. One of the workflow is specifically to start filing a bug and at the end to be able to report it as anonymous or under your github name. It is specifically true when you test for a specific browser on mobile and/or another browser where you are not logged in usually.

We can try a prototype, but I have an intuiti

[2017-09-26 12:48] zoepage commented on #1826
@adamopenweb

Makes sense. When you'd get a list displayed with URL's and the type (as it is right now), would this help already? Or would you need to have a way to e.g. open them in a new tab?

@karlcow

As we discussed at the work week on Berlin, we have two types of reporters. The ones, who don't have much time to report and those, who put in as much detail as possible. The only way to split th

[2017-09-27 00:33] karlcow commented on #1826
( @zoepage thinking out loud, all these discussions are not necessary fully matured. In case it is not clear, I have tendencies to share the stream of my thoughts. Not a final answer. Comments are here to think.)

## About type of reporters

@zoepage said:

Yes. This is orthogonal to the login status.

@zoepage said:

Not necessary. For example, when I report issues with Firefox Nightly, I'm never

[2017-09-27 03:57] karlcow commented on #1807
@MDTsai @miketaylr What do we need to do to fix this one?

[2017-09-27 03:57] karlcow commented on #1807
We are very close to the finish line.

[2017-09-27 13:45] softvision-oana-arbuzov opened #1830 "Unable to report issues with attachment on Staging"
URL: www.staging.webcompat.com
Browser / Version: Firefox 55.0.3, Chrome 61.0.3163.100.
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to www.staging.webcompat.com.
2. Tap “Report bug” button.
3. Type in all the required info and upload a screenshot.
4. Tap the “Report” button and observe behavior.

**Expected Behavior:**
Issue is reported.

**Actual Behavior:**
Issue is not

[2017-09-27 13:47] miketaylr commented on #1830
[code]

[2017-09-27 14:22] karlcow commented on #1830
For now, `chown -R user_id:group_id /srv/uploads/staging.webcompat.com/uploads`
where user_id:group_id are the owner of the server process.

For the next upload.

[os.makedirs](https://docs.python.org/2/library/os.html#os.makedirs) is calling [os.mkdir](https://docs.python.org/2/library/os.html#os.mkdir).

But that's not it.

[code]

The error is permission denied.

I wonder if it's the default um

[2017-09-27 14:24] miketaylr commented on #1807
I can work on this tomorrow. Hoping to make as much progress by EOW...

[2017-09-27 14:25] miketaylr commented on #1830
@karlcow see https://github.com/webcompat/devops/issues/10, i "fixed" it with your first suggestion.

[2017-09-27 14:26] karlcow commented on #1830
[code]

then

[code]

[2017-09-27 14:30] karlcow commented on #1830
sent an email to @miketaylr

[2017-09-27 14:30] miketaylr commented on #1830
Gonna close this since it's fixed. Maybe we can continue discussion in the devops issue.

[2017-09-27 14:30] #1830 closed

[2017-09-28 18:42] #1757 closed

[2017-09-28 18:50] miketaylr commented on #1807
I'm gonna close this as a dupe of #1820 (this came first, but @karlcow has some better analysis in that one, I think it's the same bug).

[2017-09-28 18:50] #1807 closed

[2017-09-28 20:58] miketaylr commented on #1826
I think generally the answer is to debounce or throttle (or both) function calls so they fire no more than N times per millisecond or event. We could experiment with this to get it right. And who knows, get crazy with dbs on the client or server.

This is ridiculous haha. Good find.

We send a GET param, `reported-with: foo` and anything that is not "web" is an addon initiated pageload.

This is i

[2017-10-02 21:41] miketaylr opened #1832 "status not updated visually (without refresh) when... changing status"
Issue found by @karlcow here: https://github.com/webcompat/webcompat.com/pull/1831#issuecomment-333414014

[2017-10-02 21:43] miketaylr commented on #1832
Hm, either I don't understand the issue, or it doesn't reproduce for me:
![status](https://user-images.githubusercontent.com/67283/31100852-b0781c12-a790-11e7-8244-0d5775aca334.gif)

[code]

@karlcow would you mind re-testing when you get a moment? It's possible I'm not understanding the issue. Thanks.

[2017-10-02 21:49] karlcow commented on #1832
ok my bad. Just checked this morning. And I had forgotten to do the magical `grunt`. Sorry about that. It works accordingly to the… spec 👅

[2017-10-02 21:49] #1832 closed

[2017-10-02 21:50] karlcow commented on #1820
Closed by #1831

[2017-10-02 21:50] #1820 closed

[2017-10-02 21:55] karlcow commented on #1759
I need to do that this week. And we are done.

[2017-10-03 07:10] karlcow commented on #1759
@miketaylr

So I checked.

* [x] https://webcompat.com/contributors Nothing to change
* [x] https://github.com/webcompat/webcompat.com/wiki current wiki documentation is fine.
* [x] https://github.com/webcompat/webcompat.com/tree/master/docs nothing to change there too.
* [x] https://wiki.mozilla.org/Compatibility/Guide/Triage doesn't need any modifications.

The only thing we could **add** is on

[2017-10-03 07:10] #1759 closed

[2017-10-03 07:12] karlcow commented on #886
This bug is ready to land. :) Thanks a lot to @MDTsai and @miketaylr for the work done in Taipei around developing the main structure.

Next steps. Staging for some tests.
Then deploy on the real site.

[2017-10-03 09:48] MDTsai commented on #1826
Some ideas about searching issues:
First, current issue title is not helpful, "Site is not usable" means different things. Sometimes description is too long but helpful to know what's happen.
Second, as my experience to figure out "duplicate" issues, we have issues with same root cause (radio/checkbox in android, text not align well, default font, etc), but they are from different domain. A better

[2017-10-03 14:15] miketaylr opened #1833 "TypeError: milestoneColors[milestone] is undefined [Learn More]"
1. https://staging.webcompat.com/issues/1288
2. the page refuses to load
3. in the console, `TypeError: milestoneColors[milestone] is undefined [Learn More]`

[2017-10-03 14:21] miketaylr opened #1834 "Move all "built" scripts into a build folder"
Basically everything that's not in `js/lib` or `js/vendor` should go into a `js/build` directory, and be git ignore'd. We should never edit those files, and it would be easier to hide them from editor search results as well.

[2017-10-03 14:38] miketaylr commented on #1833
in issue-milestones.jst

[code]

in issue.js model:

[code]

On the server, `<main data-statuses="">`, not sure why yet.

Question: is a fallback color useful? Or when this fails, will it fail no matter what? (or in other ways)

[2017-10-03 14:46] karlcow commented on #1833
where does staging get its bug from? webcompat-test?

[2017-10-03 14:46] miketaylr commented on #1833
milestones.json is in the right place on the staging server (in $FOO/data/milestones.json)

https://gist.github.com/miketaylr/c861d7c15c276e3502a817e25a956fc7

[2017-10-03 15:00] karlcow commented on #1833
@miketaylr could you restart once. :) just an intuition

[2017-10-03 15:02] karlcow commented on #1833
Wondering… https://github.com/webcompat/webcompat.com/blob/236c970c101b2a78c20732df43d63eec2e17d343/run.py#L108

I'll check tomorrow morning in the train.

[2017-10-03 15:07] miketaylr commented on #1833
Cool, thanks @karlcow. I'm messing around with some logging on the server, but I suspect you could figure it out quicker than me. :)

[2017-10-03 15:08] miketaylr commented on #1833
Yeah.

[2017-10-03 15:12] miketaylr commented on #1833
Interesting. I added some dumb code to log the JSON_STATUSES config object, which works locally:

views.py:

[code]

(in my console with localhost running)

[code]

I deployed that to staging and get an nginx 500.

staging-nginx.log:

`2017/10/03 15:09:32 [error] 856#0: *380129 upstream prematurely closed connection while reading response header from upstream, client: 66.90.217.104, server: stagin

[2017-10-03 15:12] miketaylr commented on #1833
So it seems like that's failing somehow?

[2017-10-03 15:44] miketaylr commented on #1833
One thing to note, doesn't seem like the bug though:

https://github.com/webcompat/webcompat.com/blob/milestones/run.py#L160
https://github.com/webcompat/webcompat.com/blob/236c970c101b2a78c20732df43d63eec2e17d343/run.py#L108

That `statuses` argument is never used.

[2017-10-03 16:05] miketaylr commented on #1833
/me steps away to let Karl poke at it.

[2017-10-03 22:16] karlcow commented on #1833
small intuition, because of `KeyError: 'JSON_STATUSES'`
Could you put in config/environment.py as a test, `JSON_STATUSES = {}`

For

that's a bug. :p

[2017-10-03 22:32] karlcow commented on #1833
I tried different failures mode on localhost, without being able to reproduce the issue. So there is something which is really tied to the fact to be on staging. Still investigating. (🚂 arriving in Tokyo soon)

[2017-10-03 23:38] zoepage commented on #1834
This was already discussed in #1352, but I second that! Shall we do this now then (with grunt)?

[2017-10-04 00:16] karlcow commented on #1833
On creating a bug on staging
I ended up having a redirection to https://staging.webcompat.com/file with a 502 bad gateway.
Not good. :)
The bug was created. https://staging.webcompat.com/issues/1289

[2017-10-04 00:22] karlcow commented on #1833
The second. Still 502 Gateway. Redirection to https://staging.webcompat.com/issues/new
The bug was not created.

[2017-10-04 07:29] karlcow opened #1835 "NotFound send_from_directory"
It seems quite frequent in the logs. I don't know why, and I need to understand to be able to ignore or to fix it.

[code]

a couple of times every hour. On webcompat we use it only twice but in a LOCALHOST context.

[code]

So it's probable that it comes from something else such as serving a static resource.

[2017-10-06 11:09] softvision-oana-arbuzov opened #1836 "Fix Milestones initialization for non-local servers"
**URL:** www.staging.webcompat.com
**Browser / Version:** Firefox Release 56.0 (Desktop), Chrome 61.0.3163.100 (Desktop), Firefox Nightly 58.0a1 (2017-10-04) (Mobile), Chrome 61.0.3163.98 (Mobile).
**Operating System:** Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites**
1. Logged in with valid credentials.

**Steps to Reproduce:**
1. Navig

[2017-10-06 11:13] softvision-oana-arbuzov commented on #1836
This might be related to #1833 .

[2017-10-10 16:01] miketaylr commented on #1834
Yeah, why not. If and when webpack happens, it would mean less work to modify templates, etc.

[2017-10-10 16:22] miketaylr commented on #1833
I'm not sure staging is in a good state. Let me re-deploy the milestones branch.

[2017-10-10 16:26] miketaylr commented on #1836
[code]

[2017-10-10 16:31] miketaylr commented on #1833
OK, something is up... strange. I left a comment of the stack in #1836. Will spend time investigating today.

[2017-10-10 21:23] miketaylr commented on #1836
Aha...

[code]

[2017-10-10 21:24] miketaylr commented on #1836
So GitHub is saying we failed issue creation, because we're sending an invalid milestone?

[2017-10-10 21:24] miketaylr commented on #1836
https://developer.github.com/v3/#client-errors

[2017-10-10 21:26] miketaylr commented on #1836
I suppose this is somehow consistent with my theory in #1833 that somehow something is wrong with milestones.json.

But it's on the server:

`-rw-r--r--  1 webcompat webcompat 16677 Oct 10 21:16 milestones.json`

[2017-10-10 22:04] miketaylr commented on #1836
I might experiment with https://flask-debugtoolbar.readthedocs.io/en/latest/ later on. Not sure what's up at the moment. 😖

[2017-10-11 00:46] karlcow commented on #1836
If the milestones are empty in the templates… then indeed we are sending something wrong in the template, because we do not have access to milestones.

The easiest way to check that theory would be to hardcode the file in the template.

Now the real question is why the template doesn't receive the file. :0) to explore. We know this is working locally. And working very well. I wonder if there is a

[2017-10-11 18:34] swarnava opened #1837 "Type of bug options are almost invisible in Firefox for Android version 57"
![image](https://user-images.githubusercontent.com/1162991/31459482-f119cb88-aee0-11e7-9701-7807e830f01d.png)

[2017-10-11 19:03] zoepage commented on #1837
![screenshot_20171011-210013](https://user-images.githubusercontent.com/562354/31460694-85c55f82-aec7-11e7-990a-c5914628c1d1.png)
![screenshot_20171011-210008](https://user-images.githubusercontent.com/562354/31460701-88cf3cf2-aec7-11e7-85a9-8692f64f27b6.png)

Android 7.1.1.
Nightly 58
Firefox 56

Confirmed. Will investigate.

[2017-10-11 19:23] zoepage commented on #1837
![screenshot_20171011-212219](https://user-images.githubusercontent.com/562354/31461631-68cbdda4-aeca-11e7-845e-99ab02a88298.png)
![screenshot_20171011-212239](https://user-images.githubusercontent.com/562354/31461637-6b9e0ed0-aeca-11e7-8a3b-1f3155e4af13.png)

[2017-10-11 19:35] zoepage commented on #1837
This is a general issue and gladly already reported https://bugzilla.mozilla.org/show_bug.cgi?id=1406808

Thanks @swarnava :)

[2017-10-11 19:35] #1837 closed

[2017-10-11 21:42] miketaylr commented on #1836
Doing the following from the index route logs what I would expect:

[code]
(also we're not getting `IOError` which would suggest a permission issue)

I wonder if we're getting into some kind of race condition or something when setting `JSON_STATUSES`.

[2017-10-11 23:18] karlcow commented on #1836
Yes my thought and I think I know where to change that and It's my mistake.

[2017-10-12 01:14] karlcow commented on #1836
This commit is not a solution to our problem but something to avoid starting with our problem.
https://github.com/karlcow/webcompat.com/commit/d93e3fb3f2a7c56566f4f9620681a02d7a7645e0

I renamed a couple of variables to make it clearer and added a condition to bail out if milestones are not properly initialized. This should at least help to not have the server starts without milestones.

[2017-10-12 02:58] miketaylr commented on #1836
https://stackoverflow.com/a/39457189 might be relevant here. But... it seems like we're trying to add `STATUSES` and `JSON_STATUSES` before starting `app.run()`.

Maybe that's too late? I need to read some flask library code.

One idea: populate `JSON_STATUSES` / `STATUSES` from environment.py by reading a file that is assumed to be on the server. We could put that there via cron daily or so (usin

[2017-10-12 03:25] miketaylr commented on #1836
@karlcow OK, on the theory that we're modifying `app.config` too late, I hacked this crappy diff patch together:

https://gist.github.com/miketaylr/0e2d8ad8eca3806f7c77e8799d9e1c63#file-hax-patch

<img width="1742" alt="screen shot 2017-10-11 at 10 19 24 pm" src="https://user-images.githubusercontent.com/67283/31477964-fb06c0dc-aed2-11e7-9bad-4dd578599097.png">

It's ugly, but the `JSON_STATUSES`

[2017-10-12 04:55] karlcow commented on #1836
Are there   things touching `app.config` before `app.run`?
Let's see.

`config_validator()` is calling `app.config['OAUTH_TOKEN']` and it's working, but it just checks the reading and not writing.

AAAAAH no… understood. And easy to test :) doh!
Try to write a log from `run.py`

It will not happen in production, nor staging. In fact our current run.py is not used at all except for LOCALHOST, which

[2017-10-12 04:59] karlcow commented on #1836
Basically we can populate the milestones from the fabfile when deploying (aka setting up the system). In the meantime I suggest a small script that is independent indeed.

We should probably get rid of python run.py and kind of using the same strategy locally and remotely with a fabfile. So we would deploy to local, staging or prod. That would make everything much cleaner. It would clearly separat

[2017-10-12 05:07] karlcow commented on #1836
The why it is/was confusing is that the `app.run()` is not run.py but http://flask.pocoo.org/docs/0.12/api/#flask.Flask.run

[2017-10-12 05:47] karlcow commented on #1836
Oh… and if @miketaylr you tell me "but but karl… milestones.json has been created in data/ so run.py is being read". I answer: "Nope." :) It's because you ran python run.py locally :)

[code]

[2017-10-12 06:15] karlcow commented on #1837
this has been fixed.
https://bugzilla.mozilla.org/show_bug.cgi?id=1406808

[2017-10-12 06:53] karlcow commented on #1836
To remember
After reading this http://flask.pocoo.org/docs/0.12/cli/

This is working and illustrates our issue with milestones. :)

[code]

[2017-10-12 06:54] karlcow commented on #1836
@miketaylr I will fix the mess tomorrow (Friday) ^_^ stay tuned.

[2017-10-12 14:57] adamopenweb commented on #1819
Maybe we can make a decision on this one? Doesn't have to be the best, right now we aren't getting good answers many times. A simple text change we could deploy immediately.

How does everyone feel about this?
`What steps did you take before this problem occurred?`
with the placeholder:
`Please be as detailed as possible.`

<img width="400" alt="screen shot 2017-10-12 at 10 53 09 am" src="https://

[2017-10-12 15:21] miketaylr commented on #1836
Awesome, thanks @karlcow.

[2017-10-12 15:26] miketaylr commented on #1836
Just so I understand, that part of the code wasn't running because of `if __name__ == '__main__':`, right? That block will only run when running run.py as a program from the commandline, uwsgi doesn't care about it when it runs the app.

[2017-10-12 15:33] miketaylr commented on #1833
Let's close this in favor of https://github.com/webcompat/webcompat.com/issues/1836, since that has all the good diagnosis comments.

[2017-10-12 15:33] #1833 closed

[2017-10-12 15:34] miketaylr commented on #1836
(closing #1833 since we have better comments in here)

[2017-10-12 16:53] miketaylr commented on #1819
+1 to @adamopenweb's suggestion.

@magsout could you send in a PR for this? We can just use `placeholder` in the textarea since it's so short.

We can have more discussions on how to improve later, right now it's pretty lame.

[2017-10-12 22:10] karlcow commented on #1836
The full `run.py` is never used in prod/staging because we start the app with uwsgi  `service uwsgi restart` which is concerned only with what is inside `webcompat/` directory (aka the module) starting the callable `app()` inside it effectively in the `__init__.py` with `app = Flask(__name__, static_url_path='')` :)

[2017-10-13 00:35] karlcow opened #1838 "Separate requirements.txt into dev-req.txt and production-req.txt"
Currently we have a unique requirements.txt
Some of the modules are not useful once the application is deployed in production. Let's separate these in two files, so that when we deploy we only consider what we really need for running the application.

[2017-10-13 01:08] karlcow opened #1839 "Make fabfile export different configs depending on the target"
Currently our fabfile will export to a different directory for staging and production, but we can make it a bit better.

* production
* staging
* development (local)

This will help us to have separate config file for each environment and deploy only what is needed.
* http://flask.pocoo.org/docs/0.12/config/#development-production
* http://exploreflask.com/en/latest/configuration.html#configuring-

[2017-10-13 01:09] karlcow commented on #1839
It also makes it safer with regards to secrets (keys, passwords)

[2017-10-13 01:13] karlcow commented on #1839
See also the notion of instance folders
http://flask.pocoo.org/docs/0.12/config/#instance-folders

[code]

[2017-10-13 01:25] miketaylr commented on #1836
(yeah, you said it more elegantly, but that's what I was awkwardly stating.... -- thanks!)

[2017-10-13 02:00] karlcow commented on #1310
@zoepage Discovered this today http://flask.pocoo.org/docs/0.12/api/#flask.Config.from_json

The conversion in my previous comment is to use only one time if we are going the JSON route.

So the strategy would be to  as you said:

I'm adding this issue to the Architecture Austin because there are a couple of things we need to change around config/deployment and that would be a good opportunity to

[2017-10-13 02:02] karlcow commented on #1836
So there's an issue in our current situation. It's cool to read an existing file for creating a config. But that's not cool to create the HTTP GET part from network. This should be in the fabfile. I will try to come up with a solution which is trying to solve our current issue but will have to be modified in Austin.

[2017-10-13 02:59] karlcow commented on #1836
Pull request done.
https://github.com/webcompat/webcompat.com/pull/1840

[2017-10-13 17:20] miketaylr commented on #1836
This is fixed now, just tested on staging. Thanks again @karlcow.

[2017-10-13 17:20] #1836 closed

[2017-10-13 18:43] miketaylr opened #1842 "TypeError on labeler webhook route for staging"
I modified the labeler route to print `body`:

[code]

Here's what gets printed:

[code]

Seems OK.

But in the staging-uwsgi.log, we get the following stacktrace:

[code]

And predictably, the webhook results in a 502.

![screen shot 2017-10-13 at 1 43 18 pm](https://user-images.githubusercontent.com/67283/31561136-84f302fc-b01c-11e7-8d7d-f3c497dbc4c1.png)

[2017-10-13 18:46] miketaylr commented on #1842
But, the labeler webhook is working as expected on production. 😕

[2017-10-13 18:51] miketaylr commented on #1842
Oh wait.

https://github.com/webcompat/webcompat.com/pull/1812

This is on master, and I deployed milestones. Just need to rebase. :)

[2017-10-13 18:51] #1842 closed

[2017-10-17 15:19] amitsin6h commented on #1763
want to work on this assign me

[2017-10-17 23:59] karlcow opened #1844 "Images uploaded through GitHub are being hidden?"
1. Go to https://webcompat.com/issues/12147#issuecomment-337414177
2. Go to https://github.com/webcompat/web-bugs/issues/12147#issuecomment-337414177

Same issue we can't see the images.

![capture d ecran 2017-10-18 a 08 58 52](https://user-images.githubusercontent.com/505230/31695029-d5948888-b3e2-11e7-9d8f-bf16815c38b0.png)

on webcompat.com

[code]

on github.com

[code]

[2017-10-18 00:02] karlcow commented on #1844
@magsout do you know why?

[2017-10-18 01:42] karlcow commented on #886
Milestones have been created on the webcompat.com project.
https://github.com/webcompat/web-bugs/milestones

They are **not used yet**.

Next steps:
1. Move the bugs to their own milestones without deleting the labels  (needs a script. I'm checking that today)
Special care needs to be done for `status-invalid` and not in milestones `non-compat`
2. Check if we have orphaned issues
3. Deploy the new

[2017-10-19 19:20] magsout commented on #1844
@karlcow do you edited your comment ? Because all images are visible..

[2017-10-19 22:31] karlcow commented on #1844
I didn't, but it is working. So let's close! Thanks for checking @magsout

[2017-10-19 22:31] #1844 closed

[2017-10-20 01:03] karlcow opened #1845 "no background-color on html/body"
1. Go to https://webcompat.com/
2. Inspect element html and body

`background-color` is not defined but  `color` is defined as `#404040`

[code]

It's usually not a good idea from https://github.com/webcompat/web-bugs/issues/12621

[2017-10-20 04:10] MDTsai opened #1846 "Create UI for a "detect bugs with similar descriptions" feature"
It's from https://github.com/webcompat/webcompat.com/issues/1826#issuecomment-333793412

**Intro:**
When there is Firefox regression bugs, we'll see users report same issues but they have same root cause. It comes into my mind if we can let user know other users already reported similar issue, they can see what's happening and vote/+1/vouch same issue happen to him/her.

**Description:**
While use

[2017-10-23 05:56] karlcow commented on #1822
Interesting two recent bugs which play into the "leave an email address".

<img width="561" alt="capture d ecran 2017-10-23 a 14 52 36" src="https://user-images.githubusercontent.com/505230/31874066-2b8e477e-b802-11e7-9f23-61f53e51b277.png">

* https://webcompat.com/issues/12705
* https://webcompat.com/issues/12707

[2017-10-23 06:35] karlcow commented on #1000
This one needs to be solved. I don't know if it's the same from elsewhere. But from Japan, if I didn't know better I would abandon the image upload most of the time. It takes around 10+s  without any visual indication that we are waiting for an image upload.

[2017-10-23 06:35] karlcow commented on #1000
We also need to check what takes so much time.

[2017-10-23 06:39] karlcow commented on #1000
See https://github.com/webcompat/webcompat-tests/issues/1266

[2017-10-23 08:01] denschub commented on #1822
Interesting! My reasoning for suggesting push notifications was the fact it's a simple click and people do not have to provide any information. However, thinking about it, we should probably try a simpler approach first, and see if they have a "good enough" outcome. :)

Since we have to add an option to store some information available to "a limited group of people" anyway, do you think we should

[2017-10-23 08:22] karlcow commented on #1822
@denschub yes. right into the bucket. Improve webcompat.com with user facing features. and low hanging fruit.

[2017-10-23 10:42] zoepage commented on #1846
@MDTsai
So as far as I understand this, it's very close to the initial proposal in https://github.com/webcompat/webcompat.com/issues/1826#issue-258749417, just not filtering by domain, but keywords in description. Correct?
Would this be included in the bug report form or would this be a separate tool?

It is doable, but gives back very different results depending on keywords. e.g. when you look fo

[2017-10-23 16:35] miketaylr commented on #1763
Sorry about missing this @amitsin6h (I get notifications that mention my name faster...). Are you still interested in making a contribution here?

[2017-10-23 16:36] miketaylr commented on #1763
(You can go ahead and send in a PR without it being assigned, btw!)

[2017-10-23 18:27] amitsin6h commented on #1763
@miketaylr ok

[2017-10-23 19:06] miketaylr commented on #1000
We currently show a spinner here:

![d5lut52d7f](https://user-images.githubusercontent.com/67283/31908056-417ed53c-b7fb-11e7-96ab-91d6f03572fb.gif)

But either it's not appearing for you (possible bug), or you didn't know to look there (UX bug). Does it not appear for you @karlcow?

[2017-10-23 19:06] miketaylr commented on #1000
Thinking about mobile users... that's probably a pretty bad experience.

[2017-10-23 22:46] karlcow commented on #1000
@miketaylr Upload an image in a comment :)  https://github.com/webcompat/webcompat-tests/issues/1266 are all comments upload.

[2017-10-23 22:49] karlcow commented on #1000
To summarize my tests in https://github.com/webcompat/webcompat-tests/issues/1266
in this issue directly.

Uploading a 2.1 Mb image on 1 shot (probably high variation for network speed)

* ~ 13s through webcompat.com
* ~ 8s through github.com
* ~ 0.236ms through local instance (aka in a local folder)

[2017-10-24 02:00] karlcow commented on #1846
As @zoepage said above, this is similar than the discussion in #1826 because the mechanics is the same. I will copy/paste my last comment there:

Let's learn what we get from a simple page experimenting ideas. And then if we think we get something meaningful enough, we could push to the next step. Aka not putting the cart before the horses or the plow before the cow  🐄 🤡

[2017-10-24 06:15] karlcow commented on #1763
@amitsin6h Did you see/read https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md ?

[2017-10-24 08:29] zoepage commented on #1000
If this issue is caused through the network, the best solution I guess seems to move from our setup to a distributed system. But this will take some time right @miketaylr ?

[2017-10-24 10:32] karlcow commented on #1000
@zoepage my issue is not so much about the time it takes.  The network is the network and uploads are slow for big images.

As we can see there is not much difference in between GitHub and webcompat so moving would not solve anything, it's about not having an uploader wheel/widget when **uploading an image from a comment**.

I guess I really failed at explaining this one. :D both @miketaylr and @z

[2017-10-24 11:20] zoepage commented on #1000
I find, 5 seconds a massive difference :D But yes, it looks like I misunderstood.

So, as I understand it correctly there is an issue with uploading images in comments. Could you please explain again / in more detail @karlcow ? Thanks!

[2017-10-24 11:22] zoepage commented on #1846
@MDTsai You had the idea to also integrate bugzilla issues info this as far as I remember?

[2017-10-24 14:19] karlcow commented on #1000
@zoepage @miketaylr
1. Go to https://staging.webcompat.com/issues/1294
2. Add a comment with an image around 3Mb (desktop screenshot for example)
3. Start your chrono ;)

Basically because it takes a long time and there is no visual cue to tell the user that an upload is in the process, you might give up or continue typing text or even restart an upload.

Sometimes it has happen to me that I poste

[2017-10-24 15:11] miketaylr commented on #1000
Ah. That makes sense, and yep you're right. We probably should have a dedicated bug for the issue of missing progress for comment image upload, rather than pile on this issue of "design a nicer gif".

[2017-10-24 15:12] miketaylr opened #1847 "No progress indicator for image uploads from a comment"
(STR taken from https://github.com/webcompat/webcompat.com/issues/1000#issuecomment-339006338)

1. Go to https://staging.webcompat.com/issues/1294
2. Add a comment with an image around 3Mb (desktop screenshot for example)
3. Start your chrono ;)

Basically because it takes a long time and there is no visual cue to tell the user that an upload is in the process, you might give up or continue typing

[2017-10-24 15:18] miketaylr commented on #1847
We could do something quick and dirty to be less confusing, then design a nicer solution. Something like:

![screen shot 2017-10-24 at 10 14 10 am](https://user-images.githubusercontent.com/67283/31951769-95c20e3a-b8a4-11e7-840b-06780f99eaee.png)

(re-using the existing progress indicator for new issue). WDYT @karlcow @zoepage? The code can probably be re-used from the form.

[2017-10-24 15:20] miketaylr commented on #1847
(imagine that yellow circle is the progress gif thingy: https://webcompat.com/img/upload-loader.svg)

<img src="https://webcompat.com/img/upload-loader.svg">

[2017-10-24 15:42] softvision-oana-arbuzov opened #1848 "Missing automatic Priority Labeling"
URL: www.webcompat.com
Browser / Version: Firefox Mobile Nightly 58.0a1 (2017-10-22), Firefox Release 56.0.1
Operating System: Windows 10 Pro

**Steps to Reproduce**
1. Navigate www.webcompat.com.
2. Type in all required info and report the issue.
3. Observe added labels.

**Expected Behavior:**
Corresponding Priority label is automatically added.

**Actual Behavior:**
Priority label is not automa

[2017-10-24 22:01] miketaylr commented on #1848
Thanks for reporting @softvision-oana-arbuzov.

Yesterday I deployed https://github.com/webcompat/webcompat.com/pull/1815. @MDTsai?

[2017-10-24 22:18] karlcow commented on #1847
yup that's it.

[2017-10-25 02:14] MDTsai commented on #1846
@zoepage  Not sure what you mean "integrate bugzilla issues info"? I did a [dependency graph prototype](https://mdtsai.github.io/wc-bz.html) which helps us to track the dependency between issues and bugs, to see if issues have same root cause. Now I'm doing is to improve the prototype to become more responsive, support to query with an interval (like dependency last week).

Agree with the long ter

[2017-10-25 02:19] MDTsai commented on #1848
Yes, I found that and manually restore the DB. But I don't think #1815 break that, it's not running. So I guess the deploy process did something I don't know, maybe?

[2017-10-25 02:22] MDTsai commented on #1848
DB is still there after I manually restore, but the priority label is not working, check this today.

[2017-10-25 08:29] zoepage commented on #1846
@MDTsai I remember you mentioning, that you wanted to add a way to find duplicates not just in our issue repository, but also in the bugzilla issues. So we could mark both. Does this make sense?

[2017-10-25 08:30] zoepage commented on #1847
That makes sense :) Cool! There is already a [SVG icon](https://github.com/webcompat/design/blob/master/docs/svg/icons/spinner8.svg) for that in the design repo we'll use.

[2017-10-25 08:40] MDTsai commented on #1846
Yes, mark both is necessary, I did this via filter comments with URL to webcompat issue and bugzilla bug URL.

[2017-10-25 08:41] zoepage commented on #1846
I think, this would be a huge improvement! :)

[2017-10-25 16:31] miketaylr commented on #1848
This is fixed now.

[2017-10-26 06:39] karlcow commented on #1742
Duplicate of #1166

@softvision-oana-arbuzov This was closed in the past. We have routinely this discussion. The trade-off in between having real issues with invalid URL.

I guess maybe the todo for this issue would be to compile all the URLs previously reported and see how much it is a problem. So we can base our decision on data.

[2017-10-26 07:05] karlcow opened #1850 ""layout.css.servo.enabled: true" Should probably not be in the form."
Currently when opening a new issue the form has
<img width="537" alt="capture d ecran 2017-10-26 a 16 03 35" src="https://user-images.githubusercontent.com/505230/32038971-405584ee-ba67-11e7-9814-919118b4cc40.png">

"layout.css.servo.enabled: true"

This should probably not be editable by the user. Just be a label (maybe it's already is).
Or added to the report after the user puts the description

[2017-10-26 18:11] miketaylr commented on #1850
This is probably not worth improving, as I have plans to remove this entirely once stylo ships in 57.

[2017-10-26 18:16] miketaylr commented on #1850
https://bugzilla.mozilla.org/show_bug.cgi?id=1399980

[2017-10-26 18:19] miketaylr commented on #1847
Is there an animated version of that @zoepage?

[2017-10-26 20:18] zoepage commented on #1847
@miketaylr no, but with CSS it's pretty easy to animate. If you feel like this is not what you want, we can create an animated version.

[2017-10-26 22:07] karlcow commented on #1850
understood 👍

[2017-10-27 07:16] karlcow commented on #886
The script is done. Just waiting for @miketaylr review. And then we are due for a long run.

[2017-10-27 15:44] miketaylr commented on #886
Thanks. Will review today.

[2017-10-30 16:42] miketaylr commented on #886
Fixed by https://github.com/webcompat/webcompat.com/pull/1841. Thanks everyone. 💟

[2017-10-30 16:42] #886 closed

[2017-10-30 23:02] karlcow commented on #886
Party time!

[2017-10-31 01:29] karlcow commented on #1806
<img width="1220" alt="screen shot 2017-10-30 at 12 56 55 pm" src="https://user-images.githubusercontent.com/505230/32203391-5cdeea20-be26-11e7-8cbe-426cee537e73.png">

[code]

<img width="1004" alt="capture d ecran 2017-10-31 a 10 26 45" src="https://user-images.githubusercontent.com/505230/32203355-220d0d0a-be26-11e7-908d-04a534b57b77.png">

[2017-10-31 01:30] karlcow commented on #1806
This should probably fixes the major issue before the new design.

[2017-10-31 14:03] pavangudiwada opened #1851 "Filed issue details not displayed (because logged-in non-collaborator users cannot set milestones)"
Went to webcompact and reported a bug the reported page is blank. I should have found the sharing option and other details.
![screenshare](https://user-images.githubusercontent.com/25551553/32227380-41ab1b48-be71-11e7-8369-4470f3413467.png)

[2017-10-31 14:12] miketaylr commented on #1851
@pavangudiwada thanks for the report! That seems bad.

https://github.com/webcompat/web-bugs/issues/12961 is the bug you filed, but for some reason the milestone wasn't set?

[2017-10-31 14:13] miketaylr commented on #1851
But I see there are issues reported after that that succeeded:

https://webcompat.com/issues/12969, for example. I wonder why this failed. I'll try to look in logs.

[2017-10-31 14:15] miketaylr commented on #1851
https://github.com/webcompat/web-bugs/issues/12970 is another instance where milestone wasn't set.

💣

[2017-10-31 14:23] miketaylr commented on #1851
I don't see anything weird in logs.

I do see webcompat/web-bugs#12970 in `webcompat.log`:

`2017-10-31 13:51:25,709 tracking XXX.XXX.XX.XXX http://www.dragonframe.com/`

But that's just logging we got a bug report for that domain. Time to check webhooks logs.

[2017-10-31 14:47] miketaylr commented on #1851
The webhook payload for 12970 creation worked: 954426c0-be42-11e7-8d18-0954797c7279

https://github.com/webcompat/web-bugs/settings/hooks/7890332

(it also had a browser-firefox label set correctly, so that seems normal)

[2017-10-31 14:53] miketaylr commented on #1851
@karlcow any ideas? Maybe we should add some logging somewhere to see if setting the milestone ID fails during issue creation?

Or hard-code the "needstriage" ID as a fallback?

https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L248

[2017-10-31 14:58] miketaylr commented on #1851
That seems to be the issue here.

When it works, and we get an issue creation webhook payload, `milestones` looks like this:

[code]

When it fails (twice we know about so far), `milestone` is `null` (see payload 550f26b0-bdeb-11e7-80d1-5bb335ce0a33 )

[code]

[2017-10-31 15:03] miketaylr opened #1852 "Don't fail hard if milestone wasn't set"
We should solve the problem of milestone not getting set in #1851, but we should be more forgiving to the user on the frontend if it does fail.

If there's no milestone, we get the following error and the page fails to render:

`TypeError: milestoneColors[milestone] is undefined`

[2017-10-31 15:16] miketaylr commented on #1852
I can write a test for this, we just have to make sure the test we use never has a milestone.

[2017-10-31 16:22] miketaylr commented on #1851
https://github.com/webcompat/web-bugs/issues/12975 is another one that just failed. :(

[2017-10-31 16:26] miketaylr commented on #1851
Hm, crazy theory -- are these only failing for github authed users? A quick search of webhook payloads suggests that might be true.

[2017-10-31 16:30] #1852 closed

[2017-10-31 16:46] miketaylr commented on #1851
Oh wait. This should fail for any non-collaborator, because the milestone is being set as the logged in user. We missed this because we were testing as ourselves, and we're collaborators. 🙈

We have to set the milestone as `webcompat-bot`, in a webhook (labeler, or create a new one) for this to work.

[2017-10-31 17:52] miketaylr commented on #1852
![screen shot 2017-10-31 at 10 13 31 am](https://user-images.githubusercontent.com/67283/32240089-5836466c-be3a-11e7-858f-958e2955ca1c.png)

It's ugly, patches welcome. :)

[2017-10-31 21:01] miketaylr commented on #1806
Yeah, we should deploy an easy fix like this ASAP, especially since it's a one line CSS fix.

[2017-10-31 22:52] karlcow commented on #1851
Ah excellent find. <3

[2017-11-01 00:20] karlcow commented on #1806
ok done. Let's make a PR.

<img width="2564" alt="capture d ecran 2017-11-01 a 09 19 50" src="https://user-images.githubusercontent.com/505230/32254703-dc4d2820-bee5-11e7-9996-e7171aeb2dae.png">

[2017-11-01 00:25] karlcow commented on #1806
PR done. https://github.com/webcompat/webcompat.com/pull/1855

[2017-11-01 00:31] #1851 closed

[2017-11-01 00:51] karlcow opened #1856 "Better error messaging for unset milestones"
Followup on #1852
Two scenarios, the messages should be along:

* **Anonymous**:  "No assigned status yet" as they can't do anything about it and error will lead to error report. No red color.
* **Logged in**: "Fix me: assign a status"

@zoepage  @miketaylr What do you think about it?

<img width="694" alt="capture d ecran 2017-11-01 a 09 47 57" src="https://user-images.githubusercontent.com/50523

[2017-11-01 01:35] karlcow opened #1857 "Triage Dashboard"
This is the meta issue for  the Triage Dashboard. There is an associated milestone to put all issues related to this project.

"Build a “needstriage” dashboard that displays total count plus count for untriaged bugs older than 48 hours."

* `/dashboard/triage` with a link from `/activity/`
* Total count of needstriage issues https://github.com/webcompat/web-bugs/milestones
* Total count of needstr

[2017-11-01 01:36] karlcow commented on #997
Now that milestones are out of the way, we can probably think about this one a bit more.

[2017-11-01 01:38] karlcow commented on #1483
Tied to this dicussion
https://groups.google.com/forum/#!topic/mozilla.compatibility/wtr-ZuGcKxk

[2017-11-01 01:39] karlcow commented on #1483
@zoepage what would be the resolution for this issue. Any action item that would satisfy the issue.

You said at the beginning

[2017-11-01 01:41] karlcow commented on #1413
This is a subtopic of #997

[2017-11-01 01:43] karlcow commented on #1413
I just assigned @denschub and @wisniewskit to come up with a list of labels and so we can have a better understanding of how we can make all of this fit together with the #997 issue too.

[2017-11-01 01:43] karlcow commented on #1251
Useless now that #886 has been created.

[2017-11-01 01:43] #1251 closed

[2017-11-01 01:44] karlcow commented on #1178
This is issue #997
For the record I created things like type-css, etc.

[2017-11-01 01:47] karlcow commented on #1258
@zoepage Do you want to do that?
This is a tool which will help
https://webaim.org/resources/contrastchecker/

[2017-11-01 02:26] karlcow commented on #1857
@magsout This is the start of this project we will add issues for each item we want to work on.

I propose we start with developing a very simple HTML page with the information requested for it.
Then we enhance it through JS and CSS. The main goal stated initially are two numbers.

We could share a separate branch merge we can merge the small issues branches like we did for milestones or we could

[2017-11-01 02:32] karlcow opened #1858 "Triage dashboard HTML page and route"
Context: #1857

* [x] Create tests for the new route `/dashboard/triage`
* [x] Create tests for the content returned by this route
* [x] Create html template for `/dashboard/triage` no CSS required at this point

A followup issue will handle the helpers to query the right information to inject in the HTML page

[2017-11-01 02:40] karlcow opened #1859 "Triage dashboard query information"
Context: #1857
Previous issue: #1858

We need two things:

1. Total count of needstriage issues https://github.com/webcompat/web-bugs/milestones
2. Total count of needstriage issues older than 48 hours. (`is:issue milestone:needstriage created:<2017-10-30` on `2017-11-01`) **AND** without a `status-needinfo` label.
3. The list of issues in needstriage and/or only the ones which are older than 48 h

[2017-11-01 05:35] karlcow commented on #291
OK Let's revisit this one. :)

Some possibilities. Total number.

<img width="438" alt="capture d ecran 2017-11-01 a 14 20 12" src="https://user-images.githubusercontent.com/505230/32261163-1d32bf7e-bf10-11e7-85fc-dbd42e192005.png">

needstriage

<img width="437" alt="capture d ecran 2017-11-01 a 14 21 01" src="https://user-images.githubusercontent.com/505230/32261167-26692cea-bf10-11e7-80f8-b3fb5

[2017-11-01 05:37] karlcow commented on #291
to note that the markup already exists for it.

[code]

https://github.com/webcompat/webcompat.com/blob/93662e358169e7443445217fe7d2a5c6151c9b21/webcompat/templates/web_modules/tag.html#L5-L11

[2017-11-01 07:39] karlcow opened #1860 "Evaluate performance of static dashboard"
Context: #1857

The initial plan is to make a page with real data in it that we improve if necessary through JS.
It is important to make sure that we have no performance issue by waiting for GitHub answer before delivering the page to the users.

* [x] Test the requests with the static data
* [x] Create a test with data coming from XHR requests.

[2017-11-01 17:22] miketaylr commented on #1851
Thanks again for reporing @pavangudiwada!

[2017-11-01 19:55] miketaylr commented on #1857
Thanks for filing @karlcow.

For the purposes of Mozilla compat work, I'm most interested in ensuring that incoming issues are triaged in a timely manner. I think we should also consider issues that have a "status-needsinfo" label on them to be *sort of* triaged, usually that means we're trying to follow up with the reporter. Maybe those are filter options, I don't know.

[2017-11-01 20:46] miketaylr commented on #1856
Yeah, I think this is a much better solution @karlcow. +1

[2017-11-02 02:02] karlcow opened #1861 "Triage Dashboard Design"
Context: #1857
Depends on: #1858 (HTML template)

This is an area which is completely free. I was [trying to explore ideas](http://www.la-grange.net/tmp/triage.html).
@magsout feel free to propose anything.

![capture d ecran 2017-11-02 a 10 59 01](https://user-images.githubusercontent.com/505230/32306106-dd80d9ee-bfbc-11e7-8e42-a4f23c905bab.png)

[2017-11-02 02:05] karlcow commented on #1857
@miketaylr Understood. Let me edit the issue #1859

[2017-11-02 02:12] karlcow commented on #1861
Some mood ideas
* https://i.pinimg.com/736x/7c/ef/1a/7cef1a6f101a14cc75729646e564f1e8--clean-design-design-ui.jpg
* https://i.pinimg.com/236x/48/38/c9/4838c9149bdd177ae197644770fa043b--data-dashboard-dashboard-design.jpg

[2017-11-03 20:22] #1806 closed

[2017-11-03 20:28] magsout commented on #1857
@karlcow

Then we enhance it through JS and CSS. The main goal stated initially are two numbers.

sounds good.

IMO a separate branch seems to be a good solution.

[2017-11-03 20:38] magsout commented on #1857
@karlcow the dashboard is fully integrated with webcompat ? I mean css component html and js ? Or it's separate ?

[2017-11-03 20:41] magsout commented on #1861
Numbers are cool, the design is simplet and efficient.

For the issue's ist, it depends of https://github.com/webcompat/webcompat.com/issues/1857#issuecomment-341820798

So we can use the component Issue from webcompat or styling a new one very rapidly.

[2017-11-03 21:04] miketaylr commented on #1857
I was thinking about this. Can you all build it separately at first? If we think it's useful to the broader webcompat.com community we can integrate it. But I think a standalone tool would be good. Or, another option is a webcompat.com subdomain (maybe a terrible option, I dunno :p).

Another thing to keep in mind, @zoepage  (with others) is going to be working on the front-end redesign/refactor i

[2017-11-03 21:23] zoepage commented on #1258
@karlcow

You mean cleaning up the labels and introducing a system for that as explained in here https://github.com/webcompat/webcompat.com/issues/1258#issuecomment-319061156 ? This is what needs to happen before we can tweak the colors. Happy to add that color tweak to our community sprint very next week.

[2017-11-03 21:27] zoepage commented on #1483
@karlcow

This is content that needs to be added to the website after the refactor into the FAQ or contribute section. But this needs to be build after we've finished the refactor.

So a good first step would be to add this to either the wiki and link to it in our docs or add this to our docs itself, e.g. here https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#filing-an-issue

[2017-11-03 21:36] zoepage commented on #899
This will be fully solved by the refactor in 2 weeks. Already implemented in http://webcompat.github.io/design/

[2017-11-03 21:36] #899 closed

[2017-11-03 21:43] zoepage commented on #1488
To clarify, we need to add a "highlighting" behavior for links to keep the site accessible.
Maybe @aminalhazwani or @stefanjudis have an idea how to solve this best?

[2017-11-03 21:44] zoepage commented on #1607
What's the status here? Do you know anything @miketaylr ?

[2017-11-03 21:45] zoepage commented on #1705
Related to https://github.com/webcompat/webcompat.com/issues/1488

[2017-11-03 21:47] zoepage commented on #1490
This will be fixed by http://webcompat.github.io/design/ and is already implemented.

[2017-11-03 21:47] #1490 closed

[2017-11-03 21:49] zoepage commented on #1425
In the new design, there won't be icons as you can see here http://webcompat.github.io/design/ "Module: Hero Tiles". So this issue can be closed.

[2017-11-03 21:49] #1425 closed

[2017-11-03 21:50] zoepage commented on #1352
I'm sure this is something fun, that @lewiscowper could handle really well? :)

[2017-11-03 21:51] zoepage commented on #1338
This has been added to http://webcompat.github.io/design/ to "Module: Hero Image"

[2017-11-03 21:51] #1338 closed

[2017-11-03 21:53] zoepage commented on #1320
I feel like this is fixed by http://webcompat.github.io/design/

[2017-11-03 21:53] #1320 closed

[2017-11-03 22:09] stefanjudis commented on #1488
The [WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/#accordion) have clear guidelines on how an accessible accordion should behave and also offer [an example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html) (it's not pretty though ;) ). Heydon Pickering wrote [a massive article](https://inclusive-components.design/collapsible-sections