[2017-01-23 23:11] zoepage commented on #1296
@karlcow we don't want a site wide search :)

[2017-01-23 23:54] karlcow commented on #1296
ah confused 😆 it's because you said.

So good good. No site wide search. Perfect. Just issues.

[2017-01-23 23:58] miketaylr commented on #1007
It would be cool to A/B test a multi-step wizard and our current form to see if bug reporting quality improves. 👍

[2017-01-24 00:40] karlcow commented on #1260
An example of a localhost URL which could be an interesting bug report
https://webcompat.com/issues/4379

[2017-01-24 00:45] karlcow commented on #1290
@zoepage you can find the manual for setting up environment
https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#working-environment-setup

It's also a good way to test the guide. Open a new issue about the contributing guide, if you have blockers and things which are difficult to understand.

[2017-01-24 01:48] lockettm commented on #1278
I think it’s a great idea that helps reinforce the site’s mission.

I like "Does this happen in another browser?"

Omitting the "I don’t know" option would likely cause users to drop off, but could result in better submissions.

Thoughts relating to comments made by @zoepage in #1232:

This may be an opportunity to educate users. Suspected non-compat submitters could be shown a tailored thanks mes

[2017-01-24 06:28] magsout commented on #1240
I'm a
![img_2246](https://cloud.githubusercontent.com/assets/1997108/22236566/b03ef554-e206-11e6-9129-5929a63897a6.GIF)

[2017-01-24 07:44] lockettm commented on #1296
@zoepage said:

I like the idea of adding expert social proof. Storj.io does something similar near the bottom of their homepage.

[2017-01-24 08:03] magsout commented on #1240
![img_2247](https://cloud.githubusercontent.com/assets/1997108/22238841/e88a491a-e213-11e6-97ef-120a05aa7b69.JPG)

[2017-01-24 08:06] magsout commented on #1259
Why removed author for the first comment ? Let comment same for all ?

[2017-01-24 08:12] magsout commented on #1243
[code]
Wrong media querie

Maybe something like:

[code]

[2017-01-24 08:56] karlcow commented on #1259
@magsout What do you mean?

[2017-01-24 15:23] miketaylr commented on #1298
Discussion from team meeting:

[code]

[2017-01-24 15:26] miketaylr opened #1300 "[discussion] How can we track top issues via labels?"
Given https://wiki.mozilla.org/Compatibility/CommonIssues, how do we keep an eye on what counts as a top issue. The size of the team is growing and reported issues will to, so it's not practical to expect any one of us to have insight into all the issues being looked at.

Is it possible to create a type of label, for example `problem type: meta viewport` or `meta: DOM exception`?

Labels are cool

[2017-01-24 16:59] magsout commented on #1300
Oh, I thought Carl knew this information :1st_place_medal:

In the short term this seems like a good idea. But in the long term, will it be relevant and maintainable to use labels?

[2017-01-24 17:00] magsout commented on #1300
The danger is to have lot of label, just for one or two issue ?

[2017-01-24 17:05] miketaylr commented on #1300
Yeah, it could get messy. Need to think of ways to either hide it from the webcompat.com UI entirely... or something else. Unsure!

[2017-01-24 17:05] magsout commented on #1281
oh yes, good idea.

`Contribute` is the best label IMHO 👍

[2017-01-24 17:12] magsout commented on #1280
hum, I think removing this property is best. It is useless., I don't know why I writed this and it's

[2017-01-24 19:01] digitarald commented on #1289
Worked for me 👍

[2017-01-24 19:32] miketaylr commented on #1289
Thanks @digitarald!

Will push the branch for review.

[2017-01-24 20:35] lockettm commented on #1283
Following up to include more context and suggestions from #1296.

**Homepage Scenarios**
Scenario 1: Followed a link from an article.
Scenario 2: Google led me here. It’s unclear as to why.
Scenario 3: I simply came to report a bug.

**Content Ideas**
* What is web compat
* Join the team / 3 ways to contribute (bug team)
* Link to other ways of contributing (developing webcompat.com and community

[2017-01-24 22:09] adamopenweb commented on #1300
As mentioned in the meeting today, I'm open to helping clean up the the labels on a regular basis (monthly maybe?).

[2017-01-25 01:22] lockettm commented on #1296
As I mentioned to @adamopenweb on IRC, I’m wondering what the tone of voice should be for the new content.

We could go with Mozilla’s [copy tone guidelines](https://www.mozilla.org/en-US/styleguide/communications/copy-tone/)--familiar and conversational.

Any thoughts? If a different direction, I’ll open a separate issue to discuss.

[2017-01-25 02:10] karlcow commented on #1296
yup not sure what it means exactly, and I guess it depends on the culture. (For example, the usual friend is not a friend in French.) but I guess yes being not too formal still respectful is a good thing. Maybe it would be easier starting with actual content and it will give us a sense of if we are too cold or too familiar. :)

[2017-01-25 09:23] zoepage commented on #1297
@karlcow it might be enough to add a space after the `:`?
Could be a good quick fix before we redo the form.

(Disabling emoji rendering is tricky. Parsing the message maybe overhead?)

[2017-01-25 09:27] zoepage commented on #1299
@miketaylr
Would `something else` and an input work?
Might make a need for an additional label visible.

[2017-01-25 10:49] #1161 closed

[2017-01-25 10:50] karlcow commented on #1294
This has been addressed by @MDTsai on https://github.com/webcompat/webcompat.com/pull/1291
Closing. Thanks!

[2017-01-25 10:50] #1294 closed

[2017-01-25 12:34] zoepage commented on #1274
Just cross-linking so it doesn't get lost. https://github.com/webcompat/webcompat.com/issues/1285

[2017-01-25 12:47] zoepage commented on #1278
Great points!
@lockettm

I love that point especially! This should help with setting our expectations and making them clear. Here we could maybe also add pointers to "where to submit a regular site issue"?

[2017-01-25 12:51] zoepage commented on #1240
How about we put the labels in like in the following screenshot?
From the information architecture site it would be the same as the box for bigger screens.
Could get too long for scrolling tho...
<img width="1030" alt="screen shot 2017-01-12 at 12 01 41 pm" src="https://cloud.githubusercontent.com/assets/562354/22291210/5ee2c2da-e305-11e6-89e8-fe9fbaff28c4.png">

[2017-01-25 13:06] zoepage commented on #1296
@lockettm I'd love to represent the tone of voice our team and it's spirit.
So mostly friendly, open and helpful, which would mix with the `familiar and conversational` of Mozilla's copy tone guidelines.

@karlcow

Of course it depends on the culture, but as we write things in English, this should be our cultural tone, I guess? The tone we set is defining which people we attract :)

[2017-01-25 13:22] magsout commented on #1274
The resolution must be doubled.

[2017-01-25 13:30] zoepage commented on #1274
@magsout we need a process to make sure every picture that gets added at some point is added in different resolutions. any ideas?

[2017-01-25 13:50] magsout commented on #1274
@zoepage

What do you mean ?

[2017-01-25 14:45] karlcow commented on #1296
I was just reacting to "familiar and conversational". I don't know what it means. Usually I observe @miketaylr in social gathering to have a clue 🤡 ahah. Or maybe it's why I'm lost 👹

[2017-01-25 15:32] zoepage commented on #1274
@magsout right now the images are just there in one resolution, right?
we'll change that at some point. i'd love to have a process or something, so when we add more pictures to content we don't forget to add more resolutions (well, at least 2)...

[2017-01-25 15:43] magsout commented on #1274
@zoepage something like that https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images ?

But I don't know if it's necessary, Basically we can double the size of images, If the weight of the image is ok, we can leave the images without adding additional format / resolution.

[2017-01-25 16:20] miketaylr commented on #1299
@zoepage yeah, that's possibly a good idea, but probably worth its own issue.

In theory "unknown" should not be possible: https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L176

"unknown" is an escape hatch: https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L86-L87

[2017-01-25 16:29] miketaylr commented on #1297
That might work as a quick hack.

If we do move to a form with multiple textareas for expected/actual behavior (as has been suggested in a few issues), we can also avoid this problem by adding the expected/actual behavior headings to the user input ourselves, once they're submitted to the back-end.

But I agree we probably want some way to tell the emoji lib, don't look at these strings.

[2017-01-25 16:33] miketaylr commented on #1278
In general, my opinion is we should be very liberal in allowing people to submit bug reports to us (see for example, lack of strict URL validation).

I wouldn't want to block a report based on this one section. So I'd agree to skipping the "I don't know" option if we made it a non-required field.

[2017-01-25 16:38] miketaylr commented on #1240
@zoepage that's essentially what the last version of labels looked like, with the editor gear/widget to the left of the labels in your mock).

The reason we want to move away from that is if there are more than a few comments, you lose sight of labels, and have to scroll all the way up to add them. The proposed sidebar (like GitHub) gets around that because it should be sticky, staying visible in

[2017-01-25 16:43] miketaylr commented on #1296
And positive (at least until you get into a room with us...).

Ignoring the specific term "familiar and conversational", I think the guidelines themselves are great. https://www.mozilla.org/en-US/styleguide/communications/copy-tone/

Be friendly, be sincere. Don't be too clever (e.g., puns are the worse) or needlessly technical. Be a human. I think that's how we interact with people in bugs, FWIW.

[2017-01-25 16:46] magsout commented on #1240
@miketaylr It depends on the number of labels we have on average?

I think that in most cases the scrollbar will be useless, since we have on average, I think, 3 labels?

[2017-01-25 16:47] miketaylr commented on #1240
@magsout yeah good point. It doesn't get much longer than that.

Another thing to consider, we want 2 boxes. One for "milestone" (status), another for regular labels.

[2017-01-25 16:51] magsout commented on #1240
@miketaylr  ah, I forgot that

[2017-01-25 17:17] denschub commented on #1278
I also think we should add this question to our form. Not too sure about "Does this happen in another browser?", I would rather tend towards "Does this issue happen in another browser?" just to eliminate any possible confusion.

In my opinion, we should make the radio buttons required, but add a "Didn't check" option. That way, we maybe could motivate some people to give it a try? Also, of someone

[2017-01-25 17:21] denschub commented on #1286
Starting on a side note, we should probably pick better internal names for "Issues", "Bugs" and "Webcompat.com Bugs" since we tend to mix them up and create a whole bunch of confusion. How about using "web bugs" when talking about the bugs reported on "webcompat.com" and "webcompat.com bugs" when talking about site-development related stuff?

I pretty much agree with everything else, though. Just

[2017-01-25 17:34] miketaylr commented on #1278
That's a good suggestion.

[2017-01-25 18:05] miketaylr commented on #1240
That said, the "milestone" editor will only show a single milestone, it's not possible for an issue to be in more than one. So it doesn't have the same space constraints.

[2017-01-25 23:37] miketaylr opened #1303 "Get staging server on HTTPS"
Super e-z with letsencrypt:

https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04

[2017-01-26 00:11] #1263 closed

[2017-01-26 04:20] miketaylr opened #1304 "Upgrade Flask to 0.12"
We're currently on 0.10.1

http://flask.pocoo.org/docs/0.12/upgrading/

[2017-01-26 07:11] karlcow opened #1305 "When closing an issue, enforce a status"
When the issue needs to be closed, the user click on  "close issue"

![capture d ecran 2017-01-26 a 16 08 50](https://cloud.githubusercontent.com/assets/505230/22322797/cbb88b6a-e3e1-11e6-9898-261dbe3c0458.png)

This button should create a menu where you choose the reason for closing. Then only activate, the closing. Maybe it ties to our discussion about the label editor #1240

[2017-01-26 07:12] karlcow commented on #1305
The why: This would minimize the number of issues being closed by webcompatbot with the wrong status.

[2017-01-26 19:54] adamopenweb commented on #1305
Good idea @karlcow. The list of reasons available should only be closed statuses: invalid, needsdiagnosis, incomplete, fixed, wontfix, worksforme.

[2017-01-27 05:00] karlcow commented on #1304
ok let's see.
https://requires.io/github/webcompat/webcompat.com/requirements/?branch=master

[2017-01-27 05:01] karlcow commented on #1304
![capture d ecran 2017-01-27 a 14 00 11](https://cloud.githubusercontent.com/assets/505230/22361023/f603b78e-e498-11e6-920c-b54456268b7c.png)

on my way… 🚶

[2017-01-27 05:14] karlcow commented on #1304
Modifying requirements.txt to `Flask==0.12`

[code]
:)

[code]

fixing.

[code]

[2017-01-27 05:44] karlcow commented on #1304
😴 Let's try Pillow. Moving to 4.0.0

ok this one will be harder.

[code]

ok zlib is missing. Let's see.

[code]
after this

[code]

ok. Just to be sure.

[code]

Manually testing images upload.
This is working.

[2017-01-27 06:24] karlcow commented on #1304
Babel. no issue

Flask-Limiter. Upgrade ok. but testing complaining

[code]

https://flask-limiter.readthedocs.io/en/stable/#rate-limit-domain

The tests are passing and I think we are fine. We are not using the IP address for the rate_limit on search but the username.

Let's move on.

[2017-01-27 06:40] karlcow commented on #1304
Flask-WTF

[code]

ok editing the code for be future proof.

[code]

[2017-01-27 07:08] karlcow commented on #1304
Github-Flask. No issue.

[2017-01-27 07:09] karlcow commented on #1304
ua-parser. No issue.

[2017-01-27 07:14] karlcow commented on #1304
ok last one. This one, I hope will not break things. requests.

no. issue.

Our next stop will be… Intern… but I should wait for @miketaylr to have finished the issue #1277

[2017-01-27 07:55] karlcow commented on #1304
[code]

[2017-01-27 16:10] miketaylr commented on #1304
Whoa nice, @karlcow!

I'd say go ahead send a PR now. Intern 2 on master works, and Intern 3... is uh, running up against some bugs.

[2017-01-27 19:34] miketaylr opened #1306 "Don't start uploading image until user clicks submit"
Right now we auto-upload, the motivation being your upload is done while you're filling out details.

We should probably wait until the user hits submit before uploading to a) prevent a ton of unneeded images (people just clicking the button, checking it out) and b) not upload unneeded images if you decide to change it.

[2017-01-27 22:45] miketaylr commented on #1305
Yeah, I really like Bugzilla's UI for this.

[2017-01-27 22:47] miketaylr commented on #1298
There will be a meeting next week to discuss this with Emma H (Bugzilla bugmaster).

Also, I received the following message from Mike Conley:

[code]

[2017-01-28 01:26] miketaylr commented on #1303
<img width="1066" alt="screen shot 2017-01-27 at 7 25 23 pm" src="https://cloud.githubusercontent.com/assets/67283/22393059/6ce4e4b8-e4c6-11e6-90bb-7c41dbbf9aba.png">

[2017-01-28 01:26] miketaylr commented on #1303
Set up a letsencrypt cert that auto-renews via cron. Assuming it doesn't blow up in a few months when the cert expires (2017-04-28), let's use the same setup for webcompat.com.

[2017-01-28 01:27] #1303 closed

[2017-01-28 04:25] miketaylr commented on #908
This should be fixed in #1304. Let's close here since @karlcow has an active branch.

[2017-01-28 04:25] #908 closed

[2017-01-28 04:33] miketaylr commented on #690
I think this bug is invalid now: following STR I end up w/

https://webcompat.com/issues?page=1&per_page=50&state=open&stage=needstriage&sort=created&direction=asc

(Note, at the time "New" wasn't tied to a status label in the same way that status-needstriage is, and that's probably where the bug was).

[2017-01-28 04:33] #690 closed

[2017-01-29 15:49] karlcow commented on #1306
yes. And we need to be careful on the way we deal with the URI.

[2017-01-30 18:11] #1304 closed

[2017-01-30 22:18] miketaylr commented on #793
I've fixed the following back button bug:

1) go to /issues
2) click on "needs diagnosis" filter button
3) click back

on production, it doesn't do what you expect.
in this branch, it does.

Now, to fix the actual reported issue... the label search.

[2017-01-31 19:36] adamopenweb opened #1308 "WebVR labels"
@cvan mentioned [in a bug](https://github.com/webcompat/web-bugs/issues/4528#issuecomment-276464573), that WebVR compat issues will be reported. His suggestion is that we add some labels for WebVR reports.

Let's have a discussion here about what's required and which labels make sense. (Unless this has happened somewhere else already)

[2017-01-31 21:25] zoepage opened #1309 "Testimonials"
We'd love to add testimonials to webcompat.com on why web compat is important.

Therefore we'd love to ask you, the team to post 2-5 names you'd have in mind who could give us one. Please post the name(s) below and ping the person with the question:
"Why do you think web compatibility is important for the web?". Please also make sure the person agrees to have their answer published on our website.

[2017-01-31 23:00] karlcow commented on #1309
It seems to be a duplicate or at least very close from #641 which is about success stories.
Let's make sure we get it right. I'm always a bit afraid of testimonials for their marketing-ish nature. @zoepage what kind of testimonials you are looking for or more exactly who should answer this question you highlighted "why web compat is important"? if done right, that's cool. Thanks.

on the other han

[2017-01-31 23:06] karlcow commented on #1308
@adamopenweb is WebVR contains WebGL stuff? I'm thinking about
https://github.com/webcompat/web-bugs/issues/4490

This ties I guess to @tsl143  issue about  New labels for type of issues categorization #1178, I could see something like

* type-webvr

along

* type-css
* type-clientsniff
* etc.

[2017-01-31 23:48] cvan commented on #1308
@karlcow: yes, the [WebVR API](https://w3c.github.io/webvr/) relies upon WebGL.

[2017-01-31 23:56] karlcow commented on #1308
@cvan understood, I was trying to think in terms of WebGL includes WebVR stuff, but WebGL is not always WebVR? Does https://github.com/webcompat/web-bugs/issues/4490 count as WebGL only or as WebVR?

[2017-02-01 00:04] zoepage commented on #1309
@karlcow The success stories show the team and project are successful in fixing bugs. So they don't stay in the tracker for 10 years and no one cares. That is an important piece to the puzzle.

The reason for testimonials is mainly to make people aware of web compat, of standards people should build their applications upon and why it matters to have standards. Mostly the Dev you are looking up to,

[2017-02-01 00:05] miketaylr commented on #1308
I don't think it has. @cvan reached out to discuss reporting webVR compat issues on webcompat.com, but we haven't had that meeting yet.

[2017-02-01 00:06] miketaylr commented on #1308
@karlcow I like that. We'll make a bit of clutter now before #886 is done, but any objections (anyone..., not just Karl) to us adding that now so @cvan and team can triage and take care of those issues?

[2017-02-01 04:12] cvan commented on #1308
That's true. WebVR may (and likely will) come in other forms that are not only tied to WebGL.

[2017-02-01 17:21] miketaylr commented on #1306
Can you clarify? "be careful" is crucial for many things that we do around public user data.

[2017-02-01 17:59] miketaylr commented on #1290
(removing good-first-bug so another contributor doesn't try to steal this from @zoepage)

[2017-02-01 18:09] miketaylr commented on #1254
Here's the relevant code to change: https://github.com/webcompat/webcompat.com/blob/274dc8c63aa506baceb235cfeb9ec26e1cdcb4b1/webcompat/views.py#L181

@zoepage lmk if you have any questions!

[2017-02-01 18:12] miketaylr commented on #954
This doesn't reproduce in recent runs.

[2017-02-01 18:12] #954 closed

[2017-02-01 18:13] miketaylr commented on #1243
(removing good-first-bug to avoid mid-air collisions)

[2017-02-01 18:14] miketaylr commented on #1288
Possibly I can fix this in the fix for #793. Will try to at least.

[2017-02-01 18:16] miketaylr commented on #1288
Actually, yes. Let's close here as a dupe of the same underlying problem of #793.

[2017-02-01 18:16] #1288 closed

[2017-02-01 18:16] miketaylr commented on #793
Note: make sure the reported bug @ https://github.com/webcompat/webcompat.com/issues/1288#issue-201276473 is fixed by this issue (ideally having a test...)

[2017-02-01 18:22] miketaylr commented on #793
Rather than the current commits, I think we need to re-write how history navigation is handle and just load the model state from `history.state` (or `event.state` depending on what's going on), rather than trying to deduce it from URLs. In theory should be simpler.

[2017-02-01 20:34] zoepage opened #1310 "CLI for local server setup"
After reviewing the setup for webcompat.com, @denschub and I had the idea of improving the [secrets.py](https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example).

Suggestion by @denschub for refactoring the config:
https://gist.github.com/denschub/439e19b23cd4cc43670f930de6ca400e

Additional idea would be a small CLI, where you actually would need to go through the setup s

[2017-02-01 21:10] zoepage commented on #1309
Any thoughts @denschub @miketaylr @wisniewskit @MDTsai :)

@karlcow @adamopenweb Do you have someone in mind you'd love to reach out to? :)

[2017-02-01 21:12] wisniewskit commented on #1309
I like the idea, but I haven't really been around long enough to have a list of names handy. I'll keep my eyes open, though!

[2017-02-01 21:14] zoepage commented on #1309
@wisniewskit

If you have a name in mind, but no contact info that's totally ok! Happy about any input. :)

[2017-02-01 22:50] adamopenweb opened #1311 "Pull requests showing on webcompat.com"
Thanks to @zoepage for bringing this up.

We can see pull requests to the web-bugs repo on webcompat.com.
https://webcompat.com/issues/4544

This alone isn't a big deal and seems like a limitation of our GH integration. But it probably shouldn't appear on the "all open issues" page.
https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc

Thoughts?

[2017-02-01 22:54] miketaylr commented on #1310
I think this is a great idea, current dev environment setup is full of warts.

[2017-02-01 22:58] miketaylr commented on #1311
Yeah, we should filter them out from /issues and just live with an actual issue URI existing. There shouldn't be very many PRs against the web-bugs repo (since it's literally just a README.md...)... I'd even maybe want to disable PRs against that repo and ask them to be sent elsewhere (like this one), but that's not currently possible.

[2017-02-01 23:07] miketaylr commented on #1309
I'd suggest some of the people from Mozilla DevRel, or past Mozilla Tech Speakers crew.

[2017-02-01 23:25] karlcow commented on #1309
Maybe. I'll have to go through the issues reported and people helping us. Basically,  people not known on twitter and conferences. I could explain my reasoning, but my train is reaching destination.

[2017-02-02 00:18] karlcow commented on #1311
hmmm I was sure I had filed an issue for this. Or did I just discuss it with @miketaylr doh. I can't find.

[2017-02-02 00:25] miketaylr commented on #303
This is done now.

[2017-02-02 00:25] #303 closed

[2017-02-02 00:28] miketaylr opened #1312 "Enable secure flag on session cookie"
Like it says.

[2017-02-02 00:29] miketaylr commented on #1312
cf. https://github.com/webcompat/webcompat.com/pull/1301/commits/abd3550f27d06b29c412bfdbef2d85f40c2a54f6

[2017-02-02 00:47] karlcow commented on #1311
ok let's see.

a normal issue in the JSON has:

[code]

while a pull request has:
[code]

Also

A pull request also contains:

[code]

so we could

* [ ] test in the JSON response contains `pull_request`
* [ ] filter out from the search results on the web site
* [ ] sends a 403 Not Available on webcompat.com/issues/nnnn when it is a pull request.

Issue: because of the way we have architectured th

[2017-02-02 00:54] karlcow commented on #1097
@magsout ping? ;)

[2017-02-02 01:34] karlcow opened #1314 "CONTRIBUTING Guidelines fresh eye review and modifications by @zoepage"
@zoepage has started to review the Contributing guidelines.

Opening this issue so she can commit step by step her changes on the document.

Also found these previous issues which are worth reviewing too.

* [x] #766 Contributing guide: npm install
* [ ] #1134 CONTRIBUTION Guidelines: clarify the syntax of commits messages and pull requests
* [x] #1176 contributing guidelines - npm run init

--- e

[2017-02-02 01:55] karlcow commented on #1310
very good idea @zoepage a step by step guide for configuration will be nice.

One issue you will meet is that `secrets.py` is just a python file and so will be harder to parse and adjust. One possibility for you to allow both manual and programmatic modifications would be to use a config file using something like [ConfigParser ](https://pymotw.com/2/ConfigParser/).

For the CLI, there are also ple

[2017-02-02 01:57] karlcow commented on #1310
Oh I forgot. :) We can help at any time. Commit code even imperfect and we will help by explaining how to fix it. It's a cool project.

[2017-02-02 02:08] karlcow commented on #1306
so currently.

* User selects an image
* we upload it on the server
* we create a hash for the URI in a dated space
* we send back this URI to the form to create the markup in markdown

It's indeed an issue for the cruft it creates on the server.

If we change the way we do it by just staging in the form and sending the image to the server, we can't have anymore the URI computed on the server side

[2017-02-02 03:46] miketaylr commented on #1309
+1 to idea of testimonials from people who have somehow been involved in the project (filing bugs, helping to fix issues, find contacts).

[2017-02-02 03:56] miketaylr commented on #1311
(I'm pretty sure @karlcow did bring this up to me, so possibly my bad for now filing issue)

[2017-02-02 05:10] magsout commented on #1097
@karlcow ah yes ;) we can close

[2017-02-02 05:10] #1097 closed

[2017-02-02 07:09] #982 closed

[2017-02-02 09:05] zoepage commented on #1314
Wow, thank you @karlcow for the pointers. You are truly the kind of issue :)

[2017-02-02 09:06] zoepage commented on #1310
Perfect, thank you! :)

[2017-02-02 09:07] zoepage opened #1316 "add Greenkeeper support"
Add Greenkeeper.io support to automate the upgrade of npm packages. As our project is open source, it's free.

[2017-02-02 09:09] zoepage commented on #1309
+1 on people being involved in the project.

[2017-02-02 09:51] karlcow commented on #766
@haseebgit is it still an issue?
Or did the project move so much that it is not a valid issue anymore?

[2017-02-02 09:55] karlcow commented on #1176
In #982 @miketaylr  used `npm run init` does it fix this issue?

[2017-02-02 10:22] haseebgit commented on #766
@karlcow safe to close the issue :)

[2017-02-02 10:39] zoepage commented on #766
@haseebgit thank you :)

[2017-02-02 10:39] #766 closed

[2017-02-02 10:40] zoepage commented on #1176
I ran into the same issue while setup.
Either way the rename should be a good step to prevent confusion. :)

[2017-02-02 10:56] zoepage opened #1317 "npm start throws error b/c Flask(?)"
run `npm start` on master

[code]

`pip install -r config/requirements.txt `

[code]
@karlcow maybe you could help?

Might be related to https://github.com/webcompat/webcompat.com/pull/1307 ?

(Site note...  `pip install -r requirements.txt` -> `pip install -r config/requirements.txt `)

[2017-02-02 11:12] karlcow commented on #1314
ahah. I wish (maybe? 🤔 ). But I guess the GitHub search engine is really the king 👑 here.

[2017-02-02 11:23] karlcow commented on #1317
hmm you are not working in virtualenv for the development I see that all libraries are installed in your root. That's not recommended, because any other projects will create conflicts.

But that's not the bug.

what returns status and git log.

[code]

[code]

[2017-02-02 11:26] karlcow commented on #1317
for what is worth `npm run start` fails for me too.
but it's not how I start the server.

I start with `python run.py`

[code]

[2017-02-02 11:28] zoepage commented on #1317
@karlcow interesting.
I had to run `source env/bin/activate` manually. Then it worked. Will investigate further.
Thanks for the pointer!

[2017-02-02 11:29] karlcow commented on #1317
@zoepage note that you should probably reinstall your modules after starting virtualenv and not before.

[2017-02-02 11:30] zoepage commented on #1317
@karlcow yes :)

[2017-02-02 11:36] magsout commented on #1317
@karlcow

oh ? it's okk for me, weird..

[2017-02-02 11:38] zoepage commented on #1317
@karlcow what were your steps?
@magsout did you manage to check out the last master?

[2017-02-02 11:40] magsout commented on #1317
@karlcow

Hum, I see in npm script :

[code]

[2017-02-02 11:41] magsout commented on #1317
@zoepage

ah no, so the recipes failed because of master ?

[2017-02-02 11:42] magsout commented on #1317
need to read all the issue, beforce comment ...

[2017-02-02 11:44] zoepage commented on #1317
@magsout no worries :)
looks like, which is weird. have a few ideas about the why I need to check.

[2017-02-02 11:53] zoepage opened #1318 "Error message has the wrong path for requirements.txt"
https://github.com/webcompat/webcompat.com/blob/master/run.py#L21

`requirements.txt` -> `config/requirements.txt`

[2017-02-02 16:09] miketaylr commented on #1317
Same, I don't use any of the npm commands due to habit. My workflow:

`workon webcompat` (activates virtualenv, via [virtualenvwrapper](https://virtualenvwrapper.readthedocs.io/en/latest/command_ref.html))
`python run.py`
...hack...
`deactivate` (when i need to work in other virtualenvs for other projects)

[2017-02-02 16:10] zoepage commented on #1317
Yeah, looks like the npm start script is the issue. Have an idea, but have to test it tonight.

[2017-02-02 17:30] miketaylr opened #1320 "CSS/HTML normalisation for forms - Address review comments from PR #1293"
This is a followup bug to https://github.com/webcompat/webcompat.com/pull/1293. We want to merge that so we can ship the new design. This bug is to resolve the issues brought up by @magsout.

It seems like the main issue is the changes don't adhere to project conventions.

(feel free to give this a better title, as well).

[2017-02-02 17:30] miketaylr commented on #1320
Specific comments here: https://github.com/webcompat/webcompat.com/pull/1293#pullrequestreview-18099802

[2017-02-02 17:31] #1292 closed

[2017-02-02 21:06] zoepage commented on #1314
Addition for the documentation,
`sudo npm` is caused by a non-correct setup and can be [fixed easily](https://coderwall.com/p/t2mc9g/don-t-sudo-npm). Otherwise it might cause a security issue. We should add this to the setup section of the contribute.md

[2017-02-02 21:46] miketaylr opened #1324 "SUITE ERROR: test failure"
Looks like an intermittent login failure. All of my mehs.

From https://travis-ci.org/webcompat/webcompat.com/builds/197804908#L1041.

[code]

[2017-02-02 23:15] #1318 closed

[2017-02-03 00:33] miketaylr opened #1327 "502 Bad Gateway when logging in on staging.github.com"
Need to figure out before we can deploy v2.10.0 to production:

[code]

[2017-02-03 00:40] miketaylr commented on #1327
OK, this is not a bug from code we introduced -- it was because the Session.db on the staging server was out of sync -- I had been messing around with different table schemas for a different bug. Rebuilding the DB fixes the issue.

[2017-02-03 00:40] #1327 closed

[2017-02-03 02:06] lockettm commented on #1149
As @zoepage suggested, I drafted specific roles that outline the ways to contribute. It’s a high-level overview of each role with links to relevant documentation and resources.  I’m not sure if the tone of voice is friendly enough--I tried to keep it conversational but concise. Feel free to make any edits or suggestions.

I also reworked an introduction, as I think the first half of Adam’s previou

[2017-02-03 07:39] karlcow commented on #1306
Another way:

1. Select image
2. Buffer the image locally
3. Request a hash URI for the image on the server
4. Use this hash URI for the markdown
5. Once the user finally pushes submit, send the `HTTP POST` for the issue to GitHub and an `HTTP PUT` for the image at the location given by the hash URI.

[2017-02-03 17:53] lockettm commented on #1309
+1 on using testimonials from those involved. If that’s the route taken, can we combine them with the success stories? I’m thinking they’d be one and the same.

[2017-02-03 18:08] miketaylr commented on #1306
Good thoughts. I was just thinking something simple like:

1) select image, or add-on already put image [fill out form like normal], do nothing to image
2) when user clicks upload, do the XHR POST and request the image path, stick that in the markdown and submit the form immediately.

We already show a spinner, so there will be visual feedback while the upload is happening.

But I like your "Anoth

[2017-02-03 18:40] miketaylr commented on #1149
Great work @lockettm, the content is such an improvement.

It's a funny term, but I think it works. I may or may not have had this as a real job title in the past. >_>

I think next steps are probably to start wire-framing and think about how to design this, and then build it. @lockettm do you have any ideas here? The giant click-to-reveal stuff with overly big screenshots isn't the most elegant.

[2017-02-03 19:27] miketaylr opened #1328 "Move security headers into app"
I've added the following security headers to our nginx config. But we should move them into the app, IMO. That way we can easily enable or tweak certain values for certain assets (and do it in python).

[code]

Relates to #763

[2017-02-03 19:37] miketaylr opened #1329 "Add CSP report endpoint"
A place that accepts a CSP report and logs the input to disk. Blocks #763

[2017-02-03 19:38] miketaylr commented on #763
Opened #1329 to make the reporting endpoint, which should land before first.

[2017-02-03 22:27] miketaylr commented on #763
(related, we went from an F to a B in the past week by adding various security headers, secure flag for session cookies, HSTS includeSubdomains, etc. -- fixing this bug should get us up to an A)

[2017-02-03 22:27] miketaylr commented on #763
https://observatory.mozilla.org/analyze.html?host=webcompat.com

[2017-02-04 14:47] zoepage commented on #1324
@miketaylr just had issues with updating intern. Basically chai and dojo couldn't be updated, b/c of symlink. Related?

[code]

[2017-02-06 19:13] lockettm commented on #1149
@miketaylr Ahh okay, Web Opener works.

Yeah, the current “how to” panels demonstrate the process well but I agree, it’s a bit clunky.

We could reformat and add the content to tabs (similar to the mock-up below) as a sort of “quick start guide.”

Or, thinking ahead, we could build out landing pages for each role?

![wc-contribute-tabs](https://cloud.githubusercontent.com/assets/4382193/22659280/e

[2017-02-06 19:30] miketaylr commented on #1149
I like the tabs idea, visually. I assume that would just turn into a vertical list for mobile.

[2017-02-06 19:41] adamopenweb commented on #1149
I agree, the tabs look nice. Also, we don't have a high percentage of users on mobile currently.
<img width="1144" alt="ga-contributors" src="https://cloud.githubusercontent.com/assets/6587558/22663366/4bae8996-ec7a-11e6-9b6a-b1e5fd77b934.png">

[2017-02-06 20:00] zoepage commented on #1149
@lockettm great work :) it looks so much cleaner.

[2017-02-06 21:10] miketaylr commented on #1324
Hmmmmm, it's possible. I didn't even bother to update, I just rm -rf and re-installed.

In the Travis environment, Intern is fresh-installed (or loaded from a previous cache) rather than updated.

[2017-02-06 21:30] zoepage commented on #1314
I ran into issues while setting up the project during including the `webcompat-tests` repo to get content for the `see all issues` list.

Although the credentials were correctly added, the error `bad credentials` was displayed and no issues were loaded.

I fixed it with logging in and authorizing the application (again), which is no where described in the CONTRIBUTE.md. It should be added to the `

[2017-02-06 21:47] zoepage commented on #1155
@magsout would it be ok for you, if I fix this? :)

[2017-02-06 22:01] magsout commented on #1155
@zoepage 👍

[2017-02-06 22:03] karlcow commented on #1314
@zoepage could you commit against this issue little by little, step by step, each time you found a way to improve. Fresh information is always good to write down now. Atomic commits for each bullet items up there.  Example.

[code]

Thanks.

[2017-02-06 22:05] karlcow commented on #1314
Oh and in case it helps
http://www.otsukare.info/2016/04/14/git-workflow

[2017-02-06 22:15] zoepage commented on #1314
@karlcow Will do, but I am restructuring the `CONTRIBUTE.md` and I won't start commiting before having a full plan. Otherwise it probably will end up in a mess. ;)

+1 on the feature/fix per commit

[2017-02-06 22:24] karlcow commented on #1314
Could you share what are your intents in the restructuring? Share early, ship early. To give the possibility of community participation.

[2017-02-06 22:53] miketaylr commented on #1176
@zoepage is handling the rename in #1322, so let's close here!

[2017-02-06 22:53] #1176 closed

[2017-02-06 22:54] miketaylr commented on #1314
(pre-emptively marking that one as done, as it's taken care of in #1322.)

[2017-02-06 23:01] #1317 closed

[2017-02-06 23:57] karlcow commented on #1149
Adding @magsout to the discussion for the implementation part of the design.

* The navigation list as tabs is implementable. The issue comes with the smaller screens layout. @miketaylr mentioned vertical list. Maybe with flexbox and reordering the boxes with smaller viewport. That would be an interesting thing to test.
* The description roles can be implemented as flexbox. Similar to what I did f

[2017-02-07 00:33] karlcow commented on #457
What about having a box for contact information, where we basically leave the freedom for the person to choose the way they wish to be contacted.

We have to make it clear that the information will be public in the bug.

* Some could be github users who don't want to authorize webcompat to access everything
* Some could leave a twitter handle
* Some an email address.

[2017-02-07 04:16] lockettm commented on #1149
@miketaylr A vertical list for mobile or an adapted design like the one below--not sure how difficult it'd be to implement.

http://codepen.io/hayatbiralem/pen/KpzjOL

<img width="301" alt="wc-contributor-mobile" src="https://cloud.githubusercontent.com/assets/4382193/22677285/4828c828-eca6-11e6-8437-46612569f369.png">

[2017-02-07 04:42] karlcow commented on #1149
@lockettm from what I read these days, carousel and UX seem to no be friends. :)
http://shouldiuseacarousel.com/

[2017-02-07 08:27] lockettm commented on #1149
@karlcow Didn’t think of it as a traditional carousel i.e. it’s below the fold, not on the homepage, doesn’t look like an ad, no auto-rotating—which I agree can be frustrating. :)

That said, a list does have the benefit of displaying all of the descriptive titles—assuming the user scrolls beyond the expanded content.

[2017-02-07 08:35] magsout commented on #1149
@karlcow  agree with @lockettm's Argumentation.

The website you mention is about big carousel on HOMEPAGE for marketing.

[2017-02-07 08:41] magsout commented on #1149
@lockettm interesting idea. I like the layout. And the idea of tab is nice.

Your example for small screen is pretty good.

[2017-02-07 08:43] magsout commented on #1320
I think there are two things about issue:

- improved Form and button Component.
- Improved Grid (flexbox @karlcow )
- Write something about convention: (no selector with two different component and why)

[2017-02-07 08:47] magsout commented on #1316
Yes, good idea. But first I think we need to do this https://github.com/webcompat/webcompat.com/pull/909

Because we have lot of lib not based/depended of, directly included in our project which is not good IHMO.

[2017-02-07 08:47] magsout commented on #1316
So I think we could delay this after webpack, @zoepage ?

[2017-02-07 08:48] zoepage commented on #1316
@magsout +1 :)

[2017-02-07 10:22] denschub commented on #1149
The screenshot in https://github.com/webcompat/webcompat.com/issues/1149#issuecomment-277781858 looks worrying, the page is way too long to me, so I am definitely for splitting this up into at least two pages. Also, the "bottom" part of the contents look much nicer than the wall of text above.

However, aside from being picky, I don't have a solution for that available right now, but maybe that's

[2017-02-07 10:30] #1243 closed

[2017-02-07 13:30] karlcow commented on #1149
ah good points everyone. Thanks @lockettm @magsout and @denschub

I think I agree with @denschub too. URIs are cheap. We are not forced to put everything on the same page indeed. Lighter page given us space can indeed be nice too. :) It's not like people need to read a novel. We can even have more than two pages, specifically if we start to hide the content through tabs and navigation artifacts, w

[2017-02-07 13:37] zoepage commented on #1149
But clicks are not. ;) When we split up the content on different sites, this means an additional click. So we'd need a good directing concept first?

[2017-02-07 13:45] karlcow commented on #1149
hmm I miss something. Are you talking about latency, or about actions. Because in the two cases, we will be clicking. change tab content, or change page. And for the latency I don't think it matters in this case given the content size.

[2017-02-07 13:51] zoepage commented on #1149
@karlcow about action. open / close a tab on one site is different than leaving a site and moving to another.

[2017-02-07 13:51] denschub commented on #1149
I highly doubt that a click is worse then getting a wall of text. :) But I agree we need to have a good plan of what we want to do before we do it. _(<-- most logical sentence ever)_

One idea would be to directly talk to the contributor on that page. I've seen a nice introduction into contributing to a project before, but I don't remember exactly where. Basically, there was a list of actions a co

[2017-02-07 13:54] magsout commented on #1149
@karlcow

Disagree, The latency in france is horrible on mobile network..

it's why actually is better to have one big size file than 4 small file 👎

[2017-02-07 14:02] magsout commented on #1149
@karlcow

Hum, we are talking about documentation and  motivation.

When I read an article, I like this small component than display time to read the entire article. If it's > 5 minutes, I added it on read later.

But for documentation It's different IMHO.
If you take the example of webpack, I agree. But If you look at the design of @lockettm , there is not a lot of reading. And I prefer to have e

[2017-02-07 14:53] karlcow opened #1332 "Python 3 Migration"
* [x] Install python 3 on server
* [x] Upgrade nginx in a separate instance
* [ ] Give guidance for people to switch/install their computer to python 3 #2905
* [x] Convert the full project to python 3 #2348
* [x] Deploy on staging. Let it mature.
* [x] Move to production server.

Follow-up on #1181

[2017-02-07 14:56] karlcow commented on #1181
Closing in favor of #1332

[2017-02-07 14:56] #1181 closed

[2017-02-07 14:58] karlcow commented on #763
also https://cspvalidator.org/

[2017-02-07 15:04] adamopenweb commented on #641
I'm going to close this for now as duplicate, as we are discussing this in #1309 and will be implementing part of it on the updated contributor page #1149.

Thanks for getting this started @tagawa, if you are still interested your input is always welcome on the other reports. :)

[2017-02-07 15:04] #641 closed

[2017-02-07 15:38] denschub commented on #1329
If you don't want to build this into the application, I've written a small daemon to collect CSP violation reports and dump them into a SQLite database for a project a while ago. Just pushed the sources to [denschub/csp_violation_reports_collector](https://github.com/denschub/csp_violation_reports_collector), feel free to ping me if you need help! (Or, FWIW, feel free to not use it at all.)

[2017-02-07 16:57] miketaylr commented on #1329
Thank you @denschub!

[2017-02-07 17:28] #1290 closed

[2017-02-07 19:54] miketaylr commented on #717
OK. This is set up. Thanks again for the guidance @karlcow. 🍰

[2017-02-07 19:54] #717 closed

[2017-02-07 20:50] lockettm commented on #1149
Thanks for the great input everyone.

I should note, I’ll be testing redesign suggestions as mock-ups with users for feedback. So two design concepts with a range of ideas is an option for this first design iteration. Eg tabs vs separate pages (if there are no objections due to technical concerns).

I’ll take our collective assumptions and ideas to create additional variations to be tested.

[2017-02-07 20:54] #705 closed

[2017-02-08 06:53] karlcow commented on #287
ok I guess I will tackle them one by one. As of today.

![capture d ecran 2017-02-08 a 15 49 14](https://cloud.githubusercontent.com/assets/505230/22726417/a882d8f0-ee16-11e6-94a3-4b84bc603f66.png)

[2017-02-08 06:54] karlcow commented on #287
This relates to #609

[2017-02-08 07:17] karlcow commented on #609
let me restart a branch for this. So I do it against the latest master.

[2017-02-08 09:39] MDTsai commented on #999
Simple idea: if search keyword contains **site:google.com**, then transform to **google.com in:title**
Guess I can do something in updateIssues, issue-list.js to make this happen? still trace source code

[2017-02-08 17:02] zoepage commented on #720
Asking myself what @lockettm thinks about that? :)

[2017-02-08 17:04] zoepage commented on #611
This is a tool a friend of mine build. Maybe we can adapt this and use it for webcompat.com
https://github.com/schultyy/offline-issues

[2017-02-08 17:31] magsout commented on #720
@miketaylr looks good.

[2017-02-08 17:51] miketaylr commented on #720
I'd say let's ship it, if someone wants to submit a PR.

(unless @lockettm objects ^__^)

[2017-02-08 17:56] lockettm commented on #720
I like it, helps it stand out more.

[2017-02-08 18:05] miketaylr commented on #720
Cool. Let's change the scope of this issue to be about adding the change.

[2017-02-08 22:45] zoepage commented on #720
I am against the border. It disrupts the flow of the site.
I feel, when we add a padding-top to the `report bug` the group of claim and link should be separated. Like in the following screenshot.
<img width="1433" alt="screen shot 2017-02-08 at 11 22 55 pm" src="https://cloud.githubusercontent.com/assets/562354/22760323/4c6373f0-ee56-11e6-9cd1-195fbf7805c1.png">

If this is not enough, we could st

[2017-02-08 22:54] miketaylr commented on #720
I think both options are better than what we currently have, and the dark button is cool. +1

[2017-02-09 00:37] karlcow commented on #720
The dark background is a cool option for this link (this is not a button 😛 ).
Also I laughed at @zoepage's

Agreed. Tell that to 🇺🇸

[2017-02-09 08:38] magsout opened #1336 "[Issue] target="_blank" for link in issue detail"
Any thoughts?

[2017-02-09 08:41] magsout opened #1337 "[ui] My Activity"
What do you think  to add a new section in `activity` ?

[code]

I don't know if it's possible @miketaylr ?

[2017-02-09 08:46] karlcow commented on #1336
@magsout Could you be more descriptive, where, when why?

[2017-02-09 08:50] magsout commented on #1336
Where:

![capture d ecran 2017-02-09 a 09 47 53](https://cloud.githubusercontent.com/assets/1997108/22775636/e3b1e86c-eeac-11e6-8141-40f12c996244.png)

Added target blank on the URL in the main comment issue.

Why? Because to keep the tab open when we click on the URL to see/diagnosis/bug, especially on mobile

[2017-02-09 08:55] karlcow commented on #1337
To clarify a bit, for URL like
https://webcompat.com/activity/karlcow
a list of the latest comment someone has done.

I guess there is something doable with this
https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository

It seems an interesting idea to be able to follow the activity. 👍
That said, @magsout could you say what kind of information you would like to see in this sec

[2017-02-09 09:12] magsout commented on #1337
For example last day I commented https://webcompat.com/issues/4630. This morning I received an anwser, then I wanted to add the email as a comment.

I searched my issue. I don't know why I clicked on `My Activity` because I participated to this issue. At this moment it was logic to found this issue here.

 Ideas:

- One list (it's more a design issue maybe, because two list are not clear)
- select

[2017-02-09 09:24] #1155 closed

[2017-02-09 10:19] karlcow commented on #1336
hmm I'm not a big fan of things opening in new tab without user consent. Specifically when the feature exists already, aka long press (mobile) and ctrl/command+click or contextual menu (desktop).

And it seems that normal people are usually confused
http://ux.stackexchange.com/questions/19892/opening-website-external-links-in-new-window-published-usability-tests

[2017-02-09 10:24] karlcow commented on #1337
Yeah I can imagine that, I do that through email filtering but it goes to github and then I have to manually edit the URI to go back to webcompat. It would be cool to draft ideas on how we would like this to work.  But it's a good point you made.

There are probably other issues related to this one. Yeah, found the main one. #442

[2017-02-09 13:03] magsout commented on #1336
Me netiher, but webcompat is different than ecommerce or press website..  But yes feature already exists with the keyboard.

[2017-02-09 16:03] zoepage commented on #1336
@lockettm ? :)

[2017-02-09 16:17] zoepage opened #1338 "new version of bulb illustration"
I've made a new (cleaner) version of our bulb (that could also be used as a logo at some point).
What do you think?

![bulb](https://cloud.githubusercontent.com/assets/562354/22792024/9c772fea-eeeb-11e6-9ba1-03e3765bdbbb.png)

[2017-02-09 16:35] denschub commented on #1338
Uhm, so. If we really want to talk about a new "logo" (do we?), let's do it:

I honestly dislike the fact the wire penetrates through the first section of the socket. Also, I feel like the "thread bars" should be the same width,

Nitpicking aside, I like it. I love that the bug lost its stinger and thus is more friendly. 😆

[2017-02-09 16:55] miketaylr commented on #1338
The bug does look more friendly!

I dig the minimal feel to it, but agree the wire intersecting the base is a bit jarring.

[2017-02-09 16:57] adamopenweb commented on #1338
Looks nice! I prefer the darker, filled in look, but just a personal nit.

I agree.

[2017-02-09 18:02] lockettm commented on #1336
I think it’s a good idea. It would help reduce friction given the workflow of the task—the user won’t need to hit the back button or open the page using ctrl/command + click, they could simply select the link.

[2017-02-10 01:01] karlcow commented on #1338
Beautiful work. We are getting there. How many bugs do we need to change a lightbulb?

![](https://s-media-cache-ak0.pinimg.com/736x/71/44/29/714429ed68c364abd40cce976d7fe2f5.jpg)

[Firefly logos](https://www.google.co.jp/search?q=firefly%2Blightbulb&client=firefox-b-ab&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjDoYS6p4TSAhULTrwKHXSXACsQ_AUICCgB&biw=1077&bih=1074#tbm=isch&q=firefly+%22light+bulb%22+log

[2017-02-10 08:04] magsout commented on #1338
coool @zoepage

Yes, I agree.

yes, and maybe we can do this: https://github.com/webcompat/webcompat.com/issues/310

[2017-02-10 09:03] zoepage commented on #1338
I probably should add more description to that issue (@karlcow you were right. again :D )

So, basically the purpose of the cleanup was to get the logo to the level that it works in different sizes and colours. It's not about a whole redesign of the logo.

In 48x48 - 16x16 I'd basically just use the bulb.

The sketch file provides separated layers that can be exported to SVG and animated.

With su

[2017-02-10 09:05] #1254 closed

[2017-02-10 09:06] zoepage commented on #1254
Closed after PR merge: https://github.com/webcompat/webcompat.com/pull/1334

[2017-02-10 09:35] magsout opened #1339 "New label status when bug is filed on bugzilla or another browser bug tracker"
I'm looking for some issue needs diagnosis https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Astatus-needsdiagnosis%20sort%3Aupdated-asc

I think it would be interesting to add a new status for issues that have an open bug on bugzilla. For example this bug https://github.com/webcompat/web-bugs/issues/4114. Easier and readable when we filter list on webco

[2017-02-10 11:58] karlcow commented on #1338
@zoepage Could you post the 16px and 48px versions too.

[2017-02-10 13:53] zoepage commented on #1338
@karlcow Don't have a lot of time today, so I just post the 48x48 version. Hope, that is ok.
![bulb_logo_48x48](https://cloud.githubusercontent.com/assets/562354/22829029/aafdbc0e-efa0-11e6-9b92-4f6e8bf35cc3.png)

[2017-02-10 17:48] miketaylr commented on #1339
It's a good idea, I like being able to filter.

Any suggestions for what it might be?

`status-blocked`?
`type-see-also-bugzilla`?

Sometimes a corresponding bugzilla bug can be a dependency, or sometimes just created due to related issues.

[2017-02-10 18:04] miketaylr commented on #1337
I think it should be possible, @magsout.

[2017-02-10 19:55] magsout commented on #1339
`status-blocked` looks good. It's generic and understandable

[2017-02-10 22:58] karlcow commented on #1338
Thanks @zoepage 😁

I guess we might need different versions at lower res. That's the issue often with big images, they don't work well at smaller sizes. There are articles about that from icon designers. It should not be too hard to do.

[2017-02-10 23:04] karlcow commented on #1339
Let's back track before choosing names.

When do we have another bug on Bugzilla?

* The bug has the equivalent tech-evangelism issue on mozilla bugzilla. We usually close one in favor of the other. be webcompat to bugzilla or bugzilla to webcompat. On Webcompat we close with `status-duplicate` but we kind of lose the information about it (except reading comments)
* the bug has a dependency on a c

[2017-02-13 18:40] miketaylr commented on #1271
This is done now. 👍

[2017-02-13 18:50] andreastt commented on #1271
Let me know if I can be of any help making the transition to geckodriver.

[2017-02-13 18:55] miketaylr commented on #1271
Thanks @andreastt! The Intern 3 upgrade has landed, which is uses geckodriver under the covers. Seems to be mostly working for us. :)

https://github.com/webcompat/webcompat.com/blob/master/tests/intern.js#L39-L40

[2017-02-15 05:27] karlcow commented on #1232
How do we treat non-compat milestones into the UI.
Should we show the issues or not? Or provide an option so that someone can focus only on compat issues. To think. Probably needs to open a separate issue.

[2017-02-15 11:51] zoepage commented on #1232
@karlcow As far as I understood, you talking about showing the issues on webcompat.com, right?

I feel like having an option to show them would be cool, but it should be off by default? We should keep the focus on webcompat-issues, I guess.

[2017-02-15 22:15] zoepage commented on #1338
If everyone is happy with the illustration, I'd like to switch it on the index as the first step.
We could discuss later on, if we want to animate it and how.

Second thing would be to provide the logo files on a resource page. Either update [here](https://github.com/webcompat/design) or add a non linked site to webcompat (we could link later on, if we need to).

What do y'all think about that?

[2017-02-15 22:24] miketaylr commented on #1338
Sounds good. We need to remember to make all the various sizes favicons as well:

[code]

And then I guess file a bug to eventually update the icons in our add-ons: https://github.com/webcompat/webcompat-reporter-extensions

[2017-02-15 22:30] zoepage commented on #1338
@miketaylr +1 on various sizes. Everything above 120x120 or 152x152 could even work with the fly. But for contingency we can also stick to just the bulb and add the fly for stickers / animations etc.

[2017-02-16 03:54] jonathanKingston opened #1342 "Consider accepting HTTPS connectivity submissions"
Lots of sites suffer from inconsistencies in HTTP to HTTPS. I'm building an [extension](https://github.com/jonathanKingston/fix-my-http) to fix up HTTP connections however I wanted a way to auto detect errors on sites and also give users the option to report errors too.

This issue is to consider accepting reports for HTTPS issues.

Some examples of errors:
1.  Different content over HTTPS pages.(

[2017-02-16 04:38] karlcow commented on #982
ok thanks. Mike.

[code]

Let's give it a try

[code]

and then

[code]

Yeah!

[2017-02-16 04:53] karlcow opened #1343 "Intern 3.4.0 and instructions in CONTRIBUTING.md"
Currently if you follow strictly what is in CONTRIBUTING.md, the tests do not run.
https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#functional-tests

In one shell

[code]

then opening a new bash window:

[code]

[2017-02-16 04:55] karlcow commented on #1343
This follows the #982 comment updating to Intern 3.4.0

[2017-02-16 04:56] karlcow commented on #1343
Probably @andreastt or @miketaylr have an idea of the missing step

[2017-02-16 05:13] karlcow commented on #1343
My Firefox Nightly is 54. The Firefox production release is 51.
Ah wait my Java version.

[code]

OK Let's try with the most recent one.

[code]

Then

[code]

WORKING!

So be careful, basically you need a recent version of java. Probably should be tested in a command.

[2017-02-16 05:40] karlcow commented on #1343
:) almost

![capture d ecran 2017-02-16 a 14 39 29](https://cloud.githubusercontent.com/assets/505230/23008846/cab454fe-f455-11e6-9dc0-cc1586ffc54d.png)

[2017-02-16 07:43] karlcow commented on #1250
* fixed all closed issues without labels.

[2017-02-16 07:57] karlcow commented on #1250
* fixed all the issues which were closed but had a status-needscontact

[2017-02-16 08:00] karlcow commented on #1250
* next to do 86 to fix. https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-needsdiagnosis

[2017-02-16 14:51] zoepage opened #1344 "New label "status: decision""
As partially my work is sometimes blocked by not finished discussions or not made decisions, I feel like a new label "status: needs decision" or "status: decision" would come handy.

I feel like we all make decisions together and I always appreciate the input from the team. Especially because I am new, I'd love not to make decisions all by myself and create chaos. :D

In addition, I am sure it wou

[2017-02-16 14:55] zoepage commented on #1336
To follow this up, decision is made on +1 the idea to add `target=_blank` for external links?

[2017-02-16 15:49] magsout commented on #1344
@zoepage When I added new label few month ago, I had in my mind:

- Status: dicussion: discussion in progress
- Status : accepted -> accepted

It's not sufficient? What do you think?

[2017-02-16 15:52] zoepage commented on #1344
@magsout Those labels are great :) I kind of miss an "urgent" or "let's make a decission and close this", because often the discussions dry up for various reasons. Or do you have a different idea? :)

[2017-02-16 15:59] magsout commented on #1344
@zoepage no, I have the same feeling, not especially on Webcompat, but sometimes it's hard to know if everybody accept the issue or not ..

So I think when the author does not know the status of issue, he/she will throw a message  like, hey what's your opinions to closing or not the issue.

[2017-02-16 16:02] zoepage commented on #1344
@magsout cool. :)

With a label everyone could filter like every 2 days if there is something really urgent they might have missed or every few days.

So, you would basically add the label, ping everyone as you said and close after e.g. 48 hours?

[2017-02-16 16:04] magsout commented on #1338
@zoepage

sounds good for me.

[2017-02-16 16:05] magsout commented on #1338
For favicons, wen can use http://realfavicongenerator.net/. And removed old useless size.

[2017-02-16 16:11] magsout commented on #1344
By closing, I was thinking about making a decision.

I think if more than half member of webcompa say yes, we can say issue is accepted. Something like that IMHO.

Webcompat.com is not an official mozilla project as you know, so I think it's hard that everyone can spend time on it. It is true that some issue drag a little and take time to get

[2017-02-16 16:14] adamopenweb commented on #1344
@zoepage If I understand this right, the problem is our decision making does not happen fast enough to allow you to build features? (And sometimes these features aren't very big.)

[2017-02-16 16:17] zoepage commented on #1344
@magsout

I was thinking about something like a "last call". Does anyone have objections? Speak now or be quiet forever... 😁

True, but when someone already expressed their point of view in that issue and it is very different from the to be made decision, this person can be pinged explicitly. But I think in 95% of the cases it will just be a reassurance if everyone is cool with it.

@adamopenweb

[2017-02-16 16:17] magsout commented on #1339
So in this case we let the bug open... so added the label here ?

more than 50% of those issue have a bugzilla open https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Astatus-needsdiagnosis%20sort%3Aupdated-asc

[2017-02-16 17:00] #999 closed

[2017-02-16 17:14] miketaylr opened #1345 "`site: example.com` doesn't work from homepage search"
I think these bugs already existed (and may have dupes, need to check), but they're easier to spot now w/ `site: example.com` feature that landed in #999.

STR)
1) open localhost:5000
2) click on search button, type `site: example.com`

Expected:
Taken to /issues with some example.com issues

Actual:
Taken to /issues with no results and the search input says `site%3A+example.com`, while the search

[2017-02-16 17:15] miketaylr commented on #1345
@MDTsai would you like to investigate this?

[2017-02-16 17:18] miketaylr opened #1346 "`site: example.com` results disappear after logging in"
Related to #999 feature.

STR
1) go to localhost:5000/issues (log out if necessary)
2) search for `site: example.com`, note relevant search results
3)  click log-in

Expected:
Be logged in, still see issues from before

Actual:
Be logged in, no results and search input is empty

Note: `q=site%253A%2Bexample.com` is the search param in this case.

[2017-02-16 17:18] miketaylr commented on #1346
Possibly the same bug as #1345, or at least related. cc @MDTsai

[2017-02-16 17:30] miketaylr commented on #1346
As part of the fix for this, we should write some generic `site: example.com` Intern tests, as well as ones that cover this specific log-in and log-out flow.

[2017-02-16 17:31] miketaylr commented on #1345
Let's add some tests for this:

https://github.com/webcompat/webcompat.com/blob/master/tests/functional/search-auth.js
https://github.com/webcompat/webcompat.com/blob/master/tests/functional/search-non-auth.js

[2017-02-16 17:43] miketaylr commented on #1344
So what does the `status: decision` mean? It means a decision has been made? Or someone is requesting that one be made? Can we clarify that in the label: `status: needs decision`, if the former?

[2017-02-16 17:46] miketaylr commented on #1250
Thanks for working on this @karlcow.

[2017-02-16 17:47] miketaylr commented on #1336
Let's go ahead and do it, and if people complain, we can re-consider. Personally, I use context-menu open in new tab.

[2017-02-16 17:57] miketaylr opened #1347 "eslint: change to double quotes for strings in JS"
Single quotes in JS feels gross, I think I chose that for consistency with our Python style, but I don't like it anymore.

Unless somebody objects, I'm going to do submit a PR to do this in the next few days.

[2017-02-16 18:01] miketaylr commented on #1347
Evidence that this is not normal for JS programmers: https://github.com/webcompat/webcompat.com/commit/bd8877ca6742a26e0f23300c0390e7877ec6f928

😄

[2017-02-16 18:04] magsout commented on #1347
Thanksssss ❤❤❤❤😍😍😍😍

[2017-02-16 18:07] magsout commented on #1347
Maybe  remove the semicolons ? 😜😘

[2017-02-16 18:10] miketaylr commented on #1347
Blocked

[2017-02-16 18:37] magsout commented on #1347
![http://data.photofunky.net/output/image/c/2/8/0/c2800d/photofunky.gif]()

[2017-02-16 18:42] miketaylr commented on #1342
My own personal feeling here is to accept these kinds of issues, with a `type-https` or `type-tls` label.

Some (or all?) of these types of issues feel like "non-compat" Milestone issues -- the definition for that more or less means the issue reproduces in all browsers.

@jonathanKingston Is there a community or group of people (Moz or otherwise) who would be willing to look after these kinds of i

[2017-02-16 18:51] miketaylr commented on #1343
Are you giving it a user and pw to run the auth tests with?

[2017-02-16 18:52] miketaylr commented on #1343
I guess we need to say whatever the minimum Java requirement is here: https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#installing-java

[2017-02-16 18:55] miketaylr commented on #1343
Ah, this is documented in a comment, but not contributing.md, i'll write a quick docs patch:

https://github.com/webcompat/webcompat.com/blob/master/.travis.yml#L1

[2017-02-16 18:58] miketaylr commented on #1343
@karlcow also, i would recommend you delete your Java Applet (unless you rely on that for some old banking websites or something), and upgrade `/usr/bin/java` to 1.8.0+

[2017-02-16 19:08] miketaylr commented on #982
@magsout do you know what's up with the wall of `undefined [undefined]`? That seems like a recent thing. Everything still works though, so I just ignore it.

[2017-02-16 19:38] magsout commented on #982
@miketaylr Yes I saw that. I do not know where it comes from. I know it's from PostCSS and I think postcss-message. I would look to update. But as you said it has no impact. These are just messages in the console.

[2017-02-16 21:54] #1343 closed

[2017-02-16 21:59] karlcow commented on #1343
yes :)

I will give it a try. I remember upgrading with downloading and double clicking.

[2017-02-16 22:06] miketaylr commented on #1343
(that said, do whatever works for you. computers are scary. 👻)

[2017-02-16 23:32] karlcow commented on #1336
rha! sniff sniff 😢

No I need to find a way to deactivate this in Firefox. Just to explain why I think it's a bad decision. We go from users having a choice to imposing to everyone opening in new windows.

Also testing the site is (for me) never happening in the browser where I navigate webcompat.com.
See http://www.otsukare.info/2014/11/12/configure-webcompat-browser

Well… life.

[2017-02-16 23:41] karlcow commented on #1338
So in the previous comment I was asking:

You didn't provide small icons. The 48x48 version is  not working for example. it needs to be adjusted.

* As for the idea of a new logo. Id say "why not?" (though came a bit as a surprise because nobody complained about the previous one to my knowledge)
* Go ahead by proposing the smaller icons, but before putting them into the project let's first see wha

[2017-02-17 00:05] karlcow commented on #1344
* Every 2 days seem too short. One week more reasonable. Some people can only contribute, specifically outside of Mozilla employees, a couple of hours a week.

Let's look at what were the issues mentioned by @zoepage

* #1336 Opened 8 days ago. No hurry. it's a recent request. Nothing is breaking. And the discussion was going on until this morning. So here it's not a case of emergency.
* #1338 Ope

[2017-02-17 00:56] jonathanKingston commented on #1342
So I know @rlbmoz @marumari and :ulfr have been championing HTTPS adoption and outreach however I'm not sure if they would have the time.

Firstly we might benefit from a non US government resource like this https://https.cio.gov/everything/ to persuade website owners that HTTPs is worthwhile. This link is actually very good however it would be nice to be website agnostic as this is directed at US

[2017-02-17 01:18] jonathanKingston commented on #1342
The only non "non-compat" issues that I can think of are:
1. Cipher mismatch issues which we can probably direct the site authors to: https://mozilla.github.io/server-side-tls/ssl-config-generator/ and the documentation page: https://wiki.mozilla.org/Security/Server_Side_TLS
2. SSL version support

Another good security general advice link is: https://wiki.mozilla.org/Security/Guidelines/Web_Secur

[2017-02-17 04:50] karlcow commented on #1250
* fixed all the issues which were closed but had a status-needsdiagnosis
* next 54 for needinfo https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-needsinfo
* next 10 for needstriage https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-needstriage
* next 57 for sitewait https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3A

[2017-02-17 05:02] magsout commented on #1250
I love fun. Let's go

[2017-02-17 07:57] magsout commented on #1250
Done: https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-needsinfo

[2017-02-17 08:14] magsout commented on #1250
Done: https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-needstriage

[2017-02-17 11:39] zoepage commented on #1344
@miketaylr

Oh, great idea! :) In addition, if we don't have a meeting, everyone could spend those 10-15 minutes to check those issues? So we don't forget?

@miketaylr

@karlcow

It was just an example. Every week is totally fine with me. :)

@karlcow

Fully agree!

[2017-02-17 11:42] #720 closed

[2017-02-17 12:00] magsout commented on #1250
And done: https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aclosed+label%3Astatus-sitewait

[2017-02-17 20:24] miketaylr commented on #1344
@zoepage want to make a "status: needs discussion" label? Seems like there's general consensus that it's a good idea.

@karlcow the idea around RFCs is a good one -- good topics for further discussion, and more broad that just signaling an issue needs some kind of decision made, or input. I'd probably want to study https://opensource.guide/leadership-and-governance/ a bit, but if you'd like to cha

[2017-02-17 20:25] zoepage commented on #1344
@miketaylr I did, this morning :)

[2017-02-17 20:31] miketaylr commented on #1339
We could start with "status-see-bugzilla" and grow from there ("status-see-crbug"), etc. I don't like the semantics of "status-duplicate" when it's not a "real" dupe... feels like the wrong thing.

An example: https://github.com/webcompat/web-bugs/issues/4726. It's a regression, and a bug is filed over in Bugzilla. But for me, we can close the webcompat bug now it because it will get fixed.

We co

[2017-02-17 20:32] miketaylr commented on #1344
lol nice

[2017-02-17 20:32] miketaylr commented on #1344
lol nice

[2017-02-17 20:32] #1344 closed

[2017-02-17 20:51] denschub commented on #1339
Agreed!

Question is: how do we get that information? By parsing all comments and looking for links to bugzilla.mozilla.org?

[2017-02-17 20:55] miketaylr commented on #1339
Hmm. Could be... maybe something more elegant (and less-error prone) like the See Also... field in Bugzilla. So something we would manually set, and then store in a DB.

[2017-02-17 21:49] miketaylr commented on #1344
See also https://groups.google.com/d/msg/mozilla.dev.developer-tools/DaSOMXKFrsc/WHRCRRo8BQAJ

[2017-02-17 21:55] magsout commented on #1344
See also https://groups.google.com/d/msg/mozilla.dev.developer-tools/DaSOMXKFrsc/WHRCRRo8BQAJ

Interesting ...

[2017-02-19 04:45] cch5ng commented on #980
@miketaylr (apologize in advance that I will probably post a bunch of notes/questions but will try to break them as different comments)

in order to address [checkbox 1 (understand which intern tests are failing locally/travis)](https://github.com/webcompat/webcompat.com/issues/980#issue-143386485), I updated my repo and was getting an error about missing dojo/loader in response to trying to run i

[2017-02-19 05:18] cch5ng commented on #980
@miketaylr these are notes and questions re CONTRIBUTING.md for testing setup.

[code]

I'm not positive I did this correctly. I tried to click the link to get client id/secret, it gives a 404 error on github (is that due to not having access rights?). I created a dummy application on github to get client id and secret and put those into secrets.py.

[2017-02-19 05:26] cch5ng commented on #980
@miketaylr these are local intern tests that are failing for me currently. a few are failing b/c I just was not fast enough to enter the github 2fa auth code in the UI. but are any of the auth tests expected to fail currently? also would it would be nice to push all tests requiring authentication to a separate file and to default those test to run at the very beginning?

![1webcompat_local_test_fa

[2017-02-19 05:32] cch5ng commented on #980
@miketaylr after running intern tests locally, from the terminal running the server, there are errors related to missing fixture files. but I can see these files in the local repo, so I am wondering if there may be something wrong with my configuration...

[code]

[2017-02-20 10:46] zoepage commented on #1314
@karlcow #766 Contributing guide: npm install was closed. Is there anything I need to still fix / add there?

[2017-02-20 12:31] zoepage commented on #706
@karlcow could you provide more information here? thank you!

[2017-02-20 16:08] zoepage opened #1352 "build: move grunt to webpack"
Move the grunt setup to webpack4 like already mentioned in #909

- [x] eslint
- [ ] checkDependencies
- [ ] cmq
- [ ] concat
- [ ] cssmin
- [ ] cssnext / postcss
- [ ] imagemin
- [ ] uglify
- [ ] watch

PATHS:
jsPath: "webcompat/static/js",
cssPath: "webcompat/static/css",
imgPath: "webcompat/static/img"

[2017-02-20 22:12] karlcow commented on #1250
wow. Thanks a lot @magsout ❤️

[2017-02-20 22:15] karlcow commented on #1250
We can mark this as fixed. I checked the different issues from the comment 1 and it seems to be ok. Now I need to work on #1251 so that we do not let it drift.

Thanks a lot to @magsout for helping on this ungrateful task.

[2017-02-20 22:15] #1250 closed

[2017-02-21 02:16] karlcow commented on #1342
@jonathanKingston

Do you need the granularity? If yes, then we could imagine `type-https-key` where the `key` is a subcategory.

no specific opinion on this, except that most of the time, you get the site and you don't get the site. Recent example: https://github.com/webcompat/web-bugs/issues/4778

No idea what you are talking about. 🤡 Probably because out of my comfort zone. Could you explain wh

[2017-02-21 07:55] karlcow commented on #1190
Currently it says

https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#functional-tests

@miketaylr Something else required?

[2017-02-21 12:01] zoepage opened #1353 "add build badge to readme"
Add build badge from
* [x] npm dependencies
* [x] twitter badge
* [x] GH version
* [x] build with grunt
More will follow later on, like test coverage etc.

[2017-02-21 12:46] karlcow commented on #1353
reopening because the PR is not merged or did I miss anything? :)

[2017-02-21 13:56] karlcow commented on #1314
@zoepage do you mean anything for this issue #1314.

I see #706 and #1134 up there in the comments. :)

[2017-02-21 14:02] karlcow commented on #706
@zoepage yes for sure.

* Pointing at the logging mechanism in python which now exists and is usable.
* Probably a code example on how to instantiate a logger
* Finally be mindful of the people privacy, we can NOT log everything. We can use the logger for certain type of problems in the code, but we can't go further than what is described in the privacy policy.

If you need help, please let me kno

[2017-02-21 15:34] zoepage commented on #1314
@karlcow in #766

[2017-02-21 15:45] #1353 closed

[2017-02-21 16:49] miketaylr commented on #1190
Ah no, this looks obsolete.

[2017-02-21 16:49] #1190 closed

[2017-02-21 16:51] miketaylr commented on #980
It's possible, I think I even ran into that issue. I tend to just `rm -rf node_modules` before doing any upgrade, because I expect everything to fail. if you think a note in CONTRIBUTING.md would be useful, please file an issue or send in a PR. :)

[2017-02-21 16:58] miketaylr commented on #980
@zoepage is this link 404 for you as well? You both are part of the "core devs" group, in theory it should work: https://github.com/organizations/webcompat/settings/applications/

[2017-02-21 16:59] miketaylr commented on #980
@cch5ng Did you start the local server with the `-t` flag, e.g., `python run.py -t`?

[2017-02-21 17:00] miketaylr commented on #980
@cch5ng are you using the test bot's credentials? Or your own?

[2017-02-21 17:04] zoepage commented on #980
@miketaylr

its a 404. Got mine through ->https://github.com/settings/applications/new

(Yes, we need to update that info in CONTRIBUTE.md. Will add to #1314 )

[2017-02-21 17:18] miketaylr commented on #980
Ah, bad URL. Thanks!

[2017-02-21 17:24] miketaylr commented on #980
@cch5ng Ah.....I removed the code you had added for the 2FA delay when I did the Intern 3 upgrade. I had intended to file a bug to add it back... but forgot. :(

Sorry about that. 😢

https://github.com/webcompat/webcompat.com/pull/1277/files#diff-6a3371457528722a734f3c51d9238c13L463

We can change the order of those here: https://github.com/webcompat/webcompat.com/blob/master/tests/functional-all.

[2017-02-21 21:05] miketaylr commented on #307
Assigning to @zoepage, she's going to work on this in Q2.

I'd like to close #864 and #865 in the meantime -- we should revisit them for ideas and inspiration, but let's approach this with a fresh set of eyes (i.e., avoid some of the technical baggage in those issues).

[2017-02-21 21:05] miketaylr commented on #864
Closing for now, see https://github.com/webcompat/webcompat.com/issues/307#issuecomment-281479941.

[2017-02-21 21:05] miketaylr commented on #865
Closing for now, please see: https://github.com/webcompat/webcompat.com/issues/307#issuecomment-281479941

[2017-02-21 21:05] #865 closed

[2017-02-21 21:15] #1280 closed

[2017-02-21 21:24] miketaylr commented on #1353
These are a cool addition, thanks @zoepage.

[2017-02-22 13:09] zoepage commented on #1244
Setting the message left, so we can close the issue and can rethink how to solve the labels issue later on. Are you all ok with it? @magsout @miketaylr

[2017-02-22 17:50] miketaylr commented on #1244
@zoepage yeah, LGTM. Slightly less weird. :)

[2017-02-23 00:52] karlcow opened #1356 "Media playback team bug reporting to webcompat.com"
by @squelart

[2017-02-23 00:59] karlcow commented on #1356
That's very cool.
the form for sending issue is at:
* URI is /issues/new with a POST
* code: https://github.com/webcompat/webcompat.com/blob/master/webcompat/views.py#L154

We probably would benefit to keep a clean structure for these data, so we can parse them correctly and make a nice layout in webcompat.com. Also to avoid weird characters and filtering into markdown.

@squelart Our form current

[2017-02-23 01:17] karlcow commented on #1356
Hmm is looking at the code and I guess that would be a good opportunity to improve our form handling.

[2017-02-23 01:24] squelart commented on #1356
@karlcow Thank you for opening this issue.
I'm already able to open the webcompat form and add the URL, that was easy, good job there. ;-)

Here are some examples of information I'd like to get into a webcompat form, in addition to the page's URL:
- Error code, e.g.: NS_ERROR_DOM_MEDIA_DEMUXER_ERR (0x806e000c)
- Function in which it happened, e.g.: virtual RefPtr<MP4Demuxer::InitPromise> mozilla::

[2017-02-23 02:16] karlcow commented on #1356
not necessary more difficult. In the end we handle a python dictionary that we format as a  payload for GitHub.

[code]

[2017-02-23 02:18] karlcow opened #1357 "HTTP POST on issues/new creates a 500"
a simple

   http POST http://localhost:5000/issues/new

explodes the code ;) 💣

That could be handled in a better way:

[code]

[2017-02-23 04:25] karlcow commented on #1357
if we do an HTTP POST with empty parameters, we get
https://github.com/webcompat/webcompat.com/blob/bb90834d0b8d60ac51d1ca7f636dcc8e3e543def/webcompat/views.py#L169

[code]
In this case,
[code]
[ImmutableMultiDict](http://werkzeug.pocoo.org/docs/0.11/datastructures/#werkzeug.datastructures.ImmutableMultiDict) and [MultiDict](http://werkzeug.pocoo.org/docs/0.11/datastructures/#werkzeug.datastructur

[2017-02-23 15:38] miketaylr commented on #1356
Thanks for filing the bug @karlcow! (I was supposed to last week but uh... forgot. 😢)

We could do this in a couple of ways:

1. go it all via params
a. have another GET param like `extra_info` that passed this stuff in and is just automatically appended to the end of the description field.
a2. have a GET param for `problem_type` to preselect that -- video in this case.

2. postMessage a JS object

[2017-02-23 16:09] miketaylr commented on #1357
Thanks Karl!

[2017-02-23 16:41] miketaylr commented on #1308
I created a `type-webvr` label: https://github.com/webcompat/web-bugs/labels/type-webvr

@adamopenweb @karlcow if you triage any WebVR related issues, please add that label!

[2017-02-23 16:41] #1308 closed

[2017-02-23 21:34] squelart commented on #1356
Hi @miketaylr, thank you for following up.

Selfishly, 1 would be easier for me because all I'm (currently) doing is opening a tab with a hand-built URL.

[2017-02-23 22:04] karlcow commented on #1356
3. Just send a real JSON payload with all the information needed in an HTTP POST. It seems the simpler :)

[2017-02-23 22:10] miketaylr commented on #1356
Cool, good to know.

[2017-02-23 22:23] squelart commented on #1356
If JSON is more future-proof, I could send JSON in my GET too. ;-)

[2017-02-23 22:41] miketaylr commented on #1356
One more question @squelart --

Do you think it would be more useful to open the `/issues/new` form pre-filled with this additional data, and then a users can add more info if they like... (sounds like option 1)

Or would you prefer just sending along the data and an issue is created from that? (sounds like @karlcow's option 3)

I think the answer to that question will help us pick between option

[2017-02-23 22:52] squelart commented on #1356
@miketaylr
From a privacy angle, I think the user should know what information they are actually giving away publicly, before they submit the form.

And they should be given the opportunity to edit it, just like they can already alter the main URL.

Or alternatively, these special fields (old URL, and new extra info) could be made read-only when provided through GET/POST, because altering them cou

[2017-02-23 23:27] karlcow commented on #1356
yes. This is the front-end facing part of the story.

yes.

Then once all the information has been edited there is the way we send it through HTTP to webcompat.com. :) Two separate layers.

Maybe what I'm missing to fully understand the context is what is happening on the firefox side, before the HTTP request. When there is a media problem, what is showed to the users.

[2017-02-23 23:50] squelart commented on #1356
@karlcow
Yes, some context might help! Sorry for not providing it at the start.

When there is some kind of decode error that prevents starting/continuing playback, we will show a notification bar above the page, saying something like "An error occurred while decoding a media resource.", with a "Report Site Issue" button.
Screenshot of my WIP:
![decode-error-notification](https://cloud.githubuserc

[2017-02-24 00:14] karlcow commented on #1356
@squelart Thanks. It helps a lot.

so indeed two solutions:
1. Either handling the form to edit by the user on your side and then you can send it with an HTTP POST on webcompat.com
2. Or indeed prepopulating the page on webcompat.com with parameters  (this can become quickly ugly)

Thinking

[2017-02-24 01:37] cch5ng commented on #980
@miketaylr re

I ran the tests with the -t flag (the missing fixture errors were seen with the -t flag)

[2017-02-24 08:29] karlcow commented on #1356
Food for thought
https://en.wikipedia.org/wiki/Post/Redirect/Get

[2017-02-24 10:55] zoepage commented on #1259
Just so we don't forget for context, #1244.

[2017-02-24 10:56] zoepage commented on #1347
So it's a :+1: @miketaylr && @magsout ?

[2017-02-24 11:19] zoepage commented on #1336
Okay, as @miketaylr said... let's do it?
(sorry @karlcow <3)

[2017-02-24 11:23] zoepage commented on #1305
@karlcow
So, we could also add templates (we could also edit) to the reasoning or would it just add a label?

I love this idea btw.

[2017-02-24 11:44] zoepage commented on #1300
@miketaylr

Those labels could help us to track / measure issues, but also share responsibilities with the community in a better way. So e.g. a contributor could look for CSS issues... they'll find them way faster. Not sure if labels like `layout is broken` are already enough to filter those issues.

+1 on hiding in UI. Maybe just make visible when logged in || part of the project || something som

[2017-02-24 13:59] magsout commented on #1347
Good for me 👍

[2017-02-24 15:09] miketaylr commented on #1347
Yeah, let me work on this today.

[2017-02-24 15:10] zoepage commented on #1347
@miketaylr I could totally do this on the plane

[2017-02-24 15:12] miketaylr commented on #1347
@zoepage be my guest!

[2017-02-24 15:14] zoepage commented on #1347
Cool, thx!

[2017-02-24 15:27] miketaylr commented on #1356
So the media is not blocked forever on an elegant solution (which would probably require UX on the Firefox side), I think we should go this route and file bugs to come up with nicer things in the future, and migrate towards them. I'll file some follow up bugs.

[2017-02-24 15:35] #1244 closed

[2017-02-24 16:35] miketaylr opened #1358 "Add a GET param to pre-populate extra details inside issue description"
(See #1356 for discussion of Media team's needs.)

[2017-02-24 16:37] miketaylr opened #1359 "Add a GET param to pre-select issue problem type"
(See #1356 for discussion of Media team's needs.)

[2017-02-24 16:39] miketaylr opened #1360 "Add a GET param to add a label by default"
(See #1356 for discussion of Media team's needs.)

It would be nice to be able to apply a `type-video` label on issue creation. Probably want to make sure this only works for pre-existing labels to reduce abuse.

[2017-02-24 16:40] miketaylr commented on #1356
I guess we can leave this open until the 3 following bugs are fixed:

- [ ] #1358
- [ ] #1359
- [ ] #1360

[2017-02-24 17:47] miketaylr commented on #1259
@karlcow if you'd like that create that, it would be useful. I'd like to see this work get done in the near future. Any of the proposed designs here are a massive improvement.

[2017-02-24 18:23] miketaylr commented on #1356
I agree with this, FWIW.

[2017-02-24 19:02] #1347 closed

[2017-02-24 21:32] squelart commented on #1360
@miketaylr Thank you for opening this.

Pedantically, some issues may happen with audio-only media as well.
I'm not sure what this label thing is (will it be user-visible?), but I would suggest allowing for different kinds of media, e.g.: `type-audio`.
Also, at the moment the UI notification code doesn't know what kind of media experienced an error, so it would be good to have a vague label too, e

[2017-02-24 21:43] miketaylr commented on #1360
That makes sense, thanks @squelart. Labels are user-visible, but mostly they just allow us to organize types of issues. And they will allow your team to filter only for these kinds of issues.

I prefer `type-media-playback`, but this should be a generic mechanism where you can control what you pass in via your code (we will want to coordinate beforehand though, to make sure the label exists before

[2017-02-24 22:28] miketaylr commented on #1360
Maybe we should consider changing the current "Video doesn't play" problem type to something like "Video or Audio problem": https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L34

Thoughts @karlcow?

[2017-02-27 08:18] karlcow commented on #1360
@miketaylr We can change the form to say what. Separate issue than this one though.
We have a big work to do on the form anyway.

For the label, I would suggest to do `type-media` then we can decide to extend this taxonomy with more terms. `type-media-audio`, `type-media-video` etc. But I would start simple.

The Flickr machine tags created by @thisisaaronland was a good flexible system too. We co

[2017-02-27 08:38] magsout commented on #1336
❤️  my @karlcow

[2017-02-27 11:35] zoepage opened #1363 "add new eslint commands in CONTRIBUTE.md"
https://github.com/webcompat/webcompat.com/pull/1361#discussion_r103009397

[2017-02-27 11:35] zoepage opened #1364 "add paths to linter"
https://github.com/webcompat/webcompat.com/pull/1361#discussion_r103008192

[2017-02-27 11:44] karlcow commented on #1363
Giving more context.

which is about documenting these lines of code.
https://github.com/webcompat/webcompat.com/blob/d89b2c488e67dc70bb1d772ef5c318dd36aeae06/package.json#L42-L53

[2017-02-27 16:11] miketaylr commented on #1358
I suppose `extra_info` works as well as anything else.

[2017-02-27 16:14] miketaylr commented on #1358
Or maybe `details` is better. 🚲 🏚

[2017-02-27 22:00] zoepage commented on #1352
Moved `grunt eslint`  -> `eslint` as first step in https://github.com/webcompat/webcompat.com/pull/1365

[2017-02-27 22:32] miketaylr commented on #1329
I think I'm gonna do the quick and dirty write-to-a-logfile thing in the current app, mostly because it's simpler than figuring out how to host node apps. 🙈

I think medium-term @denschub's solution is nicer though!

[2017-02-27 22:45] zoepage commented on #1352
@magsout Can we start to list which grunt tasks need to be moved to webpack? What the task take care of and how we want to replace them?

[x] eslint
[ ] checkDependencies
[ ] cmq
[ ]
[ ]
[ ]

PATHS:
jsPath: "webcompat/static/js",
cssPath: "webcompat/static/css",
imgPath: "webcompat/static/img"

[2017-02-27 23:14] zoepage commented on #1363
Merged in https://github.com/webcompat/webcompat.com/pull/1366

[2017-02-27 23:14] #1363 closed

[2017-02-27 23:19] miketaylr commented on #763
[Let's start with this recommendation](https://wiki.mozilla.org/Security/Guidelines/Web_Security):

Then come back in a few weeks and see what the report tells us.

I'll land this report-only header in #1329 (and probably fix #1328 at the same time).

[2017-02-28 02:06] #1359 closed

[2017-02-28 02:15] karlcow opened #1368 "Functional Test for URL validation is failing"
As discovered during [another test review](https://github.com/webcompat/webcompat.com/pull/1362#issuecomment-282918681)

[code]

fails with

[code]

The sup stays in the form and the message never appears.

In https://github.com/webcompat/webcompat.com/blob/6be0811511c70ae9383850056e4f6c2b63e92857/tests/functional/reporting-non-auth.js#L54-L72

[code]

The test seems to assert the the message befo

[2017-02-28 15:32] miketaylr commented on #1368
Hmm...

[code]

We should investigate why this can fail for some, but not for others.

[2017-02-28 15:33] miketaylr commented on #1368
(going to mark as good next bug, because timing-related Intern failures can be really tricky)

[2017-02-28 15:36] miketaylr commented on #845
@cch5ng are you still planning on working on this?

[2017-02-28 15:39] miketaylr commented on #1259
(setting as good next bug, as this is a bit involved)

[2017-02-28 15:57] cch5ng commented on #845
@miketaylr I can release this one but continue to work on issue 980. I will unassign myself. thx

[2017-02-28 15:58] miketaylr commented on #845
Cool -- thanks! If you come back when #980 is done and nobody else if working on this, feel free to snag it again.

[2017-02-28 18:12] miketaylr opened #1369 "Add comments describing tests in test_form.py"
The following 2 tests need comments:

`test_normalize_url` https://github.com/webcompat/webcompat.com/blob/master/tests/test_form.py#L12
`test_domain_name` https://github.com/webcompat/webcompat.com/blob/master/tests/test_form.py#L37

To verify that this is fixed, you shouldn't see the test method names when running the following command, but instead the short comment:

[code]

[2017-02-28 18:15] miketaylr opened #1370 "Add comments describing tests in test_uploads.py"
To fix this, the following methods need a docstring:

`testBase64ScreenshotUploads`: https://github.com/webcompat/webcompat.com/blob/master/tests/test_uploads.py#L118
`testRegularUploads`: https://github.com/webcompat/webcompat.com/blob/master/tests/test_uploads.py#L82

To know that this is fixed, the output from the following command won't show the test method names, but the docstring:

[code]

[2017-02-28 20:29] #1364 closed

[2017-02-28 20:43] miketaylr opened #1371 "Failing "Reporting (auth) - Report button shows name " test"
[code]

This one seems to intermittently fail on Travis.

[2017-02-28 21:33] zoepage opened #1372 "change twitter link in footer"
As @lockettm mentioned today, the twitter link on webcompat.com directs to https://twitter.com/intent/user?screen_name=webcompat, which is a good idea in general, but the tweets shown below are suggesting not much interaction on the site and a long response time.

She suggested to change the link to the profile site.

[2017-02-28 22:00] #1372 closed

[2017-02-28 22:43] zoepage opened #1374 "Change Icons for more friendly / professional look on Index page"
I'd like to change the icons (mainly on the index) to achieve a cleaner look and feel for the user as the "filled" ones feel heavy.

To give a little bit more of context: https://mlockettux.wordpress.com/2017/02/27/documenting-the-initial-iteration/ + https://github.com/webcompat/webcompat.com/issues/1338

Now:
<img width="1162" alt="ways of how to contribute" src="https://cloud.githubusercontent.

[2017-02-28 22:46] zoepage commented on #706
@karlcow took a look into it and it would be great, if you could help out with this one. Thank you <3

[2017-02-28 23:54] lockettm commented on #1374
@zoepage These look great! I think the suggested "Report a Bug" icon is especially clearer and better represents the task. I like it.

[2017-03-01 02:12] karlcow commented on #1374
agreed with @lockettm specifically the 1st one.
Diagnose not sure.

[2017-03-01 02:46] karlcow commented on #1368
Confirmed for me with Firefox 51.0.1 (64-bit). Your command is not working for me. I need to separate shell. At a point I thought it was my two screens which was creating an issue. but no.

[2017-03-01 02:48] karlcow commented on #1368
[code]
even with this in my path. it is picking up Firefox Prod and not Nightly. Interesting.

[2017-03-01 08:44] magsout commented on #1352
@zoepage

- [x] eslint
- [ ] checkDependencies: yes
- [ ] cmq: no
- [ ] concat: no
- [ ] cssmin: no
- [ ] cssnext / postcss: yes
- [ ] imagemin: yes
- [ ] uglify: no
- [ ] watch: no

[2017-03-01 08:47] magsout commented on #1352
We need:

[] webpack.ProvidePlugin (global object like jQuery, backbone)
[] resolve: alias all global script (jQuery, backbone etc...)

[2017-03-01 08:56] magsout commented on #1352
@zoepage I think it's a good start https://gist.github.com/magsout/f9fd40c35102f9184b7566a707b00daa

However it is for version 1

We need to follow https://webpack.js.org/guides/migrating/

[2017-03-01 12:38] magsout commented on #1374
Interesting.

[2017-03-01 12:41] magsout commented on #1374
as @lockettm and @karlcow I like the first one.

The third is cool. Love the spirit about share the love.

The second is less clear at first sight. Perhaps the drawing is less clean. We can not see the details. Even if it looks closer, it does the job perfectly

[2017-03-01 15:01] zoepage commented on #1374
<img src="https://mlockettux.files.wordpress.com/2017/02/roles-test.jpg?w=451&h=308" />

For **community builder** could following be nice:
<img width="80" alt="screen shot 2017-03-01 at 3 54 16 pm" src="https://cloud.githubusercontent.com/assets/562354/23465328/36876b48-fe98-11e6-9c7a-28e10a42f61b.png">
[community builder icon](https://thenounproject.com/search/?similar=518092&i=557872)

[2017-03-01 15:14] zoepage commented on #1374
@karlcow && @magsout
Alternatives for the 2nd one:

<img width="86" alt="screen shot 2017-03-01 at 4 01 08 pm" src="https://cloud.githubusercontent.com/assets/562354/23465413/7c80f7ae-fe98-11e6-8f4a-acb1b4d27fc0.png">

[Diagnose bug icon](https://thenounproject.com/search/?similar=518092&i=518014)

or

<img width="75" alt="screen shot 2017-03-01 at 4 11 43 pm" src="https://cloud.githubusercontent.

[2017-03-01 17:05] miketaylr commented on #965
I wonder if there's anything actionable left in this issue. Adding "needs-decision".

[2017-03-01 20:36] zoepage commented on #1336
Decision was made. +1 on `'target="_blank" for link in issue detail`

[2017-03-01 22:15] miketaylr commented on #1368
Ah sorry, you're right. That command needs to be split up.

[2017-03-01 23:02] miketaylr commented on #1047
I'm pretty sure we have this now.

[2017-03-01 23:08] miketaylr commented on #1047
Tsk, tsk. We don't.

To fix this, we need to write tests around actually uploading an image (one of our green.png fixture files is fine) and making sure they do the same thing as the postMessage'd image:

https://github.com/webcompat/webcompat.com/blob/master/tests/functional/image-uploads-non-auth.js

[2017-03-01 23:25] sergiorojasa commented on #1336
I would like to work on this

[2017-03-01 23:28] sergiorojasa commented on #1370
I would like to work on this

[2017-03-01 23:33] miketaylr commented on #1358
@squelart can you give me a sample string of the additional info you'd like to send, so I can use it in tests?

[2017-03-01 23:48] squelart commented on #1358
At the moment, I'm producing something like:
"NS_ERROR_DOM_MEDIA_DEMUXER_ERR (0x806e000c) in `virtual RefPtrMP4Demuxer::InitPromise mozilla::MP4Demuxer::Init()` - Incomplete MP4 metadata in 'file:///Users/gerald/Documents/mozilla/media.mp4'"
(Of course you'll need to escape that as needed.)

Now, if this is going into a text field, I will try to make it look tidier, over multiple lines, e.g.:
"""

[2017-03-01 23:52] miketaylr commented on #1358
Thanks! I think the line breaks make it a bit nicer to read, so if it's not much trouble that would be good. Otherwise we can handle that client side.

For now, it's English only, yeah.

[2017-03-02 00:51] #1328 closed

[2017-03-02 00:51] #1329 closed

[2017-03-02 07:19] karlcow commented on #1370
@sergiorojasa Thanks. That's cool!

Follow the instructions about the project on [CONTRIBUTING](https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md)
When your environment is setup, create a pull request with the right syntax and ask for a review for python, you can ask me as a reviewer.

if you have issue you can drop in the IRC channel. irc.mozilla.org #webcompat channel.

[2017-03-02 10:18] ioana-chiorean opened #1375 "Misleading icon for Github view"
Steps:
1. Go to the bottom1 of an issues' page on webcompat. (ex: https://webcompat.com/issues/4877)
2. Tap the G icon from "G takes you to the Github view of the page. "

Expected results:
- I would expected to be taken to the github view - as taping the link behind the text github view

Actual results:
- the G doesn't do anything. Only the link behind the Github View text forwards you to that.

[2017-03-02 10:35] magsout commented on #1375
There is no link around the G icon.

Why do you consider that you can tap on G?

The icon is just there to symbolize the keyboard key.

[2017-03-02 18:16] miketaylr commented on #1375
We could easily just making the G a link as well though (with or without an underline).

[2017-03-02 18:22] miketaylr opened #1376 "Missing description in package.json"
If you do `npm install`, you will see the following:

`npm WARN webcompat@ No description`

To fix this, we need to add something short and sweet to package.json:

https://github.com/webcompat/webcompat.com/blob/master/package.json

See also https://docs.npmjs.com/files/package.json#description-1

[2017-03-02 18:35] ioana-chiorean commented on #1375
Because it looks like a button? At least for me.

Well, on mobile ( as in mindset and workaround) there is not keyboard key there. Sorry, I honestly did not consider that at all.

Indeed. I can do this if this will be the final decision.

I do not have a strong feeling about this. I missed the keyboard thing (which works on desktop btw) so It might just be me and my weird ux.

[2017-03-02 19:10] jeanhl opened #1377 "Document running grunt (or npm run build) before running functional tests for the first time"
**Issue:**
I've been getting familiar with the webcompat codebase and noticed that the css would not appear when I'm running localhost. Mike told me to run grunt to get it to appear.

**Fix:**
Basic: Documentation needs to be amended to reflect that "grunt" has to be executed in the root directory of webcompat.com
Detailed: Install gruntjs by running "sudo npm install -g grunt-cli" (on Mac) before

[2017-03-02 19:28] magsout commented on #1375
@ioana-chiorean sorry, my question was maybe a little direct?

I just went to know why.

 Your point of view is interesting.

I don't see/understand the behavior of the Button because I added it.

So, thank you for your feedback. It's a good idea to add a link around the Icon. IMHO

[2017-03-02 19:34] miketaylr commented on #1377
Thanks @jeanhl!

For context, this came up after @jeanhl was running Intern tests:

https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#running-tests

We cover this in https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#working-environment-setup (at some point), but if you jump straight to the tests you'll miss that.

We could add a link back or a sentence say

[2017-03-02 19:55] ioana-chiorean commented on #1375
No worries, but I honestly though it is a button :| I work a lot from mobile nowdays so I am definitely bias there.

I will patch it later a bit.

[2017-03-02 21:56] miketaylr commented on #1371
Right now it seems like this is a perma-failure.

[2017-03-02 22:47] miketaylr commented on #1358
@squelart if you can send `%0A` to indicate a line break then we should be good i.e.,

`details=Encountered error: NS_ERROR_DOM_MEDIA_DEMUXER_ERR (0x806e000c)%0ALocation: virtual%0ARefPtrMP4Demuxer::InitPromise mozilla::MP4Demuxer::Init()%0AError information:%0AIncomplete MP4 metadata%0AMedia URL: file:///Users/gerald/Documents/mozilla/media.mp4`

[2017-03-02 23:02] heatherbooker opened #1378 "Dev env setup: "source: not found" error with "npm start""
Hi! I am trying to set up the dev environment and got as far as
[x] git clone webcompat.com
[x] npm run module

Then `npm run setup` didn't work so I ran the commands individually:
[x] virtualenv env
[x] . env/bin/activate
[x] pip install -r config/requirements.txt
[x] sudo npm install -g grunt-cli
[x] npm install
*edit: I forgot to run grunt here! That's why the server couldn't find the css. -_-

[2017-03-02 23:26] squelart commented on #1358
@miketaylr Just to be 100% sure:
The media code will produce newlines:
    "line 1\nline 2"
and forward that to some JS front-end code, which will build the URL with something like:
    `"webcompat.com/...?details=" + encodeURIComponent(details);`
which will produce:
    "webcompat.com/...?details=line%201%0Aline%202"
I.e., newlines will be encoded (to %0A), but also spaces and other special chara

[2017-03-02 23:45] miketaylr commented on #1358
Yep, looks good!

[2017-03-02 23:56] miketaylr commented on #1378
Hello! Thanks for the detailed bug report. :)

Just so I understand -- the problem you're having is not being able to get the virtualenv to activate via the `source` command? I'll confess to not knowing much about shell differences -- I'm on a mac.

It sounds like you were able to get the local server running though, is that correct?

Yeah, that's just console spam for now. OK to ignore.

[2017-03-03 00:04] heatherbooker commented on #1378
Cool. Yes, the problem seems to be with activating the virtualenv via the `source` command.

Straight from my shell (tried with both zsh and bash), I can run `source` with no problems. I can also change the `npm start` command to use `.` instead of `source` and that runs with no problems.

But yes, the local server is running!

[2017-03-03 00:07] karlcow commented on #1378
fwiw, I never start the server outside of the virtualenv.

[code]

Here I try to start the server.

[code]

Then

[code]

and trying again

[code]

It never worked for me.

I usually do:

[code]

[2017-03-03 00:17] heatherbooker commented on #1378
@karlcow  Interesting.. two questions.

1) Do you always enter the venv when you are doing anything with the project? Running unit tests? Functional tests? `npm install`ing?
2) Jk I guess this is not actually a question. I guess I'll try setting up virtualenvwrapper. My only concern is that it wouldn't have helped in the first place, as a newbie trying to set up a dev environment. I'd like to smoo

[2017-03-03 00:33] karlcow commented on #1378
@heatherbooker Always. I do everything in the virtualenv. never outside.

yes what you are doing is good. We probably need to improve the first steps. It's still bumpy.

[2017-03-03 00:59] brizental commented on #1187
Yeah... That is annoying.
I would like to work on this.

[2017-03-03 01:53] karlcow commented on #1375
Great feedback @ioana-chiorean

* On Mobile indeed this doesn't make sense. It says "G" (this) takes you (action) to the Github View (there). But there is no keyboard on mobile. so the G is indeed doing nothing.
* On desktop, it's not completely clear either. :) It is clear for us because we know it, but I'm pretty sure a website newbie will not get it in addition to the duplication of the link in

[2017-03-03 02:26] karlcow commented on #1178
* "Discussion" for a label `type-cssRule` https://github.com/webcompat/web-bugs/issues/4856#issuecomment-283722562
* we created something for VR
* we are discussing of creating something for audio.

Cough cough. We are rushing ;)
What about creating guidelines for creating and documenting the `type-` labels.

[2017-03-03 03:09] karlcow commented on #1259
Milestones for labels work created
https://github.com/webcompat/webcompat.com/milestone/34

[2017-03-03 05:11] karlcow commented on #1251
Started https://github.com/karlcow/webcompat-janitor

[2017-03-03 07:13] heatherbooker commented on #1375
Throwing in my unsolicited two cents as an outsider - when I read ioana-chiorean's first message, I thought

So I definitely agree it is confusing for newbies >< But an awesome feature once I know about it! As a sidenote, I was also confused by it being a capital 'G' - I tried using shift + g to use the shortcut, but it turned out I needed to just press g.

I agree with karlcow's suggestion of hav

[2017-03-03 08:29] magsout commented on #1376
@miketaylr something like ?

[code]

[2017-03-03 08:31] magsout commented on #1378
except the wanrning it works for me:

[code]

[2017-03-03 08:35] magsout commented on #1378
Ok, I will try to make a fresh install and understand why...

[2017-03-03 08:41] magsout commented on #1374
@zoepage

For me:

Report a bug
<img width="85" alt="report a bug" src="https://cloud.githubusercontent.com/assets/562354/23437672/320659aa-fe0f-11e6-8393-dca81f0b952d.png">

Diagnose bug
<img width="85" alt="report a bug" src="https://cloud.githubusercontent.com/assets/562354/23466278/eb6a6720-fe9a-11e6-9b3e-d5c311cc3d01.png">

Reach out to sites
<img width="85" alt="report a bug" src="https://cl

[2017-03-03 08:46] magsout commented on #1259
I start to work on it this night.

[2017-03-03 08:51] zoepage commented on #1378
@heatherbooker This sounds familiar.
Did you log into the app? (Despite having the correct credentials, you need to authorize the app.)
The login is in the upper right corner.

<img width="420" alt="screen shot 2017-03-03 at 9 50 16 am" src="https://cloud.githubusercontent.com/assets/562354/23544358/00dc387e-fff7-11e6-8d04-203e6e5a6241.png">

[2017-03-03 09:10] zoepage commented on #1375
@heatherbooker

Happened to me too.

@karlcow

I feel like, this would add even more confusion. I'd learn the behavior is to click the button, so the `press G` feature would get obsolete at some point.

@heatherbooker

--> ex. mobile: simple github icon button + "View on github" linked text

Had the same idea to create two different views for this feature. I love to change the `G`into octocat plus

[2017-03-03 09:19] zoepage commented on #1376
As this is a description `as it's listed in npm search`, how about
`WebCompat.com is a tool to gather web compatibility bugs, inform the community and help to fix the web.` ?

[2017-03-03 09:25] zoepage commented on #1374
It might sound weird, but having two icons with a bug and one without might create an imbalance.
After thinking about it, I'd go with

Report a bug
<img width="85" alt="report a bug" src="https://cloud.githubusercontent.com/assets/562354/23437672/320659aa-fe0f-11e6-8393-dca81f0b952d.png">

Diagnose bug
<img width="75" alt="screen shot 2017-03-01 at 4 11 43 pm" src="https://cloud.githubusercontent.

[2017-03-03 09:27] zoepage commented on #1259
@magsout if you'd like to discuss concept things through or have questions about design aspect, LMK! I'll be around all evening && happy to help :)

[2017-03-03 10:53] karlcow commented on #1375
@zoepage

to make extra-sure that I was understood. I'm talking about just having github view as a sentence.

![capture d ecran 2017-03-03 a 19 52 47](https://cloud.githubusercontent.com/assets/505230/23548477/0b56d620-004b-11e7-8c3b-77d0c2e8b890.png)

[2017-03-03 10:56] zoepage commented on #1375
@karlcow
Behavior wise, you have to hover for +1.2 sec over a button to get a tooltip. Mostly too long for people to see the info and the knowledge about the feature "gets lost".
This is why I am not a big fan of tooltips.

+1 on "github view" label like button.

[2017-03-03 11:01] karlcow commented on #1375
You mean 1.2s when using the "title" attribute? It doesn't have to be a title attribute.  I just mocked it up quickly for making clear what I'm talking about. The goal is that once people learned that there is a g shortcut, they will not ever use the button anymore. Plus with a button github view we do not have to put it down there hanging nowhere. Ultimately it should  be on the top.

For the oct

[2017-03-03 11:03] zoepage commented on #1375
@karlcow

Agree, but I fear they won't be able to learn it, because its harder to get the info.

I actually feel the other way around. Seems to add a human side to it. But that's probably just me.

[2017-03-03 11:43] zoepage opened #1381 "[webcompat.com] Creating resources site"
When we would create a site @ webcompat.com to gather resources, tools etc to educate users about web compatibility, what should be on that page?

I'd appreciate links like release notes etc:
- https://developer.mozilla.org/en-US/Firefox/Releases
- https://chromereleases.googleblog.com/
- https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/

Videos:
- The Joy of Diagnosis
- (ma

[2017-03-03 17:04] miketaylr commented on #1378
Maybe we should change instructions to only use virtualenvwrapper

(but also, unless you globally installed all your pip packages, which is not recommended, the server shouldn't work outside of a venv. it's not *bad*, you just lose all the benefits of a sandboxed virtual env)

[2017-03-03 17:07] #1314 closed

[2017-03-03 17:08] miketaylr commented on #1376
LGTM.

[2017-03-03 17:09] miketaylr commented on #1259
awesome!

[2017-03-03 17:16] miketaylr commented on #1375
I feel like we're totally overthinking this. This is a "good first bug", so let's keep it simple. If someone wants to get fancier, let's fix the simple bug then file a follow up.

@heatherbooker I think your suggestions in
https://github.com/webcompat/webcompat.com/issues/1375#issuecomment-283883226 are good. Want to work on this?

(@ioana-chiorean, is that OK with you?)

[2017-03-03 17:17] miketaylr commented on #1187
Thanks @brizental!

[2017-03-03 17:19] miketaylr commented on #1178
Are we? We had discussed this in our team meeting a few weeks back. The decision was to be liberal in our usage of `type-foo` labels for categorization of emergent issues. @adamopenweb volunteered to "clean them up" every month or so.

[2017-03-03 17:21] miketaylr commented on #1178
We're still waiting on Milestone stuff to happen and @magsout is starting some of the work that will unblock us from that now. I don't think we should not create new `type-foo` labels until that work is done.

[2017-03-03 18:23] cch5ng commented on #1368
I can confirm this test failure. I ran the tests a little differently (while trying to narrow down expected test failures):
`python run.py -t` then separately
`node_modules/.bin/intern-runner config=tests/intern functionalSuites=tests/functional-nonauth`

the same test fails for me
https://github.com/webcompat/webcompat.com/issues/1368#issue-210666943

[2017-03-03 18:37] #1187 closed

[2017-03-03 18:43] cch5ng opened #1383 "Failing functional test (nonauth): "History navigation - Back button works from issues page""
Ran nonauth functional tests locally
`python run.py -t`
`node_modules/.bin/intern-runner config=tests/intern functionalSuites=tests/functional-nonauth`

This was one of the resulting test failures:
[code]

[2017-03-03 18:48] #1358 closed

[2017-03-03 19:04] miketaylr opened #1384 "Logging in/out not working from issue page"
See https://github.com/webcompat/web-bugs/issues/4907

STR: go to an issue, hit log in or log out

Expected: should work
Actual: doesn't!

It seems to be fine for me on the homepage, so that's weird.

[2017-03-03 19:05] miketaylr commented on #1384
https://s:s@staging.webcompat.com/issues/515, for example.

[2017-03-03 19:15] cch5ng commented on #1383
hi, @miketaylr this seemed it could be a timing issue. I restarted my router and re ran the test (there may have been a new app on my computer also causing performance slow down). it is passing. sorry about that!

[2017-03-03 19:15] #1383 closed

[2017-03-03 19:21] lockettm commented on #1374
That makes sense, I also associate the magnifying glass with search or find.

[2017-03-03 19:37] zoepage commented on #1374
So, let's make a decision. We could turn that issue into a great "first bug".
If anyone is ok with it, I'd create a new issue and close this one.

[2017-03-03 19:39] zoepage commented on #1383
Interesting. That would explain a few things. Thanks @cch5ng for that pointer :)

[2017-03-03 19:49] cch5ng commented on #980
follow up to [checkbox 1](https://github.com/webcompat/webcompat.com/issues/980#issue-143386485) for failing nonauth tests, there is one currently known failing test:
issue #1368.

decided to separate the list of known failing tests by nonauth and auth groupings for this time and focus on the nonauth tests group for now. should probably also follow up with documenting the auth tests that are curre

[2017-03-03 20:00] miketaylr commented on #1383
Yeah, I suspect this is the case -- thanks for opening the bug though! Hopefully we can make the tests less flaky depending on hardware/distance-from-GitHub servers, etc.

[2017-03-03 20:01] miketaylr commented on #1374
Let's discuss in our team meeting on Tuesday, then follow up here. 👍

[2017-03-03 20:11] miketaylr commented on #1384
This is a recent regression -- I tested and confirmed that it works if you check out the `v3.0.0` tag, but is busted in the `v3.1.0` tag.

[code]

So it's either CSP or Cache-Policy that broke this. cc @karlcow

Will bisect and we should know very soon.

[2017-03-03 20:39] miketaylr commented on #1384
Yeah, looks like #609 broke this. To verify:

`git checkout bab6f6df1676b65f891ace94527d4596f176dcbf` and try STR.
then `git checkout 815cb730fed698cca5f3adffba245f0b62bb837f` and the bug doesn't reproduce.

I'm inclined to back this out and deploy a new version if there aren't any messy conflicts.

[2017-03-03 20:43] miketaylr opened #1385 "Create tests to verify logging in/out works from issue page + home page"
So we don't regress again like: https://github.com/webcompat/webcompat.com/issues/1384

We assume logging in and out will work, but don't have any explicit tests for it.

[2017-03-03 20:44] miketaylr commented on #1385
- [ ] home page
- [ ] /issues route
- [ ] issue page
... more? all routes? dunno.

[2017-03-03 20:44] miketaylr opened #1386 "Back out bab6f6df1676b65f891ace94527d4596f176dcbf changeset"
It caused https://github.com/webcompat/webcompat.com/issues/1384.

[2017-03-03 20:46] miketaylr commented on #609
I'm gonna back this out in https://github.com/webcompat/webcompat.com/issues/1386, because it caused #1384. When we re-land this code, we should verify that #1384 is fixed.

(see also #1385 for writing tests to make sure we don't break logging in/out again)

[2017-03-03 21:31] miketaylr commented on #1371
https://github.com/webcompat/webcompat.com/pull/1387 fixes this.

[2017-03-03 21:31] #1371 closed

[2017-03-03 21:32] miketaylr commented on #609
Let's also make sure we don't break the test in https://github.com/webcompat/webcompat.com/issues/1371 when we fix it too, I think this changeset caused the permafail (which makes sense, it was a test on an issue page that involved logging in).

[2017-03-03 21:32] magsout commented on #1259
ok, Some test https://cl.ly/2W3r2S1A3z2l

[2017-03-03 21:51] magsout commented on #1259
second test https://cl.ly/3F3v0u3M0I2Q

Label a-la Github

[2017-03-03 21:51] magsout commented on #1259
Need to think about small screen

[2017-03-03 21:58] #1386 closed

[2017-03-03 21:59] miketaylr commented on #1384
Fixed by db4e879a167604debfa04d3e208be68cb4f64c6d.

[2017-03-03 21:59] #1384 closed

[2017-03-03 21:59] zoepage commented on #1259
I love the second test. (The background color jumps are probably just a video issue, I guess.) :)

Very excited about the small screen :)

[2017-03-03 22:05] miketaylr commented on #609
I wonder if the reason it broke is because we serve different HTML if the user is authed:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/shared-nav-links.html#L7-L12

Not sure how to fix that. 🤔

[2017-03-03 22:25] zoepage commented on #1381
In addition: https://github.com/webcompat/webcompat.com/issues/1284#issuecomment-273853482

[2017-03-03 22:51] brizental commented on #1047
I would like to work on this.

[2017-03-03 23:14] miketaylr commented on #1047
Great! It should be helpful to have a look at existing tests, as well as https://theintern.github.io/leadfoot/index.html and http://chaijs.com/api/assert/.

[2017-03-04 20:19] jeanhl commented on #1369
I would like to claim this issue to fix. I have the environment up and running already.

[2017-03-04 20:25] jeanhl commented on #1369
I have added the comments to my version. If this is ok, I can start a pull request once approved.
![screen shot 2017-03-04 at 12 24 39 pm](https://cloud.githubusercontent.com/assets/20343358/23582019/a8d9844e-00d5-11e7-9856-b8f322ecb3a0.png)

[2017-03-04 21:05] jeanhl commented on #1385
I'd like to claim this issue. To clarify:
- testing the login and logout functions in views.py
- Python unittests.

I have a framework in mind but I'd like to discuss it with someone before I go hogwild with it.

[2017-03-04 23:46] brizental commented on #1047
Nice, thanks :)

So, just to straighten things out, we are talking here about writing functional tests to the uploading of screenshots to the comments of an issue, right?

![screenshot from 2017-03-05 00-43-35](https://cloud.githubusercontent.com/assets/25176023/23583169/ebf74c04-013c-11e7-97a0-0737d0ac950f.png)

If so, the tests won't all be the same as for the postMessage'd image, since the inte

[2017-03-05 21:32] karlcow commented on #609
Interesting issue. Let me check it. 😄

[2017-03-06 01:23] karlcow commented on #1339
The thing I'm not comfortable with `status-*` is that I fear there could be a conflict of status, aka there is a dependency on a Mozilla issue or a chromium bug, but we still want to contact the site, it has happened.
There is also the possibility that it depends on more than one issue.

If there is a dependency I would call out this fact.

* `dep-moz-NNNN`
* `dep-blink-NNNN`

And indeed this coul

[2017-03-06 02:15] karlcow commented on #609
On a clean profile. No previous cookies.

[code]

I go to the homepage on localhost. Click on login. Then boom

[code]

hmm interesting. Let's stop the server. Quit the browser. Restart with a fresh profile.

[code]

* This time it is working from the home page.
* Logout.
* Login. Working.
* Switch to an issue view.
* And try to logout. It doesn't work.

Let's see the network panel.

The logout do

[2017-03-06 04:22] karlcow commented on #1384
Just for the record and not forgetting the issue. The login/logout **is working**. There is no issue there. The issue is that we don't see the change of state anymore. See my comment:
https://github.com/webcompat/webcompat.com/issues/609#issuecomment-284286469 and follow-up discussions.

[2017-03-06 04:26] karlcow commented on #609
So indeed. This is a templating issue.
And to make we don't loose the lines of code.
https://github.com/webcompat/webcompat.com/blob/5d7604bdeee7a25137e35fef47ab767f4574f7f6/webcompat/templates/shared/shared-nav-links.html#L7-L12

[code]

[2017-03-06 04:28] karlcow commented on #609
I need to test a couple of things. Because the content should be changing, hence the etag.

[2017-03-06 04:59] karlcow commented on #609
Let get's to http://localhost:5000/issues/200 with a fresh profile
No login. No cookies.

[code]

and Response is:

[code]

This is normal.

Let's do a reload

[code]

Then the response is:

[code]

Working!

Ok let's click the login button. We know that the login is working, but the page doesn't show the new page with the different template.

The request headers according to developer tools (I'm

[2017-03-06 06:41] karlcow commented on #609
I have two ideas to fix it. Let's try.

[2017-03-06 07:37] karlcow commented on #609
So basically the right thing to use here would be `no-cache` to force revalidation but it seems that Firefox and IE at least treat `no-cache` as `no-store`. So that's not good.

The way to do something which is interoperable is to do.

`must-revalidate, max-age=0` Basically we ask the browser to force the 304 Not Modified response from the server. So it's still a hit on the server (like the 200 be

[2017-03-06 07:37] karlcow commented on #609
I will create a new branch with the appropriate information.

[2017-03-06 08:28] heatherbooker commented on #1378
So regarding the `sh: source: not found` error I was getting:
Changing my package.json `start` script to include an option to use `.` instead of `source`:

[code]

means `npm run start` goes smoothly - starts the virtualenv and then the server. I'm not sure whether making this change would work equally well for the `npm run virtualenv` command. Should I
1) Remove my venv and try to reinstall using

[2017-03-06 08:58] #1377 closed

[2017-03-06 09:19] softvision-sergiulogigan opened #1390 "Unable to log issues from the webcompat website, on Samsung Galaxy S6 device"
*Environment*:
Samsung Galaxy S6 (Android 6.0.1)
Application version: Firefox 51.0.3

*Prerequisites*:
1. Fresh install the Firefox app.
2. Install the Webcompat add-on, from www.webcompat.com.

*Steps to reproduce*:
1. Launch the Firefox app.
2. Open any website.
3. Tap the More-Report Site Issue button.
4. Select any options from the "What seems to be the trouble?" section.
5. Tap the "Attach a

[2017-03-06 09:34] heatherbooker commented on #1375
I can do that later today yup!

[2017-03-06 09:50] zoepage opened #1391 "redirect for /activity page"
When you are logged in, you can see your activity e.g. https://webcompat.com/activity/zoepage

https://webcompat.com/activity/ is a 404. It should point to either https://webcompat.com/activity/USERNAME when logged in or https://webcompat.com/ when logged out.

[2017-03-06 12:30] ioana-chiorean commented on #1375
Si senor.

@karlcow - i liked your proposal too .
@heatherbooker  - go for it!

Thank you all!

[2017-03-06 14:11] karlcow commented on #1369
@jeanhl please do.

[2017-03-06 16:27] miketaylr commented on #1385
Interesting, I had functional Intern tests in mind since we're doing a GitHub OAuth exchange (hence it not being simple to just mock out).

What did you have in mind @jeanhl?

[2017-03-06 16:34] miketaylr commented on #1047
Yeah, but also for http://webcompat.com/issues/new

You're right. It's not even possible to use `postMessage` on the comment uploads, that only works on the new issue bug form.

Yeah, something like that. One way to do that is to verify that we got back a URL from the upload endpoint (seen in the comment body on success): `![Screenshot of the site issue](http://staging.webcompat.com/uploads/2017/3

[2017-03-06 16:38] miketaylr commented on #1378
Ah https://github.com/heatherbooker/webcompat.com/commit/273025419c3c80d283a7e776e7e0ce7ceb09b295 is a nice solution.

[2017-03-06 16:41] miketaylr commented on #1390
Interesting, thanks @softvision-sergiulogigan. I imagine this has to do with how Samsung's OS hands off images from their photo app back to JS.

@softvision-sergiulogigan note: if you want to file test reports, you can use our staging server: https://s:s@staging.webcompat.com (that way they don't end up in the main repo).

[2017-03-06 16:41] zoepage commented on #1378
@heatherbooker glad it worked out :) LMK if you have more questions!

[2017-03-06 16:49] miketaylr commented on #1390
Once you select an image, you shouldn't see a cloud icon anymore -- it should show a local preview. So this is the first area to investigate. I've got a Samsung Galaxy S6 I can check in the next day or so.

[2017-03-06 17:02] AVGP commented on #1332
Any way we can help with this?

[2017-03-06 19:58] heatherbooker commented on #1378
@miketaylr do you want to see it as a PR?

[2017-03-06 20:35] heatherbooker opened #1393 "Potential bug - misnamed class in issue.css"
Starting at line 145 in `issue.css`, there is a missing vowel (`.wc-Issue-lbels`) that to me looks suspiciously like a bug:

[code]

Should there be an `a` in the media query?

Then again, if it hasn't been noticed, maybe it's not needed? Applying `position: relative` manually to the div doesn't seem to me to visibly change anything in FF or Opera.

[2017-03-06 20:37] zoepage commented on #1283
Referencing new icon ideas:
https://github.com/webcompat/webcompat.com/issues/1374

[2017-03-06 20:43] zoepage commented on #1393
@heatherbooker

Good catch! Agreed. :) Also didn't see any change, even when the class is correct.
Also @magsout is working on a small refactor of the labels anyway (as seen here https://github.com/webcompat/webcompat.com/pull/1389). So it should be save to remove. :)

[2017-03-06 20:54] miketaylr commented on #1378
yes please.

[2017-03-06 22:47] jeanhl commented on #1385
Ah, my bad. I thought I could set up a mock OAuth. I was trying to access github looking at this line in view.py:
"from webcompat import github"
but I can't find a file called "github."

[2017-03-06 23:23] karlcow opened #1398 "Twitter account link should include replies"
This is a followup issue on "change twitter link in footer" #1372

In  her blog post @lockettm mentioned the comment of a UX test participant:

We fixed it with #1372 That's cool it was an improvement. I guess we can improve this a bit more, by using https://twitter.com/webcompat/with_replies

Here the screenshots. Left with replies, and right without replies (aka the current one)

![capture d ecr

[2017-03-06 23:52] karlcow commented on #1398
@lockettm feel free to chime in.

[2017-03-06 23:55] lockettm commented on #1283
<img width="770" alt="screen shot 2017-03-06 at 2 37 41 pm" src="https://cloud.githubusercontent.com/assets/4382193/23633452/a67e585e-027a-11e7-939b-aae503b427b7.png">

After testing the above changes with several users, I’d suggest:

* Replacing "Join the Team" with “Help Us Improve the Web.” One user read this while scanning the page and quickly understood the mission.
* Replacing “Learn More” w

[2017-03-07 00:13] karlcow commented on #1391
Let's hold on the discussion on this. Why? In short: URIs are identifier toward a meaning.
And so I'm in favor of closing this without implementing it. But I want to explain further in a longer prose.

[2017-03-07 00:20] lockettm commented on #1398
That's interesting. I agree, linking to /with_replies would make the account seem even more active.

[2017-03-07 00:31] lockettm commented on #1284
While doing some user testing, I mocked-up a new contact page to get some user feedback.

<img width="1303" alt="screen shot 2017-03-06 at 3 59 04 pm" src="https://cloud.githubusercontent.com/assets/4382193/23635652/e0ecc66e-0285-11e7-8cdc-2d27bc201e9f.png">

When asked to find a way to ask the community a question, users navigated to the Contact page, but had some trouble. Two of the four were un

[2017-03-07 00:32] karlcow commented on #1332
@AVGP for now, we need @miketaylr to adjust the server install, the two first items on the list. Then we will be able to move forward.

[2017-03-07 01:18] lockettm commented on #1149
Updating this discussion to add some insight gained from user testing.

Picking-up from a previous point, I vote for separate pages for the how-to guides. It didn’t seem to slow down users when they were asked to locate documentation.

<img width="687" alt="screen shot 2017-03-06 at 5 00 56 pm" src="https://cloud.githubusercontent.com/assets/4382193/23637110/87675074-028e-11e7-862b-bef7f7c8a955.pn

[2017-03-07 01:32] karlcow commented on #1284
@lockettm
Adding a contact form is indeed possible (in the sense of not difficult to do). If we give this possibility I would like to think about what outcomes it will create. Let me try to explain how I see it.

Maximizing the public channels of communications and reducing private feedback is a strategy, not an oversight.

Once we allow for private feedback, we create also a difficulty. It's easy

[2017-03-07 01:42] lockettm commented on #1281
Updating this discussion to add a small note about the mockup user testing.

When tasked with finding an opportunity to work on, users most often selected the Contributor link at the top. Adding it seems like a good idea.

[2017-03-07 01:52] lockettm commented on #1282
A quick update for the record.

While testing mockups of this with a few users, one selected the Twitter link as mentioned in #1373.

No one selected the GitHub icon (maybe more experienced users would?). However, IMHO, I’d still add it.

[2017-03-07 02:01] miketaylr commented on #1282
Thanks for the update! I agree including the GH icon is still a good idea. Besides, it looks cool. :)

[2017-03-07 07:52] softvision-sergiulogigan commented on #1390
Hi Mike,
Sorry for the poor quality video, but I tried to keep the size under 10 MB.

[2017-03-07 08:27] magsout commented on #1393
@heatherbooker yeeah, thanks. I already fixed this error in my current PR https://github.com/webcompat/webcompat.com/pull/1389/files#diff-ab655d282b6762036acab8ffc2535a66R40

this is usefull on small screen for the position of labelEditor.

[2017-03-07 08:27] #1393 closed

[2017-03-07 08:43] magsout commented on #1398
@karlcow oh yes, its relevant

[2017-03-07 08:47] nj4710 commented on #1376
I'd like to work on this.

[2017-03-07 08:48] magsout commented on #1339
@karlcow

Hum, why?

For you, what are the bests labels we can applied for there bug https://github.com/webcompat/web-bugs/issues/4114 ? (for undesrtand your previous comment)

[2017-03-07 08:49] zoepage commented on #1376
@nj4710 Enjoy!

If you have any questions, let us know! :)

[2017-03-07 09:53] zoepage commented on #1391
For me, this is a bug. This is why I'd like to keep this open.
But yeah, let's discuss it then.

[2017-03-07 09:56] nj4710 commented on #1376
r? @zoepage  Please let me know, if something is incorrect

[2017-03-07 10:04] zoepage commented on #1376
@nj4710 That was quick! Thank you :)

Could you change `WebCompat.com is a tool to gather web compatibility bugs, inform the community and help to fix the web` to `The webcompat.com is a tool to gather web compatibility bugs, inform the community and help to fix the web.`?

(Sorry, didn't check the spelling before. My fault.)

If you are done, could you send a PR against master please?
Thank you!

[2017-03-07 10:14] heatherbooker commented on #1375
Proposed changes:

Desktop (width > 40em):

![screenshot](https://puu.sh/uxTCO/0884727351.png)

Mobile (max-width: 40em):

![screenshot](https://puu.sh/uxTPB/dfe059bd25.png)

The octocat, "View on Github", and 'g' are all clickable links. What do y'all think? (_note_: I don't want to tag & therefore spam everyone about this...should I tag everyone involved in a conversation like this?)

[2017-03-07 10:22] zoepage commented on #1375
No, no worries :) Everyone involved in this conversation will be notified anyway. So, the best thing is to just mention someone, if you need their direct attention. :)

+1 on Github Icon.
Not sure about the g (link + background). Still feels like a button. But probably just me. :)

[2017-03-07 10:33] heatherbooker commented on #1375
Rad, thanks.

I definitely agree it still feels like a button. I mean, it _is_ a button, but that's only to mitigate the confusion from it looking like a button...hah. I like what I assume was the original idea of making the g look like a key, and I'm not sure how to implement it without making it look also like a button. Maybe just ditch that idea and do something like `Shortcut: Press 'g' on you

[2017-03-07 10:36] nj4710 commented on #1376
@zoepage I have changed the message and sent a PR

[2017-03-07 10:57] #1376 closed

[2017-03-07 10:58] zoepage commented on #1375
+1 :)

[2017-03-07 11:09] zoepage opened #1401 "Replace Twitter text link with icon + add GH icon"
We'd like to change the twitter link into the twitter logo icon and add a github logo icon link to the footer.

You can find a more detailed explanation here as well as the discussion: https://github.com/webcompat/webcompat.com/issues/1282#issue-200693908.

Template: https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/footer.html

- [ ] add twitter icon SVG to footer

[2017-03-07 11:10] zoepage commented on #1282
Closing in favor of follow up issue: #1401

[2017-03-07 11:10] #1282 closed

[2017-03-07 11:59] nj4710 commented on #1401
I would like to work on this issue

[2017-03-07 12:06] zoepage commented on #1401
@nj4710 enjoy :)

LMK, if you have any questions!

[2017-03-07 12:08] zoepage commented on #1309
So summed up we are looking for testimonials from people, who were involved in the project to write 2-3 lines on the importance of the web compat project, so we can add them to the page soon.

Possible entry points for finding the right people and asking for a testimonial.
- somehow been involved in the project (filing bugs, helping to fix issues, find contacts)
- Mozilla DevRel
- past Mozilla Tec

[2017-03-07 12:23] zoepage opened #1402 "Update "join the team" section on index page"
### ToDos
- [x] replace "Join the Team" with “Help Us Improve the Web”
- [x] replace “Learn More” with “Learn more about how to contribute”
- [x]  Adding additional context under “Bug Reporting”
[code]

- [x]  Adding additional context under “Bug Diagnosis”
[code]

- [x]  Adding additional context under “Site Outreach”
[code]
- [x] replace "Bug reporting" icon with https://thenounproject.com/searc

[2017-03-07 12:34] zoepage opened #1403 "add event page to "join us" in about"
<img src ="https://cloud.githubusercontent.com/assets/4382193/23636977/b9222cac-028d-11e7-9465-7aee2090c733.png" /> Our about section on webcompat.com will be updated soon.
(more context: https://github.com/webcompat/webcompat.com/issues/1149#issuecomment-284589695)

As many of us speak at conferences, travel and go to events / meetups / user groups etc, it would feel great to have an event sectio

[2017-03-07 12:56] brizental commented on #1047
Great, thanks for the detailed feedback, Mike.
I will give this a go now :)

[2017-03-07 13:02] zoepage commented on #1281
Where should the icon link to?
https://webcompat.com/contributors could be a way to go, but also an anchor on the index that points to "join the team".

[2017-03-07 13:12] zoepage commented on #1284
I'd like to suggest e.g. Slack or other as alternative to IRC and a mailing form.
IRC has a higher entry barrier, as seen in @lockettm's research.

A contact form creates:
1. Overhead for people, who can access the request.
2. Is "closed up" knowledge. So request will repeat themselves at some point. Not everyone can help to answer the request and it might end up unanswered.
3. Sending a mail per

[2017-03-07 13:56] #1398 closed

[2017-03-07 14:26] karlcow commented on #1339
After discussions on today's meeting.
`dep-moz-NNNN` might create issues by making the number of labels infinite. So not working as-is.

Instead we could probably create a magic string that we put in the first comment aka bug reporter.
We need to iron the syntax and think through it.

I'll come back to it tomorrow. @magsout I will explain the possible conflicts.

[2017-03-07 14:43] miketaylr commented on #1391
Let's chat more in Berlin over Club Mate.

[2017-03-07 14:49] miketaylr commented on #1390
karl suggests looking into file size. also, there was a connection broken error message from flask when images were too big.

[2017-03-07 14:51] miketaylr commented on #1368
Thanks for confirming @cch5ng.

[2017-03-07 14:51] softvision-sergiulogigan commented on #1390
When I first discovered the issue, I tried uploading a screenshot of a web page, taken with the Samsung Galaxy S6 itself.

[2017-03-07 14:52] miketaylr commented on #1368
(@karlcow suggested we sit down together and compare machines and figure out why this fails on his and not on mine)

[2017-03-07 14:54] miketaylr commented on #1357
@karlcow is willing to mentor/review patches here if someone wants to tackle this before he can.

[2017-03-07 15:18] zoepage commented on #1374
As discussed in out web compat meeting today, we'll go with following:

`Report a bug`
<img width="85" alt="report a bug" src="https://cloud.githubusercontent.com/assets/562354/23437672/320659aa-fe0f-11e6-8393-dca81f0b952d.png">

and

`Reach out to sites`
<img width="85" alt="report a bug" src="https://cloud.githubusercontent.com/assets/562354/23437759/962e7a48-fe0f-11e6-8b40-9f775adfabc3.png">

(

[2017-03-07 15:19] zoepage commented on #1374
Option 1 for diagnose bug:

<img width="86" alt="screen shot 2017-03-01 at 4 01 08 pm" src="https://cloud.githubusercontent.com/assets/562354/23465413/7c80f7ae-fe98-11e6-8f4a-acb1b4d27fc0.png">

[2017-03-07 15:20] zoepage commented on #1374
Option 2 for `diagnose bug`:

<img width="75" alt="screen shot 2017-03-01 at 4 11 43 pm" src="https://cloud.githubusercontent.com/assets/562354/23465926/f512dd8a-fe99-11e6-9814-1fa1ab9a17c8.png">

[2017-03-07 15:20] zoepage commented on #1374
Option 3 for `diagnose bug`:

<img width="100" alt="screen shot 2017-03-01 at 4 18 16 pm" src="https://cloud.githubusercontent.com/assets/562354/23466278/eb6a6720-fe9a-11e6-9b3e-d5c311cc3d01.png">

[2017-03-07 15:22] karlcow commented on #1391
`/activity` A proposal made during the meeting was to use it for webcompat stats/progress. aka the activity of the site. Hopefully I can better communicate my love for HTTP in Berlin. My elevator pitch often relates to HTTP is a tool for managing UX.

* [HTTP — an Application-Level Protocol](https://dev.opera.com/articles/http-basic-introduction/)
* [HTTP: Let’s GET It On!](https://dev.opera.com/a

[2017-03-07 15:27] zoepage commented on #1281
In today's web compat meeting, we voted on the anchor on the index that points to `join the team`.

[2017-03-07 15:59] #1378 closed

[2017-03-07 16:02] zoepage opened #1404 "Add Contributor link to top navigation"
<img src="https://cloud.githubusercontent.com/assets/4382193/21939242/b968bef8-d973-11e6-8839-fba39a69accb.jpg" />

### Todo's
- [ ] create anchor we can link in top navigation to https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/home-page/join-us.html#L3
- [ ] Add contributors link to top navigation with the label `Contribute` https://github.com/webcompat/webcompat.com/bl

[2017-03-07 16:15] zoepage opened #1405 "Toggle add on link description with icon on small screensize in top navigation"
### Todo
- [x] hide `download our` when on small screensize
- [x] toggle with icon https://thenounproject.com/search/?q=donwload&i=620997

---

### Context
<img src="https://cloud.githubusercontent.com/assets/4382193/22042177/e5a4e9d0-dcbe-11e6-817e-951c5bbc218a.png" />

https://github.com/webcompat/webcompat.com/issues/1281#issuecomment-273320729

HTML:
https://github.com/webcompat/webcompat.com/

[2017-03-07 16:16] zoepage commented on #1281
Closing in favor of follow up issues #1404 and #1405

[2017-03-07 16:16] #1281 closed

[2017-03-07 16:19] miketaylr commented on #645
This feature doesn't exist anymore, closing.

[2017-03-07 16:19] #645 closed

[2017-03-07 16:20] miketaylr commented on #1404
We were originally using an icon font, bug see also #899 to use inline SVG instead. This bug could tackle both at the same time, or just add the new SVG.

[2017-03-07 16:23] miketaylr commented on #1385
Ah!

https://github.com/webcompat/webcompat.com/blob/master/webcompat/__init__.py#L23 is where `github` is defined, it's a reference to the GitHub Flask addon https://github-flask.readthedocs.io/en/latest/.

Mocking it out would be awesome. It would make offline (functional) tests possible.

[2017-03-07 16:25] miketaylr commented on #1149
That's cool. It's also simpler to build.

[2017-03-07 16:32] miketaylr opened #1406 "Show bug reporting stats at /activity endpoint"
This came up in discussion around #1391 in our meeting today.

@adamopenweb is working on a set of visualizations of web-bugs bug reports. I think it would be cool to host them here.

WDYT, @adamopenweb?

[2017-03-07 19:13] #1370 closed

[2017-03-07 20:07] miketaylr commented on #763
Back up, and our policy validates.

[2017-03-07 20:09] miketaylr commented on #763
So, in 6 days we've had 13416 reports. Probably don't need to wait much longer to learn more. :)

Will try to summarize what I see in this issue, and we can go from there.

[2017-03-07 20:41] heatherbooker commented on #1375
Sure @zoepage !

I've got two PRs for this issue, one with an octocat that changes color #1408 and one that doesnt #1407 .

[2017-03-07 20:51] miketaylr commented on #763
* 608 instances of `"script-sample":"call to eval() or related function blocked by CSP","source-file":"https://webcompat.com/js/webcompat.min.js?9f6030d22addbc1e768230fbf58d97a4","violated-directive":"script-src https://webcompat.com https://www.google-analytics.com"`.
  likely a lodash template. we can fix this by adding `unsafe-eval` to `script-src` policy, until we move to something like pre-co

[2017-03-07 20:58] miketaylr opened #1409 "Make updates to Content-Security-Policy policy"
Based on observations from the Report-Only logs in https://github.com/webcompat/webcompat.com/issues/763#issuecomment-284854940.

[2017-03-07 21:00] miketaylr commented on #1409
comment copied here for convenience:

* 608 instances of `"script-sample":"call to eval() or related function blocked by CSP","source-file":"https://webcompat.com/js/webcompat.min.js?9f6030d22addbc1e768230fbf58d97a4","violated-directive":"script-src https://webcompat.com https://www.google-analytics.com"`.
  likely a lodash template. we can fix this by adding `unsafe-eval` to `script-src` policy,

[2017-03-07 21:03] miketaylr commented on #1409
We do the inline bg color here:
* https://github.com/webcompat/webcompat.com/blob/93662e358169e7443445217fe7d2a5c6151c9b21/webcompat/templates/issue/issue-labels.html#L11
* https://github.com/webcompat/webcompat.com/blob/93662e358169e7443445217fe7d2a5c6151c9b21/webcompat/templates/web_modules/label-editor.html#L9

This allows us to manage label colors via GitHub, so I'm inclined to think this is O

[2017-03-07 21:23] zoepage commented on #1375
wow, @heatherbooker! you're killing it!  Thank you :)

If I had to choose, I'd go with #1407. The contrast of the hover color on the grey background feels tricky. Also in both the link is not really readable anymore on hover. :/

Maybe adding another class like `wc-GithubLink` to https://github.com/heatherbooker/webcompat.com/blob/githubLink/webcompat/templates/issue.html#L19 `wc-Link` and remove

[2017-03-07 21:36] lockettm commented on #1284
@karlcow @zoepage Great points about the contact form. I think changing the wording around the current communication channels is a good option.

I linked it to https://lists.mozilla.org/listinfo/compatibility

Want to discuss a topic related to Web Compatibility?
Send a message to our community (publicly archived).

Great phrasing. I think 'Email Discussions' would make more sense to users.

Need

[2017-03-07 21:45] heatherbooker commented on #1375
@zoepage gotcha, you're very right it becomes hard to see. I removed the change color on hover and the span from the g (and accompanying keyhint class).

[2017-03-07 23:41] karlcow commented on #1403
@zoepage This looks like a good idea.

Maybe as a start, we should probably list the events we attended/spoke to in 2016 to better understand the "[shape of our content](http://www.hup.harvard.edu/catalog.php?isbn=9780674805705&content=reviews)"

Then we can see if it's worth doing and if we were doing that how we should maintain it in an easy way without relying too much on third party services (

[2017-03-07 23:42] karlcow commented on #1403
Edit this comment with your talk or leave a comment and I'll add it here.

* 2016-10-16 Jakarta, Indonesia, Tech-in-Asia, [A tale of two Webs](http://www.otsukare.info/2016/11/23/webcompat-techinasia)
* 2016-10-17 Jakarta, Indonesia, Moz Community Space. The Rusty Web. (but not related to webcompat so probably out of scope.)

[2017-03-07 23:43] karlcow commented on #1403
as a source of information we also have [planet.webcompat.com](https://planet.webcompat.com/)

[2017-03-08 00:02] #1369 closed

[2017-03-08 00:09] karlcow commented on #1284
@zoepage did you try the mibbit link in Join "our core chat".
http://chat.mibbit.com/?channel=%23webcompat&server=irc.mozilla.org
There is no sign-up process. Just choosing a nickname.

I wonder if there are other services like mibbit **without sign-up** providing a web UI to IRC.

[2017-03-08 00:36] karlcow commented on #1284
* [nope] Grove. nice UI. https://grove.io/blog/groves-awesome-web-client-is-here.html but sign up required.
*  self hosted IRC web client with a nicer UI https://thelounge.github.io/ but requires maintenance.
* kiwiirc  has a ok UI https://kiwiirc.com/client
![capture d ecran 2017-03-08 a 09 27 15](https://cloud.githubusercontent.com/assets/505230/23684324/7994ea66-03e1-11e7-9f62-abb110a105d2.png)

[2017-03-08 02:16] karlcow commented on #1339
So let me rephrase the earlier comment. Some of the constraint
* We do not want bug to have multiple `status-*` labels
* The project will move to milestones instead of `status-*`. And this will enforce the unique `status-`
* It has happened in the past that we have an issue which is dependent on a core bug. For example, take the non-standard `innerText` which was not implemented in Firefox. We kno

[2017-03-08 02:25] karlcow commented on #1149
separate pages are also better for linking.

[2017-03-08 03:11] karlcow opened #1412 "Issue title page has no information"
Currently, our issues individual pages have no information about the issue.

[code]

This is due to the way we are handling the site. With empty templates fetching the information through JavaScript. It creates a couple of issues

* Bookmarking is useless
* Search engines indexing is useless https://duckduckgo.com/?q=google+site%3Awebcompat.com&t=ffab&ia=web
* Multiple tabs users have no way to di

[2017-03-08 16:45] wisniewskit opened #1413 "Add labels to help classify what is needed for open needsdiagnosis to progress"
Since we always have needsdiagnosis bugs which are waiting on external information or fixes, I'd like to propose some potential new labels:

- need-regional-testing-[country]
- need-device-[model]
- need-login-information
- pending-browser-fix
- pending-external-diagnosis
- pending-gofaster-update
- pending-spec-work

This way contributors can more easily find the bugs for which they can help to c

[2017-03-08 16:47] sergiorojasa commented on #1412
I would like to work on this

[2017-03-08 20:04] #1375 closed

[2017-03-08 20:09] zoepage commented on #1403
@karlcow to add past events is a pretty good idea.
I spoke a lot last year, but mainly about offline first. So probably also out of scope. ;)

So, its a +1 from you on the event page and to include it as sub topic of 'join us', if I am getting this right? :)

We already have dates for 2017 set up and should add them too, I guess?

[2017-03-08 20:19] #1409 closed

[2017-03-08 20:28] adamopenweb commented on #715
@karlcow After speaking with @miketaylr, he suggested we try to sort this out soon. With the reports coming from SoftVision now, there will be many bugs that should have different priorities. [Here's an example](https://webcompat.com/issues/4979) of a real bug, that probably isn't the highest priority to us.

I'm sure you'll have some suggestions as to how we could do this.

As for the labels them

[2017-03-08 20:45] nj4710 commented on #1401
![icons](https://cloud.githubusercontent.com/assets/13145287/23716576/b9227de0-0456-11e7-98df-eeb10ee5a4ca.jpg)

Hey! How does this look? @zoepage . Should I add text with the icons too? and also should we change the opacity or color on hover?

[2017-03-08 22:00] zoepage commented on #1401
@nj4710 Looks great! :)
Could you add more spacing between the icons, so no one clicks on the other one by accident?

Otherwise, I guess we're good! :+1:
(We can always improve it later, when we see it doesn't work as we expect it to)

[2017-03-08 22:12] karlcow commented on #1413
Thanks!

so some of the proposed labels here are in part what we are discussing in #1339
We figure out that everything which requires `label-some_variable` is doomed to increase a lot.

## Benefits of using labels
* easily [searchable on github](https://developer.github.com/v3/issues/labels/).
* easier to not make typo, aka select-able instead of typing (controlled vocabulary)

## Cons of using la

[2017-03-08 22:19] karlcow commented on #1401
@nj4710 +1 for @zoepage spacing. Would be good to test on small screens (mobile), because I suspect it will be near the screen edge and big fingers need to be able to touch without issues.

[2017-03-08 22:20] zoepage commented on #1401
@karlcow thank you for mentioning that. wanted to mention it, but forgot while writing. (should probably go to 🛌 )

[2017-03-08 22:37] jeanhl commented on #1385
I'll look into how to do a mockup of this. The github docs are very useful. Thank you

[2017-03-08 22:40] karlcow commented on #1403
misunderstanding: I did not suggest to add past events. I said to be able to understand the proposal we need to better understand the data. And so I'm asking people to share where they speak so we can see what we should do or not.

[2017-03-08 22:41] karlcow commented on #1403
no. Not yet. :) (to make extra clear)

[2017-03-08 22:45] zoepage commented on #1403
@karlcow ah! ok. :)

my talks 2017/2016/2015 (I am sure, I forgot 1 or 2)
- FrontTrends , Warschau (2017)
- WeAreDevelopers, Vienna (2017)
- Codemotion Amsterdam, Amsterdam (2017)
- Voxxeddays, Zurich (2017)
- GOTOBerlin, Berlin (2016)
- PWA Meetup , Rotterdam (2016)
- ViewSource , Berlin (2016)
- ScotlandJS , Edinburgh (2016)
- RenderConf , Oxford (2016)
- GOTOBerlin , Berlin (2015)
- Up.Front UG

[2017-03-08 22:46] karlcow commented on #715
and this is very close to what #1413 is aka labels for work status. This one here is another category. I have the feeling we are starting to reach the point of a giant workflow graph to understand better what we need, do and how we solve it.

Also, maybe we need to think about all this meta-information in terms of work and UI and less in terms of labels.  "when all you have is a hammer everything

[2017-03-08 22:47] karlcow commented on #1403
All of this was for webcompat?

[2017-03-08 22:48] wisniewskit commented on #1413
I agree, but I suspect that this might be manageable if the labels aren't "permanent", but just there to mark in-progress statuses (as in, once they don't apply we can remove them, and prune them if they're not longer being used).

Certainly:
- need-regional-testing-[country]: for issues on which we are stuck waiting for help from someone from a specific region/country, because the site in questio

[2017-03-08 22:49] karlcow commented on #715
@miketaylr just gave me the https://github.com/servo/servo/labels as a counter-example. Indeed not bad.

[2017-03-08 22:49] zoepage commented on #1403
no, but starting with
- FrontTrends , Warschau (2017)
- WeAreDevelopers, Vienna (2017)
- Codemotion Amsterdam, Amsterdam (2017)
it will be. (plus probably Roadshow).

I posted that list to show the type of events and frequency of me speaking in the future about webcompat.

[2017-03-08 23:33] karlcow commented on #1413
Two aspects of it.
* labels are "permanent" in the drop down list. That's my doomed to "increase a lot". For example, the `need-regional-testing-[country]` could become long. On Tech Evangelism we have the whiteboard keyword `country-fr`, `country-jp`, `country-ca` for the location of the site and `country-all` when it's basically everywhere. While we will probably not have [206 countries/labels](

[2017-03-08 23:34] karlcow commented on #1413
See also the discussion about prioritization in #715

[2017-03-09 01:40] karlcow commented on #1403
So far, from the top of my head, it has been mainly @miketaylr going to conferences to talk about webcompat. This year has been light for me for family reasons. And will be probably light this year too. Though I might be asked by devrel like last year. We will see. @ioana-chiorean did a lot too.

What I'm trying to guess is how useful it will be for people to have this page. Or how do we make it u

[2017-03-09 01:42] jeanhl commented on #1385
I'm looking at the code and I'm thinking of doing the following:
- use flask's test_quest_context to activate a request context temporarily. This will create a temp request, g and session. This should let us test g.referer and request
- use flask's follow_redirects to make sure the redirect works fine

not too sure how to test github.authorize. I get the following when I print github.authorize('pu

[2017-03-09 03:25] karlcow commented on #1385
+1 to mocking in general. It is something I have been looking at for a longtime, but didn't take the energy to do.

But before we go off rails 🛤 . Let's make sure we test what we want to test.

☎️  @miketaylr
Note that this test is a good thing but would not have detected the issue in #1384 The **login/logout worked**, the issue was with the caching of the resource. Aka basically what should be te

[2017-03-09 04:14] karlcow commented on #715
Just putting it here for remembering
http://imgur.com/a/ZueSo

![capture d ecran 2017-03-09 a 13 06 22](https://cloud.githubusercontent.com/assets/505230/23735662/501126fc-04ca-11e7-867d-7a7cff7f2899.png)
![capture d ecran 2017-03-09 a 13 12 05](https://cloud.githubusercontent.com/assets/505230/23735661/501073b0-04ca-11e7-9591-12bf6a441332.png)

[2017-03-09 06:26] karlcow commented on #609
[code]

[2017-03-09 06:28] haseebgit commented on #1403
@karlcow I spoke at one conference in 2016

"Introduction to webcompat.com" - FOSS Asia, Singapore(2016)

[2017-03-09 09:16] heatherbooker commented on #1404
@zoepage Did you want to use that exact icon? Where does the artist attribution go, or is there a nounproject account we can use?

[2017-03-09 09:52] zoepage commented on #1404
@heatherbooker if you have something different in mind, I am not committed to that one ;)

It goes here: https://github.com/webcompat/webcompat.com/blob/master/README.md#icons

[2017-03-09 09:58] nj4710 commented on #1402
I would like to work on this :)

[2017-03-09 10:05] zoepage commented on #1402
@nj4710 Could you send the PR for #1401 first as you claimed it before? Thanks :)

[2017-03-09 10:30] heatherbooker commented on #1404
Awesome, thanks!

I went with the one you suggested - I just wondered if there was one more similar to the original screenshot! All good.

[2017-03-09 10:33] zoepage commented on #1404
@heatherbooker we'll add a different set of icons soon as shown here: https://github.com/webcompat/webcompat.com/issues/1374

So, no worries about the visual fit as it will shift anyway. ;)

[2017-03-09 10:37] heatherbooker commented on #1404
Okie doke. Can I vote on that one?! The diagnose bug icon on the issue you just posted? :D

[2017-03-09 10:40] nj4710 commented on #1401
Hi, This is how the icons look in small screens( I used max-width:28em)
![small](https://cloud.githubusercontent.com/assets/13145287/23746657/b76886ca-04e2-11e7-99f4-6c79fc650de3.jpg)

and this is how they look in normal screens
![big](https://cloud.githubusercontent.com/assets/13145287/23746686/cfd7ffec-04e2-11e7-8387-c88b1ee401e8.jpg)
Does this look alright??

[2017-03-09 10:40] zoepage commented on #1404
@heatherbooker sure, feel free to vote :)

[2017-03-09 10:50] zoepage commented on #1401
Not really. Could you please send a PR, so we can discuss it in there?
Thank you.

[2017-03-09 11:10] zoepage commented on #1374
AAAAND we have a winner!!!
https://github.com/webcompat/webcompat.com/issues/1374#issuecomment-284751519

[2017-03-09 11:15] nj4710 commented on #1401
Sent PR :)

[2017-03-09 14:18] zoepage commented on #1374
Closed due to follow up issue in https://github.com/webcompat/webcompat.com/issues/1402

[2017-03-09 14:18] #1374 closed

[2017-03-09 14:18] zoepage commented on #1149
For reference and context towards the icons:https://github.com/webcompat/webcompat.com/issues/1374#issuecomment-283363622

[2017-03-09 19:36] #1401 closed

[2017-03-09 20:55] heatherbooker commented on #1405
@zoepage So you want it to look like that screenshot on small screens? It seems to already do that!

[2017-03-09 21:48] heatherbooker opened #1418 "Add more internal links on /activity/user to help navigation flow"
There are two spots in `/activity/<user>` I see that would be nice if the text was linked, so that you can navigate more smoothly with less effort. (I also see there has been some discussion going on around /activity endpoints so feel free to close if irrelevant!)

1) When you try to go to /activity/\<user> and are not logged in, the "log in" part of the following message could be linked:

2) When

[2017-03-09 22:50] karlcow commented on #1412
@heatherbooker Ah excellent . Indeed your commit fixes the issue number. This is the low hanging fruit. Excellent. This is my first bullet point.

The second bullet point is to have the title with the domain name.
https://webcompat.com/issues/4999

[code]

To choose on how to do that. There is probably a need of evaluating the performance impact of prefetching the JSON on the server side before ge

[2017-03-09 22:52] karlcow commented on #1412
It would be good to add a couple of unit tests for testing we received the right title.

[2017-03-09 23:39] brizental opened #1420 "Flask-Limiter deprecated usage"
Everytime I run `python run.py` or `python run.py -t` I get this warning:

This is simple enough, just some changes to the `__init__.py` file and it's good to go. Just want to know if there is some reason this hasn't been done yet or if I can just go for it.

[2017-03-10 01:01] karlcow commented on #1420
Yes the warning could be avoided :) Last time I checked I don't think we were using get_ipaddr but before removing the warning, I wanted to check if get_ipaddr is called in some ways. And if yes, how do we change it.

@brizental feel free to investigate. :)

[2017-03-10 01:58] heatherbooker commented on #1412
@karlcow Great point about testing it! I added a test.

Ok I see what you're saying about also having the issue title in the page title. Yeah, that does seem like a larger concern - I've never used flask, jinja, or backbone before but I've been sifting through their docs and webcompat code to try and figure out how one would go about getting that data pre-page load.

If you want to leave that as a

[2017-03-10 02:06] karlcow commented on #1412
OK let's make this a first step. Thanks a lot. I added myself as a reviewer. I'm boarding a plane soon. I will review it when I reach the other side.

[2017-03-10 07:47] jeanhl commented on #1357
@karlcow, I'm trying to recreate this issue. Using the site normally only gives me POST 302. If this still needs fixing, I can poke around while I wait until #1385 gets more direction (since @miketaylr is on vacay).
![screen shot 2017-03-04 at 12 24 39 pm](https://cloud.githubusercontent.com/assets/20343358/23786550/8ecf0456-0522-11e7-92e0-d8b85cd3d5f9.png)

[2017-03-10 07:49] jeanhl commented on #1357
POST 302 running on localhost
![screen shot 2017-03-09 at 11 45 40 pm](https://cloud.githubusercontent.com/assets/20343358/23786618/f302f7d4-0522-11e7-9047-c9fbd77c45be.png)

[2017-03-10 09:23] nj4710 commented on #1402
![site](https://cloud.githubusercontent.com/assets/13145287/23789499/12cbf75e-05a1-11e7-936e-a2d578160e99.jpg)
Hi @zoepage Few changes that I did. The images have credit at the bottom. Should we retain that??

[2017-03-10 09:30] zoepage commented on #1405
@heatherbooker yeah, but with the contribute icon ^^
(when you use the label, it should work yes)

[2017-03-10 09:34] zoepage commented on #1418
Seems to be related to https://github.com/webcompat/webcompat.com/issues/1391 :)

Maybe also @karlcow would like to add some input here? :)

[2017-03-10 10:10] zoepage commented on #1402
@nj4710 cool, thanks!

No, it shouldn't.
Could you please send a PR, so we can discuss it in there as we go? :)
Here you can find more information, about our submission guidelines: https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#submission-guidelines

If you have any questions, let me know.

[2017-03-10 11:01] zoepage opened #1422 "New Footer Navigation concept for mobile"
As we are improving our design, I'd like to suggest a new idea for the footer navigation on mobile.
Please note, this is "just" a concept and no finished designs. :)

**Old**

![footer_nav](https://cloud.githubusercontent.com/assets/562354/23792823/dbc8e82e-0588-11e7-9972-6c9f1ee18abd.png)

**New - closed / no subtopics**
![footer_nav_old](https://cloud.githubusercontent.com/assets/562354/23792888

[2017-03-10 11:21] brizental commented on #1420
So, we don't use ip_addr on our code. It's just legacy code from Flask-Limiter.
We just have to add a parameter to the constructor for it not to use get_ipaddr anymore.
I'll send a PR shortly :)

[2017-03-10 12:34] ioana-chiorean commented on #1403
2015
* [FOSDEM](https://archive.fosdem.org/2013/schedule/speaker/ioana_chiorean/) - Brussels, February 3rd

2016
* [DevTalks](https://www.youtube.com/watch?v=UwXpAldCg28) - Cluj-Napoca, May 11th
* [CodeCamp ](http://codecamp.ro/archive/Codecamp19nov2016/index.html) - Cluj-Napoca, November 19th

2017
* [FOSDEM](https://medium.com/@ioana_cis/about-fosdem-2017-db432c7c048b) - Brussels, Feb 4th
* [The

[2017-03-10 12:35] nj4710 commented on #1422
I would like to go with the second one. Nice and Clean :)

[2017-03-10 13:45] zoepage commented on #1422
@adamopenweb @lockettm @karlcow @denschub @MDTsai @wisniewskit

[2017-03-10 16:15] adamopenweb commented on #1422
I dig it. I'm wondering if the Twitter and Github icons could use a little more space on top though?

[2017-03-10 17:16] zoepage commented on #1422
@adamopenweb yes, they should get more space. Will add, when make the design :)

[2017-03-10 18:37] nj4710 commented on #1357
`127.0.0.1 - - [11/Mar/2017 00:01:11] "POST /issues/new HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/home/neha/webcompat.com/env/lib/python2.7/site-packages/flask/app.py", line 1994, in __call__
    return self.wsgi_app(environ, start_response)
  File "/home/neha/webcompat.com/env/lib/python2.7/site-packages/flask/app.py", line 1985, in wsgi_app
    response = self.handle_exception(

[2017-03-10 19:30] nj4710 commented on #1357
@karlcow  After applying your suggestions, I got:
`127.0.0.1 - - [11/Mar/2017 00:50:40] "GET /api/issues/category/needstriage HTTP/1.1" 304 -
127.0.0.1 - - [11/Mar/2017 00:51:01] "GET /issues/new HTTP/1.1" 200 -
127.0.0.1 - - [11/Mar/2017 00:51:14] "POST /issues/new HTTP/1.1" 400 -
127.0.0.1 - - [11/Mar/2017 00:51:19] "POST /csp-report HTTP/1.1" 204 -
`

[2017-03-10 19:34] jeanhl commented on #1357
@nj4710 How did you get a POST 500? I'm trying to figure out what I wasn't doing right.

[2017-03-10 19:39] nj4710 commented on #1357
@jeanhl  from firefox developer tools I changed the request method to POST and that gave me that error.

[2017-03-10 20:08] jeanhl commented on #1357
@nj4710  It worked! I'm so happy to see a bug. Thanks!

[2017-03-10 20:22] nj4710 commented on #1357
@jeanhl  your welcome:).
@karlcow  could you suggest some cases for form[ua_headers] and others, so that we can reproduce the error locally and try to resolve it

[2017-03-10 23:39] lockettm commented on #1422
Looks good. It does a great job of visually separating the different links, they'll also be easier to tap.

[2017-03-11 02:38] karlcow commented on #1422
Personally, I would not do an open/close state and makes it just a list of links (the 3rd screenshot only). This kind of choice if we had infinite time and a big enough crowd could be tackled with A/B testing. We are not there yet.

[2017-03-11 03:29] karlcow commented on #1418
Related to this we currently have

*  Show bug reporting stats at /activity endpoint #1406
* redirect for /activity page #1391
*  [ui] My Activity #1337
*  [CLOSED] /me doesn't redirect to login then /activity/username for logged-out users #878
*  [ux] My Activity page when not logged and when logged #877
*  [CLOSED] Make a "My Activity" page #749
*  Custom issue dashboard #442 (The original issue

[2017-03-11 14:01] denschub commented on #1422
As a follow-up thought on @karlcow, I wonder if it's necessary to implement the open/close thingy at all. There is not much content after that links after all...

But yes, I like it!

[2017-03-13 06:16] #1420 closed

[2017-03-13 08:57] #1405 closed

[2017-03-13 11:16] zoepage commented on #1422
The solution right now is a bit hard to use on mobile, so enhancing it feels like the right thing to do.

@karlcow

It's not an "active" open/closed state, which means the subtopics will be open, when you are on the maintopic.

@denschub

I think, with the great changes @lockettm suggested, we'll add up more content soon.

[2017-03-13 13:50] karlcow commented on #1339
Per discussion we agreed that we need something for surfacing the dependencies. The next step is to figure out the UI, then the way we implement it. :)

[2017-03-13 14:50] karlcow commented on #616
Or another way because we discussed it on IRC today with @denschub and @softvision-sergiulogigan is to provide the last radio-button a way to create a custom summary.

![capture d ecran 2017-03-13 a 15 49 10](https://cloud.githubusercontent.com/assets/505230/23859688/c0ddd546-0804-11e7-9a2f-980f42a3dd34.png)

[2017-03-13 14:54] karlcow commented on #965
Let's close it. I think we reached a stable position. We could improve with specific install scripts. but that would be a different type of scripts and stories.

[2017-03-13 14:54] #965 closed

[2017-03-13 15:09] softvision-sergiulogigan commented on #715
I also support the use of Priority and/or Severity codes. We can use either a L-M-H Severity scale (Low-Medium-High), a Severity 1-5 or Priority 1-5 scale.

[2017-03-13 15:12] #1047 closed

[2017-03-13 15:15] karlcow commented on #616
@adamopenweb made a comment which is along this

![capture d ecran 2017-03-13 a 16 14 26](https://cloud.githubusercontent.com/assets/505230/23860780/3661308a-0808-11e7-9827-0e55878f53e1.png)

Instructions for avoiding Proust-like summary

[2017-03-13 23:50] miketaylr commented on #1336
There's a few ways this could be done, but perhaps the simplest way would be during clientside markdown processing here, similar to the way we add the `rel=nofollow` stuff:

https://github.com/webcompat/webcompat.com/blob/28ac4928f56dec681349fa977d619da3d2888eac/webcompat/static/js/lib/issues.js#L59

(That way, if we decide to turn this feature off, we don't have to worry about hard-coded `target`

[2017-03-14 02:13] karlcow commented on #1336
@miketaylr the nofollow is implemented on **all links**.

Please, let's implement **this only** on the URL link in the description. Not in the comments. That would turn into a "nightmare".

[2017-03-14 12:24] karlcow opened #1425 "[Graphics] SVG icons need to be improved"
So following discussions in #1421 PR.

As we can see for the three SVG icons, the one on the left, the report bug, is a bit thinner and smaller.
![Icons for three steps](https://cloud.githubusercontent.com/assets/505230/23858535/078735f4-0801-11e7-8cec-ed63a54826d7.png)

* [ ] SVG icons need to be re-centered and  in their own view box
* [ ] Report bug icon needs to be thicker for matching the two

[2017-03-14 17:13] jonathanKingston commented on #1342
Hi @karlcow sorry for the delay.

The context for most of my comment was my own extension which is similar but more aggressive that HTTPS everywhere. I was also considering feeding in reports from server side checks too. So I was asking if submitting reports through a different source to this repo would be welcome and also if we could have the category as part of webcompat.com's extension also.

1

[2017-03-14 19:19] #1404 closed

[2017-03-17 01:53] brizental opened #1427 "CONTRIBUTING.md needs to be adjusted for the new stricter GitHub format"
So, the layout in CONTRIBUTING.md is broken for me. There are two broken parts.

 The first is a small one:
![screenshot from 2017-03-16 22-36-37](https://cloud.githubusercontent.com/assets/25176023/24025468/5022fbfa-0a99-11e7-8a2a-df148cf21c29.png)
The starter and the closing  backticks and "bash" shouldn't appear. I have looked at the code and this is happening because there is an extra space on

[2017-03-17 05:06] karlcow commented on #1427
It's probably happening because of Github creating [a formal spec for GitHub Flavored Markdown](https://githubengineering.com/a-formal-spec-for-github-markdown/). They say:

We are part of the unlucky ones. :) so to fix.

[2017-03-17 05:41] heatherbooker opened #1428 "Add test for `/activity/user`"
To finish up #1419 (fixes #1412 ), there needs to be one more title added to the array being tested in `test_rendering.py` - the title for `/activity/user`. This will require mocking the circumstances of the /activity template. More info [here](https://github.com/webcompat/webcompat.com/pull/1419#issuecomment-286418716).

[2017-03-17 06:25] #1412 closed

[2017-03-17 16:33] brizental commented on #1427
I tried to look for an automatic way to do the adjustments from the old  to the new syntax, but couldn't find any. I'll send a PR shortly that fixes the mistakes that I found, ok?

[2017-03-17 16:51] karlcow commented on #1427
@brizental thanks a lot. That sounds like a good plan.

[2017-03-18 15:51] #1427 closed

[2017-03-19 16:48] nj4710 commented on #1229
Hi! I would like to work on this issue :)

[2017-03-19 18:09] nj4710 commented on #1229
r ? @miketaylr  Please do let me know if there is anything that can be improved :)

[2017-03-20 18:20] laghee commented on #1199
I'd like to work on this to get started.  :-)

[2017-03-21 00:54] miketaylr commented on #1199
Great, @laghee! Let me know if you need any pointers.

[2017-03-21 03:10] laghee commented on #1199
Thanks, @miketaylr! So having pored over [this MDN doc](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest#Submitting_forms_and_uploading_files), can I check my understanding with you?

1. There's no need for a default value to be assigned to `this.submitType` on L18 since we can retrieve the value directly from the multipart/form-data as occurs on L57.
2. However

[2017-03-21 09:30] softvision-sergiulogigan opened #1433 "When attaching a screenshot with Drag and Drop, the image is opened"
**Browser / Version**
Chrome 56.0.2924.87 (Desktop)
Firefox 52.0.1 Release (Desktop)

**Operating System**
Windows 10

**Give more details**
1. Launch the Chrome browser.
2. Navigate to: https://webcompat.com/issues/new
3. Drag and Drop an image into the "Attach a screenshot image" placeholder.

Expected Behavior:
The image is attached.

Actual Behavior:
The image is opened.

Notes:
1. The issue i

[2017-03-21 09:46] softvision-sergiulogigan commented on #1000
I was about to suggest an improvement on the Loading Spinner, and I found this thread. I definitely think we should do something about that spinner. It doesn't quite match the website's sleek design.

[2017-03-21 09:55] zoepage commented on #1000
Cross-referencing bug #1433 (so we don't forget) ;)

[2017-03-21 15:44] miketaylr commented on #1199
@laghee could you link to the line numbers? L18 and L57 from point 1 aren't matching up for me @ https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js. Thanks!

[2017-03-21 15:46] miketaylr commented on #1199
Yeah, they can be merged since they both refer to the same exact DOM element.

[2017-03-21 15:53] miketaylr commented on #1199
Yep, we get that from the form data here: https://github.com/webcompat/webcompat.com/blob/master/webcompat/views.py#L192-L201

Which comes in from the button `name` that was clicked on:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/home-page/form.html#L103-L113

[2017-03-21 15:56] miketaylr commented on #1199
Yep! We just need to kick off showing the loading image (which is hidden in the XHR success handler: https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L423

(I'm not sure why we're using `show()` and then just removing the `is-active` class in the success handler... but we call `hide()` in the error handler. 😕, possibly something to improve on).

[2017-03-21 18:46] laghee commented on #1199
Ahhh, OK -- I was missing the piece from: https://github.com/webcompat/webcompat.com/blob/master/webcompat/views.py#L192-L201

That all helps very much, thank you!

[2017-03-21 20:16] magsout opened #1434 "Add prettier instead of eslint"
I like the idea behind prettier.

you can write your code however you like and instantly prettier format it correctly.

http://jlongster.com/A-Prettier-Formatter

We can add a script in the file package.json to automate prettier to start before a commit

[2017-03-21 20:19] magsout commented on #894
Up up up

[2017-03-21 23:54] karlcow commented on #1434
Just my 2 cents.

One of the valuable things about style rules when editing code is that you ensure that the code is readable for everyone now and the future (aka consistency in a team). I usually like packages which helps developers put the code in the right form. But I don't really like packages which are silently changing the code.

So for a better understanding:
1. Does prettier fix the code w

[2017-03-21 23:55] karlcow commented on #1434
/me needs to better read!

[2017-03-22 01:23] miketaylr commented on #1434
I've heard good things about prettier, I'm +1.

[2017-03-22 11:40] laghee commented on #1199
I see what you mean about `is-active` vs. `show()` and `hide()`. From what I understand, there's an advantage to adding/removing a class as opposed to calling `show()` or `hide()` in general because it allows for more style control over the item, but I'm not sure how important that is here.

Now that I look at the code again, I'm also puzzled about the difference between `js-Upload-Loader` and `js

[2017-03-22 12:04] laghee commented on #1199
@miketaylr I can go ahead and send a PR if the changes are OK as is (stuck to the original discussion and didn't change anything related to `uploadLoader`), otherwise let me know if I need to go back and fix anything!

[2017-03-22 13:26] miketaylr commented on #1199
@laghee looks good! go ahead and send a PR, the one change I'd recommend is changing `this.loadingIndicator.show()` to just `this.loadingIndicator.show`.

[2017-03-22 14:47] laghee commented on #616
Looking into tackling this as my next contribution, I realized I should make sure I correctly understand the scope first. It seems like adding this functionality would require a new html template (e.g., issue-information-edit.html) here:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue

And involve changes to:

https://github.com/webcompat/webcompat.com/blob/master

[2017-03-22 15:46] laghee commented on #1199
@miketaylr Of course, I should have noticed that. OK, will do.

[2017-03-23 01:14] miketaylr commented on #1336
Ah yeah, OK whoops. Then we should do this at the backend level.

[2017-03-23 02:27] adamopenweb opened #1436 "Only vetted users should be able to close webcompat reports"
In the current state of webcompat.com, any user that is logged into Github can close a report. It is done through our friend @webcompat-bot, who acts as proxy to Github.

There is a possibility that a person could close an issue before it's been properly triaged. For me, since I haven't worked on the bug, I wouldn't notice it. This could happen at other points in the process too, but maybe less ri

[2017-03-23 02:36] miketaylr commented on #1385
You're right @karlcow. In a perfect world we're testing the scenario you describe (to make sure we don't regress #1384), but also have the ability to mock out logging in and out. Either could happen in this bug, and we could open a new bug for the other. 👍

[2017-03-23 04:24] karlcow commented on #1436
What do you mean here? Some scenarios would help. Asking because I'm preparing a janitor script #1251 for bugs not properly labeled when being closed.

Some thoughts
* How people like @TheWebJustWorks close bugs?
* What would be the process for joining?

[2017-03-23 04:46] karlcow commented on #1178
Just food for thoughts

Today I was looking briefly at the projects API
* https://developer.github.com/v3/projects/

I created 3 projects on
https://github.com/karlcow/webcompat-test/projects

One issue can belong to more than one project (type-*)AND be part of ONE milestone (status-*).
https://github.com/karlcow/webcompat-test/issues/1

![capture d ecran 2017-03-23 a 13 38 17](https://cloud.githu

[2017-03-23 04:50] adamopenweb commented on #1436
@karlcow I don't think anyone looked at these:
https://github.com/webcompat/web-bugs/issues/4871
https://github.com/webcompat/web-bugs/issues/5060

They clearly aren't valid, but it made me realize that someone could close a bug, even change labels and it could take some time before we notice, if at all.

[2017-03-23 04:53] adamopenweb commented on #1436
I'm thinking of two scenarios that probably haven't happened yet.
- A newer contributor closes an issue they can't reproduce, properly labels, but is a real bug we're interested in
- Someone with bad intentions figures out they can mess around with the website, with just a Github account

[2017-03-23 05:00] karlcow commented on #1436
so these two you are mentionning will be detected by the janitor script as closed without a specific label. There is a proposal for #1305 enforcing a status when closing. I guess a closing without a comment is another red-herring.

For the two other cases: new contributor and bad intended persons, indeed it is possible. The second is more problematic than the first one because harder to revert.

b

[2017-03-23 07:24] karlcow opened #1437 "/rate-limit shows webcompat-bot when non authentified"
Currently, we are displaying the rate limit when requesting https://webcompat.com/rate_limit and being logged out.

[code]

I don't have the feeling it is useful for anyone but us. Maybe we should just return a 403, with a simple text message saying that rate limit is available only to authenticated users.

It also removes the need for
https://github.com/webcompat/webcompat.com/blob/db4e879a167604

[2017-03-23 08:00] karlcow commented on #1428
Tests in test_rendering are working and correctly check /activity/username template… BUT to be able to make it work correctly I had to modified a bit `views.py`
which in return broke almost all tests in test_urls.py 😂

I changed a bit the way we do test_urls.py and went from all to two tests breaking. 1 ERROR and 1 FAILURE. I have hope. :)

Mostly related to the fact that these tests are calling…

[2017-03-23 12:56] miketaylr commented on #1437
That was an intentional decision back when I wrote that, just to be able to debug situations where the bot was hitting the rate limit. But it's arguably not useful to anyone (bot, or authed user).

[2017-03-23 13:50] miketaylr commented on #1436
I like the idea of the janitor script providing a report for issues that need investigation.

That said,

They're part of the @webcompat/collaborators team, so they would have access (their current team status means they can close issues via GitHub as well).

If we went this route, I would want it to be light-weight. Probably a discussion topic for Berlin.

[2017-03-23 16:48] cch5ng opened #1438 "add browserstack logo/blurb to site/readme"
hi, the free browserstack account is coming up on expiration. a support contact made the request that in order to extend the free account, some credits should be visible on the site and/or readme.

I can work on this (target next couple of days).

[2017-03-23 19:26] miketaylr commented on #1438
Seems like a fair trade. :D

[2017-03-23 19:31] #1229 closed

[2017-03-25 21:38] cch5ng commented on #1438
what was done

- [ ] README: added text blurb and link to browserstack
- [ ] homepage: added logo and text blurb (link to browserstack)

[2017-03-26 08:13] nj4710 commented on #1211
Hi! I would like to work on this.

[2017-03-26 10:59] nj4710 commented on #1211
r? @miketaylr

[2017-03-26 17:56] nj4710 opened #1441 "Add description about Virtualenv in Contributing.md"
I think that the section of virtualenv in Contributing.md could use some more description about Virtual environments or a link to a page describing virtual environment. That will be very helpful for newcomers.
**Installing virtualenv**
`[sudo] pip install virtualenv`

Also, in some lines like

a full stop is missing.
So, what do you think?

[2017-03-27 07:23] softvision-sergiulogigan opened #1442 "The Search text field is not clearly defined"
Browser / Version: Chrome 57.0.2987, Firefox 52.0
Operating System: Windows 10

Steps to Reproduce
1. Navigate to: https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
2. Observe the Search textbox.

Expected Behavior:
The Search text field is clearly defined and intuitive to use.

Actual Behavior:
The Search text field is not clearly defined.

sv;
![scr

[2017-03-27 11:41] zoepage commented on #1442
@softvision-sergiulogigan Thanks for the hint!
Do you think of this as mainly a design / concept issue?

[2017-03-27 11:44] softvision-sergiulogigan commented on #1442
Yes, I think it is only design issue. I think that making the textbox white, would solve the ambiguity.
Or maybe just shorten the textbox. Or both.
IMO, the hint text and the icon are too far apart.

[2017-03-27 11:49] zoepage commented on #1442
As I understood it correctly, the main issue is contrast / visibility and the relation between hint text and the icon, correct? :)

(Just wanted to rephrase, so I've understood the issue)

[2017-03-27 12:01] zoepage commented on #1441
+1 on additional info to virtualenv. Do you have anything specific in mind, like a link that provides the information you'd like to see @nj4710 ?

+1 on full stop.

[2017-03-27 12:03] zoepage commented on #1425
I know, @bastianalbers is working on this and will send a PR soon.

[2017-03-27 12:06] softvision-sergiulogigan commented on #1442
Yes, that's correct.

[2017-03-27 12:06] zoepage commented on #1403
@miketaylr Just a friendly reminder as you mentioned, you'd like to add some feedback here. It's appreciated. :)

[2017-03-27 12:12] zoepage commented on #1442
Thanks for clarify this :)
Yeah, I can totally see this. Changing the background to white of the input should already group those items and make the relation clear.

Additional idea would be to put the magnifying glass in front of the hint text as shown on the index page. Would also add more contingency.

<img width="1255" alt="screen shot 2017-03-27 at 2 09 35 pm" src="https://cloud.githubusercon

[2017-03-27 13:24] nj4710 commented on #1441
I would like to have a description like `Virtual Environment is a tool to create isolated environments for different projects so as to prevent conflicts.`

or a link to the docs [https://virtualenv.pypa.io/en/stable/](url)

[2017-03-27 14:34] sunakshi96 commented on #1185
Hey
the function description is
`
def get_metadata(metadata_keys, form_object):

    '''Return relevant metadata hanging off the form as a single string.'''

    metadata = []

    result = ''

    for key in metadata_keys:

        metadata.append((key, form_object.get(key)))

    # Now, "wrap the metadata" and return them all as a single string

    for md in metadata:

        result += wrap_me

[2017-03-27 14:47] #1199 closed

[2017-03-27 15:02] adamopenweb commented on #1442
Making the input background white should help, IMO.

[2017-03-27 15:26] sunakshi96 commented on #1442
@zoepage the search text field, with magnifying class icon looks perfect.
We can make the magnifying icon as a button , to the right of search field?

[2017-03-27 17:22] sunakshi96 commented on #1441
@nj4710
We can keep both the Description(with an example of where the conflict might occur and if it occurs how can it be solved) as well as the link.

[2017-03-27 18:43] moraveyo commented on #1336
Can I work on this (my first bug)?

[2017-03-27 20:51] nj4710 commented on #1276
Hi @miketaylr I would like to work on this

[2017-03-27 21:03] miketaylr commented on #1276
Cool! We might want to get @karlcow to review these patches when they're ready.

[2017-03-27 22:48] karlcow commented on #1391
Thanks.

[2017-03-27 22:48] #1391 closed

[2017-03-27 23:12] karlcow commented on #1442
Just to visualize in context.

![capture d ecran 2017-03-28 a 08 11 59](https://cloud.githubusercontent.com/assets/505230/24381963/4cb7df46-138e-11e7-8db1-13e892d9b84c.png)

[2017-03-27 23:16] karlcow commented on #1442
Also https://dribbble.com/search?q=search+form

[2017-03-28 00:02] karlcow commented on #1185
(edited the comment by @sunakshi96 to make the source code readable).

@sunakshi96 to insert source code in Github comments, see the [code documentation](https://guides.github.com/features/mastering-markdown/#example-code)

The proposal is to do (as said in the link comment):

[code]

And as @miketaylr said. Make sure to run nosetests.

[2017-03-28 00:07] karlcow commented on #1185
Another possible simplification is.

[code]

[2017-03-28 00:08] karlcow commented on #1185
[code]

[2017-03-28 00:09] karlcow commented on #1185
@sunakshi96 To understand what is it about you can read about [list comprehensions in python](http://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/)

[2017-03-28 03:51] bijiezhu commented on #905
When I tested the issue on Linux Mint and Chrome browser, something different happens
![screenshot from 2017-03-27 22-53-52](https://cloud.githubusercontent.com/assets/11596921/24388397/5173d80a-1348-11e7-8089-03b9cc3c6cc5.png)

[2017-03-28 05:50] magsout commented on #1336
@moraveyo enjoy 👍

[2017-03-28 08:39] zoepage commented on #1441
Also +1 on both :)
@nj4710 wanna send a PR? :)

[2017-03-28 08:42] zoepage commented on #1442
@karlcow did you just mock that up? <3

[2017-03-28 09:25] nj4710 commented on #1441
sent:)

[2017-03-28 10:56] zoepage commented on #1442
@magsout It's also a button on the index page...
<img width="623" alt="screen shot 2017-03-28 at 12 54 02 pm" src="https://cloud.githubusercontent.com/assets/562354/24401743/e2bd4a90-13b5-11e7-981c-aee18a68ef4b.png">

So, which ever decision we make, it should be done on both sides :)

[2017-03-28 11:31] #1441 closed

[2017-03-28 11:33] karlcow commented on #1442
@zoepage

what are devtools for if not sculpting Web pages on the spot?

[2017-03-28 12:05] zoepage commented on #1441
Merged ;)

[2017-03-28 12:29] magsout commented on #1442
@zoepage oh oups, <3

My bad ;)

[2017-03-28 12:44] zoepage opened #1448 "add npm build to npm start"
As a lot of new contributors forget the `npm run build` step and file issues or ping on the channel, because the CSS files are missing.

To help and make the setup steps simpler, it seems like a good idea to put `npm run build` in one of the steps. As running the build before starting the server makes sense, I'd suggest to put it [here](https://github.com/webcompat/webcompat.com/blob/master/packag

[2017-03-28 13:01] nj4710 commented on #1441
Thanks @zoepage :hand:

[2017-03-28 14:10] miketaylr commented on #1448
Sounds good!

[2017-03-28 14:13] magsout commented on #1448
@zoepage yes 👍

[2017-03-28 14:15] miketaylr commented on #1403
OK! Giving feedback 3 weeks later (right on time...)

So, in general I'm not opposed to such a page, but I have concerns that it might end up as a ghost town if not curated by an owner. Personally, such a page isn't useful to me, but it might be encouraging for other people to see their work and talks recognized.

For record keeping, last year I think I have 6 or so talks on web compatibility, but

[2017-03-28 14:40] bijiezhu commented on #905
@hallvors  Something weird happens on my Linux when using chrome browser
![screenshot from 2017-03-27 22-53-52](https://cloud.githubusercontent.com/assets/11596921/24411108/04ac81ba-13a3-11e7-92db-529f200cb961.png)

[2017-03-28 15:00] bijiezhu commented on #905
And I would like to try this

[2017-03-28 16:01] moraveyo commented on #1336
I'm new to this project, need some guidance please

[2017-03-28 16:50] miketaylr opened #1449 "Move GA code to external (async) script file"
This is something that came up investigating CSP #763.

[2017-03-28 16:54] miketaylr commented on #1449
To fix this:

the script code here: https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/layout.html#L42-L49

Should end up in its own ga.js file, probably is static/js/vendor and the it script tag should use the `async` attribute:

`<script src=path/to/file async></script>`

[2017-03-28 17:40] miketaylr commented on #763
OK! 3 weeks later, let's look at what the report log has to teach us:

`{"csp-report":{"document-uri":"https://webcompat.com/tools/cssfixme","referrer":"https://github.com/webcompat/webcompat.com/issues/905","violated-directive":"font-src","effective-directive":"font-src","original-policy":"default-src 'none'; connect-src 'self'; font-src 'self'; img-src 'self' https://www.google-analytics.com htt

[2017-03-28 17:45] miketaylr commented on #1449
Hm, possibly we want to move to the "alternative async tracking snippet" first: https://developers.google.com/analytics/devguides/collection/analyticsjs/. As is, they try to load a JS data URI and that seems not great.

[2017-03-28 17:45] miketaylr opened #1450 "More CSP tweakings - Round 2"
We've learned a few things, need to update the policy. See https://github.com/webcompat/webcompat.com/issues/763#issuecomment-289847715.

[2017-03-28 19:47] miketaylr commented on #1356
Heya @squelart -- just an update here. Back from PTO + manager work week, and #1360 is on my plate for this week.

[2017-03-28 20:54] zoepage commented on #1448
As npm scripts don't like `()`, it seems like
`"start": "grunt && source env/bin/activate || grunt && . env/bin/activate && python run.py",` would be the only thing that makes sense right?

(@denschub)

[2017-03-28 20:57] zoepage commented on #905
@bijiezhu Have fun and let us know, if you have any questions! :)

[2017-03-28 21:00] #1438 closed

[2017-03-28 21:05] miketaylr commented on #1360
`type-media` sounds good. My plan is basically the following:

If the GET param already exists, we add it to the issue.

If it doesn't, we ignore it.

In theory this could allow label "abuse", but let's start simple and restrict things later if needed.

[2017-03-28 21:11] zoepage commented on #1434
@magsout Seems like people are on board!
Do you wanna work on this? :)

[2017-03-28 21:19] zoepage opened #1452 "add code language labels"
In our weekly meeting today, there was the idea of having labels of required language skill indicator for specific bugs.

Minutes can be seen here:
(Now) https://public.etherpad-mozilla.org/p/webcompat
(Soon) https://wiki.mozilla.org/Compatibility/Meetings

- What would be the criteria to add such a label? Just for starter bugs or for all?
- Should we have different levels for the languages to ind

[2017-03-28 21:21] squelart commented on #1356
Welcome back @miketaylr , the Firefox code is pretty much complete, I need to finish writing front-end tests before sending it for review...
Locally I've already tested `details` from #1358 and `problem_type` from #1359 and they worked great. Using #1360 should be trivial for me.

[2017-03-28 21:23] squelart commented on #1360
For clarify, what exactly should I put in the URL? `label=type-media`?

[2017-03-28 21:25] miketaylr commented on #1356
@squelart cool! I think it's safe to plan on there being a `label=foo` param you can use, and sending it `type-media` for now. So, `label=type-media`. I just started sketching my ideas in code, so we'll know a bit more in the next 2 days. 😄

[2017-03-28 21:25] miketaylr commented on #1360
Yeah!

[2017-03-28 23:49] karlcow commented on #1449
Do we **really use** GA? Probably @adamopenweb can answer. I know we had intents, but do we really do it. If not, why keeping it around?

[2017-03-29 00:01] miketaylr commented on #1449
Infrequently, but @adamopenweb and other people at Mozilla have been interested in the data, especially when doing stuff with dev-marketing.

[2017-03-29 00:09] karlcow commented on #1452
[28 March 2017 Minutes](https://wiki.mozilla.org/Compatibility/Meetings/2017-03-28#Outreachy_PR.27s_.2F_issues_.28ola.29) with the discussion that @zoepage is mentioning.

@zoepage Good suggestions. 183 issues to fix/review ;)

[2017-03-29 00:09] adamopenweb commented on #1449
@karlcow We don't have a specific use case for it. But it's good to know, for example, that 40% of our traffic is coming from China (most likely QA from that fennec fork).

Is it worth having our users tracked by Google? Probably not IMO, but I'm also a fan of tracking protection. 😄

[2017-03-29 00:12] karlcow commented on #1452
all bugs :) It will be practical for the community as large and projects like https://www.whatcanidoformozilla.org/#!/progornoprog/advocate/webcompat

I guess if the bug is targeted as good-first bug. The requirements on the language are low.

The format you suggested seems good and regular with others.

[2017-03-29 00:15] karlcow commented on #1449
"so you are saying that Chinese users don't use tracking protections". 🤡 (kidding)

[2017-03-29 02:10] karlcow commented on #1450
grmbl. From the comments, I guess paraphrasing @miketaylr's prose.

* [ ] GA adds a data URI JS snippet. we need to allow this now and look to remove it later.
* [ ] We use data image URIs for upload previews. We should allow this.
* [ ] We need to whitelist the GitHub search API for non-logged in search.

[2017-03-29 03:10] karlcow commented on #1276
I will remove the `status: good next bug` for now. As I think it requires a bit more knowledge. Let's rewind a bit and give a longer description of the issue.

Some background.

An HTTP POST is not [idempotent](http://restcookbook.com/HTTP%20Methods/idempotency/) and not safe. It means that two subsequent `POST /issues/new` do not create the same results. In our case each of them will create a new

[2017-03-29 03:18] karlcow opened #1454 "Create a note in the documentation for not overcommitting"
In [CONTRIBUTING.md](https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md) we need to add a note for reminding people to not over-commit themselves. Aka if they currently work on an PR. They should not take another one, except if the PR is in the process of being reviewed.

1. It helps people to focus on what they have to do.
2. It unblocks other issues for other contributors.

C

[2017-03-29 03:55] MDTsai opened #1455 "Click "e" on webcompat.com comment area opens label menu"
Expect behavior: nothing happen
Actual behavior: click "e" always open label menu, which interrupt comment.

[2017-03-29 04:38] karlcow commented on #1455
Indeed. weird. But in fact quite handy when you are at the bottom of a long comments chain

1. Go to https://webcompat.com/issues/1061
2. Scroll to the bottom
3. Type e.
4. 🏅 labels in focus.

[2017-03-29 04:39] karlcow commented on #1455
This is a bug. I wonder if it should become a feature. Though "e" -> "l"

[2017-03-29 04:44] karlcow commented on #1455
Ah not a bug. Intentional.
https://github.com/webcompat/webcompat.com/blob/28ac4928f56dec681349fa977d619da3d2888eac/webcompat/static/js/lib/labels.js#L26-L28

[2017-03-29 04:50] karlcow commented on #264
I had started this in the past
http://web-compatibility-app-development.readthedocs.io/en/latest/
I can transfer the ownership of everything on this.

[2017-03-29 05:07] MDTsai commented on #1455
I guess we can exclude this event if input area is focused.

[2017-03-29 05:22] karlcow commented on #1455
Yes just understood your issue. OK there is a regression introduced by a recent merge. I guess. Because indeed now typing e in a textarea open the label editor, which makes it unusable.  @MDTsai  Sorry for not understanding the first time