[2017-03-29 05:44] magsout commented on #1452
@zoepage @karlcow very good idea.

[2017-03-29 08:11] zoepage commented on #1455
As this bug makes the comment area unusable, I'll take care of it today.
Shall we change `e` to `l` in that step? Plus add an info in the "g for github" box.

[2017-03-29 08:33] karlcow commented on #1336
@moraveyo this probably requires a bit of python knowledge if on the server side.
JS if done on the client side.

ok let's see.
Assuming that as you said on IRC, that you successfully a `python run.py` on the project.
And that you can see some issues like `http://localhost:5000/issues/100`.

so you should see something like

![capture d ecran 2017-03-29 a 17 17 37](https://cloud.githubusercontent.

[2017-03-29 09:47] zoepage opened #1457 "Broken link on "all issues" > contribute"
more context in the PR #1458

[2017-03-29 09:55] zoepage commented on #264
@karlcow haven't seen this before. :) It's helpful and something we should add more information to it. Maybe we'll find a way to automate parts of the documentation (like packages or API documentation) to keep it up-to-date and reduce work?

[2017-03-29 10:12] zoepage commented on #1452
@karlcow

+1 for community project.
So, we would need to write down a todo issues, with a small concept for the criteria, right?

So context related? +1 on that!

What do you think @miketaylr @denschub @MDTsai @wisniewskit @adamopenweb ? :)

[2017-03-29 13:05] zoepage commented on #1454
@karlcow

I like the idea to add that note to the contributing.md, but it this mostly applies to new / less-experienced contributors. For experienced contributors, having 3-5 PRs open plus contributions in different issues / discussions might not be an issue.

So, I guess its mostly about wording?

@karlcow

True. The documentation is great and has all the information you'd need, but might feel a

[2017-03-29 15:49] #1185 closed

[2017-03-29 15:53] #1457 closed

[2017-03-29 16:08] miketaylr opened #1462 "Add functional regression test for preventing shortcut to open label editor when typing comment"
Fix was landed in https://github.com/webcompat/webcompat.com/pull/1459, but we should write an Intern test for this.

[2017-03-29 16:08] miketaylr commented on #1462
(I'm happy to mentor anyone who wants to work on this!)

[2017-03-29 16:33] miketaylr commented on #1452
+1

[2017-03-29 18:21] nj4710 commented on #1276
That was a great explanation. Thank you so much.
Sorry for my last commit.
Can I at-least try and complete one of these tasks?
So, what I understand from this is we do not need to use `set_referer` or `get_referer` method in `def create_issue()`. We will need to remove the session variables from this function since we are not using them anymore.

Now, inside `show_issue(number)` we need to change

[2017-03-29 22:38] karlcow commented on #1276
@nj4710 You are always welcome to work on things. And if you can't finish for any reasons it is ok too. And we will help along the way or find a solution together. 🆒

[2017-03-29 22:42] #1450 closed

[2017-03-29 23:09] adamopenweb commented on #1422
I agree. IMO we should move forward with this.

[2017-03-29 23:23] adamopenweb commented on #1437
I forgot about this.

Yeah, if it's not needed anymore, why not remove altogether?

[2017-03-30 02:00] karlcow commented on #1437
ok! Let's do this. Thanks everyone.

[2017-03-30 03:19] MDTsai commented on #1455
@zoepage: I found e (or l) open label menu is fixed but g open github view is still existing.

[2017-03-30 04:21] karlcow commented on #1455
@MDTsai yup https://github.com/webcompat/webcompat.com/pull/1459#issuecomment-290278908

[2017-03-30 05:17] karlcow commented on #132
Preserving some things I had done for #60 So I can delete my local branch.

for webcompat/views.py

[code]

[2017-03-30 05:25] karlcow commented on #132
Make the first comment more descriptive with the list of things to do.

[2017-03-30 11:08] zoepage commented on #1455
Seeing it. But I don't understand why it broke now.
I tested a few times manually yesterday and it all worked as it should have.

(I understand why it's not working in the expected way, but not why it worked in a different before...)

So I guess, we **really** need the automated tests here.

[2017-03-30 15:43] #1455 closed

[2017-03-30 15:46] miketaylr opened #1465 "Rename `labelWarp` method"
The name `labelWarp` could be improved.

To fix this, `labelWarp` should be given a more descriptive name like `openLabelEditor` or `editLabels` or something, in these two places:

* [ ] https://github.com/webcompat/webcompat.com/blob/37fa4d28bbf533d536995cb443c3c6856dd386a7/webcompat/static/js/lib/labels.js#L27
* [ ] https://github.com/webcompat/webcompat.com/blob/37fa4d28bbf533d536995cb443c3c685

[2017-03-30 15:52] nj4710 commented on #1276
I tried to complete the show_issue task. r? @karlcow

[2017-03-30 15:59] #1437 closed

[2017-03-30 16:02] #1448 closed

[2017-03-30 16:59] denschub commented on #1452
👍

[2017-03-30 17:34] miketaylr commented on #1276
(Our process is to create a PR and ask for review in that, rather than a comment in a bug. :)) It's also OK to open up a PR and ask for feedback as you're developing things, before things are 100% ready for review.

[2017-03-30 18:24] miketaylr commented on #1462
See #1455 as well, this should cover all shortcuts.

[2017-03-30 22:23] brizental commented on #1462
Hey Mike! I would like to work on this. Can you give me some pointers?

[2017-03-31 06:25] squelart commented on #1358
@miketaylr
Following https://bugzil.la/1343442#c15 , I've tried to use URLSearchParams to construct the URL (which does seem more appropriate for this job), however one difference with encodeURIComponent is that spaces are encoded as '+' instead of '%20'. E.g.:
Before: https://webcompat.com/issues/new?details=Hello%20World
After: https://webcompat.com/issues/new?details=Hello+World

But these plus

[2017-03-31 08:34] zoepage commented on #1422
Cool. I'll mock up few things and create an issue for it.

Thanks everyone <3

[2017-03-31 08:45] magsout commented on #1434
@zoepage 👍 <3

[2017-03-31 11:22] zoepage commented on #1452
I'll create the labels and add an issue for it.

[2017-03-31 12:01] magsout commented on #1452
@zoepage looks good 👍

Just one more question, what about tools ? Like grunt, webpack etc.. ?

[2017-03-31 12:02] magsout commented on #1452
Thinking of my previous question, I think it's stupid.

lang = JS.

[2017-03-31 12:36] zoepage commented on #1452
@magsout It's a valuable thing to think about builds and maybe also devOps at some point?

[2017-03-31 16:21] miketaylr commented on #1462
Sure thing!

Basically, we need to add a couple of tests for these scenarios:

1. user is typing in an issue comment and pressed `l` (lower-case letter l, as in lizard)
2. user is typing an an issue comment and pressed `g`

In both of these instances, nothing should happen. That is, the associated l and g shortcuts should not fire. So, the "label editor" shouldn't be visible, and we shouldn't end

[2017-03-31 17:27] nj4710 commented on #1449
I want to work on this issue:)

[2017-03-31 18:55] brizental commented on #1462
Ok, think I got it. I'll give this a try now :)

[2017-03-31 22:13] miketaylr commented on #1358
Hmm, let me take a look. I'm not super intimate with the finer details of URL encoding spaces (who is....)

[2017-03-31 22:20] squelart commented on #1358
Have a read of this: https://url.spec.whatwg.org/#concept-urlencoded

:-D

[2017-03-31 22:26] miketaylr commented on #1358
Heh... I think we're pretty safe to just decode the `+` to space clientside, especially since nobody has used the `details` param before, so there are no legacy constraints. I'll file a bug!

[2017-03-31 22:29] miketaylr opened #1469 "Handle decoding + as a space for `details` param values"
(https://github.com/webcompat/webcompat.com/issues/1358#issuecomment-290627963)

The value of the `details` param will be constructed using `URLSearchParams` rather than `encodeURIComponent`, and it treats spaces differently (+ vs %20).

Something hacky like `decodeURIComponent(str.replace(/\+/g, '%20'));` would probably do the trick.

[2017-03-31 22:57] brizental opened #1470 "Intermittent errors in tests"
I have played these tests four times, one after the other and each time I got a different result.

The first time I got these errors:
[code]

The second time no errors.

The third time only the `Pressing g goes to github issues` error.

And the fourth time only the `Pagination dropdown tests` error.

I tried them manually and it seems like everything is working, so I don't know why they are failli

[2017-04-01 00:12] magsout commented on #1470
@brizental yeah, I have same weird results. I don't know why, while test have passed with Travis ...

[2017-04-01 16:38] cch5ng commented on #1381
@zoepage this seems like a good intro/overview

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing

I think it varies for who the audience is. as a jr developer, I would like to be aware of current areas where cross browser compatibility will tend to have issues.

[2017-04-01 17:29] zoepage commented on #1381
@cch5ng oh, this is truly helpful. Thank you :)

[2017-04-02 18:42] cch5ng commented on #980
revisiting checkbox 1 (resolve currently failing intern tests)

observed that it should probably just be a requirement when running local tests to always use server with fixture files
[code]

then running only non auth tests locally => all tests pass consistently (2x, 3rd time, one timeout issue but could be my isp b/c see hangtime with dns lookups)

* CONTRIBUTING.md should be updated accordingly

[2017-04-03 08:27] zoepage commented on #1452
Shall we add frameworks too? Like jQuery or Backbone?

[2017-04-03 08:34] zoepage commented on #1402
fixed in #1426

[2017-04-03 08:34] #1402 closed

[2017-04-03 08:45] zoepage commented on #1171
@karlcow

The URL is passed in as <a href="http://example.com/foobar&amp;amp=" rel="nofollow">http://example.com/foobar&amp;amp=</a> already, so it's not just about display of the URL, but a step before that, right and also just in our interface.
<img width="730" alt="screen shot 2017-04-03 at 10 39 15 am" src="https://cloud.githubusercontent.com/assets/562354/24601803/990bcbb6-185a-11e7-86e1-e0ef

[2017-04-03 08:56] zoepage commented on #1462
There is also the case for `INPUT` as we have the search filed. Not sure, if this is already covered somewhere or if we should add it here. More a FYI, so we do not forget to test it at some point.

[2017-04-03 09:00] zoepage commented on #1297
This and #1171 could be probably fixed in one solution?

[2017-04-03 09:07] zoepage commented on #945
As the webpack refactor will not land soon (I guess) and this seems pretty straight forward, shall we add the pkg @miketaylr ?

[2017-04-03 09:07] zoepage commented on #839
Related to #909

[2017-04-03 09:18] zoepage commented on #1452
FYI:
Labels set on `status: good first bug` and `status: good next bug`.

[2017-04-03 09:31] zoepage commented on #1425
The placement of SVG's was improved and the message was taken out. The other two todo's are still open, if anyone wants to tackle them.

[2017-04-03 09:55] nj4710 opened #1471 "Newest dropdown can be improved"
Hi!
I feel that the text in the drop-down merges with the text in the background. This may hamper user experience. This can be improved maybe by changing the opacity or background colour  of the dropdown.
![dropdown](https://cloud.githubusercontent.com/assets/13145287/24604260/b89e9a7c-1881-11e7-8d17-30d39597a033.png)
What do you think?

[2017-04-03 10:54] karlcow commented on #1452
For frameworks, I would say no. We want a minimal set of things.
@zoepage thanks for creating the labels.

[2017-04-03 11:00] karlcow commented on #1171
Yes the markdown parser should not interpret the URL. It's what the issue is about. :)
To fix it, it is possible to either escape the markdown markup, but probably better take the opportunity of the `target` issue

[2017-04-03 11:05] zoepage commented on #1471
Good catch @nj4710

Changing opacity to 0.95 is already helping (plus a thin border in light gray).
<img width="553" alt="screen shot 2017-04-03 at 1 00 56 pm" src="https://cloud.githubusercontent.com/assets/562354/24606565/f2d303cc-186d-11e7-913b-6bbc169ffefe.png">
<img width="448" alt="screen shot 2017-04-03 at 1 01 31 pm" src="https://cloud.githubusercontent.com/assets/562354/24606566/f2d49228-

[2017-04-03 12:04] magsout commented on #1452
@zoepage I agree with @karlcow for frameworks. `lang` labels is enought IMO.

for devops, or api, or tools, I don't know how many issues are about these subject ? I guess not a lot.

[2017-04-03 12:29] zoepage commented on #1452
I understand the issue of having way too many labels.

Sometimes you have issues that need specific skill needs, e.g. JS does not mean you are experienced with e.g. Backbone. We also have e.g. quite a few GitHub API issues.

Would it make sense to add this information in the first issue comment in a specific format, so it would make it easier to filter issues (just not as intuitive).

[2017-04-03 13:22] karlcow commented on #1336
I'm removing good first bug, because there's quite a bit of work to achieve this.

[2017-04-03 13:26] karlcow commented on #1452
Let's fix things when there is a need.
We could add these if there are necessary in the future. It's not the case for now.

[2017-04-03 13:42] moraveyo commented on #1465
Can I work on it?

[2017-04-03 15:00] nj4710 commented on #1471
A light border and opacity of 0.95 could also be helpful in the drop-down of view all.

![view-all](https://cloud.githubusercontent.com/assets/13145287/24615629/6bd88240-18ac-11e7-9937-7c79b67d6526.png)

[2017-04-03 15:14] zoepage commented on #1452
@karlcow i feel like there is a need as we have a lot of (old) issues that are hard to go through. Let's put it on the `discuss in Berlin list`.

[2017-04-03 16:45] zoepage commented on #1465
@moraveyo Enjoy :) If you have questions, please let us know :)

[2017-04-03 17:37] #1240 closed

[2017-04-03 17:38] miketaylr commented on #1470
@brizental this is definitely something for Outreachy to investigate! :)

[2017-04-03 18:03] nj4710 opened #1473 "Add pep257 to improve documentation"
https://www.python.org/dev/peps/pep-0257/
pep257 can help us in improving the documentation of the code. It is also viable at this stage.
What do you all think?

[2017-04-03 19:02] miketaylr commented on #1473
@nj4710 can you add some more context around what the work of this issue would be? For example, which modules or methods are missing docstrings, or which aren't following pep257 conventions?

Perhaps you could run the pep257 tool on the codebase and show the results here?

https://pypi.python.org/pypi/pep257

[2017-04-03 19:33] nj4710 commented on #1473
This would be a long term issue.
For starters, the scope of this issue would be to solve errors like these:
`pep257 webcompat/views.py`
`webcompat/views.py:1 at module level:
        D100: Missing docstring in public module
webcompat/views.py:40 in public function `shutdown_session`:
        D103: Missing docstring in public function
webcompat/views.py:45 in public function `before_request`:

[2017-04-03 21:18] #1434 closed

[2017-04-03 21:20] miketaylr opened #1474 "Document recommended eslint/prettier workflow"
Support for prettier landed in #1468.

We should determine a simple workflow, and document it so we're all on the same page.

Strawman proposal:

 1.  write some code
 2.   run npm run lint
 3.   run npm run fix (if there were simple style errors...)
 4.   commit, make PR, etc.

[2017-04-03 22:08] magsout commented on #1474
@miketaylr looks good 👍 it's I think the best way.

[2017-04-04 00:12] karlcow commented on #1473
@nj4710 Did you have specific troubles with the current code base? Were you missing anything or confused by some of the definition.

I'm asking because while it's good to fix the syntax and makes it clean and regular 💯 It's also often a big change for the code once. And also put in place recommendations in automatic linting tools in people's editor for not forgetting it the same time.

For example

[2017-04-04 00:14] karlcow commented on #1473
An example of what my sublimetext looks like when there is an error.

![capture d ecran 2017-04-04 a 09 13 25](https://cloud.githubusercontent.com/assets/505230/24636694/15a8e16a-1917-11e7-9a9c-c198d887e9da.png)

[2017-04-04 02:19] karlcow commented on #1232
Let's close this issue.
RESOLUTION: We created the milestone non-compat for handling them.
Any further issues about these non compat issues should be in a new issue.

[2017-04-04 02:19] #1232 closed

[2017-04-04 02:39] brizental commented on #1462
@zoepage the tests for that are already on the `issues-non-auth.js` and `issue-list-non-auth.js` files :)

[2017-04-04 07:47] softvision-oana-arbuzov opened #1475 "“Attach Screenshot” area becomes cropped when using keyboard “Tab” button twice"
**Browser / Version:** Firefox Mobile Release 52.0.2, Chrome 56.0.2924
**Operating System:** Windows 10 Pro

**Steps to Reproduce**
1.	Navigate to: https://webcompat.com.
2.	Click “Report a bug” button.
3.	Click the “Give more details” area.
4.	Use keyboard “Tab” button twice.
5.	Observe behavior.

**Expected Behavior:**
[TBD] “Report Anonymously” is selected (highlighted), considering that “Scree

[2017-04-04 08:04] magsout commented on #1434
@karlcow I heard your comment, So I added Prettier insinde eslint.. https://github.com/webcompat/webcompat.com/pull/1468

 The package  are not silently changing the code.

[2017-04-04 09:10] softvision-oana-arbuzov commented on #1433
I've observed when inspecting the "Screenshot" area that only the left half side of it allows to drag and drop an image and attach it (check screenshot). When drag and dropping an image anywhere else, it is being opened.
![uploadonlyarea](https://cloud.githubusercontent.com/assets/12184325/24649410/a043a6b2-192f-11e7-8bd6-726eca98d8e4.png)

[2017-04-04 10:48] zoepage commented on #1474
+1

Do we want to add a hook to lint automatically before committing?
https://github.com/prettier/prettier#pre-commit-hook-for-changed-files

[2017-04-04 11:45] zoepage commented on #1403
Let's delay the discussion until we feel like we need such a section and close the issue for now.

[2017-04-04 11:45] #1403 closed

[2017-04-04 11:48] zoepage commented on #1471
@nj4710 Sorry, should have mentioned that I meant both of the drop downs as they should have a consistent style. :)

So, setting both to `opacity: 0.97` and the `border: 1px solid #F0F0F0` should fix this. :)
(The color here is one of our per-defined colors, we want to reuse as seen here http://webcompat.github.io/webcompat.com/.)

[2017-04-04 12:04] zoepage commented on #1381
More resources (mainly for people, who want to help debug issues):
https://html5test.com/index.html
http://jsbeautifier.org
https://github.com/cvandeplas/pystemon/blob/master/user-agents.txt

(It would be great, if y'all could add your tools you use.)

[2017-04-04 12:12] magsout commented on #1474
@zoepage

It was my first thought and I made it in my initial PR. But after I did not know if it was good or practical to do that especially after the comment of @karlcow  https://github.com/webcompat/webcompat.com/issues/1434#issuecomment-288255993

[2017-04-04 12:25] zoepage commented on #1474
@magsout Just to clarify, I was just talking about linting. Not fixing :)

Not a fan of automated fixing either, so I agree with @karlcow. Linting is something people like to forget (as same as running the build and wondering, why the styles are missing... Me. Always. :grin:)

[2017-04-04 13:13] miketaylr commented on #1474
Decision: we'd like to figure out a pre-commit style workflow. But possibly good to document manual way as well?

[2017-04-04 13:36] magsout commented on #1474
@zoepage

ah yes, you meant `npm run lint` ? not `npm run fix`  ?

[2017-04-04 13:39] magsout commented on #1474
So something like:

[code]

[2017-04-04 13:43] miketaylr commented on #1475
Oops. @magsout is this something you might be able to look at?

[2017-04-04 13:46] magsout commented on #1475
@miketaylr 👍

[2017-04-04 13:50] miketaylr commented on #1469
Ping @karlcow for maybe some advice (feel free to ask more questions... not a ton of context).

[2017-04-04 13:53] miketaylr commented on #1454
Maybe something like working on no more than 2 good first bugs at a time.

[2017-04-04 13:54] #1452 closed

[2017-04-04 14:21] nj4710 commented on #1473
No specific troubles(at least not yet :smile:  ) but it took me more time to understand the meaning and relevance of a few functions.
I understand that this will be a big change but we can take baby steps towards it. Maybe, we can add this to a milestone?
Even I use sublime text and I am aware of one linting tool [SublimeLinter](https://github.com/SublimeLinter/SublimeLinter-pydocstyle)
Not sure a

[2017-04-04 14:54] nj4710 opened #1477 "Autoexpand does not work in chrome for bug-reporting form"
Issue landed from here [#1476](https://github.com/webcompat/webcompat.com/pull/1476)
We have added the auto-expanding feature to Give more details of bug-reporting area and comments in issues. The auto-expanding works well in Firefox for both the areas. In chrome, it does not work for bug-reporting form

[2017-04-04 15:03] #1211 closed

[2017-04-04 15:24] #945 closed

[2017-04-04 15:48] #1449 closed

[2017-04-04 15:49] miketaylr opened #1478 "More CSP tweaks - Round 3"
See #763 for the master bug for CSP policy.

Looking at the logs for anything useful that we haven't covered... and I think we're down to 2. There's a lot of noise which looks like it comes from bots and addons, so those I'm ignoring.

I forgot we had a [webmanifest file](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/webcompat.webmanifest), we need to whitelist this.

Thi

[2017-04-04 15:52] miketaylr commented on #1478
To summarize:

* [ ] whitelist manifest-src
* [ ] remove data URIs for style-src
* [ ] add data URIs for img-src
* [ ] remove data URIs from script-src

[2017-04-04 16:46] miketaylr commented on #1474
So with a pre-commit lint, I guess once you try to commit w/ style errors, it will fail and then it's up to you to run `npm run fix`? @zoepage is that what you would expect?

[2017-04-04 19:24] magsout opened #1480 "Proposal of html/js/css refactoring"
I would like to propose a redesign of webcompat, mainly on JavaScript.

Currently, we use two libraries:
- jQuery for manipulation of DOM and events
- Backbone for templates.

I think it is quite possible to no longer use jQuery, modern browsers have a simple API to manipulate the DOM.

Backbone, it plays very well its role of template, but, I found, it is difficult to make the code maintainable e

[2017-04-04 21:07] zoepage commented on #1474
@miketaylr
The pre-commit should lint after adding the files through `git add, but before the commit itself.
Then you could run `npm run fix` or fix manually. This is what I would expect. :)

[2017-04-04 21:12] miketaylr commented on #1474
Cool, thanks! I can live with that. :)

@magsout want to implement what you wrote in https://github.com/webcompat/webcompat.com/issues/1474#issuecomment-291502599?

[2017-04-04 21:32] zoepage commented on #1473
@karlcow

I'm using SublimeText, Probably @magsout is using Atom? @zoepage I don't know what she is using.

Sublime Text 3 :)

[2017-04-04 23:28] karlcow commented on #1469
@miketaylr

Does [that help](https://docs.python.org/2/library/urllib.html#urllib.unquote_plus)?

[code]

[2017-04-04 23:35] karlcow commented on #1469
and just for the record on your proposal above mixing inadequately two things 👹

[code]

[2017-04-05 00:11] brizental commented on #1470
So, apparently these errors are not only happening in the tests from the `issue-list-non-auth.js` file...
I'll have a look at this and see if I can figure out what's happening :)

[2017-04-05 02:44] karlcow commented on #1381
* [Charles Proxy](https://www.charlesproxy.com/)
* [httpie](http://httpie.org/)
* [User Agent switcher](https://addons.mozilla.org/en-US/firefox/addon/user-agent-switcher/)
* Browsers Developer tools
* yoga and meditation

[2017-04-05 02:50] #1478 closed

[2017-04-05 03:01] karlcow commented on #1480
If this goes forward in any form and to avoid a mega issue. We could probably have a milestone with different small issues.

As you know I don't have a good opinion about React. The concept seems interesting on paper, but I haven't seen one Web site using React doing a good job in terms of HTML/CSS and semantics. (Note that I don't think the current webcompat does well :) ) I'm happy to see exampl

[2017-04-05 05:25] karlcow opened #1482 "Fix missing docstrings on the python files."
On #1473 there was a discussion about the project having missing docstrings. We didn't create docstrings for all the functions.

The output on view was.

[code]

There are a couple of recurring issues.

* [ ] missing docstrings
* [ ] Imperative style
* [ ] length
* [ ] quote styles

[2017-04-05 05:26] karlcow commented on #1473
@nj4710 I think we can separate that in 2 issues.

* [ ] fix the actual docstrings when they are missing. #1482
* [ ] define a common setup in CONTRIBUTING.md for linting python files (including what should be done for pep257) (aka this issue 1473)

[2017-04-05 05:26] karlcow commented on #1473
I will change the topic for this issue.

[2017-04-05 05:28] nj4710 commented on #1473
@karlcow  That will be great!

[2017-04-05 08:40] zoepage opened #1483 "documenting purpose of webcompat.com labels"
Atm we have 32 labels:

[code]

Some of them are pretty straight forward like the `needs xyz`, `type: a` or `lang: b` labels.
Some are clear from the meaning, but the process behind it might not, e.g. when do I use `ready` or `in progress` or `status: accepted` and what is the difference between e.g. `ready` and `status: ready`.

I'd like to document it somewhere and make this more transparent to

[2017-04-05 08:56] zoepage commented on #1442
DECISION:
To go with following https://github.com/webcompat/webcompat.com/issues/1442#issuecomment-289613640

[2017-04-05 09:24] zoepage commented on #1480
@magsout
I like the idea of moving the front-end to React.
(Last app I've build was also a refactor from Backbone to React. It was a smooth move.)

@karlcow

+1

+1

+1

Before we can start with this, I feel like some things should to happen first.
With the proposed changes from @lockettm, we'll add new content and probably also refactor the site structure a bit. So, without not knowing 100% on wh

[2017-04-05 09:58] zoepage commented on #1477
@nj4710 could you please provide more information here? I tried to reproduce, but its try without context. Thanks :)

[2017-04-05 12:44] zoepage opened #1485 "[package.json] `npm run backend-install` missing"
In https://github.com/webcompat/webcompat.com/blob/master/package.json#L60 we're trying to call a script called `backend-install`, but after checking the history, I saw it was never defined.

What was the purpose and do we need it?

[2017-04-05 12:54] lewiscowper commented on #1471
I'd be happy to work on this one! 👍

[2017-04-05 13:02] zoepage commented on #1471
@lewiscowper <3

[2017-04-05 17:06] miketaylr commented on #1469
@karlcow `unquote_plus` is cool, didn't know about that. I need to handle this on the client before we submit to the server. AFAICT, just replacing `+` with `%20` should be safe, then we can decode as normal.

`URLSearchParams` serializes input as [x-www-form-urlencoded](https://url.spec.whatwg.org/#application/x-www-form-urlencoded), which encodes SPACE as `+`:

[code]

Looking at the serializati

[2017-04-05 17:52] miketaylr commented on #1480
I like the idea of coordinating @zoepage's suggestions and this proposal. It sounds like a lot of great improvement in terms of site structure/content/tech. And a lot of cool things to hack on in SF. :)

[2017-04-05 22:40] karlcow commented on #1483
@zoepage good idea. Some of them are documented in #1097

[2017-04-06 00:14] karlcow commented on #1485
@magsout Probably for the answer.

Looking at the blame, it was introduced by #965 by @magsout
https://github.com/webcompat/webcompat.com/blame/master/package.json#L60

[2017-04-06 00:40] karlcow commented on #1480
I will be keeping an eye on this one. [Cool URIs don't change](https://www.w3.org/Provider/Style/URI) 😁

[2017-04-06 00:42] karlcow commented on #1469
I don't know why I was thinking we were in python world. All my comments above don't make sense at all. Sorry about that.

[2017-04-06 07:45] softvision-oana-arbuzov opened #1488 "Contributors guideline section remains highlighted when tapped/clicked on Chrome browser"
Browser / Version: Chrome 56.0.2924, Chrome 57.0.2987
Operating System: Windows 10 Pro,  Android 6.0.1

**Steps to Reproduce**
1.	Navigate to: https://webcompat.com/contributors.
2.	Click/Tap a guideline section.
3.	Observe behavior.

**Expected Behavior:**
Section is not highlighted.

**Actual Behavior:**
Section remains highlighted.

**Notes:**
1.	Not reproducible on Firefox Nightly 55.0a1 and R

[2017-04-06 07:58] magsout commented on #1488
Thanks @softvision-oana-arbuzov. It's beacuse of outline on a button in (webkit/blink).

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/development/components/contributors.css#L31

Just add this property

[code]

[2017-04-06 08:00] magsout commented on #1485
@zoepage good catch.

Hum honestly, I don't remember why I writed this line. But, I guess, we don't need it.

[2017-04-06 08:02] magsout commented on #1483
@zoepage good idea.

I would say that `ready` and `in progress` were created by waffle.

[2017-04-06 08:13] magsout commented on #1477
@zoepage related to https://github.com/webcompat/webcompat.com/pull/1440#issuecomment-291522149

But it seems to work https://github.com/webcompat/webcompat.com/pull/1440#issuecomment-291524792

I don"t know if @miketaylr deploys to the production site

[2017-04-06 12:15] karlcow commented on #1483
yes waffle injection.

[2017-04-06 16:52] #1465 closed

[2017-04-06 18:07] miketaylr commented on #1271
@karlcow it would be cool to try to re-land your work here. 👍

[2017-04-07 00:51] brizental opened #1489 "Keyboard navigation for the label menu editor"
So, right now a user can open the label menu just by pressing the 'l' key, but for actually interacting with the menu the user still has to use the mouse.

These are the interactions that I thought:
1. When the user presses the 'Esc' key the menu closes;
2. When the users presses the 'Enter' key inside the input area the menu saves and closes;
3. When the user presses the 'Tab' key the first eleme

[2017-04-07 08:44] softvision-sergiulogigan opened #1490 "The Contribute button remains highlighted after tapping it"
**Environment:**
Browser / Version: Firefox 52.0 Release (Mobile), Firefox Mobile Nightly 55.0a1 (2017-04-07) (Mobile), Chrome (Mobile) 56.0.2924.87.
Operating System: Android

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com
2. Tap the Contribute button.
3. Scroll back to the top of the page. Observe the Contribute button.

**Expected Behavior:**
The Contribute button is not highligh

[2017-04-07 08:51] softvision-sergiulogigan opened #1491 "The page can be scrolled left/right"
**Environment:**
Browser / Version: Firefox 52.0 Release (Mobile), Firefox Mobile Nightly 55.0a1 (2017-04-07) (Mobile), Chrome (Mobile) 56.0.2924.87.
Operating System: Android

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com
2. Swipe right and left.

**Expected Behavior:**
Nothing happens.

**Actual Behavior:**
The page can be scrolled.

**Notes:**
1. Screenshot attached.

sv;
![scre

[2017-04-07 15:18] miketaylr commented on #1490
Interesting, thanks for the report @softvision-sergiulogigan.

@magsout something you can take a look at?

[2017-04-07 15:19] miketaylr commented on #1491
@magsout something you can take a look at?

[2017-04-07 15:20] miketaylr commented on #1488
I think this page will eventually be redesigned, so I would consider this lower priority than others.

[2017-04-07 18:23] miketaylr commented on #1477
Will do a deploy this afternoon!

[2017-04-07 18:40] miketaylr commented on #1259
@magsout do we consider this fixed now?

[2017-04-07 18:40] miketaylr commented on #1259
oh wait, yeah we do. :)

[2017-04-07 18:40] #1259 closed

[2017-04-07 18:43] miketaylr commented on #761
Pretty sure we have this in place now: https://github.com/webcompat/webcompat.com/commit/66b9a0cb8e81bd35cd08cf70f718bff5bda82753

[2017-04-07 18:43] #761 closed

[2017-04-07 18:45] miketaylr commented on #1140
I think we should do the following:

1. Remove the link, right now the experience is bad
2. In SF, look at porting the Safari Addon to send screenshots, then work with @magsout to get it signed.
3. Re-add.

[2017-04-07 19:47] magsout commented on #1259
<3

[2017-04-07 19:52] magsout commented on #1490
@miketaylr sure

[2017-04-07 19:52] magsout commented on #1491
@miketaylr sure

[2017-04-08 11:22] zoepage opened #1493 "[BUG] labels - layout is mixed up"
After the refactor of the labels, the layout seems messed up when the label box merges into the main box and I scroll. Can be seen better below.

FF 52.0.2, OSX 10.12.2 (but also in Chrome  57.0.2987).

![scroll_bug](https://cloud.githubusercontent.com/assets/562354/24828469/00d00508-1c5e-11e7-81a8-48314a863326.gif)

@magsout If you have time and worked on this, would you like to take care of it?

[2017-04-08 11:26] zoepage commented on #1489
@brizental  I love the idea :)

And the changes are dismissed, right?

What about the case, if someone wants to add more than one? In addition, see 4.

+1

+1 (could intervene with 2.?)

[2017-04-08 11:32] zoepage commented on #1485
Cool, I'll send a PR.

[2017-04-08 19:18] magsout commented on #1493
@zoepage good catch 👍 sending a PR, thanks.

[2017-04-09 00:35] karlcow opened #1496 "[layout] small larger width for certain viewports"
@magsout Congratulations on the new layout. ㊗️

Around 1227px, there is a slight larger width which means that you can slide horizontally the design.
On the issue page for example https://webcompat.com/issues/5407
to show it put a `background-color: red` on the html element, and slide horizontally.

![capture d ecran 2017-04-09 a 09 29 11](https://cloud.githubusercontent.com/assets/505230/24833552

[2017-04-09 01:02] karlcow commented on #1496
ah duplicate of #1491

[2017-04-09 01:02] #1496 closed

[2017-04-09 01:05] karlcow opened #1497 "[typo] Reporter is mispelled."
On the information box for the issue there is a typo on "Reporter". ⚡️

![capture d ecran 2017-04-09 a 10 01 20](https://cloud.githubusercontent.com/assets/505230/24833685/f235eec8-1d0b-11e7-9aca-c997a96550ef.png)

[2017-04-09 04:13] #1493 closed

[2017-04-09 04:17] #1469 closed

[2017-04-09 04:24] #1497 closed

[2017-04-09 21:21] brizental commented on #1489
@zoepage nice, thanks for the feedback.

1. Yes, the changes would be dismissed. It would be the same interaction as when you click outside of the box right now.

2. Hmm, hadn't thought about that. What if when the user clicks "Enter" if any results were found, the first result gets highlighted and checked? If no results were found nothing happens. Now, I don't know what key press would be intuiti

[2017-04-10 09:46] softvision-oana-arbuzov opened #1499 "Incorrect position of “Share on Facebook/Twitter” buttons after reporting an issue"
Browser / Version: Chrome 56.0.2924, Firefox 52.0.2
Operating System: Windows 10 Pro

**Prerequisites:**
A new issue was found/encountered.

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com.
2. Tap “Report a bug” and type in the required information.
3.  Report the issue and observe “Share on Facebook/Twitter” buttons displayed.

**Expected Behavior:**
“Thanks for reporting an issues!

[2017-04-10 15:54] #1462 closed

[2017-04-10 17:19] #1485 closed

[2017-04-10 20:22] denschub opened #1501 "New sidebar is broken on mobile"
The new sidebar is `position: sticky` on mobile as well, thus overlaying all contents:

![screenshot_20170410-222013](https://cloud.githubusercontent.com/assets/344777/24880816/13840ab6-1e3c-11e7-9877-5cd946fa7ec9.png)

It probably should just scroll away on mobile.

/cc @magsout

[2017-04-10 21:50] #1475 closed

[2017-04-11 02:00] karlcow opened #1502 "[layout] text without space is not broken."
Go to https://webcompat.com/issues/5572

[code]

![capture d ecran 2017-04-11 a 10 59 17](https://cloud.githubusercontent.com/assets/505230/24889671/4021ac58-1ea6-11e7-80ce-630f20409378.png)

Probably something along `word-wrap` to add.

[code]

After this.

![capture d ecran 2017-04-11 a 11 03 34](https://cloud.githubusercontent.com/assets/505230/24889712/8caaed1e-1ea6-11e7-846a-6773e6af5867.png)

[2017-04-11 02:04] karlcow commented on #1502
Added info after hitting return to early.

[2017-04-11 08:00] magsout commented on #1501
thanks @denschub . It fixed by https://github.com/webcompat/webcompat.com/pull/1495

I'll ask @miketaylr if he can deploy on production

[2017-04-11 08:00] #1501 closed

[2017-04-11 16:27] miketaylr commented on #1501
Ah yeah, let's deploy right now.

[2017-04-11 16:57] magsout commented on #1501
thanks @miketaylr <3

[2017-04-11 19:28] magsout commented on #1499
thanks @softvision-oana-arbuzov .

The box at right isn't necessary. We need to remove it.

[2017-04-11 19:47] magsout commented on #1499
There is two box because of this target https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/flash-message.js#L60

There is two element with this className in the DOM

[2017-04-12 01:39] karlcow commented on #1276
See my comments in @nj4710 Pull Request
https://github.com/webcompat/webcompat.com/pull/1466#issuecomment-293447540

My initial idea was bad and that was discovered by exploring the pull request of @nj4710
For the record, @nj4710 did a good work.

I'm closing the issue as wontfix. Thanks.

[2017-04-12 01:39] #1276 closed

[2017-04-12 03:16] denschub commented on #1501
Oh, I didn't know there was an issue open already and I wasn't able to find it. 🙈

Sorry. :)

[2017-04-12 05:41] magsout commented on #1501
@denschub ❤️

[2017-04-12 17:58] moraveyo commented on #1140
r? @miketaylr

[2017-04-12 20:14] moraveyo commented on #1035
r? @miketaylr

[2017-04-12 22:26] miketaylr opened #1505 "Remove query-params.js file"
This code has never been actually used. So lets remove it.

(FTR, it has some great ideas in it, possibly something we want to revisit during a refactor).

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/models/query-params.js

[2017-04-13 01:19] #1454 closed

[2017-04-13 01:25] karlcow commented on #1035
@moraveyo did you make a pull request? You can ask for review/comments on the pull request.

[2017-04-13 01:26] karlcow commented on #1035
Ah yes there is
https://github.com/webcompat/webcompat.com/pull/1504

[2017-04-13 13:47] moraveyo commented on #1035
If UA or OS is "Other",
and suddenly there is some model or version info,
should we make it "Other (Tablet) 7.11" or just "Unknown"?

[2017-04-14 14:16] miketaylr opened #1506 "Upgrade Prettier to 1.0"
1.0 was just released: http://jlongster.com/prettier-1.0

[2017-04-14 14:18] miketaylr commented on #1506
(1.1.0 is the latest, that was fast...)

[2017-04-14 14:19] magsout commented on #1506
👍

[2017-04-14 14:20] magsout commented on #1506
hum under the wood, there is a awesome option calls `--no-semi (#1129)`

[2017-04-14 14:41] miketaylr commented on #1506
Are you in favor of having no semicolons? I think that might be a tough sell 😆

[2017-04-14 15:45] miketaylr commented on #1035
Unknown seems less confusing, I think.

[2017-04-14 15:49] #1506 closed

[2017-04-14 15:53] magsout commented on #1506
yuip ;)

[2017-04-14 19:41] miketaylr opened #1508 "Use whitelist for `isReportableURL` (rather than blacklist)"
Rather than check that we're not on some schemes, we should check that we're either looking at a URI that is either `http` or `https`.

See https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L227-L236 for where this code lives.

http://searchfox.org/mozilla-central/source/browser/extensions/webcompat-reporter/content/TabListener.jsm#47-49 might serve as some

[2017-04-14 20:05] miketaylr opened #1510 "Double "thanks" flash message?"
Haven't dug into this yet, but it looks goofy. :clown_face:

STR:
1. report new bug (locally, at least)

<img width="1681" alt="screen shot 2017-04-14 at 3 00 57 pm" src="https://cloud.githubusercontent.com/assets/67283/25054577/8e1357fc-2123-11e7-8638-6b19255bdb10.png">

I think it might be here, if we use that class in more than one place:

https://github.com/webcompat/webcompat.com/blob/master/

[2017-04-14 20:15] magsout commented on #1510
@miketaylr yes, you're right.

@softvision-oana-arbuzov already opened a bug here https://github.com/webcompat/webcompat.com/issues/1499

[2017-04-14 20:15] #1510 closed

[2017-04-14 20:20] miketaylr commented on #1510
whooops 🙈

[2017-04-14 20:22] magsout commented on #1510
@miketaylr ❤️

[2017-04-14 20:26] squelart commented on #1356
@miketaylr I probably should have told you in advance, but the media errors notification bar has recently landed in Nightly, so there may be a bit of traffic coming from that now. Please contact me if you see anything bad...

[2017-04-14 20:39] magsout commented on #1491
The bug is due to the overflow of SVG. I made a small fixed and pushed a PR

[2017-04-14 20:40] magsout commented on #899
Just re up this issue.

What do you think @zoepage  ?

[2017-04-14 20:42] magsout commented on #1491
it would be a good idea if we can remove background SVG and icon font and replace all by inline SVG https://github.com/webcompat/webcompat.com/issues/899

[2017-04-15 15:11] miketaylr opened #1512 "Update Grunt deps"
(I know we want to move away from Grunt, but our grunt deps are currently super out of date)

Let's see if we can upgrade without breaking anything.

[2017-04-15 19:27] #1512 closed

[2017-04-16 12:29] magsout commented on #1433
@softvision-oana-arbuzov @softvision-sergiulogigan In this PR https://github.com/webcompat/webcompat.com/pull/1492 I fixed some CSS Bug, and I think I fixed this bug, could you test to see if you get to reproduce the bug?

Thanks

[2017-04-16 18:43] adamopenweb commented on #1356
@miketaylr We are seeing issues [like this one](https://github.com/webcompat/web-bugs/issues/5781), which are tagged with:
[code]
as we would expect for issues that contain something like:
[code]
in the description.

Then other issues [like this one](https://github.com/webcompat/web-bugs/issues/5765) that are reported are not labeled as media:
[code]
but also contain in the description:
[code]

[2017-04-16 20:01] magsout commented on #966
I forgot to close since it is fixed

[2017-04-16 20:01] #966 closed

[2017-04-16 22:06] karlcow opened #1515 "Typing "label:type-media" doesn't work in the homepage search form"
Noticed by @magsout

Steps to reproduce.
1. Go the homepage
2. click/tap on the search icon
3. Enter `label:type-media`

Expected:
Get the list of bugs with `type-media` label

Actual:
Empty list with a URL being
`https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=label%253Atype-media`

Note: `&q=label%253Atype-media`

Going to the issues list page a

[2017-04-17 00:06] karlcow commented on #1506
I'm no JS developers. But from a beginner perspective, I find it easier to read when semi-colons are here. It helps me understand where are the limits of a block. The voice of the newbie ;)

[2017-04-17 00:23] #1360 closed

[2017-04-17 16:05] #1140 closed

[2017-04-17 17:39] #1499 closed

[2017-04-17 17:50] miketaylr commented on #1515
Yeah, I feel like this is a dupe of some already existing issue... we screw up the URI encoding (probably in multiple places).

[2017-04-17 22:09] adamopenweb opened #1516 "Reported type incorrect for some media error reports"
There are some issues being tagged as "reported_with: web" when they are coming from media decode errors.

[This one](https://github.com/webcompat/web-bugs/issues/5765) is anonymous:
[code]
but also contains in the description:
[code]

[Another example](https://github.com/webcompat/web-bugs/issues/5879) where the account is signed in.

[2017-04-17 22:14] adamopenweb commented on #1516
@squelart what URLs are you sending for the media errors?

[2017-04-17 22:19] zoepage commented on #899
@magsout I agree on SVG. Could be a great issue for our all-hands list? :)

[2017-04-17 22:40] squelart commented on #1516
@adamopenweb Currently the URL is something like:
https://webcompat.com/issues/new?url=URL&problem_type=video_bug&src=media-decode-error&details=TECH
(I will be adding 'label=type-media' in the next few days)

IIRC the "reported_with" tag comes from 'src' in the URL, right? It's hard-coded to be "media-decode-error" when the user clicks on "Report site issue" from the decode-error notification bar

[2017-04-17 23:01] adamopenweb commented on #1516
Thanks!

@miketaylr: I looked up the request on GA for the bug that didn't assign properly (5765):
[code]

And here's one that worked (5781):
[code]

Both have "&src=media-decode-error".

I noticed both example bugs I listed in description of this report have URLs with query strings. Maybe that's borking it?

[2017-04-18 09:23] softvision-sergiulogigan commented on #1433
Hi, @magsout , I have tested both in Chrome and Firefox, and I was unable to reproduce the issue. It seems it has been fixed, so it can be closed now.

[2017-04-18 09:45] magsout commented on #1433
Cool, thanks @softvision-sergiulogigan

[2017-04-18 09:45] #1433 closed

[2017-04-18 09:51] magsout commented on #899
@zoepage added on my all hands SF todolist ;)

[2017-04-18 09:56] magsout commented on #1515
@miketaylr @karlcow

yeah, duplicate of https://github.com/webcompat/webcompat.com/issues/1345

[2017-04-18 11:45] softvision-sergiulogigan opened #1517 "The label selection list should open from under the clicked button"
**Environment:**
Browser / Version: Chrome 57.0.2987.133 (Desktop), Firefox 52.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/5899 (for example).
2. Click the gear icon next to "Labels".

**Expected Behavior:**
The label selection list is opened from under the "Labels" string.

**Actual Behavior:**
The label selection list s

[2017-04-18 14:01] magsout commented on #1345
@MDTsai is that ok, if I take this issue ?

[2017-04-18 14:43] MDTsai commented on #1345
@magsout  sure, please take that

[2017-04-18 15:02] miketaylr commented on #1516
ooh, that's entirely possible. 🐛 🐞

[2017-04-18 15:32] miketaylr commented on #1516
Hmm, logging out `request.param` and it looks a bit... weird.

[code]

[2017-04-18 15:44] miketaylr commented on #1516
Ah, I see. It's choking in the details stack.

That said, `request.param.get('src')` is what I expect it to be, and we parse the `details` param client-side in JS, so maybe not where the bug lives.

[2017-04-18 18:16] magsout commented on #1517
@softvision-sergiulogigan thanks, you're right

[2017-04-18 19:32] #1035 closed

[2017-04-18 21:05] squelart commented on #1516
That RecvDecodeFailed function takes a `const uint32_t&`, so I'm guessing the '&' is causing trouble in your example above! URLSearchParams encodes '&' as "%26".

Though trying https://webcompat.com/issues/new?url=URL&problem_type=video_bug&src=media-decode-error&details=const+unsigned+int+%26%29%3A+blah%0AResource%3A+foo seems to work fine. :-S

[2017-04-18 21:23] miketaylr commented on #1516
Yeah, I'm not convinced that's where the bug is just yet. Will keep poking at it.

[2017-04-18 22:12] miketaylr opened #1519 "CSP error when doing unauthed search from issues page"
`Content Security Policy: The page’s settings observed the loading of a resource at https://api.github.com/search/issues?page=1&per_page=50&stage=all&sort=created&q=label%3Astatus-tacos+state%3Aopen+repo%3Awebcompat%2Fwebcompat-tests&order=desc (“connect-src http://localhost:5000”). A CSP report is being sent.
`

1. go to localhost:5000/issues
2. do a search
3. observe CSP error in devtools consol

[2017-04-18 23:48] karlcow commented on #1516
@miketaylr
this indeed not good. What did you use to generate this one?

[code]
The part which is not good is this line:

[code]

There are a couple of things I don't like with this.

[2017-04-20 19:53] miketaylr commented on #1436
Decision: let's stick with the janitor script for now. We can revisit the idea of team/org membership in the future, because we're interested in that.

[2017-04-20 19:53] miketaylr commented on #1436
Let's close in favor of #1251.

[2017-04-21 13:01] #1515 closed

[2017-04-21 14:20] softvision-sergiulogigan opened #1520 "The label selection button is no longer displayed after setting a label"
**Environment:**
Browser / Version: Chrome 57.0.2987.133 (Desktop), Firefox 52.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/5899 (for example).
2. Click the gear icon next to "Labels".
3. Select a label.
4. Click the "Save & Close" button. Observe the behavior.

**Expected Behavior:**
The label is set, and the label select

[2017-04-21 14:25] softvision-sergiulogigan opened #1521 "The selected label is not displayed after refreshing the page"
**Environment:**
Browser / Version: Chrome 57.0.2987.133 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/5899 (for example).
2. Click the gear icon next to "Labels".
3. Select a label.
4. Click the "Save & Close" button.
5. Refresh the page.

**Expected Behavior:**
The previously selected label is displayed.

**Actual Behavior:**
The pre

[2017-04-21 18:08] miketaylr commented on #1520
Ah yeah, nice reminder to fix this. Dupe of #1204.

[2017-04-21 18:08] #1520 closed

[2017-04-21 18:40] miketaylr commented on #1521
@softvision-sergiulogigan I'm having a hard time understanding this one.

Using staging.webcompat.com (let's use this so we don't mess with live issues):

https://staging.webcompat.com/issues/515
(username: s, pw: s)

Can you upload some screenshots, or gif or something? I just tried and didn't see anything unexpected in Chrome.

[2017-04-21 19:22] softvision-sergiulogigan commented on #1521
Hi, @miketaylr
Hope this helps: https://drive.google.com/open?id=0Bwy7JbK8dvvXQ19Td2xJcWFXdzg
Unfortunately, the Screen Capture plug-in did not capture the Right Click menu  - Refresh action, but it's there.

##Environment:##
Browser / Version: 58.0.3029.81 (64-bit) (Desktop)
Operating System: Linux Mint 18.1

[2017-04-21 20:36] miketaylr commented on #1521
Awesome thanks @softvision-sergiulogigan!

(uh, the bug is not awesome. also the styling on those checkboxes looks less than great...) 🙈

[2017-04-21 22:23] karlcow commented on #1521
For the gear which disappears in this video  it is issue
labels gear disappears after changing labels #1204

[2017-04-24 13:10] softvision-sergiulogigan opened #1522 "The label selection popup should be redesigned"
**Environment:**
Browser / Version: Chrome 57.0.2987.133 (Desktop), Firefox 52.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/5899 (for example).
2. Click the gear icon next to "Labels".

**Expected Behavior:**
The checkbox does not overlap the label color.

**Actual Behavior:**
The checkbox overlaps the label color.

**Note

[2017-04-24 14:32] karlcow opened #1523 "Create a deploy.ignore file for fabfile"
After discussing with @miketaylr
Currently, we rely on .cvsignore file. It doesn't have to be system dependent and clutter the space of every person deploying the site.
We can create a deploy.ignore file in our own repo.

rsync --exclude-from=/path/to/deploy.ignore

[2017-04-24 14:54] karlcow commented on #1523
[code]

[2017-04-24 15:01] #1523 closed

[2017-04-24 15:18] miketaylr commented on #1522
This is what I see on Mac -- @magsout do you have a way to test in Windows to verify?

<img width="262" alt="screen shot 2017-04-24 at 5 18 12 pm" src="https://cloud.githubusercontent.com/assets/67283/25344309/08c0c80e-2912-11e7-9af4-1869472d9f90.png">

[2017-04-24 15:33] miketaylr commented on #1204
If that was true in the past, it's not now. We call it once in the issue model handler, and once in the StateButtonView, which is expected.

[2017-04-25 04:56] #1204 closed

[2017-04-25 06:29] karlcow commented on #1522
Tested on Firefox 53 (aka latest release production)
![capture d ecran 2017-04-25 a 08 28 30](https://cloud.githubusercontent.com/assets/505230/25371464/3a25bc86-2991-11e7-87bb-7d190e618724.png)

no issue.

[2017-04-25 06:34] karlcow commented on #1522
In Safari Tech Preview. Release 28 (Safari 10.2, WebKit 12604.1.17)

![capture d ecran 2017-04-25 a 08 31 10](https://cloud.githubusercontent.com/assets/505230/25371534/94850164-2991-11e7-989d-2be95a546346.png)

In Opera Blink. 45.0.2552.225
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.41 Safari/537.36 OPR/45.0.2552.225 (Edition beta)

![c

[2017-04-25 09:30] miketaylr commented on #55
We decided this isn't something we have the bandwidth to take on right now.

[2017-04-25 09:30] #55 closed

[2017-04-25 09:46] miketaylr opened #1526 "Split up current CONTRIBUTING.md"
We're killing #264 and doing this instead (until we have improvements in tooling **https://github.com/webcompat/webcompat.com/issues/1310).**

* [x] make a docs directory
* [x] split out contributing.md into markdown docs
* [x] link to those from CONTRIBUTING.md
* [ ] make sure links work

[2017-04-25 09:46] miketaylr commented on #264
Closing in favor of #1526.

[2017-04-25 09:46] #264 closed

[2017-04-25 09:47] miketaylr commented on #609
This is fixed.

[2017-04-25 09:47] #609 closed

[2017-04-25 09:48] miketaylr commented on #287
We think this is done. 🎉

[2017-04-25 09:48] #287 closed

[2017-04-25 09:56] miketaylr commented on #307
Let's do this in Q3, post #1480.

[2017-04-25 09:59] miketaylr commented on #310
We have bigger priorities for now, probably not gonna get to this.

(sorry @calexity 😭)

[2017-04-25 09:59] #310 closed

[2017-04-25 10:00] miketaylr commented on #327
So, this is technically interesting, but we've never come close to needing it. Let's reopen when we need it.

[2017-04-25 10:00] #327 closed

[2017-04-25 10:04] miketaylr commented on #396
Status update: we want to do this, but need to be able to mock comms with GitHub first (see also #712).

[2017-04-25 10:11] miketaylr commented on #442
We changed our mind on how we want to do this. @karlcow can you file the bug?

[2017-04-25 10:11] #442 closed

[2017-04-25 10:16] miketaylr commented on #445
We want to do this at some point, but we're gonna close and stick it in the backlog.

[2017-04-25 10:16] #445 closed

[2017-04-25 10:17] #447 closed

[2017-04-25 10:19] miketaylr commented on #454
@karlcow recently did this work and said we're in a good place. We can make improvements, but nothing on fire.

[2017-04-25 10:19] #454 closed

[2017-04-25 10:20] miketaylr commented on #455
This is covered by the work that Ola is proposing.

[2017-04-25 10:20] #455 closed

[2017-04-25 10:23] miketaylr commented on #456
Note: @karlcow wants to make a graph of the model of how Flask communicates with GitHub. @karlcow can you file an issue? Let's do that this week.

[2017-04-25 10:23] #456 closed

[2017-04-25 11:47] miketaylr commented on #462
moving to backlog

[2017-04-25 11:47] #462 closed

[2017-04-25 11:48] miketaylr commented on #492
Closing in favor of #746.

[2017-04-25 11:48] #492 closed

[2017-04-25 12:00] miketaylr opened #1527 "Remove main dropdown sort thing ("View all issues", etc.)"
We don't think anybody uses it, also the @ mentions and issues reported by me are captured in /activity/person, and you can see closed issues via the closed filter label. Seems redundant so let's remove it.

[2017-04-25 12:00] miketaylr commented on #510
Note: we like these designs and want to come back to them. But the issue around filtering on closed will be made obsolete by #1527.

[2017-04-25 12:00] #510 closed

[2017-04-25 12:10] miketaylr commented on #596
Probably depends on #1305. But I agree we want this.

[2017-04-25 12:18] miketaylr commented on #611
@magsout is this still relevant, and what kind of task are you trying to do on the train? Work on webcompat.com dev bugs? Triage issues (which gets hard w/o internet lol?).

[2017-04-25 12:22] #615 closed

[2017-04-25 12:23] miketaylr commented on #637
This is done.

[2017-04-25 12:23] #637 closed

[2017-04-25 12:23] miketaylr commented on #642
wontfix

[2017-04-25 12:23] #642 closed

[2017-04-25 12:27] miketaylr commented on #694
Moving to backlog until we need it.

[2017-04-25 12:27] #694 closed

[2017-04-25 12:29] #695 closed

[2017-04-25 12:32] miketaylr commented on #702
Karl told me to close this.

[2017-04-25 12:32] #702 closed

[2017-04-25 12:35] miketaylr commented on #702
This was fixed by #1049.

[2017-04-25 12:36] miketaylr commented on #706
We're gonna close this, Flask handles logging in a way that makes it difficult for us to create granular logging  by file.

[2017-04-25 12:36] #706 closed

[2017-04-25 12:53] miketaylr commented on #715
@adamopenweb and @karlcow will discuss how to move forward this week.

[2017-04-25 12:54] miketaylr commented on #723
For now, decided to WONTFIX in favor of #60

[2017-04-25 12:54] #723 closed

[2017-04-25 13:00] karlcow opened #1528 "When uploading an image, keeps the cursor position"
Currently when uploading an image. It is added at the end of the textarea (sometimes below the visible area) instead of where the cursor is currently positioned.

To solve this, maybe grab the cursor position in the textarea and inject the uploaded image markup at the same position.

[2017-04-25 13:17] zoepage commented on #1489
@brizental Sounds good to me :)

What do you think @magsout ?

[2017-04-25 13:27] miketaylr opened #1529 "Audit our image loader usage"
Where do we show loader images and in what circumstances?

Related to #746 and #1000.

[2017-04-25 13:45] zoepage opened #1530 "Switching main font from 'Helvetica Neue' to 'Open Sans'"
As "Helvetica Neue" is just a system font for OSX, I'd like to suggest to switch to ["Nunito Sans"](https://fonts.google.com/specimen/Nunito+Sans).
(Let's not talk about font performance or other things, as this is something we can discuss later, because those are issues we can definitely solve 🐱).

I also feel it would improve the readability of the site + make it feel more "round".

Here are som

[2017-04-25 14:42] zoepage commented on #1477
Is this still an issue @nj4710 ?

[2017-04-25 14:44] zoepage commented on #1473
Are there any updates here? :)

[2017-04-25 14:47] zoepage commented on #1310
In addition to creating the CLI tool, we'll need to clean up the CONTRIBUTE.md and remove the info that got obsolete.

[2017-04-25 14:59] zoepage commented on #1517
I don't feel like this is a bug as it is popping up under the "label" label, which sums up the list?
But I see, improvements can be made towards UX.

How about we take away the triangle from the list, so it points nowhere?

[2017-04-25 15:14] miketaylr commented on #768
Let's not do this.

[2017-04-25 15:14] #768 closed

[2017-04-25 15:20] miketaylr commented on #781
Let's reconsider after #886

[2017-04-25 15:21] zoepage commented on #1217
This will be fixed with the changes in #1480

[2017-04-25 15:21] #1217 closed

[2017-04-25 15:22] #795 closed

[2017-04-25 15:23] zoepage commented on #1134
Fixed.

[2017-04-25 15:23] #1134 closed

[2017-04-25 15:24] miketaylr commented on #834
Revisit after #886.

[2017-04-25 15:25] miketaylr commented on #839
I think we don't want to do this anymore.

[2017-04-25 15:25] #839 closed

[2017-04-25 15:26] miketaylr commented on #863
We don't want to do this right now.

[2017-04-25 15:26] #863 closed

[2017-04-25 15:26] #864 closed

[2017-04-25 15:27] miketaylr commented on #866
We're not gonna do email subscription for now.

[2017-04-25 15:27] #866 closed

[2017-04-25 15:33] miketaylr commented on #877
To fix:

* [ ] remove the session username check in the `show_user_page` view method in views.py
* [ ] make sure tests still work, or are updated

(I think that's it?)

[2017-04-25 15:36] miketaylr commented on #884
Let's close... we don't remember why we want to do this.

[2017-04-25 15:36] #884 closed

[2017-04-25 15:37] zoepage commented on #1352
related to #897

[2017-04-25 15:37] zoepage commented on #897
Closing in fav of #1352

[2017-04-25 15:37] #897 closed

[2017-04-25 15:40] miketaylr commented on #924
Seems like it's fixed. Let's close.

[2017-04-25 15:40] #924 closed

[2017-04-25 15:56] nj4710 commented on #1477
I tested this again on chrome. It works fine for me. Probably @miketaylr had some problems.

[2017-04-25 16:25] zoepage commented on #1477
Thanks. Closing. :)

[2017-04-25 16:25] #1477 closed

[2017-04-25 16:35] zoepage commented on #1062
@miketaylr after 11 months this might pop up soon, I guess?

[2017-04-25 19:26] denschub commented on #1062
Thanks for bringing this up, @zoepage.

Moving everyone in a role as "outside collaborators" would not work, those count as users as well. Whatever we do, I'd **strongly** vote against using a "personal" account like the webcompat bot as a pseudo org for many reasons, which I hope are obvious, but I can elaborate if someone wants me to.

I'd go with downgrading the org to the free plan. Some of us

[2017-04-25 19:26] magsout commented on #1522
@miketaylr

In
Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0
Windows 10
![capture d ecran 2017-04-25 a 21 25 08](https://cloud.githubusercontent.com/assets/1997108/25403787/d683d0d8-29fd-11e7-9b7f-7d8e59c079b7.png)

[2017-04-25 22:04] miketaylr commented on #1530
@zoepage maybe if you send in a PR we can deploy it to staging to get a better feel. It's hard for me to judge based on screenshots (I might just be tired?).

[2017-04-25 22:06] miketaylr commented on #1526
We have a docs dir. And it has the rst stuff from @karlcow. I'm going to delete that and re-use the dir (we closed #264 so I feel like this should be OK).

[2017-04-25 22:20] miketaylr commented on #1474
This should go here:

https://github.com/webcompat/webcompat.com/blob/master/CONTRIBUTING.md#javascript

[2017-04-25 22:33] miketaylr commented on #1526
Gonna use the following structure:

* CONTRIBUTING.md (Main doc, will keep stuff not listed below in main file)
 *  [ ] PR + Coding Guidelines
  * [ ] Development Environment Setup
  * [ ] Building the Project
  * [ ] Tests
  * [ ] Production Server Setup

I'd like to remove the Triaging Issues section, because I think it's not great for the scope of this repo. But I'll file another issue.

[2017-04-25 22:51] miketaylr commented on #775
Looking at docs, seems like I already did this.

[2017-04-25 22:51] #775 closed

[2017-04-26 04:51] zoepage commented on #1062
I second @denschub.

The amount of users is more important than private repos (if thats the only criteria). Those could live in our private accounts and the others invited to collaborate. Moved to a public one on webcompat, if necessary.

Also, +1 on mozilla and the payed plan.

[2017-04-26 05:04] zoepage commented on #1530
@miketaylr Sure, it will take a bit as the height of the font is different and that might change/break some layouts, I want to check first.

[2017-04-26 05:07] karlcow commented on #1530
One of the reasons I like a system font is that it removes a dependency on an external 3rd party service (and eventually yet another tracker). Personally it doesn't affect me, because I'm blocking `fonts.google.com` (no issue with speed and tracking from Japan once it is blocked), but I'm not sure we gain things for the project.

[2017-04-26 05:14] zoepage commented on #1530
@karlcow there are a lot of ways to solve performance issues and ways to implement. So, let's not talk about that right now. :)

Helvetica is no general system font, Arial is. Arial was not created for modern browsers / mobile devices and has a few pitfalls when it comes down to readability and small screensizes.

[2017-04-26 05:34] magsout commented on #1530
@zoepage good idea 👍

@karlcow @zoepage what about https://css-tricks.com/snippets/css/system-font-stack/ ? I just mention it because @zoepage you talk about general system font. I would really like to see what your font do.

[2017-04-26 05:52] zoepage commented on #1530
@magsout the only one we could use from your list them would be http://font.ubuntu.com/ :)

[2017-04-26 06:02] zoepage commented on #1522
@softvision-sergiulogigan is this what you'd suggest?

![lables](https://cloud.githubusercontent.com/assets/562354/25420081/a200ac56-2a56-11e7-939b-4923ce713d39.png)

[2017-04-26 06:18] softvision-sergiulogigan commented on #1522
Either this, or maybe the current version with the checkboxes on the right side.

[2017-04-26 07:18] #1526 closed

[2017-04-26 07:58] MDTsai opened #1533 "[meta] alexa webhook to prioritize the issues based on their domain name"
I would like to implement an alexa webhook. While a new issue created, the webhook can get the ranking of the website on alexa and attach the information to the issue. This could help us to prioritize the issue when triage.

* [x] #1579 Implement a python script to dump alexa top sites to db + Unit tests
* [x] #1592 Create 3 labels for issue priority from alexa ranking
* [x] #1594 Implement alexa

[2017-04-26 08:02] magsout commented on #1023
althought https://github.com/webcompat/webcompat.com/pull/1518 is merged, still an issue. I can investigate if you want @miketaylr ?

[2017-04-26 08:09] magsout commented on #1480
thanks @karlcow @zoepage @miketaylr for your feedback.

[2017-04-26 08:10] zoepage commented on #1522
@softvision-sergiulogigan

Not sure what you mean by this. Could you explain this a bit more? Thanks!

[2017-04-26 08:15] magsout commented on #1489
@zoepage @brizental 💯

2) hum, what about using `s`  to save instead ?

totally agree with improved accessibility with Label Editor. Thanks @brizental

[2017-04-26 08:19] #1491 closed

[2017-04-26 08:22] softvision-sergiulogigan commented on #1522
Sure, but sorry for my bad Paint skills :P
![screenshot_1](https://cloud.githubusercontent.com/assets/16573771/25424863/90fd5582-2a72-11e7-8e3b-0d189d9418b8.png)

[2017-04-26 08:24] magsout commented on #1310
@zoepage very good idea 👍

I would love to help if you want

[2017-04-26 08:33] zoepage commented on #1489
Not sure, if this is little to much overhead regards the learning curve to add another key? :) I feel like the `Enter` is a great behaviour people already have learned.

[2017-04-26 08:34] #805 closed

[2017-04-26 08:42] magsout commented on #611
@miketaylr old issue ;)

we can close for now.

[2017-04-26 08:42] #611 closed

[2017-04-26 08:44] magsout commented on #611
I wanted to have access to the test issues because the internet connection is bad. But it's ok. I sleep on the train ;)

[2017-04-26 08:44] miketaylr commented on #963
Let's tackle this when we do #1305. So when people pick a status, it leaves a comment saying:

See also #1436 for relevant discussion.

[2017-04-26 08:45] #968 closed

[2017-04-26 08:47] miketaylr commented on #976
This doesn't reproduce anymore.

[2017-04-26 08:47] #976 closed

[2017-04-26 08:51] miketaylr commented on #992
The reason we want to do this is so we can provide a link back to the webcompat issue.

[2017-04-26 08:52] zoepage commented on #611
@magsout So, to web-bugs? :)

[2017-04-26 08:53] miketaylr commented on #998
To check if this was fixed by #1518 -- @magsout would you mind?

[2017-04-26 08:54] magsout commented on #1474
@miketaylr certainly

[2017-04-26 08:54] miketaylr commented on #998
Ping @zoepage

[2017-04-26 08:55] miketaylr commented on #1529
Ping @zoepage

[2017-04-26 08:59] magsout commented on #1489
@zoepage You're probably right

[2017-04-26 08:59] magsout commented on #1489
@zoepage `Enter`  seems to be a good choice 👍

[2017-04-26 09:00] zoepage commented on #1489
Thanks @magsout for your feedback :)

@brizental Would you be interested to work on this? :)

[2017-04-26 09:01] miketaylr commented on #1015
Related to #457. Let's figure this out when we get there.

[2017-04-26 09:01] miketaylr commented on #1023
Yes please!

[2017-04-26 09:01] magsout commented on #611
@zoepage yes, exactly

[2017-04-26 09:04] magsout commented on #998
@miketaylr I 'll check

[2017-04-26 09:04] miketaylr commented on #1024
Let's not fix this. 💣

[2017-04-26 09:04] #1024 closed

[2017-04-26 09:08] miketaylr commented on #1025
Ehhh, probably never gonna do this.

[2017-04-26 09:08] #1025 closed

[2017-04-26 09:10] miketaylr commented on #1037
@karlcow can you check if this is still an issue?

[2017-04-26 09:11] magsout commented on #1025
@miketaylr It already works on the submission form ?

[2017-04-26 09:14] miketaylr commented on #1061
Let's close in favor of #694.

[2017-04-26 09:14] #1061 closed

[2017-04-26 09:19] miketaylr commented on #1062
Thanks for the discussion everyone. For now, the plan is when/if GitHub enforces this new pricing structure they will let us know (according to email from support, anyways). So, we'll burn that bridge when we get to it. 🔥

And yeah, the smart move will be to move to the no private repos stuff.

[2017-04-26 09:19] #1062 closed

[2017-04-26 09:20] miketaylr commented on #1082
This is by design, for now.

[2017-04-26 09:20] #1082 closed

[2017-04-26 09:27] miketaylr commented on #1083
Needs more fleshing out in terms of UX/UI/workflow from @adamopenweb and @karlcow.

[2017-04-26 09:28] #1146 closed

[2017-04-26 09:30] #1153 closed

[2017-04-26 09:32] zoepage commented on #1522
I'll remove the `type:bug` label as this seems more like a design suggestion then a bug.

[2017-04-26 09:35] miketaylr commented on #1158
Let's close, we should probs be using the notcompat milestone for these types of issues.

🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲🚲

[2017-04-26 09:35] #1158 closed

[2017-04-26 09:36] miketaylr commented on #1171
That sounds nicer than hacking the markdown parser.

[2017-04-26 09:40] miketaylr commented on #1177
(Note, the above messages don't link to anything meaningful anymore. Some jerk deleted them)

[2017-04-26 09:44] denschub opened #1534 "Design and implement a landing page for people coming in via the Firefox Developer Tools"
Soon™, we will have an option inside our GoFaster addon to add a link if we changed a site. This notification targets both the site developers and potential users, to make them aware that we changed something, and, even better, to make clear what we've changed and how they can disable our modifications.

A message in the DevTools console might look like:

<img width="763" alt="screen shot 2017-04-

[2017-04-26 09:49] miketaylr commented on #1179
Action items: @adamopenweb and @karlcow to come up with a set of stuff.

[2017-04-26 09:49] miketaylr commented on #1200
https://github.com/webcompat/webcompat.com/blob/master/webcompat/views.py#L157-L210

[2017-04-26 09:53] miketaylr commented on #1223
This should not happen by design anymore -- there shouldn't be any "needstriage" AND "closed" issues. (@karlcow has a script to make sure this stays true, most of the time).

[2017-04-26 09:53] #1223 closed

[2017-04-26 09:54] zoepage opened #1535 "add pagination in "all issues" list at bottom of list"
http://localhost:5000/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc

Pagination `prev` && `next` is above the list.
<img width="1289" alt="screen shot 2017-04-26 at 11 50 25 am" src="https://cloud.githubusercontent.com/assets/562354/25428729/eb822cc2-2a76-11e7-8da9-84c5d9790017.png">

We should also add it below the list, so you do not have to scroll up when you want t

[2017-04-26 09:54] miketaylr commented on #1231
No longer valid since we're removing "view all issues".

[2017-04-26 09:54] #1231 closed

[2017-04-26 10:15] zoepage commented on #611
@magsout We talked about that use case yesterday. Would you be able to test web-bugs without an internet connection, because you wouldn't be able to check the websites? Or am I missing something?

Otherwise you could use https://schultyy.github.io/offline-issues/ ?

[2017-04-26 10:19] zoepage commented on #1535
@magsout Is this something you'd like to work on? :)

[2017-04-26 14:57] brizental commented on #1489
@zoepage Sure, I would like to work on this :)

[2017-04-26 18:26] magsout commented on #1535
@zoepage sure 👍

[2017-04-26 18:48] magsout commented on #1534
@denschub it's a very good idea. I like it. 👍

[2017-04-26 18:57] magsout commented on #998
### test:
    Go to webcompat.com
    click search in top nav bar
    search for "http://google.com"

result:  https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=%22http%3A%2F%2Fgoogle.com%22

![capture d ecran 2017-04-26 a 20 53 58](https://cloud.githubusercontent.com/assets/1997108/25451442/7d1b1a4a-2ac2-11e7-8c73-6ea74672be0f.png)

### test:

[2017-04-26 18:57] #998 closed

[2017-04-26 19:00] magsout commented on #1023
this link  https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=%22country%3A+jp%22 works now, it's fixed by #1518

[2017-04-26 19:18] magsout opened #1536 "No results were found with a q param and state at all"
STR:

  Goto: https://webcompat.com/issues?page=1&per_page=50&state=all&stage=all&sort=created&direction=desc
 click on a label like: `firefox-mobile`

Expected Results:
Display related bugs

Actual Results:
Sorry, no results were found.

[2017-04-26 19:20] magsout commented on #1536
Related to https://github.com/webcompat/webcompat.com/issues/1023

When you 're login you have 0 result, when you are not log in, you have an error as mentioned inhttps://github.com/webcompat/webcompat.com/issues/1023

[2017-04-26 19:21] magsout commented on #1536
I don"t see anything related to JS, so maybe the bug is caused by something wrong with /api python ?

[2017-04-26 19:26] magsout commented on #1023
The error is reproducible only if we are not log in.

It would seem that this is a response from the local API

[2017-04-27 05:18] karlcow commented on #442
@miketaylr It seemed clear the way we wanted to do this. But now I'm confused re-reading the full bug in details.
During the meeting, we said we wanted to have a tool helping us managing issues such as being able to see how old a bug is etc. ok Let me spin-off this in a different way.

[2017-04-27 05:26] karlcow opened #1537 "Personal dashboard for managing issues"
This is a follow-up issue on "Custom issue dashboard" #442
We probably need to re-focus on small things we can achieve without putting in place a heavy machinery. The purpose of this issue is to discuss with @MDTsai @denschub @adamopenweb @wisniewskit and others what are the tools missing so that we can better manage the issue.

But I would love we stay very much down to earth. Features that we ca

[2017-04-27 07:02] MDTsai commented on #1537
It would be good if I can easily find similar issue, like input padding, viewport. Close or give proper solution. Which could be done by given my own tag to issues.
+1 to have a notice while sitewait bug doesn't update in 2 weeks, nice idea!

[2017-04-27 07:41] karlcow commented on #1537
The design doesn't have to stay also as it is currently too.
This morning I was doing this
![capture d ecran 2017-04-27 a 09 39 28](https://cloud.githubusercontent.com/assets/505230/25472926/9f2049ec-2b2d-11e7-8e17-40430fefd42d.png)

and then I discussed with @adamopenweb about how we could make something even more compact with filters.

[2017-04-27 08:31] magsout commented on #1537
@karlcow I had created an issue about `Commented by` https://github.com/webcompat/webcompat.com/issues/1337 ?

[2017-04-27 09:34] denschub commented on #1537
Okay, here are my $.02.

When I do triage work, I actually use [webcompat.com with a filter on needstriage](https://webcompat.com/issues?page=1&per_page=50&state=open&stage=needstriage&sort=created&direction=desc), and this works just fine. However, when I do diagnosis work, not so much. As most of you know, I use my own dashboard thingy for a couple of reasons: I want to be able to exclude some l

[2017-04-27 09:47] zoepage commented on #1537
I am pro everything that helps us to do our work, I also agree to what @denschub said.

I guess, we should make sure which features are needed and which are a nice-to-have plus how much time and work we are able to spend on building them. For the UX work, I'd appreciate if e.g. @lockettm or someone else could provide their knowledge, so we are sure what to do from the get go?

So, summed up... let

[2017-04-27 10:03] zoepage commented on #1534
I like the idea a lot!

    The sites developers who want to know the solution of given issue and a way to test the site without having our modifications in place.

@denschub Those two points are related towards content, so we would either need to provide content for this or links to e.g. release notes, correct?

So, we'd have one entry point (= one URI) and go from there?

    A very short introd

[2017-04-27 10:22] magsout commented on #1345
Fixed by https://github.com/webcompat/webcompat.com/pull/1518

[2017-04-27 10:22] #1345 closed

[2017-04-27 10:27] zoepage commented on #1483
This list is a WIP.

## general
Bot related labels.

#### ready
#### site-development
#### in progress

## lang
Language relevant to issue
Main purpose is helping contributors with filtering the issues.

#### lang: CSS
CSS is relevant to that issue.

#### lang: HTML
HTML is relevant to that issue.

#### lang: JS
Javascript is relevant to that issue.

#### lang: Markdown
Markdown is relevant to tha

[2017-04-27 10:58] zoepage commented on #1483
@karlcow @magsout @adamopenweb @miketaylr (and who ever feels like adding input):
Could you please check, if the description of the labels are correct and if there is anything we could delete / change? Would be really appreciated. <3

Thank you.

[2017-04-27 11:36] karlcow commented on #1483
Thanks @zoepage for doing this. Very useful.

[2017-04-27 11:38] miketaylr commented on #1536
Hmm, seems like we broke something. :(

[2017-04-27 12:05] karlcow commented on #1536
## Loggedin Scenario

1. https://webcompat.com/issues?page=1&per_page=50&state=all&stage=all&sort=created&direction=desc
2. click on `firefox-mobile` https://webcompat.com/issues?q=label:browser-firefox-mobile
3. This is converted into https://webcompat.com/api/issues/search?page=1&per_page=50&state=all&stage=all&sort=created&direction=desc&q=label%3Abrowser-firefox-mobile
4. it returns

[code]

N

[2017-04-27 12:07] miketaylr commented on #1536
@magsout this bug goes away when we land #1531, right? (We decided to kill the main "View all foo" dropdown).

[2017-04-27 12:14] zoepage commented on #1283
Fixed.

[2017-04-27 12:14] #1283 closed

[2017-04-27 12:16] zoepage opened #1539 "New Content Structure for webcompat.com"
After the work & research of the past few months, this is a proposal for a new content structure for webcompat.com. Please add your feedback or questions below. Happy to provide as much context as possible. (also the label [scope: content](https://github.com/webcompat/webcompat.com/labels/scope%3A%20content) could give a bit more context / ideas.)

After the structure is set, we will start a doc w

[2017-04-27 12:18] karlcow commented on #1536
Following @miketaylr idea
Going to https://webcompat.com/issues and then clicking on a label it works.

On the all issues page this query is working
[code]

On the page that @magsout mentions this is not working.
[code]

AND if I directly enter the URI into the address bar
[code]

is working. and

[code]

 So there is definitely something funky in terms of context.

[2017-04-27 12:51] adamopenweb commented on #1539
@zoepage This looks great!
It might be cool to have something on the main page that mentions people are regularly using webcompat.com. Something like "someone reported a bug 10 minutes ago" or maybe "130 people reported bugs this week", with a link to Metrics.

[2017-04-27 12:52] denschub commented on #1534
A link to the web-bug probably would be enough.

Ack.

As long as the link is not too long, sure. Something like `https://webcompat.com/issueinfo/1234/?type=css` or whatever would work. We only have a limited subset of possible categories and providing a general text ("We've adjusted some CSS values to make the site look right on your browser.") is fine.

Not the right issue to have this discussio

[2017-04-27 13:55] zoepage commented on #1007
<details> == Form Design ==
We agreed that we need to improve the form. That probably means a simplification of the choices. Probably removing some of the options such as text visibility. The form was designed with a very strong mobile bias because it's where the majority of the issues is. We have also a thought about multi-screen process for filing the issues to make it less intimidating. The lab

[2017-04-27 14:40] zoepage commented on #1007
Mobile view
![form_mobile](https://cloud.githubusercontent.com/assets/562354/25488766/31d6bdf4-2b68-11e7-99cc-1c6330f7d183.png)

[2017-04-27 14:41] karlcow opened #1540 "Request/Proxy Model Graph"
Having a request/proxy model graph can be useful for contributors to understand how everything is working.

When I click

https://webcompat.com/issues/1

What's happening?

[2017-04-27 14:51] zoepage commented on #1007
Feedback from @adamopenweb && @miketaylr
Let's change `How did you get there` to `Which steps did you take to get there?`

[2017-04-27 15:03] zoepage commented on #1539
@adamopenweb I'd love that. We should include that in the mockups.

[2017-04-27 15:09] karlcow commented on #1528
Another issue related to this. When one has typed a lot of text and is at the bottom of the textarea, uploading the image will add markup to the textarea but outside of the visible view (a couple of lines below).

[2017-04-27 15:10] karlcow commented on #1540
See https://github.com/webcompat/webcompat.com/issues/1336#issuecomment-290021432
for a partial textual explanation.

[2017-04-27 15:12] adamopenweb commented on #1007
For `Which steps did you take to get there?` maybe the placeholder could mimic the format of steps we are looking for?
Something like: `1.Login 2.Click profile 3.Edit text`

[2017-04-27 15:14] zoepage commented on #1534
How do you want to generate them and where should they point to? Like, could you walk me through, so I get a better understanding of what you'd like to add and how to help building it? :)

[2017-04-27 15:20] #1090 closed

[2017-04-27 15:21] #1131 closed

[2017-04-27 15:23] miketaylr commented on #1138
cf. #1536.

[2017-04-27 15:24] miketaylr commented on #1324
We haven't seen this in a while, let's close.

[2017-04-27 15:24] #1324 closed

[2017-04-27 15:27] miketaylr commented on #1312
Fixed @ https://github.com/webcompat/webcompat.com/blob/6b27c28955d22fee6cf70b2393701368a5183616/config/__init__.py#L31

[2017-04-27 15:27] #1312 closed

[2017-04-27 15:33] karlcow commented on #1271
OK let's put a hardline on this. It will be solved by the hand of next week.

[2017-04-27 19:39] zoepage commented on #1007
I forgot to add another button, so the user has the choice to report logged in or anonymously.

[2017-04-28 17:59] caugner commented on #1007
First of all, the mock up for the improved design is significantly better than the current form. I like it. 👍

Regarding  `Describe what was wrong?` (versus `Describe what behavior you see?` and `Describe what behavior you expect?`) I could imagine that the quality regarding completeness sufficiency varies more due to the question being more open (referring to a diff between expected and actual be

[2017-04-28 19:32] magsout commented on #1483
👍 very good.

Why do we keep the labels of the bots?

[2017-04-28 19:35] magsout commented on #1536
@miketaylr yes, it is.. I did't see this PR.

[2017-04-28 19:52] #1536 closed

[2017-04-28 19:53] magsout commented on #1536
thanks @karlcow for your time and for all the tests you have done

[2017-04-28 20:02] magsout commented on #1023
Close due to https://github.com/webcompat/webcompat.com/pull/1531

[2017-04-28 20:02] #1023 closed

[2017-04-29 15:14] miketaylr opened #1542 "Investigate 500 when trying to report an issue"
Originally reported at https://github.com/webcompat/web-bugs/issues/6315.

[code]

I don't get a 500, but we should look at server logs to see if there isn't something else at play.

[2017-04-30 20:01] zoepage opened #1543 "401 on changing labels"
When I try to set a label on the issue page, I get `There was an error setting labels.` on every branch. It looks like this just happens to me as @magsout and @denschub tried it and it works.

I am logged in, am able to comment on an issue. It happens on various issues, with no label / labels already set... My config did not change, recreated a new app key. Still not working.

@karlcow @miketaylr

[2017-04-30 20:12] zoepage opened #1544 "Filter label does not get disselected after history.back"
1. Go to https://webcompat.com/
2. Click on "All issues"
3. Click on "needs diagnosis"
4. Hit back button (history.back)

Label is still selected.

@magsout Would you have time to take a look at this? :)

[2017-04-30 20:19] #1527 closed

[2017-04-30 21:32] karlcow commented on #1543
The message comes from https://github.com/webcompat/webcompat.com/blob/2e9f2444a789d39873e42d2292f150fc87b98845/webcompat/static/js/lib/models/issue.js#L128-L139

when labels are saved.
I can't reproduce myself. It is working for me. Was it in a specific version of Firefox? with addons? Or maybe just bad luck at the moment?

[2017-04-30 21:58] karlcow commented on #1542
I suspect this is nginx which is replying 500?
Testing with a local instance.

[code]

which is due to

[code]

ok

The issues comes from the URI.

[code]

which is once encoded.

[code]

The character causing trouble is:
* `’` RIGHT SINGLE QUOTATION MARK.
* UNICODE: `U+2019`
* UTF-8: `E2 80 99`

The fix is easy. The surprise is that it didn't happen before.

[code]

[2017-04-30 22:08] karlcow commented on #1542
Pull request done.

[2017-05-01 04:59] karlcow opened #1546 "Do not escape details/summary html markup in issues"
Currently we have issues containing details/summary
Example https://webcompat.com/issues/5628

[code]

They appear as on github.

![capture d ecran 2017-05-01 a 13 57 42](https://cloud.githubusercontent.com/assets/505230/25572450/35d9a356-2e76-11e7-942a-e915c0abd679.png)

and as on Webcompat

![capture d ecran 2017-05-01 a 13 58 39](https://cloud.githubusercontent.com/assets/505230/25572466/56879c

[2017-05-01 05:01] karlcow commented on #1546
Probably an issue with the sanitizer script handling markdown. We should check if there's a whitelist system for elements.

[2017-05-01 07:50] zoepage commented on #1543
The POST fails and the params are passed through correctly.

Chrome + Firefox are failing (for local setup). No specific addons. It looks like an auth issue with Github.

Did anyone of you change anything?

[2017-05-01 08:10] karlcow commented on #1543
not that I know. Did you reach your API limit?

[2017-05-01 08:43] karlcow commented on #1543
At least we didn't change anything that would break a key for you and not for the others.

[code]

I could publish
* a bug report
* add labels
* and leave  a comment

http://localhost:5000/issues/586
https://github.com/webcompat/webcompat-tests/issues/586

@zoepage your issue is from 13 hours ago and you say:

But the latest comments from you are 3 days old.
https://github.com/webcompat/webcompat-

[2017-05-01 10:58] zoepage commented on #1543
@karlcow I played around with the comments and also deleted a few of them.
Also set labels in the GH interface as well (worked) as well as in our interface (didn't work).

Rate limit seems ok.
[code]

[2017-05-01 15:39] miketaylr commented on #1542
Awesome work Karl.

[2017-05-01 15:39] #1542 closed

[2017-05-01 15:50] miketaylr commented on #1543
@zoepage I just revoked all user tokens from the local testing oauth app -- can you try to re-auth and see if the problem still exists?

[2017-05-01 15:51] miketaylr commented on #1543
(i kicked staging as well, for no real reason)

[2017-05-01 16:20] zoepage commented on #1543
@miketaylr thanks! Still failing :/

[2017-05-01 16:30] miketaylr commented on #1543
@zoepage what does https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example#L40 say for you in secrets.py? PM me if you'd like it to remain a secret :P

[2017-05-01 16:35] miketaylr commented on #1546
Hmm yeah, that's annoying.

[2017-05-01 18:23] zoepage commented on #1543
Interesting... I am also not able to close the issue.

[2017-05-01 22:49] karlcow commented on #1543
so everything which requires admin credentials basically and does not go through webcompat-bot.

[2017-05-01 22:51] karlcow commented on #1543
Your repo in `secrets.py` is:

[code]

[2017-05-02 07:44] zoepage commented on #1543
@karlcow yes.

[2017-05-02 11:47] zoepage commented on #1539
@miketaylr @karlcow @denschub @wisniewskit @lockettm
What are your thoughts?

[2017-05-02 12:15] zoepage opened #1547 "Refactor bug submit form"
## Context
-> https://webcompat.com/issues/new & https://webcompat.com/?open=1

More Context: https://github.com/webcompat/webcompat.com/issues/1007#issuecomment-297720355 (please see the work week notes in the details)

**NOTE:** *There will NOT be a redesign yet as seen in the mockups.* We aim to change the form structure first as well as the wording of the labels. :)

## Todos
**Text**
- [x] Fi

[2017-05-02 12:16] zoepage commented on #1547
@adamopenweb @miketaylr @karlcow anything I forgot in the todos?

[2017-05-02 12:19] denschub commented on #1534
What do you mean? The links? We'd generate them by hand and add them per individual override.

[2017-05-02 15:16] zoepage commented on #1543
sometimes you just need `rm -rf webcompat.com` in your life... (and new credentials)

[2017-05-02 15:16] #1543 closed

[2017-05-02 19:22] miketaylr commented on #1547
I added a "Update form validation in bugform.js" to the JS section, maybe there should be a "figure out what is optional/required" task as well?

[2017-05-02 19:26] zoepage commented on #1547
@miketaylr thanks. Also added the task.

[2017-05-02 19:26] miketaylr commented on #442
Uhhhhh, I think I waited too long to respond. My RAM cache got cleared. 🙈

[2017-05-02 19:27] miketaylr commented on #1483
Good question. Should we ditch waffle and move to GitHub projects, or just milestones? I log in once a month, if that. But happy to let it exist if at least 1 person finds value.

[2017-05-02 19:29] zoepage commented on #1483
+1 on GH projects.

Also +1 on that.

[2017-05-02 19:37] miketaylr commented on #1025
@magsout yeah, it "fake" works, because dropping an image on a label associated with a form element with serve as a drop target. I think the issue was originally intended to be for dropping an image anywhere on the page, like imgur does.

FWIW, I think our current solution is good enough. :)

[2017-05-02 20:36] miketaylr commented on #1483
These look good, thanks @zoepage!

[2017-05-02 20:43] miketaylr commented on #1477
This is usually true.

[2017-05-02 20:43] miketaylr commented on #1477
(also, thanks for testing again!)

[2017-05-02 21:25] miketaylr commented on #1539
I think some of these are a bit too Firefox-centric to fit with the project (thinking of GoFaster, report site issue). We could remove those and add https://github.com/webcompat/webcompat-reporter-extensions. Or, we could just link to other related projects from other browsers as well?

[2017-05-02 21:44] karlcow commented on #1539
1. What is metrics?
2. Should the FAQ be in the about the project?
3. +1 to mike's comments about tools.
4. cssfixme doesn't show up in there https://webcompat.com/tools/cssfixme
5. in "writing (blog, NL, documentation)" what is NL?
6. what's the difference between "writing (**blog**, NL, documentation)" and "contact / blog"?
7. What's the difference between "Intro" and "Intro to the project" on H

[2017-05-02 21:50] karlcow commented on #1547
Added "Massaging the data before sending them to the issue template. The structure being slightly different."

[2017-05-03 00:34] karlcow commented on #1483
## AGAINST
Here there is one comparison in between waffle and github projects.
https://what.thedailywtf.com/topic/22435/github-projects-vs-waffle
from the post and the comments (if you can pass the obnoxious ones). GH projects seem to require more work from users to manage issues.

Also
* https://news.ycombinator.com/item?id=12519912

## FOR
https://github.com/Lamassau/PiTrol/issues/26 Here I like

[2017-05-03 00:39] karlcow commented on #1483
Also it seems we are using Milestones as Projects? Maybe
https://help.github.com/articles/about-project-boards/

Something to take into consideration

[2017-05-03 10:32] MDTsai commented on #1533
I think in helpers.py, I can extend parse_and_set_label to get the base URL from **URL**, then query the alexa ranking, set to a new label (?)

[2017-05-03 11:05] zoepage commented on #1533
@karlcow ^ ?

[2017-05-03 12:17] zoepage commented on #1483
+1 !

Thank you @karlcow for the information.
Pro for GH Projects for me would be, not to have an additional tool.

As GH Projects seem like something in an early stage, we could also just wait with the move. :)
Maybe a clearer documentation about our workflow and the waffle.io board including a prominent link somewhere could also help to integrate the habit of using it for collaborators?

I got w

[2017-05-03 12:18] zoepage commented on #1547
@karlcow thanks for the addition. could you make the todo a bit more specific as I am not sure what "massaging the data" means? 😁 Also just adding a comment here and linking it next to the todo works. Thanks! :)

[2017-05-03 12:20] karlcow commented on #1533
@MDTsai this is a good idea. Interesting Project. We crossed the bridge of the tests flood that we need to handle every day. So we really need to prioritize.  This will require unittests and probably performance tests.

## First - Evaluation
As a first test, we should grab the list of all individual domains we have currently and make a one time script querying alexa for all these domains and defin

[2017-05-03 12:24] karlcow commented on #1483
@calexity proposed in #644 that we use a project dashboard for the issues. After searching for a tool I proposed waffle which has a tight integration with Gihub.

[2017-05-03 12:27] karlcow commented on #1547
@zoepage creating the payload on the python side which is sent to GitHub. We have a form with multiple parameter which is creating a JSON payload that we are sending to GitHub.
See https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L161

[2017-05-03 12:33] zoepage commented on #1539
@miketaylr

I'd be happy to add more general tools as e.g. the webcompat-linter or others, also from other related projects. If you have anything specific in mind, please feel free to post / add links in here. :)

@karlcow

https://github.com/webcompat/webcompat.com/issues/1539#issuecomment-297704386

The main purpose of a FAQ is to answer questions in a quick way, right? So, I feel like we should

[2017-05-03 12:34] zoepage commented on #1483
@karlcow ok. thanks for that context.

As we (mostly) do not use it, do we need it?

[2017-05-03 12:35] zoepage commented on #1547
@karlcow thank you :)

[2017-05-03 15:06] magsout opened #1548 "Pin the prettier version to specific version"
I think it would be necessary to block the prettier version in package.json to avoid errors like here https://github.com/webcompat/webcompat.com/pull/1538#issuecomment-298885812

The error is caused by a different version in the package.json. So every time we install prettier, or update all nodes module, we can cause an new error if there is a new update.

[2017-05-03 17:27] miketaylr commented on #1548
@magsout what do you mean by block?

https://github.com/webcompat/webcompat.com/blob/master/package.json#L43 has `^1.1.0` -- do you mean we pin to exactly a single version, so just `1.1.0`?

[2017-05-03 18:01] magsout commented on #1548
@miketaylr yes exactly.

[2017-05-03 18:36] miketaylr commented on #1548
Cool, +1.

[2017-05-03 19:54] denschub commented on #1534
Just had a call with @zoepage to talk a bit about details and it's probably the best to simply integrate that into the existing webcompat.com page, including its design. However, thit would mean that the Firefox-only landing page would be designed using the webcompat.com colors and schemes and not using the Firefox branding. Given the recent discussions, we'd like to make sure that everyone is fin

[2017-05-03 21:21] miketaylr commented on #1539
(just a note here that we also have the Report Issue endpoint (/issues/new) which is separate from the bugform on the homepage, although it shares the same template partials and bugform.js code -- not sure if it actually matters for this issue tho!)

[2017-05-03 22:09] karlcow commented on #1534
Still objecting for the same reasons we mentioned earlier.
For me it's not a question of layout/branding but a question of scope. This should live on MDN.

Opera
See http://www.opera.com/docs/browserjs/
and https://github.com/operasoftware/browserjs/

Microsoft
See https://msdn.microsoft.com/en-us/library/gg622935(v=vs.85).aspx
and http://cvlist.ie.microsoft.com/edge/desktop/1432152749/edgecompatv

[2017-05-03 23:31] karlcow commented on #1539
@zoepage

Who is "others"? if others are browser vendors, they are well aware of the techniques. In fact GoFastly is partly a copy of the Opera BrowserJS model. Microsoft has Compatibility View predating this too for a long time. 😁  This is similar to the #1534

Talking about the tools/strategies that different browser vendors have put in place is ok.
Having an official landing page is **not ok**

[2017-05-03 23:35] karlcow commented on #1534
Another thought around this. The day webcompat.com disappears for any reasons. the references from the devtools die and needs to be backported to mozilla.org. GoFastly is a Mozilla product and because of it should live on mozilla.org domain at least for its persistence policy.

[2017-05-03 23:36] karlcow commented on #1534
Related to https://github.com/webcompat/webcompat.com/issues/1539#issuecomment-299064144

[2017-05-04 12:07] softvision-sergiulogigan commented on #1547
Hi all,

I think that the last question in the form, "Did you test in another browser?" [Yes][No], should have at least 2 followup questions, if the answer is Yes:

[Yes] --> (Q1) Which one? (drop down list - Edge, Safari, Chrome etc) --> (Q2) Is the same as in [field for "Firefox 52"]? [Yes][No]

I think that if someone tries to reproduce an issue in another browser, will be ok with providing a l

[2017-05-04 12:15] softvision-oana-arbuzov commented on #1547
Hi all,
I think a "Notes" text area would be nice to have, in case extra info is available (debugging/reproducibility rate...).

[2017-05-04 15:13] miketaylr commented on #1534
Why not on MDN?

[2017-05-04 15:14] miketaylr commented on #1534
My original thoughts were the wiki, but that might feel less official and pretty than MDN.

[2017-05-04 16:17] miketaylr opened #1549 "More CSP tweaks, round 4"
We need to fix #1519, as well as the following error:

`Content Security Policy: The page’s settings observed the loading of a resource at data:application/javascript;base64,KGZ1b... (“script-src https://webcompat.com 'unsafe-eval' 'unsafe-inline' https://www.google-analytics.com https://api.github.com”). A CSP report is being sent.`

(which means we have to allow data: origin for google analytics

[2017-05-04 16:19] miketaylr commented on #1519
I'll fix this in #1549.

[2017-05-04 16:22] miketaylr commented on #1549
Actually - no! That was caused by an add-on. We don't get that error in Chrome, or Firefox in a fresh profile. So, I guess let's close this then re-open #1519...

[2017-05-04 16:22] #1549 closed

[2017-05-04 16:22] miketaylr commented on #1519
Nah, I'll fix here. This is the only error left.

[2017-05-04 16:37] miketaylr commented on #763
Once #1519 is merged, I'll make a PR to send `Content-Security-Policy` instead of `Content-Security-Policy-Report-Only`. 🚀 🌝

Then we can file bugs to get rid of the what requires us to need `"script-src 'self' 'unsafe-eval' 'unsafe-inline'`.

[2017-05-04 16:42] miketaylr commented on #1547
I think "how did you get there" should be a textarea, rather than input. It could even have placeholder text that mentions you can include any extra information, like @softvision-oana-arbuzov is suggestion.

[2017-05-04 20:55] miketaylr commented on #1533
You could do it this way, or just create a new webhook endpoint and operate only on the URL.

[2017-05-04 20:56] miketaylr commented on #1533
I think we're getting ahead of ourselves. First step is just to leave a comment, or add a label that reflects what the Alexa ranking is.

[2017-05-04 22:33] #1519 closed

[2017-05-05 00:14] karlcow commented on #1533
But to get there you are already too fast in developing the mechanics. label is not practical. Let's say you get an `alexa-000001`, `alexa-000002`, etc. A comment would be the sensible thing to do. But as I said in my initial comment, it's too soon already. Small steps. 👣

@miketaylr  About

And It's why I was saying:

This means: Create a script, nothing into our mechanic, and test with the curre

[2017-05-05 02:02] miketaylr commented on #1533
Yeah, that kind of label wouldn't be interesting, it's too granular. Something more like like alexa-top-100, alexa-top-1000, alexa-top-10000, alexa-top-100-mexico, or whatever.

That said, I think we should let @MDTsai have the freedom to experiment and do research (some script like you're describing could be useful). Let's discuss f2f in our next team meeting about priority triage, I have some ot

[2017-05-05 10:11] MDTsai commented on #1533
There are 2 alexa APIs provide by amazon, 1st is [alexa top sites](https://aws.amazon.com/tw/alexa-top-sites/). It gives a list by request, we can give start ranking, count and country code. Per URL request return costs $0.0025.

2nd API is [alexa web information service](https://aws.amazon.com/tw/awis/). This API provides detail information like [here](http://docs.aws.amazon.com/AlexaWebInfoServi

[2017-05-05 10:31] softvision-sergiulogigan commented on #1547
Here's a wild thought we had:
What if the Screenshot placeholder would support *.zip files as well?
1st of all, this would help us filing issues more efficiently, but we think other reporters would like to attach not only screenshots, but also short videos of encountered issues (maybe of those that are harder to explain).

[2017-05-05 13:37] karlcow commented on #1533
@MDTsai thanks for the clarification. the 1st API makes it possible to do caching indeed.
Currently we have close of 6000 bugs, maybe 10000 with Tech Evangelism/Mozilla, with some duplicates.

[2017-05-05 16:09] miketaylr commented on #1547
Yeah, zip can be scary. If we need to support videos, there are 3rd party solutions, or we can upload video assets directly to S3.

Other than video, what would you like to include in a zip @softvision-sergiulogigan?

[2017-05-06 18:44] lockettm commented on #1539
Looks great. I like Mike's idea of including resources from other browsers. For example, listing [docs](https://developer.chrome.com/devtools) or [tutorials](https://www.codeschool.com/courses/discover-devtools) for both Chrome and Firefox dev tools.

[2017-05-08 10:28] zoepage commented on #1534
As far as I understood @denschub in our call, MDN didn't seem like a well fitting place.
So, maybe having an independent page would make more sense?

The idea behind adding the landing page to webcompat.com was to decrease the development time as it might use the same functionality (as loading GH issues, labels etc etc) as we do with webcompat.com.

[2017-05-08 10:55] karlcow commented on #1534
Currently the message in the console in the Developer Tools already lands on MDN. For example the security messages about mixed content blocking etc.
https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Console_messages#Security

The why is because GoFaster is mozilla only. Also another reason in terms of persistence policy. If one day we (webcompat.com and/or WebCompat Mozilla team) do not

[2017-05-08 11:36] zoepage commented on #1534
@karlcow no, you didn't. :) It's a valid argument.

@denschub Let's see, if we can find a different solution? Happy to help!

[2017-05-08 11:40] zoepage commented on #1539
I agree. When we wrap up the structure for content (what this issue is about), we'll create a sitemap with the links and add it there. Thanks for pointing it out @miketaylr .

We've agreed in the discussion in #1534 to not add the AddOn, So I'll edit the first comment and take it out.

[2017-05-09 13:45] softvision-sergiulogigan commented on #1533
A question from our meeting on May 9th:
How will the Alexa thing work? Sites may be on a low position on a global scale, but very high in a country list.

[2017-05-10 00:48] karlcow opened #1551 "[feature] type-media bugs - handling duplicates automagically"
For certain domains, such as vk.com or yandex.ru in the category `type-media` we have a series of duplicates. A couple of them every day. It would make it easier for us to deal with them if we could triage them automagically.

This is just an idea on how we could maybe handle this.

1. An issue is reported with `type-media` label (we know when it's coming from the media reporting system)
2. It con

[2017-05-10 02:09] MDTsai commented on #1551
One concern is media file in different CDN server, but seems not happened till now. So I think this works.

[2017-05-10 03:51] karlcow commented on #1551
@MDTsai Thanks! Indeed that might influence the result. For example, for social networks, where external links are authorized.  That could be an additional check.

I should download all the current data we have and see if we can have a better idea of the variability.

[2017-05-10 08:32] MDTsai commented on #1533
@softvision-sergiulogigan  thanks for the question. For the Alexa thing work, while an issue opened, the webhook will add a label or leave a comment with Alexa ranking. It's not decided yet. I prefer labels, easy to filter when do diagnosis.
For 2nd question, in my previous comment, if it's top 100 in tier 1 countries/regions, it's also important for us, could handle that faster than others. This

[2017-05-10 09:07] softvision-oana-arbuzov opened #1552 "“Report” button becomes active after adding a screenshot and no other details are typed/set for the issue"
**URL:** www.webcompat.com
**Browser / Version:** Firefox 52.0.2, Chrome 56.0.2924
**Operating System:** Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Tap “Report bug” button.
3. Without typing any details or selecting an option, attach a screenshot.
4. Observe behavior.

**Expected Behavior:**
Error messages are displayed (“Problem type required”, “A valid URL is r

[2017-05-10 09:39] zoepage commented on #1552
We should tackle this one in #1547.

[2017-05-10 14:24] softvision-sergiulogigan opened #1553 "The status-needstriage label is added and removed after filing an issue"
Browser / Version: Chrome 57.0.2987.133 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://github.com/webcompat/web-bugs/issues/6591.
2. Observe the labels assigned.

**Expected Behavior:**
The status-needstriage label is applied.

**Actual Behavior:**
The status-needstriage label is applied and then removed.

**Notes:**
1. The issue is also reproducible for ht

[2017-05-10 22:25] karlcow opened #1554 "Rename status-needsdiagnosis-important as important"
Currently when we set a **status-needsdiagnosis-important** instead of **status-needsdiagnosis** the bug disappears from the lists.

Steps to reproduce:

1. Go to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=needsdiagnosis&sort=created&direction=desc
2. needsdiagnosis-important are not visible.

Proposal:  The UI should show the aggregated lists of needsdiagnosis and needsdiagn

[2017-05-10 22:27] karlcow commented on #1554
The diagnosis is urgent… but then probably the needscontact/contactready too.
should the important label be orthogonal to the status? We can even imagine at a point where we have semi-automatic labeling for triage, aka this domain is mail.google.com, assign important, because it needs triage priority.

[2017-05-11 00:43] karlcow commented on #715
So during the meeting this week [we discussed about prioritization](https://wiki.mozilla.org/Compatibility/Meetings/2017-05-09#webcompat_Priority_triage_.28miketaylr.29).

The resolution has been to have

1. to have ONE label for priority.
2. to have the label set during the triage.

We need to iron some details. See #1554

I'm closing this.

[2017-05-11 00:43] #715 closed

[2017-05-11 00:59] karlcow commented on #1037
This is still an issue.

[code]

[code]

but it is easy to solve because the issue is touching only dead code.

[2017-05-11 01:08] karlcow commented on #1037
[code]

and we do not have functional tests creating issues from the home page.

[code]

[2017-05-11 04:35] karlcow commented on #1483
I'm using it time to time. Like today for example :)

[2017-05-11 04:38] karlcow commented on #1533
Related to this discussion the minutes of the meeting this week.
https://wiki.mozilla.org/Compatibility/Meetings/2017-05-09#webcompat_Priority_triage_.28miketaylr.29

[code]

[2017-05-11 04:43] karlcow commented on #1179
@adamopenweb

Some status/sentences I have been using. This could probably be more descriptive.

[code]

When closing as incomplete.
[code]

I also start using templates for some of the technical issues. For example:

Closing as duplicate
[code]

[2017-05-11 04:45] karlcow commented on #1083
I think we need to do that with @adamopenweb and others at San Francisco. easier face to face.

[2017-05-11 06:23] #1482 closed

[2017-05-11 08:32] karlcow commented on #1228
We have a couple of functions in helpers which are not really well designed.
https://github.com/webcompat/webcompat.com/blob/master/webcompat/webhooks/helpers.py#L29-L43
The one @miketaylr is pointing out for example `def parse_and_set_label(body, issue_number):`
is taking the issue_number but doesn't do really anything with it. It creates a side effect. The function doesn't return anything either

[2017-05-11 08:36] softvision-sergiulogigan commented on #1553
Could this be related to https://github.com/webcompat/webcompat.com/issues/1228 ?

[2017-05-11 13:56] miketaylr commented on #1554
That seems to make sense.

[2017-05-11 13:57] miketaylr commented on #1037
Yeah, we don't test creating issues in general because I'm afraid GitHub will mark us as spammers. We need to be able to mock the API first, I think.

[2017-05-11 14:01] #1037 closed

[2017-05-11 14:31] adamopenweb commented on #1179
Thanks @karlcow. A few of mine.

Incomplete.
[code]

Works for me (this one needs improvement):
[code]

Not mobile friendly. I usually edit this one for non-compat now, used to be for Invalid.
[code]

Not really a status, but it's good to put some context behind Tracking Protection duplicates.
[code]

[2017-05-11 14:50] #1357 closed

[2017-05-11 23:37] karlcow commented on #1228
[code]

everything is fine on the computation side. As @miketaylr said earlier last year, probably network glitches.

The initial issue was needstriage not being set. If I look at where it is set on the webhook it is inside [`__init__.py`](https://github.com/webcompat/webcompat.com/blob/master/webcompat/webhooks/__init__.py)

To make things more robust, we need a way to monitor the response from t

[2017-05-11 23:43] karlcow commented on #1228
Ah ok. Maybe an idea. https://github.com/webcompat/webcompat.com/blob/master/webcompat/webhooks/__init__.py#L46-L56

[code]

1. The `parse_and_set_label(issue_body, issue_number)` is calling `set_label`
2. we do not wait for an answer (side_effect mentioned earlier).
3. We call again `set_label` immediately for setting needstriage

I wonder if GitHub is always happy about that two simultaneous req

[2017-05-12 00:36] karlcow commented on #1228
searching for set_label

[code]

oh and…

[code]

So Basically we are doing the same thing with two different functions. We probably would gain rationalizing a bit. :)

[2017-05-12 00:41] karlcow commented on #1228
The double labels setting was added here
https://github.com/webcompat/webcompat.com/pull/1114

[2017-05-12 00:45] karlcow commented on #1228
And probably connected to the issue #1553 where webcompat-bot is adding, removing the labels. I could see that happening in a kind of race condition on HTTP requests.

[2017-05-12 00:45] karlcow commented on #1228
I will be working on that next week.

[2017-05-12 01:08] karlcow commented on #1553
@softvision-sergiulogigan I'm inclined to think that's the case. I will come up with something in #1228
As for now I will close this one as a duplicate of the other and we will see if my modifications are working.

[2017-05-12 01:08] #1553 closed

[2017-05-12 02:28] karlcow commented on #1268
Handled in https://github.com/webcompat/webcompat.com/pull/1557

[2017-05-12 02:28] #1268 closed

[2017-05-12 05:08] karlcow commented on #814
Let's close this and we can come back again, when we really do anything with the db.

[2017-05-12 05:08] #814 closed

[2017-05-12 13:45] zoepage opened #1558 "[design] List of content modules"
To get a better overview of what we have and need, I've created a short list of modules we use right now on the site. Here modules refer to a specific purpose created through content on the site.

[code]

@magsout Is there anything I forgot so far?

[2017-05-12 14:36] #845 closed

[2017-05-12 15:14] miketaylr opened #1560 "Cannot close or reopen issues"
Fallout from #1559.

STR
1. go to any open issue
2. try to close issue

expected: 200 PATCH to edit endpoint
actual: 403

I have a quick fix I'll push then ask @karlcow to review after (and probably improve).

[2017-05-12 23:16] #1271 closed

[2017-05-14 13:53] zoepage commented on #1547
@softvision-sergiulogigan @softvision-oana-arbuzov
Thank you for your suggestions! As we decided during the work week to stick with a small set of changes, I will add them to the next steps in combination with the refactor.

(also @miketaylr @karlcow @adamopenweb)
To cross off the first 2 todo's, here is a final suggestion for the form.
* = required

[code]

[2017-05-14 14:46] magsout commented on #1539
looks good 👍

[2017-05-14 14:50] magsout commented on #1547
love the new design of every element form. The buttons are much clear.

Super excited about the new design.

Good job @zoepage

[2017-05-15 16:30] miketaylr commented on #1547
Looks good!

Can you explain the following, for the report as GitHub user?

[2017-05-15 18:48] miketaylr opened #1562 "Code overflow in issue description"
See https://webcompat.com/issues/6656

Seems related to #748.

@magsout any ideas?

![screen shot 2017-05-15 at 1 47 45 pm](https://cloud.githubusercontent.com/assets/67283/26073671/1dac39ce-3975-11e7-94e6-e1f2bcc5f444.png)

[2017-05-16 08:05] zoepage commented on #1547
@miketaylr this is the toggle between the labeling of the second button. The phrasing is misleading.

When you are not logged in, you get the label "report as GitHub user". If you are "report as xyz".

[2017-05-16 08:17] karlcow commented on #877
The session check will not solve it. :) Probably. I need to test a bit more.

[2017-05-16 11:37] zoepage commented on #1547
@adamopenweb suggested following for the `How did you get there?` textarea:

[code]

[2017-05-16 16:29] zoepage commented on #1547
Last call for feedback on labeling and optional / required. After we decided, @cch5ng said she'd love to take over and take care of the first steps. :)

@karlcow @miketaylr @adamopenweb

[2017-05-16 16:34] miketaylr commented on #1547
My only concern is the placeholder text in https://github.com/webcompat/webcompat.com/issues/1547#issuecomment-301755301. It might be confusing as-is, it feels a bit like an instruction to a user, rather than an example.

[2017-05-16 16:37] adamopenweb commented on #1547
@miketaylr I can see that. This area I'd particularly like to get better information from the user than we currently do (see incomplete bugs). Suggestions on how to accomplish that are totally welcome.

[2017-05-16 17:08] zoepage commented on #1547
@miketaylr @adamopenweb
Not sure, if those are suggestions in the right direction.

[code]

Or would you feel a free text without the steps more fitting?

[2017-05-16 20:05] zoepage commented on #1539
As the main structure is set, I've created a concept for the index page.
Following a mock-up, I'd love to share with you.

The context can be found here: https://docs.google.com/document/d/1uCBbUx7TAZh_nIYn7U18Npceo1xQl_6j36BV-cmy1_g/edit?usp=sharing
Please note, this document is a `work in progress`.

![img_20170516_201429](https://cloud.githubusercontent.com/assets/562354/26122844/2906bf06-3a79-

[2017-05-16 20:20] miketaylr commented on #1295
I looked into this, I don't think it's currently possible to do this with client-side rendering since Twitter is fetching the meta tags from the html (and doesn't render JS, from what i've read).

[2017-05-16 20:35] zoepage commented on #1295
😿

I've removed the refactor label then. Is it ok, if we close the issue and move it to the backlog?

[2017-05-17 06:59] denschub commented on #1534
I am not sure if we can use GET parameters on MDN to distinguish between the different override types.

@a2sheppy, I had a quick look around but was not able to find something. Do you know how/if it is possible to use a url parameter/slug for toggling between different text paragraphs? Imagine this as if we are writing platform specific docs, with a fixed and known set of different values, and som

[2017-05-17 07:38] karlcow commented on #1534
@denschub could you explain. I'm missing a piece of the puzzle. Taking your suggestion in your initial comment. I was thinking the full thing would be like this:

With a unique page for each individual override. Explaining when it was put in place, when it was removed (if removed) and with links to a meta page explaining what is about the WebCompat GoFaster, how is it working how to deactivate it/

[2017-05-17 07:45] karlcow commented on #1554
Proposal: Rename the `status-needsdiagnosis-important` to `important`.

* Avoid conflict with future milestones
* Avoid current conflict when selecting needsdiagnosis in the current UI.
* Help contactready/needscontact to have the priority too.

[2017-05-17 07:58] softvision-sergiulogigan commented on #1547
We (Oana and I) feel like the "Describe what was wrong" and "How did you get there" field titles are a little bit fuzzy in terms of scope. We think that a regular user will not know how to correctly use the fields to communicate their findings. We ended up debating the field titles and examples given, in order to understand what to write there (we have a feeling that a regular user will not do/lik

[2017-05-17 08:05] karlcow commented on #763
@miketaylr soon 2 weeks? Anything weird on the server? Do we jump?

[2017-05-17 10:30] denschub commented on #1534
Ah! Initially, I was thinking about a more generic text like "We changed some CSS attributes to make the site look correctly" or "We changed the user agent for this site to make it behave correctly", not a detailed per-case explanation. So I was thinking about writing a text for each case and make them toggleable via a parameter or something.

But you are right, we could create a page per case. Th

[2017-05-17 22:41] karlcow commented on #132
Note to self (it will grow with time):

There are a couple of ways to do that and to explore. I need to explore the impact about choices for them and the likelihood of creating a performance impact on the application.

Some possibilities:

1. Generate the feed through a search query each time there is a request for the feed.
    - Pro: Information always fresh
    - Con: A search query is created

[2017-05-18 02:30] miketaylr commented on #763
Yeah, I think we look good here. Here's the last 100 reports:

https://gist.github.com/miketaylr/a542e607daf5b7143f7459a87c907b35

Basically it looks like a) google translate stuff (probably from chrome or addon users??) b) googlebot stuff (I'm guessing web-bugs 751 has a ton of SEO juice since it's about whatsapp c) js injected by addons

I'll write a PR to flip the switch.

[2017-05-18 02:59] miketaylr opened #1564 "Do the work to remove CSP script-src 'unsafe-inline' directive"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#Unsafe_inline_script

This means we need to fix all the places we're sending inline `<script>blah()</script>` with script in an actual blah.js file -- which shouldn't be very hard, IMO.

Follow up to #763.

[2017-05-18 03:09] miketaylr commented on #1564
TODO:

* [ ] https://github.com/webcompat/css-fixme/blob/master/cssfixme.htm#L22
* [ ] https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/contributors.html#L82-L106
* [ ] https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue.html#L32-L33 (this could probably just be embedded in an element as a `data-foo` attribute, since it's such little info, or

[2017-05-18 03:32] karlcow commented on #763
Closed by #1563

[2017-05-18 03:32] #763 closed

[2017-05-18 05:45] karlcow commented on #1228
Just an update I have been working on this most of the day.
I'm creating unit tests for it and for each tests I discover failures which I need to fix in the webhooks helpers functions. We are getting there. :) It should be finished tomorrow. Famous last words.

[2017-05-18 08:02] karlcow commented on #132
Ahaha. Brace for impact and its controversy.
https://twitter.com/search?f=tweets&vertical=default&q=http%3A%2F%2Fjsonfeed.org%2F&src=typd

[2017-05-18 08:07] karlcow commented on #1228
So fixing this has a lot of implications. I have something solid and working. I just need to tighten the corners for testing.

[2017-05-18 20:56] adamopenweb opened #1565 "Update Github queries to filter out type-media bugs"
In the webcompat.com meeting on 5/18/2017 there was a discussion about filtering out type-media bugs from appearing on webcompat.com.

Recently a contributor was triaging a type-media bug that we normally don't focus on. We think we can prevent this from happening again by updating the Github queries to filter out type-media bugs.

Using `-label:type-media` seems to work on Github.

@karlcow @mike

[2017-05-18 22:35] karlcow commented on #1565
https://wiki.mozilla.org/Compatibility/Meetings/2017-05-18#type-media_.28miketaylr.29

[code]

[2017-05-18 22:41] karlcow commented on #1565
@wisniewskit About duplicates. See #1551

@magsout we can't hide them from GitHub apart of yourself filtering them out doing `-label:type-media`

For the UI, we can indeed exclude them from the webcompat.com UI. That means we have to not forget about handling them on the github side. What I usually do

1. Go to needstriage and filter all issues related to `type-media`
2. Find the first one
3. Clos

[2017-05-18 22:42] karlcow commented on #1565
The ultimate question is when the media team will start handling those.

[2017-05-18 23:13] karlcow commented on #1565
For example

* web.whatsapp.com https://github.com/webcompat/web-bugs/issues/5659
* (music|radio).yandex.com https://github.com/webcompat/web-bugs/issues/5628

[2017-05-19 04:10] karlcow commented on #1228
ok let's create a pull request. There will be probably more improvements possible in the future.
But I guess that's already a solid refactoring.

[2017-05-19 05:15] karlcow opened #1567 "When the browser name contains (), remove them"
This is a followup on #1228
Currently if the browser name is "Firefox (tablet)" we end up as a tag with `browser-firefox-(tablet)` instead of `browser-firefox-tablet`

I'm happy to mentor this.
The code to modify is here
https://github.com/karlcow/webcompat.com/blob/0fea5ebe3cfd46efaf6568c35a358e86525f6a41/webcompat/webhooks/helpers.py#L28-L30

And probably an additional test to add to
https://git

[2017-05-19 06:36] karlcow commented on #778
food for thougts https://www.appneta.com/blog/python-unit-test-mock/

[2017-05-19 20:59] magsout commented on #1562
not yet, but i try to figure out why

[2017-05-19 21:04] magsout commented on #1558
@zoepage hum, seems good.

[2017-05-21 09:18] magsout opened #1569 "Functional tests fail starting with a certain test"
The tests fail on all branches. It would appear that the tests fail from: `Going back in history updates issue list and URL state`

[code]

Fx ANY:     [✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓✓×××××✓✓✓✓×××✓\      ] 65/78, 15 fail

[2017-05-24 15:51] #1228 closed

[2017-05-24 20:19] #1562 closed

[2017-05-29 01:23] karlcow opened #1570 "[bug] broken code layout with text fully wrapped"
1. Go to https://webcompat.com/issues/2009#issuecomment-304553096
2. See how the code is wrapped.

![capture d ecran 2017-05-29 a 10 16 25](https://cloud.githubusercontent.com/assets/505230/26533781/afaf48aa-4458-11e7-9dec-8f767bec8366.png)

Compare with github.
https://github.com/webcompat/web-bugs/issues/2009#issuecomment-304553096

[2017-05-29 14:48] softvision-oana-arbuzov opened #1571 "Attaching another photo to an issue using “Drag and drop” should remove previous one"
**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Tap “Report bug” button.
3. Type in the required information and attach a screenshot.
4. After screenshot is attached, drag and drop another screenshot.
5. Observe behavior.

**Expected Behavior:**
Screenshot is attached and previous one is removed.

**Actual Behavior:**
Screenshot is displayed and previous one remains attached.

**Watc

[2017-05-30 08:29] zoepage commented on #1571
Thanks for the report @softvision-oana-arbuzov :)
This looks like inconsistent behavior we should tackle.

Either there should be just one screenshot allowed. Then it needs to get replaced.
Or there could be more than one, then they should all be displayed.
Not sure, if more than one are needed, are they @adamopenweb @karlcow @denschub?

[2017-05-30 11:37] denschub commented on #1571
Most screenshots we receive are from the reporter extension anyway, and I've personally never found the need for more than one, so I'd vote for no. :)

[2017-05-30 22:41] cch5ng commented on #1547
hi, I had a question about form validation behavior. is this the expected behavior: if I select any field which is required, then validation will be run for all required fields (resulting in the display of warning messages for any required fields currently empty)?

if I then fix one field (like add a url) then should I expect the validation status should only be fixed for that field? thanks!

[2017-05-30 22:49] cch5ng commented on #1547
@miketaylr hi, is there an automated way to run the auth tests (to avoid having to key in the 2fa code)? I think one time a github bot was mentioned but I couldn't find it in the docs. if that is not currently used should it be ok to reorder the tests in tests/functional-all.js so the auth tests run at the beginning?

[2017-05-30 23:15] karlcow commented on #1547
@miketaylr will be replying. But I guess reordering is perfectly fine. Maybe there are sequences where we test the login/logout process, but apart of these, I think there is no issue.

Our privileged user on webcompat.com is @webcompat-bot

[2017-05-31 03:07] karlcow commented on #655
Reopening the issue, after a comment by @dbaron on a recent bug. I was wondering if GitHub was now offering finer granularity. I need to dig a bit more the docs.

https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-scopes-for-oauth-apps/

[2017-05-31 03:57] karlcow commented on #655
To note that the issue is known by GitHub
https://github.com/dear-github/dear-github/issues/113

[2017-05-31 04:07] karlcow commented on #655
if I check my current Scopes in my headers, I get

[code]

[2017-05-31 04:09] karlcow commented on #655
In https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-scopes-for-oauth-apps/
I still don't see a way to make it more granular at the repo level.

[2017-05-31 04:34] karlcow commented on #655
ok closing again for now.

[2017-05-31 08:27] karlcow commented on #1571
yep for now I would just suggest we keep it for only one screenshot. Plus people can still had comments with additional screenshots.

[2017-05-31 09:22] zoepage commented on #1571
Then I'd say its a bug. When a second screenshot is added, it should replace the previous one.

Thanks @karlcow && @denschub for your feedback!

[2017-05-31 13:13] softvision-oana-arbuzov opened #1574 "Photo link remains displayed in “Give more details” text area when removing the uploaded image"
**Browser / Version:** Firefox 53.0.3 Release (Desktop), Chrome 58.0.3029.110 (Desktop), Firefox Nightly 55.0a1 (2017-05-31) (Mobile)
**Operating System:** Windows 10 Pro, Android 6.0.1

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Tap “Report bug” button.
3. Type in the required information and attach a screenshot.
4. After screenshot is attached, tap “Remove image upload” button

[2017-05-31 21:24] zoepage opened #1576 "Please write your bio - deadline 6/7"
Please write a short 3 line bio, we can include in the contributor section.
You can find examples here: [http://hood.ie/community/](http://hood.ie/community/)

Please add following under your handle:
- Full name
- Twitter or other you'd like to link
- A short bio

Below you will find a list of people suggested, to send a bio in. If you feel like someone is missing, please add them in a comment, so

[2017-05-31 21:44] karlcow commented on #1571
I had misunderstood the initial report. Yes this is a bug.  Thanks @zoepage

[2017-05-31 21:57] karlcow commented on #1571
Ah! two possibilities for resolving this.

* Either replace and add the new image at the next click on the area (interesting for me the drag and drop doesn't work for the second image). It replaces the window context with the full image.
* Or deactivating the click as an attach event, given we have already the "remove image upload"

btw Maybe it should be "Remove uploaded image" (not sure).

@soft

[2017-05-31 22:48] cch5ng commented on #1547
Hi, I wanted to propose a couple changes to the new bug report form validation behavior.

Currently, there is some behavior which I find a little unintuitive but I think was designed from the intention of being able to test input state with the intern tests.

Ex. one validation test from the old form was if you select the text area (with problem description), the JS would check whether the field a

[2017-05-31 23:23] karlcow commented on #1007
Found again one of the articles I was looking for
http://tomkenny.design/reviews/learn-from-great-design-virgin-america/

[2017-05-31 23:26] karlcow commented on #1007
and probably https://www.smashingmagazine.com/2015/11/airline-websites-2015-front-end-performance-ux-lessons-learned/

[2017-05-31 23:55] karlcow commented on #1576
tongue in cheek: "short 3 line bio" How many characters in each line? 😉

[2017-06-01 02:24] wisniewskit commented on #1576
I can't seem to edit your comment, so here's a quick bio for me:
Thomas Wisniewski
Full-stack web developer with an affection for the open web and open source. Diagnoses webcompat bugs, helps out with web standards and browser regressions, and loves good food, good drink and good company.

[2017-06-01 02:31] cch5ng commented on #1547
@zoepage I'm not sure about this checkbox:

Make new form information readable in issue template

currently I seem to be able to save a new issue, search for it and view its contents ok. also I can search for an older issue and view its contents ok as well. does the template still require updates? thanks!

[2017-06-01 03:13] MDTsai commented on #1576
Short bio for me:
Eric MD Tsai
https://medium.com/@md.tsai
Webcompat engineer works on compatibility issue some other helper features.

[2017-06-01 04:22] karlcow commented on #1551
@miketaylr Currently for the webhook, we are using the `/labeler` route which is adding two new labels: browser and needstriage.

(thinking out loud)

There are maybe three options:

* reusing `/labeler` route.
 Probably modifying the name to be more generic and improving a bit more the logic in the code to be more versatile. The `if` cascade bothers me a bit.
* <del>OR create a new route for the

[2017-06-01 05:38] miketaylr commented on #1576
Mike Taylor
https://miketaylr.com
Looking at broken web pages like it's 1999. Lives in sunny Austin, TX.

[2017-06-01 05:40] miketaylr commented on #1574
Yeah, this is a regression. Possibly a bug in the regex here:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L416-L437

[2017-06-01 05:46] karlcow commented on #1574
Rha… my bad then.
And it means we are missing a test for it. if we didn't detect it.

[2017-06-01 06:07] karlcow commented on #1574
Yeah. My bad. Confirmed. https://github.com/webcompat/webcompat.com/commit/0d20e1189e067eecfdc99dc0b2156416a650e13f

This one is working.
`\[!\[[^\]]+\]\([^\)]+\)\]\([^\)]+\)$`

[2017-06-01 07:13] karlcow commented on #1551
Started to commit code for

1. Better webhook (a bit more refactoring, follow-up on #1228 )
2. Handling the label `type-media`

This is in progress.

[2017-06-01 08:09] zoepage commented on #1576
@karlcow

:D It should describe yourself a bit more, so you get out of the black vault and seem more approachable? :)

[2017-06-01 09:05] zoepage commented on #1574
Thanks @karlcow :)

I'm sure, @cch5ng will be happy to add that test. (Also happy to help and walk you through.)

[2017-06-01 09:37] karlcow commented on #1576
@zoepage I understand that.

[2017-06-01 11:39] zoepage commented on #1530
As the font will probably be a different one, I'll close this issue.

[2017-06-01 11:40] zoepage commented on #1539
Preview for 1x1 text module. Headline gets icons to appear more friendly and styled.
Font changed to Open Sans.

![desktop hd](https://cloud.githubusercontent.com/assets/562354/26678219/c19bbd22-46cf-11e7-8a34-dad1f7929499.png)
![mobile portrait](https://cloud.githubusercontent.com/assets/562354/26678220/c1a4afa4-46cf-11e7-8da6-080c4a6b3039.png)
![tablet portrait](https://cloud.githubusercontent.c

[2017-06-01 20:44] magsout commented on #1576
Guillaume Demesy
Front-end developer, enjoys coding and being a dad.
http://magsout.github.io/

[2017-06-01 20:52] karlcow commented on #1539
* not a fan of the branches (visual annoyance to my eyes)
* The rest is fine, but would need to see in context.

[2017-06-01 21:28] cch5ng commented on #1547
hi, not sure who to ask, @karlcow or @magsout, but I had a question about this function, [checkParams()](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L139)

* from looking at the webcompat browser add-ons for firefox and chrome, I can see where the [urlParam](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L145)

[2017-06-01 21:45] cch5ng commented on #1574
hi, what should I do to simulate the fixed version? do I wait for a PR from @karlcow and then make a separate PR for the added test? thanks

[2017-06-01 21:53] karlcow commented on #1547
@cch5ng Honestly, I didn't remember. But looking at the blame should help us to find out.
https://github.com/webcompat/webcompat.com/blame/master/webcompat/static/js/lib/bugform.js#L153

It was added by @miketaylr when we worked on adding the type-media report. Basically videos issues are automagically detected and they propose the users to send a bug report to webcompat.com. When doing that the U

[2017-06-01 22:41] cch5ng commented on #1547
thanks @karlcow for the info. is there a simple way for me to test the broken video scenario? I'm searching through recent issues but can't find one for video I can reproduce.

I'm not sure then if it is simplest to leave the code as is for the detail prepopulation
https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L163

I don't know how granular the info for

[2017-06-01 22:58] cch5ng commented on #1547
@zoepage while looking at #1552 I'm seeing that I have a current bug in my pr for this issue (#1547). I forgot to test the image upload and need to update where the link text gets added.

[2017-06-01 23:39] karlcow commented on #1547
@cch5ng yes http://safeschool.mon.bg/Videos/201705210928251574.mp4

![capture d ecran 2017-06-02 a 08 38 51](https://cloud.githubusercontent.com/assets/505230/26705113/f2940e12-476e-11e7-9482-e19c5a1c07b3.png)

Then if you click Report Site Issue, you get:

https://webcompat.com/issues/new?url=http%3A%2F%2Fsafeschool.mon.bg%2FVideos%2F201705210928251574.mp4%3FAspxAutoDetectCookieSupport%3D1&label=

[2017-06-01 23:51] karlcow commented on #1574
@cch5ng as you wish. If you want to fix and add the test, I'm fine too.
Or if you prefer me to do the PR request for the regex, I can do it too.
Just tell me.

[2017-06-02 00:37] cch5ng commented on #1574
@karlcow thanks, I can do both then (update regex and add a test).

[2017-06-02 00:41] cch5ng commented on #1547
@karlcow thanks. that url provided the info I was looking for.

[2017-06-02 05:06] karlcow commented on #1551
This is interesting. https://docs.python.org/2/library/unittest.html#unittest.skipIf

[code]

For my latest commit
https://github.com/karlcow/webcompat.com/commit/7f74e032603a63ef8bee3f516208b205cd6095e6
I have used `with webcompat.app.test_client() as client:` which is cool to create a request context accessible for the test. It helps me to specifically test the request headers, like if it was co

[2017-06-02 07:00] softvision-oana-arbuzov commented on #1571
@karlcow The second screenshot is fully displayed on the screen. Dismissing it, on webcompat.com website the first screenshot is still attached and its link visible in "Give more details" text area.
You can see the behavior on the attachment.

![secondimageopened](https://cloud.githubusercontent.com/assets/12184325/26714494/433ceb4e-477a-11e7-8795-a7ffa0045a45.gif)

[2017-06-02 07:09] softvision-oana-arbuzov commented on #1571
Related to this issue, tapping the "Remove image upload" should remove the photo but also the link to it from "Give more details" text area.

[2017-06-02 08:46] zoepage commented on #1560
@miketaylr as the push seemed to fix the issue and you pushed to master, shall we close the issue?

[2017-06-02 09:19] miketaylr commented on #1560
Ah yeah, this should have been closed. Thanks!

[2017-06-02 09:19] #1560 closed

[2017-06-02 10:08] MDTsai opened #1579 "Implement a python script to dump alexa top sites to db"
This is a part of #1533 , I decide to cache alexa top sites in a sqlite db, not query when new issue opened.
Assume the ranking doesn't change that frequently, we manually launch the script to create a new db, then deploy to production server.
The plan is to have a top site table with 4 columns: url (primary key), priority (from 1 to 3), country_code and ranking. We use url and priority for label.

[2017-06-02 10:19] MDTsai commented on #1579
WIP implementation https://github.com/MDTsai/webcompat.com/tree/Issue_1579

[2017-06-02 11:54] zoepage commented on #1560
Thanks!

[2017-06-02 11:58] zoepage commented on #1539
@karlcow The branches will have a different visual weight, when they are in the context as they will appear smaller plus there will be more content distracting from them. So, maybe we'll check then again?

[2017-06-02 12:57] denschub commented on #1534
Let's close this. I'll move forward towards MDN on this one. Thanks all for your feedback. ❤️

[2017-06-02 12:57] #1534 closed

[2017-06-02 16:35] cch5ng commented on #1547
@karlcow where could I get the media type report tool? if I try to open http://safeschool.mon.bg/Videos/201705210928251574.mp4 in my browser (with webcompat addon), I don't see that Report Site Issue button. thanks.

[2017-06-02 16:41] cch5ng commented on #1547
update for [comment above](https://github.com/webcompat/webcompat.com/issues/1547#issuecomment-305340067) (about validation logic)

from looking at the bug report form behavior if you report an issue using a webcompat browser addon (or the broken video media type report), it seems more logical why the current validation logic works as it does. if majority of users are not reporting issues by start

[2017-06-02 22:12] karlcow commented on #1547
@cch5ng just open the URL in Firefox Nightly :) You will see it appearing.

[2017-06-02 23:25] cch5ng commented on #1552
This seems like a relatively small fix, removing this line:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L457

I am just wondering if there was a reason why it was included originally. This change will be made in #1547

[2017-06-03 00:10] cch5ng commented on #1547
@karlcow ok, I can see that button. thanks.

On Fri, Jun 2, 2017 at 3:12 PM karl <notifications@github.com> wrote:

[2017-06-03 01:33] cch5ng commented on #1552
![screen shot 2017-06-02 at 6 29 58 pm](https://cloud.githubusercontent.com/assets/4755432/26749517/bf063dec-47c1-11e7-92d4-e3c97fab3481.png)

there is a pointer to issue #1049 in the blame for line 415 but I still don't understand why that line was needed

[2017-06-03 01:52] cch5ng commented on #1547
@karlcow I have a couple more questions. in form.py, there is a section towards the bottom:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L211
should I just assume that each new form field needs to be added as a new line and
it needs a key in the formdata (above),
https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L199

in my working branch I am ab

[2017-06-03 13:41] karlcow commented on #1552
@miketaylr see question above. I don't remember either.

[2017-06-03 13:46] karlcow commented on #1547
@cch5ng yes. The parameters are consumed by form.py and formatted in a blob of text. The cool thing with more detailed/atomic parameters is that it opens a window for a better html markup.

We just need to be careful on how our tests and our regex go through. We are parsing the payload body at a couple of places. If we have silent fails, it will be an opportunity to add more tests. :)

[2017-06-04 22:42] karlcow commented on #1551
I tested different options this Sunday… and was surprised when profiling.
I tested first with regex, then with slicing and I didn't find a lot of differences.
https://gist.github.com/karlcow/8737fb709b49f481917896fa356c89da

But in the profiler I have seen that a lot of calls were made to urlparse. So I decided to just remove it from my code, just to see what is happening and wow. Not only it incr

[2017-06-05 00:04] karlcow commented on #1551
[code]

A lot faster… but the issue is to have correctly formatted URIs.

[code]

[2017-06-05 01:02] karlcow opened #1580 "[feature] Parsing issues data"
Current situation:

We are collecting data from the form that we are piling up in a semi formatted text which is then stored in Github `"body": "blah" `

for example:

[code]

if you look carefully at this blob of text, there are a couple of issues.

* we use comments to store some variables we automatically extracted.
* Since the new `type-media`, we get two styles of return `\r\n` and `\n` which

[2017-06-05 01:49] karlcow commented on #1551
Ah we probably should be using urlsplit instead of urlparse when extracting the domain name.

[code]

[2017-06-05 01:50] karlcow commented on #1551
[code]

[2017-06-05 03:57] karlcow opened #1581 "[optimization] change urlparse to urlsplit"
In [form.py ](https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py), there is the function `domain_name` which extracts the domain name. It uses `urlparse.urlparse()` which is less performant than `urlparse.urlsplit()`.

[code]

[2017-06-05 04:14] cch5ng commented on #1580
@karlcow it seems like the changes I made to form.py (for #1547) around https://github.com/webcompat/webcompat.com/blob/master/webcompat/form.py#L211 would conflict with the current api. I can revert to the original contents for that section for now. I think there was also a functional test that I changed that was related (failing due to \n breaks not matched on one side) and can revert that as we

[2017-06-05 05:17] karlcow commented on #1580
@cch5ng not necessary do you have commit link for the change?

[2017-06-05 05:21] karlcow commented on #1580
@cch5ng Found it https://github.com/webcompat/webcompat.com/commit/1aa0484cdd7511bb1f8a68100b9ceccfa85fd1a6#diff-f1975977b06efb529b8c60f23a7bc4eeR237

We just need to test how that would work with the functions currently parsing the body text blob and if it breaks fix here and there.

[2017-06-05 05:25] karlcow commented on #1580
At first sight it doesn't seem to break any python code. :)
I know that some of the formatting is done on the JS side (for now).

[2017-06-05 05:26] karlcow commented on #1580
But anyway that's a separate issue than this one here :) I'm drifting.

[2017-06-05 20:03] cch5ng commented on #1574
@zoepage I think this issue fix would be affected by #1547; this line would need to be updated

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L429

because the old descField will be separated into 2 fields. is it better to make the fixes for this in #1547 or wait until that branch gets merged?

[2017-06-05 22:02] brizental opened #1582 "Mock Github login for testing"
I have been working on #980 and Github requests have been really slowing the process down. Not only because it's a request to a remote server, but also because Github requires re-authorization from time to time.

We have a work around (https://github.com/webcompat/webcompat.com/blob/master/tests/functional/lib/helpers.js#L88) for when Github asks the user for re-authorization, but that does not se

[2017-06-05 22:18] karlcow commented on #1582
@brizental the goal partly would be to have the tests working when you switch off any internet connections. So basically to have everything working in local without making any requests to GitHub.

[2017-06-05 22:22] brizental commented on #1582
@karlcow Yes! I opened the issue mainly because this is really slowing me down, but that is also one of the goals.

[2017-06-05 22:23] karlcow commented on #1582
If you crack this one, It will be wonderful all over here. It's a very important and useful work.
This is ruby but might give you inspiration
https://github.com/Ada-Developers-Academy/textbook-curriculum/blob/master/09-intermediate-rails/testing-auth.md

[2017-06-05 23:28] karlcow commented on #1570
@magsout @zoepage this one is "urgent" :)
And I confirmed with @adamopenweb that I was not the only one.

[2017-06-06 00:05] brizental commented on #1582
@karlcow Thanks for the ref!

I don't know yet if it's best for us to use a package to help on the mock requests or not, do you have any suggestions?

Also, I was taking a look at the login function that we have now and it occurred to me: wouldn't it be best for us just to login through the GitHub API? The way we do it now (https://github.com/webcompat/webcompat.com/blob/master/tests/functional/li

[2017-06-06 01:17] karlcow commented on #1582
There are two sets of tests (python unit tests and JavaScript functional tests). We should try to separate as much as possible things which really requires any network connections. Also we do not need to test that GitHub is working. :)

Our goal is to test that webcompat is working, so everything which relies on GitHub should be mocked in some ways.

Yup having a switch if we really want to test o

[2017-06-06 01:19] karlcow commented on #1582
About https://github.com/webcompat/webcompat.com/blob/master/tests/functional/lib/helpers.js#L65-L119

yes this is the case where we exactly do not want to rely on the network and where mocking github would be better. We don't want  test GitHub UI. :) Here we are just doing this because we are dependent on this.

[2017-06-06 04:55] magsout commented on #1570
@karlcow it's on top on my todolist this morning

[2017-06-06 05:40] karlcow commented on #1570
With big 😍

[2017-06-06 07:00] softvision-oana-arbuzov commented on #1576
Arbuzov Oana - Romania
I'm a QC Engineer. I enjoy testing on mobile (Android & iOS) and web.
My hobbies are mountain biking, hiking, swimming, traveling and playing online rpg games.

[2017-06-06 07:10] softvision-sergiulogigan commented on #1576
Sergiu Logigan
QC Engineer @Softvision (Romania).
Helps making the WWW a better place, when he's not biking, hiking or traveling.

[2017-06-06 10:40] zoepage commented on #1582
looping @cch5ng in that discussion as she had the same question.

[2017-06-06 10:41] zoepage commented on #1581
Removing the label `scope: refactor` as this one is mainly for the front end refactor purpose.

[2017-06-06 10:43] zoepage commented on #1576
Last call as the deadline is tomorrow for @cch5ng @brizental @ioana-chiorean @lockettm.
Thanks!

[2017-06-06 10:45] zoepage commented on #1574
@cch5ng wait until #1547 is merged and then work on this. So we do things step by step. :)

[2017-06-06 10:45] zoepage commented on #1569
@miketaylr @brizental
Would one of you be able to take a look here? Thanks!

[2017-06-06 11:12] zoepage commented on #1576
Sneak peak for the community bio section.
Please note, that this is still a WIP and details are not set yet.

Thanks!

## Desktop
![desktop hd 1 1 1 img txt txt](https://cloud.githubusercontent.com/assets/562354/26826446/7b132b5e-4ab9-11e7-9ba0-50eb16471fd2.png)

## Tablet
![tablet portrait 1 2 img txt](https://cloud.githubusercontent.com/assets/562354/26826448/7b1a4f7e-4ab9-11e7-82f2-4029107cb756

[2017-06-06 11:24] #1474 closed

[2017-06-06 13:47] miketaylr commented on #1569
I don't think this reproduces for me. @brizental does it for you?

[2017-06-06 13:48] denschub commented on #1571
The cause of this is actually pretty simple: we use the file uploads `<label>` as a pseudo drag and drop implementation. Apparently, as soon as a file is assigned to the upload field, it stops accepting drop events, so Firefox opens the file as if you'd drop it anywhere else.

Possible workaround would be to listen to `drop` events and preventing the default here.

[2017-06-06 16:21] cch5ng commented on #1576
my bio:

Carol Chung - USA
http://www.carolchung.com
Front-end developer. Enjoys JavaScript, volleyball and museums.

[2017-06-06 18:54] miketaylr commented on #1552
Hm, it's possible I meant to call `checkForm` there... but I don't remember. If removing it doesn't fail tests, that sounds like a good fix. :)

[2017-06-06 18:59] miketaylr commented on #1547
@karlcow already answered this, but yes we need those. These tests will fail without them (and that will break Firefox Nightly functionality): https://github.com/webcompat/webcompat.com/blob/master/tests/functional/reporting-non-auth.js#L258-L309

[2017-06-06 19:08] miketaylr commented on #1547
@cch5ng I use @GIGANTOR's credentials to run auth tests and not have to mess with 2fa. It's in the "bot-staff" group which doesn't have write access to webcompat.com, so I'm not super worried about it. I believe you used to have access to those credentials, ping me on IRC if you'd like me to re-give them to you.

As for ordering, it shouldn't make a difference.

[2017-06-06 21:36] cch5ng commented on #1571
hi, I think that this line is causing the issue:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L415

when the first image gets uploaded, an .is-hidden class gets added to one of the wrapper divs. but this also makes the #image input unavailable for further interaction. so I think instead of adding .is-hidden to the wrapper, it could just be added to hid

[2017-06-07 00:27] brizental commented on #1576
(I'll put my github for now, but I'll publish my blog later this week. When I do, I edit this.)

Beatriz Rizental - Brazil
https://github.com/brizental
Design student who really just wants to code.

[2017-06-07 00:31] cch5ng commented on #1571
I will try to revisit the drop listener suggestion of @denschub again.

I tried to implement a fix differently but got stuck a bit where if .wc-UploadForm-wrapper is not hidden, then after uploading an image, the button to remove the image is not interactive anymore and clicking that area only results in a file selection dialog to upload an image. but the other 2 items (replacing an uploaded image

[2017-06-07 08:36] MDTsai commented on #1579
We query 21000 sites with 52.5 USD, only 13221 unique URL we have finally.
As @softvision-sergiulogigan [question](https://github.com/webcompat/webcompat.com/issues/1533#issuecomment-300168882), we have update 366 URLs' priority to higher (low in global but high in country)
[topsites.zip](https://github.com/webcompat/webcompat.com/files/1057377/topsites.zip)

I will try to use the data and map to

[2017-06-07 13:11] miketaylr commented on #1579
👍

[2017-06-07 17:01] cch5ng opened #1584 ""Issue comments load" test results inconsistent across travis and local tests"
the assertion for this test passes on travis but fails when run locally

https://github.com/webcompat/webcompat.com/blob/master/tests/functional/issues-non-auth.js#L61

if the date is changed to pass locally (using the date, Thu Oct 01 2015), it would fail on travis. I don't know how to fix this but in the least case it could be documented for developers (expected to fail locally).

[2017-06-07 20:20] cch5ng commented on #1552
revisiting this because @zoepage found a bug with my pr for it

in the current code, I think these 2 calls are being paired (this.disableSubmits() and this.enableSubmits()) in the context of making the post request for image uploads. I guess disableSubmits() is done before to avoid some conflict between issue saving and image uploading.

https://github.com/webcompat/webcompat.com/blob/master/webco

[2017-06-07 21:59] karlcow commented on #1584
Yes there are a couple of issues with this test. but it is surprising it is failing locally, or more exactly the tests are relying on the user having configured https://github.com/webcompat/webcompat-tests/ for the tests repository. If indeed we configure another repo, we will get an error. Strong dependency.

[code]

If I execute `.js-Comment-content` on inspecting `http://localhost:5000/issues/1

[2017-06-07 22:55] cch5ng commented on #1552
@softvision-oana-arbuzov hi, if I understand correctly, these are the expected changes

- [ ] if the user drags/drops an image onto an empty issue form, then all fields validation should occur (displaying errors for required fields)
- [ ] if the user drags/drops an image onto an empty issue form, then the submit buttons should remain inactive

[2017-06-08 03:37] karlcow commented on #1551
Still thinking out loud and documenting this process.

Scenarios:

1. the issue is already in the list with the same issue number.
    it might happen when changing labels. Removing it, adding it again.
    Should we take care of the unlabeling cases.
2. the issue is in the list with same error code and domain, but different issue number. (duplicate)
3. the issue is not in the list. This is a new

[2017-06-08 03:47] karlcow commented on #1551
Option to test. We probably don't need to extract the domain name through regex as it comes for free in the issue title.

That would simplify a lot the code and make it more robust. And probably we could avoid regex altogether and use slicing instead (faster).

https://github.com/karlcow/webcompat.com/commit/dc9cabd552a6a5a68a955a71f9ef8e30f35bebc0#diff-53c7dc964488671110b629cf6885fb3eR67

[2017-06-08 03:52] karlcow commented on #1551
Should we have an entry in the list for each type of error code. aka

[code]

or should we just have

[code]

Until now for manual triage, I have been mostly doing the second case, but I think @MDTsai makes a distinction in between the type of issues.

[2017-06-08 05:07] karlcow opened #1585 "[bug] Content Security Policy and localhost"
Steps to reproduce
1. Starts python run.py
2. load an issue page with images.

Actual: images are not loaded
Expected images are loaded.

[code]

[2017-06-08 05:24] karlcow opened #1586 "[proposal] Adds a data/ directory under .gitignore"
Should we have a `data/` directory where we stash things like

* `issues.db`
* `sessions.db`
* Any other data useful for running webcompat.com but not part of the commits. (I'm thinking about the cache type-media list).

(Updated on August 17, 2017)

* [x] Create a `data/` directory
* [x] Add a `DATA_PATH` in the config file
* [x] Check in the code where we rely on `session.db` and `topsites*.db`

[2017-06-08 06:25] #1570 closed

[2017-06-08 06:53] MDTsai commented on #1551
Automatically close duplicate issues can save our time doing triage, but the rest issues (or the list) should not block media team does diagnosis. For me I think the first list keeps complete information. Maybe @alfredoyang can give us clue about this?

[2017-06-08 08:10] karlcow commented on #1551
@MDTsai understood. That would mean reshuffling the current issue which have been closed. I'll see what I can do, discover for doing that.

[2017-06-08 10:19] MDTsai commented on #1579
I try to use github3.py and form+helpers from webcompat to get domain_name from issue body (\*\*URL:\*\*).
Now I need to solve the problem that domain name from URL doesn't match we have from alexa. Two ideas:
1. Query from alexa, give "www.bing.com" receives 301 redirect to "bing.com". alexa site info API provides the same result.
2. Reduce the domain name length, but at least a second-level doma

[2017-06-08 12:57] zoepage commented on #1579
:+1:

[2017-06-08 13:27] softvision-sergiulogigan commented on #1552
Now we get a 400 error when submitting the form without selecting a general issue radio button.

![efdxlaitseuq5lzax6z6aw](https://user-images.githubusercontent.com/16573771/26930804-38b3978a-4c67-11e7-92bb-ced5aac65628.png)

[2017-06-08 14:06] miketaylr commented on #1585
Ah indeed. We only allow uploads from 'self', google analytics, github and data URIs. Adding webcompat.com for localhost seems fine.

[2017-06-08 16:34] cch5ng commented on #1584
@karlcow thanks. in the docs, it seemed like it was expected to create a unique test repo but I will update my settings then.

https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#configuring-the-server

[2017-06-08 19:01] cch5ng commented on #1571
@denschub hi, I can't find where the JavaScript logic is currently for the drag and drop behavior. should it be in bugform.js? https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js ... or could you point me to it?

I found an alternative way to change the functionality to how you suggest but it results in breaking other existing functionality that I would rather

[2017-06-08 19:22] cch5ng opened #1587 "add python unit tests for form.py"
some existing functions in form.py are missing unit tests.

should affect https://github.com/webcompat/webcompat.com/blob/master/tests/test_form.py

[2017-06-08 19:33] miketaylr commented on #1585
@karlcow just to understand, was this an image you uploaded from localhost? Or did you manually link to an image uploaded from webcompat.com?

The current policy is:

`"img-src 'self' https://www.google-analytics.com https://*.githubusercontent.com data:; " +  # nopep8
`

IIRC, if you upload an image from localhost, it will be served from localhost, so `'self'` here is correct.

[2017-06-08 21:10] karlcow commented on #1585
/me is trying to remember which page. incomplete report 🏸 (badminton racket because there is no `:bad:` emoji)

I think it was http://localhost:5000/issues/667
and indeed it's an image on github
https://github.com/webcompat/webcompat-tests/issues/667#issuecomment-306397496

[2017-06-08 21:13] karlcow commented on #1585
and forgotten the handle @miketaylr 6am chat.

[2017-06-08 21:14] miketaylr commented on #1585
Thanks! I think we can special-case localhost to include webcompat.com, seems harmless.

[2017-06-08 21:28] karlcow commented on #1579
@MDTsai just an idea for checking matching of domain names. Still early here so maybe it's a bad idea. :)

Trying to match in reverse order.

[code]
Trying to match `org`, then `mozilla`, etc.

[2017-06-08 22:42] karlcow commented on #1587
Thanks a lot @cch5ng.

[2017-06-08 23:08] karlcow commented on #1579
Ah useful too.
https://en.wikipedia.org/wiki/Reverse_domain_name_notation#Python

[2017-06-09 02:32] karlcow commented on #1547
@zoepage What the issue page is supposed to look like once the new data style has been created.

for now it looks like this:

http://localhost:5000/issues/706

![capture d ecran 2017-06-09 a 11 31 48](https://user-images.githubusercontent.com/505230/26958741-42fa86b8-4d07-11e7-95cb-4a70d2e7a495.png)

This is what I meant by:

[2017-06-09 02:35] karlcow commented on #1547
And when no tested in another browser has been selected.

![capture d ecran 2017-06-09 a 11 34 18](https://user-images.githubusercontent.com/505230/26958806-a01d7d50-4d07-11e7-8820-ece1d922be6b.png)

[2017-06-09 10:00] MDTsai commented on #1579
Using the DB to analysis current web-bugs issues (7348), we have:
* Critical: 1325
* Important: 981
* Normal: 905

If we use the [ranking](https://github.com/webcompat/webcompat.com/issues/1533#issuecomment-299429187), that means:
* 43.7% of issues are important in global or tier 1 countries.
* Global top 100 sites occupy ~18% (but I guess Oana and Serigu contribute a lot google issues). That make

[2017-06-09 14:47] zoepage commented on #1547
@karlcow Ah! :) I'd say its okay like this. We can still change it, if it does not work for us?

[2017-06-09 18:07] miketaylr commented on #1579
Very cool, @MDTsai!

The only thing that might feel a bit odd is a site like fox.com (ranking 1125 in the US) sitting in the same "normal" bucket (I guess rank 3) as makeuseof.com (872 in US).

But any system won't be perfect, and it's better than what we have right now. 👍

[2017-06-10 05:20] MDTsai commented on #1579
@miketaylr:
fox.com is 5067th in global and 1129th in US. So we only use the global ranking to priority 3.
makeuseof.com is 1267th in global and 862th in US. These 2 are the same priority also 3. So I will keep on next steps. :)

[2017-06-10 09:58] zoepage commented on #1579
@MDTsai The list looks really good! Thanks! :)

[2017-06-10 10:12] #894 closed

[2017-06-10 11:11] zoepage opened #1590 "https://github.com/mozilla/geckodriver/issues/308 fixed"
@miketaylr https://github.com/mozilla/geckodriver/issues/308 has been fixed.

Related to:
https://github.com/webcompat/webcompat.com/blob/master/tests/functional/lib/helpers.js#L62

Possible this is related to the failing build?
https://travis-ci.org/webcompat/webcompat.com#L579

[2017-06-12 11:43] zoepage commented on #1576
Closing as bios have been moved to content document.

[2017-06-12 11:43] #1576 closed

[2017-06-12 11:49] #1558 closed

[2017-06-12 11:50] zoepage commented on #1548
Fixed in https://github.com/webcompat/webcompat.com/commit/182e77ac0c4182f58661196624cf3d3b131b599f

[2017-06-12 11:50] #1548 closed

[2017-06-12 11:51] #1539 closed

[2017-06-12 21:59] zoepage commented on #1530
![grid_poc](https://user-images.githubusercontent.com/562354/27057160-36ced792-4fcb-11e7-835c-3376d9d064b7.gif)

[2017-06-13 10:20] MDTsai opened #1592 "Create 3 labels for issue priority from alexa ranking"
This is the a part of #1533, we need to map the result from #1579 to a label. Label name should follow the bug label naming style. Some ideas:
Prefixes: priority, alexa, ranking, etc.
Suffixes: (critical, important, normal), (1, 2, 3), etc.
Maybe we need a vote function on github to decide the name?

- [ ] Whitelist priority-* in label-list.js
- [ ] Add labels in web-bugs repository

[2017-06-14 03:32] brizental commented on #1569
I just changed from Ubuntu to MacOS an this has started happening to me too... I'll have a look, now that I can reproduce it.

[2017-06-14 08:33] MDTsai opened #1594 "Implement alexa webhook for priority labels"
This is the final part of #1533. Use the result db from #1591 and put the label from #1592 to created issue.

[2017-06-14 08:49] zoepage commented on #1592
@MDTsai ok, let's vote! 😁

Please click on a reaction emoji for your vote @denschub @wisniewskit @miketaylr @karlcow @adamopenweb

Prefix:
- priority 👍
- alexa 👎
- ranking 😀

Suffixes:
- critical, important, normal 🎉
-  1, 2, 3 ❤️

Other:
Please add comment below!

[2017-06-14 11:01] karlcow commented on #1594
So for this one, I recommend to hold on I have finished with the `type-media` webhook in #1551 because it will modify the code a bit.

[2017-06-14 15:49] cch5ng commented on #1552
@zoepage re your question about why this issue is dependent on #1547, I had to make updates to this function:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L442

like
[code]

[2017-06-14 21:56] karlcow commented on #1592
So I have voted for `priority-(critical|important|normal)` 👍-🎉

[2017-06-14 22:01] karlcow commented on #1594
@MDTsai could you clarify how you intend the webhook to work? So I make it easier for you in my current changes. I guess you want something along:

1. new issue is created
2. issue creation event is emitted
3. webhook checks the DB
4. if match sends a HTTP POST for creating a label

[2017-06-14 22:11] wisniewskit commented on #1592
I second Karl's vote: 👍-🎉

On Wed, Jun 14, 2017 at 5:56 PM, karl <notifications@github.com> wrote:

[2017-06-14 23:22] denschub commented on #1592
emoji votes! interesting! 👍-🎉

[2017-06-14 23:40] karlcow commented on #1533
@MDTsai I arrange a list of issues with the ones you opened in your first comment. It will be easier to see the progress and if we missed anything.

[2017-06-15 03:19] karlcow commented on #1582
Another piece of information which could be useful. The module we use for GitHub-Flask has tests (mocking GitHub oauth).
https://github.com/cenkalti/github-flask/blob/master/test_flask_github.py

[2017-06-15 06:40] karlcow commented on #1551
* to [create a comment](https://developer.github.com/v3/issues/comments/#create-a-comment)
[code]
* to [close an issue](https://developer.github.com/v3/issues/#edit-an-issue)

[code]
Tested on the cli and working.

[2017-06-15 06:56] karlcow commented on #1551
We need to make sure we have all labels of the issue before sending back an edit. If we don't we will loose labels. It means an additional request and so idle time for the Webhooks. :/
grmph

Same thing will happen for @MDTsai future webhooks. I need to find a good strategy
1. to not loose data
2. to not create race conditions
3. to not lock the webhook with waiting http requests responses.

Chall

[2017-06-15 07:21] karlcow commented on #1551
So the patch above will remove the old label.
The only way this will not happen is if we do a POST. This works.

[code]

but in return it means we might have surprise in the case where we want to remove the `status-needstriage` which might have been set already or not… possible race conditions.
So we need to make sure we have a failsafe scenario.

Or to wait for milestones in SF by @miketaylr beca

[2017-06-15 07:40] MDTsai commented on #1533
Thanks @karlcow !

[2017-06-15 09:34] MDTsai commented on #1592
Cool, so we use priority-(critical|important|normal).
@zoepage could you give them beautiful color?
@miketaylr should I do something to make the label visible on webcompat.com?

[2017-06-15 09:36] MDTsai commented on #1594
Too late to reply this issue. Here are thing I need to do:
1. Add Site class and DB access in db/__init__.py
2. Add priority_label in webhooks/__init__.py, this may looks like extract browser label
3. Add lookup_priority_label in webhooks/helpers.py, lookup priority in DB

[2017-06-15 10:00] zoepage commented on #1592
@MDTsai How about

priority
- critical #D05

<img width="280" alt="screen shot 2017-06-15 at 11 56 27 am" src="https://user-images.githubusercontent.com/562354/27176264-23083cdc-51c2-11e7-8210-0a34611da390.png">
<img width="281" alt="screen shot 2017-06-15 at 11 56 38 am" src="https://user-images.githubusercontent.com/562354/27176265-23083bce-51c2-11e7-83f0-1a498a68631c.png">

- important #FB1

<i

[2017-06-15 14:26] miketaylr commented on #1569
whoops, this reproduces for me now (using v54 stable):

<img width="751" alt="screen shot 2017-06-15 at 4 24 59 pm" src="https://user-images.githubusercontent.com/67283/27185989-56128090-51e7-11e7-9c8b-915e702b7f93.png">

[2017-06-15 14:30] miketaylr commented on #1569
Failing test starts here: https://github.com/webcompat/webcompat.com/blob/master/tests/functional/issue-list-non-auth.js#L290

[2017-06-15 17:33] #1582 closed

[2017-06-15 18:27] miketaylr opened #1595 "Travis test failure on master"
After merging in https://github.com/webcompat/webcompat.com/pull/1588, we have the following failure on master:

[code]

(my bad from not checking `nosetests` output before merging... 👻)

@brizental can you check this out? We won't deploy until this can get fixed -- thanks!

[2017-06-15 18:40] miketaylr commented on #1595
I guess we wanna add an exception to https://github.com/webcompat/webcompat.com/blob/master/tests/test_urls.py#L51 (for test mode?)

[2017-06-15 19:05] brizental commented on #1595
@miketaylr sorry, should have run these tests too...
Anyways, should we even leave this function in? In the setup for the nosetests we set the app in test mode, so there's no point in adding an exception for test mode, since we will always be in test mode... is there?

[2017-06-15 22:10] cch5ng opened #1596 "refactor form code for required field validation errors"
currently there are redundant strings defined for required field validation error messages in form.py and bugform.js. it would be good to investigate:

* which strings are actually used and which strings could be removed (leaning towards using the js-defined strings to keep but need to test)
* also verify that the error sections coming from form.py (in form.html) are still being used

relevant cod

[2017-06-16 14:38] miketaylr commented on #1595
Oh, I think you're right. Hm... I guess we can just delete the test then. :)

[2017-06-19 16:08] cch5ng commented on #1505
starting work on this by:

- [ ] moving the file contents to a wiki page with JS refactor tasks
https://github.com/webcompat/webcompat.com/wiki/Z-Intern-Refactor-Tasks-(Sum-2017)
- [ ] removing the file from the code

[2017-06-20 10:26] denschub commented on #1571
@cch5ng I am **very sorry** for not responding! I totally missed the notification and only found it when searching something else. 😿

There is no JS logic at all! :) have a look at the HTML:

[code]

That's actually a fancy .. workaround'ish solution that works in every browser: We want to have drag'n'drop support for `input#image`, which is a `type="file"` input. As it turns out, all browsers sup

[2017-06-20 10:42] denschub commented on #1571
Also, you probably already found a solution. Anyway. Sorry. ;)

[2017-06-20 12:44] softvision-oana-arbuzov opened #1600 "Missing “Needstriage” label for reported issue if previously “Report” button was tapped twice"
**URL:** www.webcompat.com
**Browser / Version:** Firefox 54.0
**Operating System:** Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Type in the required information.
3. Drag and drop a screenshot on the attachment area.
4. Quickly tap the “Report” button.
5. Tap the “Report” button again after it changes its state (to yellow background).

**Expected Behavior:**
Issue

[2017-06-20 12:45] softvision-oana-arbuzov commented on #1600
This is related to  #1228.

[2017-06-20 14:49] #1595 closed

[2017-06-20 15:47] #1505 closed

[2017-06-20 16:05] cch5ng commented on #1571
@denschub thanks for your responses.

I think there is a partial explanation for why the 2nd drag'n drop doesn't have the expected result:
https://github.com/webcompat/webcompat.com/issues/1571#issuecomment-306624657

also
https://github.com/webcompat/webcompat.com/blob/1994276f0312b86a3df5c96efb83307d083d71a6/webcompat/static/css/development/components/upload-form.css#L42

no, I have not delivere

[2017-06-20 17:16] miketaylr opened #1601 "FAIL: firefox on any platform - Labels (auth) - Label widget opens (20724ms)"
[code]

[2017-06-20 17:16] miketaylr commented on #1601
I dunno if this is related to #712 or not, but it's the only currently failing test on master.

(Note, the real functionality isn't busted, I've just verified).

[2017-06-20 17:49] miketaylr commented on #1592
Yeah, we'll have to "whitelist" the `priority-` prefix:

https://github.com/webcompat/webcompat.com/blob/58f47fdd8f003444b3d4502de33fdb9c72ab574f/webcompat/static/js/lib/models/label-list.js#L27

I think that should be enough....

(this seems unused?? https://github.com/webcompat/webcompat.com/blob/2e9f2444a789d39873e42d2292f150fc87b98845/webcompat/static/js/lib/models/issue.js#L23)

[2017-06-20 18:16] miketaylr commented on #1601
Hmmm... I just deployed master to staging.webcompat.com, and the icon legit doesn't open. Possibly caused by something else. Investigating...

(I haven't deployed the v5.2.0 to master yet, phew)

[2017-06-20 18:24] miketaylr commented on #1601
Actually, this is a regression caused by https://github.com/webcompat/webcompat.com/commit/56d94cb996c160f1c4d27212d5f925ea89223924#diff-62ac21a69385d253b980039737102f05R23.

We switched from `button` to `.wc-Button`, but the label editor button is missing that class. Oops. :)~

(this is why flaky tests are a bad thing, we assume new failures are just flaky...)

[2017-06-20 18:49] magsout commented on #1601
@miketaylr ooops 😅

[2017-06-20 18:58] #1601 closed

[2017-06-20 18:59] miketaylr commented on #1601
@magsout no worries, easy fix :p

[2017-06-20 20:34] brizental opened #1603 "Update CONTRIBUTING.md for mock login"
Just remove the part about adding `testusername` and `testpassword` because they are no longer needed for functional tests since #1588

[2017-06-20 20:47] miketaylr commented on #1582
This is good to keep in mind. We have a current super hack in place, but if it turns out to be too fragile, let's come back to this. 👍

[2017-06-20 21:57] karlcow opened #1605 "code bottom is slightly cut off"
@magsout this is a fallout of the previous fix in #1570

Go to https://webcompat.com/issues/7272
See how the bottom of lines are hidden.

![capture d ecran 2017-06-21 a 06 53 48](https://user-images.githubusercontent.com/505230/27357816-b2e30892-564e-11e7-8626-010d8480f487.png)

[2017-06-21 02:20] brizental commented on #1569
The problem is that the `goBack()` function (https://github.com/webcompat/webcompat.com/blob/master/tests/functional/issue-list-non-auth.js#L320) should return a Promise but it never returns anything.

I tried to look and see if the problem is in our code, but I didn't find anything wrong, so I think that this might be a problem in Leadfoot, it only happens for the newest Firefox versions, like 54

[2017-06-21 08:24] karlcow commented on #1605
With an outline.
![capture d ecran 2017-06-21 a 17 24 18](https://user-images.githubusercontent.com/505230/27374390-89c4e32e-56a6-11e7-81e7-329d0037deb3.png)

[2017-06-21 08:27] karlcow commented on #1605
With

[code]

![capture d ecran 2017-06-21 a 17 26 34](https://user-images.githubusercontent.com/505230/27374454-d4fc0642-56a6-11e7-909f-84ccb59f8050.png)

[2017-06-21 08:27] zoepage commented on #1605
Can confirm. The padding seem to be the issue.
Following will fix the issue without changing the layout.
[code]

[2017-06-21 14:07] cch5ng opened #1607 "update problem_type radio button value"
this is a follow up task to #1547 to clean up form.py (radio button value)

(u'video_bug', u'Video or audio doesn't play'), =>
(u'media_bug', u'Video or audio doesn't play'),

https://github.com/webcompat/webcompat.com/pull/1578#discussion-diff-123073064R39

there is a dependency on updating Firefox nightly's media type reporting tool first

http://searchfox.org/mozilla-central/source/browser/base

[2017-06-21 16:43] miketaylr commented on #1569
It's also possible it's a Geckodriver bug or regression: https://github.com/mozilla/geckodriver

[2017-06-21 16:46] miketaylr commented on #1607
@cch5ng let's talk about this one in SF -- getting you set up for Firefox dev is much simpler f2f. :)

[2017-06-21 16:55] miketaylr commented on #1306
I'm afraid this might create a ton of pain for @cch5ng if I work on this before #1547 lands. Maybe we can get it done by the end of next week, or at least coordinate in-person.

[2017-06-21 17:18] #1605 closed

[2017-06-21 19:38] #1603 closed

[2017-06-21 20:50] miketaylr commented on #740
Here's a simple way to do this:

1) script fetches all issues with the "add to changelog" labels:

* https://api.github.com/repos/webcompat/webcompat.com/issues?labels=status%3A%20add%20to%20changelog

2. grab the PR (issue) URL and dump out some text that looks like the following:

[code]
The user will have to determine the version number, but the date can be created.

Bonus points for appending

[2017-06-21 20:52] miketaylr opened #1608 "Wrong year in CHANGELOG for past few releases (oops...)"
To fix this, change all the instances of 2018 to 2017. :)

https://github.com/webcompat/webcompat.com/blob/master/CHANGELOG.md

(Ideally we fix this before 2018, so it becomes even less confusing....)

[2017-06-21 22:06] karlcow commented on #1605
belated confirmation :) thanks!

[2017-06-21 23:13] cch5ng opened #1609 "add functional test for bug form Description field"
dependency on #1547

a test that validates expected required field error message display for the new Description text input should be added (reporting-non-auth.js). this was not included in the original issue because of challenges getting the correct selector (for the error message) to work on travis.

complications arose from the current Description input event listeners (which trigger 2 error me

[2017-06-22 08:19] softvision-sergiulogigan opened #1611 "The text areas display a shadow"
**Environment:**
Browser / Version: Chrome 58.0.3029.110 (Desktop), Firefox 54.0.1 Release (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Navigate to: https://webcompat.com/issues/new
2. Observe the text areas.

**Expected Behavior:**
The text areas have the same lineweight.

**Actual Behavior:**
The text areas display a shadow.

**Notes:**
1. Screenshot attached.

sv;
![screen

[2017-06-22 08:30] magsout commented on #1611
Thanks @softvision-sergiulogigan

Actually, this is a regression caused by https://github.com/webcompat/webcompat.com/commit/56d94cb996c160f1c4d27212d5f925ea89223924#diff-64589f250987f03e8530bc775a033edfR95.

The value of box shadow is wrong. it's not `.75` but `.075`.

[2017-06-22 08:33] MDTsai commented on #1592
Hmm, I should modify label-list.js first then add label to prevent people see the label with prefix.

I think it's not used for now.

[2017-06-22 08:37] MDTsai commented on #1592
One more thing, if critical is checked, important and normal should not be checked.

[2017-06-22 15:38] cch5ng commented on #1306
@miketaylr thanks. I'm also assigned to #1571, should I assume that this issue (#1306) should be completed before I start making changes on #1571?

[2017-06-22 16:06] miketaylr commented on #1306
That would probably make sense, @cch5ng. I could get this one done in a few hours after #1547 lands, so I shouldn't block you too much.

[2017-06-22 16:44] cch5ng commented on #1571
coding on this issue should be pending delivery of #1306

[2017-06-22 21:10] cch5ng commented on #1609
latest attempt:

[code]

[2017-06-22 21:22] cch5ng commented on #1609
this is a screenshot of the application state that the test is trying to trigger:

https://github.com/webcompat/webcompat.com/pull/1578#issuecomment-310161320

[2017-06-22 21:59] miketaylr opened #1613 "Do not call enableSubmits() in success handler of image upload"
If you do, you make it possible to file bad requests... for example if you didn't select a problem type, we'll end up hitting a 400 due to not having that key on the form object (which feels like another kind of bug...).

[2017-06-23 15:18] cch5ng commented on #1609
@miketaylr there was a couple question about existing logic in bugform.js that might impact this test.

I was unclear about this line:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L56

why does validation for problem type/category radio buttons need to occur when someone clicks on the description field?
(also related to https://github.com/webcompat/webc

[2017-06-23 15:29] cch5ng commented on #1611
hi @magsout @softvision-sergiulogigan I can work on this as I'd been wondering about the change and was looking at the related CSS:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L198

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/development/components/form.css#L107

[2017-06-23 15:30] #1613 closed

[2017-06-23 15:31] miketaylr commented on #1552
See also #1613 -- I forgot this issue already existed and fixed it there.

[2017-06-23 15:41] miketaylr commented on #1552
Just to add some context, the submits are disabled before the upload here:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L443

The original idea was to check validity once the upload succeeded, but instead I just enabled them blindly, which was a bug. :)

[2017-06-23 15:43] miketaylr commented on #1299
I'm pretty sure this is fixed by https://github.com/webcompat/webcompat.com/pull/1614. Before the changeset that created a 400 if a form key was missing, this would just be Unknown.

[2017-06-23 15:43] #1299 closed

[2017-06-23 15:47] miketaylr commented on #1552
This is fixed now in production, can you verify @softvision-oana-arbuzov and close?

@cch5ng unless I misunderstand something from your proposed solution, shouldn't `checkForm` be updated to include `checkDescriptionValidity`? Possibly something that should land in #1547, if it's not already included.

[2017-06-23 16:26] cch5ng commented on #1552
@miketaylr

yes, that is correct. some time before this comment (below), I was asked to separate #1552 from #1547. your comment above is the reason why #1552 is now being held until #1547 gets merged.

https://github.com/webcompat/webcompat.com/issues/1552#issuecomment-308474276

I think I just need to get an agreement from you and @zoepage whether to include #1552 in #1547 or not.

[2017-06-26 00:13] cch5ng commented on #1552
@miketaylr

for me when reading through the checkForm() function, I thought it would just validate the required fields and display errors if relevant. but I didn't see where it would re-enable the submit buttons if appropriate (ie case where all required fields were filled out before the file upload).

but I tested your fix on master and it seems like the submit buttons get re-enabled somewhere in

[2017-06-26 00:25] cch5ng commented on #1584
@karlcow I think my secrets.py file is missing some setup to use the webcompat-bot user for running tests. right now if I create an issue from localhost:5000, the issue does get created here:

https://github.com/webcompat/webcompat-tests/issues (but always with my regular login and when I run functional issues tests, still getting the original issue noted above)

should I assume I probably need to

[2017-06-26 06:36] softvision-oana-arbuzov commented on #1552
I've retested the issue and it is no longer reproducible.
Verified cases:
- not logged in;
- logged in;
- different browsers;
- trying to submit the issue without selecting a problem type option/without typing the site URL.

Note that when removing all the text from "Give more details", but selecting a problem type and site URL, "Report" button becomes active. I consider that for this case, "Repor

[2017-06-27 20:20] magsout commented on #1611
@cch5ng yes, cool!

[2017-06-27 20:52] miketaylr opened #1617 "bug description placeholder cut off at small viewports"
See:

![screen shot 2017-06-27 at 1 50 02 pm](https://user-images.githubusercontent.com/67283/27609482-c3797470-5b3f-11e7-8270-5c362fe0744e.png)

Maybe we can think of some shorter example text?

[2017-06-27 21:03] miketaylr commented on #1584
@cch5ng I can share the secrets with you here in SF. :)

[2017-06-27 21:19] karlcow opened #1618 "4 unit tests are network dependent."
When working with @brizental for an issue she had with tests, we also found out that 4 unit tests are failing if the network is off.

[code]

These need to work even if the network is off.

[2017-06-27 22:05] cch5ng commented on #1565
hi, I am starting to work on this issue.
@karlcow in light of the earlier discussion about #1551 and how to handle the issues around type-media bugs, does this issue still require a fix?

otherwise, I think the solution requires updating this link:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/shared/shared-nav-links.html#L6

where href="{{ url_for('show_issues') }}?p

[2017-06-27 23:29] cch5ng commented on #1584
closing as the issue was fixed by running tests using fixtures

`python run.py -t`

[2017-06-27 23:29] #1584 closed

[2017-06-27 23:30] karlcow commented on #1565
Let's hold on a little bit. a couple of days until we met Anthony Jones.

[2017-06-27 23:38] cch5ng opened #1619 "bug form element alignment"
css styles should be revisited for small desktop size (~806px)

the alignment of text area bottom with submit buttons is a little off

https://github.com/webcompat/webcompat.com/pull/1578#issuecomment-311504694

should probably clean up the margin-bottom tweak made for verified input fields (another class was updated at the last minute for 1547)

[2017-06-28 00:30] cch5ng commented on #1297
hi, I'm starting to look at this bug. after #1547 gets merged, the text area placeholder will no longer contain ":". ie it has changed to:

For example,
1. I've tried to log in.
2. I've filled out the form details.
3. I clicked on the submit button.
4. Nothing happened.

does this mean this issue could be closed or should it still be fixed?

[2017-06-28 02:49] tagawa commented on #613
I'd say the Description field being required is enough. The more required fields there are, the higher the chance a reporter will give up. If they provide at least a description (together with the other basic info) that should be enough to look into an issue IMO.

[2017-06-28 15:46] #1535 closed

[2017-06-28 17:41] karlcow commented on #1473
@zoepage Thanks for the reminder.
Because I had a new computer and I helped @MDTsai to set up a couple of things. I will probably propose something after San Francisco work week.

I'm wondering about switching to flake8 instead of pep8 but I want to make sure that the cost of switching is worth for people.

I wonder how many of us are not using sublimetext for editing the code.

[2017-06-28 17:41] karlcow commented on #1473
@webcompat/collaborators What is your text editor for python code?

[2017-06-28 17:46] wisniewskit commented on #1618
I am just commenting upon request, please ignore this comment!

[2017-06-28 18:33] zoepage commented on #1473
Sublime3

[2017-06-28 20:01] brizental commented on #1473
Sublime 3

[2017-06-28 20:07] denschub commented on #1473
VIM!

[2017-06-28 20:35] miketaylr commented on #613
I'm inclined to agree with @tagawa. Let's deploy the new form, and if we feel like we need more validation after getting some reports in, let's file a new bug. Thanks @cch5ng!

[2017-06-28 20:35] #613 closed

[2017-06-28 20:53] brizental opened #1620 "Get all functional tests to work offline"
These are the tests that still need internet access:

- [x] - Issues (auth) - Closing and reopening an issue
- [x] - Search (non-auth) - Search input is loaded from q param (with dashes)
- [x] - Search (non-auth) - Search with a dash works
- [x] - Search (non-auth) - Results are loaded from the query params
- [x] - Issues (non-auth) - Pressing g goes to the github issues
- [x] - Issue List (non-au

[2017-06-28 21:19] karlcow opened #1621 "[dead code] issue_db code could be removed"
We have here and there some code which is actually not used at all.

in db/__init__.py

https://github.com/webcompat/webcompat.com/blob/b6a3d68417f7c0c9fd556c8b0ea3c840f99fb54d/webcompat/db/__init__.py#L25-L48

and in run.py
https://github.com/webcompat/webcompat.com/blob/a9cbf443a54f8c79a9364bea7cc3777ae95aa351/run.py#L118-L144

Even if we reuse something similar in the future, I guess we could r

[2017-06-28 22:39] miketaylr commented on #1473
sublime 3

[2017-06-28 23:40] karlcow opened #1622 "Comment box issues with long comments"
Step to reproduce

1. Go to an issue
2. Start typing a comment so you reach the bottom of the allocated space
3. insert an image

Issues List
1. Actual: Note how the image is added under the visible part of the textarea.  Expected: the textarea should be positioned so we can see the code we just added.
2. Actual: You can't scroll in the textarea to view the code. Expected. Scroll down. The only wa

[2017-06-28 23:45] karlcow commented on #1622
Some issues are possibly related to what we decided in #1211
Sorry… @zoepage 😿 👹

[2017-06-28 23:51] cch5ng commented on #1473
sublime 3

[2017-06-29 04:38] tsl143 commented on #1473
Sublime 3 <3

On Thu, Jun 29, 2017 at 5:21 AM, Carol Chung <notifications@github.com>
wrote:

--
Cheers,
Trishul Goel
-------------------

[2017-06-29 20:14] #1592 closed

[2017-06-29 21:24] #1547 closed

[2017-06-29 21:28] miketaylr opened #1623 "Update staging uwsgi docs"
We made some changes, this change reflects them.

[2017-06-30 09:33] cch5ng commented on #1609
chatted with miketaylr about this. he greenlighted the idea of removing current logic for when you select the description (post #1547) input field, required field validation would get triggered on the previous field (problem/category type). but I will be responsible to double-check that this change doesn't cause unforeseen issues. for ex, will the problem type validation occur otherwise before the

[2017-06-30 15:56] #1569 closed

[2017-06-30 16:03] karlcow opened #1627 "Adds coco.fr to the abuse list"
We currently had a series of report for coco.fr which looks like spam.
Let's block them in the meantime.

[2017-06-30 16:05] karlcow commented on #1627
https://github.com/webcompat/web-bugs/issues?page=1&q=is%3Aissue+coco+in%3Atitle&utf8=%E2%9C%93

[2017-06-30 16:33] cch5ng opened #1629 "test file drag and drop onto file input field"
unsure how to write an automated test for #1571
* drag drop a desktop file over the bug report input field

there is a topic under intern/leadfoot: https://github.com/theintern/leadfoot/blob/dnd/helpers/DragAndDrop.js

but this appears to be only for drag and dropping elements within webcompat.com

[2017-06-30 18:16] brizental opened #1630 "Create tests for non-auth Github search"
Right now we are only testing auth search and non-auth actually uses another function (https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issue-list.js#L343-L351), so we need to create tests for that.

[2017-07-02 06:56] karlcow opened #1631 "[tests] Starting "python run.py -t" from the functional tests"
So we have a pattern.

Very often in the team, we forget (or at least I do) to start `python run.py -t` for running the functional tests. And indeed we have quite a lot of things to do before starting the tests. Having the right version of java, starting the server, the long command for launching the tests.

I wonder if this should not be handled with a script.

[2017-07-03 21:00] cch5ng commented on #1611
hi @softvision-sergiulogigan the fix for this was included in #1577
so it should be ready to test/close. thanks.

[2017-07-03 23:17] karlcow commented on #1627
The storm has passed. Let's close the pull request for now.
https://github.com/webcompat/webcompat.com/pull/1628

[2017-07-04 06:12] softvision-sergiulogigan commented on #1611
@cch5ng the shadows are still there, so we'll wait for the merge. Thank you for the heads up! I'll follow up on this issue in the coming days.

[2017-07-05 12:27] softvision-oana-arbuzov opened #1636 "Remove autoExpand feature for textareas"
URL: www.webcompat.com
Browser / Version: Firefox 54.0.1, Chrome 59.0.3071.115.
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Navigate to: www.webcompat.com.
2. Type in a lot of info in “Give more details” text area.
3. Observe “Attachment” area.

**Expected Behavior:**
“Attachment” area remains on top of the page.

**Actual Behavior:**
“Attachment” area keeps moving to the bottom o

[2017-07-05 14:47] cch5ng opened #1637 "refactor views.py and endpoints.py"
while looking at code for fixing issues, noted some items might be cleaned up

endpoints.py (from manual testing of search functionality couldn't see these endpoints getting called in the network panel)
* first verify logic in https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issue-list.js; maybe some endpoints get used under special conditions like (with category filt

[2017-07-05 17:12] cch5ng commented on #1611
@softvision-sergiulogigan thanks for your eyes. when you are doing your testing after the bug fix, are you just looking at webcompat.com typically?

also just a heads up that the shadow is not completely removed but the width has gone from 0.75 to 0.075 so it should be very subtle afterward. (affects the default input as well as the input with focus)

![screen shot 2017-07-05 at 10 04 15 am](https

[2017-07-05 18:31] adamopenweb opened #1638 "Simpler L10n"
[As discussed ](https://wiki.mozilla.org/Compatibility/Meetings/2017-06-30#l10n_.28adam.29)during the 2017 All Hands meeting, we should consider translating a single line of the bug report form.

There seems to be agreement that full localization of webcompat.com is a lot of work but also that having bug reports from many regions/languages could be difficult for us to manage.

Currently we get som

[2017-07-05 18:50] cch5ng commented on #1617
@miketaylr perhaps the placeholder could just be an abbreviation of the current:
The video should have started

also I'm not sure what is the process to complete this fix. who all needs to give feedback? thx

[2017-07-05 19:38] cch5ng commented on #1607
@miketaylr I guess this is an obsolete bug since there was a discussion about getting rid of the media type reporting tool? I started to look at the Bugs Ahoy list you mentioned and signed up for a couple alternative FF bug fixes.

[2017-07-05 19:43] miketaylr commented on #1617
Yep, that works! Or, "The video doesn't play" or... something like that. :)

I would submit a PR modifying the `placeholder` and probably ping @zoepage for review.

[2017-07-05 19:52] miketaylr commented on #1607
In the future the media team *may* turn it back on, at least according to the conversation we had. So it's probably still worth fixing, but no rush.

[2017-07-06 00:11] karlcow opened #1640 "[tutorial] Explanation of code in webcompat.com"
@cch5ng started to ask question about the code. I will use this space to reply to the questions which might be useful for others.

Extract from https://github.com/webcompat/webcompat.com/pull/1628#issuecomment-312970048

[2017-07-06 00:18] karlcow commented on #1640
## sets vs set/frozenset in views.py

Usually better to use a reference with a commit view so it doesn't get lost in the future.
https://github.com/webcompat/webcompat.com/blob/eb8b2ac6377f4d2ffe96eae3e2fa6c5de3f6950b/webcompat/views.py#L179
https://docs.python.org/2/library/sets.html

should set() be updated to frozenset()? I had to look up issubset() and saw a deprecation notice in the docs. htt

[2017-07-06 00:32] karlcow commented on #1640
## namedtuple in config for labels

https://github.com/webcompat/webcompat.com/blob/c613a7849f6e573c5c5cf186dea1bcf51e2f9b27/config/__init__.py#L46-L62

(this is something I looked at for a different issue) why do you use a namedtuple here? is it just to be more descriptive?

Yes just to be more descriptive and easier to manipulate. We use them in templates. I did that initially to help the passin

[2017-07-06 00:56] karlcow commented on #1640
## Homepage list of issues

The issues are populated into the section `js-lastIssue` and this is the code sent by the server.

[code]

The HTTP request is made by the JavaScript as an XHR request asking for:
http://webcompat.com/api/issues/category/needstriage
This returns a JSON file.

Which means we hit this route in the code: `@api.route('/issues/category/<issue_category>')`
https://github.com/

[2017-07-06 00:58] karlcow commented on #1640
## About reviews

Yes. Perfectly fine. :)

[2017-07-06 02:19] karlcow commented on #1638
Les commentaires en français sont bienvenus.

which is more "Comments in French are welcome."

[2017-07-06 02:35] karlcow commented on #1637
Some answers to your questions might be in #1640

[2017-07-06 03:41] karlcow commented on #1473
So I guess I will come with a solution for sublime text 3. :) and Vim/emacs users will adjust. :)

[2017-07-06 07:11] softvision-sergiulogigan commented on #1611
@cch5ng

If you are asking us if we test the fix exclusively on webcompat.com, and not on staging.webcompat.com or webcompat builds that are not yet released, the answer is YES.

[2017-07-06 14:38] #1620 closed

[2017-07-06 15:30] #1609 closed

[2017-07-06 18:29] miketaylr commented on #1306
(doing a little refactoring while i fix this, the upload stuff is particularly gross -- would be much nicer with Promises, but I don't wanna pull in a polyfill)

[2017-07-06 18:30] miketaylr commented on #1042
I'm fixing this in #1306.

[2017-07-06 18:31] miketaylr commented on #1042
also, FWIW, I downscaled a 10MB file to 1.6MB and the end result is pretty good:

![05197cff-fcc7-4644-a330-cea03cb31995](https://user-images.githubusercontent.com/67283/27926842-6a3bbb9a-624f-11e7-9e32-6fbda3ea375d.jpeg)

[2017-07-06 20:22] cch5ng commented on #1640
@karlcow thanks for your time and answers. the app flow is particularly helpful.

is that the same as meaning the FE makes a request (like issues) to the BE api which makes a corresponding request to Github's api?

[2017-07-06 21:10] miketaylr opened #1641 "TypeError: response.responseJSON is undefined"
In issues.js:

[code]

We need to check that the `responseJSON` property exists before trying to grab its `message` property.

`if (foo && foo.bar && foo.bar.baz === "lol") {}`

[2017-07-06 21:12] miketaylr commented on #1641
(Note, we don't see this in production -- I just hit it when my server was in test mode and I went to an issue we didn't have fixtures for. But still, a good thing to fix)

[2017-07-06 21:59] miketaylr commented on #1306
Need to fix failing tests, and see what new tests I can write.

[2017-07-06 22:23] cch5ng commented on #1565
although this is a back burner issue, I've been researching as it is interesting. new findings:

afaik only the github search api supports the negative filter (search x, not label type-media). the application currently retrieves issues using both the github issues api and search api. I do not think the issues api supports negative filters though.

* https://help.github.com/articles/searching-issue