[2018-02-22 08:34] magsout commented on #2174
@softvision-sergiulogigan ok cool, thanks ;)

[2018-02-22 08:36] magsout commented on #2032
@karlcow we can add an icon for need information too, though ?

[2018-02-22 08:57] amitsin6h commented on #2097
I want to take this

[2018-02-22 08:58] amitsin6h commented on #2094
I want to take this

[2018-02-22 11:17] zoepage commented on #2097
You claimed 2 issues. Please decide on one. Thanks

[2018-02-22 11:24] karlcow commented on #2032
yup. 🕐 or 🛎 or ⏰ or …?

[2018-02-22 11:57] amitsin6h commented on #2097
@zoepage want to work on this first.

[2018-02-22 12:01] zoepage commented on #2097
Cool. Let me know, if you have any questions.

[2018-02-22 12:02] amitsin6h commented on #2097
@zoepage sure

[2018-02-22 12:05] amitsin6h commented on #2097
@zoepage how can I run webcompat locally

[2018-02-22 12:48] zoepage commented on #2097
@amitsin6h https://github.com/webcompat/webcompat.com/blob/refactor/docs/dev-env-setup.md

[2018-02-22 13:04] zoepage commented on #2181
I agree to mostly everything Dennis said. We should not build every branch, but adding refactor (until this is finally merged) seems like a very good idea especially as the test are passing almost.

So, +1 on adding refactor to the config.

[2018-02-22 13:17] zoepage opened #2184 "remove leftover `&` from .travis.yml"
Looks like there is a leftover character (= `&`) in the travis config:
https://github.com/webcompat/webcompat.com/blob/refactor/.travis.yml#L46

We should remove it.

[2018-02-22 13:22] zoepage commented on #1924
Maybe @mpaarating might be interested in working on this after #2061 ? :)

[2018-02-22 14:19] amitsin6h commented on #2097
@zoepage yeah manged to run :+1:

[2018-02-22 14:27] amitsin6h commented on #2097
@zoepage could you please review my PR #2185

[2018-02-22 14:29] amitsin6h commented on #2184
@zoepage do we need to remove (&) character from config. Let me take this also

[2018-02-22 14:51] #2061 closed

[2018-02-22 14:51] zoepage commented on #2061
fixed by #2183

[2018-02-22 14:52] zoepage commented on #2184
@amitsin6h happy to assign it to you after the fixed PR. :)

[2018-02-22 19:07] underscoredotspace commented on #1502
Hi @karlcow. Is there any reason not to add the `word-wrap: break-word` rule to the `.wc-Markdown *` selector as opposed to just covering the LI element?

[2018-02-22 19:47] zoepage commented on #1502
Sorry, we should close this big as there is a big refactor going on right now which already solved this issue.

But feel free to grab another starter issue with the label scope: refactor @underscoredotspace

[2018-02-22 19:58] underscoredotspace commented on #1502
Ah, that's fine @zoepage. I only checked this out as I've just made a similar fix elsewhere that wasn't quite as straight-forward.

Looks like there's plenty more to work on 🙂

[2018-02-22 20:03] #2097 closed

[2018-02-22 20:32] #2110 closed

[2018-02-22 20:33] miketaylr commented on #2106
OK, this is done. But possibly the tests are flaky now. Please file follow up bugs for those tests, if anyone runs into them locally.

[2018-02-22 20:33] #2106 closed

[2018-02-22 21:20] miketaylr commented on #2032
@karlcow what does Priority mean? Maybe we need a more clear wording, or at least a key at the bottom. :)

[2018-02-22 21:24] miketaylr commented on #2032
Ah wait, you already said:

I think we should have an icon ( i like ⏰, but i don't care), and at the bottom of the page have something like:

[2018-02-23 04:52] amitsin6h commented on #2184
@zoepage can I take this now.

[2018-02-23 07:13] #1502 closed

[2018-02-23 07:14] zoepage commented on #2184
Yes :)

[2018-02-23 10:40] amitsin6h commented on #2184
@zoepage I just want to know that do I need to make separate folder to clone `refactor` branch or I can do it with `master`

[2018-02-26 08:50] zoepage commented on #2184
@amitsin6h
You can pull refactor and make a branch out of this.
You need to run following for this:

[code]

Then you can make the changes.

[2018-02-26 10:02] zoepage commented on #2181
@miketaylr did you add the `refactor` branch on master to the config? I can see the change, but there is not commit referencing this issue? Just the commit of the `testing` branch.

[2018-02-26 16:18] miketaylr commented on #2181
I don't think we're spamming builds. We're running tests on branches that we're actively developing. Also, if this becomes an issue for Travis and they want to charge for it. I'm happy to pay. For now, they don't. Considering our actual usage vs large projects with large matrices of builds... I can't imagine we're even close to a drop in the bucket of overhead.

I did @zoepage. https://github.com/

[2018-02-26 19:29] denschub commented on #2181
We definitely were during the sprint weekend. :) But yeah, we don't do that on a regular basis.

[2018-02-26 19:49] miketaylr commented on #2184
This isn't a typo, it's redirecting output to a subshell.

See https://superuser.com/questions/358491/what-does-the-mean-when-used-in-the-end-of-a-bash-script

[2018-02-26 19:54] amitsin6h commented on #2184
@miketaylr :+1:

[2018-02-26 19:54] amitsin6h commented on #2184
@miketaylr we can close this issue then

[2018-02-26 20:00] miketaylr commented on #2184
Sounds good, thanks @amitsin6h!

[2018-02-26 20:00] #2184 closed

[2018-02-26 22:52] zoepage commented on #2098
merged in #2098

[2018-02-26 22:52] #2098 closed

[2018-02-26 23:08] miketaylr commented on #2181
I think once refactor lands, this issue won't be so important. Let's close it for now because there's more imporant problems to worry about. Thanks for input @zoepage and @denschub

[2018-02-26 23:08] #2181 closed

[2018-02-26 23:12] adamopenweb commented on #2047
Can we add `Update Channel` as well please?

It would make it easier to know the channel in our reports. Rather than taking the version and having to figure out what channel it was at a given point in time. `Update Channel` just tells us.

It's useful to know if some channels are providing higher volume of bugs and higher % of valid bugs.

[2018-02-26 23:14] miketaylr commented on #2047
@adamopenweb what's the best way to consume this for you? A label? A string somewhere in the issue body?

[2018-02-26 23:20] miketaylr opened #2188 "SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data[Learn More]"
STR:

In 59 or below, click "Report Site Issue" from the page actions menu.

Expected: Get a screenshot
Actual: Don't, and have this error in the console.

I think I did this. 😿

[2018-02-26 23:20] miketaylr commented on #2188
It works as expected in 60. What happened here is changing the way data is sent to us via GET params, but forgetting we need to support the old way for a few releases.

[2018-02-26 23:36] adamopenweb commented on #2047
Same way as `` is fine. As long as it's consistent, it's somewhat easy to pull out.

[2018-02-27 09:09] #2188 closed

[2018-02-27 12:07] zoepage commented on #2175
closing as duplicate.

[2018-02-27 12:07] #2175 closed

[2018-02-27 16:40] #2032 closed

[2018-02-27 17:53] miketaylr commented on #2178
This was fixed by #2188.

[2018-02-27 17:53] #2178 closed

[2018-02-27 18:00] miketaylr opened #2192 "Move some top-level markdown files to docs/ directory"
To reduce clutter a bit, GitHub treats the following files the same way if they're top-level or inside a `docs/` directory. Since we already have one of those, maybe a good idea?

[CONTRIBUTING.md](https://help.github.com/articles/setting-guidelines-for-repository-contributors/)
[CODE_OF_CONDUCT.md](https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/)
[README.md](https://hel

[2018-02-27 18:17] miketaylr opened #2193 "Add support for intern test grepping"
(or add it back, it used to work pre-Intern 4)

[2018-02-27 18:59] miketaylr opened #2195 "CSP blocking sourcesanspro font."
(I looked for a dupe, forgive me if it already exists!)

At the following URL, https://staging.webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc&q=testetsts

`Content Security Policy: The page’s settings blocked the loading of a resource at https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2 (“font-src”).`

Our current `

[2018-02-27 19:01] miketaylr commented on #2195
We use the following font-stack at least in reset-add.css: `font-family: "Source Sans Pro", "Open Sans", sans-serif;`.

[2018-02-27 22:04] miketaylr commented on #2162
I think I fixed this in https://github.com/webcompat/webcompat.com/commit/879252723e42d25bc3f60d1c15efca6cc82e5611, let's re-test once we deploy from refactor branch again.

[2018-02-27 22:08] miketaylr commented on #2074
Splitting seems fine!

[2018-02-27 22:11] miketaylr commented on #2064
In the existing design, we never really had these -- so they would be great additions. I guess you have to manually delete the image (and I think we just swallow any errors).

[2018-02-28 00:04] #740 closed

[2018-02-28 09:00] zoepage commented on #2074
FYI #2149 is fixed. We just need to fix the jumping issue now.

[2018-02-28 13:05] zoepage opened #2196 "CSP blocking script"
@miketaylr I get following error:

`Content Security Policy: The page’s settings blocked the loading of a resource at self (“script-src”). Source: onfocusin attribute on DIV element.`

Do you see it?

[2018-02-28 13:06] zoepage commented on #2193
this was merged #2194

[2018-02-28 13:06] #2193 closed

[2018-02-28 13:12] zoepage commented on #2192
I can understand the issue of too many files in top-level, but the visibility of the `CODE_OF_CONDUCT` as well as `README` seem like a crucial point for community members to understand the values of the project and that we really try to be as welcoming as possible.

Liking to the `CONTRIBUTING` file seems legitimate to me.

[2018-02-28 18:55] miketaylr opened #2198 "Remove hardcoded instances of "http://localhost:5000/" from functional tests"
They should instead pull that in from intern `siteRoot` config property.

[2018-02-28 19:34] softvision-sergiulogigan opened #2199 "Checkmarks are not visible when using Autocomplete"
When selecting strings from the drop-down (autocomplete) list, the checkmarks are not visible anymore due to the highlight on the field.

![image](https://user-images.githubusercontent.com/16573771/36808868-09e23252-1ccf-11e8-9465-904bc7bb11b9.png)

[2018-02-28 19:37] softvision-sergiulogigan commented on #2199
This is how it looks now:

![image](https://user-images.githubusercontent.com/16573771/36809024-71f825ea-1ccf-11e8-8d2c-7f40bcd478d4.png)

[2018-02-28 19:38] zoepage commented on #2199
Interesting! Let me investigate.

[2018-02-28 19:39] zoepage commented on #2199
Is this just happening in chrome or also in Firefox @softvision-sergiulogigan ?

[2018-02-28 19:52] zoepage commented on #2148
This will be fixed through #2101 -> #2200

[2018-02-28 20:03] zoepage commented on #2074
merged #2197

[2018-02-28 20:03] #2074 closed

[2018-02-28 22:46] miketaylr commented on #2196
I do! I believe that's from jQuery. Let me try to find a reference to the Bugzilla bug.

(we can probably close this as invalid)

[2018-02-28 22:50] miketaylr commented on #2196
https://bugzilla.mozilla.org/show_bug.cgi?id=1336076#c6

As far as I can see I have no other option than patching jQuery 1.x to change their test:

If we care about this, we can morph this bug to upgrade jQuery versions (assuming some later version has a different feature test). But I wouldn't consider it a real bug or important, just some console spam due to our strict CSP policy.

[2018-02-28 22:50] miketaylr commented on #2196
(removing refactor scope because this exists in production as well)

[2018-03-01 07:00] softvision-sergiulogigan commented on #2199
Hey @zoepage
I have tested today also in Nightly, but the issue is not happening.

![image](https://user-images.githubusercontent.com/16573771/36831083-edfc68fe-1d2e-11e8-933b-85eace81528a.png)

[2018-03-01 09:38] zoepage commented on #2199
So it's just chrome?

[2018-03-01 09:41] softvision-sergiulogigan commented on #2199
Yes, just Chrome has this issue.
Tested on both Linux Mint and Windows 10.
Nightly displays the checkmarks, as expected.

[2018-03-01 13:56] zoepage commented on #2101
merged #2200

[2018-03-01 13:56] #2101 closed

[2018-03-01 20:17] miketaylr opened #2201 "editorconfig audit"
There's a lot of code that doesn't obey our editorconfig settings, and we don't fail tests due to this, but I guess it's nice to be consistent.

For these types of cleanups, I suppose doing a little at a time is the right approach.

There's a "checker" here that I just used that seems to work well.

https://github.com/editorconfig-checker/editorconfig-checker.javascript

Maybe not worth worrying a

[2018-03-02 17:49] reinhart1010 opened #2202 "Add "Account Required" and "Purchase/Subscription Required" tag for new issues"
As what the title says, this could indicate whether the issue happens in a website that requires an member, account, purchase and/or subscription.

Examples of issues that could be tagged as account/subscription-exclusive:

+ web-bugs#15708
+ web-bugs#15679
+ web-bugs#13743

This could inform which Webcompat contributors that could be contacted, in case that the person has an existing account for

[2018-03-02 21:35] miketaylr commented on #2202
I think this sounds super reasonable. Thoughts @zoepage @softvision-oana-arbuzov @softvision-sergiulogigan?

[2018-03-02 21:39] miketaylr commented on #2199
Accorinding to this page: https://stackoverflow.com/a/41530164, chrome should fire a `change` event on the input when autofill happens, but there's also a pretty sweet hack there using `:-webkit-autofill`.

[2018-03-04 10:41] zoepage commented on #2202
SGTM. Maybe a prefix like `requirement` or something like that could be useful.
What do the others think?

[2018-03-04 15:07] zoepage commented on #2201
It'd be great to also keep JSON in mind as we have the same issues there.

[2018-03-05 07:18] softvision-sergiulogigan commented on #2202
I also think is a good idea. Still, I would suggest using these tags only for sites that don't offer Sign Up (like banks, closed learning platforms (#15565) or/and corporate platforms).

[2018-03-05 13:31] softvision-oana-arbuzov commented on #2202
This is indeed a great idea, we could gather all the issues that we were not able to test/fix due to this limitation.
As Sergiu said, we could have a shorter list of sites that we could contact (e.g top 100), in order to ask for a test account if possible.
I would also suggest for the already logged issue, to create a script that checks comments for some special keywords (e.g. paid account/account

[2018-03-05 17:08] miketaylr commented on #1688
We should probably retire this bug, since it will be obsolete when the refactor lands.

[2018-03-05 17:08] #1688 closed

[2018-03-05 18:19] deeptibaghel opened #2203 "[bug] UnboundLocalError on milestones_content"
While setting up development error, command "python run.py" throws error as below :
If i initialize milestones_content, it aborts with error "Milestones are not initialized"
It is trying to access milestones folder on my test repo  https://api.github.com/repos/deeptibaghel/webcompat/milestones
which is not there yet.

_Statuses Initialization…
Fetching milestones from Github…
Traceback (most recen

[2018-03-05 20:38] miketaylr commented on #2203
Ah, thanks @deeptibaghel. I'd like @karlcow to chime in on how we should maybe fix this when he returns from PTO in a few days. It could either be a documentation bug, or perhaps we can write some code to generate these for a given repo.

As a workaround, you could create the following milestones in your test repo:

https://github.com/webcompat/webcompat-tests/milestones

[2018-03-05 20:39] miketaylr commented on #2203
(and easier option is to just use the webcmopat/webcompat-tests repo for now)

[2018-03-05 20:47] miketaylr commented on #2192
By default, GitHub will continue to display README just below the code. So I don't think it becomes any less visible. And we link to the code of conduct from that README at the end of the contributing paragraph (it doesn't get it own heading).

[2018-03-05 23:36] Kagamihime commented on #2198
@miketaylr I’d like to work on this for my outreachy contribution :)

[2018-03-05 23:40] miketaylr commented on #2198
Great, thank you!

[2018-03-05 23:46] miketaylr commented on #2198
Let me know if you run into any problems getting the functional tests running:

https://github.com/webcompat/webcompat.com/blob/refactor/docs/tests.md

Once this bug is finished, it should be possible for tests to pass from the following 2 commands:

`npm run test:js -- --siteRoot=http://127.0.0.1:5000/` &
`npm run test:js`

One more thing: if might be simpler for you to work off the `refactor` br

[2018-03-06 09:32] deeptibaghel commented on #1924
@miketaylr I’d like to work on this for my outreachy contribution!

[2018-03-06 09:46] MynahMarie commented on #1508
@miketaylr I’d like to work on this for my outreachy contribution!

If it's ok for me to work on this, can you please give me a bit more clarification on this issue? If I understand correctly, this would be about modifying the function located at: https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L270 and include an http/https check (the link provided for in

[2018-03-06 10:08] zoepage commented on #2202
Why?

[2018-03-06 10:18] zoepage commented on #1924
@deeptibaghel Feel free! Please make sure to branch from the `refactor`  branch. Let me know, if you have questions :)

[2018-03-06 11:12] zoepage commented on #2192
I was suggesting to keep this in root as people, who had bad experiences in other projects are screening for this when checking out a new project they might be interested in contribute to.

But as our README is not really long, adding a dedicated CoC section to it might be enough.

[2018-03-06 12:55] zoepage commented on #2073
@miketaylr didn't we merge this last week? 🤔

[2018-03-06 12:56] zoepage commented on #2171
this was merged in #2191

[2018-03-06 12:56] #2171 closed

[2018-03-06 13:14] zoepage commented on #2082
As there was no answer on this, closing for now. We can re-open if this is still an issue.

[2018-03-06 13:14] #2082 closed

[2018-03-06 13:16] softvision-oana-arbuzov commented on #2202
In my opinion, for the sites that need an accounts and that can be easily created, you ca assign them to us (me and Sergiu) or use the ones from our list of created account, without the need of adding a tag.

[2018-03-06 13:17] zoepage commented on #2148
fixed through https://github.com/webcompat/webcompat.com/pull/2200#issue-172054001

[2018-03-06 13:17] #2148 closed

[2018-03-06 13:20] zoepage opened #2204 "Update README.md"
As our SVG's changed, we need to update the README section:
https://github.com/webcompat/webcompat.com/blob/master/README.md#icons

We use the https://github.com/feathericons/feather#feather set, which has a MIT license.

[2018-03-06 13:31] zoepage opened #2205 "Hero image on non-desktop"
<img width="574" alt="screen shot 2018-03-06 at 2 27 35 pm" src="https://user-images.githubusercontent.com/562354/37034891-1024eb8e-214b-11e8-926a-b96c257f713b.png">

I was pretty sure this was reported already, but couldn't find it.

[2018-03-06 14:08] deeptibaghel commented on #1924
@zoepage i tried to work branch refactor but got errors as below :
<img width="1450" alt="screen shot 2018-03-06 at 7 34 13 pm" src="https://user-images.githubusercontent.com/448609/37036379-84f8a016-2175-11e8-8369-46e2590a903b.png">

[2018-03-06 14:28] deeptibaghel commented on #1924
Also i can see the animation in https://staging.webcompat.com/ but not on https://webcompat.com.
Can i get any hint on which js files would be having the animation related code.

[2018-03-06 14:36] deeptibaghel commented on #2203
Thanks @miketaylr .  i created local file milestones.json to make it work, as in my setup requests.get(milestones_url) is also not working, it throws error :
_It failed with [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:661)!_

Also it is was not getting caught by requests.exceptions.HTTPError, so i changed it to catch all exceptions.
So i am able to run it locally with

[2018-03-06 15:38] reinhart1010 opened #2206 ""Non-Compat" milestone tag seems to have a due date"
Link: https://github.com/webcompat/web-bugs/milestone/1

The "Non-Compat" milestone tag seems to have a due date of January 16, 2032, unlike others (such as invalid and sitewait) which do not have. This might be a human error.

[2018-03-06 17:57] miketaylr commented on #1508
@MynahMarie Yep! Sounds good. Also yeah, I guess that code did disappear... :)

https://searchfox.org/mozilla-central/source/browser/extensions/webcompat-reporter/content/WebCompatReporter.jsm#55 should give an idea of what we want.

[2018-03-06 18:04] miketaylr commented on #2203
Hrm, interesting. Looking around... it sounds like you have an older version of openssl? I guess we don't make any requirements for that, and we should.

[2018-03-06 18:25] miketaylr commented on #2051
Also, we need to fix some tests after changing that:

https://github.com/webcompat/webcompat.com/pull/2052#issuecomment-363646688

[2018-03-06 18:37] miketaylr commented on #1138
I believe @zoepage effectively fixed this in #2191.

[2018-03-06 18:37] #1138 closed

[2018-03-06 19:01] deeptibaghel commented on #1924
@miketaylr , sorry yeah i missed building it. Also i sensed it is coming from svg, but then "lang: js" tag in issue made me think that way.
The animation seems to be running only once to me on page load, without any interaction, so we need to change it to happen on hover ?

[2018-03-06 20:18] zoepage commented on #2195
merged #2207

[2018-03-06 20:18] #2195 closed

[2018-03-07 00:35] miketaylr commented on #2206
Oh that's... interesting. :)

Thanks @reinhart1010 I just removed it.

[2018-03-07 00:35] #2206 closed

[2018-03-07 00:36] miketaylr opened #2208 "/about content edits"
Per @zoepage's request, I'm going to make some edits and send in a PR.

[2018-03-07 00:56] miketaylr opened #2210 "/contact content edits"

[2018-03-07 01:08] miketaylr commented on #2083
The opposite is also true. My opinion on this has evolved to be: if there are people in the slack who can help out that community, great.

(I don't see myself idling there, fwiw, but that's because I'm already idling in too many slack and irc channels as is).

[2018-03-07 01:16] miketaylr opened #2212 "/privacy content edits"
A few things changed here, so we have to update at the very least the date.

[2018-03-07 01:24] miketaylr commented on #2082
I actually was just thinking this. I don't mind it anymore.

[2018-03-07 08:22] zoepage commented on #1924
Sorry for the confusion with the `lang: JS` tag. The initial idea was to just run it once and store the status in the local Storage. This is why we added the JS tag. It's all CSS now. :)

The animation should just run on hover of the bug. :)

[2018-03-07 09:30] zoepage commented on #2210
merged #2211

[2018-03-07 09:30] #2210 closed

[2018-03-07 09:32] zoepage commented on #2212
merged #2213

[2018-03-07 09:32] #2212 closed

[2018-03-07 09:40] zoepage commented on #2083
I'm okay with hanging out in the Slack and answer questions. I'm sure, after the community grows we'll have more people to help out answering questions.

The next steps would be:
- [ ] Add Slack invite link to contact page
- [ ] Add CoC related responses per Slack bot
- [ ] Invite the team & ping people on IRC & Moz Slack

[2018-03-07 09:55] softvision-sergiulogigan commented on #2148
This issue is also reproducible on Chrome (Desktop).
![image](https://user-images.githubusercontent.com/16573771/37085694-5c02083a-21fe-11e8-9776-9e6304be4f83.png)

[2018-03-07 10:12] softvision-sergiulogigan commented on #2202
@zoepage

I think it would be more relevant for us to be able to generate a list of sites that need special accounts to access. This way, if we have (say) 20 issues opened on a single site, maybe we could contact the owners and ask for test accounts, or staging environments, as the WebCompat project grows over time and is more and more visible.

Sites that provide a way of creating a free account

[2018-03-07 10:35] reinhart1010 opened #2214 "Redirect new reports to Google Safe Browsing for phishing and malware sites"
Recently, we received several non-compat and invalid reports such as webcompat/web-bugs#15856, webcompat/web-bugs#15849 and webcompat/web-bugs#15101, which are reporting fraudulent and scam websites.

This is possibly caused by the ambiguity from the "Report Site Issue" feature inside the "Page Actions" (3 dots) button. However, Firefox has another "Report Web Forgery" feature that is hidden from

[2018-03-07 10:41] zoepage commented on #2148
This issue was solved, but not deployed yet.

[2018-03-07 11:35] softvision-sergiulogigan opened #2215 "The "Older than 48h" bucket in NeedsTriage Dashboard should not take into consideration issues with "Needsinfo""
Mike sent us an e-mail, saying that "I thought if an issue had a “needs info” label, it shouldn’t appear in the “older than 48” bucket… if that’s not the case currently, that’s a bug."

https://webcompat.com/dashboard/triage

[2018-03-07 11:53] softvision-sergiulogigan opened #2216 "Screenhots are not displayed"
Environment:
Windows 10, Nightly 60, Chrome 64.

STR:
1. Navigate to https://staging.webcompat.com/contributors/site-outreach
2. Scroll to the "SlideShare" section.
3. Observe the "Slideshare Interface" and "Dribble Interface" screenshots.

Expected Results:
The Screenshots are displayed.

Actual Results:
The Screenshots are not displayed. Only the description is visible.

Note:
On Chrome, a Broke

[2018-03-07 11:59] softvision-sergiulogigan opened #2217 "A message is displayed when using the Chrome bug reports link"
Environment:
Windows 10, Nightly 60, Chrome 64.

STR
1. Navigate to https://staging.webcompat.com/contributors/site-outreach
2. Click the "Chrome bug reports" link.

Expected results:
The Chrome bug reports interface is opened.

Actual results:
A message is displayed for 2 seconds, thenthe Chrome bug reports interface is opened.

![image](https://user-images.githubusercontent.com/16573771/37091014

[2018-03-07 12:05] softvision-sergiulogigan commented on #2085
I think "webcompat" should be capitalized here, as it's not referring to the website (webcompat.com), but to the project.
https://staging.webcompat.com/contributors/build-tools
![image](https://user-images.githubusercontent.com/16573771/37091337-73737d8e-2210-11e8-8a57-06baf45d7a5d.png)

[2018-03-07 12:07] softvision-sergiulogigan commented on #2085
I think I found a typo here:
[...]Microsoft Edge team and Google Chrome team are also participating **from** time to time.[...]
https://staging.webcompat.com/contributors/build-tools
![image](https://user-images.githubusercontent.com/16573771/37091443-d1e56256-2210-11e8-8c4e-f88dec63ed08.png)

[2018-03-07 12:11] softvision-sergiulogigan commented on #2085
And also I think here is missing a **From**
![image](https://user-images.githubusercontent.com/16573771/37091555-4b928a66-2211-11e8-9eb0-034dd98c84dd.png)

[2018-03-07 12:17] softvision-sergiulogigan commented on #2085
And also here (if the above ones are valid)
![image](https://user-images.githubusercontent.com/16573771/37091818-3a817e70-2212-11e8-9326-ab93970ad8e4.png)
https://staging.webcompat.com/contributors/organize-webcompat-events

[2018-03-07 12:20] softvision-sergiulogigan commented on #2085
Found another typo here:

[...]It's also a good ~opportunities~ **opportunity** for people[...]
![image](https://user-images.githubusercontent.com/16573771/37091888-6c952470-2212-11e8-8be8-6ea3eea07b1f.png)

https://staging.webcompat.com/contributors/organize-webcompat-events

[2018-03-07 12:39] softvision-oana-arbuzov opened #2218 "Long size text overlap the check-marks from "Site URL/Is this information correct?" fields"
URL: www.staging.webcompat.com
Browser / Version: Firefox Nightly 60.0a1 (2018-03-06) (Mobile & Desktop),  Chrome 64.0.3282.186 (Desktop)
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to www.staging.webcompat.com.
    2. Tap “Report bug” button.
    3. Type in a long address in the “Site URL” fi

[2018-03-07 12:56] softvision-oana-arbuzov commented on #2218
Suggestion: adding `padding-right: 25px;`, no elements are overlapped.
[code]
![screenshot_2](https://user-images.githubusercontent.com/12184325/37093304-936029ec-2217-11e8-9f4d-e862eed0d2fe.png)

[2018-03-07 15:46] zoepage commented on #2202
I was asking about the label as this sounded as this would be useful to (just) both of you. I agree, that it is!

This e.g. is a very valid point. :)

Also, this is pretty interesting for other contributors as they either might have an account already or know, they do not need to triage an issue as there are requirements they don't fit, so they can invest their time in another triage. :)

[2018-03-07 22:25] zoepage commented on #2208
merged #2209

[2018-03-07 22:25] #2208 closed

[2018-03-12 01:32] karlcow commented on #2203
@deeptibaghel Interesting issue.

## To reproduce (for people with a working configuration):

1. Cut the network
2. Delete data/milestones.json if it already exists.

## What is happening?

1. We try to fetch them from the network and we will write it in a file `milestones.json`
2. If there is an HTTP error, it tries to get it locally from `milestones.json` but indeed if the file is not here, `mil

[2018-03-12 01:34] karlcow commented on #2203
@deeptibaghel

Could you open a separate issue for the openssl stuff? This is not related to this issue.
In the new issue, please give the results of:

* `python -V`
* `python -c "import ssl; print(ssl.OPENSSL_VERSION)"`

[2018-03-12 01:47] karlcow commented on #2215
ok let's go back to the original agreement.

https://github.com/webcompat/webcompat.com/issues/1859#issuecomment-343044969

So yes indeed the logic of the filter is not correct here.

@magsout

1. The default view should not show the `needinfo` issue
2. The needinfo selector should **add** the needinfo issues to the full view and not select only the needinfo ones.

I can try to fix it in https://g

[2018-03-12 02:10] karlcow commented on #2083
ok. Then be it. 😈 We can revisit the issue later if it's not successful. Or embrace it if it is.

* One of my uncomfortable feeling about it is yet another reliance on a private communication system.
* I'll probably need to find a way to get the archives of the messages out of slack. Maybe this? https://get.slack.help/hc/en-us/articles/201658943-Exporting-your-team-s-Slack-history

[2018-03-12 07:33] deeptibaghel commented on #2203
Thanks @karlcow , have created the PR. My python was indeed using an older version of OPENSSL. After it got fixed, this issue has gone.

[2018-03-12 09:43] magsout commented on #2215
@karlcow so point 1 is ok. By default needinfo's issues are hidden by default. But point 2 is not ok. We have to show all issue in point 1 and in addition the needinfo issues?

[2018-03-12 13:02] karlcow commented on #2203
Wonderful!.

[2018-03-12 14:05] karlcow commented on #2215
@magsout for 1, are you sure?

Check this https://staging.webcompat.com/dashboard/triage
<img width="663" alt="capture d ecran 2018-03-12 a 23 05 00" src="https://user-images.githubusercontent.com/505230/37288131-d2e119ec-2649-11e8-8079-62b5df8bad8b.png">

[2018-03-12 15:03] magsout commented on #2215
@karlcow you’re right. The logic of filter is not correct. basically If an issue is in state priority, it’s render whatever if the issue is in state needinfo or not.

If I understand well, all issues are in state priority, and some of them are `needinfo`.

[code]
In the first case we have to display priority’s issues but exclude issues in state needinfo.
In the second case we have to display issue

[2018-03-12 15:15] magsout commented on #2215
So here the logic https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/dashboard.js#L98-L105
When a select is handle, the JavaScript checks the value of the option and test if the element has the className, if not the JS hides the element.

So we need to improve this part and add another logic. Maybe it would be better to add `data-*` instead of class. We take the name of

[2018-03-12 18:24] deeptibaghel commented on #2218
@zoepage can i take this up please?

[2018-03-12 20:13] zoepage commented on #2218
@deepthivenkat Yes! :)
Please remember to branch from refactor as this is a refactor task.

Let me know, if you have questions :)

[2018-03-12 20:32] zoepage commented on #2094
merged #2222

[2018-03-12 20:32] #2094 closed

[2018-03-12 20:33] zoepage commented on #1924
merged #2219

[2018-03-12 20:33] #1924 closed

[2018-03-12 20:35] zoepage commented on #2070
merged #2223

[2018-03-12 20:35] #2070 closed

[2018-03-12 20:38] zoepage commented on #2100
As there was no feedback on suggested solutions, I'll close this issue as we can re-open when it comes back.

[2018-03-12 20:39] zoepage commented on #2081
@Regaddi you'd be interested in tackling that one? Happy to walk you through.

[2018-03-12 20:45] zoepage commented on #2073
I should have read your first comment more properly. Sorry.
As this got fixed in the refactor branch and we'll deploy soon, shall we close this or do you rather want to leave it open?

[2018-03-12 21:03] Regaddi commented on #2081
I'll give it a shot tomorrow morning on train to work ✌️

[2018-03-12 21:24] zoepage commented on #2081
Sweet, thanks! :)

The padding issue is fixed. What we need is that the buttons use the full width, when they can't use their space.

So, something like:
<img width="197" alt="screen shot 2018-03-12 at 10 23 48 pm" src="https://user-images.githubusercontent.com/562354/37310399-142cb060-2644-11e8-8cbd-a84c83f3a357.png">

[2018-03-12 22:02] Regaddi commented on #2081
This applies also to desktopish screen sizes, where longer usernames let the yellow button drop below, right? So I might follow a flexbox approach here.

[2018-03-13 05:47] Regaddi commented on #2216
The images are not even available in the source code. Maybe they've been missed be added to a commit? @zoepage

[2018-03-13 05:57] karlcow commented on #2216
See https://webcompat.com/contributors

Current: https://github.com/webcompat/webcompat.com/tree/v8.1.0/webcompat/static/img
Refactor: https://github.com/webcompat/webcompat.com/tree/af05c8a0259ac0af6b81aa530d7606e8e568eb7f/webcompat/static/img

They will be probably added when it will be time.

[2018-03-13 06:56] Regaddi opened #2224 ""Download our Chrome Extension" – Text wraps below icon"
**Description:**
In smaller viewports, when the header bar has not enough space, the text "Download our Chrome Extension" is wrapped below the download icon.

**Browser:**
Chrome Version 65.0.3325.146
macOS High Sierra 10.13.3

**Suggested fix:**
Add `white-space: nowrap;` to the element `nav-link js-addon-link`.

**Additional comment:**
If you don't mind, I'll submit a PR in a minute to fix this.

[2018-03-13 07:07] Regaddi commented on #2081
I've got some progress here. I need some further details to finalize:

![image](https://user-images.githubusercontent.com/1336590/37327077-248c084c-2695-11e8-877a-c17408045416.png)

![image](https://user-images.githubusercontent.com/1336590/37327086-2c4758de-2695-11e8-903a-1dc41dbe9ba4.png)

The flexbox approach worked pretty well. However, when the buttons are aligned side by side, there is no ga

[2018-03-13 08:24] zoepage commented on #2081
Thanks! That looks great already. Glad also you took the flexbox approach as this was the idea, but I saw I didn't mentioned it. 🙈

+1 on gap. There was already a bug filed (which I can't find right now).

Also, the background of the `report anonymously` button should not be white. 🤔

[2018-03-13 08:51] Regaddi commented on #2081
![image](https://user-images.githubusercontent.com/1336590/37331297-db870610-26a3-11e8-83c4-429dfbf12887.png)

![image](https://user-images.githubusercontent.com/1336590/37331330-f2eb0090-26a3-11e8-9036-cb720701f9f7.png)

I just added some border to visualize the gap (20px now, to be consistent with the gap to the upload-element).

I introduced a new CSS class for this behaviour, called `.form-but

[2018-03-13 09:09] Regaddi opened #2225 "Add stylelint-order to .stylelintrc"
This is possibly totally opinionated, but in the past I made great experiences using [stylelint-order](https://www.npmjs.com/package/stylelint-order) in addition to the standard stylelint config.
I usually prefer the alphabetical order for CSS properties, so instead of wildly mixed property orders like

[code]

You'd get:

[code]

I personally think, that the alphabetical order is the most natural

[2018-03-13 09:11] zoepage commented on #2225
I actually don't have an opinion here as there are different approaches people prefer.
@magsout what do you think?

[2018-03-13 09:12] zoepage commented on #2081
Sounds great. Feel free to send a PR when you are done and add `r? @zoepage`.
Thanks!

[2018-03-13 09:23] Regaddi commented on #2224
Nevertheless, when the user is not logged in, a link drops to the next line on 665px viewport width:

![image](https://user-images.githubusercontent.com/1336590/37333023-8a98ae16-26a8-11e8-81a9-ddbfbf443591.png)

Also on Firefox:

![image](https://user-images.githubusercontent.com/1336590/37333044-9fe2bae6-26a8-11e8-9da6-e33c68ff2cce.png)

[2018-03-13 09:29] zoepage commented on #2224
This is probably related to #2164

[2018-03-13 13:53] karlcow opened #2227 "Take Screenshots for contribute section"
This is a followup on the https://github.com/webcompat/webcompat.com/issues/1933#issuecomment-357665444

and the webcompat meeting we had today, where I committed myself to do do it.

@zoepage Do you feel confident that we can make the screenshots for all sections?
Or I just go ahead and do it and we fix later?

Do you want the images inside the git repo? I don't know if we have a policy for this.

[2018-03-13 14:59] zoepage commented on #2227
This is a duplicate of #2216. Closing in favor as I already assigned myself to it.

Thanks @karlcow

[2018-03-13 14:59] #2227 closed

[2018-03-13 15:01] Regaddi opened #2228 "Improve documentation for OAuth development setup"
[The current documentation for local deveopment setup](https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#configuring-the-server) is missing some detailed instructions, when you're not part of the webcompat Github organization and need to configure an OAuth Client ID & Secret.

I'd suggest to add some deeplinks and a quick guide to setup your own OAuth application.

Somet

[2018-03-13 19:53] zoepage commented on #2218
merged #2229

[2018-03-13 19:53] #2218 closed

[2018-03-13 19:53] zoepage commented on #2081
merged #2226

[2018-03-13 19:53] #2081 closed

[2018-03-13 19:54] zoepage commented on #2205
@Regaddi would this be something you'd be interested in?

[2018-03-14 08:38] zoepage commented on #1714
@miketaylr I got this working, but it fails to generate a report as the tests are failing for me 🙈
Maybe you'd like to test it?

[code]

[2018-03-14 08:43] zoepage opened #2230 "Normalize naming of npm scripts"
In our `package.json` we have different scripts,  e.g. for linting JS or testing. The writing is different (capital letters, small letters...) This is really confusing as I run into that issue all the time. 😅

My suggestion: we should go with small letters all the way.

Here are the lines that need to be changed:
https://github.com/webcompat/webcompat.com/blob/master/package.json#L59-L60
https://g

[2018-03-14 10:20] zoepage opened #2231 "a11y audit for site"
We'd like to check how accessible the site is and what we can do to improve this.
You can use https://sonarwhal.com/ to check for those issues.

[2018-03-14 10:22] zoepage opened #2232 "Create Living Style Guide with documentCSS"
As we do not want to update our documentation by hand, we'd like to use documentCSS to auto-generate a Living Style Guide.

https://documentcss.com/

It will live under https://webcompat.github.io/design

[2018-03-14 11:39] zoepage commented on #1933
As we're on the content review right now, I reopened the issue.

Collecting feedback:

`contributors/report-bug`
https://www.evernote.com/shard/s310/sh/afcb3634-58c6-4b9a-8a01-2574e942287f/dd82e2b592b5b0e8

[2018-03-14 13:08] Regaddi opened #2234 "Empty search submit shows "undefined" in search bar"
**Steps to reproduce:**

1.  Go to https://staging.webcompat.com
2. Click on "Search"
3. Leave input empty and hit enter
4. Searchbar on issue navigator contains "undefined"

<img width="973" alt="bildschirmfoto 2018-03-14 um 14 08 04" src="https://user-images.githubusercontent.com/1336590/37404110-2825941c-2791-11e8-97b3-b2d80474e5ec.png">

[2018-03-14 13:13] zoepage commented on #2234
YES! You could reproduce! Nice :D
(I ran into that issue, but could not reproduce.)

[2018-03-14 13:17] Regaddi commented on #2231
Here's a first report: https://sonarwhal.com/scanner/ce319f12-d3c3-4ca0-9687-ab71cb002957

[2018-03-14 13:19] zoepage commented on #2203
merged #2221

[2018-03-14 13:19] #2203 closed

[2018-03-14 13:23] zoepage commented on #2164
merged #2233

[2018-03-14 13:23] #2164 closed

[2018-03-14 13:23] zoepage commented on #2224
merged #2233

[2018-03-14 13:23] #2224 closed

[2018-03-14 17:10] magsout commented on #2225
it's an interesting discussion.

I usually write properties in a specific order like this:
[code]
But when you work on large css codebase with lot of contributors, you can't enforce this point of view because it's specific for yourself. I speak for me of course.

So, IMO, I think @Regaddi's idea is good. The order is logic and `natural`

💯 for me ;)

[2018-03-14 17:23] magsout commented on #2163
@zoepage on my localhost this bug is fixed, or I missed something ?

[2018-03-14 17:35] magsout commented on #2093
@karlcow @zoepage I'm not able to reproduce this issue, maybe a commit fixed this issue?

[2018-03-14 17:39] magsout commented on #2095
@zoepage @karlcow

I commented https://staging.webcompat.com/issues/1372 and the markup seems working. I tried with your example @karlcow

[2018-03-14 17:47] zoepage commented on #2093
I'm not able to reproduce either...

[2018-03-14 17:48] zoepage commented on #2163
Did you check on chrome @magsout ? I could reproduce today 🤔

[2018-03-14 17:49] zoepage commented on #2225
Ok. Cool! I do it actually same as you @magsout , but everything that makes it easier for (especially new) contributors is a +1 from my side :)

[2018-03-14 20:05] zoepage commented on #2163
Dang, I missread on my phone. Sorry! THis should be fixed by #2172

[2018-03-14 20:05] #2163 closed

[2018-03-14 21:19] zoepage commented on #2205
merged in #2235

[2018-03-14 21:19] #2205 closed

[2018-03-14 23:19] karlcow commented on #2095
ah! cool! Let me try too! Excellent. This is working.
Thanks. Something has fixed it.

[2018-03-14 23:19] #2095 closed

[2018-03-14 23:20] karlcow commented on #2093
Tried this too like in #2095 This has been fixed.
Thanks a lot @zoepage and @magsout

[2018-03-14 23:20] #2093 closed

[2018-03-15 05:35] magsout commented on #2163
👍

[2018-03-15 07:47] karlcow commented on #2215
I will check this tomorrow (Friday, March 16) in details. Sorry for not replying before. I had forgotten.

[2018-03-15 09:08] #2134 closed

[2018-03-15 09:37] zoepage commented on #2214
Interesting thought. @adamopenweb what do you think about this?

[2018-03-15 10:09] Regaddi commented on #2146
I stumble across a chain of issues here, all regarding the grid and its usages:

1. We can change the `x1-fix` class on the "Join us" tile to `x1`, then we'd have this tile nearly stretched to the edge.
2. The second tile "The Project" is not fully stretched, because of `.x2 { max-width: var(--unit-modul-m); }`. We can set this to `--unit-modul-l`, just like in `x1`.
3. The `margin-right` set in `

[2018-03-15 10:50] zoepage commented on #2146
I agree, the grid needs to be extended here.
I'll try to add a bit more context. I hope, this might be helpful.

We've build the grid as simple as possible, which is limiting, but we tried it to be as easy to understand and reuse as possible for others. This also means, we did not cover all use cases that might show up.

The sub navigation for the content was added later on and also re-written. Th

[2018-03-15 12:20] adamopenweb commented on #2214
It's a good idea. Since the webcompat reporter is only available in Nightly and Dev Edition I think it hasn't been reviewed in the context of Malicious site or Firefox feedback. This could help work around that for some users.

My concern is users do not normally choose the correct `Type of bug` so the value of this should probably be tested.

[2018-03-15 14:15] miketaylr commented on #2169
@magsout any ideas?

[2018-03-15 16:15] zoepage commented on #2169
merged #2241

[2018-03-15 16:15] #2169 closed

[2018-03-15 18:08] zoepage commented on #2083
If anyone of you has specific ideas / wishes for channels we should create, feel free to share! :)

[2018-03-15 18:09] zoepage commented on #2088
merged in #2238

[2018-03-15 18:09] #2088 closed

[2018-03-15 18:46] adamopenweb commented on #1933
`staging.webcompat.com`
https://www.evernote.com/l/ATbi2V1l-t1BGrQdYt5b1x-B3JgNG9wstxo

[2018-03-15 19:51] adamopenweb commented on #2151
This button is displaying as grey for me. Maybe it's fixed?

[2018-03-15 22:21] #2083 closed

[2018-03-15 22:21] zoepage commented on #2083
Merged

[2018-03-16 04:17] mpaarating commented on #2230
I got this :D

[2018-03-16 07:32] karlcow commented on #2215
ok it's what we send to the template:

[code]

Then we use needstriage-list.html to put the data in, which gives:

[code]

The render logic for the first page should be:

So we can modify the default template needstriage_list to be

[code]

It means it will be at first sight something like this:

[code]

So the default view is fixed. Then for rendering when selecting the needinfo, we just need to

[2018-03-16 07:33] karlcow commented on #2215
@magsout I hope it's not too naive. My JS being rudimentary, but always happy to learn more.

[2018-03-16 07:45] softvision-oana-arbuzov commented on #2151
It is still reproducible for me.

**Tested with:**
Browser / Version: Firefox Mobile Nightly 61.0a1 (2018-03-15)
Operating System: Samsung Galaxy S7 Edge (Android 7.0) - Resolution 1440 x 2560 pixels (~534 ppi pixel density)

[2018-03-16 10:57] zoepage opened #2244 "Label Box header in /issues on mobile"
The header of the label box needs to be visible above the issue on mobile.

Expected:
https://webcompat.com/issues/16036

Actual:
Header stays visible above the label box that jumps below the issue content and comments.

@magsout would this be something you'd be interested in working on?

[2018-03-16 11:02] zoepage commented on #2230
merged #2243

[2018-03-16 11:02] #2230 closed

[2018-03-16 11:02] zoepage commented on #2090
merged #2133

[2018-03-16 11:02] zoepage commented on #2158
merged #2133

[2018-03-16 11:02] #2158 closed

[2018-03-16 11:02] zoepage commented on #2076
merged #2133

[2018-03-16 11:02] #2076 closed

[2018-03-16 11:07] #2090 closed

[2018-03-16 11:46] zoepage commented on #2166
merged in #2240

[2018-03-16 11:46] #2166 closed

[2018-03-16 13:30] #2146 closed

[2018-03-16 15:10] zoepage opened #2245 "label box floating broken on stage"
As you can see here: https://staging.webcompat.com/issues/1390 the label box is not on the right side anymore.

Seems like an issue introduced before that appeared after we merged.

@magsout @Regaddi Any idea?

[2018-03-16 15:40] Regaddi commented on #2245
That's an evil one.

[Here](https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issues.js#L518) the issue is made visible with `.fadeIn()`. This sets inline styles `display: block; zoom: 1;`. And that breaks our beautiful flexbox styles.

Possible solutions:

1. Instead of `.fadeIn()` call `.removeClass("is-hidden")` <-- touch JS
2. Set CSS style `display: flex` to `disp

[2018-03-16 15:41] miketaylr commented on #2215
This sentence is a little hard for me to parse, but to clarify what I believe we want:

Dashboard by default does not include "needsinfo" issues in count of issues that need triage, or issues older than 48 hours (just like the comment 0 of this report).

And yeah, it should be possible to display the needsinfo issues via the filter. I don't have opinions whether or not it's more useful to only dis

[2018-03-16 15:44] zoepage commented on #2245
Oh wow. That makes sense... I'd say we remove the class for now to quick fix. And re-open the original issue that introduced that bug

[2018-03-16 15:58] miketaylr commented on #2245
This seems reasonable.

[2018-03-16 16:02] miketaylr commented on #1714
@zoepage I'm not familiar with istanbul. Rather than learn it, I think we should table it for a post-refactor task so we can fix the remaining P0 and P1 bugs.

[2018-03-16 18:14] zoepage commented on #1714
@miketaylr istanbul is just a task runner and it was a 5 minute fix.
but we can postpone it.

[2018-03-16 18:24] miketaylr commented on #1714
(my comment was n reply to why you get that error... i'm not sure, sorry)

[2018-03-16 18:51] Regaddi opened #2247 "Issue detail page grid off"
The issue detail page got a little bit off after solving #2245.

![image](https://user-images.githubusercontent.com/1336590/37539139-3527bb0e-2953-11e8-9c0e-9b627d573c08.png)

I'd suggest the following layout as a fix (got everything ready locally):

![image](https://user-images.githubusercontent.com/1336590/37539204-6b172330-2953-11e8-92a9-f894d7fb6255.png)

@zoepage ?

[2018-03-16 18:53] miketaylr opened #2248 "Top navbar jump when logging in / out"
Unsure if this already exists, but I bet @zoepage would know!

STR:

1. go to staging.webcompat.com
2. log in
3. observe shift in top bar height
4. log out
5. observe shift back

![jump](https://user-images.githubusercontent.com/67283/37539283-55b6db8e-2921-11e8-86ce-9d686c2c6cff.gif)

[2018-03-16 19:29] #2248 closed

[2018-03-16 19:39] zoepage commented on #2247
@Regaddi  +1

[2018-03-16 19:41] zoepage commented on #1714
ah, i see. the issue is that my tests are failing. this is why there is no report generated. I thought, you might want to test it on your machine as yours passed the last time.

[2018-03-16 19:42] zoepage commented on #2248
merged in #2249

[2018-03-16 19:43] miketaylr commented on #2248
awesome.

[2018-03-16 20:29] miketaylr commented on #2152
This should be fixed now.

[2018-03-16 20:29] #2152 closed

[2018-03-16 20:38] zoepage commented on #2247
merged #2251

[2018-03-16 20:42] zoepage commented on #2245
merged #2246

[2018-03-16 20:42] #2245 closed

[2018-03-16 20:52] magsout commented on #2162
I'm not able to reproduce. I agree with @miketaylr .

[2018-03-16 20:55] magsout commented on #2244
@zoepage On mobil we want to have

`label box`
`Issue informations`
`comments`
`form comment`

correct?

[2018-03-16 21:00] zoepage commented on #2244
:)

<img width="582" alt="screen shot 2018-03-16 at 9 59 45 pm" src="https://user-images.githubusercontent.com/562354/37544479-69655cb6-2965-11e8-9503-900366a91405.png">

We also need to make sure the drop downs also are in the right place I guess?

[2018-03-16 21:02] zoepage commented on #2247
Comments and Uploads are missing a `grid-nested` class. Just as a quick addition.

[2018-03-16 21:33] magsout commented on #2165
@softvision-oana-arbuzov @zoepage I'm not able to reproduce this issue.

I tried on Firefox and Chrome and the default behavior is:

Submit a empty comment do nothing as the current version of webcompat

[2018-03-16 21:43] miketaylr commented on #2162
Yep, I just retested and it works as expected (but the layout is wrong... possibly tracked in another issue?)

![screenshot_20180316-164235](https://user-images.githubusercontent.com/67283/37546038-1b5bb668-2939-11e8-84bf-9d5bba6d7756.png)

@softvision-oana-arbuzov can you verify this works now?

[2018-03-16 21:46] magsout commented on #2162
@miketaylr the layout is fixed with this PR https://github.com/webcompat/webcompat.com/pull/2133

[2018-03-16 21:55] magsout opened #2255 "Icons are not displayed on Safari (Mobile + Desktop)"
Hmm, I already opened a problem about this bug? I think it's something about CSP , no?

On iOS with Firefox and Safari, the icons are not displayed

![img_0441](https://user-images.githubusercontent.com/1997108/37546542-8cee27b4-296d-11e8-81aa-b97cbb22484f.PNG)

[2018-03-16 21:57] magsout commented on #2255
found it https://github.com/webcompat/webcompat.com/issues/1647

[2018-03-16 22:48] miketaylr commented on #2165
Same, I believe this is already fixed.

[2018-03-16 22:49] miketaylr commented on #2128
If it's less tall, +1.

[2018-03-16 22:53] miketaylr commented on #2151
@softvision-oana-arbuzov can you post a screenshot? It WFM.

Chrome:

![chrome](https://user-images.githubusercontent.com/67283/37547984-e0f8ddf2-2942-11e8-944e-ea302e676802.png)

Firefox Nightly:
![screenshot_20180316-175136](https://user-images.githubusercontent.com/67283/37547990-e72f22a8-2942-11e8-82b3-3e011fd583da.png)

[2018-03-16 22:56] miketaylr commented on #2087
Another symptom is when we click Report Bug:

(the fixed header cuts off half of the black button)

![screenshot_20180316-175522](https://user-images.githubusercontent.com/67283/37548044-4bf420bc-2943-11e8-96e6-0f985734ec28.png)

[2018-03-16 22:57] miketaylr commented on #2087
So, it disappears when you scroll down, but re-appears when you start to scroll up. This seems like a great solution.

[2018-03-16 23:26] miketaylr commented on #1714
This might help us: https://github.com/theintern/digdug/issues/60#issuecomment-373849751

[2018-03-17 23:23] zoepage commented on #2255
Interesting... @miketaylr did you see that already before? Like is this a known issue?

[2018-03-17 23:25] zoepage commented on #2162
🎉

[2018-03-18 22:17] karlcow commented on #2215
(The list) This understood and in the fix

Ah you want to remove them from the total count box too. :) ok.

[2018-03-19 02:27] karlcow commented on #2215
@miketaylr

Let's try again with easy to parse  things (hopefully) ;)

@ magsout Because I think we are not talking about the same thing. if I understood now, @softvision-sergiulogigan and @miketaylr seem to be talking about the boxes, not the list.

## Current state:

1. Big first box: Total number of issues in needstriage https://github.com/webcompat/web-bugs/milestone/2 (including needinfo)
2.

[2018-03-19 03:01] karlcow opened #2256 "[spam] block ddanzi.com from accepted domains."
5 issues in the last 30 minutes.

https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+%27ddanzi+com%27

[2018-03-19 06:59] softvision-sergiulogigan commented on #2215
@karlcow , @magsout

I think this is spot on!

I think that we should have the current state (all issues that have NeedsTriage label, or as detailed in the previous comment, "Current state" section) when selecting the option to include the needinfo state.

@miketaylr do you agree?

[2018-03-19 08:01] karlcow commented on #1332
https://pythonclock.org/ As of now, python 2.7 will not be maintained anymore on Jan 1, 2020. So in one year and 9 months. Sounds like a project to be ready.

[2018-03-19 08:03] softvision-sergiulogigan opened #2258 "The strings in the Navigation Bar are blurred, on Chrome"
Browser / Version: Chrome  65.0.3325.162 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/
2. Observe the Navigation Bar.

**Expected Behavior:**
The text is correctly displayed.

**Actual Behavior:**
The text is blurred.

**Notes:**
1. Screen capture attached.
2. The issue is not reproducible on Nightly 61.

Watchers:
@softvision-sergiulogigan

[2018-03-19 08:03] softvision-oana-arbuzov commented on #2165
The page no longer refreshes now, but there is no error message or "Comment" button disabled.

**Tested with:**
Firefox Nightly 61.0a1 (2018-03-18), Chrome Desktop 65.0.3325.162
Operating System: Windows 10 Pro, Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

[2018-03-19 08:14] softvision-oana-arbuzov commented on #2162
@miketaylr, it is still reproducible for me, maybe the fix is not yet available in the current version of staging.webcompat.com. Now it is also reproducible on Firefox Nightly

**Tested with:**
Browser / Version: Firefox Nightly 61.0a1 (2018-03-18), Chrome Mobile 65.0.3325.109
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

[2018-03-19 08:27] softvision-oana-arbuzov commented on #2151
@miketaylr, the highlight become hidden only after typing the required information.
![highlightmissing](https://user-images.githubusercontent.com/12184325/37584856-b806a414-2b5f-11e8-8414-c717b58d405b.gif)

**Tested with:**
Browser / Version: Firefox Nightly 61.0a1 (2018-03-18) (Mobile)
Operating System: Google Pixel (Android 8.0.0) - 1080 x 1920 pixels (~441 ppi pixel density)

[2018-03-19 08:34] zoepage commented on #2151
![screenshot_20180319-093304](https://user-images.githubusercontent.com/562354/37585226-ad37b69c-2b58-11e8-8f2c-064b4360c8c1.png)

After filling out the information, I can reproduce.

[2018-03-19 09:09] zoepage commented on #2162
I can also reproduce... :/

[2018-03-19 09:11] zoepage commented on #2165
Suggestion: As the issue is solved and the "error message" would be an enhancement, we open a follow up bug for this? (Happy to do so. Just LMK)

[2018-03-19 13:25] zoepage commented on #2258
Hm, WFM. 🤔

[2018-03-19 13:29] softvision-sergiulogigan commented on #2258
@zoepage This is how I see them, on the same monitor:

Above - Chrome, below - Nightly 61.
![image](https://user-images.githubusercontent.com/16573771/37598155-21621aa4-2b8a-11e8-9d02-d4b68a732a24.png)

[2018-03-19 13:42] karlcow commented on #2256
ok let's close the issue. The spam has stopped.

[2018-03-19 13:42] #2256 closed

[2018-03-19 14:08] #2247 closed

[2018-03-19 16:53] miketaylr commented on #2162
@zoepage what device?

[2018-03-19 16:53] miketaylr commented on #2162
@softvision-oana-arbuzov I also have a pixel on Android 8. Strange we get different results.

[2018-03-19 17:17] miketaylr commented on #2255
@zoepage I think this is a new bug (at least, not previously reported). Probably P0?

[2018-03-19 17:18] miketaylr commented on #2215
Yep, agree with @softvision-sergiulogigan. Thanks for articulating clearly @karlcow.

[2018-03-19 17:52] miketaylr opened #2260 "webcompat.min.css not minified"
STR:

1. on refactor branch, `npm run build`
2. take a look at static/css/dist/webcompat.min.css

expected: no comments, css is minfied
actual: non-minified, all comments

[2018-03-19 19:28] miketaylr commented on #2255
Not just iOS, Safari as well:

![screen shot 2018-03-19 at 2 26 43 pm](https://user-images.githubusercontent.com/67283/37617663-c458ce00-2b81-11e8-99de-0dca848c1e58.png)

[2018-03-19 19:32] miketaylr commented on #2258
Text is blurry for me in Chrome and Safari.

![screen shot 2018-03-19 at 2 30 53 pm](https://user-images.githubusercontent.com/67283/37617814-2c2fcf74-2b82-11e8-9516-da5a1188ab48.png)

[2018-03-19 19:34] miketaylr commented on #2258
Note: it's only blurry on a low-DPI external monitor for me, so not on a retina device.

[2018-03-19 19:40] miketaylr commented on #2255
Using `xlink:href` instead of `href` will fix this issue, @zoepage.

![screen shot 2018-03-19 at 2 39 12 pm](https://user-images.githubusercontent.com/67283/37618166-594aee5c-2b83-11e8-9c42-3d841ea8a26c.png)

![screen shot 2018-03-19 at 2 40 33 pm](https://user-images.githubusercontent.com/67283/37618205-808d5144-2b83-11e8-8727-dcef8ed1f966.png)

[2018-03-19 19:41] magsout commented on #2255
@miketaylr oh good catch.

[2018-03-19 19:54] miketaylr commented on #2151
Ah, thanks. I missed that part. Let me take this bug.

[2018-03-19 20:14] miketaylr commented on #2151
Here's why this doesn't reproduce on Desktop, but does on mobile:

The `.button` class has `background-color: inherit`, which for desktop results in something gray ~ `color: ButtonText;`

https://searchfox.org/mozilla-central/source/toolkit/themes/osx/global/button.css#13

Fennec doesn't have a background color style defined for a `button` (which is weird, imho):

https://searchfox.org/mozilla-cen

[2018-03-19 20:16] miketaylr commented on #2151
Oh wait, I put the color values, not the background-color values... let me update those links.

[2018-03-19 21:36] zoepage commented on #2151
Wow, that is a really good find. Thanks @miketaylr :)))

[2018-03-19 22:01] zoepage opened #2262 "labels colors don't update correctly"
I found 2 issues, I guess related.

1. When I select labels they are added, but not saved. So they disappear on reload and the old state is been reset.

2. After selecting the labels, the color disappears (just in Chrome). Here not the right class is applied like e.g. `browser-chrome`, but a color `browser-ededed`.

![chrome_labels](https://user-images.githubusercontent.com/562354/37624635-1567404

[2018-03-19 22:02] zoepage commented on #2151
merged #2261

[2018-03-19 22:02] #2151 closed

[2018-03-19 22:05] zoepage commented on #2162
@miketaylr a Pixel.
Probably a caching issue as I can't reproduce anymore and have a different bug now described in #2262.

[2018-03-20 00:33] karlcow commented on #2151
@miketaylr

Agreed about weird. This is https://bugzilla.mozilla.org/show_bug.cgi?id=1435665

[2018-03-20 13:22] zoepage commented on #2258
merged #2263

[2018-03-20 14:04] softvision-oana-arbuzov opened #2267 "Unable to start the Local Server on Windows 10"
**Environment:**
Operating System: Windows 10 Pro

**Steps to Reproduce**
    1. Followed the information from [Development Environment setup](https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#installing-virtualenv) guide.
    2. Tried to start local server http://localhost:5000/, using `npm run start` or `python run.py`.

**Expected Behavior:**
Local sever is started an

[2018-03-20 14:16] miketaylr commented on #2267
Ah, yeah. This is a unix-ism.

https://en.wikipedia.org/wiki/Source_(command)

I bet there are cross-platform ways we can do this.

[2018-03-20 15:59] #2255 closed

[2018-03-20 16:00] miketaylr opened #2268 "Find better place for navbar scroll handler"
Right now it's in homepage.js (on the refactor branch, soon on master), which makes sense because it's included on every page.

What doesn't make sense is that hompage.js is included on every page. It would be nice to either separate this out now, or make everything modular and use fancy code-splitting. #1352 and related issues would help us here.

[2018-03-20 16:25] miketaylr opened #2269 "Keep scale effect for navbar hider/shower?"
@Regaddi landed a cool feature to hide/show the navbar based on scroll in #2265

There's a small scaling effect which looks cool, but maybe won't be so cool after using it for a while. Filing this issue for people to discuss after getting some experience with it.

(Note: this isn't a blocker, we can change things here or close it).

[2018-03-20 16:29] Regaddi commented on #2269
I actually pushed the scale effect accidentally. So I'd totally be fine removing it. It adds some uneasiness to the transition IMO.

[2018-03-20 16:49] #2260 closed

[2018-03-20 16:49] #2087 closed

[2018-03-20 17:29] #2165 closed

[2018-03-20 20:26] miketaylr commented on #2162
OK, let's go ahead and close this and try to fix #2262...

[2018-03-20 20:26] #2162 closed

[2018-03-20 20:50] miketaylr commented on #2262
Good find @zoepage. Let's see what's up...

[2018-03-20 20:52] miketaylr opened #2271 "Can't upload image on iOS browsers"
Originally filed: https://github.com/webcompat/web-bugs/issues/16102

`@ua_header: Mozilla/5.0 (Linux; Android 7.0) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Focus/4.0.2 Chrome/65.0.3325.109 Mobile Safari/537.36`

[2018-03-20 20:59] magsout commented on #2271
![d3603bb9-9c8c-4f71-9e25-2e1b2f5fda40](https://user-images.githubusercontent.com/1997108/37682407-c835b4b2-2c89-11e8-90f8-396a58661d41.png)
![a603eb5b-2dc6-4a81-9288-ce78da568540](https://user-images.githubusercontent.com/1997108/37682426-cfd69bb4-2c89-11e8-884e-98a600db98de.png)

@miketaylr I confirm, I’m able to reproduce.

[2018-03-20 21:00] miketaylr commented on #2262
(also just noticed the milestone editor says Filter Labels, let's fix that here too).

![screen shot 2018-03-20 at 3 59 33 pm](https://user-images.githubusercontent.com/67283/37682490-b65153f0-2c57-11e8-986a-0fad390ceb94.png)

[2018-03-20 21:02] magsout commented on #2271
Same error with Firefox and Safari.

[2018-03-20 21:04] magsout commented on #2271
Ah, I misread the title. Because I tried on iOS not Android. But I can’t upload any image on iOS

[2018-03-20 21:07] magsout commented on #2244
merged #2253

[2018-03-20 21:08] #2244 closed

[2018-03-20 22:10] miketaylr opened #2272 "Investigate if milestoneColors is needed post-refactor"
We use CSS classes in variables.css, so I don't think we need to compute milestoneColors or include it in the issue model?

[2018-03-20 22:11] miketaylr commented on #2271
welp. Thanks.

[2018-03-20 22:26] miketaylr commented on #2262
Here's the bug:

https://github.com/webcompat/webcompat.com/blame/refactor/webcompat/templates/issue/issue-labels-sub.jst#L3

[2018-03-20 23:39] miketaylr commented on #2272
I'm just gonna fix this in #2262.

[2018-03-20 23:39] #2272 closed

[2018-03-21 00:02] miketaylr opened #2274 "Scrolling overflow chops off milestones editor"
![overflow-weird](https://user-images.githubusercontent.com/67283/37689067-0778f40e-2c71-11e8-8902-03b63941ea18.gif)

STR: go to staging, log in, go to an issue and open the status editor.

On desktop at least everything is chopped off unless you scroll.

[2018-03-21 00:38] karlcow commented on #2091
I guess this part is #2128

For the comment section, what it looks like as of today's refactor branch.

<img width="678" alt="capture d ecran 2018-03-21 a 09 37 38" src="https://user-images.githubusercontent.com/505230/37689978-946c52a0-2ceb-11e8-9d6a-61310ece11a5.png">

[2018-03-21 00:44] karlcow commented on #2274
Ah I was about to report the same thing.

<img width="346" alt="capture d ecran 2018-03-21 a 09 40 10" src="https://user-images.githubusercontent.com/505230/37690084-31b51dc6-2cec-11e8-8871-54d637cdac06.png">

I had the same issue. At first click it is weird because it seems there is only one milestones

[2018-03-21 00:51] karlcow opened #2275 "Replace checkbox by radio buttons in status milestone editor"
Context: Not part of the refactor.
But a followup on a discussion we (@miketaylr and I ) had in Taipei when we introduced the milestones for the status. And that we would do it later.

Currently we are using `type="checkbox"` for milestones:

[code]

And we have JS for handling the fact that only one can be selected. We had discussed in Taipei that would be more consistent and probably reduce the

[2018-03-21 01:07] karlcow commented on #2269
Yup just tried. These scenarios:

## Scenario 1 - Without scale
This is a bit better but the opacity change is a bit disturbing (and I don't know why)

.is-offscreen {
	opacity: 0;
	transform: translateX(-50%) translateY(-100%);
}

.navigation {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 1000;
	transform: translateX(-50%);
	width: 100vw;
	display: flex;
	justify-content: center;
	box-sizing:

[2018-03-21 01:10] karlcow commented on #2269
btw this header which disappears when scrolling exactly addresses my comment in #2087

So thank you for this

[2018-03-21 07:43] magsout commented on #2215
thanks everybody for your comments.

Sorry, but not sure to well understand this comment?

case 1,2,3 are ok for you?

It's just about 4) ?

[2018-03-21 07:56] karlcow commented on #2215
They want 1, 2, 3 from Future State.
AND
4 is 1 + needinfo

aka

[code]

I'll propose a PR tomorrow.

[2018-03-21 07:58] magsout commented on #2215
Thanks @karlcow <3

[2018-03-21 08:11] zoepage commented on #2091
As described in the release document, we'll take care of this as we classified this as a P1 bug.

[2018-03-21 08:17] softvision-oana-arbuzov commented on #2162
Strangely I can still reproduce it both on mobile devices and on Responsive design mode, even after clearing cache.

[2018-03-21 08:28] softvision-sergiulogigan commented on #2162
I'm also reproducing this on Huawei P10, Android 7.0 and Nightly 61.
Tried both before and after Clear App Data (from Android Settings).

![image](https://user-images.githubusercontent.com/16573771/37699900-3ca4516a-2cf2-11e8-9e5a-f45fc0c561af.png)

[2018-03-21 08:48] Regaddi commented on #2162
I guess the fix hasn't been deployed on staging yet.

[2018-03-21 08:59] karlcow commented on #2091
very cool!

[2018-03-21 09:11] zoepage commented on #2262
merged #2273

[2018-03-21 09:11] #2262 closed

[2018-03-21 09:17] Regaddi commented on #2269
I'd vote for Scenario 3, since this was neraly my initial intention 😄

[2018-03-21 09:17] magsout commented on #2271
Same thing happened on Safari (Mac OS)
Firefox: ok
Chrome: OK

[2018-03-21 09:21] magsout opened #2276 "Impossible to report a bug when an error is handle"
STR:
- go to staging
- filled out the form
- upload a bad img
- submit a form
- error message appears
- form is collapsed
- click on report a bug: nothing happened, form does not open

[2018-03-21 09:37] magsout commented on #2276
![screen recording 2018-03-21 at 10 35 am](https://user-images.githubusercontent.com/1997108/37702721-bd0e7244-2cf3-11e8-972e-2cbb70e268d2.gif)

[2018-03-21 10:04] zoepage commented on #2276
That's a good find! Added it to the P0 bug list...

[2018-03-21 10:13] zoepage commented on #2162
No, it hasn't. Will probably be on Friday.

[2018-03-21 10:31] zoepage opened #2277 "milestone labels list has wrong colored borders"
The `border-left`  should indicate the color of the status, but here it jumps back to default as it's been overwritten per CSS. We need to adjust the specificity.

Labels (should):
<img width="361" alt="screen shot 2018-03-21 at 11 27 33 am" src="https://user-images.githubusercontent.com/562354/37705065-123a3490-2cfb-11e8-9e51-83c19d1efda5.png">

Milestones (default, but wrong):
<img width="342" a

[2018-03-21 10:52] magsout commented on #2271
I'm trying to figure out why

[2018-03-21 11:33] zoepage commented on #2155
merged #2278

[2018-03-21 11:33] #2155 closed

[2018-03-21 11:39] zoepage commented on #2277
@Regaddi Interested? :)

[2018-03-21 17:54] magsout commented on #2271
Encore une chose, le bug arrive avec Safari (Mac OS), et tous les navigateurs sur iOS.

J'ai essayé beaucoup de choses avec ces navigateurs
- Télécharger une image fournie par mon téléphone: erreur
- Télécharger une image fournie par un autre appareil: erreur

J'ai essayé beaucoup de choses avec firefox (mac os):
- Télécharger une image fournie par mon iPhone: succès
- Télécharger une image fourni

[2018-03-21 21:25] miketaylr opened #2280 "Add None default argument value for authorized method in views.py"
To fix this bug, we should add a default value of `None` to the `access_token` argument:

`def authorized(access_token=None)`

https://github.com/webcompat/webcompat.com/blob/7cc40a31b33b6ca565e6872dc9f57dd2e4a2e4e1/webcompat/views.py#L108

[2018-03-21 22:01] miketaylr commented on #2274
Yeah, I thought I had broken the milestones. :)

[2018-03-21 22:03] miketaylr commented on #2274
@zoepage P0?

[2018-03-21 22:09] miketaylr opened #2281 "Image error overflows out of container"
STR:

In Safari, go to staging.webcompat.com and select a non-image file (like a .txt file) for the screenshot upload.

![screen shot 2018-03-21 at 5 07 13 pm](https://user-images.githubusercontent.com/67283/37740088-72ba50dc-2d2a-11e8-9b10-40b5be29edc1.png)

(this doesn't seem like a release blocker, perhaps P2?)

If I remove the explicit width from `.form-upload .label-icon`, it fits.

![screen

[2018-03-21 22:10] karlcow commented on #2280
@miketaylr Could you give more context? How does the bug manifest? In which circumstances? `authorized()` seems to be called only once in `views.py`

[2018-03-21 22:10] miketaylr commented on #2276
@magsout what are you using as a bad image?

[2018-03-21 22:15] miketaylr commented on #2276
Ah, nevermind. I saved a text file as `foo.jpg` (you should be able to right-click and save, if anyone wants to):

![foo.jpg](https://user-images.githubusercontent.com/67283/37740351-65e6e41e-2d2b-11e8-937b-ebc4230a9e52.jpg)

[2018-03-21 22:29] zoepage commented on #2274
I've added it as P1 to the list already.

[2018-03-21 22:30] zoepage commented on #2281
Added as P2 to the list

[2018-03-21 22:31] miketaylr commented on #2276
[code]

Hmm.... when I try this with the same STR locally on the master branch, I still get a 415 (which is expected):

![screen shot 2018-03-21 at 5 21 13 pm](https://user-images.githubusercontent.com/67283/37740586-46b71e00-2d2c-11e8-8937-ad0cecaa1dae.png)

I wonder if #1655 is somehow related, given the same error appears? Or possibly has nothing to do with it.

Testing on master, the form isn'

[2018-03-21 22:35] miketaylr commented on #2276
I get the feeling this bug has been around since day 1 in terms of error handling... we've just made it worse.

[2018-03-21 22:53] miketaylr commented on #2280
It doesn't manifest (that we know of).

https://github.com/webcompat/webcompat.com/blob/7cc40a31b33b6ca565e6872dc9f57dd2e4a2e4e1/webcompat/views.py#L86 is the only instance where it is called directly. Otherwise, it's called as the `@github.authorized_handler` when GitHub OAuth returns.

We handle `None` in the code, but don't handle other invalid situations, so I think it would be good to just ma

[2018-03-21 22:54] karlcow commented on #2280
Thanks! understood now.

[2018-03-22 00:41] karlcow commented on #2276
@miketaylr so we are not in the case of the wrong filename extension, but in the case where the content is not an image and then not processable.

(Thinking out loud)

---

So the image is being sent to `/upload/` with a `HTTP POST`

https://github.com/webcompat/webcompat.com/blob/master/webcompat/api/uploads.py#L124-L127

it reaches the `try` statement:

https://github.com/webcompat/webcompat.com

[2018-03-22 06:45] magsout commented on #2276
@karlcow

there: https://user-images.githubusercontent.com/1997108/37755196-bb312e4c-2da4-11e8-8158-3eee1ae6b526.PNG

I use this image for my test, same for this issue https://github.com/webcompat/webcompat.com/issues/2271

it comes from my iPhone. But you can try with safari and every time you get an error :(

[2018-03-22 06:46] magsout commented on #2276
@karlcow

    resetting the values related to the image part of the form
    Not collapse the form.

+1, in term of UX it's better than closing the form.

[2018-03-22 07:46] magsout commented on #2271
I was reading the comment of @karlcow https://github.com/webcompat/webcompat.com/issues/2276#issuecomment-375141425

I'm wondering, if the backend know anything about the browser sending the img?

[2018-03-22 11:36] zoepage commented on #2128
merged #2283

[2018-03-22 11:36] #2128 closed

[2018-03-22 11:36] zoepage commented on #2091
merged #2283

[2018-03-22 11:36] #2091 closed

[2018-03-22 11:37] zoepage commented on #2073
closing as this has been merged

[2018-03-22 11:37] #2073 closed

[2018-03-22 11:41] zoepage commented on #2099
Closing as there is no feedback. We can re-open, if the issue comes back up.

[2018-03-22 11:41] #2099 closed

[2018-03-22 11:41] zoepage commented on #1933
merged #2282

[2018-03-22 11:41] #1933 closed

[2018-03-22 15:35] zoepage commented on #2269
merged #2286

[2018-03-22 15:35] #2269 closed

[2018-03-22 16:08] Regaddi commented on #2276
This seems to be fixed with https://github.com/webcompat/webcompat.com/pull/2259.
The bad line of JS, which hides the entire form, when an error occurs on image upload, is removed with that PR.

https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/js/lib/bugform.js#L553

[2018-03-22 16:09] #2280 closed

[2018-03-22 16:10] miketaylr commented on #2073
SGTM!

(sorry for not catching your ping here)

[2018-03-22 16:15] miketaylr commented on #2276
Ah, great find @Regaddi. So that didn't used to be a bad line, we just removed/changed what `loadingIndicator` is/was.

(it used to be an animated gif, now it's the form element itself:

[code]

[2018-03-22 16:17] miketaylr commented on #2276
@karlcow wrote:

Yes, I think we need something like this.

That's what I was hinting at... we don't have any graceful error handling for this kind of problem. I'll file a new bug, because it should be post-refactor follow up work.

[2018-03-22 16:23] miketaylr opened #2288 "Gracefully handle 415 errors on the client side"
See https://github.com/webcompat/webcompat.com/issues/2276#issuecomment-375141425 and related discussion.

Basically, if/when an image is sent to upload.py and returns a 415, the bug report form should do something intelligent. At the very least, remove the problematic image and inform the user we don't like it.

[2018-03-22 16:23] miketaylr commented on #2288
(this is a post refactor issue)

[2018-03-22 16:34] Regaddi opened #2289 "Question: Twitter & Github brand guidelines"
I've just stumbled across the twitter SVG included at the bottom of the page.

Is this compliant with the Twitter brand guidelines?

https://about.twitter.com/en_gb/company/brand-resources.html

![image](https://user-images.githubusercontent.com/1336590/37784018-31ec6040-2df7-11e8-958c-1cc634e28a0c.png)

Same applies for the Github logo:

https://github.com/logos

![image](https://user-images.gith

[2018-03-22 16:53] miketaylr commented on #1714
I'm gonna see if I can get this working, there's a related failure on master in #2285.

[2018-03-22 21:22] miketaylr commented on #1714
<img width="1792" alt="screen shot 2018-03-22 at 3 54 25 pm" src="https://user-images.githubusercontent.com/67283/37798619-482677da-2deb-11e8-988e-32fbf089c113.png">

I can get the coverage report generated, but it's showing 0% test coverage. Not something I care to mess with any longer, if someone wants to pick it up, here's what I did:

[code]

Some links that will be helpful:

https://github.co

[2018-03-22 21:27] miketaylr commented on #2289
Probably not, at least for GitHub. The Twitter one is less clear, but I think in spirit they want people to use their official assets.

[2018-03-22 22:53] miketaylr commented on #791
This doesn't make sense anymore, given the way the loader will happen with the refactor. Let's close.

[2018-03-22 22:53] #791 closed

[2018-03-23 06:57] Regaddi commented on #2160
Is this still an issue? Can't see any differences (localhost) between Chrome and Firefox on my machine 🤔

[2018-03-23 07:01] softvision-sergiulogigan commented on #2160
@Regaddi looks like the issue has been fixed.

![image](https://user-images.githubusercontent.com/16573771/37815739-bf20745c-2e78-11e8-8d94-95146ee8c250.png)

[2018-03-23 09:31] zoepage commented on #2281
merged #2291

[2018-03-23 09:31] #2281 closed

[2018-03-23 09:50] zoepage commented on #1714
thanks @miketaylr for giving it a try :)

[2018-03-23 12:39] zoepage commented on #2289
From a designer perspective, I'd say that the twitter logo is a gray zone and our version still in the scope of what is okay as the form did not change.

This is design speak for changing the logo / form, adding elements etc. The version we have should be just a "reduced" version. :)

[2018-03-23 12:39] zoepage commented on #2160
yaay! 🎉

[2018-03-23 12:39] #2160 closed

[2018-03-23 12:55] zoepage opened #2292 "Catch `requests.exceptions.ConnectionError` when submiting bug form"
When you have connectivity issues while submitting the bug form, we get `requests.exceptions.ConnectionError`
<img width="1383" alt="screen shot 2018-03-23 at 1 54 51 pm" src="https://user-images.githubusercontent.com/562354/37830112-cb360012-2ea1-11e8-800a-9f444a869fd7.png">

[2018-03-23 13:59] miketaylr commented on #2276
This should be fixed now. We'll do follow up work in #2288.

[2018-03-23 13:59] #2276 closed

[2018-03-23 14:25] miketaylr commented on #2274
This is fixed now, but I'm not super happy with the solution, so let's keep this open. After some experience with the new site, let's revisit.

[2018-03-23 14:28] miketaylr commented on #1000
I think we can close this. The new design uses an animation, not an image.

[2018-03-23 14:28] #1000 closed

[2018-03-23 14:30] miketaylr commented on #1083
See also https://github.com/webcompat/webcompat-metrics/issues/30 where we could surface this kind of info.

[2018-03-23 14:31] miketaylr commented on #1128
Let's close this, #740 is pretty great.

[2018-03-23 14:31] #1128 closed

[2018-03-23 14:36] miketaylr commented on #1565
I'm gonna close this, I don't think we'll have type-media in our future.

(we can revisit if we do)

[2018-03-23 14:36] #1565 closed

[2018-03-23 14:37] miketaylr commented on #1738
This can only be done by emailing GitHub support, but it's an option.

[2018-03-23 14:40] miketaylr commented on #1829
@softvision-sergiulogigan does this still happen on staging?

[2018-03-23 14:57] softvision-sergiulogigan commented on #1829
I'm not seeing it anymore, @miketaylr , but let me try again after you finish deploying the new version on staging.

[2018-03-26 00:19] karlcow commented on #2292
@zoepage nice find, never seen this one. Could you give a bit more of the context of the issue? Do you remember if the network went down or something similar? Did it take a while before displaying the message?

The top error message from your screenshot

* ConnectionError:
* `HTTPSConnnectionPool(host='api.github.com', port=443)`
* Max retries exceeded with url: `/repos/webcompat/webcompat-tests/i

[2018-03-26 06:32] #2215 closed

[2018-03-26 16:39] miketaylr opened #2296 "Investigate lost commits after rebasing refactor branch"
@zoepage said the current refactor branch (which is on staging) is missing commits, or had some bad rebase side effects.

Ola, can you point us to what is wrong, so we can document it here?

[2018-03-26 16:44] miketaylr commented on #2296
Current refactor doesn't contain any instances of `<<<<`, etc. so I think @zoepage is referring to something else, possibly the wrong commit was merged in during rebase.

[2018-03-26 17:04] miketaylr commented on #2296
Here's one instance where we have double content now:

https://github.com/webcompat/webcompat.com/blob/refactor/tests/unit/test_urls.py#L95

[2018-03-27 14:54] miketaylr opened #2298 "Rename or remove wc-Form-helpInline class in issues.js"
This came up during the refactor, `// what is wc-Form-helpInline???`.

[2018-03-27 18:19] zoepage commented on #2298
Perfect thanks! It was on my list for issues I wanted to create :)

[2018-03-27 18:20] zoepage commented on #2296
@miketaylr we can close this, right?

[2018-03-27 18:47] zoepage opened #2299 "Wrong margins / paddings on index"
Between the tiles and the `latest issues`section, the margin is missing.
Also there is a padding-left next to the issue border.

<img width="1421" alt="screen shot 2018-03-27 at 8 31 44 pm" src="https://user-images.githubusercontent.com/562354/37987249-f3b0c3f6-31fd-11e8-8ae3-470a4d877dc1.png">

@Regaddi anything you'd be interested in? :)

[2018-03-27 18:49] zoepage commented on #2296
merged #2297

[2018-03-27 18:49] #2296 closed

[2018-03-27 20:06] miketaylr commented on #2289
SGTM.

[2018-03-27 20:06] #2289 closed

[2018-03-28 02:04] miketaylr opened #2300 "Respect DNT before sending anything to Google Analytics"
See https://hacks.mozilla.org/2016/01/google-analytics-privacy-and-event-tracking/.

[2018-03-28 02:22] miketaylr opened #2301 "Remove screenshot hover activation possibly misleading"
STR:

1. go to staging.webcompat.com/issues/new
2. upload an image
3. hover over the edge of the image and note "Remove screenshot" turning yellow
4. click

Expected: it gets removed
Actual: it only gets removed if you click the `.js-remove-upload` div.

My brain assumed that since the color changed, it was an active clickable area. Should we make the entire preview be the click target?

[2018-03-28 02:24] karlcow opened #2302 "After diagnosis, moving automatically to contactready when contacts are known"
When we have finished a diagnosis, we pushed the issue to needscontact, except if we already know that there was already previous contacts or a mailing-list for this domain.

## Proposal:

1. Use Webhooks API
2. Listen to needscontact events
3. Check if this domain is known as having contacts already
4. Move to contactready automatically if yes. Leave as-is if not.
5. if yes, webcompat-bot posts a

[2018-03-28 02:30] miketaylr opened #2303 "Make login + view issue + shortcut hints less prominent"
On the issues page I think we should find a way to make the following info a bit less prominent. Possibly smaller text, or combine the login + view issue into a single line. It might also look nice inside of a white box, rather than all floating in the bg color.

![screen shot 2018-03-27 at 9 26 20 pm](https://user-images.githubusercontent.com/67283/38005234-8fb10156-3205-11e8-9c14-9a0ea43aab20.pn

[2018-03-28 02:31] miketaylr commented on #2303
I just noticed this little box when you file an issue, seems maybe like we could do something similar.
![screen shot 2018-03-27 at 9 30 46 pm](https://user-images.githubusercontent.com/67283/38005429-2ff77280-3206-11e8-9eab-f27f5c515f33.png) (or not, but I like how it's not very prominent)

[2018-03-28 02:35] miketaylr commented on #2274
This looks pretty bad in Windows.
![overflow](https://user-images.githubusercontent.com/67283/38005549-bd2538ae-3206-11e8-9386-773a0b26e6c3.gif)

[2018-03-28 08:17] zoepage commented on #2303
So, you mean we should place it underneath the label box? This might be an issue as we still do not have a good solution for small resolutions and the scrolling (when having many labels).

But a white box should be a great start! :)

[2018-03-28 08:19] zoepage commented on #2301
Oh, looks like a leftover from the rebase.

This is how it should be, yes.

[2018-03-28 08:22] zoepage commented on #2274
@Regaddi @magsout
Ideas?

[2018-03-28 08:28] softvision-sergiulogigan commented on #2258
Tested again, and observed that this issue is still reproducible on Chrome 65, but ONLY on https://staging.webcompat.com/. All other pages display the un-blurred text.

[2018-03-28 08:39] Regaddi commented on #2274
I think we should move the label-editor from "inline" to something more like a pop-out-box. So scrolling is not affected in any way. Just like Github does, maybe?

![image](https://user-images.githubusercontent.com/1336590/38018086-3702d2ae-3274-11e8-9ca1-9b55a25d5754.png)

[2018-03-28 08:46] zoepage opened #2306 "remove unsused CSS"
- [x] add pkg, grunt task & npm script https://www.npmjs.com/package/grunt-purifycss
- [x] remove unused CSS
- [x] check for `webcompat-reset.css`
- [x] check `color.css`
- [x] check `styleguide.css`

[2018-03-28 08:47] zoepage commented on #2258
ping @Regaddi :)

[2018-03-28 08:48] softvision-sergiulogigan opened #2307 "Text is cropped on the bottom on Chrome"
**Environment:**
Browser / Version: Chrome 65.0.3325.181 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/issues/new
2. Fill in all the text fields.

**Expected Behavior:**
The text is correctly displayed.

**Actual Behavior:**
Text is cropped on the bottom.

**Notes:**
1. Screen capture attached.
2. The issue

[2018-03-28 09:02] softvision-sergiulogigan opened #2308 "Attachment doesn't keep aspect ratio"
**Environment:**
Browser / Version: Chrome 65.0.3325.181 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/issues/new
2. Fill in all the text fields.
3. Attach a Mobile Device screenshot.
4. Submit the issue.

**Expected Behavior:**
The screenshot is correctly displayed.

**Actual Behavior:**
The screenshot has

[2018-03-28 09:12] Regaddi commented on #2308
There's a `max-height` set on images inside the issue.

https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/css/src/issue.css#L98

This should possibly be removed to prevent the squeezing of the image.

[2018-03-28 09:30] softvision-sergiulogigan commented on #2307
Also reproducible on Chrome Mobile:
![image](https://user-images.githubusercontent.com/16573771/38020762-c13dc438-3283-11e8-8a54-99c9c2be4991.png)

[2018-03-28 09:35] softvision-sergiulogigan commented on #2258
This issue is also reproducible on Ubuntu 16.04, on Chrome.

[2018-03-28 09:37] zoepage commented on #2306
r? @miketaylr

[2018-03-28 09:40] zoepage opened #2310 "remove XML declaration in svg-icons.html"
-> webcompat/templates/shared/svg-icons.html

[2018-03-28 09:43] zoepage opened #2312 "remove HREF from buttons"

[2018-03-28 09:47] zoepage opened #2314 "Add vars to media-queries"
https://www.npmjs.com/package/postcss-media-variables

[2018-03-28 10:12] zoepage commented on #2314
This is failing for me, so lets postpone that issue as its not blocking. If anyone wants to take over, feel free. :)

[2018-03-28 10:19] zoepage commented on #2258
merged #2315

[2018-03-28 10:19] #2258 closed

[2018-03-28 10:48] zoepage commented on #2274
I second that idea. :)

[2018-03-28 10:49] #2308 closed

[2018-03-28 10:49] #2301 closed

[2018-03-28 10:49] #2299 closed

[2018-03-28 11:55] zoepage opened #2317 "remove gray border of sub-nav @ /contributors"
Looks like this came in through the rebase and I didn't catch it. :)

<img width="967" alt="screen shot 2018-03-28 at 1 55 04 pm" src="https://user-images.githubusercontent.com/562354/38027351-a55d4c1e-328f-11e8-9348-ddb45e7a88a2.png">

[2018-03-28 12:06] zoepage opened #2319 "remove `wc-Form-helpInline` in issues.js"

[2018-03-28 12:11] zoepage opened #2320 "Move `wc-Comment-content-nsfw`to new CSS"
Looks like we did not think about https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/issues.js#L304 and should add that functionality to the new CSS.

[2018-03-28 12:19] zoepage opened #2322 "change `fix` to `lint:fix` in package.json"
Running into this pretty much every time, so I'm changing this. :D

<img src="https://media.giphy.com/media/3o7TKBc5w7iyCzm4I8/giphy.gif" />

[2018-03-28 12:40] zoepage commented on #2231
Updated the report for staging:
https://sonarwhal.com/scanner/d6db505b-eafd-4b8c-816f-6378bb690835

[2018-03-28 12:44] zoepage opened #2324 "Change `.navigation` to `.js-navigation` in homepage.js"
To make sure we separate css and js classes, lets add `.js-navigation` to homepage.js and the html files.

[2018-03-28 12:49] zoepage opened #2326 "Port Dashboard to new CSS"
As the new CSS is about to land, how do you feel to port the dashboard to the new stuff?
So we also get rid off the in-line / in-file CSS?
@magsout @karlcow

[2018-03-28 13:26] zoepage commented on #2234
didn't we fix this a few days ago? 🤔
yes, with #2237

[2018-03-28 13:26] #2234 closed

[2018-03-28 13:56] zoepage commented on #2085
merged #2293

[2018-03-28 13:56] #2085 closed

[2018-03-28 13:57] zoepage commented on #1847
merged #2259

[2018-03-28 13:57] #1847 closed

[2018-03-28 16:12] miketaylr opened #2329 "Remove inline styles from screenshots"
See the ones added in https://github.com/webcompat/webcompat.com/pull/2328#pullrequestreview-107746708.

It would be good to make a class in a stylesheet somewhere, rather than have inline styles.

[2018-03-28 18:08] miketaylr opened #2330 "403 when trying to "delete" changelog issue label"
[code]

cc @karlcow

[2018-03-28 18:11] zoepage commented on #2216
merged #2328

[2018-03-28 18:11] #2216 closed

[2018-03-28 18:12] zoepage commented on #2204
merged #2327

[2018-03-28 18:12] #2204 closed

[2018-03-28 18:12] zoepage commented on #2324
merged #2325

[2018-03-28 18:12] #2324 closed

[2018-03-28 18:12] zoepage commented on #2319
merged #2321

[2018-03-28 18:12] #2319 closed

[2018-03-28 18:12] zoepage commented on #2317
merged #2318

[2018-03-28 18:13] #2317 closed

[2018-03-28 18:20] magsout commented on #2314
After updated `postcss-*` and added `postcss-media-variables`

[code]

So I think there is a package which is not updated for the postcss version 6..

[2018-03-28 18:27] magsout commented on #2314
I'm reading that https://github.com/postcss/postcss-custom-properties/issues/24 and https://github.com/MoOx/postcss-cssnext/issues/253

Not sure it's a good idea to add this kind of plugin.

@zoepage @miketaylr ?

[2018-03-28 18:32] magsout commented on #2314
Maybe we can just add `custom-media-queries` in `variables.css` and let the comment to rely on the `var(--page-size-m)` like this
[code]

and use as:

[code]

[2018-03-28 18:38] zoepage commented on #2306
merged #2309

[2018-03-28 18:38] #2306 closed

[2018-03-28 18:38] zoepage commented on #2322
merged #2323

[2018-03-28 18:38] #2322 closed

[2018-03-28 18:44] #2312 closed

[2018-03-28 18:44] #2310 closed

[2018-03-28 18:45] zoepage opened #2331 "Remove PurifyCSS"
In #2306, we added https://www.npmjs.com/package/grunt-purifycss to check for unused CSS.

We added the grunt task as well a npm script that can be called with `npm run clean:css`.
It will generate a `tmp/` folder with the reduced css (Just used CSS). It also shows which classes are not used thanks to the `rejected` option and can minify the CSS.

This is how the log looks like:
<img width="931" a

[2018-03-28 18:45] miketaylr commented on #2303
Nah, not really. I think where it is is good, just could use a little styling love... smaller text in a white box would probably do it.

[2018-03-28 18:51] zoepage opened #2332 "Use `a11y-en.css` just on dev"
We've added `a11y-en.css` a while ago to help us with accessibility issues.
We commented it out at some point to deploy to staging, but it never found it's way back.

What we want it to add it just for localhost, so we need a solution here.

The line can be found here:
https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/css/webcompat.dev.css#L5

[2018-03-28 20:23] miketaylr opened #2334 "Unable to use "Remove screenshot" on an image preview that comes from in-browser Report Site Issue button"
STR:

1. in Firefox Nightly, go to about:config and change `extensions.webcompat-reporter.newIssueEndpoint` to `https://staging.webcompat.com/issues/new`
2. open a webpage
3. click "Report site issue" from the page actions menu
4. in the image preview in the new tab, click "Remove screenshot"

Expected: it gets removed
Actual: it doesn't. it also doesn't apply the yellow hover styles.

[2018-03-28 20:25] zoepage commented on #2329
merged #2333

[2018-03-28 20:25] #2329 closed

[2018-03-28 20:30] adamopenweb commented on #2302
@karlcow this is great. I've been thinking about the process and challenges of outreach lately. Including: searching for related bugs, knowing about contacts within Mozilla + partner mailing lists.

I think this should be private. Could possibly be held in a private Github repo.

I would like to maintain this list.

This is important to know the history of previous contacts.

[2018-03-28 20:36] miketaylr commented on #2334
Seems like this will be a pretty simple fix, it's just a z-index issue because `is-validated` isn't added to the parent div when the image is added via the browser. I'll write a patch and add a test.

[2018-03-28 21:05] #2274 closed

[2018-03-28 21:06] #2334 closed

[2018-03-28 21:20] miketaylr commented on #2084
I think we ended up not shipping this, sorry little wompats. ;___;

[2018-03-28 21:20] #2084 closed

[2018-03-28 21:36] miketaylr opened #2336 "Remove unnecessary removeClass("is-hidden") calls"
https://github.com/webcompat/webcompat.com/blob/93be91b6acddbe42f447e4017e31231d30a61772/webcompat/static/js/lib/bugform.js#L391

https://github.com/webcompat/webcompat.com/blob/93be91b6acddbe42f447e4017e31231d30a61772/webcompat/static/js/lib/bugform.js#L392

[2018-03-28 21:41] miketaylr opened #2337 "Simplify footer.html template conditionals"
In the following 3 spots in footer.html, it should be possible to make this a little more DRY by doing something like `if request.url_rule.endpoint.includes('foo_')`

https://github.com/webcompat/webcompat.com/blob/93be91b6acddbe42f447e4017e31231d30a61772/webcompat/templates/shared/footer.html#L19

https://github.com/webcompat/webcompat.com/blob/93be91b6acddbe42f447e4017e31231d30a61772/webcompat/t

[2018-03-28 22:37] karlcow commented on #2330
huh? 👺
@miketaylr
* Was it the first time it happens? Or was it the first time you tried `-d`?
* And are you inside the environment before using it? It requires credentials to delete. If it's the case, I should introduce a test to see if the user has the right credentials.

[2018-03-29 00:22] vladikoff opened #2338 "Back button issues when navigating to /issues"
1. go to https://webcompat.com/
2. scroll down to footer, click on "List of issues"
3. get to issue list, **press browser back button**
4. browser doesn't go back to the main page, stays on /issues

Chrome 65.0.3325 /// Mac OS X 10.13.2

[2018-03-29 00:41] karlcow commented on #2338
Confirmed on Firefox Nightly too.
I don't even know how it's possible :) Thanks @vladikoff for the report.

[2018-03-29 00:45] karlcow commented on #2338
Oh…
when we click on https://webcompat.com/issues
The JS client is rewriting this as
https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc

This should probably not happen.

[2018-03-29 06:39] karlcow opened #2339 "Triage dashboard doesn't display the reality of needsinfo issue"
This was reported by @softvision-sergiulogigan on IRC

[code]

[2018-03-29 06:39] zoepage commented on #2338
Thanks for reporting!

This is a known issue (sorry on my phone && can't find it right now :/)

There was already context in the other bug on what caused it.

[2018-03-29 06:41] karlcow commented on #2339
ok after inspecting the code. The mistake is probably mine.
By creating initially the `status-needinfo` on `webcompat-tests` instead of `status-needsinfo`.

* [ ] fix the label on `webcompat-tests` to be `status-needsinfo`
* [ ] fix the python tests related to needsinfo
* [ ] fix the python code related to needsinfo

[2018-03-29 06:48] magsout commented on #2326
@zoepage

what do you mean by `port the dashboard to the new stuff`?

Maybe using the `--var` for colors and sizes,
do you imagine something about a new design?

oh yeah, I thought about that yesterday and wanted to create an issue.

[2018-03-29 06:55] softvision-oana-arbuzov opened #2340 "A loading spinner or message should be displayed when performing a “Search”"
URL: www.staging.webcompat.com, www.webcompat.com
Browser / Version: Firefox Nightly 61.0a1 (2018-03-28), Chrome 65.0.3325.181
Operating System: Windows 10 Pro

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
    2. Tap the “Search” field and type in a keyword (e.g. test).
    3. Observe behavior while resu

[2018-03-29 07:05] softvision-sergiulogigan opened #2341 "Triage Dashboard summary info is not centered"
**Environment:**
Browser / Version: Chrome 65.0.3325.181 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/dashboard/triage
2. Observe the position of the summary info.

**Expected Behavior:**
The summary info is centered.

**Actual Behavior:**
The summary info is not centered.

**Notes:**
1. Screen capture attached.
2.

[2018-03-29 07:07] magsout commented on #2341
[code]

[2018-03-29 07:09] softvision-oana-arbuzov opened #2342 "“Search” icon from the input field is not functional"
URL: www.staging.webcompat.com , www.webcompat.com
Browser / Version: Firefox Nightly 61.0a1 (2018-03-28), Chrome 65.0.3325.181
Operating System: Windows 10 Pro, Samsung Galaxy S7 Edge (Android 7.0) - 1440 x 2560 pixels (~534 ppi pixel density)

**Steps to Reproduce:**
    1. Navigate to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
    2. Tap the

[2018-03-29 07:10] zoepage commented on #2340
Duplicate of #1527

[2018-03-29 07:10] magsout commented on #2341
@karlcow you added this line https://github.com/webcompat/webcompat.com/pull/2290/files#diff-03e144e6f1cee1f83618ef9127f23949R3 reason you did that? If we removed this line the content is center, so I miss something I think

[2018-03-29 07:12] zoepage commented on #2326
Sorry, I should have been more clear. Colours, grid & icons, font should do the trick?

[2018-03-29 07:33] magsout commented on #2326
💯

[2018-03-29 08:38] karlcow commented on #2341
yup if the window is very large the cards/list will be align on the left but the 3 boxes will be at the center. We can fix it. :) I can propose a little tweak.

[2018-03-29 09:13] zoepage commented on #2342
Looks like another rebase bug we didn't catch.

[2018-03-29 13:43] #2338 closed, assigned to nobody

[2018-03-29 15:33] miketaylr commented on #2330
This is the first time I tried -d, I think. I've used it 3 total times now, but just removed labels by hand (because I forgot... :P)

Yes, I was. You can see I'm in my "(webcompat)" virtual environment.

<img width="987" alt="screen shot 2018-03-29 at 10 32 44 am" src="https://user-images.githubusercontent.com/67283/38098038-90602a22-333c-11e8-8c28-e50a72e6786d.png">

[2018-03-29 15:55] miketaylr commented on #2217
@softvision-sergiulogigan does this still reproduce for you? It did for me once,but now I just get a blank page for a second, then the chrome bug report page loads. Possibly a server change on their side?

[2018-03-29 16:17] miketaylr opened #2344 "Change GA account from personal to Mozilla account"
Apparently Mozilla has better privacy guarantees/policies, due to our business relationship for Google Apps.

So let's switch the analytics over to that.

[2018-03-29 18:59] magsout opened #2346 "Unknown option "filepath" with value ""
running `npm run lint`
![capture d ecran 2018-03-29 a 20 58 45](https://user-images.githubusercontent.com/1997108/38108079-0d521386-3394-11e8-9522-7fe8a76b87fe.png)

[2018-03-29 19:38] magsout commented on #2342
I'm not able to reproduce.

@softvision-oana-arbuzov  if you watch the url you can see that your query is add.

- go to https://webcompat.com/issues?page=1&per_page=50&state=open&stage=all&sort=created&direction=desc
- 2. Tap the “Search” field and type in a keyword (e.g. test).
- 3. Click the “Search” icon.
- watch your url you have now test which is add after `q=`: https://webcompat.com/issues?p

[2018-03-30 04:03] miketaylr opened #2347 "Long URL overflow"
STR:

1. go to https://webcompat.com/issues/1732

Expected: URL wraps
Actual: It doesn't

<img width="1741" alt="screen shot 2018-03-29 at 11 02 09 pm" src="https://user-images.githubusercontent.com/67283/38124122-3fb026f4-33a5-11e8-9a04-f4a14ba97d58.png">

[2018-03-30 05:38] #2339 closed

[2018-03-30 06:31] softvision-sergiulogigan commented on #2217
I'm getting this, @miketaylr
![screen capture](https://user-images.githubusercontent.com/16573771/38127038-f6961818-33fc-11e8-9622-ad1c3618480d.gif)

On the first attempt, the message is displayed for a second or so, then the Chrome bug report page opens.
On the second attempt, the message is no longer displayed.

The same behavior can be observed on both Chrome and Nightly 61.

[2018-03-30 06:43] Regaddi commented on #2217
I guess we can't change that. We link to a short URL (crbug.com/new) which redirects to the actual bug report page (bugs.chromium.org/p/chromium/issues/entry?...). There are some prefilled parameters e.g. the user agent string, which I assume has been read out by the page shown before.

[2018-03-30 06:46] Regaddi commented on #2347
Suggested fix:

[code]

[2018-03-30 07:05] karlcow opened #2348 "Source Code from Python 2 to Python 3"
This issue has a dependency on #1332

[2018-03-30 15:08] miketaylr commented on #2344
remove how? (in which context?)

[2018-03-30 15:20] miketaylr commented on #2217
Yeah, I think this is just a Google server setup. If it repros in Chrome, especially. Let's go ahead and close here.

[2018-03-30 15:20] #2217 closed

[2018-03-30 15:54] magsout commented on #2344
@miketaylr sorry, my message was not super clear. I mean in my GA. You gave me access to the AG, but you replaced it with that of mozilla GA. So is it worth keeping the old one?

[2018-03-30 18:28] miketaylr commented on #2344
Ah, eh, only if you care about historical data. Once the new one is deployed it will be useless.

[2018-03-30 18:37] miketaylr opened #2350 "pep8 failures in dashboard.py breaking travis"
[code]

[2018-03-30 18:41] miketaylr commented on #2314
Yeah, I dunno. If it's a current limitation of CSS, maybe it's just better to live with it.

[2018-03-30 19:08] magsout commented on #2314
@miketaylr the good thing, we can update postcss with latest versions without error ;)

[2018-03-30 19:38] #2347 closed

[2018-03-30 19:59] #2350 closed

[2018-03-30 20:01] miketaylr opened #2352 "Add TravisBuddy bot to comment on test failures"
Sometimes it's hard to notice that tests are failing, or why. TravisBuddy is a bot that will explain failures in a comment.

https://github.com/didi/cube-ui/pull/47 is an example of it being used.

https://www.travisbuddy.com/
https://github.com/bluzi/travis-buddy

Thoughts?

[2018-04-01 19:34] magsout commented on #2352
Didn’t know but good idea

[2018-04-02 15:21] #2300 closed

[2018-04-02 16:43] miketaylr commented on #2348
@karlcow what's the difference between this bug and #1332? I guess this is a single task of that bug?

[2018-04-02 21:24] karlcow commented on #2348
Yup. The #1332 describes all the tasks to do for moving to python 3.
This one is just about the code. I plan also to document a bit more in here certain things about the code specifically.

* such as python2/python3
* or python3 only
* tools to do it.

[2018-04-03 06:39] softvision-sergiulogigan commented on #1794
Let's put this https://github.com/webcompat/web-bugs/issues/16299 for refference.

[2018-04-03 14:55] softvision-sergiulogigan opened #2356 "Older than 48h can be negative"
**Environment:**
Browser / Version: Chrome 65.0.3325.181 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/dashboard/triage
2. Observe "Older than 48h" info

**Expected Behavior:**
The value is >= 0.

**Actual Behavior:**
The value can be < 0.

**Notes:**
1. Screen capture attached.
2. Reproducible both on Chrome and Fi

[2018-04-03 15:35] #2336 closed

[2018-04-03 17:58] miketaylr opened #2358 "long <code> content does not wrap"
https://webcompat.com/issues/7118

<img width="1224" alt="screen shot 2018-04-03 at 12 57 13 pm" src="https://user-images.githubusercontent.com/67283/38266558-a0551414-373e-11e8-925f-ed821a334bfe.png">

We should have `white-space: pre-wrap`, rather than `white-space: pre`.

[2018-04-03 20:12] miketaylr commented on #2271
I wonder what kind of image iOS is sending...

That said, let's split out this bug for iOS and I'll file a new one for Focus Android. The file input doesn't even pop up there, so they seem like very different bugs.

[2018-04-03 20:13] miketaylr opened #2359 "Unable to upload image in Focus Android"
(spun out from https://github.com/webcompat/webcompat.com/issues/2271)

STR:

1. go to webcompat.com/issues/new in Focus Android
2. click on Upload screenshot

Expected: filepicker dialog
Actual: nothing

[2018-04-03 20:16] miketaylr commented on #2359
...does this even work in Focus?

`data:text/html, <input type=file>` does nothing.

[2018-04-03 20:16] miketaylr commented on #2359
Welp, no: https://github.com/mozilla-mobile/focus-android/issues/937

[2018-04-03 21:24] miketaylr commented on #2271
what on earth... where did the `d` go?

![screen shot 2018-04-03 at 4 24 11 pm](https://user-images.githubusercontent.com/67283/38276694-76d8ca50-375b-11e8-8e72-f5e2405c479d.png)

![screen shot 2018-04-03 at 4 23 52 pm](https://user-images.githubusercontent.com/67283/38276684-6e2313d4-375b-11e8-9997-c44fc6d72f9b.png)

[2018-04-03 21:39] miketaylr commented on #2271
Desktop Firefox:

![screen shot 2018-04-03 at 4 37 18 pm](https://user-images.githubusercontent.com/67283/38277233-50f08272-375d-11e8-92e2-da199a758002.png)

Desktop Safari:

![screen shot 2018-04-03 at 4 38 23 pm](https://user-images.githubusercontent.com/67283/38277267-72d70870-375d-11e8-8f47-f62f6635e87a.png)

Hm. Let's take a look at how we're creating this data URI.

[2018-04-03 21:52] miketaylr commented on #2271
Whoops.

`this.previewEl.get(0).style.backgroundImage.slice(5, -2)`

In Chrome and Firefox, `foo.style.backgroundImage` looks like:

`"url("data:image/png;base64,iVBORw0KGgoAAA....kJggg==")"`

Safari looks like:

`"url(data:image/png;base64,VBORw0KGgoAAA...kJggg==)"`

pwned by assumptions in CSSOM serialization format.

[2018-04-03 21:54] miketaylr commented on #2271
Probably we want to grab this data via regexp, seems safer.

[2018-04-04 02:06] karlcow opened #2360 "markdown quotes do not have very identifiable styles"
Go to the comment section.
Insert a comment with a quote

[code]

Result:

<img width="651" alt="capture d ecran 2018-04-04 a 11 02 24" src="https://user-images.githubusercontent.com/505230/38284809-1fdd5b4c-37f8-11e8-9efa-502edb0a1ed5.png">

https://webcompat.com/issues/16317#issuecomment-378456081

[2018-04-04 13:06] #2356 closed

[2018-04-04 16:12] Regaddi commented on #2360
The `<blockquote>` element doesn't have any styles defined at all.

How about something like this? (Idea only)

![image](https://user-images.githubusercontent.com/1336590/38320001-a2efa8a6-3833-11e8-9e51-ee57199ba9e3.png)

[2018-04-04 16:33] #2358 closed

[2018-04-04 22:47] miketaylr commented on #2360
Either options is a big improvement! For the first by @Regaddi, I would say maybe something a little less prominent (perhaps just smaller quote graphics).

[2018-04-04 23:29] karlcow commented on #2360
+1 for simplicity. It will better fit the design by @zoepage

[2018-04-05 00:53] karlcow opened #2364 "sublime Project and coverage to git ignore list"
Coverage in python adds a folder:

[code]

Sublime Text allows local configuration in a project, but creates a folder too
[code]

Proposal to add them to the `.gitignore` or do we consider that we should add them to the project at a point. Both have pros and cons.

[2018-04-05 05:57] Regaddi commented on #2364
I would possibly never (say never never?) add the `.coverage` folder to the tracked files in git. They should be only processed during the build, but there's no need to have generated HTML/CSS in your repository (unless you want to provide `dist` files for easy inclusion).

Regarding the `.sublime-project`: it's a configuration file. I think it's fine to share it. I personally use VSCode (which al

[2018-04-05 06:49] magsout commented on #1704
👍 because t's a good idea..

issue https://github.com/webcompat/webcompat.com/pull/2362#issue-179507393

[2018-04-05 07:02] #2225 closed

[2018-04-05 12:54] softvision-oana-arbuzov opened #2367 ""Report bug" arrow is misaligned on Firefox on Linux"
URL: www.staging.webcompat.com
Browser / Version: Firefox Nightly 61.0a1 (2018-04-04), Firefox Release 59.0.2
Operating System: Linux Ubuntu 16.04

**Steps to Reproduce:**
1. Navigate to https://webcompat.com/
2. Observe “Report bug” arrow.

**Expected Behavior:**
Arrow is aligned (displayed on the right side of button label).

**Actual Behavior:**
Arrow is misaligned (displayed under button label

[2018-04-05 13:00] softvision-oana-arbuzov commented on #2367
Removing from `width: 250px;`, the arrow becomes aligned.
[code]
![image](https://user-images.githubusercontent.com/12184325/38367126-7d5e1d54-38ea-11e8-9342-0516a7822b11.png)

[2018-04-05 13:55] reinhart1010 opened #2368 "Grey navigation buttons when viewed in Firefox Linux with dark GTK Theme"
![image](https://user-images.githubusercontent.com/17312341/38370060-6089948c-3913-11e8-9e3d-28305ef5444e.png)

A simple fix to this is by adding `color:rgba(0, 0, 0, 255)` in these buttons so they are consistent across light and dark GTK themes in Linux.

[2018-04-05 15:19] #2360 closed

[2018-04-05 15:51] miketaylr opened #2369 "changelog.py links point to API, rather than webpage"
Whoops, just noticed this!

`[Pull #2366](https://api.github.com/repos/webcompat/webcompat.com/issues/2366)`

[code]

https://github.com/webcompat/webcompat.com/blob/master/tools/changelog.py#L32 computes the `url` based off the API URL, not the website URL.

[2018-04-05 21:56] karlcow commented on #2369
Let's look at this with #2330 too. I will do that today.

[2018-04-06 00:52] karlcow commented on #2330
[code]

This is working in test without changing anything.

hmm…
This is what I get with a print(url) and blocking the actual delete.

## Test version
[code]

## production version

[code]

@miketaylr Does it work for you when you use the `-t` flag.

[2018-04-06 09:10] denschub opened #2372 "[Brainstorming] Re-considering the way we apply browser-labels"
This was initially posted as a reply to #1971, but given the discussion'y and potentially lenghty nature of this subject, having an own issue is more appropriate.

Let's talk about browser labels. We have a lot of them, and the current situation is [really bad](https://github.com/webcompat/web-bugs/labels?utf8=%E2%9C%93&q=firefox) and if we use any form of filtering of issues for our work queue (l

[2018-04-06 17:24] #2369 closed

[2018-04-09 09:26] zoepage commented on #2352
+1 on this. The wording of the messages also are following our CoC guidelines. :)

[2018-04-09 09:37] zoepage commented on #2359
Shall we sniff for `Focus/Klar` and display a message?

[2018-04-09 09:38] zoepage commented on #2271
This has been merged #2362 :)

Closing!

[2018-04-09 09:38] #2271 closed

[2018-04-09 09:42] zoepage commented on #2364
I agree here. The `.eslint-config` should be enough for the editor someone is using.

:+1:

Also agree, but not experienced developers might. This is why I also second to add `.coverage` as well as `/coverage` to the .gitignore.

[2018-04-09 16:00] #2367 closed

[2018-04-09 18:28] miketaylr opened #2375 "Intermittent Travis failures"
See https://travis-ci.org/webcompat/webcompat.com/builds/364187331#L1039

<img width="959" alt="screen shot 2018-04-09 at 1 26 39 pm" src="https://user-images.githubusercontent.com/67283/38515383-a84d67d8-3bf9-11e8-9141-93d210bebd81.png">

https://github.com/webcompat/webcompat.com/blob/8203b7a482cbb78fabb5a458e8565227d15acebd/tests/functional/lib/setup.js#L21

Possibly there's a timing issue here

[2018-04-09 20:28] zoepage opened #2376 "add @swarnava to team section"

[2018-04-09 21:01] zoepage opened #2378 "add @regaddi to contribute page"

[2018-04-09 21:02] zoepage commented on #2376
merged #2377

[2018-04-09 21:02] #2376 closed

[2018-04-09 21:26] zoepage opened #2380 "Remove waffle.io ?"
Are we still using waffle.io? If not, we might want to remove it from our README.md?

[2018-04-09 21:33] #2378 closed

[2018-04-10 07:27] softvision-sergiulogigan commented on #2372
May I suggest a 4th one? Device (model/brand/[whatever])

[2018-04-10 11:43] zoepage commented on #2372
In CSS we defined following:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/css/src/labels.css#L30
[code]

So, we'd need to add `label-platform`, but I really like it. :)

[2018-04-10 15:34] miketaylr commented on #2380
I don't think we've been using it very actively. Github projects is a good alternative, if we feel like we need to organize a specific project.

[2018-04-10 15:36] miketaylr opened #2381 "Add security.txt?"
`2018/03/10 11:12:23 [error] 14951#0: *1443272 open() "XXXXX/staging.webcompat.com/.well-known/security.txt" failed (2: No such file or directory), client: XXXXXX, server: staging.webcompat.com, request: "GET /.well-known/security.txt HTTP/1.1", host: "XXXXXX"`

I never heard about this, but it seems interesting: https://securitytxt.org/

[2018-04-10 15:38] softvision-sergiulogigan opened #2382 "staging.webcompat.com is down"
Browser / Version: Chrome 65.0.3325.181 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://staging.webcompat.com/

**Expected Behavior:**
The website is opened.

**Actual Behavior:**
"Internal Server Error" message is displayed.

**Notes:**
1. Screen capture attached.
2. Reproducible both on Chrome and Firefox.

Watchers:
@softvision-

[2018-04-10 15:50] miketaylr opened #2383 "Create separate log file for staging server"
Right now it re-uses the production one, which is noisy.

cf. https://github.com/webcompat/devops/issues/27

[2018-04-10 19:07] zoepage commented on #2380
Okay, let's remove it then from the README.md.

Are there any labels that we can also remove that are used by waffle.io?

[2018-04-10 19:08] zoepage commented on #2382
Looks like @miketaylr found the issue. Should be fixed soon. :)

[2018-04-10 20:43] #2383 closed

[2018-04-10 21:52] miketaylr commented on #2352
Cool, thanks. Let's try it out for a while!

[2018-04-11 07:51] #2352 closed

[2018-04-11 19:41] miketaylr commented on #2344
Yep, sorry!

[2018-04-11 19:41] #2344 closed

[2018-04-12 07:08] Regaddi opened #2388 "Weird border on iOS 11 Safari on contributions page"
![image](https://user-images.githubusercontent.com/1336590/38661394-ff13d23a-3e30-11e8-92a4-9d7bb2b51c9a.png)

The border around "Join us" should be only on the left.

[2018-04-12 07:52] Regaddi commented on #2388
I can't reproduce this locally. There is actually different CSS defined for the border.

[2018-04-12 15:48] miketaylr opened #2390 "GA data retention policy"
I just got an email from Google Analytics saying they added the ability to delete user data after a period of time, starting in May:

https://support.google.com/analytics/answer/7667196

I think it makes sense to select the smallest period of time (14 months), any reason that's a bad idea? @adamopenweb?

We will need to update the privacy policy with whatever we choose.

[2018-04-12 17:33] adamopenweb commented on #2390
I can't think of any reason to keep longer than 14 months.

[2018-04-12 22:01] #2337 closed

[2018-04-12 23:39] karlcow opened #2391 "Managing content/navigation in a more elegant way"
This issue was triggered by #2337 and exists only as a brainstorming place. It might be closed without any resolution (What we have currently is working).

Two things which are feeling itchy
* The tight coupling in between the views and the templates for navigation
* The number of views necessary for content which are basically doing nothing except doing the same thing. :) returning the templates.

[2018-04-12 23:43] karlcow commented on #2391
Slightly related https://flask-menu.readthedocs.io/en/latest/

[2018-04-13 06:45] #2342 closed

[2018-04-13 19:32] magsout commented on #2380
@zoepage The only label used by waffle is

![capture d ecran 2018-04-13 a 21 31 56](https://user-images.githubusercontent.com/1997108/38754446-3092cec4-3f62-11e8-84d1-10f5e02278b8.png)

[2018-04-13 20:24] miketaylr commented on #2047
Yeah, we do this at the same time, at least for in-browser reports.

[2018-04-13 20:37] miketaylr commented on #2047
@karlcow I've got 3 ideas on how I could implement this, curious on your thoughts:

1. send this info from the browser as additional get params `buildID=20180404171943` (and `channel=nightly`), pass those into `get_metadata` (form.py)
2. add the information to the [`details` json object](https://dxr.mozilla.org/mozilla-central/source/browser/extensions/webcompat-reporter/content/WebCompatReporter.

[2018-04-14 08:41] Regaddi commented on #2388
It seems I tested on an old build. Completely reproducable for me on iOS Safari and macOS Safari.

[2018-04-14 09:49] Regaddi opened #2393 "Upgrade JavaScript UI"
I've been talking about this with @miketaylr some time ago and I thought it might be a good idea to open up the discussion.
We're currently using a mix of [Backbone](https://github.com/jashkenas/backbone) & [jQuery](https://github.com/jquery/jquery) combined with some other libs (moment.js, lodash, mousetrap, ...) to implement the dynamic JS UI parts.
Also the JS dependencies are not defined via n

[2018-04-15 11:28] karlcow commented on #2393
My initial 2 cents.
If we go down the road of rewriting some JS for the site, then I would rather prefer we make sure that we do most of the first rendering on the server side, and then improve with JavaScript the user experience.

So basically that in the future and HTTP GET gives us the full issue and not just an empty template.

[2018-04-15 19:48] Regaddi commented on #2393
Maybe this could help here: https://github.com/markfinger/python-react

[2018-04-15 22:02] karlcow commented on #2393
@Regaddi Something to explore probably. Though that would add another layer. We are already able to do server side rendering on the project. For example, the needstriage dashboard data is server-side rendered.

The current situation we are in is because we thought that there would be delay for the user into waiting for GitHub answers to generate the data, we need to render the page on python serve

[2018-04-16 08:07] #2388 closed

[2018-04-16 08:25] zoepage commented on #2381
I really like the idea. :)

Just one question to get context, do we have a process in place for what happens after someone will report an issue?

[2018-04-16 10:41] zoepage commented on #2380
@magsout Wasn't `ready` also one? 🤔

[2018-04-16 10:53] zoepage commented on #2393
@Regaddi

Yessss, that sounds great. The semantics / css refactor was actually the first part of this. See #1480 for more context. We tried to clean up the semantics and make the CSS a bit more modular, so it fits the ReactJS pattern bit more. (OFC there are always improvements).

Also webpack is something we want for some time now: #1834 + #1352

:+1: :+1: :+1:

@karlcow

I'd like to go with anot

[2018-04-16 10:55] zoepage commented on #2326
If you have questions or I can help, LMK @magsout :)

[2018-04-16 11:33] magsout commented on #2380
@zoepage ah, hum is it @karlcow that puts this label there https://github.com/webcompat/webcompat.com/pull/2379 ? Or his account connected with waffle?

[2018-04-16 11:34] magsout commented on #2326
@zoepage oops, add to my todolist <3

[2018-04-16 11:37] magsout commented on #2326
- [ ] move CSS into files handle by Grunt
- [ ] Add JS into Grunt
- [ ] Added `Colours` - `icons` and some usefull stuff

nb: it's a specific Grid for the dashboard (grid / table one css/ js logic)

[2018-04-16 11:49] zoepage commented on #2380
Both might be possible. We should just keep this in mind when we remove waffle.io :)

[2018-04-16 11:53] zoepage commented on #2326
@magsout

How do you feel about discussing, if it might be possible to use the existing new grid / extend it?

Where is the dashboard JS living now?

What do we need to add / move here? Is it possible to reuse things from the existing new CSS?

[2018-04-16 12:08] zoepage commented on #1834
@Regaddi is this something you'd be interested in? :)

[2018-04-16 12:10] zoepage commented on #1310
I'd like to pick this up again as we might have some space this quarter to implement it :)

[2018-04-16 16:04] Regaddi commented on #1794
Description is not a multiline field at all, it's just a normal single line input field.
Hitting enter there for sure triggers a submit (which applies to every single line input field in that form, like URL, browser and operating system).

However it only triggers the form submit, when all required fields contain technically valid information.

We could prevent the submit by hitting keyboard enter

[2018-04-16 16:06] miketaylr commented on #1794
I think #1 is the least surprising.

[2018-04-16 16:07] Regaddi commented on #1834
`js/build` is already in use and contains `ga.js`.
How about `js/dist` so we're consistent with `css/dist`?

[2018-04-16 19:39] zoepage commented on #2375
Re-opening as #2385 is "just" adding diagnostics, but not a solution yet.

[2018-04-16 20:56] miketaylr commented on #2047
Note: option 3 won't work for `AppConstants.MOZ_UPDATE_CHANNEL`, it's too late at that point.

[2018-04-16 21:30] miketaylr opened #2396 "Move ga.js to /dist/ga.js"
That way we don't need `/build`.

#2394

[2018-04-16 22:36] miketaylr commented on #2047
https://bugzilla.mozilla.org/show_bug.cgi?id=1399985 to track on the Bugzilla side.

[2018-04-17 01:26] adamopenweb commented on #1984
I don't know that we need to leave this open. Just one possible solution to the anonymous report problem. Closing for now.

[2018-04-17 01:26] #1984 closed

[2018-04-17 01:55] karlcow commented on #2047
(I'll take time for this today) Just to let you know it's on my todo list.

[2018-04-17 04:35] karlcow commented on #2393
Let's try to see if we can better understand each other.
Just to make it extra clear I didn't say "Do not use React or JS" 😃

About this. I fully agree but probably in a different way.

Here is what our site looks like. There is no content.

<img width="1031" alt="capture d ecran 2018-04-17 a 11 34 04" src="https://user-images.githubusercontent.com/505230/38845697-ae98d1f0-4233-11e8-8520-09c8c24c1

[2018-04-17 06:08] zoepage commented on #1794
+1 on 1. :)

[2018-04-17 06:41] Regaddi opened #2399 "No focus style for image upload"
There is currently no style defined for the upload area in the bugform.
I'd suggest to use the existing hover styles on focus, just like other input fields.

Since the element, that receives focus is the `<input type="upload">` and the styles are applied to the element around, I'd suggest using the `:focus-within` pseudo selector.

![image](https://user-images.githubusercontent.com/1336590/3885270

[2018-04-17 06:48] magsout commented on #2326
@zoepage

sure ;)

![capture d ecran 2018-04-17 a 08 47 40](https://user-images.githubusercontent.com/1997108/38852925-f7d16746-421b-11e8-98c3-f230ed1b67f8.png)

I don't know yet, I will try something to see

[2018-04-17 07:02] magsout commented on #2393
thanks @Regaddi  for created this issue. Like @zoepage  writed, We already opened an issue about rewrite the JavaScript part into something more modular like React for example there #1480

If I understand everybody in this issue.

@Regaddi  and @zoepage  are talking about refactoring the JS Bacbone / jQuery UI into something more modern like reactJS and using redux or mobx for the models/schemas/f

[2018-04-17 07:09] magsout commented on #2326
error with `uglify.js`

[code]

it seems does not like es6 features ike const or fat arrow :(

[2018-04-17 07:10] Regaddi commented on #2326
Not yet. I thought about tackling this with the webpack refactor.

[2018-04-17 07:11] magsout commented on #2326
branch 2.* seems to understand es6 https://stackoverflow.com/questions/38429567/some-es6-features-are-not-understood-by-grunt-uglify-js

[2018-04-17 07:12] magsout commented on #2326
ah no
[code]

bheu :(

[2018-04-17 07:12] karlcow commented on #2047
@miketaylr
I have a tendency to prefer things sent through the `details` JSON when it's about the browser. It's more difficult to tamper the data. And we are talking about the "Report Site Issue" button, so things that people really report about the current experience in this browser.

[code]

It's slightly different for the `/issues/new` form where we can report things which are not related to th

[2018-04-17 07:40] zoepage commented on #2326
How about this... We refactor the CSS and markup, but wait with moving the JS until the webpack refactor @magsout ? :)

[2018-04-17 07:48] zoepage commented on #2399
merged #2400

[2018-04-17 07:48] #2399 closed

[2018-04-17 07:54] magsout commented on #2326
@zoepage looks good 👍

[2018-04-17 14:46] miketaylr commented on #2047
Thanks @karlcow.

[2018-04-17 14:47] miketaylr commented on #2047
I'm sort of thinking these don't really need to be hidden. We'll see what it looks like.

[2018-04-17 15:00] #2396 closed

[2018-04-17 18:05] adamopenweb opened #2401 "New issue filed with reporter shows as reported with web"
I filed an issue today (https://github.com/webcompat/web-bugs/issues/16501) from Fennec using the reporter. I initially clicked on report via Github, but realized I wasn't signed in. Went back and reported Anonymously. When I checked the bug on Github, it shows reported with web instead of mobile-reporter.

STR:
0. Ensure you aren't signed into Github or launch private tab
1. Open Firefox Nightly

[2018-04-17 20:26] Regaddi commented on #2199
Is the autocomplete even needed here? Could we just disable this feature by using the `autocomplete="off"` attribute?

[2018-04-17 20:40] zoepage commented on #2199
I think this could be a good temporary solution. 🤔

[2018-04-17 20:41] #2298 closed

[2018-04-17 20:49] Regaddi commented on #2199
Changing the `:-webkit-autofill` styles could be confusing for users, because they are probably used to their autofill styles (they see their autofilled data on every website with the same yellow background).

[2018-04-17 23:38] #1794 closed

[2018-04-18 01:16] #2042 closed

[2018-04-18 06:28] karlcow opened #2404 "Image should only have only max-width, not width:100%"
Currently images in comments are shown with a `width: 100%`. It should not happen. Images which are smaller than the current width of the comment get blown out.

Just need to remove `width: 100%`

[code]

[2018-04-18 07:13] zoepage commented on #2404
@reggadi? :)

[2018-04-18 08:33] #2307 closed

[2018-04-18 17:03] miketaylr opened #2406 "[staging] 501 on reporting issue (KeyError: 'details')"
[code]

My bad, fallout from #2042. Working on a patch.

[2018-04-18 17:41] miketaylr commented on #2375
Still intermittents... and it seems like logging from #2385 hasn't turned up anything useful yet.

https://travis-ci.org/webcompat/webcompat.com/builds/368261531

[2018-04-18 17:43] miketaylr opened #2408 "details element parsed as string not HTML"
https://staging.webcompat.com/issues/1489

<img width="653" alt="screen shot 2018-04-18 at 10 42 22 am" src="https://user-images.githubusercontent.com/67283/38948735-33c1fc14-42f5-11e8-92b3-d5488216df8f.png">

[2018-04-18 17:44] miketaylr commented on #2408
I'll investigate, but if this is semi-complicated, we should just remove `details` and use a markdown header.

[2018-04-18 17:46] miketaylr commented on #2408
On GitHub
<img width="293" alt="screen shot 2018-04-18 at 10 45 54 am" src="https://user-images.githubusercontent.com/67283/38948913-b7f7f916-42f5-11e8-8737-f55759818150.png">

[2018-04-18 17:49] miketaylr commented on #2408
Hm.

<img width="394" alt="screen shot 2018-04-18 at 10 49 37 am" src="https://user-images.githubusercontent.com/67283/38949082-3aec7a2c-42f6-11e8-9335-28a6627548bf.png">

[2018-04-18 17:56] miketaylr commented on #2408
Ah, I think it's just being sanitized to a string. Let's see if we can hack it.

[2018-04-18 18:02] Regaddi commented on #2408
Phew. It's basically mixed Github flavoured Markdown with HTML in it. This might be tricky.

[2018-04-18 18:08] magsout commented on #2314
@Regaddi to clarify my comments, I'm not a big fan of Sass, not anymore, I used Sass  couple of years.

The question is What can we do with Sass we can not do with css?

IMO, Sass is motly another layer writing a subset of css. it helps writing css wich is repeating but that's it.

[2018-04-18 18:42] Regaddi commented on #2314
We can use vars in or for media queries and solve this issue 😅

Joking aside, CSS has matured a lot in the last few years and I'm really happy about this evolution. One thing that I still dislike is that I have to repeat parts of my selectors over and over again. But this is probably just personally. If I have the opportunity to do the same thing with less code, why not? 😄

So basically yes, Sass

[2018-04-18 19:36] Regaddi commented on #2408
Seems like https://github.com/svbergerem/markdown-it-sanitizer is not maintained anymore. I'm currently reaching out to @svbergerem to clarify.

[2018-04-18 21:00] svbergerem commented on #2408
@Regaddi No, the project is not dead. I'm not aware of any bugs and I didn't have enough time to implement new features. I already planned a bigger refactoring in 2016 that would allow adding and removing accepted tags. I just started working on the project again and I'll let you know when there is anything new.

[2018-04-18 23:38] miketaylr commented on #2408
Yes, but we use the sanitizer to restrict what's allowed. Lots of scary things can sneak into valid HTML.

[2018-04-18 23:46] digitarald opened #2409 "Do not fill in URL information for Site Report Issue triggered on webcompat.com"
Adam and Mike mentioned submissions with webcompat.com as reported URL.

I assume the users' reasons might either be trying out the feature after reading about it or report an issue for another site after.

A solution would be to not fill in site-related fields (URL, screenshot) to avoid any accidental submission.

[2018-04-18 23:47] miketaylr commented on #2408
@Regaddi showed me a workaround that we could ship until the sanitizer lib is updated, I might have some time to work on that tonight (before he wakes up), since I'm just hanging out at an AirBNB away from my family.

[2018-04-18 23:48] digitarald commented on #2390
If we use the Mozilla GA account this should be covered.

[2018-04-19 03:41] miketaylr commented on #2408
(probably not happening tonight!)

my idea was to essentially create a new file in the `/static/js/lib/mixin` directory, something like `allowlist.js`, then include it into the comment and issue model files similar to https://github.com/webcompat/webcompat.com/blob/cb766b2c2b7e628c9238195a71c28faaed6b349e/webcompat/static/js/lib/issue-list.js#L262.

![ff9d7l](https://user-images.githubusercontent.

[2018-04-19 18:27] #2408 closed

[2018-04-19 18:38] #2404 closed

[2018-04-19 19:14] miketaylr opened #2411 "App fails to start because it doesn't know about a milestone"
I just deployed v9.0.5, and noticed webcompat.com production was returning 500.

Checking uwsgi logs:

[code]

There was a `work` milestone that someone created 10 hours ago (probably on accident, it's pretty easy to do this in github's interface). And I guess we failed hard. 💣

[2018-04-19 19:28] miketaylr commented on #2411
How did this bug even manifest? Is this a race condition? If it was trying to read from the milestones on disk (which wouldn't have a 'work' milestone), how would it even know about 'work' to throw a KeyError? Confusing.

[2018-04-19 22:33] karlcow commented on #2411
ok I'll check that today. No good. And the way we instantiate milestone is weird anyway (my bad and already commented on that in a previous issue.)

[2018-04-20 00:32] karlcow commented on #2411
Ah this happened here.
<img width="742" alt="capture d ecran 2018-04-20 a 09 29 34" src="https://user-images.githubusercontent.com/505230/39024670-663de32c-447d-11e8-9f0e-d1f53f78375b.png">

Because you manually type the milestone in Github. You may accidently create another milestone with the editor.

<img width="353" alt="capture d ecran 2018-04-20 a 09 30 26" src="https://user-images.githubuser

[2018-04-20 00:51] karlcow commented on #2411
ok this is happening in there.

https://github.com/webcompat/webcompat.com/blob/99210fd9e5467ca83f750ee45f97a16f842944d5/config/__init__.py#L81-L86

STATUSES are defined in

https://github.com/webcompat/webcompat.com/blob/99210fd9e5467ca83f750ee45f97a16f842944d5/config/environment.py#L25-L40

Two ways this can fail.

* Adding a new milestone.
* Removing a milestone.

[2018-04-21 15:25] miketaylr opened #2414 "Clean up some bugform.js function binding"

[2018-04-22 16:47] miketaylr commented on #2409
Makes sense.

[2018-04-23 01:30] karlcow opened #2416 "Adding Contributors: Adbdul and Reinhart"
Missing active persons

@reinhart1010 @haseebgit Would you like to be on this page? https://webcompat.com/contributors
Could you share with us the same type of details that other people have sent.

Thanks.

[2018-04-23 16:24] Regaddi opened #2417 "Clean up media queries in stylesheets"
There are some media queries not using the breakpoint variables. We should investigate those and fix them.

[2018-04-23 19:12] zoepage commented on #2417
I think @magsout can give some context here?

[2018-04-23 21:59] miketaylr commented on #2381
The not great process right now would be: "figure out how to fix it, ASAP". But we could create one here on the wiki.

[2018-04-23 22:02] miketaylr commented on #2391
I think the general direction in your first comment is interesting, and worth experimenting with. views.py gets to be filled with what seems like boilerplate for those mostly static pages, which seems like the right time to simplify.

[2018-04-23 22:08] miketaylr commented on #2390
Currently we use a webcompat GA account, which was created from Mozilla google apps account (mine).

[2018-04-23 22:39] miketaylr commented on #2393
I don't have much to add here, I think re-architecture for the site bit by bit is a good thing, when it serves a purpose. As is, the site is working, and re-writing it isn't a priority (*especially* not for this quarter). IMO, the most important page on the site is the bug form at `/issues/new`, and it's already server rendered (there's lots to improve there, no doubt!).

But if we can show some c

[2018-04-23 22:43] miketaylr commented on #2288
I think so. I was just realizing the way we handle form submit is kinda... wonky.

Right now on submit we call `maybeUploadImage`, and rely on the success handler to submit the actual form. Obviously if we don't end up in success, that won't happen.

So probably `maybeUploadImage` needs to give control back to the `onFormSubmit` handler (which isn't on master right now, but comes from #2415) and d

[2018-04-23 22:43] miketaylr commented on #2288
https://github.com/webcompat/webcompat.com/issues/2276#issuecomment-375365962 is one idea to explore.

[2018-04-23 22:45] miketaylr commented on #2288
Changing the title, but we should be sure it also covers error conditions.

[2018-04-23 22:58] miketaylr commented on #2288
Would be nice to use Promises... or at least jQuery.Deferred. I wonder how painful an upgrade from jQ 1.11.X to 3.X would be (I'm pretty sure we don't try to support IE8 anyways)...

[2018-04-24 01:00] karlcow opened #2420 "Start project even with ill defined milestones."
This issue is triggered by the discussion in https://github.com/webcompat/webcompat.com/pull/2412#discussion_r183120760

The issue #2411 was about solving a 500 error triggered by deferencing a non existing key in the milestone dictionary.
This was solved by #2412 by stopping the project to restart if a milestone is missing or added.

This issue is to explore the possibility of sending warning to

[2018-04-24 01:07] karlcow commented on #2420
On the UI side, it was solved by #1852
The user is warned there is a missing milestone.

So our goal is to make it possible to start without a fully defined config file.

[2018-04-24 01:09] #2411 closed

[2018-04-24 02:31] miketaylr opened #2421 "Update concept of loader image in ImageUploadView"
In bugform.js we use a throbbing animation on the element, currently ImageUploadView (in issues.js) references a non-existent `js-Upload-Loader` element. So we should fix that.

[2018-04-24 06:49] haseebgit commented on #2416
Thanks @karlcow

You can add this:

Community Web Opener, Open Source, Startups, Ruminater.
When not on computer - Traveling, Hiking, Food.

Twitter: haseeb_offline
Github: haseebgit

[2018-04-24 07:30] magsout commented on #2417
@zoepage um, sorry, I don't know what some context I can give?

[2018-04-24 12:11] zoepage commented on #2417
@magsout As far as I remember, you added some breakpoints that were not the variable ones while building the label box? Or am I mistaken?

[2018-04-24 12:12] zoepage commented on #2416
@haseebgit could you please also provide the country you currently live in? :)

[2018-04-24 12:13] zoepage commented on #2421
@regaddi wanna grab that? Happy to provide more context here.

[2018-04-24 12:16] magsout commented on #2417
@zoepage ah, ok, sorry, I didn't understand the issue, so i didn't understand your message ;)

thanks.

let me see into the code.

[2018-04-24 12:28] haseebgit commented on #2416
@zoepage India :)

[2018-04-24 14:34] miketaylr commented on #2314
To me it feels like switching to SASS to solve this one issue feels like a bit much. I'm a respectful -1, though I appreciate the PR and contribution from @Regaddi.

[2018-04-24 15:46] Regaddi commented on #2314
@miketaylr It is not really solely solving this particular issue. With Sass we're able to establish a clean stylesheet architecture, which can't be achieved with pure CSS in a satisfying way. Sass allows to strictly divide the stylesheet code into configurational, reusable and applying parts. It allows to e.g. abstract the styles for labels without duplicating CSS code (as we currently do). So for

[2018-04-24 15:50] softvision-sergiulogigan opened #2422 "The bug reporting/comments area is not automatically expanded"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/issues/new
2. Type a lot of text in the "What steps did you take before this problem occurred?" field.

**Expected Behavior:**
The bug reporting/comments area is automatically expanded to accomodate the text typed.

**Actual

[2018-04-24 15:57] zoepage commented on #2314
The biggest advantage I see it the normalisation of margins / paddings and gaps between the grid elements through functions that can live in one place and be reused. solving the breakpoints issue is a bonus for me.

[2018-04-24 15:58] zoepage commented on #2422
After various bugs and a longer discussion with e.g. @karlcow we decided to remove the feature a few weeks ago.

[2018-04-24 22:08] karlcow commented on #2422
Link to previous discussion:

* Remove autoExpand feature for textareas #1636
* Comment box issues with long comments #1622
* auto-expand the bug reporting/comments area #1211

Here an example of code with plain JS.
https://jsbin.com/qizepev/edit?html,css,js,output

There are indeed issues with auto-expand, which mainly appears when having a smaller viewport. Which is unfortunate because it's not

[2018-04-24 22:12] karlcow commented on #2422
@softvision-sergiulogigan @softvision-oana-arbuzov Instead of jumping to a UX/technical solution, could you just describe what would be more comfortable for you when typing a comment or/and filing a form?

[2018-04-24 22:51] #2390 closed

[2018-04-25 17:26] miketaylr commented on #2314
This feels a bit subjective, since clean and satisfying mean different things to each of us. :)

Yeah, this could be good. I feel like we should consider this at some point, and maybe collect concrete use cases for it now, but I don't see that we need it today.

Related, https://engineering.linkedin.com/blog/2018/04/css-at-scale--linkedins-new-open-source-projects-take-on-stylesh is an interesting

[2018-04-25 22:15] Regaddi commented on #1714
I think it's currently hard to solve, because the JavaScript source files are processed "manually" in multiple steps (concat and uglify) and we're not generating source maps in both steps. Possibly it could work with source maps.

[2018-04-26 00:23] karlcow opened #2424 "Error 500 on webcompat.com/file"
😑  This was reported in https://github.com/webcompat/web-bugs/issues/16465

Go to https://webcompat.com/file and boom 💥 Error 500.

[2018-04-26 00:47] karlcow commented on #2424
So I guess someone is naughty out there and is anonymously playing with us.
https://github.com/webcompat/webcompat.com/blob/16cc32cb5faa370f9f765b384956c55bbd3772fb/webcompat/views.py#L127-L137

so it was… but let's fix that.

[code]

Yoohoo! :)

[2018-04-26 10:53] mischah commented on #1352
Hej, I would love to work on this.

I have quite a bit of experience by moving our build toolchain from [Grunt](https://github.com/micromata/bootstrap-kickstart) over [Gulp](https://github.com/micromata/Baumeister/tree/1.1.0) to [webpack 4.x](https://github.com/micromata/Baumeister/).

By having a quick look at the sources I saw that you are using the revealing module pattern to organize your Java

[2018-04-26 11:54] zoepage commented on #1352
18th of May sounds really great for me. Until then we can figure out a "detailed" plan of how to move things and to see, if we don't run in any issues?

@Regaddi @magsout and I are also happy to help and do work. :)

+1 on babel as this is something we were discussing for some time now.

[2018-04-26 11:55] Regaddi commented on #1352
My thoughts on how to replace the grunt tasks in a webpack environment.

### eslint

Not part of webpack. Should be run independently, to keep build time shorter.

### checkDependencies

Not necessary, when we use `package-lock` file.

### cmq

Can be done with postcss (e.g. [node-css-mqpacker](https://github.com/hail2u/node-css-mqpacker))

### concat

Use `require` to build those files.

### cssm

[2018-04-26 11:59] zoepage commented on #1352
Sweet, thanks @Regaddi :)

`cssmin` is also something we can replace by `purifycss` and this is an option already included there https://github.com/webcompat/webcompat.com/blob/master/package.json#L61

[2018-04-26 12:04] Regaddi commented on #1352
@miketaylr With webpack it would be most convenient to have a dev bundle and a production/staging bundle. Currently we're referencing the JS source files in DEV mode (see https://github.com/webcompat/webcompat.com/blob/issues/1714/webcompat/templates/layout.html#L50). We should probably replace this with a JS Dev bundle using sourcemaps. This would also allow the introduction of babel and modern J

[2018-04-26 14:06] mischah commented on #1352
I’m on the same boat. I use a [neat little package ](https://github.com/micromata/cli-error-notifier) of mine to get a notification when linting fails while watching, though.

Jup. I will set things up similar to this one I set up recently:

- [npm scripts](https://github.com/micromata/Baumeister/blob/e9aac47bd635305a34e16a2e77d98831c45b36e7/package.json#L19-L46)
- [webpack config](https://github.

[2018-04-26 15:28] miketaylr commented on #1352
Heya, thanks @mischah for wanting to help out. :)

I'm -1 on babel right now, unless there are very strong user-facing arguments for it.

I want to be very conservative about introducing Babel and anything that might lead to shipping *more* JS than we need to, just so we can use cool JS syntax. We have to keep in mind that Firefox users end up at webcompat.com when they try to report new issues, a

[2018-04-26 15:29] miketaylr commented on #1352
(Note: i realize doing all that work and running tests is a big up front investment)

[2018-04-26 15:40] #2424 closed

[2018-04-26 16:33] #2420 closed

[2018-04-26 16:48] zoepage commented on #1352
I'd love to see babel land mainly for promises, but I do not mind it landing later on. :)

💯

[2018-04-26 17:48] miketaylr commented on #2422
If we removed it due to bugs, I'm not opposed to someone trying again, learning from the first attempt's lessons.

It seems useful, and if some of our biggest customers (do we have a bug reporting hall of fame yet??) are indicating that the current situation isn't great for them, it's a strong signal.

[2018-04-27 06:09] softvision-sergiulogigan opened #2427 "The Triage Dashboard is down"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/dashboard/triage

**Expected Behavior:**
The correct page is opened.

**Actual Behavior:**
An error page is opened. Yikes! Internal Server Error (500).

**Notes:**
1. Screen capture attached.
2. Reproducible both on Chrome an

[2018-04-27 06:11] softvision-sergiulogigan opened #2428 "The All Issues section is not working"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 61.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com
2. Click on the All Issues button.

**Expected Behavior:**
The correct page is opened.

**Actual Behavior:**
An error page is opened. Internal Server Error.

**Notes:**
1. Screen capture attached.
2. Reproducible both on Chro

[2018-04-27 09:10] magsout commented on #1352
oh cool thanks a lot @mischah  😀

I tried to add webpack two years ago, but I did not succeed. But the cool things,

Webpack has evolved and the documentation is much clearer.

I had problems with `this` and others `window`, which I think may have been set with loader as import-loader, but I had errors that I did not understand. So I'm very interested to see how you integrate webpack.

[2018-04-27 09:17] #2346 closed

[2018-04-27 09:27] magsout commented on #2428
thanks @softvision-sergiulogigan

fixed by  @karlcow

![capture d ecran 2018-04-27 a 11 18 36](https://user-images.githubusercontent.com/1997108/39355603-ede346f6-4a0d-11e8-929c-71bfd262949c.png)

[2018-04-27 09:27] #2428 closed

[2018-04-27 18:13] miketaylr opened #2429 "Refactor image submission for comments"
There's some TODOs, not sure if there are follow up bugs:
https://github.com/webcompat/webcompat.com/blob/master/webcompat/templates/issue/upload-image.jst#L22

But also, we should re-think how we do this, similar to the work in #2288.

[2018-04-27 21:46] miketaylr opened #2430 "[changelog.py] UnicodeEncodeError: 'ascii' codec can't encode character u'\u2013' in position 12: ordinal not in range(128)"
[code]

It looks like https://github.com/webcompat/webcompat.com/pull/2423 is the culprit here:

`Fixes #2346 – Update eslint and prettier packages. Format JS files` the long dash is `\u2013`.

[2018-04-27 21:50] miketaylr commented on #2430
(i'm gonna just change that title because i'm lazy, in case someone investigates later and is confused)

[2018-04-27 22:00] miketaylr opened #2431 "[changelog.py][feature-request] Rewrite issue commit message separator"
Our commit messages follow a convention:

`Issue #NNNN{separator}{commit_message}`

<img width="243" alt="screen shot 2018-04-27 at 4 52 31 pm" src="https://user-images.githubusercontent.com/67283/39386693-65dedb20-4a3b-11e8-91e3-0dd836333751.png">

We're not consistent (and I don't think it's worth caring about in a PR or worth blocking over), but it would be cool if changelog.py could normalize

[2018-04-27 22:05] miketaylr commented on #2431
https://github.com/webcompat/webcompat.com/blob/master/tools/changelog.py is where this code live, if anyone wants to tackle this!

[2018-04-28 06:36] reinhart1010 commented on #2416
@karlcow You could add this as well:

Twitter: ReinPre10
Website: https://reinhart1010.github.io (Still in development, will be updated soon)

[2018-04-29 16:13] dmose commented on #655
@zoepage It's not obvious to me that this is an enhancement.  Right now, to file through webcompat.com, I'm required to give webcompat.com the ability to write the _code_ in all the public repositories that I have access to, which is a serious overreach and certainly a vector for security breach access to spread, should webcompat.com get breached.

@miketaylr What are your thoughts on converting t

[2018-04-30 01:08] karlcow commented on #2430
🤔 So this has been handled in #2431 through #2433
There's one issue though if we start the prose after the separator with a non-ascii word.

* This fails: `'Fixes #101 - 愛 is love.'`
* This works: `'Fixes #101 - all we need is 愛.'`

I can introduce matching in the regex against any kind of unicode but then it becomes a tad more complicated for handling the separators.

@miketaylr So if you are ok

[2018-04-30 12:05] softvision-sergiulogigan commented on #2422
I think having an auto-expandable reporting/comments area would improve overall bug quality. You'd be able to re-read your filed issue or comment before submitting it, without manually resizing the text area.

Indeed, the majority of our reporters write a 1-2 line bug report, but we also have those who give meaningful contribution while reporting an issue.

Also, this can be also viewed as a site

[2018-04-30 14:36] miketaylr commented on #2430
@karlcow SGTM!

[2018-04-30 14:42] miketaylr opened #2434 "Add 2 new tracking protection related type labels"
I'd like to automatically add one of the 2 labels to new issues, if users report a site where TP blocked something:

`type-tracking-protection-basic`
`type-tracking-protection-strict`

We may or may not do anything with them (or maybe automatically close `-strict` ones as wontfix, but it will be able to have the label to track the sites going foward.

[2018-04-30 20:41] miketaylr opened #2435 "Find a better way to mock out servers and serve fixture data for Browse <-> Flask interactions"
I attempted some of this in https://github.com/webcompat/webcompat.com/pull/2419, but am not happy with it. @karlcow had some other good observations @ https://github.com/webcompat/webcompat.com/pull/2419#discussion_r184923465

https://gist.github.com/miketaylr/0a828de48d77858e817f1a5c2a3e5325 has some ideas for one possible approach, that works, but isn't ideal.

We can mock out unit tests, and w

[2018-04-30 20:53] karlcow commented on #2434
That's a good piece of information to speed up triage/diagnosis.
And indeed we could close automagically the strict ones with webcompat-bot and a boilerplate text.

[2018-04-30 21:16] #2431 closed

[2018-04-30 23:15] #2434 closed

[2018-05-01 15:26] miketaylr opened #2437 "Update ua-parser to 0.8"
A new version is out: https://github.com/ua-parser/uap-python

[2018-05-03 15:42] reinhart1010 commented on #2372
How about adding another label called `engine-{blink,edgehtml,gecko,iehtml,servo,webkit}` ?

With this, we can distinguish issues which are found in specific engines instead of browsers (e.g. `iehtml` for IE, `blink` for Chrome/Opera/Chromium/Baidu Browser/etc., `webkit` for Safari/Epiphany/Falkon/QupZilla/BlackBerry/Midori/etc., and `gecko` for Firefox/GNU IceWeasel/GNU IceCat/Pale Moon/etc.)

I

[2018-05-04 13:53] reinhart1010 commented on #2372
I have at lease compiled some user agents at https://gist.github.com/reinhart1010/c2312a779932ebccf409d8a3a93502b7 , which can be categorized based on just 8 browser engines (including Goanna from Pale Moon). This could help simplify diagnosis.

Next, I think it's also fine to include the full user agent strings in future webcompat reports, so we can find further information, e.g. specific WebKit

[2018-05-04 22:19] miketaylr commented on #2422
I think it would be a good addition. Can't think of any downsides, beyond bugs in implementation.

[2018-05-04 22:29] miketaylr commented on #2414
Whoops, this is fixed now.

[2018-05-04 22:29] #2414 closed

[2018-05-07 16:00] #2421 closed

[2018-05-07 19:41] zoepage commented on #2422
+1 on auto-expand.
Christian had an idea I liked as it solved several problems we had before; adding back the auto-expand but limiting it to a specific height. Would solve issues with scrolling (esp. on mobile), broken layout and others.

Would this work for y'all?

[2018-05-08 09:29] reinhart1010 opened #2440 "Poor webcompat app icon rendering in Firefox Mobile"
![20180508_162705](https://user-images.githubusercontent.com/17312341/39749391-bf8ace96-52dc-11e8-822d-9e636bd004e9.jpg)

[2018-05-08 09:38] reinhart1010 commented on #2440
Reported device: Samsung Galaxy J7 Pro, 1920×1080 px, 411dpi
Android 7.0, Samsung Experience 8.1

[2018-05-08 19:20] magsout opened #2441 "image overflows on small screen"
STR:
1) go to https://webcompat.com/issues/16742
2) reduce the size of the browser screen at 500px
3) images overflow its container

![img_0688](https://user-images.githubusercontent.com/1997108/39778065-9e390d60-5305-11e8-9b63-a9d0e201804e.PNG)

[2018-05-08 20:49] zoepage commented on #2441
r? @Regaddi

[2018-05-08 20:54] Regaddi commented on #2441
I am currently not sure, why we define this
[code]
instead of this
[code]
Needs some analysis and further testing.

[2018-05-08 21:54] zoepage commented on #2441
I am responsible for the code and have actually no idea why we did solve it like this, so feel free to change it @Regaddi :)

[2018-05-08 23:10] karlcow commented on #2441
I might be doing something wrong. The only place it worked for me was
Chrome  mobile (responsive mode).
<img width="1176" alt="capture d ecran 2018-05-09 a 08 08 45" src="https://user-images.githubusercontent.com/505230/39787440-6cd82822-5360-11e8-83b2-0ecc29167a2c.png">
<img width="1305" alt="capture d ecran 2018-05-09 a 08 08 52" src="https://user-images.githubusercontent.com/505230/39787441-6d0

[2018-05-08 23:32] karlcow commented on #2441
(erased a comment which was sent on the wrong issue. )

[2018-05-08 23:54] karlcow opened #2443 "textarea in /issues/new form is visually difficult to use"
This is a followup on #2101
Now that I have been using the new form for the last couple of months I can confirm for the lack of contrasts for the textarea boundaries make it very difficult and straining on the eyes.

It's visually hard to define the boundaries of this textarea. Specifically with long prose.

<img width="471" alt="capture d ecran 2018-05-09 a 08 44 27" src="https://user-images.gith

[2018-05-09 07:13] karlcow commented on #2437
Let's see what does it bring.

https://github.com/ua-parser/uap-python/compare/0.7.2...master

Mostly fixing a test bug and updating to latest versions of python, which is good for us for moving to python 3.6

[code]

Then nosetests

[code]

[2018-05-09 07:46] karlcow opened #2445 "When starting the project in local, logs and debugging mode are not accessible anymore"
Before when we were starting the project locally, the logs were displayed on the terminal,
and we were given a PIN number for debugging live.

This is not happening anymore.

[2018-05-09 07:49] karlcow commented on #1971
Our current UI is
<img width="452" alt="capture d ecran 2018-05-09 a 16 24 46" src="https://user-images.githubusercontent.com/505230/39801256-8b29e708-53a5-11e8-9b89-77c2b6ca7d9d.png">

This is editable by a Human

https://staging.webcompat.com/issues/1499

<img width="486" alt="capture d ecran 2018-05-09 a 16 28 01" src="https://user-images.githubusercontent.com/505230/39801398-faa5aa7c-53a5-11e8

[2018-05-09 07:55] karlcow commented on #1971
Maybe what we can do as a poor man option, but better than nothing.

We currently have two values:
* The actual browser from where the issue is being reported
* The browser name typed by the reporter.

1. If the two are identical, we let the webhooks do its job
2. If they differ, we tag with a browser-fixme label

The information is already there in the bug report in plain-text.
https://staging.we

[2018-05-09 20:00] Regaddi opened #2446 "Grid Layout not correct in Microsoft Edge"
**Browser Version:**
Microsoft Edge 40.15063.0.0
Microsoft EdgeHTML 15.15063

**Main page**
![image](https://user-images.githubusercontent.com/1336590/39836464-bb772c3a-53d3-11e8-9e5b-1bb9d459a99b.png)
![image](https://user-images.githubusercontent.com/1336590/39836631-56d0c600-53d4-11e8-9bc1-52d628097ece.png)

**Contribute**
![image](https://user-images.githubusercontent.com/1336590/39836508-f0e8

[2018-05-09 20:02] Regaddi opened #2447 "Radio with wrong styling (misaligned and not round) in Microsoft Edge"
**Browser Version**
Microsoft Edge 40.15063.0.0
Microsoft EdgeHTML 15.15063

![image](https://user-images.githubusercontent.com/1336590/39836701-8adf8d3c-53d4-11e8-8f5c-6ece03ed4f9a.png)

[2018-05-09 21:14] #2441 closed

[2018-05-10 08:31] karlcow opened #2449 "[meta] Old issues/comments sedimentation"
This issue is a space for discussing a possible evolution of the project for both its resilience and its performance.

@miketaylr shared with me this blog post, discussing the use of a [bot for closing issues automatically after a certain time](https://www.henryzoo.com/blog/2018/05/06/an-issue-with-issues.html) or status. This has interesting potentials in terms of maintenance.

One benefit of usi

[2018-05-10 10:32] karlcow commented on #655
@dmose
About

yes and we are not happy about it as you see in this thread. :)

I guess there's indeed the amount of work that would require, which could be an issue. Maybe we should check/look for a project which went through this type of transition to assess the challenges.

[2018-05-10 10:56] karlcow commented on #655
To read https://rhystyers.com/blog/post/github-apps.html

[2018-05-10 13:13] softvision-sergiulogigan opened #2450 "Triage dashboard displays incorrect information"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 62.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://webcompat.com/dashboard/triage
2. Observe the "Older than 48h" information box.

**Expected Behavior:**
The "Older than 48h" information box displays the same number as the number of cards.

**Actual Behavior:**
The "Older than 48h" inform

[2018-05-10 13:29] magsout commented on #2450
Some Issues are not tagged by the back-end, so theses issues are always hidden

![capture d ecran 2018-05-10 a 15 05 07](https://user-images.githubusercontent.com/1997108/39872031-f73e413e-5466-11e8-9b5f-a7cd3cd8b783.png)

[2018-05-10 15:51] miketaylr commented on #2449
I think once an issue has been closed, we could lock it 1 or 2 weeks later. It would be cool to have a message for locked issues as well, like "this issue is locked, please file a new bug if you're experiencing something similar", etc.

[2018-05-10 16:02] miketaylr commented on #655
I don't think there's any harm in re-opening this, since it's something I would love to fix.

It doesn't look like an impossible amount of work. It looks like it would allow us to kill of @webcompat-bot (sorry, buddy), for anonymous reports, which is nice. I need to investigate if it would still allow us to file issues on behalf of a user, as the user (if they choose the non-anon option).

[2018-05-10 16:03] miketaylr commented on #655
Realistically, we don't have bandwidth to work on this in Q2, but it's possible we could make progress in Q3. Thanks for re-raising @dmose.

[2018-05-10 22:25] #2437 closed

[2018-05-11 12:01] softvision-sergiulogigan opened #2451 "Labels and Milestones can be set from webcompat.com but not from Github"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 62.0a1 (Desktop)
Operating System: Windows 10

**Prerequisites:**
Login on GitHub with an account that has no priviliges set on webcompat.com project.

**Steps to Reproduce:**
1. Go to (for example) https://github.com/webcompat/web-bugs/issues/16846.
2. Observe the Labels and Status sections Gear buttons.
3. Go to (for exampl

[2018-05-14 01:34] karlcow commented on #2451
That's a good news. :)

[2018-05-14 12:41] softvision-sergiulogigan opened #2452 "Labels color scheme is different on webcompat.com than on github"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 62.0a1 (Desktop)
Operating System: Windows 10

**Prerequisites:**
Open 2 Nightly windows.

**Steps to Reproduce:**
1. Go to (for example) https://github.com/webcompat/web-bugs/issues/16883 in one of the windows.
2. Go to (for example) https://webcompat.com/issues/16883 in the other window.
4. Observe the Labels color scheme.

[2018-05-14 12:48] softvision-sergiulogigan opened #2453 "Progressive filtering doesn't work for Labels"
**Environment:**
Browser / Version: Chrome 66 (Desktop), Firefox Nightly 62.0a1 (Desktop)
Operating System: Windows 10

**Prerequisites:**
Login onto webcompat with an account that has labels editing privileges.

**Steps to Reproduce:**
1. Go to (for example) https://webcompat.com/issues/16883.
2. Click on the Category Editor Launcher button.
3. Start typing something (eg. firefox).

**Expected Be

[2018-05-14 13:10] zoepage commented on #2452
This is not a bug, but a feature as we decided to group the labels.

[2018-05-14 16:13] miketaylr commented on #2451
@softvision-sergiulogigan yeah, this is by design. We wanted to create a system where contributors who aren't part of the GitHub org could move things around, or set labels.

If we have evidence of abuse, we can revisit. I think we could do a better job of being transparent about it, there isn't any real way to know who moved things or added/removed labels.

[2018-05-14 16:28] dmose commented on #655
No worries; thanks for the updates!

[2018-05-15 11:40] Regaddi commented on #2422
One thing I stumbled across while implementing the autogrow functionality:
I can easily make the textarea grow, but making it shrink back is a complete new chapter.
I'd like to clarify that we're only talking about the expansion of the textarea, not shrinking it back to fit the content.
Ok? @miketaylr @softvision-sergiulogigan @zoepage @karlcow

[2018-05-15 13:20] karlcow commented on #2422
Confirmed. No need to shrink it.
Though maybe if we use sheep wool 🐑 and a heavy rain 🌧, we might be able to shrink it. Maybe not.

[2018-05-15 17:19] miketaylr commented on #2422
Yep, SGTM.

[2018-05-17 15:02] miketaylr opened #2454 "Create a clone of 100 recent-ish issues in a test repo, to be deployed on staging"
As part of the next iteration of the pre-triage experiment, we'd like to clone the most recent 100 firefox issues (just the initial description, no comments) into a new repo, and deploy it to staging.

Some Participation team contributors will work on these, and we'll evaluate after the fact.

Note: once we begin the experiment, which will run for one week, we shouldn't use staging for testing. (I

[2018-05-17 15:05] miketaylr commented on #2454
We have some existing code that could probably be modified easily, https://github.com/webcompat/issue-importer... but I bet there are other projects out there.

[2018-05-17 15:14] miketaylr commented on #2454
https://github.com/muff1nman/github-issues-import looks nicer.

[2018-05-17 15:16] miketaylr commented on #2454
Created https://github.com/webcompat/pretriage-test-issues.

[2018-05-18 03:10] miketaylr commented on #2454
@softvision-sergiulogigan @softvision-oana-arbuzov I imported 100 recent issues https://github.com/webcompat/pretriage-test-issues/issues (the closed ones that say "test" were me screwing things up 🙈).

When we're ready to start this, please ping me and I can deploy these issues to the staging server.

[2018-05-18 06:07] softvision-sergiulogigan commented on #2454
This looks a-w-e-s-o-m-e!
Thanks Mike for the support!

[2018-05-18 09:45] magsout commented on #2450
Follow Up on discussions with @karlcow on this morning, we thought it was about issues without milestone

[2018-05-18 12:33] mischah opened #2455 "Error setting up this project locally for development"
# Steps to reproduce

I’m on MacOS

[code]

# Reason

<https://api.github.com/repos/milestones> returns:

[code]

# Potential fix

Guess it should be <https://api.github.com/repos/webcompat/webcompat.com/milestones>, right?

[2018-05-18 12:37] mischah commented on #2455
Looking at `config/secrets.py` I guess I’m missing environmental variables?

[2018-05-18 12:46] mischah commented on #2455
I created `data/milestones.json` and entered the content of <https://api.github.com/repos/webcompat/webcompat.com/milestones>.

It doesn’t let me start:

[code]

[2018-05-18 13:07] zoepage commented on #2455
@mischah You always need the OAuth value https://github.com/webcompat/webcompat.com/blob/master/config/secrets.py.example#L72 in the `secrets.py`.

This is how you can create it: https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/

More info can be found in the setup docs here: https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#configur

[2018-05-18 13:08] mischah commented on #2455
Thank you so much.

[2018-05-18 13:39] mischah commented on #2455
## Update

1. I’ve created a [test repo](https://github.com/mischah/test-repo/milestones) with a milestone
2. Added the issue url to `secrets.py`:
[code]
3. Created an access token with each and every permission
4. Added the token to `secrets.py`
[code]

## Result

`data/milestones.json` is filled with the milestone from my test Repo 🎉

**But I can’t start** 😢

[code]

[2018-05-18 14:03] mischah commented on #2455
Finally found the log 😆

It says:

[code]

I have no clue what that means.

Added the issue labels to my test project because of being clueless 😂
<https://github.com/mischah/test-repo/labels>

[2018-05-18 14:33] zoepage commented on #2455
@miketaylr @karlcow

[2018-05-18 15:41] miketaylr commented on #2455
Heya @mischah, thanks for filing a bug! There's a good chance our docs are missing something important here.

My hunch is that you need to mirror the milestones from webcompat/web-bugs: https://github.com/webcompat/web-bugs/milestones

(we should have a bootstrap script that does this junk for you...)

Does it work if you make sure those milestones exist in your test repo?

[2018-05-18 16:28] mischah commented on #2455
Hah, thats it. I read them (from the logs) as issue labels 🙈

Why are you using milestones to categorize your issues?

However, I’m going to create a PR to add the following to the docs:
- Location of the logs
- Needed milestones

[2018-05-18 16:53] miketaylr commented on #2455
Milestones are mutually exclusive, and our bugs can only ever be in a single state: needs triage, diagnosis, outreach, invalid, etc. We use labels for metadata.

(also, the repo only exists for issues, so we avoid any awkward conflict trying to use milestones how they're normally used)

thanks!

[2018-05-18 17:45] mischah commented on #2455
Thanks for the info. Makes sense, but feels weird.

[2018-05-18 18:47] mischah commented on #1352
Hej is it normal, that `npm run lint:js` reports the following in the master branch:

[code]

😳

[2018-05-18 20:32] mischah commented on #1352
Ok, that was a weird and edgy issue 😕

Created #2458 to fix that.

[2018-05-20 21:16] karlcow commented on #2455
@mischah As mike already replied for the why, just an additional comment. Think about the GitHub repo as a backend for https://webcompat.com/ not as the main UI to interact with bugs.

[2018-05-20 21:30] karlcow commented on #2445
To clarify this is a regression. We should have something like more or less:

[code]

Plus the message about initializing milestones.

This above was the result of running `FLASK_DEBUG=1 flask run` instead of `python run.py`.

[2018-05-20 21:34] karlcow commented on #2445
[code]

[code]

[2018-05-21 13:42] softvision-sergiulogigan commented on #2450
Now we have 3 counted, and 5 displayed.

![image](https://user-images.githubusercontent.com/16573771/40310582-ee43e838-5d15-11e8-8e7e-20a3655fb756.png)

[2018-05-21 19:58] mischah opened #2459 "Having a .prettierrc file in user directory causes linting errors when settings vary from default settings"
Without an .prettierrc file in the project prettier uses ~/.prettierrc which will cause thousands of linting errors if one has settings different from the default settings.

![image](https://user-images.githubusercontent.com/441011/40327075-dfff8c24-5d41-11e8-8499-2bf741ec0817.png)

# How to reproduce

Place a `.prettierrc` file with the following content in your user directory `~/`:

[code]

---

[2018-05-21 20:18] mischah commented on #2459
Quoting @miketaylr from #2458:

No we don’t. See: https://github.com/webcompat/webcompat.com/blob/4c8ff9886ff5090739bb0190595e5411b3412daf/.eslintrc.json#L12-L14

[2018-05-21 20:33] mischah commented on #2459
Configuring it via `.eslintrc` doesn’t seem to be a proper fix because you have to set each and every default setting to make it bullet-proof for now.

This config for example:
[code]

will still produce `152` linting errors because of `printWidth: 100` in the .prettierrc in my user directory.

And if prettier exposes new settings in the future things may break for contributors as long as we don’t

[2018-05-21 21:05] mischah opened #2460 "Missing a pull request template"
It could help people to discover and stick to the pull request guidelines.

[2018-05-21 21:47] #2459 closed

[2018-05-21 21:51] #2455 closed

[2018-05-22 00:08] karlcow commented on #2445
ok understood.
The culprit was basically these lines.

https://github.com/webcompat/webcompat.com/blob/42d7d7a2a5315a448ec8fdaebdcc7a23a6ea128c/config/__init__.py#L174-L177

Flask has loggers quite hardcoded and anything simple you do has a tendency to break the rest of logging.

So I remove the logging for now and switched to print statements for milestones.
We will need a way to figure out to ma

[2018-05-22 00:31] karlcow commented on #2460
I didn't know what it was, so I went through the documentation.
Here some documentation for context.

* [Issue and Pull Request templates](https://blog.github.com/2016-02-17-issue-and-pull-request-templates/)
* [Creating a pull request template for your repository](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)
* [Pull request templates](https://help.github

[2018-05-22 16:38] #2460 closed

[2018-05-22 16:44] miketaylr commented on #2445
Thanks for figuring this out @karlcow. There were some changes to how logging works in Flask 1.0, I don't know how or if it is useful in this instance: https://github.com/pallets/flask/pull/2436

[2018-05-22 16:44] #2445 closed

[2018-05-24 02:19] karlcow opened #2463 "Improve logging across the webcompat instance."
Flask 1.0 introduces a better way of handling logging without destroying the world. It now works as it should.

This issue proposes to
1. Upgrade to flask 1.0
2. Reconfigure the logging so we benefit of some features in the code.

[2018-05-24 02:20] karlcow commented on #2463
Spoiler: It is working 😝 I already have a branch where it is working. 🤡

[2018-05-24 03:40] karlcow opened #2464 "Flash message content is getting out of its box on small viewport"
When the message is longer than one line, it is getting out of the flash message box.

![capture d ecran 2018-05-24 a 12 38 04](https://user-images.githubusercontent.com/505230/40463301-83c0517c-5f4f-11e8-9dd1-a65e844f4008.png)

[2018-05-24 04:12] karlcow opened #2465 "Test Flask 1.0 upgrade"
This issue has for purpose to just test if upgrading Flask 1.0 only breaks stuff.
And eventually repairs it.

[2018-05-24 04:15] karlcow commented on #2465
[code]

[2018-05-24 04:15] karlcow commented on #2465
[code]

[2018-05-24 04:23] karlcow opened #2466 "Multiple links are broken. README and contributing DOCs"
@mischah I believe you moved the docs recently in #2192
![capture d ecran 2018-05-24 a 13 20 08](https://user-images.githubusercontent.com/505230/40464311-7f93dd48-5f55-11e8-8f1d-a82db36e8639.png)

Now the Contributing link is a 404.

[2018-05-24 04:27] karlcow commented on #2466
The links in the documentation are also broken.

[2018-05-24 04:46] karlcow commented on #2465
[code]

[2018-05-24 04:49] karlcow commented on #2465
Yet another test. Posting a bug on staging.

[code]

Ouch!

Ah maybe because of #2454
@miketaylr ?

[2018-05-24 06:33] mischah commented on #2466
Oops. Sorry. Going to fix this as soon as I am at my desk.

--

Von unterwegs gesendet.

[2018-05-24 17:57] miketaylr commented on #2465
Nah, I didn't deploy that test stuff to staging yet. We are waiting on participation team to give us go ahead.

[2018-05-25 08:03] #2466 closed

[2018-05-25 08:44] mischah opened #2468 "Improve pull request template"
The issue number in the pull request template isn’t clickable by default when a PR is created.

# Reason

The issue number is wrapped by backticks for formatting reasons:

[code]

See:
https://github.com/webcompat/webcompat.com/blob/master/.github/pull_request_template.md

We should remove the backticks 😊

[2018-05-25 20:07] #2422 closed

[2018-05-30 23:17] digitarald opened #2470 "Add new type of bug for performance issues"
We know performance is an issue for users and might miss important signals right now because we don't offer it as a category.

Strawperson label: "Slow to load or unresponsive"

[2018-05-30 23:38] karlcow commented on #2470
Fixed with
https://github.com/webcompat/web-bugs/labels/type-bad-performance

@digitarald Do you include high cpu? Sometimes some CSS animation, WebGL stuff will rocket the CPU but not necessary slow down immediately the site.

[2018-05-31 02:16] karlcow commented on #1971
I adopted a different strategy. To simplify a bit things.

[2018-05-31 04:58] karlcow opened #2472 "Validation of webcompat rendered HTML"
I was investigating something else and wanted to know if we had issues due to markup.

Steps to reproduce
1. Generate a page
2. View source
3. Copy and paste into the text field of https://html5.validator.nu/

Enjoy!

Example. `/issues/new` route.

<img width="725" alt="capture d ecran 2018-05-31 a 13 58 05" src="https://user-images.githubusercontent.com/505230/40762186-ac4f1b6a-64da-11e8-9133-485

[2018-05-31 05:28] karlcow commented on #2472
Checking if I can fix most of them.

[2018-05-31 05:51] karlcow commented on #2472
/issues/new

<img width="740" alt="capture d ecran 2018-05-31 a 14 51 13" src="https://user-images.githubusercontent.com/505230/40763997-22594946-64e2-11e8-9655-6af1b35021bb.png">

Slightly better.

[2018-05-31 05:57] karlcow commented on #2472
Home page, not there yet.
<img width="839" alt="capture d ecran 2018-05-31 a 14 56 26" src="https://user-images.githubusercontent.com/505230/40764156-dc853208-64e2-11e8-8ab4-137603fcaf41.png">

[2018-05-31 06:06] karlcow commented on #2472
Example: https://github.com/webcompat/webcompat.com/blob/f42c9bcf4a1e54ac85f3ec3e38f215165927733d/webcompat/templates/home-page/how-it-works.html#L20

[2018-05-31 08:37] karlcow opened #2474 "400 on POST on localhost"
@miketaylr
So from the changelog I see that the code has been deployed since April 2018 version 10.0.0
That might be a good thing.

For me currently on localhost.

[code]

So far so good.

1. Open a browser
2. Go to http://localhost:5000/issues/new
3. File a bug report
4. Submit.

[code]

First question… is it only me?

[2018-05-31 09:34] softvision-sergiulogigan commented on #1971
We do this all the time. We always log issues on webcompat.com using the Desktop (Windows 10), even if the issue itself comes from Mobile, MacOS, Linux etc.

I think that the most relevant information is what the user types in the "Is this information correct?" field.

I wonder how much overhead will this create. I'm guessing this will not be an automated process.

[2018-05-31 13:16] digitarald commented on #2470
@karlcow the label surely helps to tag the incoming issues.

My hypothesis is that showing it as an option in the issue filing UI would encourage users to file more perf issues. What are your thoughts there?

[2018-05-31 21:28] karlcow commented on #2470
@digitarald The issue with unresponsive sites is that it is often very hard to reproduce without the specific environment data. Just trying to untangle the cases below to understand the landscape.

1. janky scrolling (slow or stuttering)
2. slow script (usually yellow message at the top. Here there could be an opportunity for recording a perf profile)
3. slow network (we usually close these as non

[2018-05-31 23:17] digitarald commented on #2470
Brainstorming some more …

- Site feels slow (General responsiveness, laggy clicking/hovers/typing/etc) *(as Click/Touch responsiveness)*
- Site over time drags to a halt (usually memory leak)

A site being not usable would be really bad performance, but it usually seems the catchall type.

They should go into bugzilla with a `[qf]` tag for Quantum Flow triage.

[2018-06-01 04:38] karlcow commented on #1699
Thanks @miketaylr

When doing `npm run setup` on a fresh clone  of webcompat.com

[code]

[2018-06-01 05:26] karlcow opened #2475 "Specify the pip version into packages.json (python 2.7)"
When creating a fresh install of webcompat.com after

[code]

the script calls
https://github.com/webcompat/webcompat.com/blob/f42c9bcf4a1e54ac85f3ec3e38f215165927733d/package.json#L61

which in return calls
https://github.com/webcompat/webcompat.com/blob/f42c9bcf4a1e54ac85f3ec3e38f215165927733d/package.json#L79

Depending on the way your local python install is done. It might call… pip for python

[2018-06-01 05:34] karlcow commented on #2474
I can confirm that I have this behavior on a fresh install of the project.
Could someone else test too? @miketaylr

[2018-06-01 10:34] #2464 closed

[2018-06-01 10:37] #2475 closed

[2018-06-01 16:17] #1971 closed

[2018-06-01 18:51] miketaylr commented on #2474
@karlcow I just ran into this trying to deploy the latest v11.0.0 tag, and I wonder if it's related to ua-parser upgrade? Let me bisect using the staging branch, and we'll find out soon enough. Thanks for filing.

[2018-06-01 18:56] miketaylr commented on #2474
(i had been testing some virtualenv deploy stuff, so the site was only broken for about 1 minute, b/c i wanted to be very sure it was working)

[2018-06-01 18:57] miketaylr commented on #2474
[code]

[2018-06-01 19:01] miketaylr commented on #2474
https://github.com/webcompat/webcompat.com/blob/707938a42229cbe6dac1088540834f9ed424864f/webcompat/views.py#L239 suggests that there isn't a `submit-type` on the form object. investigating.

[2018-06-01 19:30] karlcow commented on #2474
ok good! You found what was wrong.

[2018-06-03 02:15] WesleyBranton opened #2478 "Invalid link on Build Tools page"
The link element attached to the "welcome to contribute" wording on the [Build Tools page](https://webcompat.com/contributors/build-tools) links to a contribution page that has been moved. It appears that the change has been made in the master branch of the repo, but has not yet been pushed out to the live site.

[2018-06-03 22:59] karlcow commented on #2478
@WesleyBranton Thanks for spotting this.
Breakage part of #2192
ping @mischah

[2018-06-03 23:22] #2474 closed

[2018-06-03 23:39] karlcow opened #2479 "Improve /issues/new for form testability"
In the light of #2474 issue, improve the form testability through helper functions.
Address some of the comments in #2477

The code to improve and push to helpers functions is
https://github.com/webcompat/webcompat.com/blob/1c4b0da18097d403f5838fd428bf41c35e3cbb95/webcompat/views.py#L189-L239

[2018-06-03 23:42] karlcow opened #2480 "Add unit tests for HTTP POST on test_urls"
Make sure we have tests for HTTP POST on /issues/new with appropriate answers.
https://github.com/webcompat/webcompat.com/blob/master/tests/unit/test_urls.py
See #2474 and #2477 for background

[2018-06-03 23:45] karlcow opened #2481 "Adds logging for failures mode such as HTTP 400."
Following up on the discussion in #2477 related to the issue #2474, we need a proper logging when this type of message happens.

[2018-06-04 05:01] karlcow opened #2482 "some labels are not setable on webcompat.com"
Go to any issues, try for example to set `type-bad-performance`.
This is a regression compared to the previous version of webcompat.com.

[2018-06-04 06:12] softvision-sergiulogigan commented on #2452
Let's close it, then...
Thanks, @zoepage

[2018-06-04 06:12] #2452 closed

[2018-06-04 07:27] karlcow commented on #1875
@miketaylr Does #2476 fix your issue?

[2018-06-04 07:35] karlcow commented on #2047
https://bugzilla.mozilla.org/show_bug.cgi?id=1399985 has been resolved as fixed.
#2042 has been fixed.

@miketaylr what is the next step?

[2018-06-04 07:37] karlcow commented on #2372
I made progress on this. See #1971 (#2471)
I release an intermediary steps. Once it is deployed, I will see how it is working. And then work on the next step. I will clean up also the current labels.

[2018-06-04 07:39] karlcow commented on #1714
Should this be put in backlog mode?

[2018-06-06 09:18] patrickhlauke opened #2483 "Website: redundant alternative text for SVGs, account dropdown incorrect ARIA, unnecessary role="button" on buttons"
(as discussed in person with @miketaylr the other week) the various SVGs used on the site have duplicate/triplicate alternative text. in general:

- if they're purely decorative, don't include any extra `<title>` or any text in the `<use></use>` elements, set `aria-hidden="true"` to be safe
- if they're part of a control (like a button) that already has a name/label (e.g. text content, an existing

[2018-06-06 14:50] miketaylr commented on #2483
Fixed by https://github.com/webcompat/webcompat.com/commit/958bac4e5b8565a769ad5539f10bd1139b8b5467.

❤️

[2018-06-06 14:50] #2483 closed

[2018-06-06 14:52] #2409 closed

[2018-06-06 18:06] miketaylr commented on #1875
Yep!

In a fresh clone, if i run `npm run setup`, then `npm run start` -- everything works as expected. Thanks @karlcow!

[2018-06-06 18:06] #1875 closed

[2018-06-06 18:10] miketaylr commented on #2047
Ah, this is fixed by both bugs you linked. As an example: https://github.com/webcompat/web-bugs/issues/17159. Sorry for not closing earlier.

[2018-06-06 18:10] #2047 closed

[2018-06-06 18:11] miketaylr commented on #2047
(we should consider if it would be useful to have channel / version as a label at a future point, to find all issues reported for the nightly-62 cycle, for example)

[2018-06-06 18:21] miketaylr commented on #1714
I think so. I don't see a lot of immediate value from working on this now.

[2018-06-06 23:15] karlcow commented on #1980
So… this one has been fixed by deploying #2471
@softvision-oana-arbuzov feel free to reopen if you can reproduce your initial bug.

Thanks for reporting.

[2018-06-06 23:15] #1980 closed

[2018-06-07 13:12] patrickhlauke opened #2487 "webcompat site: unnecessarily verbose footer link text in assistive technologies"
Links in the footer feature unnecessarily verbose `aria-label` text. all text links are prefixed with "go to ...", which is unnecessary (as AT users know that a link "goes" somewhere).
The twitter and github links use `aria-label` to convey that they open in a new tab, but follow the "open X in a new tab" wording - would be better to front-load the text to say the target/site name first.

[2018-06-07 13:16] patrickhlauke opened #2488 "webcompat site: search form components receive focus even when not visible"
Currently, even when the user hasn't triggered the "Search" in the top navigation to make the search form visible, the text input and "Clear" control receive focus - so for a sighted keyboard user, tabbing after "My Account" gets their focus on the two invisible form elements before they get to the "Report bug" link.

[2018-06-07 21:29] #2465 closed

[2018-06-07 22:37] #2487 closed

[2018-06-08 08:00] karlcow commented on #2479
Started to make progress on this.

[2018-06-08 11:45] karlcow opened #2490 "Crossed submit_type for submitting bug reports"
@miketaylr I guess it's a mistake in the latest fix you did for submit type.

* Authentified gets ('submit_type', u'github-proxy-report')
* Anonymous gets ('submit_type', u'github-auth-report')

Ooops. Urgent.

[2018-06-08 11:47] karlcow commented on #2490
Probably done by #2477

[2018-06-08 11:49] karlcow commented on #2490
ok that's it…
https://github.com/webcompat/webcompat.com/blob/a8c066a9b44ddf178cd2c2040aeaac10602560be/webcompat/templates/home-page/form.html#L117-L131

[2018-06-08 12:10] karlcow commented on #2479
* [ ] to add tests for #2490

[2018-06-08 14:20] #2490 closed

[2018-06-08 18:10] miketaylr opened #2493 "Fix issues found by npm audit"
We should be careful about this. 💣

[code]

[2018-06-08 18:10] miketaylr commented on #2493
[code]

[2018-06-08 21:03] karlcow commented on #2375
pet theory when looking at the #2492 Pull request.

This error message identical to the one created by travis is simple to generate:

[code]

This happens when I start `node ./tests/functional/_intern.js "--reporters=runner"`
without starting the python server.

## Theory
The python server takes a bit of time to start because of the milestones dance. If the tests are starting before the milestones

[2018-06-09 19:27] zoepage commented on #2375
fixed #2492

[2018-06-09 20:50] karlcow commented on #2375
@zoepage My understanding is that @miketaylr said that it is not fixed yet. See the comment
in https://github.com/webcompat/webcompat.com/pull/2492#issuecomment-395845322

[2018-06-09 21:09] zoepage commented on #2375
Sorry, I've misunderstood the comment! :)

[2018-06-11 19:29] miketaylr commented on #2375
ooooo

[2018-06-12 21:38] karlcow commented on #1822
## Use case

I reported this issue https://webcompat.com/issues/17220
I was on Firefox iOS which usually is not logged on any websites. So I used the anonymous reporting, but I gave in the description my github id to signal that it was me reporting.

But doing that I realized that it answers the question of people freaked out by the permissions requests See #655

Having a box for people to let the

[2018-06-13 21:18] zoepage opened #2494 "update docs to use pip2"
After checking in with @softvision-oana-arbuzov about #2267 one of the issues was that the docs still refer to pip and not pip2 or pip3, but the scripts require pip2/3.

@karlcow am i seeing this right or should this also work with pip?

https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#detailed-setup-all-platforms

[2018-06-13 21:29] karlcow commented on #2494
Yeah. So by default now, most people use python 2.7, because it's what it is installed on their OS.
Webcompat depends on python 2.7 too. As long as one didn't install python3, things just work. What I did in #2267 is to make more explicit the commands for automatic install. We could do it in the docs too.

(at least until we switch to python3)

Right now, python 2.7 will be retired in 1 year and 6

[2018-06-13 21:31] miketaylr commented on #2429
This doesn't seem very important right now, if we have a need to fix things, we can make improvements at the same time.

[2018-06-13 21:31] #2429 closed

[2018-06-13 21:37] miketaylr commented on #2482
@karlcow I was able to set this label, see https://github.com/webcompat/web-bugs/issues/2222#event-1679806809.

But I noticed that filtering doesn't really work... #2453?

[2018-06-13 21:44] miketaylr commented on #2453
I just noticed the following error in the console when testing this, seems like the root cause probably:

[code]

STR:
1. go to https://staging.webcompat.com/issues/222
2.. log in
3. click on the label editor to open it, and type `type` in the filter input thingy

You should only see labels starting with `type-`, but instead I see more than that, and have that error message. So probably an issue w

[2018-06-15 16:51] softvision-sergiulogigan commented on #2341
When you have the time for this, @magsout @karlcow or maybe even @laghee ...

[2018-06-15 16:52] softvision-sergiulogigan commented on #2450
@magsout any updates on this issue? Is it easily fixable?

[2018-06-18 08:17] softvision-oana-arbuzov commented on #2267
After further investigations we found the bellow results that are applicable for Windows:
- "Git" app needs to be installed on Windows (to have GitBash);
- `python v.2.7 and v.3.6` need to be installed in order to have pip1 and pip2;
- virtualenv can be activated with `env/Script/activate` or `.env/Script/activate`;
![image](https://user-images.githubusercontent.com/12184325/41525245-fc0806b4-72e8

[2018-06-18 09:00] softvision-oana-arbuzov opened #2497 "`/` from `webcompat/webcompat-tests/issues` is encoded when trying to run local server on Windows"
**Environment:**
Operating System: Windows 10 Pro

**Steps to Reproduce**
1. Follow the information from [Development Environment setup](https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#installing-virtualenv) guide.
2. Start local server http://localhost:5000/, using or `python run.py`.
3. Observe logs.

**Expected Behavior:**
`/` is not encoded in `webcompat/webcompat-

[2018-06-18 09:08] softvision-oana-arbuzov opened #2498 "Update "Development Environment setup" guide for Windows users"
**Environment:**
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Follow [Development Environment setup](https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#installing-virtualenv) guide for Windows.

**Expected Behavior:**
All programs needed to be installed are available and the commands are applicable for each of the platforms accordingly.

**Actual Behavior:

[2018-06-18 09:31] softvision-oana-arbuzov commented on #2267
Logged issues on:

[2018-06-18 15:18] #2493 closed

[2018-06-18 15:19] softvision-oana-arbuzov opened #2501 "Update files to point out to "temp" folder for Windows users"
**Environment:**
Operating System: Windows 10 Pro

**Steps to Reproduce:**
1. Follow [Development Environment setup](https://github.com/webcompat/webcompat.com/blob/master/docs/dev-env-setup.md#installing-virtualenv) guide for Windows.
2. Check logs.

**Expected Behavior:**
Logs point out to "temp" folder for Windows and "tmp" for Linux/Mac.

**Actual Behavior:**
Logs point out to "tmp" folder.

*

[2018-06-18 18:11] #2498 closed

[2018-06-18 18:15] miketaylr commented on #2501
Thanks for filing @softvision-oana-arbuzov!

I'll take a stab at this.

[2018-06-18 19:06] miketaylr commented on #2501
Changing the title a bit...

[2018-06-18 19:16] miketaylr commented on #2497
Thanks @softvision-oana-arbuzov!

[2018-06-18 19:56] miketaylr commented on #2267
I think we should just support and document running the app on Windows 10+ using Ubuntu. It should be possible to get it going via other distros or GitBash, but let's just pick Ubuntu:

https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2018-06-18 19:58] miketaylr commented on #2494
I'll fix this in #2267.

[2018-06-18 19:58] #2494 closed

[2018-06-18 20:47] miketaylr commented on #2267
We also don't want to recommend installing multiple pythons -- it should be possible to get it running with only python27. (We'll recommend python3 when we port everything over).

[2018-06-18 20:49] miketaylr commented on #2375
Got one: https://github.com/webcompat/webcompat.com/pull/2502#issuecomment-398188628

`something bad happened inside intern.run()`

[2018-06-18 20:50] karlcow commented on #2267
just for the sake of clarity. python2.7 is the only one necessary and install pip (or pip2) depending on your install. The issue was for people who had already a python3 install with pip as an alias of pip3.

[2018-06-18 21:30] miketaylr commented on #2497
Note: after getting the server running following the directions from https://github.com/webcompat/webcompat.com/pull/2503, I can't reproduce this.

@softvision-oana-arbuzov, will you test once you get the Ubuntu terminal running on your windows 10 machine?

[2018-06-18 23:19] karlcow commented on #2341
I will check later this week. :)

[2018-06-19 00:05] karlcow opened #2505 "Put checked labels at the start of the label editor"
When a bug has labels, for example:

<img width="321" alt="capture d ecran 2018-06-19 a 09 03 10" src="https://user-images.githubusercontent.com/505230/41568271-b508f3ba-739f-11e8-9a04-f5b606f11339.png">

And we choose to modify a label, the checked labels are not at the start of the list

<img width="337" alt="capture d ecran 2018-06-19 a 09 03 02" src="https://user-images.githubusercontent.com/5

[2018-06-19 00:07] karlcow opened #2506 "auto-expand feature should be working on comments"
When adding text to a comment the auto-expand doesn't work.

@Regaddi Do you want to work on this?

[2018-06-19 01:04] karlcow opened #2507 "Surface the nicknamed needinfo into the /activity/me page"
status-needinfo-nickname exists. We can surface this information into the activity/me page

[2018-06-19 01:07] karlcow opened #2508 "Surface the nicknamed needinfo into the comment area"
If a specific issue is waiting for the comment of someone, because of the nicknamed needinfo else we could surface this information above the comment box.

[2018-06-19 01:18] karlcow commented on #2508
NOT a proposed design, just the illustration of the idea.

<img width="791" alt="capture d ecran 2018-06-19 a 10 17 25" src="https://user-images.githubusercontent.com/505230/41570483-07fc2114-73aa-11e8-99f5-b4b3d2a0d958.png">

[2018-06-19 07:02] magsout commented on #2450
@softvision-sergiulogigan I tried to figure out why issues does'nt appears.

I don't get it why yet ;p

But it seems nothing to do with label or milestone.. I have some work on the metrics dashboard, but I wiil try to spend some time on it

[2018-06-19 10:47] softvision-oana-arbuzov opened #2509 "Screenshot is not automatically added when using "Report site issue""
URL: http://www.google.com/ redirecting to www.webcompat.com
Browser / Version: Firefox Nightly 62.0a1 (2018-06-17)
Operating System: Samsung Galaxy S6 (Android 7.0) - Resolution 1440 x 2560 pixels (~577 ppi pixel density), Google Pixel (Android 8.1.0) - 1080 x 1920 pixels (~441 ppi pixel density)

**Prerequisites:**
    1. “webcompat.com reporter” add-on installed on Firefox.

**Steps to Reproduc

[2018-06-19 13:32] softvision-oana-arbuzov commented on #2375
We did reproduce the issue for PRs #2500 and #2499.

[2018-06-19 14:59] softvision-oana-arbuzov commented on #2497
@miketaylr , after installing Ubuntu terminal on Windows and making all the server configurations, I did not receive the error related to the `webcompat/webcompat-tests/issues` link and milestones were fetched.

[2018-06-19 17:28] miketaylr commented on #2024
This blocks https://bugzilla.mozilla.org/show_bug.cgi?id=1453493.

[2018-06-19 17:55] miketaylr commented on #2497
OK! Thanks! Let's close this then (aka, sweep it under the rug).

[2018-06-19 18:28] ioana-chiorean opened #2510 "Android Beta P is not recognized"
Submitting bugs from Android Beta P will result in dsiplaying by default Android  6.0.99

![screenshot_20180619-212304](https://user-images.githubusercontent.com/1391451/41616806-9b88fea4-7407-11e8-8a08-02772a54bf14.png)

[2018-06-19 19:32] miketaylr commented on #2509
@softvision-oana-arbuzov just to verify -- this is with the addon from AMO installed? And not the built-in menu item?

[2018-06-19 19:49] karlcow commented on #2510
@ioana-chiorean Could you share what is the user-agent string of your mobile device?

For example, by going to http://echo.opera.com/

[2018-06-19 20:13] karlcow commented on #2509
@miketaylr I just tried to reproduce and indeed this is happening.

1. I used the built-in menu item.
2. I do NOT have installed the addon.
3. Version 62.0a1 / 2018-06-18

[2018-06-19 20:14] miketaylr commented on #2509
Thanks @karlcow. Sounds like a regression.

[2018-06-20 06:40] Regaddi commented on #2506
Sure!

[2018-06-20 06:47] karlcow commented on #2506
Thanks!

[2018-06-20 07:37] softvision-oana-arbuzov commented on #2509
Note:
- on Firefox Nightly I did not have the add-on installed, I only had the build-in menu item;
- on Firefox Release I've installed the add-on.

[2018-06-20 09:20] zoepage commented on #1274
i'll close this issue. we can re-open, if it pops up again.

[2018-06-20 09:20] #1274 closed

[2018-06-20 12:13] softvision-sergiulogigan opened #2511 "Triage Dashboard Needsinfo card doesn't take into account Needsinfo-xxx labels"
**Environment:**
Browser / Version: Chrome 67 (Desktop), Firefox Nightly 62.0a1 (Desktop)
Operating System: Windows 10

**Steps to Reproduce:**
1. Go to https://github.com/webcompat/web-bugs/milestone/2
2. Ctrl+F (or Command+F) needsinfo. Observe the total number of labels that contain this string.
3. Go to https://webcompat.com/dashboard/triage
4. Observe the information displayed in the Needsinf